resource "google_netapp_kmsconfig" "{{$.PrimaryResourceId}}" {
  name = "{{index $.PrefixedVars "kms_name"}}"
  description="this is a test description"
  crypto_key_name="{{index $.PrefixedVars "kms_key_name"}}"
  location="us-central1"
}
