---

**Step 2: Recording Mode**

| Recording Mode | Replaying Rerun | Test Name |
| :--- | :--- | :--- |
{{range .TestRows -}}
| {{symbol .RecordingStatus}}{{if .RecordingErrorUrl}}&nbsp;[Error]({{.RecordingErrorUrl}}){{end}}{{if .RecordingLogUrl}}{{if .RecordingErrorUrl}}&nbsp;·&nbsp;{{else}}&nbsp;{{end}}[Log]({{.RecordingLogUrl}}){{end}} | {{symbol .ReplayingAfterRecordingStatus}}{{if .ReplayingAfterRecordingErrorUrl}}&nbsp;[Error]({{.ReplayingAfterRecordingErrorUrl}}){{end}}{{if .ReplayingAfterRecordingLogUrl}}{{if .ReplayingAfterRecordingErrorUrl}}&nbsp;·&nbsp;{{else}}&nbsp;{{end}}[Log]({{.ReplayingAfterRecordingLogUrl}}){{end}} | {{.DisplayName}} |
{{end}}

{{ if or (gt (len .ReplayingAfterRecordingResult.FailedTests) 0) (gt (len .RecordingResult.FailedTests) 0) .HasTerminatedTests .RecordingErr (gt (len .NotRunBetaTests) 0) (gt (len .NotRunGATests) 0) }}
> [!CAUTION]
> **Issues requiring attention before PR completion**
>
{{ if or (gt (len .NotRunBetaTests) 0) (gt (len .NotRunGATests) 0) }}> {{color "red" "**Manual Verification Required**: New tests were added that are skipped in presubmit tests. See the \"Manual Verification Required\" section at the top for details."}}
>
{{ end -}}
{{ if gt (len .RecordingResult.FailedTests) 0 }}> {{color "red" "**Initial Recording Failed**: Some tests failed during the recording step. See the table above for details."}}
>
{{ end -}}
{{ if gt (len .ReplayingAfterRecordingResult.FailedTests) 0 }}> {{color "red" "**Replaying Rerun Failed**: Some tests failed due to non-determinism when VCR replayed the response. See the table above for details."}}
>
{{ end -}}
{{ if .HasTerminatedTests }}> {{color "red" "**Terminated Tests**: Several tests terminated during RECORDING mode."}}
>
{{ end -}}
{{ if and .RecordingErr (eq (len .RecordingResult.FailedTests) 0) (eq (len .ReplayingAfterRecordingResult.FailedTests) 0) (not .HasTerminatedTests) }}> {{color "red" "**Recording Errors**: An unexpected error occurred during RECORDING mode. Please check the build log for details."}}
>
{{ end -}}
> Please address these issues to complete your PR. If you believe these detections are incorrect or unrelated to your change, please raise the concern with your reviewer.
{{ else }}
{{ color "green" "**All tests passed!**" }}
{{ end }}

View the [build log]({{.LogBaseUrl}}/build-log/recording_test.log) or the [debug logs folder]({{.BrowseLogBaseUrl}}/recording) for detailed results.
