{{- if .ReplayingErr -}}
{{color "red" "Errors occurred during REPLAYING mode. Please fix them to complete your PR."}}
{{- else -}}
{{color "green" "All tests passed!"}}
{{- end}}

View the [build log](https://storage.cloud.google.com/{{.LogBucket}}/{{.Version}}/refs/heads/{{.Head}}/artifacts/{{.BuildID}}/build-log/replaying_test.log)
