resource "google_gke_backup_restore_channel" "basic" {
  name = "{{index $.ResourceIdVars "name"}}"
  location = "us-central1"
  description = "Description"
  destination_project = "{{index $.ResourceIdVars "destination_project"}}"
  labels = { "key": "some-value" }
}
