resource "google_container_cluster" "primary" {
  name               = "{{index $.ResourceIdVars "cluster_name"}}"
  location           = "us-central1"
  enable_autopilot = true
  ip_allocation_policy {   
  }
  release_channel {
    channel = "RAPID"
  }
  addons_config {
    gke_backup_agent_config {
      enabled = true
    }
  }
  deletion_protection  = {{index $.ResourceIdVars "deletion_protection"}}
  network       = "{{index $.ResourceIdVars "network_name"}}"
  subnetwork    = "{{index $.ResourceIdVars "subnetwork_name"}}"
}

resource "google_gke_backup_backup_plan" "autopilot" {
  name = "{{index $.ResourceIdVars "name"}}"
  cluster = google_container_cluster.primary.id
  location = "us-central1"
  backup_config {
    include_volume_data = true
    include_secrets = true
    all_namespaces = true
  }
}
