if d.Get("delete_swg_autogen_router_on_destroy").(bool) {
	log.Print("[DEBUG] The field delete_swg_autogen_router_on_destroy is true. Deleting swg_autogen_router.")
	gateways, err := gatewaysSameLocation(d, config, billingProject, userAgent)
	if err != nil {
		return err
	}

	network := d.Get("network").(string)
	if isLastSWGGateway(gateways, network) {
		err := deleteSWGAutoGenRouter(d, config, billingProject, userAgent)
		if err != nil {
			return err
		}
	}
}