resource "google_artifact_registry_repository" "{{$.PrimaryResourceId}}" {
  location      = "us-central1"
  repository_id = "{{index $.PrefixedVars "repository_id"}}"
  description   = "{{index $.PrefixedVars "desc"}}"
  format        = "DOCKER"

  docker_config {
    immutable_tags = true
  }
}
