resource "google_artifact_registry_repository" "{{$.PrimaryResourceId}}" {
  location      = "us-central1"
  repository_id = "{{index $.PrefixedVars "repository_id"}}"
  description   = "example docker repository with cmek"
  format        = "DOCKER"
  kms_key_name  = "{{index $.PrefixedVars "kms_key_name"}}"
  depends_on = [
    google_kms_crypto_key_iam_member.crypto_key
  ]
}

resource "google_kms_crypto_key_iam_member" "crypto_key" {
  crypto_key_id = "{{index $.PrefixedVars "kms_key_name"}}"
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"
  member        = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-artifactregistry.iam.gserviceaccount.com"
}

data "google_project" "project" {}
