  project = google_discovery_engine_search_engine.basic.project
  location = google_discovery_engine_search_engine.basic.location
  collection_id = google_discovery_engine_search_engine.basic.collection_id
  engine_id = google_discovery_engine_search_engine.basic.engine_id
