  project = google_gemini_data_analytics_data_agent.example.project
  location = google_gemini_data_analytics_data_agent.example.location
  data_agent_id = google_gemini_data_analytics_data_agent.example.data_agent_id
