
  project = google_secret_manager_regional_secret.regional-secret-basic.project
  location = google_secret_manager_regional_secret.regional-secret-basic.location
  secret_id = google_secret_manager_regional_secret.regional-secret-basic.secret_id
