  region = google_vertex_ai_feature_online_store_featureview.featureview.region
  feature_online_store = google_vertex_ai_feature_online_store_featureview.featureview.feature_online_store
  feature_view = google_vertex_ai_feature_online_store_featureview.featureview.name
