idParts := strings.Split(d.Id(), "/")
if len(idParts) != 6 {
  return nil, fmt.Errorf("unexpected format of ID (%q), expected folders/{{"{{"}}folder{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/notificationConfigs/{{"{{"}}config_id{{"}}"}}", d.Id())
}

if err := d.Set("folder", idParts[1]); err != nil {
  return nil, fmt.Errorf("error setting folder: %s", err)
}

if err := d.Set("config_id", idParts[5]); err != nil {
  return nil, fmt.Errorf("error setting config_id: %s", err)
}
