idParts := strings.Split(d.Id(), "/")
if len(idParts) != 6 {
  return nil, fmt.Errorf("unexpected format of ID (%q), expected organizations/{{"{{"}}organization{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/bigQueryExports/{{"{{"}}big_query_export_id{{"}}"}}", d.Id())
}

if err := d.Set("organization", idParts[1]); err != nil {
  return nil, fmt.Errorf("error setting organization: %s", err)
}

if err := d.Set("big_query_export_id", idParts[5]); err != nil {
  return nil, fmt.Errorf("error setting big_query_export_id: %s", err)
}
