resource "google_project" "project" {
    name       = "your-project-name"
    project_id = "your-project-id"
    org_id     = "1234567"
}

resource "google_privileged_access_manager_settings" "{{$.PrimaryResourceId}}" {
    provider = google-beta
    location = "global"
    parent   = "projects/${google_project.project.project_id}"
    service_account_approver_settings {
        enabled = false
    }
    email_notification_settings {
        custom_notification_behavior {
            requester_notifications {
                entitlement_assigned = "DISABLED"
                grant_activated = "DISABLED"
                grant_denied = "ENABLED"
                grant_expired = "DISABLED"
                grant_ended = "DISABLED"
                grant_revoked = "DISABLED"
                grant_externally_modified = "DISABLED"
                grant_activation_failed = "DISABLED"
            }
        }
    }

    depends_on = [time_sleep.wait_90s]
}
