# Copyright 2023 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

--- !ruby/object:Api::Resource
name: UptimeCheckConfig
update_verb: :PATCH
update_mask: true
references: !ruby/object:Api::Resource::ReferenceLinks
  guides:
    'Official Documentation': 'https://cloud.google.com/monitoring/uptime-checks/'
  api: 'https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.uptimeCheckConfigs'
base_url: v3/projects/{{project}}/uptimeCheckConfigs
self_link: 'v3/{{name}}'
description:
  This message configures which resources and services to monitor for
  availability.
id_format: '{{name}}'
import_format: ['{{name}}']
error_retry_predicates: ['transport_tpg.IsMonitoringConcurrentEditError']
mutex: stackdriver/groups/{{project}}
examples:
  - !ruby/object:Provider::Terraform::Examples
    name: 'uptime_check_config_http'
    primary_resource_id: 'http'
    vars:
      display_name: 'http-uptime-check'
    test_env_vars:
      project_id: :PROJECT_NAME
  - !ruby/object:Provider::Terraform::Examples
    name: 'uptime_check_config_status_code'
    primary_resource_id: 'status_code'
    vars:
      display_name: 'http-uptime-check'
    test_env_vars:
      project_id: :PROJECT_NAME
  - !ruby/object:Provider::Terraform::Examples
    name: 'uptime_check_config_https'
    primary_resource_id: 'https'
    vars:
      display_name: 'https-uptime-check'
    test_env_vars:
      project_id: :PROJECT_NAME
  - !ruby/object:Provider::Terraform::Examples
    name: 'uptime_check_tcp'
    primary_resource_id: 'tcp_group'
    vars:
      display_name: 'tcp-uptime-check'
      group_display_name: 'uptime-check-group'
custom_code: !ruby/object:Provider::Terraform::CustomCode
  resource_definition: 'templates/terraform/resource_definition/default_provider_values.erb'
  constants: templates/terraform/constants/monitoring_uptime_check_config.go.erb
  custom_import: templates/terraform/custom_import/self_link_as_name.erb
  post_create: templates/terraform/post_create/set_computed_name.erb
properties:
  - !ruby/object:Api::Type::String
    name: name
    output: true
    description:
      A unique resource name for this UptimeCheckConfig. The format is
      projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].
  - !ruby/object:Api::Type::String
    name: uptimeCheckId
    api_name: id
    description: The id of the uptime check
    output: true
    custom_flatten: 'templates/terraform/custom_flatten/id_from_name.erb'
  - !ruby/object:Api::Type::String
    name: displayName
    required: true
    description:
      A human-friendly name for the uptime check configuration. The display name
      should be unique within a Stackdriver Workspace in order to make it easier
      to identify; however, uniqueness is not enforced.
  - !ruby/object:Api::Type::String
    name: period
    default_value: '300s'
    immutable: true
    description:
      How often, in seconds, the uptime check is performed. Currently, the only
      supported values are 60s (1 minute), 300s (5 minutes), 600s (10 minutes),
      and 900s (15 minutes). Optional, defaults to 300s.
  - !ruby/object:Api::Type::String
    name: timeout
    required: true
    description:
      The maximum amount of time to wait for the request to complete (must be
      between 1 and 60 seconds). Accepted formats
      https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Duration
  - !ruby/object:Api::Type::Array
    name: contentMatchers
    description:
      The expected content on the page the check is run against. Currently, only
      the first entry in the list is supported, and other entries will be
      ignored. The server will look for an exact match of the string in the page
      response's content. This field is optional and should only be specified if
      a content match is required.
    item_type: !ruby/object:Api::Type::NestedObject
      properties:
        - !ruby/object:Api::Type::String
          name: content
          description: String or regex content to match (max 1024 bytes)
          required: true
        - !ruby/object:Api::Type::Enum
          name: matcher
          description:
            The type of content matcher that will be applied to the server
            output, compared to the content string when the check is run.
          default_value: :CONTAINS_STRING
          values:
            - :CONTAINS_STRING
            - :NOT_CONTAINS_STRING
            - :MATCHES_REGEX
            - :NOT_MATCHES_REGEX
            - :MATCHES_JSON_PATH
            - :NOT_MATCHES_JSON_PATH
        - !ruby/object:Api::Type::NestedObject
          name: jsonPathMatcher
          description:
            Information needed to perform a JSONPath content match. Used for
            `ContentMatcherOption::MATCHES_JSON_PATH` and
            `ContentMatcherOption::NOT_MATCHES_JSON_PATH`.
          properties:
            - !ruby/object:Api::Type::String
              name: jsonPath
              description:
                JSONPath within the response output pointing to the expected
                `ContentMatcher::content` to match against.
              required: true
            - !ruby/object:Api::Type::Enum
              name: jsonMatcher
              description: Options to perform JSONPath content matching.
              default_value: :EXACT_MATCH
              values:
                - :EXACT_MATCH
                - :REGEX_MATCH
  - !ruby/object:Api::Type::Array
    name: selectedRegions
    description:
      The list of regions from which the check will be run. Some regions contain
      one location, and others contain more than one. If this field is
      specified, enough regions to include a minimum of 3 locations must be
      provided, or an error message is returned. Not specifying this field will
      result in uptime checks running from all regions.
    item_type: Api::Type::String
  - !ruby/object:Api::Type::Enum
    name: checkerType
    immutable: true
    description:
      The checker type to use for the check. If the monitored resource type is
      servicedirectory_service, checkerType must be set to VPC_CHECKERS.
    values:
      - :STATIC_IP_CHECKERS
      - :VPC_CHECKERS
    default_from_api: true
  - !ruby/object:Api::Type::NestedObject
    name: httpCheck
    description: Contains information needed to make an HTTP or HTTPS check.
    exactly_one_of:
      - http_check
      - tcp_check
    properties:
      - !ruby/object:Api::Type::Enum
        name: requestMethod
        immutable: true
        description:
          The HTTP request method to use for the check. If set to
          METHOD_UNSPECIFIED then requestMethod defaults to GET.
        default_value: :GET
        values:
          - :METHOD_UNSPECIFIED
          - :GET
          - :POST
      - !ruby/object:Api::Type::Enum
        name: contentType
        description: The content type to use for the check.
        values:
          - :TYPE_UNSPECIFIED
          - :URL_ENCODED
      - !ruby/object:Api::Type::NestedObject
        name: authInfo
        at_least_one_of:
          - http_check.0.auth_info
          - http_check.0.port
          - http_check.0.headers
          - http_check.0.path
          - http_check.0.use_ssl
          - http_check.0.mask_headers
        description:
          The authentication information. Optional when creating an HTTP check;
          defaults to empty.
        properties:
          - !ruby/object:Api::Type::String
            name: password
            required: true
            description: The password to authenticate.
            sensitive: true
            custom_flatten: 'templates/terraform/custom_flatten/uptime_check_http_password.erb'
          - !ruby/object:Api::Type::String
            name: username
            required: true
            description: The username to authenticate.
      - !ruby/object:Api::Type::Integer
        name: port
        at_least_one_of:
          - http_check.0.auth_info
          - http_check.0.port
          - http_check.0.headers
          - http_check.0.path
          - http_check.0.use_ssl
          - http_check.0.mask_headers
        description:
          The port to the page to run the check against. Will be combined with
          host (specified within the MonitoredResource) and path to construct
          the full URL. Optional (defaults to 80 without SSL, or 443 with SSL).
        default_from_api: true
      - !ruby/object:Api::Type::KeyValuePairs
        name: headers
        at_least_one_of:
          - http_check.0.auth_info
          - http_check.0.port
          - http_check.0.headers
          - http_check.0.path
          - http_check.0.use_ssl
          - http_check.0.mask_headers
        description:
          The list of headers to send as part of the uptime check request. If
          two headers have the same key and different values, they should be
          entered as a single header, with the value being a comma-separated
          list of all the desired values as described at
          https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering
          two separate headers with the same key in a Create call will cause the
          first to be overwritten by the second. The maximum number of headers
          allowed is 100.
        default_from_api: true
      - !ruby/object:Api::Type::String
        name: path
        at_least_one_of:
          - http_check.0.auth_info
          - http_check.0.port
          - http_check.0.headers
          - http_check.0.path
          - http_check.0.use_ssl
          - http_check.0.mask_headers
        default_value: '/'
        description:
          The path to the page to run the check against. Will be combined with
          the host (specified within the MonitoredResource) and port to
          construct the full URL. If the provided path does not begin with "/",
          a "/" will be prepended automatically. Optional (defaults to "/").
        diff_suppress_func: resourceMonitoringUptimeCheckConfigHttpCheckPathDiffSuppress
      - !ruby/object:Api::Type::Boolean
        name: useSsl
        at_least_one_of:
          - http_check.0.auth_info
          - http_check.0.port
          - http_check.0.headers
          - http_check.0.path
          - http_check.0.use_ssl
          - http_check.0.mask_headers
        description: If true, use HTTPS instead of HTTP to run the check.
      - !ruby/object:Api::Type::Boolean
        name: validateSsl
        description:
          Boolean specifying whether to include SSL certificate validation as a
          part of the Uptime check. Only applies to checks where
          monitoredResource is set to uptime_url. If useSsl is false, setting
          validateSsl to true has no effect.
      - !ruby/object:Api::Type::Boolean
        name: maskHeaders
        at_least_one_of:
          - http_check.0.auth_info
          - http_check.0.port
          - http_check.0.headers
          - http_check.0.path
          - http_check.0.use_ssl
          - http_check.0.mask_headers
        description:
          Boolean specifying whether to encrypt the header information.
          Encryption should be specified for any headers related to
          authentication that you do not wish to be seen when retrieving the
          configuration. The server will be responsible for encrypting the
          headers. On Get/List calls, if mask_headers is set to True then the
          headers will be obscured with ******.
      - !ruby/object:Api::Type::String
        name: body
        description:
          The request body associated with the HTTP POST request. If contentType
          is URL_ENCODED, the body passed in must be URL-encoded. Users can
          provide a Content-Length header via the headers field or the API will
          do so. If the requestMethod is GET and body is not empty, the API will
          return an error. The maximum byte size is 1 megabyte. Note - As with
          all bytes fields JSON representations are base64 encoded. e.g.
          "foo=bar" in URL-encoded form is "foo%3Dbar" and in base64 encoding is
          "Zm9vJTI1M0RiYXI=".
      - !ruby/object:Api::Type::Array
        name: acceptedResponseStatusCodes
        description:
          If present, the check will only pass if the HTTP response status code
          is in this set of status codes. If empty, the HTTP status code will
          only pass if the HTTP status code is 200-299.
        item_type: !ruby/object:Api::Type::NestedObject
          properties:
            - !ruby/object:Api::Type::Integer
              name: statusValue
              description: A status code to accept.
            - !ruby/object:Api::Type::Enum
              name: statusClass
              description: A class of status codes to accept.
              values:
                - :STATUS_CLASS_1XX
                - :STATUS_CLASS_2XX
                - :STATUS_CLASS_3XX
                - :STATUS_CLASS_4XX
                - :STATUS_CLASS_5XX
                - :STATUS_CLASS_ANY
  - !ruby/object:Api::Type::NestedObject
    name: tcpCheck
    description: Contains information needed to make a TCP check.
    exactly_one_of:
      - http_check
      - tcp_check
    properties:
      - !ruby/object:Api::Type::Integer
        name: port
        required: true
        description:
          The port to the page to run the check against. Will be combined with
          host (specified within the MonitoredResource) to construct the full
          URL.
  - !ruby/object:Api::Type::NestedObject
    name: resourceGroup
    immutable: true
    description: The group resource associated with the configuration.
    exactly_one_of:
      - monitored_resource
      - resource_group
    properties:
      - !ruby/object:Api::Type::Enum
        name: resourceType
        immutable: true
        at_least_one_of:
          - resource_group.0.resource_type
          - resource_group.0.group_id
        description: The resource type of the group members.
        values:
          - :RESOURCE_TYPE_UNSPECIFIED
          - :INSTANCE
          - :AWS_ELB_LOAD_BALANCER
      - !ruby/object:Api::Type::ResourceRef
        name: groupId
        immutable: true
        at_least_one_of:
          - resource_group.0.resource_type
          - resource_group.0.group_id
        resource: Group
        imports: name
        description:
          The group of resources being monitored. Should be the `name` of a
          group
        custom_expand: 'templates/terraform/custom_expand/resource_from_self_link.go.erb'
        custom_flatten: 'templates/terraform/custom_flatten/group_id_to_name.erb'
  - !ruby/object:Api::Type::NestedObject
    name: monitoredResource
    immutable: true
    description:
      'The monitored resource
      (https://cloud.google.com/monitoring/api/resources) associated with the
      configuration. The following monitored resource types are supported for
      uptime checks:  uptime_url  gce_instance  gae_app  aws_ec2_instance
      aws_elb_load_balancer  k8s_service  servicedirectory_service'
    exactly_one_of:
      - monitored_resource
      - resource_group
    properties:
      - !ruby/object:Api::Type::String
        name: type
        immutable: true
        required: true
        description:
          The monitored resource type. This field must match the type field of a
          MonitoredResourceDescriptor
          (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.monitoredResourceDescriptors#MonitoredResourceDescriptor)
          object. For example, the type of a Compute Engine VM instance is
          gce_instance. For a list of types, see Monitoring resource types
          (https://cloud.google.com/monitoring/api/resources) and Logging
          resource types
          (https://cloud.google.com/logging/docs/api/v2/resource-list).
      - !ruby/object:Api::Type::KeyValuePairs
        name: labels
        immutable: true
        required: true
        description:
          Values for all of the labels listed in the associated monitored
          resource descriptor. For example, Compute Engine VM instances use the
          labels "project_id", "instance_id", and "zone".
