// The generated code does not support conditional update masks.
newUpdateMask := []string{}
if d.HasChange("state") {
	newUpdateMask = append(newUpdateMask, "state")
}

// Validate updated fields based on protection level (EXTERNAL vs EXTERNAL_VPC)
if d.HasChange("external_protection_level_options") {
	if d.Get("protection_level") == "EXTERNAL" {
		newUpdateMask = append(newUpdateMask, "externalProtectionLevelOptions.externalKeyUri")
	} else if d.Get("protection_level") == "EXTERNAL_VPC" {
		newUpdateMask = append(newUpdateMask, "externalProtectionLevelOptions.ekmConnectionKeyPath")
	}
}
// updateMask is a URL parameter but not present in the schema, so ReplaceVars
// won't set it
url, err = transport_tpg.AddQueryParams(url, map[string]string{"updateMask": strings.Join(newUpdateMask, ",")})
if err != nil {
	return err
}
