# Copyright 2023 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

--- !ruby/object:Api::Resource
name: 'WorkstationConfig'
self_link: 'projects/{{project}}/locations/{{location}}/workstationClusters/{{workstation_cluster_id}}/workstationConfigs/{{workstation_config_id}}'
base_url: 'projects/{{project}}/locations/{{location}}/workstationClusters/{{workstation_cluster_id}}/workstationConfigs'
create_url: 'projects/{{project}}/locations/{{location}}/workstationClusters/{{workstation_cluster_id}}/workstationConfigs?workstationConfigId={{workstation_config_id}}'
update_verb: :PATCH
update_mask: true
min_version: beta
description:
  'A set of configuration options describing how a workstation will be run.
  Workstation configurations are intended to be shared across multiple
  workstations.'
references: !ruby/object:Api::Resource::ReferenceLinks
  guides:
    'Workstations': 'https://cloud.google.com/workstations/docs/'
  api: 'https://cloud.google.com/workstations/docs/reference/rest/v1beta/projects.locations.workstationClusters.workstationConfigs/create'
iam_policy: !ruby/object:Api::Resource::IamPolicy
  method_name_separator: ':'
  fetch_iam_policy_verb: :GET
  parent_resource_attribute: workstation_config_id
  import_format:
    [
      'projects/{{project}}/locations/{{location}}/workstationClusters/{{workstation_cluster_id}}/workstationConfigs/{{workstation_config_id}}',
      '{{workstation_config_id}}',
    ]
  min_version: beta
async: !ruby/object:Api::OpAsync
  operation: !ruby/object:Api::OpAsync::Operation
    path: 'name'
    base_url: '{{op_id}}'
    wait_ms: 1000
    timeouts: !ruby/object:Api::Timeouts
      insert_minutes: 30
      update_minutes: 30
      delete_minutes: 30
  result: !ruby/object:Api::OpAsync::Result
    path: 'response'
  status: !ruby/object:Api::OpAsync::Status
    path: 'done'
    complete: true
    allowed:
      - true
      - false
  error: !ruby/object:Api::OpAsync::Error
    path: 'error'
    message: 'message'
import_format:
  [
    'projects/{{project}}/locations/{{location}}/workstationClusters/{{workstation_cluster_id}}/workstationConfigs/{{workstation_config_id}}',
  ]
autogen_async: true
examples:
  - !ruby/object:Provider::Terraform::Examples
    name: 'workstation_config_basic'
    min_version: beta
    primary_resource_id: 'default'
    primary_resource_name:
      'fmt.Sprintf("tf-test-workstation-cluster%s", context["random_suffix"]),
      fmt.Sprintf("tf-test-workstation-config%s", context["random_suffix"])'
    vars:
      workstation_cluster_name: 'workstation-cluster'
      workstation_config_name: 'workstation-config'
  - !ruby/object:Provider::Terraform::Examples
    name: 'workstation_config_container'
    min_version: beta
    primary_resource_id: 'default'
    vars:
      workstation_cluster_name: 'workstation-cluster'
      workstation_config_name: 'workstation-config'
  - !ruby/object:Provider::Terraform::Examples
    name: 'workstation_config_persistent_directories'
    min_version: beta
    primary_resource_id: 'default'
    vars:
      workstation_cluster_name: 'workstation-cluster'
      workstation_config_name: 'workstation-config'
  - !ruby/object:Provider::Terraform::Examples
    name: 'workstation_config_source_snapshot'
    min_version: beta
    primary_resource_id: 'default'
    vars:
      workstation_cluster_name: 'workstation-cluster'
      workstation_config_name: 'workstation-config'
  - !ruby/object:Provider::Terraform::Examples
    name: 'workstation_config_shielded_instance_config'
    min_version: beta
    primary_resource_id: 'default'
    vars:
      workstation_cluster_name: 'workstation-cluster'
      workstation_config_name: 'workstation-config'
  - !ruby/object:Provider::Terraform::Examples
    name: 'workstation_config_encryption_key'
    min_version: beta
    primary_resource_id: 'default'
    vars:
      account_id: 'my-account'
      workstation_cluster_name: 'workstation-cluster'
      workstation_config_name: 'workstation-config'
parameters:
  - !ruby/object:Api::Type::String
    name: 'workstationConfigId'
    required: true
    immutable: true
    url_param_only: true
    description: |
      The ID to be assigned to the workstation cluster config.
  - !ruby/object:Api::Type::String
    name: 'workstationClusterId'
    required: true
    immutable: true
    url_param_only: true
    description: |
      The ID of the parent workstation cluster.
  - !ruby/object:Api::Type::String
    name: 'location'
    immutable: true
    required: true
    url_param_only: true
    description: |
      The location where the workstation cluster config should reside.
properties:
  - !ruby/object:Api::Type::String
    name: 'name'
    output: true
    description: |
      Full name of this resource.
  - !ruby/object:Api::Type::String
    name: 'uid'
    output: true
    description: |
      The system-generated UID of the resource.
  - !ruby/object:Api::Type::String
    name: 'displayName'
    description: |
      Human-readable name for this resource.
  - !ruby/object:Api::Type::KeyValuePairs
    name: 'labels'
    description:
      'Client-specified labels that are applied to the resource and that are
      also propagated to the underlying Compute Engine resources.'
  - !ruby/object:Api::Type::KeyValuePairs
    name: 'annotations'
    description: 'Client-specified annotations. This is distinct from labels.'
  - !ruby/object:Api::Type::Fingerprint
    name: 'etag'
    description: |
      Checksum computed by the server.
      May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.
  - !ruby/object:Api::Type::Time
    name: 'createTime'
    description: |
      Time when this resource was created.
    output: true
  - !ruby/object:Api::Type::String
    name: 'idleTimeout'
    default_value: '1200s'
    description: |
      How long to wait before automatically stopping an instance that hasn't recently received any user traffic. A value of 0 indicates that this instance should never time out from idleness. Defaults to 20 minutes.
      A duration in seconds with up to nine fractional digits, ending with 's'. Example: "3.5s".
  - !ruby/object:Api::Type::String
    name: 'runningTimeout'
    default_value: '43200s'
    description: |
      How long to wait before automatically stopping a workstation after it was started. A value of 0 indicates that workstations using this configuration should never time out from running duration. Must be greater than 0 and less than 24 hours if `encryption_key` is set. Defaults to 12 hours.
      A duration in seconds with up to nine fractional digits, ending with 's'. Example: "3.5s".
  - !ruby/object:Api::Type::NestedObject
    name: 'host'
    description: |
      Runtime host for a workstation.
    default_from_api: true
    update_mask_fields:
      - 'host.gceInstance.machineType'
      - 'host.gceInstance.poolSize'
      - 'host.gceInstance.tags'
      - 'host.gceInstance.disablePublicIpAddresses'
      - 'host.gceInstance.shieldedInstanceConfig.enableSecureBoot'
      - 'host.gceInstance.shieldedInstanceConfig.enableVtpm'
      - 'host.gceInstance.shieldedInstanceConfig.enableIntegrityMonitoring'
      - 'host.gceInstance.confidentialInstanceConfig.enableConfidentialCompute'
    properties:
      - !ruby/object:Api::Type::NestedObject
        name: 'gceInstance'
        description: |
          A runtime using a Compute Engine instance.
        default_from_api: true
        properties:
          - !ruby/object:Api::Type::String
            name: 'machineType'
            description: |-
              The name of a Compute Engine machine type.
            default_from_api: true
          - !ruby/object:Api::Type::String
            name: 'serviceAccount'
            immutable: true
            description: |-
              Email address of the service account that will be used on VM instances used to support this config. This service account must have permission to pull the specified container image. If not set, VMs will run without a service account, in which case the image must be publicly accessible.
            default_from_api: true
          - !ruby/object:Api::Type::Integer
            name: 'poolSize'
            description: |-
              Number of instances to pool for faster workstation startup.
            default_from_api: true
          - !ruby/object:Api::Type::Integer
            name: 'bootDiskSizeGb'
            immutable: true
            description: |-
              Size of the boot disk in GB.
            default_from_api: true
          - !ruby/object:Api::Type::Array
            name: 'tags'
            item_type: Api::Type::String
            description: |
              Network tags to add to the Compute Engine machines backing the Workstations.
          - !ruby/object:Api::Type::Boolean
            name: 'disablePublicIpAddresses'
            description: |
              Whether instances have no public IP address.
          - !ruby/object:Api::Type::NestedObject
            name: 'shieldedInstanceConfig'
            description: |
              A set of Compute Engine Shielded instance options.
            default_from_api: true
            custom_flatten: 'templates/terraform/custom_flatten/workstations_config_shielded_instance.go.erb'
            properties:
              - !ruby/object:Api::Type::Boolean
                name: 'enableSecureBoot'
                description: |
                  Whether the instance has Secure Boot enabled.
                send_empty_value: true
              - !ruby/object:Api::Type::Boolean
                name: 'enableVtpm'
                description: |
                  Whether the instance has the vTPM enabled.
                send_empty_value: true
              - !ruby/object:Api::Type::Boolean
                name: 'enableIntegrityMonitoring'
                description: |
                  Whether the instance has integrity monitoring enabled.
                send_empty_value: true
          - !ruby/object:Api::Type::NestedObject
            name: 'confidentialInstanceConfig'
            description: |
              A set of Compute Engine Confidential VM instance options.
            default_from_api: true
            custom_flatten: 'templates/terraform/custom_flatten/workstations_config_confidential_instance.go.erb'
            properties:
              - !ruby/object:Api::Type::Boolean
                name: 'enableConfidentialCompute'
                # TODO(esu): Change this to required in next breaking release.
                description: |
                  Whether the instance has confidential compute enabled.
                send_empty_value: true
  - !ruby/object:Api::Type::Array
    name: 'persistentDirectories'
    description: |
      Directories to persist across workstation sessions.
    default_from_api: true
    immutable: true
    item_type: !ruby/object:Api::Type::NestedObject
      properties:
        - !ruby/object:Api::Type::String
          name: 'mountPath'
          description: |
            Location of this directory in the running workstation.
          default_from_api: true
          immutable: true
        - !ruby/object:Api::Type::NestedObject
          name: 'gcePd'
          description: |
            PersistentDirectory backed by a Compute Engine regional persistent disk.
          default_from_api: true
          immutable: true
          properties:
            - !ruby/object:Api::Type::String
              name: 'fsType'
              description: |
                Type of file system that the disk should be formatted with. The workstation image must support this file system type. Must be empty if sourceSnapshot is set.
              default_from_api: true
              immutable: true
            - !ruby/object:Api::Type::String
              name: 'diskType'
              description: |
                Type of the disk to use.
              default_from_api: true
              immutable: true
            - !ruby/object:Api::Type::Integer
              name: 'sizeGb'
              description: |-
                Size of the disk in GB. Must be empty if sourceSnapshot is set.
              default_from_api: true
              immutable: true
            - !ruby/object:Api::Type::Enum
              name: 'reclaimPolicy'
              description: |
                What should happen to the disk after the workstation is deleted. Defaults to DELETE.
              immutable: true
              values:
                - :DELETE
                - :RETAIN
            - !ruby/object:Api::Type::String
              name: 'sourceSnapshot'
              description: |
                The snapshot to use as the source for the disk. This can be the snapshot's `self_link`, `id`, or a string in the format of `projects/{project}/global/snapshots/{snapshot}`. If set, sizeGb and fsType must be empty.
              immutable: true
              # TODO(esu): Add conflicting fields once complex lists are supported.
  - !ruby/object:Api::Type::NestedObject
    name: 'container'
    description: |
      Container that will be run for each workstation using this configuration when that workstation is started.
    default_from_api: true
    # Mask fields must be sent as distinct keys, else some fields will upsert rather than be replaced.
    update_mask_fields:
      - 'container.image'
      - 'container.command'
      - 'container.args'
      - 'container.workingDir'
      - 'container.env'
      - 'container.runAsUser'
    properties:
      - !ruby/object:Api::Type::String
        name: 'image'
        description: |
          Docker image defining the container. This image must be accessible by the config's service account.
        default_from_api: true
      - !ruby/object:Api::Type::Array
        name: 'command'
        item_type: Api::Type::String
        description: |
          If set, overrides the default ENTRYPOINT specified by the image.
      - !ruby/object:Api::Type::Array
        name: 'args'
        item_type: Api::Type::String
        description: |
          Arguments passed to the entrypoint.
      - !ruby/object:Api::Type::String
        name: 'workingDir'
        description: |
          If set, overrides the default DIR specified by the image.
        # Allow unsetting to revert to container default.
        send_empty_value: true
      - !ruby/object:Api::Type::KeyValuePairs
        name: 'env'
        description: |
          Environment variables passed to the container.
          The elements are of the form "KEY=VALUE" for the environment variable "KEY" being given the value "VALUE".
      - !ruby/object:Api::Type::Integer
        name: 'runAsUser'
        description: |
          If set, overrides the USER specified in the image with the given uid.
  - !ruby/object:Api::Type::NestedObject
    name: 'encryptionKey'
    immutable: true
    description: |
      Encrypts resources of this workstation configuration using a customer-managed encryption key.

      If specified, the boot disk of the Compute Engine instance and the persistent disk are encrypted using this encryption key. If this field is not set, the disks are encrypted using a generated key. Customer-managed encryption keys do not protect disk metadata.
      If the customer-managed encryption key is rotated, when the workstation instance is stopped, the system attempts to recreate the persistent disk with the new version of the key. Be sure to keep older versions of the key until the persistent disk is recreated. Otherwise, data on the persistent disk will be lost.
      If the encryption key is revoked, the workstation session will automatically be stopped within 7 hours.
    properties:
      - !ruby/object:Api::Type::String
        name: 'kmsKey'
        description: |
          The name of the Google Cloud KMS encryption key.
        required: true
      - !ruby/object:Api::Type::String
        name: 'kmsKeyServiceAccount'
        description: |
          The service account to use with the specified KMS key.
        required: true
  - !ruby/object:Api::Type::Boolean
    name: 'degraded'
    description: |
      Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the conditions field.
    output: true
  - !ruby/object:Api::Type::Array
    name: 'conditions'
    description: |-
      Status conditions describing the current resource state.
    output: true
    item_type: !ruby/object:Api::Type::NestedObject
      properties:
        - !ruby/object:Api::Type::Integer
          name: 'code'
          output: true
          description: |-
            The status code, which should be an enum value of google.rpc.Code.
        - !ruby/object:Api::Type::String
          name: 'message'
          output: true
          description: |-
            Human readable message indicating details about the current status.
        - !ruby/object:Api::Type::Array
          name: 'details'
          output: true
          description: |
            A list of messages that carry the error details.
          item_type: Api::Type::KeyValuePairs
