resource "google_dialogflow_sip_trunk" "basic_trunk" {
  display_name = "{{index $.ResourceIdVars "trunk_name"}}"
  location     = "europe-west3"
  expected_hostname = [
    "{{index $.ResourceIdVars "trunk_name"}}.example.com"
  ]
}
