resource "google_database_migration_service_private_connection" "{{$.PrimaryResourceId}}" {
	display_name          = "dbms_pc"
	location              = "us-west1"
	private_connection_id = "{{index $.ResourceIdVars "private_connection_id"}}"

	labels = {
		key = "value"
	}

	reserved_public_ip_config {
	}

	create_without_validation = false
}
