resource "google_compute_zone_vm_extension_policy" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.ResourceIdVars "policy_name"}}"
  zone        = "us-central1-a"

  extension_policies {
    extension_name = "ops-agent"
    pinned_version = "2.66.0"
  }
}
