resource "google_compute_network_edge_security_service" "{{$.PrimaryResourceId}}" {
  provider     = google-beta  

  name         = "{{index $.PrefixedVars "resource_name"}}"
  region       = "us-east1"
  description  = "My basic resource"
}