data "google_project" "project" {}

resource "google_compute_interconnect" "{{$.PrimaryResourceId}}" {
  name                 = "{{index $.ResourceIdVars "interconnect_name"}}"
  customer_name        = "{{index $.ResourceIdVars "customer_name"}}"
  interconnect_type    = "DEDICATED"
  link_type            = "LINK_TYPE_ETHERNET_10G_LR"
  location             = "https://www.googleapis.com/compute/v1/${data.google_project.project.project_id}/global/interconnectLocations/iad-zone1-1" # Special location only available for Google testing.
  requested_link_count = 1
}
