resource "google_compute_disk" "default" {
  name  = "{{index $.ResourceIdVars "disk_name"}}"
  type  = "pd-ssd"
  zone  = "us-central1-a"
  image = "debian-13-trixie-v20260827"
  labels = {
    environment = "dev"
  }
  physical_block_size_bytes = 4096
}
