resource "google_compute_region_security_policy" "{{.PrimaryResourceId}}" {
  provider    = google-beta
  name        = "{{index $.ResourceIdVars "sec_policy_name"}}"
  description = "Policy with Request Body inspection"
  region      = "us-west2"
  type        = "CLOUD_ARMOR"
  rules {
    action   = "deny(403)"
    priority = 1000
    match {
      expr {
        expression = "request.body.contains('my-match-string')"
      }
    }
    description = "Deny requests containing specific body string"
  }

  rules {
    action   = "allow"
    priority = 2147483647
    match {
      versioned_expr = "SRC_IPS_V1"
      config {
        src_ip_ranges = ["*"]
      }
    }
    description = "default rule"
  }
}
