resource "google_compute_resource_policy" "bar" {
  name   = "{{index $.PrefixedVars "name"}}"
  region = "europe-west1"
  workload_policy {
    type = "HIGH_THROUGHPUT"
    accelerator_topology = "SOME NEW TOPOLOGY"
  }
}
