data "google_project" "project" {
  provider   = google
  project_id = "{{index $.TestEnvVars "project_name"}}"
}

resource "google_storage_bucket" "test_bucket" {
  provider      = google
  name          = "chronicle-test-bucket-{{index $.TestEnvVars "project_name"}}-%{random_suffix}"
  project       = "{{index $.TestEnvVars "project_name"}}"
  location      = "{{index $.Vars "location"}}"
  force_destroy = true
}

resource "google_storage_bucket_iam_member" "chronicle_writer" {
  provider = google
  bucket   = google_storage_bucket.test_bucket.name
  role     = "roles/storage.objectCreator"
  member   = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-chronicle.iam.gserviceaccount.com"
}

resource "time_sleep" "wait_iam_propagation" {
  depends_on      = [google_storage_bucket_iam_member.chronicle_writer]
  create_duration = "30s"
}

resource "google_chronicle_data_export" "{{$.PrimaryResourceId}}" {
  provider    = google
  location    = "{{index $.Vars "location"}}"
  instance    = "{{index $.TestEnvVars "chronicle_id"}}"
  gcs_bucket  = "projects/${google_storage_bucket.test_bucket.project}/buckets/${google_storage_bucket.test_bucket.name}"
  start_time  = "{{index $.Vars "start_time"}}"
  end_time    = "{{index $.Vars "end_time"}}"

  depends_on = [time_sleep.wait_iam_propagation]
}
