resource "google_chronicle_case_tag_definition" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us"
  instance = "{{index $.TestEnvVars "chronicle_id"}}"

  display_name = "tag_%{random_suffix}"
  match_criteria = "BY_VENDOR"
  value = "test_value"
  comparison_type = "EXACT"
  priority = 1
  can_be_case_title = false
}
