resource "google_chronicle_environment" "{{$.PrimaryResourceId}}" {
  location = "us"
  instance = "{{index $.TestEnvVars "chronicle_id"}}"
  
  display_name = "MyEnvironment"
  description = "updated description"
  contact = "updatedContactName"
  contact_emails = "example2@example.com"
  contact_phone = "010101"
  aliases_json            = jsonencode([])
  data_access_scopes_json = jsonencode([])
  retention_duration = 3

  deletion_protection  = false
}
