resource "google_chronicle_soar_domain" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us"
  instance = "{{index $.TestEnvVars "chronicle_id"}}"
  
  display_name = "test1.com"
  environments_json = "[\"*\"]"
}
