resource "google_chronicle_case_stage_definition" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us"
  instance = "{{index $.TestEnvVars "chronicle_id"}}"

  display_name = "Stage Definition Custom"
  order        = 100
}
