resource "google_chronicle_findings_refinement" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us"
  instance = "{{index $.TestEnvVars "chronicle_id"}}"
  display_name = "{{index $.ResourceIdVars "display_name"}}" 
  type = "DETECTION_EXCLUSION" 
  query = "network.dns.response = true" 
  outcome_filters {
    outcome_variable = "risk_score"
    outcome_filter_operator = "EQUAL"
    outcome_value = "value"
  }
}
