
// Check if the Firebase hostng site already exits. Do an update if so.

getUrl, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}FirebaseHostingBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/sites/{{"{{"}}site_id{{"}}"}}")
if err != nil {
	return err
}
_, err = transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
	Config:    config,
	Method:    "GET",
	Project:   billingProject,
	RawURL:    getUrl,
	UserAgent: userAgent,
	Headers:   headers,
})

if err == nil {
	// Hosting site already exists
	log.Printf("[DEBUG] Firebase hosting site already exists %s", d.Get("site_id"))
	// Replace import id for the resource id
	id, err := tpgresource.ReplaceVars(d, config, "projects/{{"{{"}}project{{"}}"}}/sites/{{"{{"}}site_id{{"}}"}}")
	if err != nil {
		return fmt.Errorf("Error constructing id: %s", err)
	}
	d.SetId(id)
	return resourceFirebaseHostingSiteUpdate(d, meta)
}