[submodule "build/ansible"]
	path = build/ansible
	url = https://github.com/ansible/ansible_collections_google
	branch = master
[submodule "build/terraform-mapper"]
	path = build/terraform-mapper
	url = https://github.com/GoogleCloudPlatform/terraform-google-conversion.git
    branch = master
