[submodule "build/puppet/dns"]
	path = build/puppet/dns
	url = https://github.com/GoogleCloudPlatform/puppet-google-dns
[submodule "build/puppet/auth"]
	path = build/puppet/auth
	url = https://github.com/GoogleCloudPlatform/puppet-google-auth
[submodule "build/puppet/compute"]
	path = build/puppet/compute
	url = https://github.com/GoogleCloudPlatform/puppet-google-compute
[submodule "build/chef/dns"]
	path = build/chef/dns
	url = https://github.com/GoogleCloudPlatform/chef-google-dns
[submodule "build/chef/compute"]
	path = build/chef/compute
	url = https://github.com/GoogleCloudPlatform/chef-google-compute
[submodule "build/puppet/storage"]
	path = build/puppet/storage
	url = https://github.com/GoogleCloudPlatform/puppet-google-storage
[submodule "build/puppet/sql"]
	path = build/puppet/sql
	url = https://github.com/GoogleCloudPlatform/puppet-google-sql
[submodule "build/puppet/container"]
	path = build/puppet/container
	url = https://github.com/GoogleCloudPlatform/puppet-google-container
[submodule "build/puppet/_bundle"]
	path = build/puppet/_bundle
	url = https://github.com/GoogleCloudPlatform/puppet-google
[submodule "build/chef/auth"]
	path = build/chef/auth
	url = https://github.com/GoogleCloudPlatform/chef-google-auth
[submodule "build/chef/storage"]
	path = build/chef/storage
	url = https://github.com/GoogleCloudPlatform/chef-google-storage
[submodule "build/chef/container"]
	path = build/chef/container
	url = https://github.com/GoogleCloudPlatform/chef-google-container
[submodule "build/chef/sql"]
	path = build/chef/sql
	url = https://github.com/GoogleCloudPlatform/chef-google-sql
[submodule "build/puppet/logging"]
	path = build/puppet/logging
	url = https://github.com/GoogleCloudPlatform/puppet-google-logging
[submodule "build/chef/_bundle"]
	path = build/chef/_bundle
	url = https://github.com/GoogleCloudPlatform/chef-google
[submodule "build/puppet/pubsub"]
	path = build/puppet/pubsub
	url = https://github.com/GoogleCloudPlatform/puppet-google-pubsub
[submodule "build/puppet/spanner"]
	path = build/puppet/spanner
	url = https://github.com/GoogleCloudPlatform/puppet-google-spanner
[submodule "build/ansible"]
	path = build/ansible
	url = https://github.com/ansible/ansible.git
