[submodule "build/ansible"]
	path = build/ansible
	url = https://github.com/ansible-collections/ansible_collections_google
	branch = master
[submodule "build/terraform"]
	path = build/terraform
	url = https://github.com/terraform-providers/terraform-provider-google
	branch = master
[submodule "build/terraform-beta"]
	path = build/terraform-beta
	url = https://github.com/terraform-providers/terraform-provider-google-beta
	branch = master
[submodule "build/inspec"]
	path = build/inspec
	url = https://github.com/modular-magician/inspec-gcp
[submodule "build/terraform-mapper"]
	path = build/terraform-mapper
	url = https://github.com/GoogleCloudPlatform/terraform-google-conversion.git
    branch = master
