go 1.24

use (
	./.ci/magician
	./docs
	./mmv1
	./mmv1/third_party/terraform
	./mmv1/third_party/terraform/scripts
	./mmv1/third_party/tgc_next
	./tools/diff-processor
	./tools/go-changelog
	./tools/issue-labeler
	./tools/teamcity-diff-check
	./tools/teamcity-generator
	./tools/template-check
	./tools/test-reader
	./tpgtools
)
