// Stage 2: Verify (if NOT skipped)
if !d.Get("create_without_validation").(bool) {
	log.Printf("[DEBUG] Verifying Migration Job %q", d.Id())
	url, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}DatabaseMigrationServiceBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/migrationJobs/{{"{{"}}migration_job_id{{"}}"}}:verify")
	if err != nil {
		return err
	}

	userAgent, err := tpgresource.GenerateUserAgentString(d, config.UserAgent)
	if err != nil {
		return err
	}

	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config:    config,
		Method:    "POST",
		RawURL:    url,
		UserAgent: userAgent,
		Timeout:   d.Timeout(schema.TimeoutCreate),
	})
	if err != nil {
		return fmt.Errorf("Error verifying Migration Job %q: %s", d.Id(), err)
	}

	project, err := tpgresource.GetProject(d, config)
	if err != nil {
		return err
	}

	err = DatabaseMigrationServiceOperationWaitTime(
		config, res, project, "Verifying Migration Job", userAgent, d.Timeout(schema.TimeoutCreate))

	if err != nil {
		return fmt.Errorf("Error waiting for Verify Migration Job operation: %s", err)
	}
}

// Stage 3: Start (if requested)
if d.Get("state").(string) == "RUNNING" {
	log.Printf("[DEBUG] Starting Migration Job %q", d.Id())
	url, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}DatabaseMigrationServiceBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/migrationJobs/{{"{{"}}migration_job_id{{"}}"}}:start")
	if err != nil {
		return err
	}

	userAgent, err := tpgresource.GenerateUserAgentString(d, config.UserAgent)
	if err != nil {
		return err
	}

	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config:    config,
		Method:    "POST",
		RawURL:    url,
		UserAgent: userAgent,
		Timeout:   d.Timeout(schema.TimeoutCreate),
	})
	if err != nil {
		return fmt.Errorf("Error starting Migration Job %q: %s", d.Id(), err)
	}

	project, err := tpgresource.GetProject(d, config)
	if err != nil {
		return err
	}

	err = DatabaseMigrationServiceOperationWaitTime(
		config, res, project, "Starting Migration Job", userAgent, d.Timeout(schema.TimeoutCreate))

	if err != nil {
		return fmt.Errorf("Error waiting for Start Migration Job operation: %s", err)
	}
}
