  userAgent, err := tpgresource.GenerateUserAgentString(d, config.UserAgent)
	if err != nil {
		return err
	}

  // Fetch project and location from ResourceData
  project := d.Get("project").(string)
  location := d.Get("location").(string)

	obj := make(map[string]interface{})
  // In Create, we don't check HasChange, we just take what's in the config.
  if val := d.GetRawConfig().GetAttr("default_storage_location"); !val.IsNull() {
    v := d.Get("default_storage_location")
    log.Printf("[DEBUG] default_storage_location In Config: v=%#v", v)
    defaultStorageLocationProp, err := expandObservabilityProjectSettingsDefaultStorageLocation(v, d, config)
    if err != nil {
      return err
    }
    obj["defaultStorageLocation"] = defaultStorageLocationProp
  }
  if val := d.GetRawConfig().GetAttr("kms_key_name"); !val.IsNull() {
    v := d.Get("kms_key_name")
    log.Printf("[DEBUG] kms_key_name In Config: v=%#v", v)
    kmsKeyNameProp, err := expandObservabilityProjectSettingsKmsKeyName(v, d, config)
    if err != nil {
      return err
    }
    obj["kmsKeyName"] = kmsKeyNameProp
  }

  // Construct URL with fetched project and location
  url := fmt.Sprintf("https://observability.googleapis.com/v1/projects/%s/locations/%s/settings", project, location)

	log.Printf("[DEBUG] Creating ProjectSettings: %#v", obj)
	headers := make(http.Header)
	var masks []string
	if _, ok := obj["defaultStorageLocation"]; ok {
		masks = append(masks, "defaultStorageLocation")
	}
	if _, ok := obj["kmsKeyName"]; ok {
		masks = append(masks, "kmsKeyName")
	}

	if len(masks) > 0 {
		url = fmt.Sprintf("%s?updateMask=%s", url, strings.Join(masks, ","))
	}

	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config:    config,
		Method:    "PATCH",
		RawURL:    url,
		UserAgent: userAgent,
		Body:      obj,
		Timeout:   d.Timeout(schema.TimeoutCreate),
		Headers:   headers,
	})

	if err != nil {
		return fmt.Errorf("Error creating ProjectSettings: %s", err)
	}

  // Store the ID now
  id, err := tpgresource.ReplaceVars(d, config, "projects/" + project + "/locations/" + location + "/settings")
  if err != nil {
    return fmt.Errorf("Error constructing id: %s", err)
  }
  d.SetId(id)

	log.Printf("[DEBUG] Finished creating ProjectSettings %q: %#v", d.Id(), res)

	err = ObservabilityOperationWaitTime(
		config, res, "Creating ProjectSettings", userAgent,
		d.Timeout(schema.TimeoutCreate))

	if err != nil {
    d.SetId("") // Clear ID on error
		return err
	}

	return resourceObservabilityProjectSettingsRead(d, meta)
