func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
    if v == nil {
    	return nil, nil
    }

    s, ok := v.(string)
    if !ok {
    	return nil, fmt.Errorf("expected {{$.TitlelizeProperty}} to be a string")
    }
    if s == "" {
    	return nil, fmt.Errorf("{{$.TitlelizeProperty}} cannot be empty")
    }

    // The API field is google.protobuf.Struct (JSON object).
    var out interface{}
    if err := json.Unmarshal([]byte(s), &out); err != nil {
    	return nil, fmt.Errorf("{{$.TitlelizeProperty}} must be valid JSON: %w", err)
    }

    // protobuf Struct must be a JSOM obect (not array/string/number/bool/null)
    m, ok := out.(map[string]interface{})
    if !ok {
	return nil, fmt.Errorf("{{$.TitlelizeProperty}} must be a JSON object (e.g. {\"key\":\"value\"})")
    }

    return m, nil
}
