func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
    if v == nil {
    	return nil, nil
    }

    s, ok := v.(string)
    if !ok {
    	return nil, fmt.Errorf("expected {{$.TitlelizeProperty}} to be a string")
    }
    if s == "" {
    	return nil, nil
    }

    var out interface{}
    if err := json.Unmarshal([]byte(s), &out); err != nil {
    	return nil, fmt.Errorf("{{$.TitlelizeProperty}} must be valid JSON: %w", err)
    }

    return out, nil
}
