func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
	if v == nil || !v.(bool) {
		return nil, nil
	}
	transformed := make(map[string]interface{})
	dns64Config := make(map[string]interface{})
	scope := make(map[string]interface{})
	scope["allQueries"] = v

	dns64Config["scope"] = scope
	transformed["dns64Config"] = dns64Config

	return transformed, nil
}
