func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (map[string]interface{}, error) {
  if v == nil {
    return map[string]interface{}{}, nil
  }
  m := make(map[string]interface{})
  for _, raw := range v.(*schema.Set).List() {
    original := raw.(map[string]interface{})
    transformed := make(map[string]interface{})
      {{- range $prop := $.NestedProperties }}
        {{- if not (or (eq $prop.Name $prop.KeyName) $prop.ClientSide) }}

    transformed{{$prop.TitlelizeProperty}}, err := expand{{$.GetPrefix}}{{$.TitlelizeProperty}}{{$prop.TitlelizeProperty}}({{if $prop.WriteOnly }}tpgresource.GetRawConfigAttributeAsString(d.(*schema.ResourceData), "{{ join $prop.Lineage ".0." }}"){{ else }}original["{{ underscore $prop.Name }}"]{{ end }}, d, config)
    if err != nil {
      return nil, err
          {{- if or ($prop.SendEmptyValue) (and $prop.TGCSendEmptyValue $.ResourceMetadata.ProductMetadata.IsTgcCompiler) }}
    } else {
      transformed["{{$prop.ApiName}}"] = transformed{{$prop.TitlelizeProperty}}
          {{- else }}
    } else if val := reflect.ValueOf(transformed{{$prop.TitlelizeProperty}}); val.IsValid() && !tpgresource.IsEmptyValue(val) {
      transformed["{{$prop.ApiName}}"] = transformed{{$prop.TitlelizeProperty}}
          {{- end }}
    }
        {{- end }}
      {{ end }}

    transformed{{ camelize $.KeyName "upper" }}, err := {{ $.KeyExpander }}(original["{{ underscore $.KeyName }}"], d, config)
    if err != nil {
      return nil, err
    }
    transformed["{{ $.KeyName }}"] = transformed{{ camelize $.KeyName "upper" }}
    m[transformed{{ camelize $.KeyName "upper" }}] = transformed
  }
  return m, nil
}

{{ if $.NestedProperties }}
  {{- range $prop := $.NestedProperties }}
    {{- if not (and (hasPrefix $prop.Type "KeyValue") $prop.IgnoreWrite) }}
      {{- template "expandPropertyMethod" $prop -}}
    {{- end }}
  {{- end }}
{{- end }}
