func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
		if v == "" {
				return v, nil
		}
		val, err := tpgresource.ParseZonalFieldValue("instances", v.(string), "project", "next_hop_instance_zone", d, config, true)
		if err != nil {
				return nil, err
		}

		userAgent, err :=  tpgresource.GenerateUserAgentString(d, config.UserAgent)
		if err != nil {
			return nil, err
		}

		url := fmt.Sprintf("%sprojects/%s/zones/%s/instances/%s", transport_tpg.BaseUrl(Product, config), val.Project, val.Zone, val.Name)
		res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
			Config:    config,
			Method:    "GET",
			Project:   val.Project,
			RawURL:    url,
			UserAgent: userAgent,
		})
		if err != nil {
				return nil, err
		}
		return res["selfLink"], nil
}
