func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
  if v == nil || v.(string) == "" {
    return "", nil
  } else if strings.HasPrefix(v.(string), "https://") {
    return v, nil
  }
  // v1 is the only version in use 
  url, err := tpgresource.ReplaceVars(d, config, "https://servicedirectory.googleapis.com/v1/" + v.(string))
  if err != nil {
    return "", err
  }
  return url, nil
}
