func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
	resource := strings.Split(v.(string), "/")
    resourceKind := resource[len(resource)-2]
    resourceBound := resource[len(resource)-4]
    if len(resource) < 4 {
		return nil, fmt.Errorf("invalid value for target_service")
	}
    
    _, err := tpgresource.ParseRegionalFieldValue(resourceKind, v.(string), "project", resourceBound, "zone", d, config, true)
	if err != nil {
		return nil, fmt.Errorf("invalid value for target_service: %w", err)
	}
    
    return v, nil
}
