func expandVertexAIOnlineEvaluatorMetricSourcesMetric(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
	if v == nil {
		return nil, nil
	}
	s := v.(string)
	if s == "" {
		return nil, nil
	}
	var m map[string]interface{}
	if err := json.Unmarshal([]byte(s), &m); err != nil {
		return nil, fmt.Errorf("Error unmarshaling metric: %s", err)
	}
	return m, nil
}
