// If a `context` URL parameter is present, insert the segment
// `/context/{context}` before the final `/mode` path piece.
// Use d.GetOkExists because `context` is a url_param_only parameter.
if v, ok := d.GetOkExists("context"); ok {
	if ctxStr, ok := v.(string); ok && ctxStr != "" {
		url = strings.Replace(url, "/mode", fmt.Sprintf("/contexts/%s/mode", ctxStr), 1)
	}
}
