project, err := tpgresource.GetProject(d, config)
if err != nil {
	return err
}
projectNumber, err := getProjectNumber(d, config, project, userAgent)
if err != nil {
	return err
}

service := d.Get("service").(string)
network := d.Get("network").(string)
parent := fmt.Sprintf("services/%s/projects/%s/global/networks/%s", service, projectNumber, network)
url, err = tpgresource.ReplaceVars(d, config, "{{"{{"}}ServiceNetworkingBasePath{{"}}"}}"+parent+"/vpcServiceControls")
if err != nil {
	return err
}
