config := acctest.GoogleProviderConfig(t)

url, err := tpgresource.ReplaceVarsForTest(config, rs, "{{"{{"}}IAMWorkforcePoolBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/oauthClients/{{"{{"}}oauthclient{{"}}"}}/credentials/{{"{{"}}oauth_client_credential_id{{"}}"}}")
if err != nil {
  return err
}

_, err = transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
	Config: config,
	Method: "GET",
	RawURL: url,
	UserAgent: config.UserAgent,
})
if err != nil {
	e := err.(*googleapi.Error)
	// credential or parent client is expected to be deleted.
	if (e.Code == 404) {
		return nil
	}

	// Return err in all other cases
	return err
}

return fmt.Errorf("IAMOAuthClientCredential still exists at %s", url)
