{{/*
	The license inside this block applies to this file
	Copyright 2024 Google Inc.
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/ -}}
config := acctest.GoogleProviderConfig(t)

url, err := tpgresource.ReplaceVarsForTest(config, rs, "{{"{{"}}MonitoringBasePath{{"}}"}}v1/locations/global/metricsScopes/{{"{{"}}metrics_scope{{"}}"}}")
if err != nil {
	return err
}

billingProject := ""

if config.BillingProject != "" {
	billingProject = config.BillingProject
}

res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
	Config:    config,
	Method:    "GET",
	Project:   billingProject,
	RawURL:    url,
	UserAgent: config.UserAgent,
})

rName := tpgresource.GetResourceNameFromSelfLink(rs.Primary.Attributes["name"])
project, err := config.NewResourceManagerClient(config.UserAgent).Projects.Get(rName).Do()
rName = strconv.FormatInt(project.ProjectNumber, 10)

for _, monitoredProject := range res["monitoredProjects"].([]any) {
	if strings.HasSuffix(monitoredProject.(map[string]any)["name"].(string), rName) {
		return fmt.Errorf("MonitoringMonitoredProject still exists at %s", url)
	}
}
