resource "google_gemini_gibq_observability_setting" "{{$.PrimaryResourceId}}" {
    gibq_observability_setting_id = "{{index $.ResourceIdVars "gibq_observability_setting_id"}}"
    location = "global"
    labels = {"my_key": "my_value_updated"}
    conversational_analytics_setting {
        metrics_enabled = false
        traces_enabled = false
        feedback_enabled = false
        logging_enabled = false
    }
}
