resource "google_gemini_gibq_observability_setting" "{{$.PrimaryResourceId}}" {
    gibq_observability_setting_id = "{{index $.ResourceIdVars "gibq_observability_setting_id"}}"
    location = "global"
    labels = {"my_key": "my_value"}
    conversational_analytics_setting {}
}
