data "google_project" "project" {}

resource "google_parameter_manager_parameter" "{{$.PrimaryResourceId}}" {
  parameter_id = "{{index $.PrefixedVars "parameter_id"}}"
  kms_key = "{{index $.PrefixedVars "kms_key"}}"
}
