# Copyright 2024 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
name: 'AutokeyConfig'
# This resource is currently in public preview.
description: |
  `AutokeyConfig` is a singleton resource used to configure the auto-provisioning
  flow of CryptoKeys for CMEK.


  ~> **Note:** AutokeyConfigs cannot be deleted from Google Cloud Platform.
  Destroying a Terraform-managed AutokeyConfig will remove it from state but
  *will not delete the resource from the project.*
references:
  guides:
    'Cloud KMS with Autokey': 'https://cloud.google.com/kms/docs/kms-with-autokey'
  api: 'https://cloud.google.com/kms/docs/reference/rest/v1/AutokeyConfig'

# Base URL now needs to be dynamic
base_url: '{{parent}}/autokeyConfig'
self_link: '{{name}}' # This will be set by the decoder

custom_code:
  custom_import: templates/terraform/custom_import/kms_autokey_config.go.erb
  encoder: templates/terraform/encoders/kms_autokey_config_update.go.erb
  decoder: templates/terraform/decoders/kms_autokey_config.go.erb
  custom_update: templates/terraform/custom_update/kms_autokey_config.go.erb
  custom_create: templates/terraform/custom_create/kms_autokey_config.go.erb
  pre_delete: templates/terraform/pre_delete/kms_autokey_config.go.erb
  test_check_destroy: 'templates/terraform/custom_check_destroy/kms_autokey_config.go.tmpl'
  constants: 'templates/terraform/constants/autokey_config_folder_diff.go.tmpl'

timeouts:
  insert_minutes: 20
  update_minutes: 20
  delete_minutes: 20

# Removed static create_url, update_url, delete_url, id_format, self_link from the top level
# These are now dynamic and handled by custom code.
exclude_sweeper: true
include_in_tgc_next: true
tgc_include_handwritten_tests: true
examples:
  - name: 'kms_autokey_config_folder' # Example for folder
    primary_resource_id: 'example-autokeyconfig-folder'
    min_version: 'beta'
    test_env_vars:
      org_id: 'ORG_ID'
      billing_account: 'BILLING_ACCT'
    vars:
      folder_name: 'my-folder'
      key_project_name: 'key-proj'
      org_id: 'ORG_ID'
      billing_account: 'BILLING_ACCT'
  - name: 'kms_autokey_config_project' # Example for project
    primary_resource_id: 'example-autokeyconfig-project'
    min_version: 'beta'
    test_env_vars:
      org_id: 'ORG_ID'
      billing_account: 'BILLING_ACCT'
    vars:
      project_name: 'my-resource-proj'
      org_id: 'ORG_ID'
      billing_account: 'BILLING_ACCT'

parameters:
  - name: 'folder'
    type: String
    description: |
      The folder for which to retrieve config.
    url_param_only: true
    required: false
    immutable: true
    conflicts:
      - 'project'
    diff_suppress_func: 'folderPrefixSuppress'
  - name: 'project'
    type: String
    description: |
      The project for which to retrieve config.
    url_param_only: true
    required: false
    immutable: true
    conflicts:
      - 'folder'
    diff_suppress_func: 'projectPrefixSuppress'

properties:
  - name: 'name'
    type: String
    description: 'The resource name for the `AutokeyConfig` in the format `folders/{{folder_id}}/autokeyConfig` or `projects/{{project_id}}/autokeyConfig`.'
    output: true
  - name: 'keyProject'
    type: String
    api_name: keyProject
    description: |
      The target key project for a given folder where KMS Autokey will provision a
      CryptoKey for any new KeyHandle the Developer creates. Should have the form
      `projects/<project_id_or_number>`.
  - name: 'keyProjectResolutionMode'
    type: Enum
    api_name: keyProjectResolutionMode
    description: 'How Autokey determines which project to use when provisioning CMEK keys.'
    enum_values:
      - 'KEY_PROJECT_RESOLUTION_MODE_UNSPECIFIED'
      - 'DEDICATED_KEY_PROJECT'
      - 'RESOURCE_PROJECT'
      - 'DISABLED'
  - name: 'etag'
    type: String
    description: 'The etag of the AutokeyConfig for optimistic concurrency control.'
    output: true
