resource "google_kms_organization_kaj_policy_config" "{{$.PrimaryResourceId}}" {
	provider 				= google-beta
	organization 				= "{{index $.TestEnvVars "org_id"}}"
	default_key_access_justification_policy {
		allowed_access_reasons = [
			"CUSTOMER_INITIATED_ACCESS",
			"GOOGLE_INITIATED_SYSTEM_OPERATION",
		]
	}
}
