resource "google_agent_registry_service" "default" {
  location     = "us-central1"
  service_id   = "tf-test-endpoint-%{random_suffix}"
  description  = "My endpoint agent registry service for IAM test"
  display_name = "My Service"

  interfaces {
    url              = "https://tf-test-endpoint-%{random_suffix}.example.com"
    protocol_binding = "HTTP_JSON" # Wait, what protocol bindings are allowed?
  }

  endpoint_spec {
    type = "NO_SPEC"
  }
}
