{
    "openapi": "3.0.3",
    "info": {
        "title": "Memorystore API",
        "description": "",
        "version": "v1beta",
        "x-google-revision": "0"
    },
    "servers": [
        {
            "url": "https://memorystore.googleapis.com",
            "description": "Global Endpoint"
        }
    ],
    "paths": {
        "/v1beta/projects/{project}/locations/{location}/operations": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "get": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "ListOperations",
                "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "description": "The standard list filter.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "description": "The standard list page size.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageToken",
                        "description": "The standard list page token.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListOperationsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/projects/{project}/locations/{location}/operations/{operation}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "get": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "GetOperation",
                "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "operation",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Operation"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "DeleteOperation",
                "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "operation",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Empty"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/projects/{project}/locations/{location}/operations/{operation}:cancel": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "post": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "CancelOperation",
                "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "operation",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Empty"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/projects/{project}/locations/{location}/instances": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "get": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "ListInstances",
                "description": "Lists Instances in a given project and location.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageToken",
                        "description": "Optional. A token identifying a page of results the server should return.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "description": "Optional. Expression for filtering results.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "description": "Optional. Sort results by a defined order. Supported values: \"name\", \"create_time\".",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListInstancesResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "CreateInstance",
                "description": "Creates a new Instance in a given project and location.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instanceId",
                        "description": "Required. The ID to use for the instance, which will become the final component of\nthe instance's resource name.\n\nThis value is subject to the following restrictions:\n\n* Must be 4-63 characters in length\n* Must begin with a letter or digit\n* Must contain only lowercase letters, digits, and hyphens\n* Must not end with a hyphen\n* Must be unique within a location",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requestId",
                        "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Required. The instance to create.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Instance"
                            }
                        }
                    }
                },
                "x-google-lro": "true",
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateInstanceOperation"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/projects/{project}/locations/{location}/instances/{instance}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "get": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "GetInstance",
                "description": "Gets details of a single Instance.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instance",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Instance"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "UpdateInstance",
                "description": "Updates the parameters of a single Instance.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instance",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "updateMask",
                        "description": "Optional. The list of fields to be updated on the instance. At least one field must\nbe specified.",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
                            "format": "google-fieldmask"
                        }
                    },
                    {
                        "name": "requestId",
                        "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Required. The instance to update.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Instance"
                            }
                        }
                    }
                },
                "x-google-lro": "true",
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateInstanceOperation"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "DeleteInstance",
                "description": "Deletes a single Instance.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instance",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requestId",
                        "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "x-google-lro": "true",
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteInstanceOperation"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/projects/{project}/locations/{location}/instances/{instance}/certificateAuthority": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "get": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "GetCertificateAuthority",
                "description": "Gets details about the certificate authority for an Instance.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instance",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CertificateAuthority"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/projects/{project}/locations": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "get": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "ListLocations",
                "description": "Lists information about the supported locations for this service.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "description": "A filter to narrow down results to a preferred subset.\nThe filtering language accepts strings like `\"displayName=tokyo\"`, and\nis documented in more detail in [AIP-160](https://google.aip.dev/160).",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "description": "The maximum number of results to return.\nIf not set, the service selects a default.",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageToken",
                        "description": "A page token received from the `next_page_token` field in the response.\nSend that page token to receive the subsequent page.",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListLocationsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/projects/{project}/locations/{location}": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/alt"
                },
                {
                    "$ref": "#/components/parameters/callback"
                },
                {
                    "$ref": "#/components/parameters/prettyPrint"
                },
                {
                    "$ref": "#/components/parameters/_.xgafv"
                }
            ],
            "get": {
                "tags": [
                    "memorystore"
                ],
                "operationId": "GetLocation",
                "description": "Gets information about a location.",
                "security": [
                    {
                        "google_oauth_implicit": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "google_oauth_code": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "bearer_auth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "project",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122. See documentation for resource type `memorystore.googleapis.com/CertificateAuthority`.",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Location"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "alt": {
                "name": "$alt",
                "description": "Data format for response.",
                "schema": {
                    "default": "json",
                    "enum": [
                        "json",
                        "media",
                        "proto"
                    ],
                    "x-google-enum-descriptions": [
                        "Responses with Content-Type of application/json",
                        "Media download with context-dependent Content-Type",
                        "Responses with Content-Type of application/x-protobuf"
                    ],
                    "type": "string"
                },
                "in": "query"
            },
            "callback": {
                "name": "$callback",
                "description": "JSONP",
                "schema": {
                    "type": "string"
                },
                "in": "query"
            },
            "prettyPrint": {
                "name": "$prettyPrint",
                "description": "Returns response with indentations and line breaks.",
                "schema": {
                    "default": "true",
                    "type": "boolean"
                },
                "in": "query"
            },
            "_.xgafv": {
                "name": "$.xgafv",
                "description": "V1 error format.",
                "schema": {
                    "enum": [
                        "1",
                        "2"
                    ],
                    "x-google-enum-descriptions": [
                        "v1 error format",
                        "v2 error format"
                    ],
                    "type": "string"
                },
                "in": "query"
            }
        },
        "securitySchemes": {
            "google_oauth_implicit": {
                "type": "oauth2",
                "description": "Google Oauth 2.0 implicit authentication flow.",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
                        "scopes": {
                            "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
                        }
                    }
                }
            },
            "google_oauth_code": {
                "type": "oauth2",
                "description": "Google Oauth 2.0 authorizationCode authentication flow.",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
                        "tokenUrl": "https://oauth2.googleapis.com/token",
                        "refreshUrl": "https://oauth2.googleapis.com/token",
                        "scopes": {
                            "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
                        }
                    }
                }
            },
            "bearer_auth": {
                "type": "http",
                "description": "Http bearer authentication.",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "ListOperationsResponse": {
                "description": "The response message for Operations.ListOperations.",
                "type": "object",
                "properties": {
                    "operations": {
                        "description": "A list of operations that matches the specified filter in the request.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Operation"
                        }
                    },
                    "nextPageToken": {
                        "description": "The standard List next-page token.",
                        "type": "string"
                    }
                }
            },
            "Status": {
                "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
                "type": "object",
                "properties": {
                    "code": {
                        "description": "The status code, which should be an enum value of google.rpc.Code.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                        "type": "string"
                    },
                    "details": {
                        "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "description": "Properties of the object. Contains field @type with type URL."
                            }
                        }
                    }
                }
            },
            "Empty": {
                "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
                "type": "object"
            },
            "ListInstancesResponse": {
                "description": "Response message for ListInstances.",
                "type": "object",
                "properties": {
                    "instances": {
                        "description": "If the {location} requested was \"-\" the response contains a list of\ninstances from all locations. Instances in unreachable locations will be\nomitted.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Instance"
                        }
                    },
                    "nextPageToken": {
                        "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
                        "type": "string"
                    },
                    "unreachable": {
                        "description": "Locations that could not be reached.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "Instance": {
                "description": "A Memorystore instance.",
                "type": "object",
                "properties": {
                    "name": {
                        "description": "Identifier. Unique name of the instance.\nFormat: projects/{project}/locations/{location}/instances/{instance}",
                        "x-google-identifier": true,
                        "type": "string"
                    },
                    "createTime": {
                        "description": "Output only. Creation timestamp of the instance.",
                        "readOnly": true,
                        "type": "string",
                        "format": "date-time"
                    },
                    "updateTime": {
                        "description": "Output only. Latest update timestamp of the instance.",
                        "readOnly": true,
                        "type": "string",
                        "format": "date-time"
                    },
                    "labels": {
                        "description": "Optional. Labels to represent user-provided metadata.",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "state": {
                        "description": "Output only. Current state of the instance.",
                        "readOnly": true,
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not set.",
                            "Instance is being created.",
                            "Instance has been created and is usable.",
                            "Instance is being updated.",
                            "Instance is being deleted."
                        ],
                        "enum": [
                            "STATE_UNSPECIFIED",
                            "CREATING",
                            "ACTIVE",
                            "UPDATING",
                            "DELETING"
                        ]
                    },
                    "stateInfo": {
                        "description": "Output only. Additional information about the state of the instance.",
                        "readOnly": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/StateInfo"
                            }
                        ]
                    },
                    "uid": {
                        "description": "Output only. System assigned, unique identifier for the instance.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "replicaCount": {
                        "description": "Optional. Number of replica nodes per shard. If omitted the default is 0 replicas.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "authorizationMode": {
                        "description": "Optional. Immutable. Authorization mode of the instance.",
                        "x-google-immutable": true,
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not set.",
                            "Authorization disabled.",
                            "IAM basic authorization."
                        ],
                        "enum": [
                            "AUTHORIZATION_MODE_UNSPECIFIED",
                            "AUTH_DISABLED",
                            "IAM_AUTH"
                        ]
                    },
                    "transitEncryptionMode": {
                        "description": "Optional. Immutable. In-transit encryption mode of the instance.",
                        "x-google-immutable": true,
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not set.",
                            "In-transit encryption is disabled.",
                            "Server-managed encryption is used for in-transit encryption."
                        ],
                        "enum": [
                            "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
                            "TRANSIT_ENCRYPTION_DISABLED",
                            "SERVER_AUTHENTICATION"
                        ]
                    },
                    "shardCount": {
                        "description": "Required. Number of shards for the instance.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "discoveryEndpoints": {
                        "description": "Output only. Endpoints clients can connect to the instance through. Currently only one\ndiscovery endpoint is supported.",
                        "readOnly": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DiscoveryEndpoint"
                        }
                    },
                    "nodeType": {
                        "description": "Optional. Immutable. Machine type for individual nodes of the instance.",
                        "x-google-immutable": true,
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not set.",
                            "Shared core nano.",
                            "High memory medium.",
                            "High memory extra large.",
                            "Standard small."
                        ],
                        "enum": [
                            "NODE_TYPE_UNSPECIFIED",
                            "SHARED_CORE_NANO",
                            "HIGHMEM_MEDIUM",
                            "HIGHMEM_XLARGE",
                            "STANDARD_SMALL"
                        ]
                    },
                    "persistenceConfig": {
                        "description": "Optional. Persistence configuration of the instance.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/PersistenceConfig"
                            }
                        ]
                    },
                    "engineVersion": {
                        "description": "Optional. Immutable. Engine version of the instance.",
                        "x-google-immutable": true,
                        "type": "string"
                    },
                    "engineConfigs": {
                        "description": "Optional. User-provided engine configurations for the instance.",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "nodeConfig": {
                        "description": "Output only. Configuration of individual nodes of the instance.",
                        "readOnly": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/NodeConfig"
                            }
                        ]
                    },
                    "zoneDistributionConfig": {
                        "description": "Optional. Immutable. Zone distribution configuration of the instance for node allocation.",
                        "x-google-immutable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ZoneDistributionConfig"
                            }
                        ]
                    },
                    "deletionProtectionEnabled": {
                        "description": "Optional. If set to true deletion of the instance will fail.",
                        "type": "boolean"
                    },
                    "pscAutoConnections": {
                        "description": "Required. Immutable. User inputs and resource details of the auto-created PSC connections.",
                        "x-google-immutable": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PscAutoConnection"
                        }
                    }
                },
                "required": [
                    "shardCount",
                    "pscAutoConnections"
                ]
            },
            "StateInfo": {
                "description": "Additional information about the state of the instance.",
                "type": "object",
                "properties": {
                    "updateInfo": {
                        "description": "Output only. Describes ongoing update when instance state is UPDATING.",
                        "readOnly": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/UpdateInfo"
                            }
                        ]
                    }
                }
            },
            "UpdateInfo": {
                "description": "Represents information about instance with state UPDATING.",
                "type": "object",
                "properties": {
                    "targetShardCount": {
                        "description": "Output only. Target number of shards for the instance.",
                        "readOnly": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    "targetReplicaCount": {
                        "description": "Output only. Target number of replica nodes per shard for the instance.",
                        "readOnly": true,
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "DiscoveryEndpoint": {
                "description": "Represents an endpoint for clients to connect to the instance.",
                "type": "object",
                "properties": {
                    "address": {
                        "description": "Output only. IP address of the exposed endpoint clients connect to.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "port": {
                        "description": "Output only. The port number of the exposed endpoint.",
                        "readOnly": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    "network": {
                        "description": "Output only. The network where the IP address of the discovery endpoint will be\nreserved, in the form of\nprojects/{network_project}/global/networks/{network_id}.",
                        "readOnly": true,
                        "type": "string"
                    }
                }
            },
            "PersistenceConfig": {
                "description": "Represents persistence configuration for a instance.",
                "type": "object",
                "properties": {
                    "mode": {
                        "description": "Optional. Current persistence mode.",
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not set.",
                            "Persistence is disabled, and any snapshot data is deleted.",
                            "RDB based persistence is enabled.",
                            "AOF based persistence is enabled."
                        ],
                        "enum": [
                            "PERSISTENCE_MODE_UNSPECIFIED",
                            "DISABLED",
                            "RDB",
                            "AOF"
                        ]
                    },
                    "rdbConfig": {
                        "description": "Optional. RDB configuration. This field will be ignored if mode is not RDB.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RDBConfig"
                            }
                        ]
                    },
                    "aofConfig": {
                        "description": "Optional. AOF configuration. This field will be ignored if mode is not AOF.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AOFConfig"
                            }
                        ]
                    }
                }
            },
            "RDBConfig": {
                "description": "Configuration for RDB based persistence.",
                "type": "object",
                "properties": {
                    "rdbSnapshotPeriod": {
                        "description": "Optional. Period between RDB snapshots.",
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not set.",
                            "One hour.",
                            "Six hours.",
                            "Twelve hours.",
                            "Twenty four hours."
                        ],
                        "enum": [
                            "SNAPSHOT_PERIOD_UNSPECIFIED",
                            "ONE_HOUR",
                            "SIX_HOURS",
                            "TWELVE_HOURS",
                            "TWENTY_FOUR_HOURS"
                        ]
                    },
                    "rdbSnapshotStartTime": {
                        "description": "Optional. Time that the first snapshot was/will be attempted, and to which future\nsnapshots will be aligned. If not provided, the current time will be\nused.",
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AOFConfig": {
                "description": "Configuration for AOF based persistence.",
                "type": "object",
                "properties": {
                    "appendFsync": {
                        "description": "Optional. The fsync mode.",
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not set. Default: EVERY_SEC",
                            "Never fsync. Normally Linux will flush data every 30 seconds with this\nconfiguration, but it's up to the kernel's exact tuning.",
                            "Fsync every second. You may lose 1 second of data if there is a\ndisaster.",
                            "Fsync every time new commands are appended to the AOF. The best data\nloss protection at the cost of performance."
                        ],
                        "enum": [
                            "APPEND_FSYNC_UNSPECIFIED",
                            "NEVER",
                            "EVERY_SEC",
                            "ALWAYS"
                        ]
                    }
                }
            },
            "NodeConfig": {
                "description": "Represents configuration for nodes of the instance.",
                "type": "object",
                "properties": {
                    "sizeGb": {
                        "description": "Output only. Memory size in GB of the node.",
                        "readOnly": true,
                        "type": "number",
                        "format": "double"
                    }
                }
            },
            "ZoneDistributionConfig": {
                "description": "Zone distribution configuration for allocation of instance resources.",
                "type": "object",
                "properties": {
                    "zone": {
                        "description": "Optional. Defines zone where all resources will be allocated with SINGLE_ZONE mode.\nIgnored for MULTI_ZONE mode.",
                        "type": "string"
                    },
                    "mode": {
                        "description": "Optional. Current zone distribution mode. Defaults to MULTI_ZONE.",
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Not Set. Default: MULTI_ZONE",
                            "Distribute resources across 3 zones picked at random within the\nregion.",
                            "Provision resources in a single zone. Zone field must be specified."
                        ],
                        "enum": [
                            "ZONE_DISTRIBUTION_MODE_UNSPECIFIED",
                            "MULTI_ZONE",
                            "SINGLE_ZONE"
                        ]
                    }
                }
            },
            "PscAutoConnection": {
                "description": "Details of consumer resources in a PSC connection.",
                "type": "object",
                "properties": {
                    "pscConnectionId": {
                        "description": "Output only. The PSC connection id of the forwarding rule connected to the\nservice attachment.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "ipAddress": {
                        "description": "Output only. The IP allocated on the consumer network for the PSC forwarding rule.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "forwardingRule": {
                        "description": "Output only. The URI of the consumer side forwarding rule.\nFormat:\nprojects/{project}/regions/{region}/forwardingRules/{forwarding_rule}",
                        "readOnly": true,
                        "type": "string"
                    },
                    "projectId": {
                        "description": "Required. The consumer project_id where the forwarding rule is created from.",
                        "type": "string"
                    },
                    "network": {
                        "description": "Required. The consumer network where the IP address resides, in the form of\nprojects/{project_id}/global/networks/{network_id}.",
                        "type": "string"
                    }
                },
                "required": [
                    "projectId",
                    "network"
                ]
            },
            "OperationMetadata": {
                "description": "Represents the metadata of a long-running operation.",
                "type": "object",
                "properties": {
                    "createTime": {
                        "description": "Output only. The time the operation was created.",
                        "readOnly": true,
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "description": "Output only. The time the operation finished running.",
                        "readOnly": true,
                        "type": "string",
                        "format": "date-time"
                    },
                    "target": {
                        "description": "Output only. Server-defined resource path for the target of the operation.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "verb": {
                        "description": "Output only. Name of the verb executed by the operation.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "statusMessage": {
                        "description": "Output only. Human-readable status of the operation, if any.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "requestedCancellation": {
                        "description": "Output only. Identifies whether the user has requested cancellation\nof the operation. Operations that have been cancelled successfully\nhave Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                        "readOnly": true,
                        "type": "boolean"
                    },
                    "apiVersion": {
                        "description": "Output only. API version used to start the operation.",
                        "readOnly": true,
                        "type": "string"
                    }
                }
            },
            "CertificateAuthority": {
                "description": "A certificate authority for an instance.",
                "type": "object",
                "properties": {
                    "managedServerCa": {
                        "description": "A managed server certificate authority.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ManagedCertificateAuthority"
                            }
                        ]
                    },
                    "name": {
                        "description": "Identifier. Unique name of the certificate authority.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}",
                        "x-google-identifier": true,
                        "type": "string"
                    }
                }
            },
            "ManagedCertificateAuthority": {
                "description": "A managed certificate authority.",
                "type": "object",
                "properties": {
                    "caCerts": {
                        "description": "PEM encoded CA certificate chains for managed server authentication.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CertChain"
                        }
                    }
                }
            },
            "CertChain": {
                "description": "A certificate chain.",
                "type": "object",
                "properties": {
                    "certificates": {
                        "description": "The certificates that form the CA chain in order of leaf to root.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ListLocationsResponse": {
                "description": "The response message for Locations.ListLocations.",
                "type": "object",
                "properties": {
                    "locations": {
                        "description": "A list of locations that matches the specified filter in the request.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Location"
                        }
                    },
                    "nextPageToken": {
                        "description": "The standard List next-page token.",
                        "type": "string"
                    }
                }
            },
            "Location": {
                "description": "A resource that represents a Google Cloud location.",
                "type": "object",
                "properties": {
                    "name": {
                        "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
                        "type": "string"
                    },
                    "locationId": {
                        "description": "The canonical id for this location. For example: `\"us-east1\"`.",
                        "type": "string"
                    },
                    "displayName": {
                        "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
                        "type": "string"
                    },
                    "labels": {
                        "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "metadata": {
                        "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
                        "type": "object",
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL."
                        }
                    }
                }
            },
            "BillingView": {
                "description": "Message for reporting billing requests through Eventstream.",
                "type": "object",
                "properties": {
                    "reportRequests": {
                        "description": "Billing requests to be reported for cloud.eventstream.v2.ResourceEvent\n\nEach request contains billing operations to be reported under a service\nname. See go/billing-view-construction for documentation on constructing\nbilling view report requests.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoogleApiServicecontrolV1ReportRequest"
                        }
                    }
                }
            },
            "GoogleApiServicecontrolV1ReportRequest": {
                "description": "Request message for the Report method.",
                "type": "object",
                "properties": {
                    "serviceName": {
                        "description": "The service name as specified in its service configuration. For example,\n`\"pubsub.googleapis.com\"`.\n\nSee\n[google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service)\nfor the definition of a service name.",
                        "type": "string"
                    },
                    "operations": {
                        "description": "Operations to be reported.\n\nTypically the service should report one operation per request.\nPutting multiple operations into a single request is allowed, but should\nbe used only when multiple operations are natually available at the time\nof the report.\n\nThere is no limit on the number of operations in the same ReportRequest,\nhowever the ReportRequest size should be no larger than 1MB. See\nReportResponse.report_errors for partial failure behavior.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoogleApiServicecontrolV1Operation"
                        }
                    },
                    "serviceConfigId": {
                        "description": "Specifies which version of service config should be used to process the\nrequest.\n\nIf unspecified or no matching version can be found, the\nlatest one will be used.",
                        "type": "string"
                    }
                }
            },
            "GoogleApiServicecontrolV1Operation": {
                "description": "Represents information regarding an operation.",
                "type": "object",
                "properties": {
                    "operationId": {
                        "description": "Identity of the operation. This must be unique within the scope of the\nservice that generated the operation. If the service calls\nCheck() and Report() on the same operation, the two calls should carry\nthe same id.\n\nUUID version 4 is recommended, though not required.\nIn scenarios where an operation is computed from existing information\nand an idempotent id is desirable for deduplication purpose, UUID version 5\nis recommended. See RFC 4122 for details.",
                        "type": "string"
                    },
                    "operationName": {
                        "description": "Fully qualified name of the operation. Reserved for future use.",
                        "type": "string"
                    },
                    "consumerId": {
                        "description": "Identity of the consumer who is using the service.\nThis field should be filled in for the operations initiated by a\nconsumer, but not for service-initiated operations that are\nnot related to a specific consumer.\n\n\n- This can be in one of the following formats:\n    - project:PROJECT_ID,\n    - project`_`number:PROJECT_NUMBER,\n    - projects/PROJECT_ID or PROJECT_NUMBER,\n    - folders/FOLDER_NUMBER,\n    - organizations/ORGANIZATION_NUMBER,\n    - api`_`key:API_KEY.",
                        "type": "string"
                    },
                    "startTime": {
                        "description": "Required. Start time of the operation.",
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "description": "End time of the operation.\nRequired when the operation is used in ServiceController.Report,\nbut optional when the operation is used in ServiceController.Check.",
                        "type": "string",
                        "format": "date-time"
                    },
                    "labels": {
                        "description": "Labels describing the operation. Only the following labels are allowed:\n\n- Labels describing monitored resources as defined in\n  the service configuration.\n- Default labels of metric values. When specified, labels defined in the\n  metric value override these default.\n- The following labels defined by Google Cloud Platform:\n    - `cloud.googleapis.com/location` describing the location where the\n       operation happened,\n    - `servicecontrol.googleapis.com/user_agent` describing the user agent\n       of the API request,\n    - `servicecontrol.googleapis.com/service_agent` describing the service\n       used to handle the API request (e.g. ESP),\n    - `servicecontrol.googleapis.com/platform` describing the platform\n       where the API is served, such as App Engine, Compute Engine, or\n       Kubernetes Engine.",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "metricValueSets": {
                        "description": "Represents information about this operation. Each MetricValueSet\ncorresponds to a metric defined in the service configuration.\nThe data type used in the MetricValueSet must agree with\nthe data type specified in the metric definition.\n\nWithin a single operation, it is not allowed to have more than one\nMetricValue instances that have the same metric names and identical\nlabel value combinations. If a request has such duplicated MetricValue\ninstances, the entire request is rejected with\nan invalid argument error.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoogleApiServicecontrolV1MetricValueSet"
                        }
                    },
                    "logEntries": {
                        "description": "Represents information to be logged.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoogleApiServicecontrolV1LogEntry"
                        }
                    },
                    "quotaProperties": {
                        "description": "Represents the properties needed for quota check. Applicable only if this\noperation is for a quota check request. If this is not specified, no quota\ncheck will be performed.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GoogleApiServicecontrolV1QuotaProperties"
                            }
                        ]
                    },
                    "importance": {
                        "description": "DO NOT USE. This is an experimental field.",
                        "type": "string",
                        "x-google-enum-descriptions": [
                            "Allows data caching, batching, and aggregation. It provides\nhigher performance with higher data loss risk.",
                            "Disables data aggregation to minimize data loss. It is for operations\nthat contains significant monetary value or audit trail. This feature\nonly applies to the client libraries.",
                            "Deprecated. Do not use.\n\nDisables data aggregation and enables additional validation logic.\nIt should only be used  during the onboarding process. It is only\navailable to Google internal services, and the service must be\napproved by chemist-dev@google.com in order to use this level.",
                            "Used internally by Chemist."
                        ],
                        "enum": [
                            "LOW",
                            "HIGH",
                            "DEBUG",
                            "PROMOTED"
                        ]
                    },
                    "userLabels": {
                        "description": "Private Preview. This feature is only available for approved services.\n\nUser defined labels for the resource that this operation is associated\nwith.",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "resources": {
                        "description": "The resources that are involved in the operation.\nThe maximum supported number of entries in this field is 100.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoogleApiServicecontrolV1ResourceInfo"
                        }
                    },
                    "traceSpans": {
                        "description": "Unimplemented. A list of Cloud Trace spans. The span names shall contain\nthe id of the destination project which can be either the produce or the\nconsumer project.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoogleApiServicecontrolV1TraceSpan"
                        }
                    }
                }
            },
            "GoogleApiServicecontrolV1MetricValueSet": {
                "description": "Represents a set of metric values in the same metric.\nEach metric value in the set should have a unique combination of start time,\nend time, and label values.",
                "type": "object",
                "properties": {
                    "metricName": {
                        "description": "The metric name defined in the service configuration.",
                        "type": "string"
                    },
                    "metricValues": {
                        "description": "The values in this metric.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GoogleApiServicecontrolV1MetricValue"
                        }
                    }
                }
            },
            "GoogleApiServicecontrolV1MetricValue": {
                "description": "Represents a single metric value.",
                "type": "object",
                "properties": {
                    "labels": {
                        "description": "The labels describing the metric value.\nSee comments on google.api.servicecontrol.v1.Operation.labels for\nthe overriding relationship.\nNote that this map must not contain monitored resource labels.",
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "startTime": {
                        "description": "The start of the time period over which this metric value's measurement\napplies. The time period has different semantics for different metric\ntypes (cumulative, delta, and gauge). See the metric definition\ndocumentation in the service configuration for details. If not specified,\ngoogle.api.servicecontrol.v1.Operation.start_time will be used.",
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "description": "The end of the time period over which this metric value's measurement\napplies.  If not specified,\ngoogle.api.servicecontrol.v1.Operation.end_time will be used.",
                        "type": "string",
                        "format": "date-time"
                    },
                    "boolValue": {
                        "description": "A boolean value.",
                        "type": "boolean"
                    },
                    "int64Value": {
                        "description": "A signed 64-bit integer value.",
                        "type": "string",
                        "format": "int64"
                    },
                    "doubleValue": {
                        "description": "A double precision floating point value.",
                        "type": "number",
                        "format": "double"
                    },
                    "stringValue": {
                        "description": "A text string value.",
                        "type": "string"
                    },
                    "distributionValue": {
                        "description": "A distribution value.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GoogleApiServicecontrolV1Distribution"
                            }
                        ]
                    },
                    "moneyValue": {
                        "description": "A money value.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Money"
                            }
                        ]
                    }
                }
            },
            "GoogleApiServicecontrolV1Distribution": {
                "description": "Distribution represents a frequency distribution of double-valued sample\npoints. It contains the size of the population of sample points plus\nadditional optional information:\n\n* the arithmetic mean of the samples\n* the minimum and maximum of the samples\n* the sum-squared-deviation of the samples, used to compute variance\n* a histogram of the values of the sample points",
                "type": "object",
                "properties": {
                    "count": {
                        "description": "The total number of samples in the distribution. Must be >= 0.",
                        "type": "string",
                        "format": "int64"
                    },
                    "mean": {
                        "description": "The arithmetic mean of the samples in the distribution. If `count` is\nzero then this field must be zero.",
                        "type": "number",
                        "format": "double"
                    },
                    "minimum": {
                        "description": "The minimum of the population of values. Ignored if `count` is zero.",
                        "type": "number",
                        "format": "double"
                    },
                    "maximum": {
                        "description": "The maximum of the population of values. Ignored if `count` is zero.",
                        "type": "number",
                        "format": "double"
                    },
                    "sumOfSquaredDeviation": {
                        "description": "The sum of squared deviations from the mean:\n  Sum[i=1..count]((x_i - mean)^2)\nwhere each x_i is a sample values. If `count` is zero then this field\nmust be zero, otherwise validation of the request fails.",
                        "type": "number",
                        "format": "double"
                    },
                    "bucketCounts": {
                        "description": "The number of samples in each histogram bucket. `bucket_counts` are\noptional. If present, they must sum to the `count` value.\n\nThe buckets are defined below in `bucket_option`. There are N buckets.\n`bucket_counts[0]` is the number of samples in the underflow bucket.\n`bucket_counts[1]` to `bucket_counts[N-1]` are the numbers of samples\nin each of the finite buckets. And `bucket_counts[N] is the number\nof samples in the overflow bucket. See the comments of `bucket_option`\nbelow for more details.\n\nAny suffix of trailing zeros may be omitted.",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "int64"
                        }
                    },
                    "linearBuckets": {
                        "description": "Buckets with constant width.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GoogleApiServicecontrolV1LinearBuckets"
                            }
                        ]
                    },
                    "exponentialBuckets": {
                        "description": "Buckets with exponentially growing width.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GoogleApiServicecontrolV1ExponentialBuckets"
                            }
                        ]
                    },
                    "explicitBuckets": {
                        "description": "Buckets with arbitrary user-provided width.",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/GoogleApiServicecontrolV1ExplicitBuckets"
                            }
                        ]
                    },
                    "exemplars": {
                        "description": "Example points. Must be in increasing order of `value` field.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Exemplar"
                        }
                    }
                }
            },
            "GoogleApiServicecontrolV1LinearBuckets": {
                "description": "Describing buckets with constant width.",
                "type": "object",
                "properties": {
                    "numFiniteBuckets": {
                        "description": "The number of finite buckets. With the underflow and overflow buckets,\nthe total number of buckets is `num_finite_buckets` + 2.\nSee comments on `bucket_options` for details.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "width": {
                        "description": "The i'th linear bucket covers the interval\n  [offset + (i-1) * width, offset + i * width)\nwhere i ranges from 1 to num_finite_buckets, inclusive.\nMust be strictly positive.",
                        "type": "number",
                        "format": "double"
                    },
                    "offset": {
                        "description": "The i'th linear bucket covers the interval\n  [offset + (i-1) * width, offset + i * width)\nwhere i ranges from 1 to num_finite_buckets, inclusive.",
                        "type": "number",
                        "format": "double"
                    }
                }
            },
            "GoogleApiServicecontrolV1ExponentialBuckets": {
                "description": "Describing buckets with exponentially growing width.",
                "type": "object",
                "properties": {
                    "numFiniteBuckets": {
                        "description": "The number of finite buckets. With the underflow and overflow buckets,\nthe total number of buckets is `num_finite_buckets` + 2.\nSee comments on `bucket_options` for details.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "growthFactor": {
                        "description": "The i'th exponential bucket covers the interval\n  [scale * growth_factor^(i-1), scale * growth_factor^i)\nwhere i ranges from 1 to num_finite_buckets inclusive.\nMust be larger than 1.0.",
                        "type": "number",
[...]
