resource "google_apphub_application" "{{$.PrimaryResourceId}}" {
  location = "us-east1"
  application_id = "{{index $.PrefixedVars "application_id"}}"
  display_name = "{{index $.PrefixedVars "display_name"}}"
  scope {
    type = "REGIONAL"
  }
  description = "{{index $.PrefixedVars "desc"}}"
  attributes {
    environment {
      type = "STAGING"
		}
		criticality {  
      type = "MISSION_CRITICAL"
		}
		business_owners {
		  display_name =  "{{index $.PrefixedVars "business_name"}}"
		  email        =  "{{index $.PrefixedVars "business_email"}}"
		}
		developer_owners {
		  display_name =  "{{index $.PrefixedVars "developer_name"}}"
		  email        =  "{{index $.PrefixedVars "developer_email"}}"
		}
		operator_owners {
		  display_name =  "{{index $.PrefixedVars "operator_name"}}"
		  email        =  "{{index $.PrefixedVars "operator_email"}}"
		}
  }
}
