if reservationVal, ok := d.GetOk("reservation"); ok {
	reservation := reservationVal.(string)
	if !strings.Contains(reservation, "/") && reservation != "" {
		idParts := strings.Split(d.Id(), "/")
		project := ""
		if len(idParts) >= 2 && idParts[0] == "projects" {
			project = idParts[1]
		}
		if project == "" {
			if p, err := tpgresource.GetProject(d, config); err == nil {
				project = strings.TrimPrefix(p, "projects/")
			}
		}

		location := d.Get("location").(string)
		if location == "" {
			if len(idParts) >= 4 && idParts[2] == "locations" {
				location = idParts[3]
			}
		}

		if project != "" && location != "" {
			if err := d.Set("reservation", fmt.Sprintf("projects/%s/locations/%s/reservations/%s", project, location, reservation)); err != nil {
				return fmt.Errorf("Error setting normalized reservation: %s", err)
			}
		}
	}
}
