resource "google_compute_region_network_firewall_policy" "primary" {
  name = "{{policy}}"
  project = "{{project}}"
  description = "Updated regional network firewall policy"
  region = "{{region}}"
}

