resource "google_storage_bucket" "test_bucket" {
  name     = "{{index $.ResourceIdVars "bucket_name"}}"
  location = "US"
}

resource "google_storage_control_feature_config" "{{$.PrimaryResourceId}}" {
  feature_config_id = "{{index $.ResourceIdVars "feature_config_id"}}"
  description       = "Basic feature config for Auto Annotate"
  filter {
    included_cloud_storage_buckets {
      bucket_id_regexes = [google_storage_bucket.test_bucket.name]
    }
  }
  auto_annotate_config {
    processing_location = "us"
    models {
      name = "label-detector"
    }
  }
}
