resource "google_storage_bucket" "bucket" {
  provider                    = google-beta
  name                        = "{{index $.ResourceIdVars "bucket_name"}}"
  location                    = "US"
  uniform_bucket_level_access = true
  force_destroy               = true
}

resource "google_storage_bucket" "second_bucket" {
  provider                    = google-beta
  name                        = "{{index $.ResourceIdVars "second_bucket_name"}}"
  location                    = "US"
  uniform_bucket_level_access = true
  force_destroy               = true
}

resource "google_storage_control_project_feature_config" "{{$.PrimaryResourceId}}" {
  provider          = google-beta
  feature_config_id = "{{index $.ResourceIdVars "feature_config_id"}}"
  description       = "Annotates images in two buckets"

  filter {
    included_cloud_storage_buckets {
      bucket_id_regexes = [
        google_storage_bucket.bucket.name,
        google_storage_bucket.second_bucket.name,
      ]
    }
  }

  auto_annotate_config {
    models {
      name = "face-detector"
    }
    models {
      name = "content-safety"
    }
    processing_location = "eu"
  }
}
