resource "google_resource_manager_capability_config" "{{$.PrimaryResourceId}}" {
  parent               = "organizations/{{index $.TestEnvVars "org_id"}}"
  capability_config_id = "{{index $.ResourceIdVars "capability_config_id"}}"
  display_name         = "{{index $.ResourceIdVars "display_name"}}"
  types                = ["AGENT_MANAGEMENT"]
}
