## Missing test report
Your PR includes resource fields which are not covered by any test.
{{ range $resourceName, $missingTestInfo := . }}
Resource: `{{ $resourceName }}` ({{ len $missingTestInfo.Tests }} total tests)
{{- if $missingTestInfo.UntestedFields }}
Untested fields: {{ join (backTickAll $missingTestInfo.UntestedFields) ", " }}
{{ end }}
Please add an acceptance test which includes these fields. The test should include the following:

```
{{ $missingTestInfo.SuggestedTest }}
```

Replace `"VALUE"` with appropriate values for these fields.

{{- end }}
