func generateSourceRepoRepositoryIAMPolicyStateID(iamResourceAddr string) func(*terraform.State) (string, error) {
	return func(state *terraform.State) (string, error) {
		var rawState map[string]string
		for _, m := range state.Modules {
			if len(m.Resources) > 0 {
				if v, ok := m.Resources[iamResourceAddr]; ok {
					rawState = v.Primary.Attributes
				}
			}
		}
		fmt.Printf("raw state %s\n", rawState)
		project := tpgresource.GetResourceNameFromSelfLink(rawState["project"])
		repository := repositoryShortName(rawState["repository"])
		return fmt.Sprintf("projects/%s/repos/%s", project, repository) + acctest.ConditionTitleIfPresent(rawState), nil
	}
}

func generateSourceRepoRepositoryIAMBindingStateID(iamResourceAddr string) func(*terraform.State) (string, error) {
	return func(state *terraform.State) (string, error) {
		var rawState map[string]string
		for _, m := range state.Modules {
			if len(m.Resources) > 0 {
				if v, ok := m.Resources[iamResourceAddr]; ok {
					rawState = v.Primary.Attributes
				}
			}
		}
		fmt.Printf("raw state %s\n", rawState)
		project := tpgresource.GetResourceNameFromSelfLink(rawState["project"])
		repository := repositoryShortName(rawState["repository"])
		return fmt.Sprintf("projects/%s/repos/%s %s", project, repository, rawState["role"]) + acctest.ConditionTitleIfPresent(rawState), nil
	}
}

func generateSourceRepoRepositoryIAMMemberStateID(iamResourceAddr string) func(*terraform.State) (string, error) {
	return func(state *terraform.State) (string, error) {
		var rawState map[string]string
		for _, m := range state.Modules {
			if len(m.Resources) > 0 {
				if v, ok := m.Resources[iamResourceAddr]; ok {
					rawState = v.Primary.Attributes
				}
			}
		}
		fmt.Printf("raw state %s\n", rawState)
		project := tpgresource.GetResourceNameFromSelfLink(rawState["project"])
		repository := repositoryShortName(rawState["repository"])
		return fmt.Sprintf("projects/%s/repos/%s %s %s", project, repository, rawState["role"], rawState["member"]) + acctest.ConditionTitleIfPresent(rawState), nil
	}
}

func repositoryShortName(repository string) string {
	repositoryParts := strings.SplitN(repository, "/repos/", 2)
	if len(repositoryParts) == 2 {
		return repositoryParts[1]
	}
	return repository
}
