resource "google_iam_workforce_pool" "{{$.PrimaryResourceId}}" {
  workforce_pool_id = "{{index $.PrefixedVars "workforce_pool_id"}}"
  parent            = "organizations/{{index $.TestEnvVars "org_id"}}"
  location          = "global"
}
