resource "google_project_service_identity" "devconnect_p4sa" {
  provider = google-beta

  project  = "{{index $.TestEnvVars "project_id"}}"
  service  = "developerconnect.googleapis.com"
}

resource "google_project_iam_member" "devconnect_secret" {
  provider = google-beta
  project  = "{{index $.TestEnvVars "project_id"}}"
  role     = "roles/secretmanager.admin"
  member   = google_project_service_identity.devconnect_p4sa.member
}

resource "google_developer_connect_connection" "my_connection" {
  provider = google-beta
  project  = "{{index $.TestEnvVars "project_id"}}"
  location = "us-central1"
  connection_id = "{{index $.ResourceIdVars "connection_name"}}"
  github_config {
    github_app = "DEVELOPER_CONNECT"
  }
  depends_on = [google_project_iam_member.devconnect_secret]
}

resource "google_developer_connect_git_repository_link" "my_repository" {
  provider = google-beta
  project  = "{{index $.TestEnvVars "project_id"}}"
  location = "us-central1"
  git_repository_link_id = "{{index $.ResourceIdVars "repository_link_name"}}"
  parent_connection = google_developer_connect_connection.my_connection.connection_id
  clone_uri = "https://github.com/myaccount/myrepository.git"
}

resource "google_dataform_repository" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name = "{{index $.ResourceIdVars "dataform_repository_name"}}"
  display_name = "{{index $.ResourceIdVars "dataform_repository_name"}}"

  git_remote_settings {
      url = "https://github.com/myaccount/myrepository.git"
      default_branch = "main"
      git_repository_link = google_developer_connect_git_repository_link.my_repository.id
  }
}
