{{/*
	The license inside this block applies to this file
	Copyright 2025 Google Inc.
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/ -}}
	if res == nil {
		res = make(map[string]interface{})
	}
	
	// Handle description (dropped in CAI, often empty or missing)
	if _, ok := res["description"]; !ok {
		hclData["description"] = "unknown"
	}

	// Always provide at least empty map if missing to allow flatteners to process nested defaults
	if _, ok := res["standardIsolation"]; !ok {
		dbIso, ok := res["dataBoostIsolationReadOnly"].(map[string]interface{})
		if !ok || tgcresource.AllValuesAreNil(dbIso) {
			// Neither is fully present, ensure priority is mapped to satisfy required/missing fields
			res["standardIsolation"] = map[string]interface{}{
				"priority": "PRIORITY_HIGH",
			}
		}
	} else if _, ok := res["dataBoostIsolationReadOnly"]; !ok {
		stIso, ok := res["standardIsolation"].(map[string]interface{})
		if !ok || tgcresource.AllValuesAreNil(stIso) {
			// Do nothing for now, if standardIsolation is entirely nil it might be an issue.
		}
	}

	if _, ok := res["multiClusterRoutingUseAny"]; !ok {
		scr, ok := res["singleClusterRouting"].(map[string]interface{})
		if ok && !tgcresource.AllValuesAreNil(scr) {
			if _, ok := scr["clusterId"]; !ok {
				scr["clusterId"] = "unknown"
			}
			if _, ok := scr["allowTransactionalWrites"]; !ok {
				scr["allowTransactionalWrites"] = false
			}
		} else {
			// Neither routing present (or both empty). Give multi by default since we removed is_missing_in_cai
			hclData["multi_cluster_routing_use_any"] = true
			res["multiClusterRoutingUseAny"] = true
		}
	} else if _, ok := res["singleClusterRouting"]; !ok {
		mcrMap, mcrIsMap := res["multiClusterRoutingUseAny"].(map[string]interface{})
		if mcrIsMap && !tgcresource.AllValuesAreNil(mcrMap) {
			hclData["multi_cluster_routing_use_any"] = true
			if rowAffinity, hasAffinity := mcrMap["rowAffinity"]; hasAffinity && rowAffinity != nil {
				hclData["row_affinity"] = true
			} else {
				hclData["row_affinity"] = nil
			}

			if clusterIdsRaw, hasClusterIds := mcrMap["clusterIds"]; hasClusterIds && clusterIdsRaw != nil {
				if clusterIds, isSlice := clusterIdsRaw.([]interface{}); isSlice && len(clusterIds) > 0 {
					hclData["multi_cluster_routing_cluster_ids"] = clusterIds
				}
			}
		} else if _, isBool := res["multiClusterRoutingUseAny"].(bool); isBool {
			hclData["multi_cluster_routing_use_any"] = true
		}
	}

	return res, hclData, nil
