// Ignore `kms_key_names` if `kms_key_name` is set, because that field takes precedence.
if raw, ok := res["encryptionConfig"]; ok {
    v := raw.(map[string]interface{})
    if _, ok := v["kmsKeyName"]; ok {
        v["kmsKeyNames"] = nil
    }
    res["encryptionConfig"] = v
}

return res, hclData, nil