func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
	// password is not available in CAI assets (write-only field)
	// Return nil as it cannot be restored from CAI
	return nil
}
