func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
	if v == nil {
        // payload is missing in CAI asset, but it is required in Terraform provider.
    	transformed := map[string]interface{} {
			"payload": map[string]interface{} {
	        	"secretData": "unknown",
			},
        }
		return []interface{}{transformed}
	}

	return []interface{}{v}
}