func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
	if v == nil {
		return v
	}
	l := v.([]interface{})
	transformed := make([]interface{}, 0, len(l))
	for _, raw := range l {
		original := raw.(map[string]interface{})
        // externalIp is empty string in CAI assets when it is not provided in Terraform config.
        // In this case, it will not be converted and its parent access_config is not in the converted HCL.
        // Otherwise, the converted access_config is an empty block. But external_ip is a required field.
		if len(original) < 1 || original["externalIp"] == "" {
			// Do not include empty json objects coming back from the api
			continue
		}
		transformed = append(transformed, map[string]interface{}{
			"external_ip": original["externalIp"],
		})
	}
	return transformed
}