resource "google_active_directory_domain_trust" "ad-domain-trust" {
    domain     = "test-managed-ad.com"
    target_domain_name = "example-gcp.com"
    target_dns_ip_addresses = ["10.1.0.100"]
    trust_direction         = "OUTBOUND"
    trust_type              = "FOREST"
    trust_handshake_secret  = "Testing1!"
    deletion_protection = false
}