func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
	if v.(bool) {
        return "ENABLED", nil
    }
    return "DISABLED", nil
}
