resource "google_edgecontainer_cluster" "cluster" {
  name = "tf-lcp-cluster"
  location = "us-central1"

  authorization {
    admin_users {
      username = "admin@hashicorptest.com"
    }
  }

  networking {
    cluster_ipv4_cidr_blocks = ["10.16.0.0/16"]
    services_ipv4_cidr_blocks = ["10.17.0.0/16"]
  }

  fleet {
    project = "projects/${data.google_project.project.number}"
  }

  external_load_balancer_ipv4_address_pools = ["172.17.34.97-172.17.34.99"]

  control_plane {
    local {
      node_location = "us-central1-edge-den25349"
      node_count = 1
      shared_deployment_policy = "ALLOWED"
    }
  }
}

resource "google_edgecontainer_node_pool" "{{$.PrimaryResourceId}}" {
  name = "nodepool-1"
  cluster = google_edgecontainer_cluster.cluster.name
  location = "us-central1"
  node_location = "us-central1-edge-den25349"
  node_count = 1
}

data "google_project" "project" {}