resource "google_network_connectivity_hub" "{{$.PrimaryResourceId}}"  {
 name        = "{{index $.ResourceIdVars "resource_name"}}"
 description = "A sample star hub"
 labels = {
    label-one = "value-one"
  }
 preset_topology = "STAR"
  
}