	identity, err := d.Identity()
	if err != nil {
		return fmt.Errorf("Error getting identity: %s", err)
	}

{{- range $fieldName := $.CustomCode.CustomIdentityRead }}
	if v, ok := identity.GetOk("{{ $fieldName }}"); ok && v != "" {
		err = identity.Set("{{ $fieldName }}", d.Get("{{ $fieldName }}").(string))
		if err != nil {
			return fmt.Errorf("Error setting {{ $fieldName }}: %s", err)
		}
	}
{{- end }}