{{/* The license inside this block applies to this file
  Copyright 2024 Google LLC. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. */ -}}
// Copyright IBM Corp. 2014, 2026
// SPDX-License-Identifier: MPL-2.0
{{$.CodeHeader TemplatePath}}

package {{ lower $.ProductMetadata.Name }}

import (
	"github.com/hashicorp/terraform-plugin-framework/list"
    "github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
	"{{ $.ImportPath }}/tpgiamresource"
)

func New{{ $.ResourceName }}IamMemberResource() *schema.Resource {
    return tpgiamresource.ResourceIamMember(
        {{ $.ResourceName }}IamSchema,
        {{ $.ResourceName }}IamUpdaterProducer,
        {{ $.ResourceName }}IdParseFunc,
        tpgiamresource.IamWithParentResourceIdentity({{ $.ResourceName }}IamParentParentResourceIdentityParser),
    )
}

func New{{ $.ResourceName }}IamMemberListResource() list.ListResource {
    return tpgiamresource.NewIamMemberListResource(
        "google_{{ $.TerraformName }}_iam_member",
        New{{ $.ResourceName }}IamMemberResource(),
        {{ $.ResourceName }}IamUpdaterProducer,
        tpgiamresource.IamMemberListCallConfig{ 
        ParentResourceField: "{{ $.IamPolicy.ParentResourceAttribute }}",
        EnableRoleFilter:    true,
        EnableMemberFilter:  true,
    },
 )

}

