{{/*# The license inside this block applies to this file.
  # Copyright 2024 Google Inc.
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
*/}}

package {{ lower $.ProductMetadata.Name }}

import (
	"context"

	// This shouldn't be from the cloud pkg but instead an internal package within magicmodules (e.g tpgresource/...)
	"github.com/hashicorp/terraform-plugin-framework/list"
	listschema "github.com/hashicorp/terraform-plugin-framework/list/schema"
	"github.com/hashicorp/terraform-plugin-framework/resource"
	"github.com/hashicorp/terraform-plugin-sdk/v2/terraform"
	"google.golang.org/api/iterator"

	"github.com/hashicorp/terraform-provider-google/google/tpgresource"
)

var _ tpgresource.ListResourceWithRawV5Schemas = &{{ $.ResourceName -}}ListResource{}

type {{ $.ResourceName -}}ListResource struct {
	tpgresource.ListResourceMetadata
}

func New{{ $.ResourceName -}}ListResource() list.ListResource {
	return &{{ $.ResourceName -}}ListResource{}
}

func (r *{{ $.ResourceName -}}ListResource) Metadata(_ context.Context, _ resource.MetadataRequest, resp *resource.MetadataResponse) {
	resp.TypeName = "google_{{ $.ProductMetadata.TerraformName -}}_{{ $.Name -}}"
}

func (r *{{ $.ResourceName -}}ListResource) RawV5Schemas(ctx context.Context, _ list.RawV5SchemaRequest, resp *list.RawV5SchemaResponse) {
	{{ $.ResourceName -}} := Resource{{ $.ResourceName -}}()
	resp.ProtoV5Schema = {{ $.ResourceName -}}.ProtoSchema(ctx)()
	resp.ProtoV5IdentitySchema = {{ $.ResourceName -}}.ProtoIdentitySchema(ctx)()
}

func (r *{{ $.ResourceName -}}ListResource) Configure(_ context.Context, req resource.ConfigureRequest, resp *resource.ConfigureResponse) {
	r.Defaults(req, resp)
}

func (r *{{ $.ResourceName -}}ListResource) ListResourceConfigSchema(ctx context.Context, _ list.ListResourceSchemaRequest, resp *list.ListResourceSchemaResponse) {
	resp.Schema = listschema.Schema{
		Attributes: map[string]listschema.Attribute{
            {{- range $identity := $.IdentityProperties }} // we can't rely on this because of some resources not containing all the possible parent combinations for list, we should rely more on `base_url`
			"{{ $identity.Name }}": listschema.StringAttribute{
				Optional: true,
			},
            {{- end }},
			~> we need logic to determine whether we can add filter support here or not
			<!-- {{ if or (not $.ExcludeFilter) ($.CustomFilter) -}} -->
			"filter": listschema.StringAttribute{
				Optional: true,
			},
			<!-- {{ end }} -->
		},
	}
}

type {{ $.ResourceName -}}ListModel struct {
    {{- range $identity := $.IdentityProperties }}
	{{ $identity.Name }} string `tfsdk:"{{ $identity.Name }}"`
    {{- end }}
}

{{ if $.CustomListMethod }}
	{{ $.CustomTemplate $.CustomListMethod false -}}
{{ else }}
	func List{{ $.ResourceName -}}s(ctx context.Context, req list.ListRequest) {
		client := r.Client.New{{ $.ResourceName -}}sClient(r.Client.UserAgent)

		listReq := {{lower $.ProductMetadata.Name }}.List{{ $.Name -}}sRequest{
			{{if $.NonParent }}
			Parent: {{ $.ParentResourceName}},
			{{else}}
			{{- range $identity := $.IdentityProperties }}
			{{ $identity.Name }}: data.{{ $identity.Name }},
			{{- end }}
			{{ if not (or $.ExcludeFilter $.CustomFilter) -}}
			Filter: data.Filter
			{{ end }}
			{{ end }}
		}

		it := client.List{{ $.Name -}}s(ctx, &listReq)

		for {
			resp, err := it.Next()
			if err == iterator.Done {
				break
			} else if err != nil {
				diags.AddError("API Error", err.Error())
				break
			}

		}
	}
{{ end }}

func (r *{{ $.ResourceName -}}ListResource) List(ctx context.Context, req list.ListRequest, stream *list.ListResultsStream) {
	var data {{ $.ResourceName -}}ListModel
	diags := req.Config.Get(ctx, &data)
	if diags.HasError() {
		stream.Results = list.ListResultsStreamDiagnostics(diags)
		return
	}

    /* INSERT IDENTITY SETTING GENERATION CODE HERE */


	stream.Results = func(push func(list.ListResult) bool) {

		LIST METHOD (func(){

			result := req.NewListResult(ctx)
			result.DisplayName = resp.Name

			{{ $.ResourceName -}}Resource := Resource{{ $.ResourceName -}}()
			rd := {{ $.ResourceName -}}Resource.Data(&terraform.InstanceState{})
			rd.SetId(resp.Name)

            /* INSERT IDENTITY SETTING GENERATION CODE HERE */

				tfTypeIdentity, err := rd.TfTypeIdentityState()
				if err != nil {
					diags.AddError("error getting identity state", err.Error())
					break
				}
				if err := result.Identity.Set(ctx, *tfTypeIdentity); err != nil {
					diags = err
					break
				}

				tfTypeResource, err := rd.TfTypeResourceState()
				if err != nil {
					diags.AddError("error getting resource state", err.Error())
					break
				}
				if err := result.Resource.Set(ctx, *tfTypeResource); err != nil {
					diags = err
					break
				}

				if !push(result) {
					diags.AddError("stream closed", "stream closed")
					break
				}
			}
			
		)}

		stream.Results = list.ListResultsStreamDiagnostics(diags)
	}
