{{/* The license inside this block applies to this file
  Copyright 2024 Google LLC. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. */ -}}
// Copyright IBM Corp. 2014, 2026
// SPDX-License-Identifier: MPL-2.0

{{$.CodeHeader TemplatePath}}

package {{ lower $.ProductMetadata.Name }}

import (
	"context"
	"errors"
	"fmt"
	"net/http"
	"regexp"
{{- if and $.HasProject $.LegacyLongFormProject }}
	"strings"
{{- end }}

	"github.com/hashicorp/terraform-plugin-framework/list"
	listschema "github.com/hashicorp/terraform-plugin-framework/list/schema"
	"github.com/hashicorp/terraform-plugin-framework/types"
	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
	"github.com/hashicorp/terraform-plugin-sdk/v2/terraform"

	"{{ $.ImportPath }}/tpgresource"
	transport_tpg "{{ $.ImportPath }}/transport"
)

var _ tpgresource.ListResourceWithRawV5Schemas = &{{ $.ResourceName -}}ListResource{}

type {{ $.ResourceName -}}ListResource struct {
	tpgresource.ListResourceMetadata
}

func New{{ $.ResourceName -}}ListResource() list.ListResource {
	r := &{{ $.ResourceName -}}ListResource{}
	r.TypeName = "{{ $.TerraformName }}"
	r.ResourceSchema = Resource{{ $.ResourceName -}}()
	r.IdentityAttributes = []string{
{{- range $identity := $.IdentityProperties }}
		"{{ underscore $identity.Name }}",
{{- end }}
	}
	return r
}

func (r *{{ $.ResourceName -}}ListResource) ListResourceConfigSchema(ctx context.Context, _ list.ListResourceSchemaRequest, resp *list.ListResourceSchemaResponse) {
	resp.Schema = listschema.Schema{
		Attributes: map[string]listschema.Attribute{
{{- range $scope := $.ListScopeProperties }}
			"{{ underscore $scope.Name }}": listschema.StringAttribute{
				Optional: true,
			},
{{- end }}
		},
	}
}

type {{ $.ResourceName -}}ListModel struct {
{{- range $scope := $.ListScopeProperties }}
	{{ $scope.TitlelizeProperty }} types.String `tfsdk:"{{ underscore $scope.Name }}"`
{{- end }}
}

func (r *{{ $.ResourceName -}}ListResource) List(ctx context.Context, req list.ListRequest, stream *list.ListResultsStream) {
	var data {{ $.ResourceName -}}ListModel
	diags := req.Config.Get(ctx, &data)
	if diags.HasError() {
		stream.Results = list.ListResultsStreamDiagnostics(diags)
		return
	}

{{- range $scope := $.ListScopeProperties }}
{{- if eq $scope.Name "project" }}
	{{ $scope.CamelizeProperty }} := r.GetProject(data.{{ $scope.TitlelizeProperty }})
{{- else if eq $scope.Name "region" }}
	{{ $scope.CamelizeProperty }} := r.GetRegion(data.{{ $scope.TitlelizeProperty }})
{{- else if eq $scope.Name "zone" }}
	{{ $scope.CamelizeProperty }} := r.GetZone(data.{{ $scope.TitlelizeProperty }})
{{- else if eq $scope.Name "location" }}
	{{ $scope.CamelizeProperty }} := r.GetLocation(data.{{ $scope.TitlelizeProperty }})
{{- else }}
	var {{ $scope.CamelizeProperty }} string
	if !data.{{ $scope.TitlelizeProperty }}.IsNull() && !data.{{ $scope.TitlelizeProperty }}.IsUnknown() {
		{{ $scope.CamelizeProperty }} = data.{{ $scope.TitlelizeProperty }}.ValueString()
	}
{{- end }}
{{- end }}

	stream.Results = func(push func(list.ListResult) bool) {
		err := List{{ $.ResourceName }}s(
			r.Client,
{{- range $scope := $.ListScopeProperties }}
			{{ $scope.CamelizeProperty }},
{{- end }}
			func(rd *schema.ResourceData) error {
				result := req.NewListResult(ctx)

				if n, ok := rd.GetOk("name"); ok {
					if s, ok := n.(string); ok {
						result.DisplayName = s
					}
				}

				if err := r.SetResult(ctx, req.IncludeResource, &result, rd); err != nil {
					return err
				}

				if !push(result) {
					return errors.New("stream closed")
				}
				return nil
			},
		)
		if err != nil {
			diags.AddError("API Error", err.Error())
			result := req.NewListResult(ctx)
			result.Diagnostics = diags
			push(result)
		}
		stream.Results = list.ListResultsStreamDiagnostics(diags)
	}
}

{{ template "listResourceMethod" $ }}
