{{ "" }}
* `{{ underscore $.Name }}` -
  {{- if and (eq $.MinVersion "beta") (not (eq $.ResourceMetadata.MinVersion "beta")) }}
    {{- if $.Required }}
  (Required, [Beta](https://terraform.io/docs/providers/google/guides/provider_versions.html){{ if $.DeprecationMessage }}, Deprecated{{ end }})
    {{- else if not $.Output }}
  (Optional, [Beta](https://terraform.io/docs/providers/google/guides/provider_versions.html){{ if $.DeprecationMessage }}, Deprecated{{ end }})
    {{- else if and $.Output $.ParentMetadata }}
  (Output, [Beta](https://terraform.io/docs/providers/google/guides/provider_versions.html){{ if $.DeprecationMessage }}, Deprecated{{ end }})
    {{- else }}
  ([Beta](https://terraform.io/docs/providers/google/guides/provider_versions.html){{ if $.DeprecationMessage }}, Deprecated{{ end }})
    {{- end}}
  {{- else }}    
    {{- if $.Required }}
  (Required{{ if $.DeprecationMessage }}, Deprecated{{ end }})
    {{- else if not $.Output }}
  (Optional{{ if $.DeprecationMessage }}, Deprecated{{ end }})
    {{- else if and $.Output $.ParentMetadata }}
  (Output{{ if $.DeprecationMessage }}, Deprecated{{ end }})
    {{- else if $.DeprecationMessage }}
  (Deprecated)
    {{- end}}
  {{- end }}
  {{- $.ResourceMetadata.FormatDocDescription $.GetDescription true -}}
  {{- if and (and ($.IsA "Array") ($.ItemType.IsA "Enum")) (and (not $.Output) (not $.ItemType.ExcludeDocsValues))}}
    {{- if $.ItemType.DefaultValue }}
  Default value is `{{ $.ItemType.DefaultValue }}`.
    {{- end }}
  Each value may be one of: {{ $.ItemType.EnumValuesToString "`" false }}.
  {{- else if and ($.IsA "Enum") (and (not $.Output) (not $.ExcludeDocsValues))}}
    {{- if $.DefaultValue }}
  Default value is `{{ $.DefaultValue }}`.
    {{- end }}
  Possible values are: {{ $.EnumValuesToString "`" false }}.
  {{- end }}
  {{- if $.Sensitive }}
  **Note**: This property is sensitive and will not be displayed in the plan.
  {{- end }}
  {{- if $.WriteOnlyLegacy }}
  **Note**: This property is write-only and will not be read from the API.
  {{- end }}
  {{- if and (not $.FlattenObject) $.NestedProperties }}
  Structure is [documented below](#nested_{{ $.LineageAsSnakeCase}}).
  {{- end }}
  {{- if $.DeprecationMessage }}

  ~> **Warning:** {{ $.DeprecationMessage }}
  {{- end -}}
{{ "" }}