{{ "" }}
* `{{ underscore $.Name }}` -
  {{- if not (eq (len $.FieldType) 0) }}
  ({{- join $.FieldType ", " -}})
  {{- end }}
  {{- $.ResourceMetadata.FormatDocDescription $.GetDescription true -}}
  {{- if and (and ($.IsA "Array") ($.ItemType.IsA "Enum")) (and (not $.Output) (not $.ItemType.ExcludeDocsValues))}}
    {{- if $.ItemType.DefaultValue }}
  Default value is `{{ $.ItemType.DefaultValue }}`.
    {{- end }}
  Each value may be one of: {{ $.ItemType.EnumValuesToString "`" false }}.
  {{- else if and ($.IsA "Enum") (and (not $.Output) (not $.ExcludeDocsValues))}}
    {{- if $.DefaultValue }}
  Default value is `{{ $.DefaultValue }}`.
    {{- end }}
  Possible values are: {{ $.EnumValuesToString "`" false }}.
  {{- end }}
  {{- if $.Sensitive }}
  **Note**: This property is sensitive and will not be displayed in the plan.
  {{- end }}
  {{- if or $.WriteOnlyLegacy $.WriteOnly }}
  **Note**: This property is write-only and will not be read from the API.

  * ~> **Note:** One of `{{ underscore $.ApiName }}` or `{{ underscore $.ApiName }}_wo` can only be set.
  {{- end }}