resource "google_network_security_ull_mirroring_engine" "{{$.PrimaryResourceId}}" {
  ull_mirroring_engine_id = "{{index $.ResourceIdVars "ull_mirroring_engine_id"}}"
  location                = "us-south1-d"
  labels = {
    foo = "bar"
  }
}
