resource "google_network_security_security_profile_group" "{{$.PrimaryResourceId}}" {
  provider                  = google-beta
  name                      = "{{index $.ResourceIdVars "security_profile_group_name"}}"
  parent                    = "projects/{{index $.TestEnvVars "project"}}"
  description               = "my updated description"
  threat_prevention_profile = google_network_security_security_profile.threat_prevention_profile.id

  labels = {
    foo = "updated"
  }
}

resource "google_network_security_security_profile" "threat_prevention_profile" {
  provider = google-beta
  name     = "{{index $.ResourceIdVars "threat_prevention_profile_name"}}"
  type     = "THREAT_PREVENTION"
  parent   = "projects/{{index $.TestEnvVars "project"}}"
  location = "global"
}

resource "google_network_security_security_profile" "wildfire_profile" {
  provider = google-beta
  name     = "{{index $.ResourceIdVars "wildfire_profile_name"}}"
  type     = "WILDFIRE_ANALYSIS"
  parent   = "projects/{{index $.TestEnvVars "project"}}"
  location = "global"

  wildfire_analysis_profile {
    wildfire_realtime_lookup = true

    wildfire_submission_rules {
      direction           = "BOTH"
      file_selection_mode = "ALL_FILE_TYPES"
    }
  }
}

resource "google_network_security_security_profile" "wildfire_profile_updated" {
  provider = google-beta
  name     = "{{index $.ResourceIdVars "wildfire_profile_updated_name"}}"
  type     = "WILDFIRE_ANALYSIS"
  parent   = "projects/{{index $.TestEnvVars "project"}}"
  location = "global"

  wildfire_analysis_profile {
    wildfire_realtime_lookup = false

    wildfire_submission_rules {
      direction           = "DOWNLOAD"
      file_selection_mode = "CUSTOM_FILE_TYPES"
      custom_file_types {
        file_types = ["PDF", "SCRIPT"]
      }
    }
  }
}
