resource "google_network_security_security_profile" "threat" {
  provider = google-beta

  name     = "{{index $.ResourceIdVars "threat_profile_name"}}"
  parent   = "organizations/{{index $.TestEnvVars "org_id"}}"
  location = "global"

  type = "THREAT_PREVENTION"
}

resource "google_network_security_security_profile" "wildfire" {
  provider = google-beta

  name     = "{{index $.ResourceIdVars "profile_name"}}"
  parent   = "organizations/{{index $.TestEnvVars "org_id"}}"
  location = "global"

  type = "WILDFIRE_ANALYSIS"
  wildfire_analysis_profile {
    wildfire_realtime_lookup = false
  }
}

resource "google_network_security_security_profile_group" "{{$.PrimaryResourceId}}" {
  provider = google-beta

  name        = "{{index $.ResourceIdVars "profile_group_name"}}"
  parent      = "organizations/{{index $.TestEnvVars "org_id"}}"
  location    = "global"
  description = "{{index $.ResourceIdVars "group_description"}}"

  threat_prevention_profile = google_network_security_security_profile.threat.id
  wildfire_analysis_profile = google_network_security_security_profile.wildfire.id
}
