## Missing test report
Your PR includes resource fields which are not covered by any test.
{{ range $resourceName, $missingTestInfo := . }}
Resource: `{{ $resourceName }}` ({{ len $missingTestInfo.Tests }} total tests)
Please add an acceptance test which includes these fields. The test should include the following:

```hcl
{{ $missingTestInfo.SuggestedTest }}
```

{{- end }}
