validation.PreferWriteOnlyAttribute(cty.GetAttrPath("disk_encryption_key").IndexAt(0).GetAttr("raw_key"),cty.GetAttrPath("disk_encryption_key_wo").IndexAt(0).GetAttr("raw_key_wo")),
validation.PreferWriteOnlyAttribute(cty.GetAttrPath("disk_encryption_key").IndexAt(0).GetAttr("rsa_encrypted_key"),cty.GetAttrPath("disk_encryption_key_wo").IndexAt(0).GetAttr("rsa_encrypted_key_wo"))

