resource "google_secure_source_manager_instance" "instance" {
  location = "us-central1"
  instance_id = "{{index $.ResourceIdVars "instance_id"}}"
  deletion_policy = "{{index $.ResourceIdVars "deletion_policy"}}"
}

resource "google_data_loss_prevention_inspect_template" "template" {
  parent       = "projects/{{index $.TestEnvVars "project"}}/locations/us-central1"
  display_name = "Test Inspect Template"

  inspect_config {
    info_types {
      name = "EMAIL_ADDRESS"
    }
  }
}

data "google_project" "project" {
}

resource "google_project_iam_member" "ssm_p4sa_dlp_reader" {
  project = data.google_project.project.project_id
  role    = "roles/dlp.inspectTemplatesReader"
  member  = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-sourcemanager.iam.gserviceaccount.com"
}

resource "google_secure_source_manager_repository" "{{$.PrimaryResourceId}}" {
  location = "us-central1"
  repository_id = "{{index $.ResourceIdVars "repository_id"}}"
  instance = google_secure_source_manager_instance.instance.name
  deletion_policy = "{{index $.ResourceIdVars "deletion_policy"}}"

  scan_config {
    secret_scan_config {
      enabled          = true
      inspect_template = google_data_loss_prevention_inspect_template.template.id
    }
  }

  depends_on = [
    google_project_iam_member.ssm_p4sa_dlp_reader,
  ]
}
