// security_policy isn't set by Create / Update
if o, n := d.GetChange("edge_security_policy"); o.(string) != n.(string) {
		pol, err := tpgresource.ParseSecurityPolicyFieldValue(n.(string), d, config)
  if err != nil {
    return errwrap.Wrapf("Error parsing Backend Service security policy: {{"{{"}}err{{"}}"}}", err)
  }

  spr := emptySecurityPolicyReference()
  spr.SecurityPolicy = pol.RelativeLink()
  op, err := config.NewComputeClient(userAgent).BackendBuckets.SetEdgeSecurityPolicy(project, obj["name"].(string), spr).Do()
  if err != nil {
    return errwrap.Wrapf("Error setting Backend Service security policy: {{"{{"}}err{{"}}"}}", err)
  }
  // This uses the create timeout for simplicity, though technically this code appears in both create and update
  waitErr := ComputeOperationWaitTime(config, op, project, "Setting Backend Service Security Policy", userAgent, d.Timeout(schema.TimeoutCreate))
  if waitErr != nil {
    return waitErr
  }
}
