{% import "vars.tmpl" as vars %}

resource_types:
    - name: merged-downstreams
      type: docker-image
      source:
          repository: gcr.io/magic-modules/merged-prs-resource
          tag: '1.1'

    - name: git-branch
      type: docker-image
      source:
          repository: gcr.io/magic-modules/concourse-git-resource
          tag: '1.0'

    - name: github-pull-request
      type: docker-image
      source:
          repository: gcr.io/magic-modules/concourse-github-pr-resource
          tag: '1.1'

resources:
    - name: magic-modules
      type: git-branch
      source:
          uri: git@github.com:((github-account.username))/magic-modules.git
          private_key: ((repo-key.private_key))

    - name: magic-modules-gcp
      type: git-branch
      source:
          uri: git@github.com:GoogleCloudPlatform/magic-modules.git
          private_key: ((repo-key.private_key))

    - name: magic-modules-new-external-prs
      type: github-pull-request
      source:
          repo: GoogleCloudPlatform/magic-modules
          private_key: ((repo-key.private_key))
          access_token: ((github-account.password))
          community_only: true
          no_label: community
          base: master

    - name: magic-modules-external-prs
      type: github-pull-request
      source:
          repo: GoogleCloudPlatform/magic-modules
          private_key: ((repo-key.private_key))
          access_token: ((github-account.password))
          community_only: true
          base: master

    - name: magic-modules-new-prs
      type: github-pull-request
      source:
          repo: GoogleCloudPlatform/magic-modules
          private_key: ((repo-key.private_key))
          access_token: ((github-account.password))
          authorship_restriction: true
          no_label: automerged
          base: master

    - name: magic-modules-3.0-prs
      type: github-pull-request
      source:
          repo: GoogleCloudPlatform/magic-modules
          private_key: ((repo-key.private_key))
          access_token: ((github-account.password))
          authorship_restriction: true
          no_label: automerged
          base: 3.0.0

{% for v in vars.terraform_v.itervalues() %}
    - name: {{ v.short_name }}-intermediate
      type: git-branch
      source:
          uri: git@github.com:((github-account.username))/{{ v.provider_name }}.git
          private_key: ((repo-key.private_key))
{% endfor %}

    - name: ansible-intermediate
      type: git-branch
      source:
          uri: git@github.com:((github-account.username))/ansible_collections_google.git
          private_key: ((repo-key.private_key))

    - name: inspec-intermediate
      type: git-branch
      source:
          uri: git@github.com:((github-account.username))/inspec-gcp.git
          private_key: ((repo-key.private_key))

    - name: mm-approved-prs
      type: github-pull-request
      source:
          repo: GoogleCloudPlatform/magic-modules
          private_key: ((repo-key.private_key))
          access_token: ((github-account.password))
          only_mergeable: true
          require_review_approval: true
          check_dependent_prs: true
          label: downstream-generated
          base: master

    - name: merged-prs
      type: merged-downstreams
      check_every: 5m
      source:
        repo: GoogleCloudPlatform/magic-modules
        token: ((github-account.password))

jobs:
    - name: respond-to-community-pr
      plan:
          - get: magic-modules-new-external-prs
            trigger: true
          - get: magic-modules-gcp
            # NOTE: we do NOT run a script from the external PR!
          - task: write-welcome-message
            file: magic-modules-gcp/.ci/magic-modules/welcome-contributor.yml
          - put: magic-modules-external-prs
            params:
                status: pending
                path: magic-modules-new-external-prs
                label: community
                comment: comment/pr_comment
                assignee_file: comment/assignee
            get_params:
                skip_clone: true

    - name: authorize-single-rev
      plan:
          - get: magic-modules-external-prs
            trigger: false
          - put: magic-modules-new-prs
            params:
                status: pending
                path: magic-modules-external-prs
            get_params:
                skip_clone: true

    - name: mm-3.0-diff
      plan:
          - get: magic-modules
            resource: magic-modules-3.0-prs
            version: every
            trigger: true
            attempts: 2
            params:
              fetch_merge: true
            # This isn't strictly-speaking necessary - we aren't actually
            # pushing this anywhere - but it lets us reuse all the other
            # generation stuff.
          - aggregate:
              # consumes: magic-modules (detached HEAD)
              # produces: magic-modules-branched (new branch, with submodule)
            - task: branch-magic-modules
              file: magic-modules/.ci/magic-modules/branch.yml
              params:
                GH_TOKEN: ((github-account.password))
                CREDS: ((repo-key.private_key))
                ALL_SUBMODULES: {{' '.join(vars.all_submodules)}}
                INCLUDE_PREVIOUS: true
            - put: magic-modules-3.0-prs
              params:
                status: pending
                path: magic-modules
              get_params:
                skip_clone: true

          - aggregate:
{% for k, v in vars.terraform_v.iteritems() %}
            - do:
                # consumes: magic-modules-branched
                # produces: terraform-generated
                - task: diff-{{v.short_name}}
                  file: magic-modules-branched/.ci/magic-modules/diff-terraform.yml
                  params:
                    VERSION: {{k}}
                    PROVIDER_NAME: {{v.provider_name}}
                    SHORT_NAME: {{v.short_name}}
                    GITHUB_ORG: {{v.github_org}}
                    OVERRIDE_PROVIDER: {{v.override_provider}}

                - put: {{v.short_name}}-intermediate
                  params:
                      repository: terraform-diff/{{k}}/new
                      branch_file: magic-modules-branched/branchname
                      force: true
                  get_params:
                      skip_clone: true

                - put: {{v.short_name}}-intermediate
                  params:
                      repository: terraform-diff/{{k}}/old
                      branch_file: magic-modules-previous/branchname
                      force: true
                  get_params:
                      skip_clone: true

                - task: test-{{v.short_name}}
                  file: magic-modules-branched/.ci/unit-tests/tf-3.yml
                  timeout: 30m
                  params:
                      PROVIDER_NAME: {{v.provider_name}}
                      TEST_DIR: {{v.test_dir}}
                      SUBDIR: {{k}}

{% endfor %}

            on_failure:
              put: magic-modules-3.0-prs
              params:
                status: failure
                context: code-generation
                path: magic-modules-3.0-prs
              get_params:
                skip_clone: true

          - task: create-message
            file: magic-modules-branched/.ci/magic-modules/create-diff-message.yml

          - put: magic-modules-3.0-prs
            params:
                status: success
                path: magic-modules
                comment: message/message.txt
            get_params:
                skip_clone: true



    - name: mm-generate
      plan:
          - get: magic-modules
            resource: magic-modules-new-prs
            version: every
            trigger: true
            attempts: 2
            params:
              fetch_merge: true
          - aggregate:
            - get: patches
              resource: merged-prs
              # consumes: magic-modules (detached HEAD)
              # produces: magic-modules-branched (new branch, with submodule)
            - task: branch-magic-modules
              file: magic-modules/.ci/magic-modules/branch.yml
              params:
                GH_TOKEN: ((github-account.password))
                CREDS: ((repo-key.private_key))
                ALL_SUBMODULES: {{' '.join(vars.all_submodules)}}
            - put: magic-modules-new-prs
              params:
                status: pending
                path: magic-modules
              get_params:
                skip_clone: true
          - aggregate:
{% for k, v in vars.terraform_v.iteritems() %}
            - do:
                # consumes: magic-modules-branched
                # produces: terraform-generated
              - task: generate-{{v.short_name}}
                file: magic-modules-branched/.ci/magic-modules/generate-terraform.yml
                params:
                  VERSION: {{k}}
                  PROVIDER_NAME: {{v.provider_name}}
                  SHORT_NAME: {{v.short_name}}
                  GITHUB_ORG: {{v.github_org}}
                  OVERRIDE_PROVIDER: {{v.override_provider}}
              # Puts 'terraform-generated' into the robot's fork.
              - aggregate:
                - put: {{v.short_name}}-intermediate
                  params:
                      repository: terraform-generated/{{k}}
                      branch_file: magic-modules-branched/branchname
                      only_if_diff: true
                      force: true
                  get_params:
                      skip_clone: true
{% endfor %}
            - do:
                # consumes: magic-modules-branched
                # produces: ansible-generated
              - task: generate-ansible
                file: magic-modules-branched/.ci/magic-modules/generate-ansible.yml
              # Puts 'ansible-generated' into the robot's fork.
              - put: ansible-intermediate
                params:
                    repository: ansible-generated
                    branch_file: magic-modules-branched/branchname
                    only_if_diff: true
                    force: true
                get_params:
                    skip_clone: true
            - do:
                # consumes: magic-modules-branched
                # produces: inspec-generated
              - task: generate-inspec
                file: magic-modules-branched/.ci/magic-modules/generate-inspec.yml
              # Puts 'inspec-generated' into the robot's fork.
              - put: inspec-intermediate
                params:
                    repository: inspec-generated
                    branch_file: magic-modules-branched/branchname
                    only_if_diff: true
                    force: true
                get_params:
                    skip_clone: true
            on_failure:
              put: magic-modules-new-prs
              params:
                status: failure
                context: code-generation
                path: magic-modules
              get_params:
                skip_clone: true

            # consumes: magic-modules-branched
            # produces: magic-modules-submodules
          - task: point-to-submodules
            file: magic-modules-branched/.ci/magic-modules/point-to-submodules.yml
            params:
                # This needs to match the username for the 'intermediate' resources.
                GH_USERNAME: ((github-account.username))
                CREDS: ((repo-key.private_key))
                TERRAFORM_VERSIONS: "{{','.join(vars.terraform_properties_serialized)}}"
                TERRAFORM_ENABLED: true
                ANSIBLE_ENABLED: true
                INSPEC_ENABLED: true

          # Push the magic modules branch that contains the updated submodules.
          - put: magic-modules
            params:
                repository: magic-modules-submodules
                branch_file: magic-modules-branched/branchname
                force: true
            get_params:
                skip_clone: true

    - name: terraform-test
      plan:
        - get: magic-modules
          version: every
          trigger: true
          params:
              submodules: [{{','.join(vars.terraform_submodules)}}]
          passed: [mm-generate]
        - aggregate:
{% for v in vars.terraform_v.itervalues() %}
          - task: test-{{v.short_name}}
            file: magic-modules/.ci/unit-tests/task.yml
            timeout: 30m
            params:
              PROVIDER_NAME: {{v.provider_name}}
              SHORT_NAME: {{v.short_name}}
              TEST_DIR: {{v.test_dir}}
{% endfor %}
          on_failure:
              do:
              - get: magic-modules-new-prs
                passed: [mm-generate]
              - put: magic-modules-new-prs
                params:
                  status: failure
                  context: terraform-tests
                  path: magic-modules-new-prs
                get_params:
                  skip_clone: true

    - name: inspec-unit-test
      plan:
        - get: magic-modules-new-prs
          passed: [mm-generate]
        - get: magic-modules
          version: every
          trigger: true
          params:
            submodules: [build/inspec]
          passed: [mm-generate]
        - task: test
          file: magic-modules/.ci/unit-tests/inspec.yml
          timeout: 30m
          params:
            TERRAFORM_KEY: ((terraform-key))
            PROJECT_NAME: ((inspec-project-name))
            PROJECT_NUMBER: ((inspec-project-number))

    - name: create-prs
      plan:
          - get: magic-modules
            version: every
            trigger: true
            params:
                submodules: {{vars.all_submodules_yaml_format}}
            passed:
              - mm-generate
          - get: mm-initial-pr
            attempts: 2
            resource: magic-modules-new-prs
            passed: [mm-generate]
            version: every
          # This task either uses the 'hub' cli to create a PR from the generated repo,
          # or, if a PR already exists, it uses 'git branch -f' to update the branch
          # that PR is from to point at the commit generated earlier from this run
          # of the pipeline.
          - task: write-original-branch-name
            file: mm-initial-pr/.ci/magic-modules/write-branch-name.yml
          # This will be a no-op the first time through the pipeline.  This pushes the updated
          # branch named "codegen-pr-$MM_PR_NUMBER" to the downstream terraform repo.  The
          # first time through the pipeline, that branch is unchanged by the create-prs task,
          # because a new PR has just been created from that branch.  The second time through
          # the pipeline (when a PR needs to be updated), this does that updating by pushing
          # the new code to the repository/branch from which a pull request is already open.
          - aggregate:
{% for v in vars.terraform_v.itervalues() %}
            - put: {{v.short_name}}-intermediate
              params:
                repository: magic-modules/build/{{ v.short_name }}
                branch_file: branchname/original_pr_branch_name
                # Every time a change runs through this pipeline, it will generate a commit with
                # a different hash - the hash includes timestamps.  Therefore, even if there's no
                # code diff, this push will update terraform's pending PR on every update to the
                # magic-modules PR.  With this 'only_if_diff' feature, if the change to the
                # magic-modules PR does not require an update to the terraform PR, this will
                # not push the update even though the commit hashes are different.
                only_if_diff: true
                force: true
              get_params:
                  skip_clone: true
{% endfor %}
            - put: ansible-intermediate
              params:
                repository: magic-modules/build/ansible
                branch_file: branchname/original_pr_branch_name
                # See comment on terraform-intermediate
                only_if_diff: true
                force: true
              get_params:
                  skip_clone: true
            - put: inspec-intermediate
              params:
                repository: magic-modules/build/inspec
                branch_file: branchname/original_pr_branch_name
                # See comment on terraform-intermediate
                only_if_diff: true
                force: true
              get_params:
                  skip_clone: true
          - task: create-or-update-pr
            file: magic-modules/.ci/magic-modules/create-pr.yml
            params:
                GITHUB_TOKEN: ((github-account.password))
                # This is what tells us which terraform repo to write PRs against - this
                # is what you change if you want to test this in a non-live environment.
                ANSIBLE_REPO_USER: ansible-collections
                INSPEC_REPO_USER: modular-magician
                TERRAFORM_VERSIONS: "{{','.join(vars.terraform_properties_serialized)}}"
            on_failure:
              put: magic-modules-new-prs
              params:
                  status: failure
                  context: pr-creation
                  path: mm-initial-pr
              get_params:
                  skip_clone: true
          - put: magic-modules
            params:
              repository: magic-modules/
              branch_file: branchname/original_pr_branch_name
              only_if_diff: true
              force: true
            get_params:
                skip_clone: true
          # Once everything is done and working, post the updated information to the
          # magic-modules PR.
          - put: magic-modules-new-prs
            params:
                status: success
                label: downstream-generated
                path: mm-initial-pr
                comment: magic-modules-with-comment/pr_comment
                label_file: magic-modules-with-comment/label_file
            get_params:
                skip_clone: true
          # Downstream changelog metadata
          - task: downstream-changelog-metadata
            file: magic-modules-with-comment/.ci/magic-modules/downstream-changelog-metadata.yml
            params:
              GITHUB_TOKEN: ((github-account.password))
              DOWNSTREAM_REPOS: "{{','.join(vars.downstreams_with_changelogs)}}"
    - name: terraform-acceptance-tests
      plan:
        - get: magic-modules
          version: every
          trigger: true
          params:
              submodules: [{{', '.join(vars.terraform_submodules)}}]
          passed: [create-prs]
        - aggregate:
{% for v in vars.terraform_v.itervalues() %}
          - task: test-{{v.short_name}}
            file: magic-modules/.ci/acceptance-tests/terraform-acceptance.yml
            params:
              PROVIDER_NAME: {{v.provider_name}}
              SHORT_NAME: {{v.short_name}}
              TEST_DIR: {{v.test_dir}}
{% endfor %}

    - name: merge-prs
      plan:
          - get: mm-approved-prs
            attempts: 2
          - task: downstream-changelog-metadata
            file: mm-approved-prs/.ci/magic-modules/downstream-changelog-metadata-mergeprs.yml
            params:
              GITHUB_TOKEN: ((github-account.password))
              DOWNSTREAM_REPOS: "{{','.join(vars.downstreams_with_changelogs)}}"
          - task: ensure-downstreams-merged
            file: mm-approved-prs/.ci/magic-modules/ensure-downstreams-merged.yml
            params:
                GH_TOKEN: ((github-account.password))
          - put: mark-automerged
            resource: mm-approved-prs
            params:
              path: mm-approved-prs
              status: success
              label: automerged
            get_params:
              skip_clone: true
          - task: rebase-and-update
            file: mm-approved-prs/.ci/magic-modules/merge.yml
            params:
                CREDS: ((repo-key.private_key))
                ALL_SUBMODULES: "{{' '.join(vars.all_submodules)}}"
          # TODO(ndmckinley): This will work to update the magic-modules PR *if* the original PR
          # was opened from the magic-modules repository.  That's not always going to be
          # true - figure out what to do if, for instance, we can't modify the PR.
          # Update: right now, we just require everyone to push to the GCP repo.  That's not
          # been a problem yet.
          - put: magic-modules-gcp
            params:
                repository: mm-output
                branch_file: mm-approved-prs/.git/branch
                force: true
          - put: mark-success
            resource: mm-approved-prs
            params:
                path: mm-output
                status: success
            get_params:
                skip_clone: true
          - put: merge-pr
            resource: mm-approved-prs
            params:
                path: mm-output
                status: success
                merge:
                    method: squash
                    commit_msg: mm-output/commit_message
            get_params:
                skip_clone: true

    - name: inspec-vcr-record
      serial: true
      serial_groups: [inspec-integration]
      plan:
        - get: magic-modules-new-prs
        - task: inspec-vcr
          file: magic-modules-new-prs/.ci/acceptance-tests/inspec-vcr.yml
          params:
            TERRAFORM_KEY: ((terraform-key))
            PROJECT_NAME: ((inspec-project-name))
            PROJECT_NUMBER: ((inspec-project-number))

    - name: inspec-post-merge
      serial: true
      serial_groups: [inspec-integration]
      plan:
        - get: mm-approved-prs
          passed: [merge-prs]
          trigger: true
        - task: inspec-post-merge
          file: mm-approved-prs/.ci/acceptance-tests/inspec-post-merge.yml
          params:
            TERRAFORM_KEY: ((terraform-key))
            PROJECT_NAME: ((inspec-project-name))
            PROJECT_NUMBER: ((inspec-project-number))

    - name: inspec-post-approve
      serial: true
      serial_groups: [inspec-integration]
      plan:
        - get: mm-approved-prs
          trigger: true
        - task: inspec-post-approve
          file: mm-approved-prs/.ci/acceptance-tests/inspec-post-approve.yml
          params:
            TERRAFORM_KEY: ((terraform-key))
            PROJECT_NAME: ((inspec-project-name))
            PROJECT_NUMBER: ((inspec-project-number))
