{{if eq "new-resource" .Type}}**New Resource:** {{else if eq "new-datasource" .Type}}**New Data Source:** {{else if eq "new-list-resource" .Type}}{{ end }}{{.Text }} ([#{{- .PRNumber -}}]({{- .PRURL -}}))
