data "google_project" "project" {
}

resource "google_workload_identity_service_agent" "{{$.PrimaryResourceId}}" {
  parent   = "projects/${data.google_project.project.number}/locations/global/serviceProducers/healthcare.googleapis.com"
}
