{{- $primaryResourceId := $.ExamplePrimaryResourceId }}
{{- $ids := $.IamSelfLinkIdentifiers }}
{{- range $i, $attribue := $.IamAttributes}}
  {{ $attribue }} = {{ $.IamParentSourceType }}.{{ $primaryResourceId }}.{{ underscore (index $ids $i)}}
{{- end }}