resource "google_vertex_ai_featurestore" "featurestore" {
  name     = "{{index $.PrefixedVars "name"}}"
  labels = {
    foo = "bar"
  }
  region   = "us-central1"
  online_serving_config {
    scaling {
      min_node_count = 2
      max_node_count = 10
    }
  }
  encryption_spec {
    kms_key_name = "{{index $.PrefixedVars "kms_key_name"}}"
  }
  force_destroy = true
}
