data "google_project" "project" {}

resource "google_storage_bucket" "bucket" {
  name                        = "{{index $.ResourceIdVars "pipeline_job_id"}}"
  location                    = "us-central1"
  uniform_bucket_level_access = true
  force_destroy               = true
}

resource "google_vertex_ai_schedule" "{{$.PrimaryResourceId}}" {
  display_name              = "test-schedule"
  region                    = "us-central1"
  max_concurrent_run_count = 2
  cron                      = "*/5 * * * *"

  create_pipeline_job_request {
    parent = "projects/${data.google_project.project.project_id}/locations/us-central1"
    pipeline_job {
      display_name = "test-pipeline-job"
      pipeline_spec = jsonencode({
        pipelineInfo = {
          name = "hello-world"
        }
        root = {
          dag = {
            tasks = {}
          }
        }
        schemaVersion = "2.1.0"
        sdkVersion = "kfp-2.0.0"
      })

      runtime_config {
        gcs_output_directory = "gs://${google_storage_bucket.bucket.name}/pipeline_root"
      }
    }
  }
}
