resource "google_vertex_ai_tensorboard" "tensorboard" {
  display_name = "Tensorboard for Run"
  region       = "us-central1"
}

resource "google_vertex_ai_tensorboard_experiment" "experiment" {
  location          = "us-central1"
  display_name            = "sample experiment"
  tensorboard       = basename(google_vertex_ai_tensorboard.tensorboard.id)
  tensorboard_experiment_id = "{{index $.ResourceIdVars "tensorboardExperimentId"}}"
}

resource "google_vertex_ai_tensorboard_run" "{{$.PrimaryResourceId}}" {
  location          = "us-central1"
  display_name      = "sample run updated"
  description       = "updated description"
  tensorboard       = basename(google_vertex_ai_tensorboard.tensorboard.id)
  experiment        = google_vertex_ai_tensorboard_experiment.experiment.tensorboard_experiment_id
  tensorboard_run_id = "{{index $.ResourceIdVars "tensorboardRunId"}}"
  labels            = {
    "key" : "value-updated"
    "new-key" : "new-value"
  }
}
