resource "google_vertex_ai_publisher_model_config" "{{.PrimaryResourceId}}" {
  provider = google-beta

  location  = "global"
  publisher = "anthropic"
  model     = "claude-fable-5-1"

  data_sharing_enabled_provider = "MODEL_PROVIDER_UNSPECIFIED"
}
