resource "google_vertex_ai_endpoint" "{{$.PrimaryResourceId}}" {
  name         = "endpoint-name%{random_suffix}"
  display_name = "sample-endpoint"
  description  = "A sample vertex endpoint"
  location     = "us-central1"
  region       = "us-central1"
  labels       = {
    label-one = "value-one"
  }
  private_service_connect_config {
    enable_private_service_connect = true
    project_allowlist = [
      "${data.google_project.project.project_id}"
    ]
  }
}

data "google_project" "project" {}
