resource "google_vertex_ai_endpoint" "{{$.PrimaryResourceId}}" {
  name         = "{{index $.ResourceIdVars "endpoint_name"}}"
  display_name = "sample-endpoint"
  description  = "A sample vertex endpoint"
  location     = "us-central1"
  region       = "us-central1"
  labels       = {
    label-one = "value-one"
  }
  dedicated_endpoint_enabled = true
  client_connection_config {
    inference_timeout = "60s"
  }
  gdc_config {
    zone = "us-central1-a"
  }
  gen_ai_advanced_features_config {
    rag_config {
      enable_rag = true
    }
  }
}

data "google_project" "project" {}
