{
  "openapi": "3.0.3",
  "info": {
    "title": "Chronicle API",
    "description": "The Google Cloud Security Operations API (Chronicle API) provides endpoints that help analysts investigate and mitigate security threats throughout their lifecycle.",
    "version": "v1beta",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://chronicle.googleapis.com",
      "description": "Global Endpoint"
    },
    {
      "url": "https://chronicle.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "africa-south1"
    },
    {
      "url": "https://chronicle.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-east1"
    },
    {
      "url": "https://chronicle.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-northeast1"
    },
    {
      "url": "https://chronicle.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-northeast3"
    },
    {
      "url": "https://chronicle.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-south1"
    },
    {
      "url": "https://chronicle.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-southeast1"
    },
    {
      "url": "https://chronicle.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-southeast2"
    },
    {
      "url": "https://chronicle.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "australia-southeast1"
    },
    {
      "url": "https://chronicle.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-central2"
    },
    {
      "url": "https://chronicle.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west12"
    },
    {
      "url": "https://chronicle.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west2"
    },
    {
      "url": "https://chronicle.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west3"
    },
    {
      "url": "https://chronicle.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west6"
    },
    {
      "url": "https://chronicle.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west9"
    },
    {
      "url": "https://chronicle.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "me-central1"
    },
    {
      "url": "https://chronicle.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "me-central2"
    },
    {
      "url": "https://chronicle.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "me-west1"
    },
    {
      "url": "https://chronicle.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "northamerica-northeast2"
    },
    {
      "url": "https://chronicle.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "southamerica-east1"
    },
    {
      "url": "https://chronicle.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us"
    },
    {
      "url": "https://chronicle.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "eu"
    }
  ],
  "paths": {
    "/v1beta/projects/{project}/locations/{location}/instances/{instance}/enrichmentControls": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["chronicle"],
        "operationId": "CreateEnrichmentControl",
        "description": "Create an EnrichmentControl resource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The enrichment control to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichmentControl"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentControl"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["chronicle"],
        "operationId": "ListEnrichmentControls",
        "description": "List all EnrichmentControls.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of enrichment controls to return. The service may return\nfewer than this value. If unspecified, at most 100 enrichment controls will\nbe returned. The maximum value is 1000; values above 1000 will be coerced\nto 1000.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A page token, received from a previous `ListEnrichmentControls` call.\nProvide this to retrieve the subsequent page.\n\nWhen paginating, all other parameters provided to `ListEnrichmentControls`\nmust match the call that provided the page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnrichmentControlsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/instances/{instance}/enrichmentControls/{enrichmentcontrol}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["chronicle"],
        "operationId": "GetEnrichmentControl",
        "description": "Get an EnrichmentControl.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrichmentcontrol",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentControl"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/instances/{instance}/enrichmentControls/{enrichmentcontrol}:disable": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["chronicle"],
        "operationId": "DisableEnrichmentControl",
        "description": "Disable an EnrichmentControl. Disabling an enrichment control involves\nupdating the end time of the most recent record associated with that\nEnrichmentControl resource to the disabling time and return the updated\nEnrichmentControl resource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/chronicle",
              "https://www.googleapis.com/auth/chronicle.readonly",
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrichmentcontrol",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisableEnrichmentControlRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentControl"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ],
          "type": "string"
        },
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ],
          "type": "string"
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/chronicle": "See, edit, configure, and delete your Google Security Operations data and see the email address for your Google Account",
              "https://www.googleapis.com/auth/chronicle.readonly": "See your Google Security Operations data and the email address of your Google Account",
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/chronicle": "See, edit, configure, and delete your Google Security Operations data and see the email address for your Google Account",
              "https://www.googleapis.com/auth/chronicle.readonly": "See your Google Security Operations data and the email address of your Google Account",
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "bearer_auth": {
        "type": "http",
        "description": "Http bearer authentication.",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AlertGroupingRule": {
        "description": "This service is available for customers who migrated SOAR to a customer\nmanaged project and have the Chronicle API enabled.\nAlertGroupingRule - Chronicle Alert Grouping Rule.\nTypes of AlertGroupingRules: general, case-spesific",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The resource name of the AlertGroupingRule.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/alertGroupingRules/{alert_grouping_rule}",
            "x-google-identifier": true,
            "type": "string"
          },
          "category": {
            "description": "Required. The category of the new stage to create.",
            "type": "string",
            "x-google-enum-descriptions": [
              "All categories.",
              "Alert type.",
              "Product name.",
              "Data source."
            ],
            "enum": [
              "ALL",
              "ALERT_TYPE",
              "PRODUCT_NAME",
              "DATA_SOURCE"
            ]
          },
          "groupingType": {
            "description": "Required. Defines the AlertGroupingRule grouping_type in the lifetime of a case.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Entities.",
              "Source grouping identifier.",
              "None."
            ],
            "enum": [
              "ENTITIES",
              "SOURCE_GROUPING_IDENTIFIER",
              "NONE"
            ]
          },
          "entityType": {
            "description": "Required. AlertGroupingRule associated with the entity_type.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categoryDetails": {
            "description": "Required. Defines the AlertGroupingRule category details list.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryDetail"
            }
          }
        },
        "required": [
          "category",
          "groupingType",
          "entityType",
          "categoryDetails"
        ]
      },
      "CategoryDetail": {
        "description": "Represents details of a category within an AlertGroupingRule.",
        "type": "object",
        "properties": {
          "identifier": {
            "description": "Required. Unique identifier for the category detail.",
            "type": "string"
          },
          "displayName": {
            "description": "Required. Human-readable name for the category detail.",
            "type": "string"
          }
        },
        "required": [
          "identifier",
          "displayName"
        ]
      },
      "ListAlertGroupingRulesResponse": {
        "description": "Response message for ListAlertGroupingRules.",
        "type": "object",
        "properties": {
          "alertGroupingRules": {
            "description": "The list of AlertGroupingRules.\nOrdered by Id by default.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertGroupingRule"
            }
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
            "type": "string"
          },
          "totalSize": {
            "description": "Total number of AlertGroupingRules includes filter without\npagination.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object"
      },
      "Announcement": {
        "description": "This service is available for customers who migrated SOAR to a customer\nmanaged project and have the Chronicle API enabled.\nAnnouncements - Chronicle SOAR Announcements.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The unique name(ID) of the Announcement.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/announcements/{announcement}",
            "x-google-identifier": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. Last update time of the announcement.",
            "readOnly": true,
            "type": "string",
            "format": "int64"
          },
          "content": {
            "description": "Required. The announcement content, limited to 500 characters.",
            "type": "string"
          },
          "expireTime": {
            "description": "Optional. The announcement expiration time, must be a future time.",
            "type": "string",
            "format": "int64"
          },
          "title": {
            "description": "Required. The announcement title. The title must be at least 3 characters and limited\nto 100 characters.",
            "type": "string"
          },
          "author": {
            "description": "Output only. The user who created the announcement.",
            "readOnly": true,
            "type": "string"
          },
          "lastAuthor": {
            "description": "Output only. The last user who edited the announcement.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "content",
          "title"
        ]
      },
      "ListAnnouncementsResponse": {
        "description": "Response message for ListAnnouncements.",
        "type": "object",
        "properties": {
          "announcements": {
            "description": "The list of Announcements.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Announcement"
            }
          },
          "nextPageToken": {
            "description": "A page token, received from a previous `ListAnnouncements` call.\nProvide this to retrieve the subsequent page.\n\nWhen paginating, all other parameters provided to `ListAnnouncements` must\nmatch the call that provided the page token.",
            "type": "string"
          },
          "totalSize": {
            "description": "Total number of Announcements.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Attachment": {
        "description": "This service is available for customers who migrated SOAR to a customer\nmanaged project and have the Chronicle API enabled.\nRepresents a file uploaded to SecOps by a user. These files\nprovide supporting evidence, documentation, or relevant data for security\ninvestigations and can be associated with various entities within the system.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The unique name(ID) of the attachment.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/legacySoarUsers/{legacy_soar_user}/attachments/{attachment}",
            "x-google-identifier": true,
            "type": "string"
          },
          "fileName": {
            "description": "Output only. The file name including its file extension, maximum of 256\ncharacters.",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Optional. The attachment description, maximum of 100 characters.",
            "type": "string"
          },
          "mimeType": {
            "description": "Output only. The attachment mime type, maximum of 100 characters.",
            "readOnly": true,
            "type": "string"
          },
          "author": {
            "description": "Output only. The user who uploaded the attachment.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "ListAttachmentsResponse": {
        "description": "ListAttachmentsResponse contains the list of Attachments.",
        "type": "object",
        "properties": {
          "attachments": {
            "description": "The list of Attachments.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
            "type": "string"
          },
          "totalSize": {
            "description": "Optional. The total number of Attachments matching the request.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CreateAttachmentRequest": {
        "description": "CreateAttachmentRequest contains the request to create an Attachment.",
        "type": "object",
        "properties": {
          "description": {
            "description": "Required. The Attachment to create.",
            "type": "string"
          },
          "media": {
            "description": "The media object to be uploaded.",
            "allOf": [{
              "$ref": "#/components/schemas/Media"
            }]
          },
          "mediaInfo": {
            "description": "The media request info.",
            "allOf": [{
              "$ref": "#/components/schemas/MediaRequestInfo"
            }]
          }
        },
        "required": [
          "description"
        ]
      },
      "Media": {
        "description": "A reference to data stored on the filesystem, on GFS or in blobstore.",
        "type": "object",
        "properties": {
          "contentType": {
            "description": "MIME type of the data",
            "type": "string"
          },
          "timestamp": {
            "description": "Time at which the media data was last updated,\nin milliseconds since UNIX epoch",
            "type": "string",
            "format": "uint64"
          },
          "token": {
            "description": "A unique fingerprint/version id for the media data",
            "type": "string"
          },
          "length": {
            "description": "Size of the data, in bytes",
            "type": "string",
            "format": "int64"
          },
          "filename": {
            "description": "Original file name",
            "type": "string"
          },
          "referenceType": {
            "description": "Describes what the field reference contains.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Reference contains a GFS path or a local path.",
              "Reference points to a blobstore object. This could be either\na v1 blob_ref or a v2 blobstore2_info. Clients should check\nblobstore2_info first, since v1 is being deprecated.",
              "Data is included into this proto buffer",
              "Data should be accessed from the current service\nusing the operation GetMedia.",
              "The content for this media object is stored across\nmultiple partial media objects under the\ncomposite_media field.",
              "Reference points to a bigstore object",
              "Indicates the data is stored in diff_version_response.",
              "Indicates the data is stored in diff_checksums_response.",
              "Indicates the data is stored in diff_download_response.",
              "Indicates the data is stored in diff_upload_request.",
              "Indicates the data is stored in diff_upload_response.",
              "Indicates the data is stored in cosmo_binary_reference.",
              "Informs Scotty to generate a response payload with the size specified\nin the length field. The contents of the payload are generated by\nScotty and are undefined. This is useful for testing download speeds\nbetween the user and Scotty without involving a real payload source.\n\nNote: range is not supported when using arbitrary_bytes."
            ],
            "enum": [
              "PATH",
              "BLOB_REF",
              "INLINE",
              "GET_MEDIA",
              "COMPOSITE_MEDIA",
              "BIGSTORE_REF",
              "DIFF_VERSION_RESPONSE",
              "DIFF_CHECKSUMS_RESPONSE",
              "DIFF_DOWNLOAD_RESPONSE",
              "DIFF_UPLOAD_REQUEST",
              "DIFF_UPLOAD_RESPONSE",
              "COSMO_BINARY_REFERENCE",
              "ARBITRARY_BYTES"
            ]
          },
          "path": {
            "description": "Path to the data, set if reference_type is PATH",
            "type": "string"
          },
          "blobRef": {
            "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF\nThis should be the byte representation of a blobstore.BlobRef.\nSince Blobstore is deprecating v1, use blobstore2_info instead.\nFor now, any v2 blob will also be represented in this field as\nv1 BlobRef.",
            "deprecated": true,
            "type": "string",
            "format": "byte"
          },
          "inline": {
            "description": "Media data, set if reference_type is INLINE",
            "type": "string",
            "format": "byte"
          },
          "mediaId": {
            "description": "Media id to forward to the operation GetMedia.\nCan be set if reference_type is GET_MEDIA.",
            "type": "string",
            "format": "byte"
          },
          "hash": {
            "description": "Deprecated, use one of explicit hash type fields instead.\nThese two hash related fields will only be populated on Scotty based media\nuploads and will contain the content of the hash group in the\nNotificationRequest:\nhttp://cs/#google3/blobstore2/api/scotty/service/proto/upload_listener.proto&q=class:Hash\nHex encoded hash value of the uploaded media.",
            "deprecated": true,
            "type": "string"
          },
          "algorithm": {
            "description": "Deprecated, use one of explicit hash type fields instead.\nAlgorithm used for calculating the hash.\nAs of 2011/01/21, \"MD5\" is the only possible value for this field.\nNew values may be added at any time.",
            "deprecated": true,
            "type": "string"
          },
          "compositeMedia": {
            "description": "A composite media composed of one or more media objects, set if\nreference_type is COMPOSITE_MEDIA. The media length field must be set\nto the sum of the lengths of all composite media objects.\n\nNote: All composite media must have length specified.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompositeMedia"
            }
          },
          "bigstoreObjectRef": {
            "description": "Use object_id instead.",
            "deprecated": true,
            "type": "string",
            "format": "byte"
          },
          "objectId": {
            "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
            "allOf": [{
              "$ref": "#/components/schemas/ObjectId"
            }]
          },
          "blobstore2Info": {
            "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers\nto a v2 blob.",
            "allOf": [{
              "$ref": "#/components/schemas/Blobstore2Info"
            }]
          },
          "diffVersionResponse": {
            "description": "Set if reference_type is DIFF_VERSION_RESPONSE.",
            "allOf": [{
              "$ref": "#/components/schemas/DiffVersionResponse"
            }]
          },
          "diffChecksumsResponse": {
            "description": "Set if reference_type is DIFF_CHECKSUMS_RESPONSE.",
            "allOf": [{
              "$ref": "#/components/schemas/DiffChecksumsResponse"
            }]
          },
          "diffDownloadResponse": {
            "description": "Set if reference_type is DIFF_DOWNLOAD_RESPONSE.",
            "allOf": [{
              "$ref": "#/components/schemas/DiffDownloadResponse"
            }]
          },
          "diffUploadRequest": {
            "description": "Set if reference_type is DIFF_UPLOAD_REQUEST.",
            "allOf": [{
              "$ref": "#/components/schemas/DiffUploadRequest"
            }]
          },
          "diffUploadResponse": {
            "description": "Set if reference_type is DIFF_UPLOAD_RESPONSE.",
            "allOf": [{
              "$ref": "#/components/schemas/DiffUploadResponse"
            }]
          },
          "contentTypeInfo": {
            "description": "Extended content type information provided for Scotty uploads.",
            "allOf": [{
              "$ref": "#/components/schemas/ContentTypeInfo"
            }]
          },
          "downloadParameters": {
            "description": "Parameters for a media download.",
            "allOf": [{
              "$ref": "#/components/schemas/DownloadParameters"
            }]
          },
          "crc32cHash": {
            "description": "For Scotty Uploads:\nScotty-provided hashes for uploads\n\nFor Scotty Downloads:\n(WARNING: DO NOT USE WITHOUT PERMISSION FROM THE SCOTTY TEAM.)\nA Hash provided by the agent to be used to verify the data being\ndownloaded. Currently only supported for inline payloads.\nFurther, only crc32c_hash is currently supported.",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 4294967295
          },
          "md5Hash": {
            "description": "Scotty-provided MD5 hash for an upload.",
            "type": "string",
            "format": "byte"
          },
          "sha1Hash": {
            "description": "Scotty-provided SHA1 hash for an upload.",
            "type": "string",
            "format": "byte"
          },
          "sha256Hash": {
            "description": "Scotty-provided SHA256 hash for an upload.",
            "type": "string",
            "format": "byte"
          },
          "isPotentialRetry": {
            "description": "|is_potential_retry| is set false only when Scotty is\ncertain that it has not sent the request before. When a client resumes\nan upload, this field must be set true in agent calls, because Scotty\ncannot be certain that it has never sent the request before due\nto potential failure in the session state persistence.",
            "type": "boolean"
          },
          "cosmoBinaryReference": {
            "description": "A binary data reference for a media download. Serves as a\ntechnology-agnostic binary reference in some Google infrastructure.\nThis value is a serialized storage_cosmo.BinaryReference proto. Storing\nit as bytes is a hack to get around the fact that the cosmo proto\n(as well as others it includes) doesn't support JavaScript. This\nprevents us from including the actual type of this field.",
            "type": "string",
            "format": "byte"
          },
          "hashVerified": {
            "description": "For Scotty uploads only. If a user sends a hash code and the backend has\nrequested that Scotty verify the upload against the client hash,\nScotty will perform the check on behalf of the backend and will reject it\nif the hashes don't match. This is set to true if Scotty performed\nthis verification.",
            "type": "boolean"
          }
        }
      },
      "CompositeMedia": {
        "description": "A sequence of media data references representing composite data.\nIntroduced to support Bigstore composite objects. For details, visit\nhttp://go/bigstore-composites.",
        "type": "object",
        "properties": {
          "length": {
            "description": "Size of the data, in bytes",
            "type": "string",
            "format": "int64"
          },
          "referenceType": {
            "description": "Describes what the field reference contains.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Reference contains a GFS path or a local path.",
              "Reference points to a blobstore object. This could be either\na v1 blob_ref or a v2 blobstore2_info. Clients should check\nblobstore2_info first, since v1 is being deprecated.",
              "Data is included into this proto buffer",
              "Reference points to a bigstore object",
              "Indicates the data is stored in cosmo_binary_reference."
            ],
            "enum": [
              "PATH",
              "BLOB_REF",
              "INLINE",
              "BIGSTORE_REF",
              "COSMO_BINARY_REFERENCE"
            ]
          },
          "path": {
            "description": "Path to the data, set if reference_type is PATH",
            "type": "string"
          },
          "blobRef": {
            "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF\nThis should be the byte representation of a blobstore.BlobRef.\nSince Blobstore is deprecating v1, use blobstore2_info instead.\nFor now, any v2 blob will also be represented in this field as\nv1 BlobRef.",
            "deprecated": true,
            "type": "string",
            "format": "byte"
          },
          "inline": {
            "description": "Media data, set if reference_type is INLINE",
            "type": "string",
            "format": "byte"
          },
          "objectId": {
            "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
            "allOf": [{
              "$ref": "#/components/schemas/ObjectId"
            }]
          },
          "blobstore2Info": {
            "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers\nto a v2 blob.",
            "allOf": [{
              "$ref": "#/components/schemas/Blobstore2Info"
            }]
          },
          "cosmoBinaryReference": {
            "description": "A binary data reference for a media download. Serves as a\ntechnology-agnostic binary reference in some Google infrastructure.\nThis value is a serialized storage_cosmo.BinaryReference proto. Storing\nit as bytes is a hack to get around the fact that the cosmo proto\n(as well as others it includes) doesn't support JavaScript. This\nprevents us from including the actual type of this field.",
            "type": "string",
            "format": "byte"
          },
          "crc32cHash": {
            "description": "crc32.c hash for the payload.",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 4294967295
          },
          "md5Hash": {
            "description": "MD5 hash for the payload.",
            "type": "string",
            "format": "byte"
          },
          "sha1Hash": {
            "description": "SHA-1 hash for the payload.",
            "type": "string",
            "format": "byte"
          }
        }
      },
      "ObjectId": {
        "description": "This is a copy of the tech.blob.ObjectId proto, which could not\nbe used directly here due to transitive closure issues with\nJavaScript support; see http://b/8801763.",
        "type": "object",
        "properties": {
          "bucketName": {
            "description": "The name of the bucket to which this object belongs.",
            "type": "string"
          },
          "objectName": {
            "description": "The name of the object.",
            "type": "string"
          },
          "generation": {
            "description": "Generation of the object. Generations are monotonically increasing\nacross writes, allowing them to be be compared to determine which\ngeneration is newer. If this is omitted in a request, then you are\nrequesting the live object.\nSee http://go/bigstore-versions",
            "type": "string",
            "format": "int64"
          }
        }
      },
      "Blobstore2Info": {
        "description": "Information to read/write to blobstore2.",
        "type": "object",
        "properties": {
          "blobId": {
            "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
            "type": "string"
          },
          "blobGeneration": {
            "description": "The blob generation id.",
            "type": "string",
            "format": "int64"
          },
          "readToken": {
            "description": "The blob read token. Needed to read blobs that have not been\nreplicated. Might not be available until the final call.",
            "type": "string"
          },
          "uploadMetadataContainer": {
            "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload.\nThis is a signed, serialized blobstore2.BlobMetadataContainer proto which\nmust never be consumed outside of Bigstore, and is not applicable to\nnon-GCS media uploads.",
            "type": "string",
            "format": "byte"
          },
          "downloadReadHandle": {
            "description": "Read handle passed from Bigstore -> Scotty for a GCS download.\nThis is a signed, serialized blobstore2.ReadHandle proto which must never\nbe set outside of Bigstore, and is not applicable to non-GCS media\ndownloads.",
            "type": "string",
            "format": "byte"
          },
          "downloadExternalReadToken": {
            "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS\ndownload. This field must never be consumed outside of Bigstore, and is not\napplicable to non-GCS media uploads.",
            "type": "string",
            "format": "byte"
          },
          "uploadFragmentListCreationInfo": {
            "description": "A serialized Object Fragment List Creation Info passed from Bigstore ->\nScotty for a GCS upload. This field must never be consumed outside of\nBigstore, and is not applicable to non-GCS media uploads.",
            "type": "string",
            "format": "byte"
          }
        }
      },
      "DiffVersionResponse": {
        "description": "Backend response for a Diff get version response.\nFor details on the Scotty Diff protocol,\nvisit http://go/scotty-diff-protocol.",
        "type": "object",
        "properties": {
          "objectVersion": {
            "description": "The version of the object stored at the server.",
            "type": "string"
          },
          "objectSizeBytes": {
            "description": "The total size of the server object.",
            "type": "string",
            "format": "int64"
          }
        }
      },
      "DiffChecksumsResponse": {
        "description": "Backend response for a Diff get checksums response.\nFor details on the Scotty Diff protocol,\nvisit http://go/scotty-diff-protocol.",
        "type": "object",
        "properties": {
          "objectVersion": {
            "description": "The object version of the object the checksums are being returned for.",
            "type": "string"
          },
          "objectSizeBytes": {
            "description": "The total size of the server object.",
            "type": "string",
            "format": "int64"
          },
          "chunkSizeBytes": {
            "description": "The chunk size of checksums.  Must be a multiple of 256KB.",
            "type": "string",
            "format": "int64"
          },
          "checksumsLocation": {
            "description": "Exactly one of these fields must be populated.\n\nIf checksums_location is filled, the server will return the corresponding\ncontents to the user.  If object_location is filled, the server will\ncalculate the checksums based on the content there and return that to the\nuser.\nFor details on the format of the checksums,\nsee http://go/scotty-diff-protocol.",
            "allOf": [{
              "$ref": "#/components/schemas/CompositeMedia"
            }]
          },
          "objectLocation": {
            "description": "If set, calculate the checksums based on the contents and return them to\nthe caller.",
            "allOf": [{
              "$ref": "#/components/schemas/CompositeMedia"
            }]
          }
        }
      },
      "DiffDownloadResponse": {
        "description": "Backend response for a Diff download response.\nFor details on the Scotty Diff protocol,\nvisit http://go/scotty-diff-protocol.",
        "type": "object",
        "properties": {
          "objectLocation": {
            "description": "The original object location.",
            "allOf": [{
              "$ref": "#/components/schemas/CompositeMedia"
            }]
          }
        }
      },
      "DiffUploadRequest": {
        "description": "A Diff upload request.\nFor details on the Scotty Diff protocol,\nvisit http://go/scotty-diff-protocol.",
        "type": "object",
        "properties": {
          "objectVersion": {
            "description": "The object version of the object that is the base version the incoming\ndiff script will be applied to.\nThis field will always be filled in.",
            "type": "string"
          },
          "objectInfo": {
            "description": "The location of the new object.\nAgents must clone the object located here, as the upload server will\ndelete the contents once a response is received.",
            "allOf": [{
              "$ref": "#/components/schemas/CompositeMedia"
            }]
          },
          "checksumsInfo": {
            "description": "The location of the checksums for the new object.\nAgents must clone the object located here, as the upload server will\ndelete the contents once a response is received.\nFor details on the format of the checksums,\nsee http://go/scotty-diff-protocol.",
            "allOf": [{
              "$ref": "#/components/schemas/CompositeMedia"
            }]
          }
        }
      },
      "DiffUploadResponse": {
        "description": "Backend response for a Diff upload request.\nFor details on the Scotty Diff protocol,\nvisit http://go/scotty-diff-protocol.",
        "type": "object",
        "properties": {
          "objectVersion": {
            "description": "The object version of the object at the server. Must be included in the\nend notification response.\nThe version in the end notification response must correspond to the new\nversion of the object that is now stored at the server, after the upload.",
            "type": "string"
          },
          "originalObject": {
            "description": "The location of the original file for a diff upload request. Must be\nfilled in if responding to an upload start notification.",
            "allOf": [{
              "$ref": "#/components/schemas/CompositeMedia"
            }]
          }
        }
      },
      "ContentTypeInfo": {
        "description": "Detailed Content-Type information from Scotty. The Content-Type of the media\nwill typically be filled in by the header or Scotty's best_guess, but this\nextended information provides the backend with more information so that it\ncan make a better decision if needed. This is only used on media upload\nrequests from Scotty.",
        "type": "object",
        "properties": {
          "bestGuess": {
            "description": "Scotty's best guess of what the content type of the file is.",
            "type": "string"
          },
          "fromHeader": {
            "description": "The content type of the file as specified in the request headers,\nmultipart headers, or RUPIO start request.",
            "type": "string"
          },
          "fromFileName": {
            "description": "The content type of the file derived from the file extension of\nthe original file name used by the client.",
            "type": "string"
          },
          "fromUrlPath": {
            "description": "The content type of the file derived from the file extension of the\nURL path.  The URL path is assumed to represent a file name (which\nis typically only true for agents that are providing a REST API).",
            "type": "string"
          },
          "fromBytes": {
            "description": "The content type of the file derived by looking at specific\nbytes (i.e. \"magic bytes\") of the actual file.",
            "type": "string"
          }
        }
      },
      "DownloadParameters": {
        "description": "Parameters specific to media downloads.",
        "type": "object",
        "properties": {
          "allowGzipCompression": {
            "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip\nencoding of the payload content when the server thinks it's\nadvantageous (hence, does not guarantee compression) which allows\nScotty to GZip the response to the client.",
            "type": "boolean"
          },
          "ignoreRange": {
            "description": "Determining whether or not Apiary should skip the inclusion\nof any Content-Range header on its response to Scotty.",
            "type": "boolean"
          }
        }
      },
      "MediaRequestInfo": {
        "description": "Extra information added to operations that support Scotty media requests.",
        "type": "object",
        "properties": {
          "requestId": {
            "description": "The Scotty request ID.",
            "type": "string"
          },
          "notificationType": {
            "description": "The type of notification received from Scotty.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Such requests signals the start of a request containing media\nupload. Only the media field(s) in the inserted/updated resource\nare set.\n\nThe response should either return an error or succeed. On success,\nresponses don't need to contain anything.",
              "Such requests signals that the upload has progressed and that\nthe backend might want to access the media file specified in\nrelevant fields in the resource. Only the media field(s) in the\ninserted/updated resource are set.\n\nThe response should either return an error or succeed. On success,\nresponses don't need to contain anything.",
              "Such requests signals the end of a request containing media\nupload. END should be handled just like normal Insert/Upload\nrequests, that is, they should process the request and return a\ncomplete resource in the response.\n\nPointers to media data (a GFS path usually) appear in the\nrelevant fields in the inserted/updated resource. See\ngdata.Media in data.proto.",
              "Such requests occur after an END and signal that the response has\nbeen sent back to the client. RESPONSE_SENT is only sent to\nthe backend if it is configured to receive them.\n\nThe response does not need to contain anything.",
              "Such requests indicate that an error occurred while processing\nthe request. ERROR is only sent to the backend if it is configured\nto receive them.  It is not guaranteed that all errors will result\nin this notification to the backend, even if the backend requests\nthem.\n\nSince these requests are just for informational purposes, the\nresponse does not need to contain anything."
            ],
            "enum": [
              "START",
              "PROGRESS",
              "END",
              "RESPONSE_SENT",
              "ERROR"
            ]
          },
          "currentBytes": {
            "description": "The number of current bytes uploaded or downloaded.",
            "type": "string",
            "format": "int64"
          },
          "totalBytes": {
            "description": "The total size of the file.",
            "type": "string",
            "format": "int64"
          },
          "totalBytesIsEstimated": {
            "description": "Whether the total bytes field contains an estimated data.",
            "type": "boolean"
          },
          "customData": {
            "description": "Data to be copied to backend requests. Custom data is returned to Scotty in\nthe agent_state field, which Scotty will then provide in subsequent upload\nnotifications.",
            "type": "string"
          },
          "diffObjectVersion": {
            "description": "Set if the http request info is diff encoded. The value of\nthis field is the version number of the base revision.\nThis is corresponding to Apiary's mediaDiffObjectVersion\n(//depot/google3/java/com/google/api/server/media/variable/DiffObjectVersionVariable.java).\nSee go/esf-scotty-diff-upload for more information.",
            "type": "string"
          },
          "finalStatus": {
            "description": "The existence of the final_status field indicates that this is the last\ncall to the agent for this request_id.\nhttp://google3/uploader/agent/scotty_agent.proto?l=737&rcl=347601929",
            "type": "integer",
            "format": "int32"
          },
          "requestReceivedParamsServingInfo": {
            "description": "The partition of the Scotty server handling this request.\ntype is uploader_service.RequestReceivedParamsServingInfo\nLINT.IfChange(request_received_params_serving_info_annotations)\nLINT.ThenChange()",
            "type": "string",
            "format": "byte"
          },
          "physicalHeaders": {
            "description": "The physical headers provided by RequestReceivedParameters in\nScotty request. type is uploader_service.KeyValuePairs.",
            "type": "string",
            "format": "byte"
          }
        }
      },
      "CreateAttachmentResponse": {
        "description": "CreateAttachmentResponse contains the created Attachment.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Output only. The created attachment.",
            "readOnly": true,
            "type": "string"
          },
          "fileName": {
            "description": "Output only. The file name including its file extension, maximum of 256\ncharacters.",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "Output only. The attachment description, maximum of 100 characters.",
            "readOnly": true,
            "type": "string"
          },
          "mimeType": {
            "description": "Output only. The attachment mime type, maximum of 100 characters.",
            "readOnly": true,
            "type": "string"
          },
          "author": {
            "description": "Output only. The user who uploaded the attachment.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "ExportAttachmentResponse": {
        "description": "ExportAttachmentResponse contains the exported Attachment.",
        "type": "object",
        "properties": {
          "media": {
            "description": "The exported attachment.",
            "allOf": [{
              "$ref": "#/components/schemas/Media"
            }]
          }
        }
      },
      "IntegrationInstance": {
        "description": "This service is available for customers who migrated SOAR to a customer\nmanaged project and have the Chronicle API enabled.\nRepresents an instance of an Integration, including general configurations\nfor execution of Playbook Actions, Connectors & Jobs.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The unique name of the integration instance.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/integrations/{integration}/integrationInstances/{instance}",
            "x-google-identifier": true,
            "type": "string"
          },
          "environment": {
            "description": "Required. The integration instance environment.",
            "type": "string"
          },
          "displayName": {
            "description": "Optional. The display name of the integration instance. Automatically generated\nif not assigned. Limited to 110 characters.",
            "type": "string"
          },
          "description": {
            "description": "Optional. The integration instance description. Limited to 1500 characters.",
            "type": "string"
          },
          "configured": {
            "description": "Output only. Determines whether the integration instance is configured.",
            "readOnly": true,
            "type": "boolean"
          },
          "remote": {
            "description": "Output only. True if the integration instance is a remote instance.\nInstance is created with remote = false by default.",
            "readOnly": true,
            "type": "boolean"
          },
          "agent": {
            "description": "Optional. The agent identifier for a remote integration instance",
            "type": "string"
          },
          "systemDefault": {
            "description": "Output only. Indicates whether the integration instance is the system default.",
            "readOnly": true,
            "type": "boolean"
          },
          "parameters": {
            "description": "Optional. Integration's parameters.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationInstanceParameter"
            }
          },
          "integrationIdentifier": {
            "description": "Output only. The integration identifier.",
            "readOnly": true,
            "type": "string"
          },
          "identifier": {
            "description": "Output only. The integration instance identifier.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "environment"
        ]
      },
      "IntegrationInstanceParameter": {
        "description": "Represents an instance of an Integration, including general configurations\nfor execution of Playbook Actions, Connectors & Jobs.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Output only. The unique id of the integration instance parameter.",
            "readOnly": true,
            "type": "string",
            "format": "int64"
          },
          "description": {
            "description": "Output only. The integration instance parameter description.",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Output only. The integration instance parameter display name.",
            "readOnly": true,
            "type": "string"
          },
          "propertyName": {
            "description": "Output only. The integration instance parameter property name.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Output only. The integration instance parameter type.",
            "readOnly": true,
            "type": "string",
            "x-google-enum-descriptions": [
              "The type of the integration instance parameter is unknown.",
              "The type of the integration instance parameter is boolean.",
              "The type of the integration instance parameter is integer.",
              "The type of the integration instance parameter is string.",
              "The type of the integration instance parameter is password.",
              "The type of the integration instance parameter is IP.",
              "The type of the integration instance parameter is IP or host.",
              "The type of the integration instance parameter is URL.",
              "The type of the integration instance parameter is domain.",
              "The type of the integration instance parameter is email.",
              "The type of the integration instance parameter is values list.",
              "The type of the integration instance parameter is values as semicolon\nseparated string.",
              "The type of the integration instance parameter is multi values selection.",
              "The type of the integration instance parameter is script.",
              "The type of the integration instance parameter is filter list."
            ],
            "enum": [
              "INTEGRATION_PARAMETER_TYPE_UNSPECIFIED",
              "BOOLEAN",
              "INT",
              "STRING",
              "PASSWORD",
              "IP",
              "IP_OR_HOST",
              "URL",
              "DOMAIN",
              "EMAIL",
              "VALUES_LIST",
              "VALUES_AS_SEMICOLON_SEPARATED_STRING",
              "MULTI_VALUES_SELECTION",
              "SCRIPT",
              "FILTER_LIST"
            ]
          },
          "mandatory": {
            "description": "Output only. Indicates if the parameter is required when configuring the integration\ninstance.",
            "readOnly": true,
            "type": "boolean"
          },
          "value": {
            "description": "Optional. The parameter's value.",
            "type": "string"
          }
        }
      },
      "ListIntegrationInstancesResponse": {
        "description": "Response message for ListIntegrationInstances.",
        "type": "object",
        "properties": {
          "integrationInstances": {
            "description": "The list of IntegrationInstances.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationInstance"
            }
          },
          "nextPageToken": {
            "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
            "type": "string"
          },
          "totalSize": {
            "description": "The total number of IntegrationInstances.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ExecuteIntegrationInstanceTestRequest": {
        "description": "Test the integration instance (execute the \u201Cping\u201D action).",
        "type": "object"
      },
      "ExecuteIntegrationInstanceTestResponse": {
        "description": "Response message for ExecuteTest.",
        "type": "object",
        "properties": {
          "successful": {
            "description": "Output only. Indicates if the test was successful.",
            "readOnly": true,
            "type": "boolean"
          },
          "message": {
            "description": "Optional. Test result message.",
            "type": "string"
          }
        }
      },
      "FetchDefaultIntegrationInstanceResponse": {
        "description": "Response message for FetchDefaultInstance.",
        "type": "object",
        "properties": {
          "instance": {
            "description": "Output only. The integration default instance.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/IntegrationInstance"
            }]
          }
        }
      },
      "FetchAffectedIntegrationInstancesItemsResponse": {
        "description": "Response message for FetchAffectedItems.",
        "type": "object",
        "properties": {
          "playbooks": {
            "description": "Output only. List of affected playbooks.",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffectedPlaybookResponse"
            }
          }
        }
      },
      "AffectedPlaybookResponse": {
        "description": "Response message for FetchAffectedItems.",
        "type": "object",
        "properties": {
          "displayName": {
            "description": "Required. The playbook name.",
            "type": "string"
          }
        },
        "required": [
          "displayName"
        ]
      },
      "IntegrationAction": {
        "description": "This service is available for customers who migrated SOAR to a customer\nmanaged project and have the Chronicle API enabled.\nThis resource describes an action definition as part of an integration.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The unique name(ID) of the action.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/integrations/{integration}/actions/{action}",
            "x-google-identifier": true,
            "type": "string"
          },
          "displayName": {
            "description": "Required. Action's definition name, limited to a maximum of 150 characters.",
            "type": "string"
          },
          "description": {
            "description": "Optional. Action's description, limited to a maximum or 400 characters.",
            "type": "string"
          },
          "script": {
            "description": "Required. Action's script, limited to a maximum size of 5MB.",
            "type": "string"
          },
          "author": {
            "description": "Output only. User that created the action in the system.",
            "readOnly": true,
            "type": "string"
          },
          "enabled": {
            "description": "Required. Determines whether the action is enabled or disabled.",
            "type": "boolean"
          },
          "scriptResultName": {
            "description": "Required. The script result name.\nDescribes the field name that holds the script result.\nHas a maximum character limit of 100 characters.",
            "type": "string"
          },
          "timeoutSeconds": {
            "description": "Required. Action timeout in seconds.\nThe maximum allowed value is 1200 seconds.",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 4294967295
          },
          "async": {
            "description": "Required. Determines whether the action is async or not.",
            "type": "boolean"
          },
          "asyncPollingIntervalSeconds": {
            "description": "Optional. The async polling interval time in seconds.\nThe maximum allowed value can not exceed total timeout secs.\nRelevant only for async actions",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 4294967295
          },
          "asyncTotalTimeoutSeconds": {
            "description": "Optional. The total async polling interval timeout in seconds.\nThe maximum allowed value is 14(days)x24x3600 = 1209600 secs.\nRelevant only for async actions",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 4294967295
          },
          "defaultResultValue": {
            "description": "Optional. Action's default result value.\nHas a maximum character limit of 1000 characters.",
            "type": "string"
          },
          "widgetTemplateIdentifier": {
            "description": "Output only. The widget template identifier.\nRelevant only for actions which contain a widget.",
            "readOnly": true,
            "type": "string"
          },
          "dynamicResults": {
            "description": "Optional. List of dynamic results metadata.\nThe max count for the items is 50.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DynamicResultMetadata"
            }
          },
          "parameters": {
            "description": "Optional. Action's parameters.\nThe max count for the items is 50.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionParameter"
            }
          },
          "integration": {
            "description": "Output only. The parent integration identifier.",
            "readOnly": true,
            "type": "string"
          },
          "custom": {
            "description": "Output only. Determines whether the action is custom or not.",
            "readOnly": true,
            "type": "boolean"
          },
          "hasJsonResult": {
            "description": "Output only. Describes whether the action has a json result.",
            "readOnly": true,
            "type": "boolean"
          },
          "dynamicResultsMetadataJson": {
            "description": "Output only. The dynamic results metadata json.",
            "readOnly": true,
            "type": "string"
          },
          "integrationInstances": {
            "description": "Output only. The integration instances.",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationInstance"
            }
          },
          "id": {
            "description": "Output only. The action id.",
            "readOnly": true,
            "type": "string",
            "format": "int64"
          },
          "aiGenerated": {
            "description": "Optional. Determines whether the action was generated by AI or not.",
            "type": "boolean"
          },
          "actionType": {
            "description": "Output only. Action type.",
            "readOnly": true,
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified action type.",
              "Standard action type.",
              "AI agent action type."
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "STANDARD",
              "AI_AGENT"
            ]
          },
          "aiCategories": {
            "description": "Output only. The categories of the action, generated by AI.",
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "aiDescription": {
            "description": "Output only. The description of the action, generated by AI.",
            "readOnly": true,
            "type": "string"
          },
          "entityTypes": {
            "description": "Output only. The entity types that the action can run on. For example, if it's an action\nthat runs on an IP (like EnrichIP), this will be [\"ADDRESS\"].",
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "displayName",
          "script",
          "enabled",
          "scriptResultName",
          "timeoutSeconds",
          "async"
        ]
      },
      "DynamicResultMetadata": {
        "description": "Dynamic result metadata.",
        "type": "object",
        "properties": {
          "resultName": {
            "description": "Output only. The result name.",
            "readOnly": true,
            "type": "string"
          },
          "resultExample": {
            "description": "Optional. The result example.\nHas a maximum character limit of 100000 characters.",
            "type": "string"
          },
          "displayResult": {
            "description": "Required. Determines whether to display the result.",
            "type": "boolean"
          }
        },
        "required": [
          "displayResult"
        ]
      },
      "ActionParameter": {
        "description": "Action parameter object.\nAction may include parameters that will be filled and during the execution.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Output only. The parameter's id.",
            "readOnly": true,
            "type": "integer",
            "format": "int32"
          },
          "actionId": {
            "description": "Output only. The action's id.",
            "readOnly": true,
            "type": "integer",
            "format": "int32"
          },
          "mandatory": {
            "description": "Required. Describes whether the parameter is mandatory.",
            "type": "boolean"
          },
          "defaultValue": {
            "description": "Optional. The default value of the parameter.\nHas a maximum character limit of 150 characters.",
            "type": "string"
          },
          "displayName": {
            "description": "Required. The parameter's display name.\nHas a maximum character limit of 150 characters.",
            "type": "string"
          },
          "type": {
            "description": "Required. The parameter's type.",
            "type": "string",
            "x-google-enum-descriptions": [
              "String type.",
              "Boolean type.",
              "WFS repository type.",
              "User repository type.",
              "Stages repository type.",
              "Close case reason repository type.",
              "Close case root cause repository type.",
              "Priorities repository type.",
              "Email content type.",
              "Content type.",
              "Password type.",
              "Entity type.",
              "Multi values type.",
              "List type.",
              "Code type.",
              "Multi choice parameter type."
            ],
            "enum": [
              "STRING",
              "BOOLEAN",
              "WFS_REPOSITORY",
              "USER_REPOSITORY",
              "STAGES_REPOSITORY",
              "CLOSE_CASE_REASON_REPOSITORY",
              "CLOSE_CASE_ROOT_CAUSE_REPOSITORY",
              "PRIORITIES_REPOSITORY",
              "EMAIL_CONTENT",
              "CONTENT",
              "PASSWORD",
              "ENTITY_TYPE",
              "MULTI_VALUES",
              "LIST",
              "CODE",
              "MULTIPLE_CHOICE_PARAMETER"
            ]
          },
          "description": {
            "description": "Required. The parameter's description.\nHas a maximum character limit of 150 characters.",
            "type": "string"
          },
          "optionalValues": {
            "description": "Optional. Parameter's optional values.\nThe max count for the items is 50.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "mandatory",
          "displayName",
          "type",
          "description"
        ]
      },
      "ListIntegrationActionsResponse": {
        "description": "Response message for ListIntegrationActions.",
        "type": "object",
        "properties": {
          "actions": {
            "description": "The list of IntegrationActions.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationAction"
            }
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
            "type": "string"
          },
          "totalSize": {
            "description": "Output only. Total number of IntegrationActions.",
            "readOnly": true,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FetchActionsByEnvironmentResponse": {
        "description": "Response message for FetchActionsByEnvironment.",
        "type": "object",
        "properties": {
          "actions": {
            "description": "Required. List of actions that have integration instances in one of the given\nenvironments.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationAction"
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "FetchIntegrationActionTemplateResponse": {
        "description": "Response message for FetchTemplate.",
        "type": "object",
        "properties": {
          "template": {
            "description": "Output only. The action definition template.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/IntegrationAction"
            }]
          }
        }
      },
      "ExecuteIntegrationActionTestRequest": {
        "description": "Test action definition script.",
        "type": "object",
        "properties": {
          "scope": {
            "description": "Required. The action test scope.",
            "type": "string"
          },
          "testCaseId": {
            "description": "Required. The action test case.",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 4294967295
          },
          "integrationInstanceId": {
            "description": "Required. The integration instance id to use.",
            "type": "string"
          },
          "action": {
            "description": "Required. The action which will be tested.",
            "allOf": [{
              "$ref": "#/components/schemas/IntegrationAction"
            }]
          }
        },
        "required": [
          "scope",
          "testCaseId",
          "integrationInstanceId",
          "action"
        ]
      },
      "ExecuteIntegrationActionTestResponse": {
        "description": "Response message for ExecuteTest.",
        "type": "object",
        "properties": {
          "output": {
            "description": "Required. The script output.",
            "type": "string"
          },
          "debugOutput": {
            "description": "Required. The script debug output.",
            "type": "string"
          },
          "resultJson": {
            "description": "Optional. The result json if exists.",
            "type": "string"
          },
          "resultName": {
            "description": "Optional. The script result.",
            "type": "string"
          }
        },
        "required": [
          "output",
          "debugOutput"
        ]
      },
      "View": {
        "description": "View - Chronicle View.\nTypes of Views: general, case-specific",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The resource name of the view.\nFormat:\nprojects/{project}/locations/{location}/instances/{instance}/views/{view}",
            "x-google-identifier": true,
            "type": "string"
          },
          "displayName": {
            "description": "Output only. Defines the view display name.",
            "readOnly": true,
            "type": "string"
          },
          "identifier": {
            "description": "Output only. The identifier of the view.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Optional. Defines the view type.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified view type.",
              "Alert overview view type.",
              "Case overview view type.",
              "Case overview view type V2.\nThis is an updated version of CASE_OVERVIEW for the Cases2.0 UI.",
              "Alert overview view type V2. This is an updated version of\nALERT_OVERVIEW for the Cases2.0 UI.",
              "Detection overview view type."
            ],
            "enum": [
              "VIEW_TYPE_UNSPECIFIED",
              "ALERT_OVERVIEW",
              "CASE_OVERVIEW",
              "CASE_OVERVIEW_V2",
              "ALERT_OVERVIEW_V2",
              "DETECTION_OVERVIEW"
            ]
          },
          "widgets": {
            "description": "Optional. Defines the widgets in the view.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateWidgetDefinition"
            }
          },
          "firstPlaybookRunTime": {
            "description": "Output only. If this view is associated with a playbook and an alert, this will be\npopulated with the time the playbook was first run on the alert. Used\nto determine the order of views in the UI.\nNOTE: Uses Unix epoch time in milliseconds to match the SOAR return type.",
            "readOnly": true,
            "type": "string",
            "format": "int64"
          },
          "id": {
            "description": "Optional. Unique numeric ID of the view.",
            "type": "string",
            "format": "int64"
          }
        }
      },
      "TemplateWidgetDefinition": {
        "description": "TemplateWidgetDefinition - Chronicle soar Template Widget Definition.",
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Required. Metadata of the template widget.",
            "allOf": [{
              "$ref": "#/components/schemas/TemplateWidgetMetadata"
            }]
          },
          "config": {
            "description": "Optional. Config is the configuration of the widget as a JSON string.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        },
        "required": [
          "metadata"
        ]
      },
      "TemplateWidgetMetadata": {
        "description": "Metadata details of a template widget.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Required. The id of the template widget.",
            "type": "string",
            "format": "int64"
          },
          "identifier": {
            "description": "Required. The identifier of the template widget.",
            "type": "string"
          },
          "title": {
            "description": "Required. The title of the template widget.",
            "type": "string"
          },
          "width": {
            "description": "Required. The width of the template widget.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified widget size.",
              "Half width widget size.",
              "Full width widget size.",
              "One third width widget size.",
              "Two third width widget size."
            ],
            "enum": [
              "WIDGET_TEMPLATE_GRID_COLUMNS_ENUM_UNSPECIFIED",
              "HALF_WIDTH",
              "FULL_WIDTH",
              "ONE_THIRD_WIDTH",
              "TWO_THIRD_WIDTH"
            ]
          },
          "order": {
            "description": "Required. The order of the template widget.",
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "description": "Required. The description of the template widget.",
            "type": "string"
          },
          "type": {
            "description": "Required. The type of the template widget.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified widget type.",
              "Key value widget type.",
              "Events widget type.",
              "JSON results widget type.",
              "HTML widget type.",
              "Wall activities widget type.",
              "Alerts widget type.",
              "Timeline widget type.",
              "Graph widget type.",
              "Text widget type.",
              "Potentially grouped alerts widget type.",
              "Entities highlight widget type.",
              "Pending steps widget type.",
              "Case recommendations widget type.",
              "Statistics widget type.",
              "Case description widget type.",
              "Insight widget type.",
              "Case assistant widget type.",
              "Case APS graph widget type.",
              "Case related findings widget type.",
              "Case impacted resources widget type.",
              "Form widget type.",
              "Quick actions widget type.s",
              "Siem alerts widget type.",
              "Rule overview widget type.",
              "Case detections widget type.",
              "UDM events widget type.",
              "UDM entities widget type.",
              "Represents the event highlights widget type.",
              "Represents the threat hunt widget type.",
              "Represents the third-party widget type."
            ],
            "enum": [
              "WIDGET_TEMPLATE_TYPE_ENUM_UNSPECIFIED",
              "KEY_VALUE",
              "EVENTS",
              "JSON_RESULTS",
              "HTML",
              "WALL_ACTIVITIES",
              "ALERTS",
              "TIMELINE",
              "GRAPH",
              "TEXT",
              "POTENTIALLY_GROUPED_ALERTS",
              "ENTITIES_HIGHLIGHT",
              "PENDING_STEPS",
              "CASE_RECOMMENDATIONS",
              "STATISTICS",
              "CASE_DESCRIPTION",
              "INSIGHT",
              "CASE_ASSISTANT",
              "CASE_APS_GRAPH",
              "CASE_RELATED_FINDINGS",
              "CASE_IMPACTED_RESOURCES",
              "FORM",
              "QUICK_ACTIONS",
              "SIEM_ALERTS",
              "RULE_OVERVIEW",
              "CASE_DETECTIONS",
              "UDM_EVENTS",
              "UDM_ENTITIES",
              "EVENT_HIGHLIGHTS",
              "THREAT_HUNT",
              "THIRD_PARTY"
            ]
          },
          "templateIdentifier": {
            "description": "Required. The identifier of the template widget.",
            "type": "string"
          },
          "predefinedWidgetTemplateIdentifier": {
            "description": "Required. The identifier of the predefined template widget.",
            "type": "string"
          },
          "actionIdentifier": {
            "description": "Required. The identifier of the action.",
            "type": "string"
          },
          "stepIdentifier": {
            "description": "Required. The identifier of a playbook step.",
            "type": "string"
          },
          "stepIntegration": {
            "description": "Required. The identifier of a playbook integration.",
            "type": "string"
          },
          "blockStepIdentifier": {
            "description": "Required. The identifier of a playbook block step.",
            "type": "string"
          },
          "blockStepInstanceName": {
            "description": "Required. The name of the block step instance.",
            "type": "string"
          },
          "presentIfEmpty": {
            "description": "Required. Whether the widget is present if empty.",
            "type": "boolean"
          },
          "conditionsGroup": {
            "description": "Required. The conditions group of the template widget.",
            "allOf": [{
              "$ref": "#/components/schemas/WidgetConditionsGroup"
            }]
          },
          "integrationName": {
            "description": "Required. The name of the integration.",
            "type": "string"
          },
          "isSupported": {
            "description": "Optional. Whether the widget is supported.",
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "identifier",
          "title",
          "width",
          "order",
          "description",
          "type",
          "templateIdentifier",
          "predefinedWidgetTemplateIdentifier",
          "actionIdentifier",
          "stepIdentifier",
          "stepIntegration",
          "blockStepIdentifier",
          "blockStepInstanceName",
          "presentIfEmpty",
          "conditionsGroup",
          "integrationName"
        ]
      },
      "WidgetConditionsGroup": {
        "description": "Group of conditions used for filtering/presentation.",
        "type": "object",
        "properties": {
          "conditions": {
            "description": "Optional. The conditions of the group.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WidgetCondition"
            }
          },
          "logicalOperator": {
            "description": "Optional. The logical operator of the conditions group.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified conditions logical operator.",
              "AND conditions logical operator.",
              "OR conditions logical operator."
            ],
            "enum": [
              "CONDITIONS_LOGICAL_OPERATOR_UNSPECIFIED",
              "AND",
              "OR"
            ]
          }
        }
      },
      "WidgetCondition": {
        "description": "A single conditional rule applied to a widget.",
        "type": "object",
        "properties": {
          "fieldName": {
            "description": "Optional. The name of the field to match.",
            "type": "string"
          },
          "matchType": {
            "description": "The operator to use for matching the field.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified condition field operator.",
              "Equals condition field operator.",
              "Contains condition field operator.",
              "Starts with condition field operator.",
              "Greater than condition field operator.",
              "Less than condition field operator.",
              "Not equal condition field operator.",
              "Not contains condition field operator.",
              "Is empty condition field operator.",
              "Is not empty condition field operator.",
              "Custom condition field operator."
            ],
            "enum": [
              "VIEW_CONDITION_FIELD_OPERATOR_UNSPECIFIED",
              "EQUAL",
              "CONTAINS",
              "STARTS_WITH",
              "GREATER_THAN",
              "LESSER_THAN",
              "NOT_EQUAL",
              "NOT_CONTAINS",
              "IS_EMPTY",
              "IS_NOT_EMPTY",
              "CUSTOM"
            ]
          },
          "value": {
            "description": "Optional. The value to match.",
            "type": "string"
          }
        }
      },
      "ListViewsResponse": {
        "description": "Response message for ListViews.",
        "type": "object",
        "properties": {
          "views": {
            "description": "The list of Views.\nOrdered by Id by default.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/View"
            }
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
            "type": "string"
          },
          "totalSize": {
            "description": "Total number of Views.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "OverviewTemplateData": {
        "description": "Represents a full overview template containing widgets and metadata.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Required. Unique numeric ID of the template.",
            "type": "string",
            "format": "int64"
          },
          "identifier": {
            "description": "Required. Unique string identifier for this overview template.",
            "type": "string"
          },
          "name": {
            "description": "Required. Display name of the overview template.",
            "type": "string"
          },
          "creator": {
            "description": "Optional. Username or ID of the creator.",
            "type": "string"
          },
          "playbookIdentifier": {
            "description": "Optional. Related playbook identifier (should be a GUID string).",
            "type": "string"
          },
          "type": {
            "description": "Required. Type of the overview template.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified overview template type.",
              "Default overview template type.",
              "Regular overview template type.",
              "System alert overview template type.",
              "System case overview template type.",
              "Alert type overview template type.",
              "System case overview template type V2.\nThis is the default Case view for the Cases 2.0 UI.",
              "System alert overview template type V2.\nThis is the default alert view for the Cases 2.0 UI.",
              "System detection overview template type."
            ],
            "enum": [
              "OVERVIEW_TEMPLATE_ENUM_UNSPECIFIED",
              "PLAYBOOK_DEFAULT",
              "REGULAR",
              "SYSTEM_ALERT",
              "SYSTEM_CASE",
              "ALERT_TYPE",
              "SYSTEM_CASE_V2",
              "SYSTEM_ALERT_V2",
              "SYSTEM_DETECTION"
            ]
          },
          "widgets": {
            "description": "Optional. List of widget definitions contained in the template.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateWidgetDefinition"
            }
          },
          "roles": {
            "description": "Optional. List of role IDs assigned to this overview.",
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            }
          },
          "creationTimeUnixTimeInMs": {
            "description": "Required. Creation timestamp (Unix epoch time in milliseconds).",
            "type": "string",
            "format": "int64"
          }
        },
        "required": [
          "id",
          "identifier",
          "name",
          "type",
          "creationTimeUnixTimeInMs"
        ]
      },
      "FetchPredefinedWidgetsResponse": {
        "description": "Response message for FetchPredefinedWidgets.",
        "type": "object",
        "properties": {
          "payload": {
            "description": "The list of predefined widgets.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PredefinedCaseAlertViewWidget"
            }
          }
        }
      },
      "PredefinedCaseAlertViewWidget": {
        "description": "Represents the full response for a predefined Case Alert View widget\nconfiguration.",
        "type": "object",
        "properties": {
          "config": {
            "description": "Output only. Optional config section defining rendering and type metadata",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/PredefinedCaseAlertViewWidgetConfig"
            }]
          },
          "actionIdentifier": {
            "description": "Output only. The identifier of the action linked to this widget",
            "readOnly": true,
            "type": "string"
          },
          "conditionsGroup": {
            "description": "Output only. Optional condition group for filtering or conditional display logic\nDefine ConditionsGroup separately",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/WidgetConditionsGroup"
            }]
          },
          "description": {
            "description": "Output only. Description of the widget",
            "readOnly": true,
            "type": "string"
          },
          "integration": {
            "description": "Output only. The name of the integration that provides this widget",
            "readOnly": true,
            "type": "string"
          },
          "supported": {
            "description": "Output only. Indicates if the widget is supported",
            "readOnly": true,
            "type": "boolean"
          },
          "identifier": {
            "description": "Output only. Unique identifier for this widget",
            "readOnly": true,
            "type": "string"
          },
          "presentIfEmpty": {
            "description": "Output only. Indicates if the widget should be shown even when data is empty",
            "readOnly": true,
            "type": "boolean"
          },
          "title": {
[...]
