{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Security Compliance API",
    "description": "",
    "version": "v1",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://cloudsecuritycompliance.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/v1/organizations/{organization}/locations/{location}/operations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "ListOperations",
        "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "The standard list filter.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The standard list page size.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "The standard list page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/operations/{operation}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "GetOperation",
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "DeleteOperation",
        "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/operations/{operation}:cancel": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "post": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "CancelOperation",
        "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of `1`,\ncorresponding to `Code.CANCELLED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/frameworks": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "ListFrameworks",
        "description": "Lists all Frameworks (both Built-in and Custom) available within a given\nparent resource. This method supports pagination.\nThe latest major version of each Framework is returned.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of frameworks to return. The default value is\n`500`.\n\nIf you exceed the maximum value of `1000`, then the service uses the\nmaximum value.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A pagination token returned from a previous request to list frameworks.\nProvide this token to retrieve the next page of results.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFrameworksResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "CreateFramework",
        "description": "Creates a new Framework with type `Custom` under a given parent resource.\nFrameworks with type `Built-in` are managed by Google and cannot be created\nthrough this API.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frameworkId",
            "description": "Required. ID of the framework.\nThis is not the full name of the framework.\nThis is the last part of the full name of the framework.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Framework"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Framework"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/frameworks/{framework}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "GetFramework",
        "description": "Gets details of a single Framework.\nThis method retrieves a Framework resource, which can be either Built-in or\nCustom, identified by its name.\n\nBy default, the latest major version of the Framework is returned.\nA specific major version can be retrieved by specifying the\n`major_revision_id` in the request.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "framework",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "majorRevisionId",
            "description": "Optional. The Framework major version to retrieve. If not specified, the most\nrecently updated revision_id is retrieved.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Framework"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "UpdateFramework",
        "description": "Updates a single Framework.\nThis method allows for partial updates of a Framework resource. The fields\nto be updated are specified using the `update_mask`.\n\n- If an `update_mask` is provided, only the fields specified in the mask\nwill be updated.\n- If no `update_mask` is provided, all fields present in the request's\n`framework` body will be used to overwrite the existing resource.\n\nThis operation can only be performed on Frameworks with type `CUSTOM`.\nA successful update will result in a new version of the Framework.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "framework",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. Field mask is used to specify the fields to be overwritten in the\nFramework resource by the update.\nThe fields specified in the update_mask are relative to the resource, not\nthe full request. A field will be overwritten if it is in the mask. If the\nuser does not provide a mask then all fields present in the request will be\noverwritten.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          },
          {
            "name": "majorRevisionId",
            "description": "Optional. The major version ID of the framework to update.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Framework"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Framework"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "DeleteFramework",
        "description": "Deletes a single Custom Framework, including all its minor and\nminor revisions.\n\n- This operation can only be performed on Frameworks with type `CUSTOM`.\n  Built-in Frameworks cannot be deleted.\n- The Framework cannot be deleted if it is currently deployed on any\n  resource.\n- This action is permanent and cannot be undone.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "framework",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/cloudControls": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "ListCloudControls",
        "description": "Lists all CloudControls (both Built-in and Custom) available within a given\nparent resource. This method supports pagination.\nThe latest major version of each CloudControl is returned.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of CloudControls to return. The default value is\n`500`.\n\nIf you exceed the maximum value of `1000`, then the service uses the\nmaximum value.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A pagination token returned from a previous request to list CloudControls.\nProvide this token to retrieve the next page of results.\n\nWhen paginating, parent provided to\nListCloudControls request must match the call that provided the page\ntoken.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCloudControlsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "CreateCloudControl",
        "description": "Creates a new CloudControl with type `Custom` under a given parent\nresource. `Built-in` CloudControls are managed by Google and cannot be\ncreated through this API.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudControlId",
            "description": "Required. ID of the CloudControl.\nThis is the last segment of the CloudControl resource name.\nFormat: `^a-zA-Z{0,61}[a-zA-Z0-9]$`.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudControl"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudControl"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/cloudControls/{cloudcontrol}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "GetCloudControl",
        "description": "Gets details of a single CloudControl.\nThis method retrieves a CloudControl resource, which can be either Built-in\nor Custom, identified by its name.\n\nBy default, the latest major version of the CloudControl is returned.\nA specific major version can be retrieved by specifying the\n`major_revision_id` in the request.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudcontrol",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudControl"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "UpdateCloudControl",
        "description": "Updates a single CloudControl.\nThis method allows for partial updates of a Custom CloudControl resource.\nBuilt-in CloudControls cannot be updated.\n\n- If an `update_mask` is provided, only the fields specified in the mask\nwill be updated.\n- If no `update_mask` is provided, all fields present in the request's\n`cloud_control` body will be used to overwrite the existing resource.\n\nA successful update will result in a new version of the CloudControl.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudcontrol",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. Field mask is used to specify the fields to be overwritten in the\nCloudControl resource by the update.\nThe fields specified in the update_mask are relative to the resource, not\nthe full request. A field will be overwritten if it is in the mask. If the\nuser does not provide a mask then all fields present in the request will be\noverwritten. The fields that can be updated are:\n1. Display_name\n2. Description\n3. Parameters\n4. Rules\n5. ParameterSpec.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudControl"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudControl"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "DeleteCloudControl",
        "description": "Deletes a single Custom CloudControl, including all its\nmajor and minor revisions.\n\n- This operation can only be performed on CloudControls with type `CUSTOM`.\n  Built-in CloudControls cannot be deleted.\n- The CloudControl cannot be deleted if any of its revisions are currently\n  referenced by any Framework.\n- This action is permanent and cannot be undone.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudcontrol",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/frameworkDeployments": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "post": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "CreateFrameworkDeployment",
        "description": "Creates a new FrameworkDeployment in a given parent resource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frameworkDeploymentId",
            "description": "Optional. User provided identifier. It should be unique in scope of a parent.\nThis is optional and if not provided, a random UUID will be generated.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The FrameworkDeployment to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrameworkDeployment"
              }
            }
          }
        },
        "x-google-lro": "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFrameworkDeploymentOperation"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "ListFrameworkDeployments",
        "description": "Lists FrameworkDeployments in a given parent resource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filter to be applied on the resource, defined by EBNF grammar\nhttps://google.aip.dev/assets/misc/ebnf-filtering.txt.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Sort results. Supported are \"name\", \"name desc\" or \"\" (unsorted).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFrameworkDeploymentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/frameworkDeployments/{frameworkdeployment}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "delete": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "DeleteFrameworkDeployment",
        "description": "Deletes a single FrameworkDeployment.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frameworkdeployment",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "etag",
            "description": "Optional. An opaque identifier for the current version of the resource.\n\nIf you provide this value, then it must match the existing value. If the\nvalues don't match, then the request fails with an\nABORTED error.\n\nIf you omit this value, then the resource is deleted regardless of its\ncurrent `etag` value.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-google-lro": "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFrameworkDeploymentOperation"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "GetFrameworkDeployment",
        "description": "Gets details of a single FrameworkDeployment.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frameworkdeployment",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkDeployment"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/cloudControlDeployments/{cloudcontroldeployment}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "GetCloudControlDeployment",
        "description": "Gets details of a single CloudControlDeployment.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudcontroldeployment",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudControlDeployment"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/cloudControlDeployments": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "ListCloudControlDeployments",
        "description": "Lists CloudControlDeployments in a given parent resource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filter to be applied on the resource, defined by EBNF grammar\nhttps://google.aip.dev/assets/misc/ebnf-filtering.txt.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Sort results. Supported are \"name\", \"name desc\" or \"\" (unsorted).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCloudControlDeploymentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "ListLocations",
        "description": "Lists information about the supported locations for this service.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "A filter to narrow down results to a preferred subset.\nThe filtering language accepts strings like `\"displayName=tokyo\"`, and\nis documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The maximum number of results to return.\nIf not set, the service selects a default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "A page token received from the `next_page_token` field in the response.\nSend that page token to receive the subsequent page.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extraLocationTypes",
            "description": "Optional. Unless explicitly documented otherwise, don't use this unsupported field\nwhich is primarily intended for internal usage.",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt" },
        { "$ref": "#/components/parameters/callback" },
        { "$ref": "#/components/parameters/prettyPrint" },
        { "$ref": "#/components/parameters/_.xgafv" }
      ],
      "get": {
        "tags": ["cloudsecuritycompliance"],
        "operationId": "GetLocation",
        "description": "Gets information about a location.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "default": "json",
          "enum": ["json", "media", "proto"],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ],
          "type": "string"
        },
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": ["1", "2"],
          "x-google-enum-descriptions": ["v1 error format", "v2 error format"],
          "type": "string"
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "bearer_auth": {
        "type": "http",
        "description": "Http bearer authentication.",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ListOperationsResponse": {
        "description": "The response message for Operations.ListOperations.",
        "type": "object",
        "properties": {
          "operations": {
            "description": "A list of operations that matches the specified filter in the request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          }
        }
      },
      "Status": {
        "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
        "type": "object",
        "properties": {
          "code": {
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
            "type": "string"
          },
          "details": {
            "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              }
            }
          }
        }
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object"
      },
      "CancelOperationRequest": {
        "description": "The request message for Operations.CancelOperation.",
        "type": "object"
      },
      "ListFrameworksResponse": {
        "description": "Response message for listing Frameworks.\nContains a paginated list of Framework resources.",
        "type": "object",
        "properties": {
          "frameworks": {
            "description": "The list of Framework resources.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Framework"
            }
          },
          "nextPageToken": {
            "description": "A pagination token. To retrieve the next page of results, call the method\nagain with this token.",
            "type": "string"
          }
        }
      },
      "Framework": {
        "description": "A Framework is a collection of CloudControls to address security and\ncompliance requirements. Frameworks can be used for prevention, detection,\nand auditing. They can be either built-in, industry-standard frameworks\nprovided by GCP/AZURE/AWS (e.g., NIST, FedRAMP) or custom frameworks created\nby users.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. Identifier. The name of the framework.\nFormat:\norganizations/{organization}/locations/{location}/frameworks/{framework_id}",
            "x-google-identifier": true,
            "type": "string"
          },
          "majorRevisionId": {
            "description": "Output only. Major revision of the framework incremented in ascending order.",
            "readOnly": true,
            "type": "string",
            "format": "int64"
          },
          "displayName": {
            "description": "Optional. Display name of the framework. The maximum length is 200 characters.",
            "type": "string"
          },
          "description": {
            "description": "Optional. The description of the framework. The maximum length is 2000 characters.",
            "type": "string"
          },
          "type": {
            "description": "Output only. The type of the framework. The default is TYPE_CUSTOM.",
            "readOnly": true,
            "type": "string",
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "The framework is a built-in framework if it is created and managed by\nGCP.",
              "The framework is a custom framework if it is created and managed by the\nuser."
            ],
            "enum": ["FRAMEWORK_TYPE_UNSPECIFIED", "BUILT_IN", "CUSTOM"]
          },
          "cloudControlDetails": {
            "description": "Optional. The details of the cloud controls directly added without any grouping in\nthe framework.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudControlDetails"
            }
          },
          "category": {
            "description": "Optional. The category of the framework.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FrameworkCategory"
            }
          },
          "supportedCloudProviders": {
            "description": "Output only. cloud providers supported",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudProvider"
            }
          },
          "supportedTargetResourceTypes": {
            "description": "Output only. target resource types supported by the Framework.",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetResourceType"
            }
          },
          "supportedEnforcementModes": {
            "description": "Output only. The supported enforcement modes of the framework.",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnforcementMode"
            }
          }
        },
        "required": ["name"]
      },
      "CloudControlDetails": {
        "description": "CloudControlDetails contains the details of a CloudControl.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. The name of the CloudControl in the format:\n\u201Corganizations/{organization}/locations/{location}/\ncloudControls/{cloud-control}\u201D",
            "type": "string"
          },
          "majorRevisionId": {
            "description": "Required. Major revision of cloudcontrol",
            "type": "string",
            "format": "int64"
          },
          "parameters": {
            "description": "Optional. Parameters is a key-value pair that is required by the CloudControl. The\nspecification of these parameters will be present in cloudcontrol.Eg: {\n\"name\": \"location\",\"value\": \"us-west-1\"}.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            }
          }
        },
        "required": ["name", "majorRevisionId"]
      },
      "Parameter": {
        "description": "Parameters is a key-value pair.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. The name of the parameter.",
            "type": "string"
          },
          "parameterValue": {
            "description": "Required. The value of the parameter",
            "allOf": [
              {
                "$ref": "#/components/schemas/ParamValue"
              }
            ]
          }
        },
        "required": ["name", "parameterValue"]
      },
      "ParamValue": {
        "description": "Possible parameter value types.",
        "type": "object",
        "properties": {
          "stringValue": {
            "description": "Represents a string value.",
            "type": "string"
          },
          "boolValue": {
            "description": "Represents a boolean value.",
            "type": "boolean"
          },
          "stringListValue": {
            "description": "Represents a repeated string.",
            "allOf": [
              {
                "$ref": "#/components/schemas/StringList"
              }
            ]
          },
          "numberValue": {
            "description": "Represents a double value.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "StringList": {
        "description": "A list of strings.",
        "type": "object",
        "properties": {
          "values": {
            "description": "Required. The strings in the list.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["values"]
      },
      "ListCloudControlsResponse": {
        "description": "Response message for ListCloudControls.",
        "type": "object",
        "properties": {
          "cloudControls": {
            "description": "The list of CloudControl resources.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudControl"
            }
          },
          "nextPageToken": {
            "description": "A pagination token. To retrieve the next page of results, call the method\nagain with this token.",
            "type": "string"
          }
        }
      },
      "CloudControl": {
        "description": "A CloudControl is the fundamental unit encapsulating the rules\nto meet a specific security or compliance intent. It can contain\nvarious rule types (like Organization Policies, CEL expressions, etc.)\nenabling different enforcement modes (Preventive, Detective, Audit).\nCloudControls are often parameterized for reusability and can be either\nBUILT_IN (provided by Google) or CUSTOM (defined by the user).",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. Identifier. The resource name of the cloud control.\nFormat:\norganizations/{organization}/locations/{location}/cloudControls/{cloud_control_id}",
            "x-google-identifier": true,
            "type": "string"
          },
          "majorRevisionId": {
            "description": "Output only. Major revision of the cloud control incremented in ascending order.",
            "readOnly": true,
            "type": "string",
            "format": "int64"
          },
          "description": {
            "description": "Optional. A description of the cloud control. The maximum length is 2000 characters.",
            "type": "string"
          },
          "displayName": {
            "description": "Optional. The display name of the cloud control. The maximum length is 200\ncharacters.",
            "type": "string"
          },
          "supportedEnforcementModes": {
            "description": "Output only. The supported enforcement mode of the cloud control. Default is DETECTIVE.",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnforcementMode"
            }
          },
          "parameterSpec": {
            "description": "Optional. The parameter spec of the cloud control.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterSpec"
            }
          },
          "rules": {
            "description": "Optional. The Policy to be enforced to prevent/detect resource non-compliance.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rule"
            }
          },
          "severity": {
            "description": "Optional. The severity of findings generated by the cloud control.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Severity"
              }
            ]
          },
          "findingCategory": {
            "description": "Optional. The finding_category of the cloud control. The maximum length is 255\ncharacters.",
            "type": "string"
          },
          "supportedCloudProviders": {
            "description": "Optional. cloud providers supported",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudProvider"
            }
          },
          "relatedFrameworks": {
            "description": "Output only. The Frameworks that include this CloudControl",
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "remediationSteps": {
            "description": "Optional. The remediation steps for the findings generated by the cloud control. The\nmaximum length is 400 characters.",
            "type": "string"
          },
          "categories": {
            "description": "Optional. The categories of the cloud control.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudControlCategory"
            }
          },
          "createTime": {
            "description": "Output only. The last updated time of the cloud control.\nThe create_time is used because a new CC is created whenever we update an\nexisting CC.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "supportedTargetResourceTypes": {
            "description": "Optional. target resource types supported by the CloudControl.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetResourceType"
            }
          }
        },
        "required": ["name"]
      },
      "ParameterSpec": {
        "description": "A parameter spec of the cloud control.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. The name of the parameter.",
            "type": "string"
          },
          "displayName": {
            "description": "Optional. The display name of the parameter. The maximum length is 200 characters.",
            "type": "string"
          },
          "description": {
            "description": "Optional. The description of the parameter. The maximum length is 2000 characters.",
            "type": "string"
          },
          "isRequired": {
            "description": "Required. if the parameter is required",
            "type": "boolean"
          },
          "valueType": {
            "description": "Required. Parameter value type.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "String value.",
              "Boolean value.",
              "String list value.",
              "Numeric value.",
              "OneOf value."
            ],
            "enum": [
              "VALUE_TYPE_UNSPECIFIED",
              "STRING",
              "BOOLEAN",
              "STRINGLIST",
              "NUMBER",
              "ONEOF"
            ]
          },
          "defaultValue": {
            "description": "Optional. The default value of the parameter.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ParamValue"
              }
            ]
          },
          "substitutionRules": {
            "description": "Optional. List of parameter substitutions.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterSubstitutionRule"
            }
          },
          "validation": {
            "description": "Optional. The allowed set of values for the parameter.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Validation"
              }
            ]
          }
        },
        "required": ["name", "isRequired", "valueType"]
      },
      "ParameterSubstitutionRule": {
        "description": "Parameter substitution rules.",
        "type": "object",
        "properties": {
          "placeholderSubstitutionRule": {
            "description": "Placeholder substitution rule.",
            "allOf": [
              {
                "$ref": "#/components/schemas/PlaceholderSubstitutionRule"
              }
            ]
          },
          "attributeSubstitutionRule": {
            "description": "Attribute substitution rule.",
            "allOf": [
              {
                "$ref": "#/components/schemas/AttributeSubstitutionRule"
              }
            ]
          }
        }
      },
      "PlaceholderSubstitutionRule": {
        "description": "Placeholder is substituted in the rendered string.",
        "type": "object",
        "properties": {
          "attribute": {
            "description": "Fully qualified proto attribute path (e.g., dot notation)",
            "type": "string"
          }
        }
      },
      "AttributeSubstitutionRule": {
        "description": "Attribute at the given path is substituted entirely.",
        "type": "object",
        "properties": {
          "attribute": {
            "description": "Fully qualified proto attribute path (in dot notation).\nExample: rules[0].cel_expression.resource_types_values",
            "type": "string"
          }
        }
      },
      "Validation": {
        "description": "Validation of the parameter.",
        "type": "object",
        "properties": {
          "allowedValues": {
            "description": "Allowed set of values for the parameter.",
            "allOf": [
              {
                "$ref": "#/components/schemas/AllowedValues"
              }
            ]
          },
          "intRange": {
            "description": "Allowed range for numeric parameters.",
            "allOf": [
              {
                "$ref": "#/components/schemas/IntRange"
              }
            ]
          },
          "regexpPattern": {
            "description": "Regular expression for string parameters.",
            "allOf": [
              {
                "$ref": "#/components/schemas/RegexpPattern"
              }
            ]
          }
        }
      },
      "AllowedValues": {
        "description": "Allowed set of values for the parameter.",
        "type": "object",
        "properties": {
          "values": {
            "description": "Required. List of allowed values for the parameter.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParamValue"
            }
          }
        },
        "required": ["values"]
      },
      "IntRange": {
        "description": "Number range for number parameters.",
        "type": "object",
        "properties": {
          "min": {
            "description": "Required. Minimum allowed value for the numeric parameter (inclusive).",
            "type": "string",
            "format": "int64"
          },
          "max": {
            "description": "Required. Maximum allowed value for the numeric parameter (inclusive).",
            "type": "string",
            "format": "int64"
          }
        },
        "required": ["min", "max"]
      },
      "RegexpPattern": {
        "description": "Regular Expression Validator for parameter values.",
        "type": "object",
        "properties": {
          "pattern": {
            "description": "Required. Regex Pattern to match the value(s) of parameter.",
            "type": "string"
          }
        },
        "required": ["pattern"]
      },
      "Rule": {
        "description": "A rule of the cloud control.",
        "type": "object",
        "properties": {
          "celExpression": {
            "description": "Logic expression in CEL language.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CELExpression"
              }
            ]
          },
          "description": {
            "description": "Optional. Description of the Rule. The maximum length is 2000 characters.",
            "type": "string"
          },
          "ruleActionTypes": {
            "description": "Required. The functionality enabled by the Rule.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleActionType"
            }
          }
        },
        "required": ["ruleActionTypes"]
      },
      "CELExpression": {
        "description": "A [CEL\nexpression](https://cloud.google.com/certificate-authority-service/docs/using-cel).",
        "type": "object",
        "properties": {
          "resourceTypesValues": {
            "description": "The resource instance types on which this expression is defined.\nFormat will be of the form : `/`\nExample: `compute.googleapis.com/Instance`.",
            "allOf": [
              {
                "$ref": "#/components/schemas/StringList"
              }
            ]
          },
          "expression": {
            "description": "Required. Logic expression in CEL language.\nThe max length of the condition is 1000 characters.",
            "type": "string"
          }
        },
        "required": ["expression"]
      },
      "FrameworkDeployment": {
        "description": "FrameworkDeployment represents deployment of a Framework on a target\nresource. Supported target resources are organizations/{organization},\nfolders/{folder}, and projects/{project}.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. FrameworkDeployment name in the following format:\norganizations/{organization}/locations/{location}/frameworkDeployments/{framework_deployment_id}",
            "x-google-identifier": true,
            "type": "string"
          },
          "targetResourceConfig": {
            "description": "Required. The details of the target resource on which the Framework is to be\ndeployed. It can either be an existing target resource or a new target\nresource to be created.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TargetResourceConfig"
              }
            ]
          },
          "computedTargetResource": {
            "description": "Output only. The resource on which the Framework is deployed based on the provided\nTargetResourceConfig in the following format:\norganizations/{organization}, folders/{folder} or projects/{project}",
            "readOnly": true,
            "type": "string"
          },
          "framework": {
            "description": "Required. Reference to the framework to be deployed.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FrameworkReference"
              }
            ]
          },
          "description": {
            "description": "Optional. User provided description of the Framework deployment",
            "type": "string"
          },
          "cloudControlMetadata": {
            "description": "Required. Deployment mode and parameters for each of the Cloud Controls in\nthe framework. Every Cloud Control in the framework must have a\nCloudControlMetadata.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudControlMetadata"
            }
          },
          "deploymentState": {
            "description": "Output only. State of the Framework Deployment",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/DeploymentState"
              }
            ]
          },
          "createTime": {
            "description": "Output only. The time at which the resource was created.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "description": "Output only. The time at which the resource last updated.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "etag": {
            "description": "Optional. To prevent concurrent updates from overwriting each other, always provide\nthe `etag` when you update a FrameworkDeployment. You can also\nprovide the `etag` when you delete a FrameworkDeployment, to help\nensure that you're deleting the intended version of the\nFrameworkDeployment.",
            "type": "string"
          },
          "targetResourceDisplayName": {
            "description": "Output only. The display name of the target resource.",
            "readOnly": true,
            "type": "string"
          },
          "cloudControlDeploymentReferences": {
            "description": "Output only. The references to the cloud control deployments. It has all the\nCloudControlDeployments which are either directly added in the framework or\nthrough a CloudControlGroup.\nExample: If a framework deployment deploys two\ncloud controls, cc-deployment-1 and cc-deployment-2, then the\ncloud_control_deployment_references will be:\n{\n cloud_control_deployment_reference: {\n   cloud_control_deployment:\n   \"organizations/{organization}/locations/{location}/cloudControlDeployments/cc-deployment-1\"\n },\n cloud_control_deployment_reference: {\n  cloud_control_deployment:\n  \"organizations/{organization}/locations/{location}/cloudControlDeployments/cc-deployment-2\"\n }",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudControlDeploymentReference"
            }
          }
        },
        "required": [
          "targetResourceConfig",
          "framework",
          "cloudControlMetadata"
        ]
      },
      "TargetResourceConfig": {
        "description": "TargetResourceConfig contains either the name of the target_resource or\ncontains the config to create a new target_resource.",
        "type": "object",
        "properties": {
          "existingTargetResource": {
            "description": "Optional. CRM node in format organizations/{organization}, folders/{folder},\nor projects/{project}",
            "type": "string"
          },
          "targetResourceCreationConfig": {
            "description": "Optional. Config to create a new resource and use that as the target_resource for\ndeployment.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TargetResourceCreationConfig"
              }
            ]
          }
        }
      },
      "TargetResourceCreationConfig": {
        "description": "TargetResourceCreationConfig contains the config to create a new resource to\nbe used as the target_resource of a deployment.",
        "type": "object",
        "properties": {
          "folderCreationConfig": {
            "description": "Optional. Config to create a new folder to be used as the target_resource of a\ndeployment.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FolderCreationConfig"
              }
            ]
          },
          "projectCreationConfig": {
            "description": "Optional. Config to create a new project to be used as the target_resource of a\ndeployment.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectCreationConfig"
              }
            ]
          }
        }
      },
      "FolderCreationConfig": {
        "description": "FolderCreationConfig contains the config to create a new folder to be used\nas the target_resource of a deployment.",
        "type": "object",
        "properties": {
          "parent": {
            "description": "Required. The parent of the folder to be created. It can be an organizations/{org} or\nfolders/{folder}",
            "type": "string"
          },
          "folderDisplayName": {
            "description": "Required. Display name of the folder to be created",
            "type": "string"
          }
        },
        "required": ["parent", "folderDisplayName"]
      },
      "ProjectCreationConfig": {
        "description": "ProjectCreationConfig contains the config to create a new project to be used\nas the target_resource of a deployment.",
        "type": "object",
        "properties": {
          "parent": {
            "description": "Required. organizations/{org} or folders/{folder}",
            "type": "string"
          },
          "projectDisplayName": {
            "description": "Required. Display name of the project to be created.",
            "type": "string"
          },
          "billingAccountId": {
            "description": "Required. Billing account id to be used for the project.",
            "type": "string"
          }
        },
        "required": ["parent", "projectDisplayName", "billingAccountId"]
      },
      "FrameworkReference": {
        "description": "FrameworkReference contains the reference of a framework.",
        "type": "object",
        "properties": {
          "framework": {
            "description": "Required. In the format:\norganizations/{org}/locations/{location}/frameworks/{framework}",
            "type": "string"
          },
          "majorRevisionId": {
            "description": "Optional. Major revision id of the framework. If not specified, corresponds to the\nlatest revision of the framework.",
            "type": "string",
            "format": "int64"
          }
        },
        "required": ["framework"]
      },
      "CloudControlMetadata": {
        "description": "CloudControlMetadata contains the enforcement mode and parameters of a Cloud\nControl Deployment.",
        "type": "object",
        "properties": {
          "cloudControlDetails": {
            "description": "Required. Cloud control name and parameters.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CloudControlDetails"
              }
            ]
          },
          "enforcementMode": {
            "description": "Required. Enforcement mode of the cloud control",
            "allOf": [
              {
                "$ref": "#/components/schemas/EnforcementMode"
              }
            ]
          }
        },
        "required": ["cloudControlDetails", "enforcementMode"]
      },
      "CloudControlDeploymentReference": {
        "description": "The reference to a CloudControlDeployment.",
        "type": "object",
        "properties": {
          "cloudControlDeployment": {
            "description": "Output only. The name of the CloudControlDeployment. The format is:\norganizations/{org}/locations/{location}/cloudControlDeployments/{cloud_control_deployment_id}",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "OperationMetadata": {
        "description": "Represents the metadata of the long-running operation.",
        "type": "object",
        "properties": {
          "createTime": {
            "description": "Output only. The time the operation was created.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "description": "Output only. The time the operation finished running.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "verb": {
            "description": "Output only. Name of the verb executed by the operation.",
            "readOnly": true,
            "type": "string"
          },
          "statusMessage": {
            "description": "Output only. Human-readable status of the operation, if any.",
            "readOnly": true,
            "type": "string"
          },
          "requestedCancellation": {
            "description": "Output only. Identifies whether the user has requested cancellation\nof the operation. Operations that have been cancelled successfully\nhave Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
            "readOnly": true,
            "type": "boolean"
          },
          "apiVersion": {
            "description": "Output only. API version used to start the operation.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "ListFrameworkDeploymentsResponse": {
        "description": "Response message for ListFrameworkDeployments.",
        "type": "object",
        "properties": {
          "frameworkDeployments": {
            "description": "The list of FrameworkDeployments.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FrameworkDeployment"
            }
          },
          "nextPageToken": {
            "description": "A token identifying a page of results the server should return.",
            "type": "string"
          }
        }
      },
      "CloudControlDeployment": {
        "description": "CloudControlDeployment represents deployment of a CloudControl on a target\nresource. Supported target resources are organizations/{organization},\nfolders/{folder}, and projects/{project}.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. CloudControlDeployment name in the following format:\norganizations/{organization}/locations/{location}/cloudControlDeployments/{cloud_control_deployment_id}",
            "x-google-identifier": true,
            "type": "string"
          },
          "targetResourceConfig": {
            "description": "Required. The details of the target resource on which the CloudControl is to be\ndeployed. It can either be an existing target resource or a new target\nresource to be created.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TargetResourceConfig"
              }
            ]
          },
          "targetResource": {
            "description": "Output only. The resource on which the CloudControl is deployed based on the provided\nTargetResourceConfig in the following format:\norganizations/{organization}, folders/{folder} or projects/{project}.",
            "readOnly": true,
            "type": "string"
          },
          "cloudControlMetadata": {
            "description": "Required. Deployment mode and parameters for the Cloud Control.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CloudControlMetadata"
              }
            ]
          },
          "description": {
            "description": "Optional. User provided description of the CloudControl deployment",
            "type": "string"
          },
          "deploymentState": {
            "description": "Output only. State of the CloudControl deployment",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/DeploymentState"
              }
            ]
          },
          "createTime": {
            "description": "Output only. The time at which the resource was created.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "description": "Output only. The time at which the resource last updated.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "etag": {
            "description": "Optional. To prevent concurrent updates from overwriting each other, always provide\nthe `etag` when you update a CloudControlDeployment. You can also\nprovide the `etag` when you delete a CloudControlDeployment, to help\nensure that you're deleting the intended version of the\nCloudControlDeployment.",
            "type": "string"
          },
          "parameterSubstitutedCloudControl": {
            "description": "Output only. The CloudControl after substitution of given parameters.",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/CloudControl"
              }
            ]
          },
          "frameworkDeploymentReferences": {
            "description": "Output only. The references to the Framework deployments that this Cloud Control\ndeployment is part of. A Cloud Control deployment can be part of multiple\nFramework deployments.",
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FrameworkDeploymentReference"
            }
          },
          "targetResourceDisplayName": {
            "description": "Output only. The display name of the target resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": ["targetResourceConfig", "cloudControlMetadata"]
      },
      "FrameworkDeploymentReference": {
        "description": "The reference to a FrameworkDeployment.",
        "type": "object",
        "properties": {
          "frameworkDeployment": {
            "description": "Output only. The name of the FrameworkDeployment. The format is:\norganizations/{org}/locations/{location}/frameworkDeployments/{framework_deployment_id}",
            "readOnly": true,
            "type": "string"
[...]
