{
  "openapi": "3.0.3",
  "info": {
    "title": "Developer Connect API",
    "description": "Connect third-party source code management to Google",
    "version": "v1",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://developerconnect.googleapis.com",
      "description": "Global Endpoint"
    },
    {
      "url": "https://developerconnect.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-central1"
    },
    {
      "url": "https://developerconnect.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west1"
    },
    {
      "url": "https://developerconnect.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-east1"
    },
    {
      "url": "https://developerconnect.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-east2"
    },
    {
      "url": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west4"
    },
    {
      "url": "https://developerconnect.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-east4"
    },
    {
      "url": "https://developerconnect.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-east5"
    },
    {
      "url": "https://developerconnect.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "asia-southeast1"
    },
    {
      "url": "https://developerconnect.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-west1"
    },
    {
      "url": "https://developerconnect.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-west2"
    }
  ],
  "paths": {
    "/v1/projects/{project}/locations/{location}/operations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "ListOperations",
        "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "The standard list filter.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The standard list page size.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "The standard list page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/operations/{operation}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "GetOperation",
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["developerconnect"],
        "operationId": "DeleteOperation",
        "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/operations/{operation}:cancel": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["developerconnect"],
        "operationId": "CancelOperation",
        "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of `1`,\ncorresponding to `Code.CANCELLED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "ListConnections",
        "description": "Lists Connections in a given project and location.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filtering results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Hint for how to order the results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConnectionsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["developerconnect"],
        "operationId": "CreateConnection",
        "description": "Creates a new Connection in a given project and location.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "description": "Required. Id of the requesting object\nIf auto-generating Id server-side, remove this field and\nconnection_id from the method_signature of Create RPC",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set, validate the request, but do not actually post it.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Connection"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectionOperation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "GetConnection",
        "description": "Gets details of a single Connection.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["developerconnect"],
        "operationId": "UpdateConnection",
        "description": "Updates the parameters of a single Connection.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Required. Field mask is used to specify the fields to be overwritten in the\nConnection resource by the update.\nThe fields specified in the update_mask are relative to the resource, not\nthe full request. A field will be overwritten if it is in the mask. If the\nuser does not provide a mask then all fields will be overwritten.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowMissing",
            "description": "Optional. If set to true, and the connection is not found a new connection\nwill be created. In this situation `update_mask` is ignored.\nThe creation will succeed only if the input connection has all the\nnecessary information (e.g a github_config with both  user_oauth_token and\ninstallation_id properties).",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set, validate the request, but do not actually post it.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Connection"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConnectionOperation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["developerconnect"],
        "operationId": "DeleteConnection",
        "description": "Deletes a single Connection.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set, validate the request, but do not actually post it.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "etag",
            "description": "Optional. The current etag of the Connection.\nIf an etag is provided and does not match the current etag of the\nConnection, deletion will be blocked and an ABORTED error will be returned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConnectionOperation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["developerconnect"],
        "operationId": "CreateGitRepositoryLink",
        "description": "Creates a GitRepositoryLink. Upon linking a Git Repository, Developer\nConnect will configure the Git Repository to send webhook events to\nDeveloper Connect. Connections that use Firebase GitHub Application will\nhave events forwarded to the Firebase service. All other Connections will\nhave events forwarded to Cloud Build.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitRepositoryLinkId",
            "description": "Required. The ID to use for the repository, which will become the final component of\nthe repository's resource name. This ID should be unique in the connection.\nAllows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set, validate the request, but do not actually post it.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitRepositoryLink"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGitRepositoryLinkOperation"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["developerconnect"],
        "operationId": "ListGitRepositoryLinks",
        "description": "Lists GitRepositoryLinks in a given project, location, and connection.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filtering results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Hint for how to order the results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGitRepositoryLinksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{gitrepositorylink}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "delete": {
        "tags": ["developerconnect"],
        "operationId": "DeleteGitRepositoryLink",
        "description": "Deletes a single GitRepositoryLink.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitrepositorylink",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set, validate the request, but do not actually post it.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "etag",
            "description": "Optional. This checksum is computed by the server based on the value of other\nfields, and may be sent on update and delete requests to ensure the\nclient has an up-to-date value before proceeding.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteGitRepositoryLinkOperation"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["developerconnect"],
        "operationId": "GetGitRepositoryLink",
        "description": "Gets details of a single GitRepositoryLink.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitrepositorylink",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitRepositoryLink"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{gitrepositorylink}:fetchReadWriteToken": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["developerconnect"],
        "operationId": "FetchReadWriteToken",
        "description": "Fetches read/write token of a given gitRepositoryLink.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitrepositorylink",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchReadWriteTokenRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchReadWriteTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{gitrepositorylink}:fetchReadToken": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["developerconnect"],
        "operationId": "FetchReadToken",
        "description": "Fetches read token of a given gitRepositoryLink.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitrepositorylink",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchReadTokenRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchReadTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}:fetchLinkableGitRepositories": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "FetchLinkableGitRepositories",
        "description": "FetchLinkableGitRepositories returns a list of git repositories from an SCM\nthat are available to be added to a Connection.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Number of results to return in the list. Defaults to 20.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. Page start.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchLinkableGitRepositoriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}:fetchGitHubInstallations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "FetchGitHubInstallations",
        "description": "FetchGitHubInstallations returns the list of GitHub Installations that\nare available to be added to a Connection.\nFor github.com, only installations accessible to the authorizer token\nare returned. For GitHub Enterprise, all installations are returned.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchGitHubInstallationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{gitrepositorylink}:fetchGitRefs": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "FetchGitRefs",
        "description": "Fetch the list of branches or tags for a given repository.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitrepositorylink",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refType",
            "description": "Required. Type of refs to fetch.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-google-enum-descriptions": [
                "No type specified.",
                "To fetch tags.",
                "To fetch branches."
              ],
              "enum": [
                "REF_TYPE_UNSPECIFIED",
                "TAG",
                "BRANCH"
              ]
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Number of results to return in the list. Default to 20.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. Page start.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchGitRefsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections:processGitHubEnterpriseWebhook": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["developerconnect"],
        "operationId": "ProcessGitHubEnterpriseWebhook",
        "description": "ProcessGitHubEnterpriseWebhook is called by the external GitHub Enterprise\ninstances for notifying events.",
        "security": [
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessGitHubEnterpriseWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{gitrepositorylink}:processGitLabEnterpriseWebhook": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["developerconnect"],
        "operationId": "ProcessGitLabEnterpriseWebhook",
        "description": "ProcessGitLabEnterpriseWebhook is called by the external GitLab Enterprise\ninstances for notifying events.",
        "security": [
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitrepositorylink",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessGitLabEnterpriseWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{gitrepositorylink}:processGitLabWebhook": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["developerconnect"],
        "operationId": "ProcessGitLabWebhook",
        "description": "ProcessGitLabWebhook is called by the GitLab.com for notifying events.",
        "security": [
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connection",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitrepositorylink",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessGitLabWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "ListLocations",
        "description": "Lists information about the supported locations for this service.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "A filter to narrow down results to a preferred subset.\nThe filtering language accepts strings like `\"displayName=tokyo\"`, and\nis documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The maximum number of results to return.\nIf not set, the service selects a default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "A page token received from the `next_page_token` field in the response.\nSend that page token to receive the subsequent page.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["developerconnect"],
        "operationId": "GetLocation",
        "description": "Gets information about a location.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ],
          "type": "string"
        },
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ],
          "type": "string"
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "bearer_auth": {
        "type": "http",
        "description": "Http bearer authentication.",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ListOperationsResponse": {
        "description": "The response message for Operations.ListOperations.",
        "type": "object",
        "properties": {
          "operations": {
            "description": "A list of operations that matches the specified filter in the request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          }
        }
      },
      "Status": {
        "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
        "type": "object",
        "properties": {
          "code": {
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
            "type": "string"
          },
          "details": {
            "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              }
            }
          }
        }
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object"
      },
      "CancelOperationRequest": {
        "description": "The request message for Operations.CancelOperation.",
        "type": "object"
      },
      "ListConnectionsResponse": {
        "description": "Message for response to listing Connections",
        "type": "object",
        "properties": {
          "connections": {
            "description": "The list of Connection",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connection"
            }
          },
          "nextPageToken": {
            "description": "A token identifying a page of results the server should return.",
            "type": "string"
          },
          "unreachable": {
            "description": "Locations that could not be reached.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Connection": {
        "description": "Message describing Connection object",
        "type": "object",
        "properties": {
          "githubConfig": {
            "description": "Configuration for connections to github.com.",
            "allOf": [{
              "$ref": "#/components/schemas/GitHubConfig"
            }]
          },
          "githubEnterpriseConfig": {
            "description": "Configuration for connections to an instance of GitHub Enterprise.",
            "allOf": [{
              "$ref": "#/components/schemas/GitHubEnterpriseConfig"
            }]
          },
          "gitlabConfig": {
            "description": "Configuration for connections to gitlab.com.",
            "allOf": [{
              "$ref": "#/components/schemas/GitLabConfig"
            }]
          },
          "gitlabEnterpriseConfig": {
            "description": "Configuration for connections to an instance of GitLab Enterprise.",
            "allOf": [{
              "$ref": "#/components/schemas/GitLabEnterpriseConfig"
            }]
          },
          "name": {
            "description": "Identifier. The resource name of the connection, in the format\n`projects/{project}/locations/{location}/connections/{connection_id}`.",
            "x-google-identifier": true,
            "type": "string"
          },
          "createTime": {
            "description": "Output only. [Output only] Create timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "description": "Output only. [Output only] Update timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "deleteTime": {
            "description": "Output only. [Output only] Delete timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "labels": {
            "description": "Optional. Labels as key value pairs",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "installationState": {
            "description": "Output only. Installation state of the Connection.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/InstallationState"
            }]
          },
          "disabled": {
            "description": "Optional. If disabled is set to true, functionality is disabled for this connection.\nRepository based API methods and webhooks processing for repositories in\nthis connection will be disabled.",
            "type": "boolean"
          },
          "reconciling": {
            "description": "Output only. Set to true when the connection is being set up or updated in the\nbackground.",
            "readOnly": true,
            "type": "boolean"
          },
          "annotations": {
            "description": "Optional. Allows clients to store small amounts of arbitrary data.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "etag": {
            "description": "Optional. This checksum is computed by the server based on the value of other\nfields, and may be sent on update and delete requests to ensure the\nclient has an up-to-date value before proceeding.",
            "type": "string"
          },
          "uid": {
            "description": "Output only. A system-assigned unique identifier for a the GitRepositoryLink.",
            "readOnly": true,
            "type": "string"
          },
          "cryptoKeyConfig": {
            "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed\nEncryption Keys (CMEK) feature.",
            "allOf": [{
              "$ref": "#/components/schemas/CryptoKeyConfig"
            }]
          }
        }
      },
      "GitHubConfig": {
        "description": "Configuration for connections to github.com.",
        "type": "object",
        "properties": {
          "githubApp": {
            "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or\norganization.",
            "x-google-immutable": true,
            "type": "string",
            "x-google-enum-descriptions": [
              "GitHub App not specified.",
              "The Developer Connect GitHub Application.",
              "The Firebase GitHub Application."
            ],
            "enum": [
              "GIT_HUB_APP_UNSPECIFIED",
              "DEVELOPER_CONNECT",
              "FIREBASE"
            ]
          },
          "authorizerCredential": {
            "description": "Optional. OAuth credential of the account that authorized the GitHub App.\nIt is recommended to use a robot account instead of a human user account.\nThe OAuth token must be tied to the GitHub App of this config.",
            "allOf": [{
              "$ref": "#/components/schemas/OAuthCredential"
            }]
          },
          "appInstallationId": {
            "description": "Optional. GitHub App installation id.",
            "type": "string",
            "format": "int64"
          },
          "installationUri": {
            "description": "Output only. The URI to navigate to in order to manage the installation associated\nwith this GitHubConfig.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "githubApp"
        ]
      },
      "OAuthCredential": {
        "description": "Represents an OAuth token of the account that authorized the Connection,\nand associated metadata.",
        "type": "object",
        "properties": {
          "oauthTokenSecretVersion": {
            "description": "Required. A SecretManager resource containing the OAuth token that authorizes\nthe connection. Format: `projects/*/secrets/*/versions/*`.",
            "type": "string"
          },
          "username": {
            "description": "Output only. The username associated with this token.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "oauthTokenSecretVersion"
        ]
      },
      "GitHubEnterpriseConfig": {
        "description": "Configuration for connections to an instance of GitHub Enterprise.",
        "type": "object",
        "properties": {
          "hostUri": {
            "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
            "type": "string"
          },
          "appId": {
            "description": "Optional. ID of the GitHub App created from the manifest.",
            "type": "string",
            "format": "int64"
          },
          "appSlug": {
            "description": "Output only. The URL-friendly name of the GitHub App.",
            "readOnly": true,
            "type": "string"
          },
          "privateKeySecretVersion": {
            "description": "Optional. SecretManager resource containing the private key of the GitHub App,\nformatted as `projects/*/secrets/*/versions/*`.",
            "type": "string"
          },
          "webhookSecretSecretVersion": {
            "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App,\nformatted as `projects/*/secrets/*/versions/*`.",
            "type": "string"
          },
          "appInstallationId": {
            "description": "Optional. ID of the installation of the GitHub App.",
            "type": "string",
            "format": "int64"
          },
          "installationUri": {
            "description": "Output only. The URI to navigate to in order to manage the installation associated\nwith this GitHubEnterpriseConfig.",
            "readOnly": true,
            "type": "string"
          },
          "serviceDirectoryConfig": {
            "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub\nEnterprise server. This should only be set if the GitHub Enterprise server\nis hosted on-premises and not reachable by public internet. If this field\nis left empty, calls to the GitHub Enterprise server will be made over the\npublic internet.",
            "allOf": [{
              "$ref": "#/components/schemas/ServiceDirectoryConfig"
            }]
          },
          "serverVersion": {
            "description": "Output only. GitHub Enterprise version installed at the host_uri.",
            "readOnly": true,
            "type": "string"
          },
          "sslCaCertificate": {
            "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
            "type": "string"
          }
        },
        "required": [
          "hostUri"
        ]
      },
      "ServiceDirectoryConfig": {
        "description": "ServiceDirectoryConfig represents Service Directory configuration for a\nconnection.",
        "type": "object",
        "properties": {
          "service": {
            "description": "Required. The Service Directory service name.\nFormat:\nprojects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
            "type": "string"
          }
        },
        "required": [
          "service"
        ]
      },
      "GitLabConfig": {
        "description": "Configuration for connections to gitlab.com.",
        "type": "object",
        "properties": {
          "webhookSecretSecretVersion": {
            "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project,\nformatted as `projects/*/secrets/*/versions/*`. This is used to validate\nwebhooks.",
            "x-google-immutable": true,
            "type": "string"
          },
          "readAuthorizerCredential": {
            "description": "Required. A GitLab personal access token with the minimum `read_api` scope access\nand a minimum role of `reporter`. The GitLab Projects visible to this\nPersonal Access Token will control which Projects Developer Connect has\naccess to.",
            "allOf": [{
              "$ref": "#/components/schemas/UserCredential"
            }]
          },
          "authorizerCredential": {
            "description": "Required. A GitLab personal access token with the minimum `api` scope access\nand a minimum role of `maintainer`. The GitLab Projects visible to this\nPersonal Access Token will control which Projects Developer Connect has\naccess to.",
            "allOf": [{
              "$ref": "#/components/schemas/UserCredential"
            }]
          }
        },
        "required": [
          "webhookSecretSecretVersion",
          "readAuthorizerCredential",
          "authorizerCredential"
        ]
      },
      "UserCredential": {
        "description": "Represents a personal access token that authorized the Connection,\nand associated metadata.",
        "type": "object",
        "properties": {
          "userTokenSecretVersion": {
            "description": "Required. A SecretManager resource containing the user token that authorizes\nthe Developer Connect connection. Format:\n`projects/*/secrets/*/versions/*`.",
            "type": "string"
          },
          "username": {
            "description": "Output only. The username associated with this token.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "userTokenSecretVersion"
        ]
      },
      "GitLabEnterpriseConfig": {
        "description": "Configuration for connections to an instance of GitLab Enterprise.",
        "type": "object",
        "properties": {
          "hostUri": {
            "description": "Required. The URI of the GitLab Enterprise host this connection is for.",
            "type": "string"
          },
          "webhookSecretSecretVersion": {
            "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project,\nformatted as `projects/*/secrets/*/versions/*`. This is used to validate\nwebhooks.",
            "x-google-immutable": true,
            "type": "string"
          },
          "readAuthorizerCredential": {
            "description": "Required. A GitLab personal access token with the minimum `read_api` scope access\nand a minimum role of `reporter`. The GitLab Projects visible to this\nPersonal Access Token will control which Projects Developer Connect has\naccess to.",
            "allOf": [{
              "$ref": "#/components/schemas/UserCredential"
            }]
          },
          "authorizerCredential": {
            "description": "Required. A GitLab personal access token with the minimum `api` scope access\nand a minimum role of `maintainer`. The GitLab Projects visible to this\nPersonal Access Token will control which Projects Developer Connect has\naccess to.",
            "allOf": [{
              "$ref": "#/components/schemas/UserCredential"
            }]
          },
          "serviceDirectoryConfig": {
            "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab\nEnterprise instance. This should only be set if the GitLab Enterprise\nserver is hosted on-premises and not reachable by public internet. If this\nfield is left empty, calls to the GitLab Enterprise server will be made\nover the public internet.",
            "allOf": [{
              "$ref": "#/components/schemas/ServiceDirectoryConfig"
            }]
          },
          "sslCaCertificate": {
            "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab\nEnterprise instance.",
            "type": "string"
          },
          "serverVersion": {
            "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "hostUri",
          "webhookSecretSecretVersion",
          "readAuthorizerCredential",
          "authorizerCredential"
        ]
      },
      "InstallationState": {
        "description": "Describes stage and necessary actions to be taken by the\nuser to complete the installation. Used for GitHub and GitHub Enterprise\nbased connections.",
        "type": "object",
        "properties": {
          "stage": {
            "description": "Output only. Current step of the installation process.",
            "readOnly": true,
            "type": "string",
            "x-google-enum-descriptions": [
              "No stage specified.",
              "Only for GitHub Enterprise. An App creation has been requested.\nThe user needs to confirm the creation in their GitHub enterprise host.",
              "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
              "User needs to follow the link to install the GitHub (or Enterprise) App.",
              "Installation process has been completed."
            ],
            "enum": [
              "STAGE_UNSPECIFIED",
              "PENDING_CREATE_APP",
              "PENDING_USER_OAUTH",
              "PENDING_INSTALL_APP",
              "COMPLETE"
            ]
          },
          "message": {
            "description": "Output only. Message of what the user should do next to continue the installation.\nEmpty string if the installation is already complete.",
            "readOnly": true,
            "type": "string"
          },
          "actionUri": {
            "description": "Output only. Link to follow for next action. Empty string if the installation is already\ncomplete.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "CryptoKeyConfig": {
        "description": "The crypto key configuration. This field is used by the Customer-managed\nencryption keys (CMEK) feature.",
        "type": "object",
        "properties": {
          "keyReference": {
            "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key\nin Cloud KMS, the key should be in the format of\n`projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
            "type": "string"
          }
        },
        "required": [
          "keyReference"
        ]
      },
      "OperationMetadata": {
        "description": "Represents the metadata of the long-running operation.",
        "type": "object",
        "properties": {
          "createTime": {
            "description": "Output only. The time the operation was created.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "description": "Output only. The time the operation finished running.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "description": "Output only. Server-defined resource path for the target of the operation.",
            "readOnly": true,
            "type": "string"
          },
          "verb": {
            "description": "Output only. Name of the verb executed by the operation.",
            "readOnly": true,
            "type": "string"
          },
          "statusMessage": {
            "description": "Output only. Human-readable status of the operation, if any.",
            "readOnly": true,
            "type": "string"
          },
          "requestedCancellation": {
            "description": "Output only. Identifies whether the user has requested cancellation\nof the operation. Operations that have been cancelled successfully\nhave google.longrunning.Operation.error value with a\ngoogle.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
            "readOnly": true,
            "type": "boolean"
          },
          "apiVersion": {
            "description": "Output only. API version used to start the operation.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "GitRepositoryLink": {
        "description": "Message describing the GitRepositoryLink object",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. Resource name of the repository, in the format\n`projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
            "x-google-identifier": true,
            "type": "string"
          },
          "cloneUri": {
            "description": "Required. Git Clone URI.",
            "type": "string"
          },
          "createTime": {
            "description": "Output only. [Output only] Create timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "description": "Output only. [Output only] Update timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "deleteTime": {
            "description": "Output only. [Output only] Delete timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "labels": {
            "description": "Optional. Labels as key value pairs",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "etag": {
            "description": "Optional. This checksum is computed by the server based on the value of other\nfields, and may be sent on update and delete requests to ensure the\nclient has an up-to-date value before proceeding.",
            "type": "string"
          },
          "reconciling": {
            "description": "Output only. Set to true when the connection is being set up or updated in the\nbackground.",
            "readOnly": true,
            "type": "boolean"
          },
          "annotations": {
            "description": "Optional. Allows clients to store small amounts of arbitrary data.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "uid": {
            "description": "Output only. A system-assigned unique identifier for a the GitRepositoryLink.",
            "readOnly": true,
            "type": "string"
          },
          "webhookId": {
            "description": "Output only. External ID of the webhook created for the repository.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "cloneUri"
        ]
      },
      "ListGitRepositoryLinksResponse": {
        "description": "Message for response to listing GitRepositoryLinks",
        "type": "object",
        "properties": {
          "gitRepositoryLinks": {
            "description": "The list of GitRepositoryLinks",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GitRepositoryLink"
            }
          },
          "nextPageToken": {
            "description": "A token identifying a page of results the server should return.",
            "type": "string"
          },
          "unreachable": {
            "description": "Locations that could not be reached.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FetchReadWriteTokenRequest": {
        "description": "Message for fetching SCM read/write token.",
        "type": "object"
      },
      "FetchReadWriteTokenResponse": {
        "description": "Message for responding to get read/write token.",
        "type": "object",
        "properties": {
          "token": {
            "description": "The token content.",
            "type": "string"
          },
          "expirationTime": {
            "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
            "type": "string",
            "format": "date-time"
          },
          "gitUsername": {
            "description": "The git_username to specify when making a git clone with the\ntoken. For example, for GitHub GitRepositoryLinks, this would be\n\"x-access-token\"",
            "type": "string"
          }
        }
      },
      "FetchReadTokenRequest": {
        "description": "Message for fetching SCM read token.",
        "type": "object"
      },
      "FetchReadTokenResponse": {
        "description": "Message for responding to get read token.",
        "type": "object",
        "properties": {
          "token": {
[...]
