{
  "openapi": "3.0.3",
  "info": {
    "title": "Firebase Remote Config API",
    "description": "The Firebase Remote Config API lets developers change the behavior and appearance of their apps without requiring users to download an app update. It is an alternative to, but can be used in tandem with, the Firebase console at https:\/\/console.firebase.google.com.",
    "version": "v1",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://firebaseremoteconfig.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/v1/projects/{projectsId}/remoteConfig": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "GetRemoteConfig",
        "description": "Get a project's Remote Config template and associated ETag header.\nReturns the requested RemoteConfig as the payload and an ETag as a\nresponse header.\nThe REST resource name for a Remote Config template is in the format:\n`projects/{project_id}/namespaces/{namespace_id}/remoteConfig`.\n\nTo retrieve the server-side template, use \"firebase-server\"\nas the namespace ID in [GetRemoteConfigRequest.name].\nIf [GetRemoteConfigRequest.name] is not provided, the client-side template\n('firebase' namespace) is returned.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `project`. Required. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\".",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionNumber",
            "description": "Optional. Version number of the RemoteConfig to look up. If not specified,\nthe latest RemoteConfig will be returned.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "name",
            "description": "Optional. The name of the RemoteConfig to get.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: 'firebase' or 'firebase-server')",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfig"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "UpdateRemoteConfig",
        "description": "Publish a project's Remote Config template.\n\nPass the ETag returned by\nGetRemoteConfig\nas an `If-Match` header to ensure the last seen Remote Config template is\nthe one being overwritten by this update. Pass `If-Match: *` to force an\nupdate, regardless of the current version.\n\nReturns the published RemoteConfig and the updated ETag as a\nresponse header if successful, or an error.\n\nTo update the server-side template, use \"firebase-server\"\nas the namespace ID in [UpdateRemoteConfigRequest.name].\nIf [UpdateRemoteConfigRequest.name] is not provided, the client-side\ntemplate\n('firebase' namespace) is updated.\n\nSee the publishing guide for a list of [error\ncodes](/docs/remote-config/use-config-rest#step_5_publish_json_data_to_replace_data_in_the_service).",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `project`. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\". This field is required if the `name` field is not\nprovided.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. Defaults to `false`. If `true`, the server will only attempt to\nvalidate the RemoteConfig. If validation succeeds, the RemoteConfig is\nnot written to the Remote Config server, instead a `200 OK` response is\nreturned. If validation fails, a validation error is returned.\n\nNote: other errors may still occur after this boolean is set to `false`,\neven if getting a `200 OK` when calling with UpdateRemoteConfig\nwith `validate_only` set to `true`.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "name",
            "description": "Optional. The name of the RemoteConfig to update.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: firebase or firebase-server)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The new RemoteConfig to be published to the Firebase Remote\nConfig server. The \"Expected\" ETag is passed in as a `If-Match` header.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoteConfig"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfig"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/namespaces/{namespacesId}/remoteConfig": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "GetRemoteConfigByProjectsIdAndNamespacesId",
        "x-google-operation-name" : "GetRemoteConfig",
        "description": "Get a project's Remote Config template and associated ETag header.\nReturns the requested RemoteConfig as the payload and an ETag as a\nresponse header.\nThe REST resource name for a Remote Config template is in the format:\n`projects/{project_id}/namespaces/{namespace_id}/remoteConfig`.\n\nTo retrieve the server-side template, use \"firebase-server\"\nas the namespace ID in [GetRemoteConfigRequest.name].\nIf [GetRemoteConfigRequest.name] is not provided, the client-side template\n('firebase' namespace) is returned.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Optional. The name of the RemoteConfig to get.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: 'firebase' or 'firebase-server')",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespacesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "description": "Required. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\".",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionNumber",
            "description": "Optional. Version number of the RemoteConfig to look up. If not specified,\nthe latest RemoteConfig will be returned.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfig"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "UpdateRemoteConfigByProjectsIdAndNamespacesId",
        "x-google-operation-name" : "UpdateRemoteConfig",
        "description": "Publish a project's Remote Config template.\n\nPass the ETag returned by\nGetRemoteConfig\nas an `If-Match` header to ensure the last seen Remote Config template is\nthe one being overwritten by this update. Pass `If-Match: *` to force an\nupdate, regardless of the current version.\n\nReturns the published RemoteConfig and the updated ETag as a\nresponse header if successful, or an error.\n\nTo update the server-side template, use \"firebase-server\"\nas the namespace ID in [UpdateRemoteConfigRequest.name].\nIf [UpdateRemoteConfigRequest.name] is not provided, the client-side\ntemplate\n('firebase' namespace) is updated.\n\nSee the publishing guide for a list of [error\ncodes](/docs/remote-config/use-config-rest#step_5_publish_json_data_to_replace_data_in_the_service).",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Optional. The name of the RemoteConfig to update.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: firebase or firebase-server)",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespacesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "description": "The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\". This field is required if the `name` field is not\nprovided.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. Defaults to `false`. If `true`, the server will only attempt to\nvalidate the RemoteConfig. If validation succeeds, the RemoteConfig is\nnot written to the Remote Config server, instead a `200 OK` response is\nreturned. If validation fails, a validation error is returned.\n\nNote: other errors may still occur after this boolean is set to `false`,\neven if getting a `200 OK` when calling with UpdateRemoteConfig\nwith `validate_only` set to `true`.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The new RemoteConfig to be published to the Firebase Remote\nConfig server. The \"Expected\" ETag is passed in as a `If-Match` header.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoteConfig"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfig"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/remoteConfig:downloadDefaults": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "DownloadDefaults",
        "description": "Get a project's current Remote Config template parameters and default\nvalues in JSON, property list (plist), or XML format.\n\nTo download the server-side template defaults, use \"firebase-server\"\nas the namespace ID in [DownloadDefaultsRequest.name].\nIf [DownloadDefaultsRequest.name] is not provided, the client-side template\ndefaults ('firebase' namespace) are downloaded.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `project`. Required. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\".",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "description": "Required. The file structure to return.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-google-enum-descriptions": [
                "Catch-all for unrecognized enum values.",
                "Returns a response in XML format.",
                "Returns a response in property list (plist) format.",
                "Returns a response in raw JSON format (not packaged in an HttpBody\nobject)."
              ],
              "enum": [
                "FORMAT_UNSPECIFIED",
                "XML",
                "PLIST",
                "JSON"
              ]
            }
          },
          {
            "name": "name",
            "description": "Optional. The name of the RemoteConfig to get defaults from.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: 'firebase' or 'firebase-server')",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/namespaces/{namespacesId}/remoteConfig:downloadDefaults": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "DownloadDefaultsByProjectsIdAndNamespacesId",
        "x-google-operation-name" : "DownloadDefaults",
        "description": "Get a project's current Remote Config template parameters and default\nvalues in JSON, property list (plist), or XML format.\n\nTo download the server-side template defaults, use \"firebase-server\"\nas the namespace ID in [DownloadDefaultsRequest.name].\nIf [DownloadDefaultsRequest.name] is not provided, the client-side template\ndefaults ('firebase' namespace) are downloaded.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Optional. The name of the RemoteConfig to get defaults from.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: 'firebase' or 'firebase-server')",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespacesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "description": "Required. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\".",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "description": "Required. The file structure to return.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-google-enum-descriptions": [
                "Catch-all for unrecognized enum values.",
                "Returns a response in XML format.",
                "Returns a response in property list (plist) format.",
                "Returns a response in raw JSON format (not packaged in an HttpBody\nobject)."
              ],
              "enum": [
                "FORMAT_UNSPECIFIED",
                "XML",
                "PLIST",
                "JSON"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/remoteConfig:rollback": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "RollbackRemoteConfig",
        "description": "Roll back a project's published Remote Config template to the one\nspecified by the provided version number.\n\nA rollback is equivalent to getting a previously published Remote Config\ntemplate, and re-publishing it using a force update. Returns the published\nRemoteConfig and the updated ETag as a response header if successful, or an\nerror.\n\nTo roll back the server-side template, use \"firebase-server\"\nas the namespace ID in [RollbackRemoteConfigRequest.name].\nIf [RollbackRemoteConfigRequest.name] is not provided, the client-side\ntemplate ('firebase' namespace) is rolled back.\n\nSee the publishing guide for a list of [error\ncodes](/docs/remote-config/use-config-rest#step_5_publish_json_data_to_replace_data_in_the_service).\nIn particular, note that the method returns an error with HTTP Status 404\nif the requested\nversion_number\nto rollback to is not found.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `project`. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\". This field is required if the `name` field is not\nprovided.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackRemoteConfigRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfig"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/namespaces/{namespacesId}/remoteConfig:rollback": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "RollbackRemoteConfigByProjectsIdAndNamespacesId",
        "x-google-operation-name" : "RollbackRemoteConfig",
        "description": "Roll back a project's published Remote Config template to the one\nspecified by the provided version number.\n\nA rollback is equivalent to getting a previously published Remote Config\ntemplate, and re-publishing it using a force update. Returns the published\nRemoteConfig and the updated ETag as a response header if successful, or an\nerror.\n\nTo roll back the server-side template, use \"firebase-server\"\nas the namespace ID in [RollbackRemoteConfigRequest.name].\nIf [RollbackRemoteConfigRequest.name] is not provided, the client-side\ntemplate ('firebase' namespace) is rolled back.\n\nSee the publishing guide for a list of [error\ncodes](/docs/remote-config/use-config-rest#step_5_publish_json_data_to_replace_data_in_the_service).\nIn particular, note that the method returns an error with HTTP Status 404\nif the requested\nversion_number\nto rollback to is not found.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Optional. The name of the RemoteConfig to rollback.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: firebase or firebase-server)",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespacesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackRemoteConfigRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfig"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/remoteConfig:listVersions": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "ListVersions",
        "description": "Get a list of Remote Config template\nversions that have been\npublished, sorted in reverse chronological order.\n\nOnly the last 300 versions are stored.\n\nAll versions that correspond to non-active Remote Config templates (i.e.,\nall except the template that is being fetched by clients) are also\ndeleted if they are older than 90 days.\n\nTo list server-side template versions, use \"firebase-server\"\nas the namespace ID in [ListVersionsRequest.parent].\nIf [ListVersionsRequest.parent] is not provided, the client-side template\nversions ('firebase' namespace) are listed.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `project`. Required. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\".",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of items to return per page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. The next_page_token value returned from a previous List request,\nif any.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endVersionNumber",
            "description": "Optional. Specify the newest version number to include in the results. If\nspecified, must be greater than zero. Defaults to the newest version.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "startTime",
            "description": "Optional. Specify the earliest update time to include in the results; any\nentries updated before this time are omitted.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "description": "Optional. Specify the latest update time to include in the results; any\nentries updated on or after this time are omitted.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "parent",
            "description": "Optional. The resource name of the RemoteConfig to list versions for.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: 'firebase' or 'firebase-server')",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVersionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/namespaces/{namespacesId}/remoteConfig:listVersions": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "ListVersionsByProjectsIdAndNamespacesId",
        "x-google-operation-name" : "ListVersions",
        "description": "Get a list of Remote Config template\nversions that have been\npublished, sorted in reverse chronological order.\n\nOnly the last 300 versions are stored.\n\nAll versions that correspond to non-active Remote Config templates (i.e.,\nall except the template that is being fetched by clients) are also\ndeleted if they are older than 90 days.\n\nTo list server-side template versions, use \"firebase-server\"\nas the namespace ID in [ListVersionsRequest.parent].\nIf [ListVersionsRequest.parent] is not provided, the client-side template\nversions ('firebase' namespace) are listed.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `parent`. Optional. The resource name of the RemoteConfig to list versions for.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: 'firebase' or 'firebase-server')",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespacesId",
            "description": "Part of `parent`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "description": "Required. The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\".",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of items to return per page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. The next_page_token value returned from a previous List request,\nif any.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endVersionNumber",
            "description": "Optional. Specify the newest version number to include in the results. If\nspecified, must be greater than zero. Defaults to the newest version.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "startTime",
            "description": "Optional. Specify the earliest update time to include in the results; any\nentries updated before this time are omitted.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "description": "Optional. Specify the latest update time to include in the results; any\nentries updated on or after this time are omitted.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVersionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/namespaces/{namespace}:fetch": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "FetchRemoteConfig",
        "description": "Fetch parameter values and any Firebase A/B Testing experiment information\nfor the calling device. An ETag header is also returned. Pass the ETag in\nfuture requests via the `If-None-Match` header to save bandwidth.\n\nNOTE: The Fetch REST API requires an Instance ID to be populated in the\nrequest. The Instance ID can obtained from the IID SDK. See\nhttps://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId\nand\nhttps://firebase.google.com/docs/reference/ios/firebaseinstanceid/api/reference/Classes/FIRInstanceID",
        "security": [
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Required. The Firebase project ID or project number.\n(NOTE: These identifiers can be retrieved from the Firebase console.)",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Required. The string \"firebase\".",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRemoteConfigRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchRemoteConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectsId}/namespaces/{namespacesId}/serverRemoteConfig": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "GetServerRemoteConfig",
        "description": "Get a project's server-side Remote Config template.\nNote that this request proto is structured differently from other request\nmessages in this proto, however this is consistent and compliant with the\nnew API guidance\n(https://google.aip.dev/122#fields-representing-resource-names) and the\nstandard going forward.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Required. The name of the template to get.\nFormat: projects/{project}/namespaces/{namespace}/serverRemoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: firebase-server)",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespacesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerRemoteConfig"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/namespaces/{namespace}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "GetNamespace",
        "description": "Gets a namespace object by name.\n\nThe namespace provided in [GetNamespaceRequest.name] must be\n\"firebase\" (for the client-side template) or \"firebase-server\" (for the\nserver-side template).",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Namespace"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/namespaces": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "ListNamespaces",
        "description": "Lists all available namespaces for a given Firebase project.\n\nThe returned list currently includes \"firebase\" (for the client-side\ntemplate) and \"firebase-server\" (for the server-side template).",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of items to return per page.\nIf not specified, defaults to 100.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. The token for the specific page to retrieve.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNamespacesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/namespaces/{namespace}/experiments/{experiment}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "GetExperiment",
        "description": "Get information about an existing experiment.\nAdditional responses codes:\nNOT_FOUND: The experiment does not exist.\n\n---\n**BETA:** This API is in a Beta launch stage. It is intended for public\ntesting and feedback. While expected to be stable, interfaces may change\n## with notice, and it may not be subject to the same SLAs as stable features.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experiment",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "DeleteExperiment",
        "description": "Delete an experiment.\n\n---\n**BETA:** This API is in a Beta launch stage. It is intended for public\ntesting and feedback. While expected to be stable, interfaces may change\n## with notice, and it may not be subject to the same SLAs as stable features.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experiment",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/namespaces/{namespace}/experiments": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "ListExperiments",
        "description": "List all experiments for a project.\n\n---\n**BETA:** This API is in a Beta launch stage. It is intended for public\ntesting and feedback. While expected to be stable, interfaces may change\n## with notice, and it may not be subject to the same SLAs as stable features.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filter expression following AIP-160\nThe following filters are supported:\nname: String. The experiment name.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of items to return per page.\nIf not specified, defaults to 100.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. The token for the specific page to retrieve.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExperimentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/namespaces/{namespace}/rollouts": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "ListRollouts",
        "description": "Get a list of all rollouts for a project.\n\n---\n**BETA:** This API is in a Beta launch stage. It is intended for public\ntesting and feedback. While expected to be stable, interfaces may change\n## with notice, and it may not be subject to the same SLAs as stable features.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filter expression following AIP-160",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of items to return per page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. The token for the specific page to retrieve.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRolloutsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/namespaces/{namespace}/rollouts/{rollout}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "GetRollout",
        "description": "Get details about a rollout experiment.\n\n---\n**BETA:** This API is in a Beta launch stage. It is intended for public\ntesting and feedback. While expected to be stable, interfaces may change\n## with notice, and it may not be subject to the same SLAs as stable features.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rollout",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rollout"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["firebaseremoteconfig"],
        "operationId": "DeleteRollout",
        "description": "Delete a rollout experiment.\n\n---\n**BETA:** This API is in a Beta launch stage. It is intended for public\ntesting and feedback. While expected to be stable, interfaces may change\n## with notice, and it may not be subject to the same SLAs as stable features.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rollout",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ],
          "type": "string"
        },
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ],
          "type": "string"
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "bearer_auth": {
        "type": "http",
        "description": "Http bearer authentication.",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RemoteConfig": {
        "description": "*\nA RemoteConfig represents a Remote Config template.\n\nA project's Remote Config template is evaluated during each application\ninstance's fetch.\n\nNote: Server templates currently support percentage conditions.\nPublishing a server template with unsupported conditional values will return\na validation error. See [Remote Config in Server\nEnvironments](https://firebase.google.com/docs/remote-config/server)\nfor more information.\n\nThe resolved value of a parameter is determined as\nfollows:\n\nGiven the conditional values\nthat refer to `true` conditions for the application\ninstance, the parameter's resolved value is the conditional value whose\nname is the\nearliest in the conditions list.\n\nElse, if the parameter has a default value, the\nresolved value is set to the default value.\n\nElse, the parameter has no value and is omitted from the result that the\napplication instance fetches.\n\nFor example, assume we have parameter key `fruit`, with default value `pear`\nand conditional value submap `{\"is_ios\": \"apple\", \"is_in_20_percent\":\n\"banana\"}` where `\"is_ios\"` and `\"is_20_percent\"` are names of conditions in\nthe ordered condition list. The value of `fruit` would evaluate to `apple` if\n`is_ios` is true. Otherwise, if `is_in_20_percent` is `true`, `fruit` would\nevaluate to `banana`, and if `is_ios` and `is_in_20_percent` are both false,\n`fruit` would evaluate to `pear`. If no default value were specified, and\n`is_ios` and `is_in_20_percent` were both false, no value for `fruit` would\nbe returned from the Remote Config server to the client.\n\nOnce a project's Remote Config template has been published via a successful\nUpdateRemoteConfig\ncall, clients can fetch these parameter values and display them to users.",
        "type": "object",
        "properties": {
          "conditions": {
            "description": "A list of conditions in descending order by priority.\n\nThe values of the\ngoogle.firebase.remoteconfig.v1.RemoteConfigCondition.name entries\nmust be unique.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RemoteConfigCondition"
            }
          },
          "parameters": {
            "description": "Map of parameter keys to their optional default values and optional\nconditional values.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RemoteConfigParameter"
            }
          },
          "version": {
            "description": "Output only, except for the version description. Metadata\nassociated with a particular version of a template. A version's description\nfield may be specified in\nUpdateRemoteConfig\ncalls.",
            "allOf": [{
              "$ref": "#/components/schemas/Version"
            }]
          },
          "parameterGroups": {
            "description": "Map of parameter group names to their descriptions and grouped parameters.\nA group's name is mutable but must be unique among groups in the config.\nThe name is limited to 256 characters and intended to be human-readable.\nAny Unicode characters are allowed.\n\nGroups have a list of parameters which allows users of the API to group\nparameters that are associated with the same feature or theme together for\neasy organizational access.\n\nFor example, a parameter group with the name \"Search V2\" may have the\n`description` \"New mobile search view\" and contain parameters for the new\nsearch's layout and font.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RemoteConfigParameterGroup"
            }
          }
        }
      },
      "RemoteConfigCondition": {
        "description": "A condition targeting a specific group of users. A\nlist of these conditions make up part of a RemoteConfig object.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. A non-empty and unique name of this condition.",
            "type": "string"
          },
          "expression": {
            "description": "Required. The logic of this condition.\n\nSee the documentation regarding\n[Condition\nExpressions](/docs/remote-config/condition-reference)\nfor the expected syntax of this field.",
            "type": "string"
          },
          "tagColor": {
            "description": "Optional. The color associated with this condition for display purposes in the\nFirebase Console.\nNot specifying this value or having \"CONDITION_DISPLAY_COLOR_UNSPECIFIED\"\nresults in the Console picking an arbitrary color to associate with the\ncondition.",
            "allOf": [{
              "$ref": "#/components/schemas/ConditionDisplayColor"
            }]
          }
        }
      },
      "RemoteConfigParameter": {
        "description": "A parameter value associated with a parameter key in\ngoogle.firebase.remoteconfig.v1.RemoteConfig.parameters.\n\nAt minimum, a `default_value` or a `conditional_values` entry should be\npresent for the parameter to have any effect.",
        "type": "object",
        "properties": {
          "defaultValue": {
            "description": "Optional - value to set the parameter to, when none of the named conditions\nevaluate to `true`.",
            "allOf": [{
              "$ref": "#/components/schemas/RemoteConfigParameterValue"
            }]
          },
          "conditionalValues": {
            "description": "Optional - a (condition\nname, value)\nmap. The condition_name of the highest priority (the one listed first in\nthe RemoteConfig's conditions list) determines the value of this parameter.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RemoteConfigParameterValue"
            }
          },
          "description": {
            "description": "Optional. A description for this Parameter. Its length must be less than or equal to\n256 characters . A description may contain any Unicode characters.",
            "type": "string"
          },
          "valueType": {
            "description": "The data type for all values of this parameter in the current version of\nthe template.\nDefaults to `ParameterValueType.STRING` if unspecified.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Catch-all for unrecognized enum values.",
              "Represents String values.",
              "Represents Boolean values (\"true\" or \"false\").",
              "Represents both positive and negative integer and float values.",
              "Represents JSON values."
            ],
            "enum": [
              "PARAMETER_VALUE_TYPE_UNSPECIFIED",
              "STRING",
              "BOOLEAN",
              "NUMBER",
              "JSON"
            ]
          }
        }
      },
      "RemoteConfigParameterValue": {
        "description": "A RemoteConfigParameterValue resource contains the value that a parameter may\nhave.",
        "type": "object",
        "properties": {
          "value": {
            "description": "The string value that the parameter is set to.",
            "type": "string"
          },
          "useInAppDefault": {
            "description": "If true, the parameter is omitted from the parameter values returned\nto a client.",
            "type": "boolean"
          },
          "personalizationValue": {
            "description": "A dynamic, user-specific value computed when config is fetched.",
            "allOf": [{
              "$ref": "#/components/schemas/PersonalizationValue"
            }]
          },
          "experimentValue": {
            "description": "A dynamic value managed by the Firebase ABT Experiment service.",
            "allOf": [{
              "$ref": "#/components/schemas/ExperimentValue"
            }]
          },
          "rolloutValue": {
            "description": "A dynamic Rollout value managed by the Firebase ABT Experiment service.",
            "allOf": [{
              "$ref": "#/components/schemas/RolloutValue"
            }]
          }
        }
      },
      "PersonalizationValue": {
        "description": "Contains the necessary information to fetch a personalized value.",
        "type": "object",
        "properties": {
          "personalizationId": {
            "description": "Identifier that represents a personalization definition. This definition is\nused to resolve the value at config fetch time. This system-generated value\nshould not be modified.",
            "type": "string"
          }
        }
      },
      "ExperimentValue": {
        "description": "Information related to a parameter value managed by Firebase ABT.",
        "type": "object",
        "properties": {
          "experimentId": {
            "description": "The identifier that associates a parameter value to an Experiment in\nFirebase ABT.",
            "type": "string"
          },
          "variantValue": {
            "description": "A repeated of variants associated with the Experiment.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentVariantValue"
            }
          },
          "exposurePercent": {
            "description": "Optional. Represents the server-side exposure evaluation. This value represents the\nfraction of users exposed to the experiment, ranging from 0 (0% exposure)\nto 100 (100% exposure), inclusive.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "ExperimentVariantValue": {
        "description": "Information about the variant for the Experiment.",
        "type": "object",
        "properties": {
          "variantId": {
            "description": "The variant identifier for the Experiment.",
            "type": "string"
          },
          "value": {
            "description": "The user-specified value for this variant. Can be empty string.",
            "type": "string"
          },
          "noChange": {
            "description": "If this boolean is set, then fallback to the next parameter in the\nTemplate condition chain",
            "type": "boolean"
          }
        }
      },
      "RolloutValue": {
        "description": "Information related to a Rollout.",
        "type": "object",
        "properties": {
          "rolloutId": {
            "description": "The identifier that associates a parameter value to a Rollout experiment.",
            "type": "string"
          },
          "value": {
            "description": "The user-specified value to be rolled out.",
            "type": "string"
          },
          "percent": {
            "description": "The percentage of users that will receive the rollout value.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "Version": {
        "description": "Contains all metadata about a particular version of the Remote Config\ntemplate.\n\nAll fields are set at the time the specified Remote Config template was\nwritten.",
        "type": "object",
        "properties": {
          "versionNumber": {
            "description": "Output only. The version number of the version's corresponding\nRemote Config template.",
            "type": "string",
            "format": "int64"
          },
          "updateTime": {
            "description": "Output only. When the Remote Config template was written to the Remote\nConfig server.",
            "type": "string",
            "format": "date-time"
          },
          "updateUser": {
            "description": "Output only. Aggregation of all metadata fields about the account that\nperformed the update.",
            "allOf": [{
              "$ref": "#/components/schemas/RemoteConfigUser"
            }]
          },
          "description": {
            "description": "Optional. The user-provided description of the corresponding Remote Config\ntemplate",
            "type": "string"
          },
          "updateOrigin": {
            "description": "Output only. Where the update action originated.",
            "allOf": [{
              "$ref": "#/components/schemas/RemoteConfigUpdateOrigin"
            }]
          },
          "updateType": {
            "description": "Output only. What type of update was made.",
            "allOf": [{
              "$ref": "#/components/schemas/RemoteConfigUpdateType"
            }]
          },
          "rollbackSource": {
            "description": "Output only. Only present if this version is the result of a rollback, and\nwill be the version number of the Remote Config template that was\nrolled-back to.",
            "type": "string",
            "format": "int64"
          },
          "isLegacy": {
            "description": "Output only. `True` if this Remote Config template was published before\nversion history was supported.",
            "type": "boolean"
          }
        }
      },
      "RemoteConfigUser": {
        "description": "All the fields associated with the person/service account that wrote a\nRemote Config template.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Output only. Display name.",
            "type": "string"
          },
          "email": {
            "description": "Output only. Email address.",
            "type": "string"
          },
          "imageUrl": {
            "description": "Output only. Image URL.",
            "type": "string"
          }
        }
      },
      "RemoteConfigParameterGroup": {
        "description": "A named group of parameters.\nGrouping parameters is only for management purposes and does not affect\nclient-side fetching of parameter values.",
        "type": "object",
        "properties": {
          "description": {
            "description": "Optional. A description for the group. Its length must be less than or equal to 256\ncharacters. A description may contain any Unicode characters.",
            "type": "string"
          },
          "parameters": {
            "description": "Map of parameter keys to their optional default values and optional\nconditional values for parameters that belong to this group.\nA parameter only appears once per RemoteConfig: an ungrouped parameter\nappears at the top level; a parameter organized within a group appears\nwithin its group's map of parameters.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RemoteConfigParameter"
            }
          }
        }
      },
      "HttpBody": {
        "description": "Message that represents an arbitrary HTTP body. It should only be used for\npayload formats that can't be represented as JSON, such as raw binary or\nan HTML page.\n\n\nThis message can be used both in streaming and non-streaming API methods in\nthe request as well as the response.\n\nIt can be used as a top-level request field, which is convenient if one\nwants to extract parameters from either the URL or HTTP template into the\nrequest fields and also want access to the raw HTTP body.\n\nExample:\n\n    message GetResourceRequest {\n      // A unique request id.\n      string request_id = 1;\n\n      // The raw HTTP body is bound to this field.\n      google.api.HttpBody http_body = 2;\n\n    }\n\n    service ResourceService {\n      rpc GetResource(GetResourceRequest)\n        returns (google.api.HttpBody);\n      rpc UpdateResource(google.api.HttpBody)\n        returns (google.protobuf.Empty);\n\n    }\n\nExample with streaming methods:\n\n    service CaldavService {\n      rpc GetCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n      rpc UpdateCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n\n    }\n\nUse of this type only changes how the request and response bodies are\nhandled, all other features will continue to work unchanged.",
        "type": "object",
        "properties": {
          "contentType": {
            "description": "The HTTP Content-Type header value specifying the content type of the body.",
            "type": "string"
          },
          "data": {
            "description": "The HTTP request/response body as raw binary.",
            "type": "string",
            "format": "byte"
          },
          "extensions": {
            "description": "Application specific response metadata. Must be set in the first response\nfor streaming APIs.",
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              }
            }
          }
        }
      },
      "RollbackRemoteConfigRequest": {
        "description": "Replace the published Remote Config template with an earlier version.",
        "type": "object",
        "properties": {
          "project": {
            "description": "The Firebase project's Project ID or Project Number, prefixed\nwith \"projects/\". This field is required if the `name` field is not\nprovided.",
            "type": "string"
          },
          "versionNumber": {
            "description": "Required. The version number of the RemoteConfig to roll back to. The\nspecified version number must be less than the current version number, and\nnot have been deleted due to staleness.",
            "type": "string",
            "format": "int64"
          },
          "name": {
            "description": "Optional. The name of the RemoteConfig to rollback.\nFormat: projects/{project}/namespaces/{namespace}/remoteConfig\nProject is a Firebase project ID or project number.\nNamespace is the namespace ID (e.g.: firebase or firebase-server)",
            "type": "string"
          }
        },
        "required": [
          "versionNumber"
        ]
      },
      "ListVersionsResponse": {
        "description": "Contains a paginated list of\nversions of the RemoteConfig.",
        "type": "object",
        "properties": {
          "versions": {
            "description": "A list of version metadata objects, sorted in reverse chronological order.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Version"
            }
          },
          "nextPageToken": {
            "description": "Token to retrieve the next page of results, or empty if there are no more\nresults in the list.",
            "type": "string"
          }
        }
      },
      "FetchRemoteConfigRequest": {
        "description": "*\nA request to render parameter values from the current RemoteConfig template\nand Firebase A/B Testing experiments.",
        "type": "object",
        "properties": {
          "appInstanceId": {
            "description": "Required. The instance id of the app.\nIf unspecified, fetch will return 400 (Bad Request).\nRefer to https://firebase.google.com/support/privacy/manage-iids.",
            "type": "string"
          },
          "appInstanceIdToken": {
            "description": "Required. The instance id token of the app, which is retrieved using the default\nscope.\nIf specified incorrectly, and if the template has any percentile\nconditions, they will be evaluated to false. If omitted, fetch can\nlead to a 400 response code (Bad Request).",
            "type": "string"
          },
          "appId": {
            "description": "Required. If not specified, fetch will return 400 (Bad Request).\nGMP App id.",
            "type": "string"
          },
          "countryCode": {
            "description": "Optional - If omitted and the template has any conditions that depend\non country_code, they will be evaluated as false.\nShould be 2 lower-case letters, e.g. \"us\", \"tr\", or \"gb\", as defined in\nISO 3166-1 alpha-2. This is case-insensitive.  See\nhttps://www.iso.org/obp/ui/#search .",
            "type": "string"
          },
          "languageCode": {
            "description": "Optional - If omitted and the template has any conditions that depend on\nlocale, they will be evaluated as false. The default locale of the device,\nin BCP47 format, for example \"en-US\". This is case-insensitive.  See\nhttps://www.w3.org/International/core/langtags/rfc3066bis.html .",
            "type": "string"
          },
          "platformVersion": {
            "description": "Optional - If omitted and the template has any conditions that depend\non platform version, they will be evaluated as false.\nThe version string of the device, e.g. \"21\" for (Android) Lollipop, or\n(for iOS) three non-negative, period separated integers, e.g. \"9.0.0\".",
            "type": "string"
          },
          "timeZone": {
            "description": "Optional - If omitted and the template has any conditions that depend\non timezone, they will be evaluated as false.\nThe timezone id of the device, in Olson Id format, e.g.\n\"America/Los_Angeles\".",
            "type": "string"
          },
          "appVersion": {
            "description": "Optional - If omitted and the template has any conditions that depend\non app_version, they will be evaluated as false.\nApp version, using the native app version format on the client's OS.\nExamples: 0, 123, 0123, 1.2.3, 001.33.043.321.55 .",
            "type": "string"
          },
          "packageName": {
            "description": "Optional - If omitted, the project's default package will be fetched.\nName of the package for which we are fetching data from. Should\nmatch the app name for Android apps, or the corresponding entity (e.g.\nbundle name) for iOS apps.",
            "type": "string"
          },
          "sdkVersion": {
            "description": "Optional - Version of the Firebase Remote Config SDK. This number is\nhard-coded into each client.",
            "type": "string"
          },
          "analyticsUserProperties": {
            "description": "Optional - List of Analytics user properties.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "appBuild": {
            "description": "Optional - If omitted and the template has any conditions that depend\non app_build, they will be evaluated as false.\n* On Android, this is the Version Code, which is a positive integer,\ne.g., 42.\n* On iOS, this is the CFBundleVersion, which is a string comprised of three\nnon-negative, period-separated integers with the first integer being\ngreater than zero\u2014for example, 3.1.2.\n* On Web, the concept of\na build number is not well defined, and thus should not be set.",
            "type": "string"
          },
          "firstOpenTime": {
            "description": "The first time a user launches an app after installing or re-installing it.\nThis value comes from GA, and will not be set if GA SDK is not available on\nthe client or if GA does not have the first-open time value.",
            "type": "string",
            "format": "date-time"
          },
          "customSignals": {
            "description": "Optional. Optional - List of Custom Signals.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "FetchRemoteConfigResponse": {
        "description": "*\nThe Firebase Remote Config configuration data for an app instance.",
        "type": "object",
        "properties": {
          "entries": {
            "description": "The Key-Value pairs of the config.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "appName": {
            "description": "For Android apps, app_name is the package name of the app.\nFor iOS apps, it is the bundle name.",
            "type": "string"
          },
          "state": {
            "description": "The state of the fetched response.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Default (when the enum is not set by the server for any reason).",
              "The Remote Config parameter values and/or the Firebase A/B Testing\nexperiments differ from the last fetch.",
              "No template defined.",
              "The Remote Config parameter values and Firebase A/B Testing experiments\nboth match those returned during the last fetch.",
              "Template found, but evaluates to empty (e.g. all keys omitted)"
            ],
            "enum": [
              "INSTANCE_STATE_UNSPECIFIED",
              "UPDATE",
              "NO_TEMPLATE",
              "NO_CHANGE",
              "EMPTY_CONFIG"
            ]
          },
          "experimentDescriptions": {
            "description": "Firebase A/B Testing experiment configuration and metadata.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentDescription"
            }
          },
          "personalizationMetadata": {
            "description": "A map of Remote Config parameter key to Firebase Personalization related\nmetadata that should be delivered to the particular device making the fetch\ncall.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PersonalizationMetadata"
            }
          },
          "templateVersion": {
            "description": "Used to record the current template in the response.",
            "type": "string",
            "format": "int64"
          },
          "rolloutMetadata": {
            "description": "Metadata describing active Remote Config rollouts which are related to\nparameters delivered via this fetch response.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RolloutMetadata"
            }
          }
        }
      },
      "ExperimentDescription": {
        "description": "Encapsulates per-experiment data.",
        "type": "object",
        "properties": {
          "experimentId": {
            "description": "The Firebase A/B Testing experiment ID.\nA string of max length 22 characters.\nFormat: _exp_\nThis is referred to as the tracking id and is different from the\nexperiment id which is used internally by ABT.",
            "type": "string"
          },
          "variantId": {
            "description": "The variant of the experiment assigned to the app instance.",
            "type": "string"
          },
          "triggerEvent": {
            "description": "The Google Analytics event that activates the experiment.",
            "type": "string"
          },
          "experimentStartTime": {
            "description": "When the experiment was started.",
            "type": "string",
            "format": "date-time"
          },
          "triggerTimeoutMillis": {
            "description": "How long the experiment can remain in STANDBY state. Valid range from 1 ms\nto 6 months.",
            "type": "string",
            "format": "int64"
          },
          "timeToLiveMillis": {
            "description": "How long the experiment can remain in ON state. Valid range from 1 ms to 6\nmonths.",
            "type": "string",
            "format": "int64"
          }
        }
      },
      "PersonalizationMetadata": {
        "description": "LINT.IfChange\nMetadata associated with a particular Remote Config parameter key, managed by\nFirebase Personalization.",
        "type": "object",
        "properties": {
          "personalizationId": {
            "description": "The ID of this Personalization experiment. Should be composed of letters,\nnumbers, hyphens, and underscores.",
            "type": "string"
          },
          "armIndex": {
            "description": "The selected arm's index, which may be 0.",
            "type": "integer",
            "format": "int32"
          },
          "choiceId": {
            "description": "Identifier for the choice. For internal use only.",
            "type": "string"
          },
          "group": {
            "description": "Variant group to which user belongs.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Default value.",
              "Audience we put aside for baseline quality measurement and comparison.",
              "Audience to which personalized experiences are being rolled out."
            ],
            "enum": [
              "GROUP_UNSPECIFIED",
              "BASELINE",
              "P13N"
            ]
          }
        }
      },
      "RolloutMetadata": {
        "description": "Metadata describing Remote Config rollouts.",
        "type": "object",
        "properties": {
          "rolloutId": {
            "description": "The Firebase Remote Config rollout ID uniquely identifying a rollout.\nThis is the tracking ID of the Rollout object defined in\nExperimentsEntities.",
            "type": "string"
          },
          "variantId": {
            "description": "The variant of the rollout assigned to this instance in this fetch\nresponse.",
            "type": "string"
          },
          "affectedParameterKeys": {
            "description": "The parameter keys affected by this rollout.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ServerRemoteConfig": {
        "description": "*\nA ServerRemoteConfig represents the raw data-plane version of a control plane\nRemote Config template.\n\nThis raw template will be evaluated by the Admin SDK (RC Server SDK) to form\nthe config.",
        "type": "object",
        "properties": {
          "conditions": {
            "description": "A list of conditions in descending order by priority.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServerRemoteConfigCondition"
            }
          },
          "parameters": {
            "description": "Map of parameter keys to their optional default values and optional\nconditional values.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ServerRemoteConfigParameter"
            }
          },
          "version": {
            "description": "Contains all metadata about a particular version of the server Remote\nConfig template.\nNote that we are reusing the control plane version proto here.",
            "allOf": [{
              "$ref": "#/components/schemas/Version"
            }]
          }
        }
      },
      "ServerRemoteConfigCondition": {
        "description": "A condition targeting a specific group of users and servers. Same as the\ncondition in the control plane.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. A non-empty and unique name of this condition.",
            "type": "string"
          },
          "condition": {
            "description": "Required. The logic of this condition.",
            "allOf": [{
              "$ref": "#/components/schemas/Condition"
            }]
          }
        }
      },
      "Condition": {
        "description": "---------- General Condition Wrapper\nA general boolean expression that is used to evaluate\nconditions for server-side Remote Config templates.",
        "type": "object",
        "properties": {
          "andCondition": {
            "description": "Boolean operators\n\nApply logical \"and\" condition to the subset of conditions.",
            "allOf": [{
              "$ref": "#/components/schemas/AndCondition"
            }]
          },
          "orCondition": {
            "description": "Apply logical \"or\" condition to the subset of conditions.",
            "allOf": [{
              "$ref": "#/components/schemas/OrCondition"
            }]
          },
          "percent": {
            "description": "Builtin conditions (aka 'atoms')\n\nTarget a percentage of the population (users, app instances).",
            "allOf": [{
              "$ref": "#/components/schemas/PercentCondition"
            }]
          },
          "customSignal": {
            "description": "/ Target a developer-defined custom signal.",
            "allOf": [{
              "$ref": "#/components/schemas/CustomSignalCondition"
            }]
          }
        }
      },
      "AndCondition": {
        "description": "---------- Boolean Operators\n\nAND of sub-conditions.\nAn AND condition is true if all of its subconditions evaluate to true.",
        "type": "object",
        "properties": {
          "conditions": {
            "description": "Evaluated in given order with short circuit of false.\nShould contain at least one condition and no more than 100 conditions.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          }
        }
      },
      "OrCondition": {
        "description": "OR of sub-conditions.\nAn OR condition is true if any of its subconditions evaluate to true.\nIf there is an exception evaluating any of its subconditions, that\nsubcondition can be ignored if any other subcondition is true.",
        "type": "object",
        "properties": {
          "conditions": {
            "description": "Evaluated in given order with short circuit of true.\nShould contain at least one condition and no more than 100 conditions.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          }
        }
      },
      "PercentCondition": {
        "description": "---------- Primitive Conditions (Atoms)\n\nA condition that compares the instance pseudo-random percentile to a given\nlimit.\n\nNOTE: Developers provide an ID via the Admin SDK. This ID is hashed to a\nrandom percentile.\n\nThe function is consistent and repeatable and will give the same result\nfor evaluating an ID for the same condition across different\nplatforms and across time. The function is consistent with the function used\nfor evaluating IDs for client templates.",
        "type": "object",
        "properties": {
          "percentOperator": {
            "description": "Required. The choice of percent operator to determine how to compare targets to\npercent(s).",
            "type": "string",
            "x-google-enum-descriptions": [
              "Catch-all for unrecognized enum values.",
              "Target percentiles less than or equal to the target percent.\nA condition using this operator must specify micro_percent.",
              "Target percentiles greater than the target percent.\nA condition using this operator must specify micro_percent.",
              "Target percentiles within an interval defined by a lower bound and an\nupper bound. The lower bound is an exclusive (open) bound and the\nmicro_percent_range_upper_bound is an inclusive (closed) bound.\nA condition using this operator must specify micro_percent_range."
            ],
            "enum": [
              "UNKNOWN",
              "LESS_OR_EQUAL",
              "GREATER_THAN",
              "BETWEEN"
            ]
          },
          "microPercent": {
            "description": "Required. The limit of percentiles to target in micro-percents. The value must be\nin the range [0 and 100000000].",
            "type": "integer",
            "format": "int32"
          },
          "seed": {
            "description": "Optional. The seed used when evaluating the hash function to map an instance to\na value in the hash space. This is a string which can have 0 - 32\ncharacters and can contain ASCII characters [-_.0-9a-zA-Z].\nThe string is case-sensitive.",
            "type": "string"
          },
          "microPercentRange": {
            "description": "The range of percentiles to target in micro-percents.",
            "allOf": [{
              "$ref": "#/components/schemas/MicroPercentRange"
            }]
          }
        }
      },
      "MicroPercentRange": {
        "description": "A micro-percent interval defined by lower and upper bounds.",
        "type": "object",
        "properties": {
          "microPercentLowerBound": {
            "description": "The lower limit of percentiles to target in micro-percents. The value\nmust be in the range [0 and 100000000].",
            "type": "integer",
            "format": "int32"
          },
          "microPercentUpperBound": {
            "description": "The upper limit of percentiles to target in micro-percents. The value\nmust be in the range [0 and 100000000].",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CustomSignalCondition": {
        "description": "A condition that compares a developer-defined custom signal to a target\nvalue.\n\nNOTE: Developers provide custom signals via the Admin SDK. These signals can\nbe a string, number, or numeric version (aka semantic version).\n\nFor numeric interpretation of custom signal values. This will be a numeric\nvalue that can have at most 10 digits before and after the decimal point\neach.\n\nFor general string interpretation of custom signal values.  This will be a\nstring value up to a 100 characters long.\n\nFor numeric interpretation of semantic versions. The version will be an\ninteger or a set of integers separated by decimal points.\nSupported format: (1) integer: 123, 50932 etc\n                  (2) integer with dots: 1.2, 3.45.2, 0.0.1 etc\nUnsupported format: any other format, like 1.0.a, v1.2.3, beta-1 etc",
        "type": "object",
        "properties": {
          "customSignalOperator": {
            "description": "Required. The choice of custom signal operator to determine how to compare targets to\nactual values.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Catch-all for unrecognized enum values.",
              "The actual value is less than the target value.",
              "The actual value is less than or equal to the target value.",
[...]
