{
  "openapi": "3.0.3",
  "info": {
    "title": "OS Config API",
    "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
    "version": "v2beta",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://osconfig.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/v2beta/projects/{project}/locations/global/operations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "ListOperations",
        "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "The standard list filter.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The standard list page size.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "The standard list page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/folders/{folder}/locations/{location}/operations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "ListOperationsByFolderAndLocation",
        "x-google-operation-name" : "ListOperations",
        "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "folder",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "The standard list filter.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The standard list page size.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "The standard list page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/organizations/{organization}/locations/global/operations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "ListOperationsByOrganization",
        "x-google-operation-name" : "ListOperations",
        "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "The standard list filter.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The standard list page size.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "The standard list page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/projects/{project}/locations/global/operations/{operation}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "GetOperation",
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["osconfig"],
        "operationId": "DeleteOperation",
        "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/folders/{folder}/locations/{location}/operations/{operation}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "GetOperationByFolderAndLocationAndOperation",
        "x-google-operation-name" : "GetOperation",
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "folder",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["osconfig"],
        "operationId": "DeleteOperationByFolderAndLocationAndOperation",
        "x-google-operation-name" : "DeleteOperation",
        "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "folder",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/organizations/{organization}/locations/global/operations/{operation}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "GetOperationByOrganizationAndOperation",
        "x-google-operation-name" : "GetOperation",
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["osconfig"],
        "operationId": "DeleteOperationByOrganizationAndOperation",
        "x-google-operation-name" : "DeleteOperation",
        "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/projects/{project}/locations/global/operations/{operation}:cancel": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["osconfig"],
        "operationId": "CancelOperation",
        "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of `1`,\ncorresponding to `Code.CANCELLED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/folders/{folder}/locations/{location}/operations/{operation}:cancel": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["osconfig"],
        "operationId": "CancelOperationByFolderAndLocationAndOperation",
        "x-google-operation-name" : "CancelOperation",
        "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of `1`,\ncorresponding to `Code.CANCELLED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "folder",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/organizations/{organization}/locations/global/operations/{operation}:cancel": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["osconfig"],
        "operationId": "CancelOperationByOrganizationAndOperation",
        "x-google-operation-name" : "CancelOperation",
        "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of `1`,\ncorresponding to `Code.CANCELLED`.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/organizations/{organizationsId}/locations/global/policyOrchestrators": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["osconfig"],
        "operationId": "CreatePolicyOrchestratorForOrganization",
        "description": "Creates a new policy orchestrator under the given organizations resource.\n\n`name` field of the given orchestrator are ignored and instead replaced by\na product of `parent` and `policy_orchestrator_id`.\n\nOrchestrator state field might be only set to `ACTIVE`, `STOPPED` or\nomitted (in which case, the created resource will be in `ACTIVE` state\nanyway).",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organizationsId",
            "description": "Part of `parent`. Required. The parent resource name in the form of:\n* `organizations/{organization_id}/locations/global`\n* `folders/{folder_id}/locations/global`\n* `projects/{project_id_or_number}/locations/global`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorId",
            "description": "Required. The logical identifier of the policy orchestrator, with the following\nrestrictions:\n\n* Must contain only lowercase letters, numbers, and hyphens.\n* Must start with a letter.\n* Must be between 1-63 characters.\n* Must end with a number or a letter.\n* Must be unique within the parent.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The policy orchestrator to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__CreatePolicyOrchestratorForOrganizationOperation"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["osconfig"],
        "operationId": "ListPolicyOrchestratorsForOrganization",
        "description": "Lists the policy orchestrators under the given parent organization\nresource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organizationsId",
            "description": "Part of `parent`. Required. The parent resource name.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filtering results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Hint for how to order the results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/folders/{foldersId}/locations/global/policyOrchestrators": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["osconfig"],
        "operationId": "CreatePolicyOrchestratorForFolder",
        "description": "Creates a new policy orchestrator under the given folder resource.\n\n`name` field of the given orchestrator are ignored and instead replaced by\na product of `parent` and `policy_orchestrator_id`.\n\nOrchestrator state field might be only set to `ACTIVE`, `STOPPED` or\nomitted (in which case, the created resource will be in `ACTIVE` state\nanyway).",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "foldersId",
            "description": "Part of `parent`. Required. The parent resource name in the form of:\n* `organizations/{organization_id}/locations/global`\n* `folders/{folder_id}/locations/global`\n* `projects/{project_id_or_number}/locations/global`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorId",
            "description": "Required. The logical identifier of the policy orchestrator, with the following\nrestrictions:\n\n* Must contain only lowercase letters, numbers, and hyphens.\n* Must start with a letter.\n* Must be between 1-63 characters.\n* Must end with a number or a letter.\n* Must be unique within the parent.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The policy orchestrator to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__CreatePolicyOrchestratorForFolderOperation"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["osconfig"],
        "operationId": "ListPolicyOrchestratorsForFolder",
        "description": "Lists the policy orchestrators under the given parent folder resource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "foldersId",
            "description": "Part of `parent`. Required. The parent resource name.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filtering results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Hint for how to order the results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/projects/{projectsId}/locations/global/policyOrchestrators": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["osconfig"],
        "operationId": "CreatePolicyOrchestrator",
        "description": "Creates a new policy orchestrator under the given project resource.\n\n`name` field of the given orchestrator are ignored and instead replaced by\na product of `parent` and `policy_orchestrator_id`.\n\nOrchestrator state field might be only set to `ACTIVE`, `STOPPED` or\nomitted (in which case, the created resource will be in `ACTIVE` state\nanyway).",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `parent`. Required. The parent resource name in the form of:\n* `organizations/{organization_id}/locations/global`\n* `folders/{folder_id}/locations/global`\n* `projects/{project_id_or_number}/locations/global`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorId",
            "description": "Required. The logical identifier of the policy orchestrator, with the following\nrestrictions:\n\n* Must contain only lowercase letters, numbers, and hyphens.\n* Must start with a letter.\n* Must be between 1-63 characters.\n* Must end with a number or a letter.\n* Must be unique within the parent.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes since the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The policy orchestrator to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__CreatePolicyOrchestratorOperation"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["osconfig"],
        "operationId": "ListPolicyOrchestrators",
        "description": "Lists the policy orchestrators under the given parent project resource.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `parent`. Required. The parent resource name.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filtering results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Hint for how to order the results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__ListPolicyOrchestratorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "GetPolicyOrchestratorForOrganization",
        "description": "Retrieves an existing policy orchestrator, parented by an organization.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organizationsId",
            "description": "Part of `name`. Required. The resource name.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `name`. See documentation of `organizationsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["osconfig"],
        "operationId": "UpdatePolicyOrchestratorForOrganization",
        "description": "Updates an existing policy orchestrator, parented by an organization.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organizationsId",
            "description": "Part of `policyOrchestrator.name`. Immutable. Identifier. In form of\n* `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `policyOrchestrator.name`. See documentation of `organizationsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. The list of fields to update.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The policy orchestrator to be updated.\n\nThe policy orchestrator's `name` field is used to identify the resource to\nupdate. Format:\n* `organizations/{organization_id}/locations/global/policyOrchestrators/{policy_orchestrator_id}`\n* `folders/{folder_id}/locations/global/policyOrchestrators/{policy_orchestrator_id}`\n* `projects/{project_id_or_number}/locations/global/policyOrchestrators/{policy_orchestrator_id}`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__UpdatePolicyOrchestratorForOrganizationOperation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["osconfig"],
        "operationId": "DeletePolicyOrchestratorForOrganization",
        "description": "Deletes an existing policy orchestrator resource, parented by an\norganization.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organizationsId",
            "description": "Part of `name`. Required. Name of the resource to be deleted.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `name`. See documentation of `organizationsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "etag",
            "description": "Optional. The current etag of the policy orchestrator.\nIf an etag is provided and does not match the current etag of the policy\norchestrator, deletion will be blocked and an ABORTED error will be\nreturned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__DeletePolicyOrchestratorForOrganizationOperation"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "GetPolicyOrchestratorForFolder",
        "description": "Retrieves an existing policy orchestrator, parented by a folder.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "foldersId",
            "description": "Part of `name`. Required. The resource name.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `name`. See documentation of `foldersId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["osconfig"],
        "operationId": "UpdatePolicyOrchestratorForFolder",
        "description": "Updates an existing policy orchestrator, parented by a folder.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "foldersId",
            "description": "Part of `policyOrchestrator.name`. Immutable. Identifier. In form of\n* `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `policyOrchestrator.name`. See documentation of `foldersId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. The list of fields to update.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The policy orchestrator to be updated.\n\nThe policy orchestrator's `name` field is used to identify the resource to\nupdate. Format:\n* `organizations/{organization_id}/locations/global/policyOrchestrators/{policy_orchestrator_id}`\n* `folders/{folder_id}/locations/global/policyOrchestrators/{policy_orchestrator_id}`\n* `projects/{project_id_or_number}/locations/global/policyOrchestrators/{policy_orchestrator_id}`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__UpdatePolicyOrchestratorForFolderOperation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["osconfig"],
        "operationId": "DeletePolicyOrchestratorForFolder",
        "description": "Deletes an existing policy orchestrator resource, parented by a folder.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "foldersId",
            "description": "Part of `name`. Required. Name of the resource to be deleted.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `name`. See documentation of `foldersId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "etag",
            "description": "Optional. The current etag of the policy orchestrator.\nIf an etag is provided and does not match the current etag of the policy\norchestrator, deletion will be blocked and an ABORTED error will be\nreturned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__DeletePolicyOrchestratorForFolderOperation"
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["osconfig"],
        "operationId": "GetPolicyOrchestrator",
        "description": "Retrieves an existing policy orchestrator, parented by a project.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Required. The resource name.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["osconfig"],
        "operationId": "UpdatePolicyOrchestrator",
        "description": "Updates an existing policy orchestrator, parented by a project.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `policyOrchestrator.name`. Immutable. Identifier. In form of\n* `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `policyOrchestrator.name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. The list of fields to update.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The policy orchestrator to be updated.\n\nThe policy orchestrator's `name` field is used to identify the resource to\nupdate. Format:\n* `organizations/{organization_id}/locations/global/policyOrchestrators/{policy_orchestrator_id}`\n* `folders/{folder_id}/locations/global/policyOrchestrators/{policy_orchestrator_id}`\n* `projects/{project_id_or_number}/locations/global/policyOrchestrators/{policy_orchestrator_id}`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__PolicyOrchestrator"
              }
            }
          }
        },
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__UpdatePolicyOrchestratorOperation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["osconfig"],
        "operationId": "DeletePolicyOrchestrator",
        "description": "Deletes an existing policy orchestrator resource, parented by a project.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Required. Name of the resource to be deleted.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyOrchestratorsId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server will guarantee\nthat for at least 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "etag",
            "description": "Optional. The current etag of the policy orchestrator.\nIf an etag is provided and does not match the current etag of the policy\norchestrator, deletion will be blocked and an ABORTED error will be\nreturned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-google-lro" : "true",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__DeletePolicyOrchestratorOperation"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ],
          "type": "string"
        },
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ],
          "type": "string"
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "bearer_auth": {
        "type": "http",
        "description": "Http bearer authentication.",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ListOperationsResponse": {
        "description": "The response message for Operations.ListOperations.",
        "type": "object",
        "properties": {
          "operations": {
            "description": "A list of operations that matches the specified filter in the request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          }
        }
      },
      "Status": {
        "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
        "type": "object",
        "properties": {
          "code": {
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
            "type": "string"
          },
          "details": {
            "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              }
            }
          }
        }
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object"
      },
      "CancelOperationRequest": {
        "description": "The request message for Operations.CancelOperation.",
        "type": "object"
      },
      "GoogleCloudOsconfigV2beta__PolicyOrchestrator": {
        "description": "PolicyOrchestrator helps managing project+zone level policy resources (e.g.\nOS Policy Assignments), by providing tools to create, update and delete them\nacross projects and locations, at scale.\n\nPolicy orchestrator functions as an endless loop. Each iteration\norchestrator computes a set of resources that should be affected, then\nprogressively applies changes to them. If for some reason this set of\nresources changes over time (e.g. new projects are added), the future loop\niterations will address that.\n\nOrchestrator can either upsert or delete policy resources. For more details,\nsee the description of the `action`, and `orchestrated_resource` fields.\n\nNote that policy orchestrator do not \"manage\" the resources it creates. Every\niteration is independent and only minimal history of past actions is retained\n(apart from Cloud Logging). If orchestrator gets deleted, it does not affect\nthe resources it created in the past. Those will remain where they\nwere. Same applies if projects are removed from the orchestrator's scope.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Immutable. Identifier. In form of\n* `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}`\n* `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
            "x-google-immutable": true,
            "x-google-identifier": true,
            "type": "string"
          },
          "description": {
            "description": "Optional. Freeform text describing the purpose of the resource.",
            "type": "string"
          },
          "etag": {
            "description": "Output only. This checksum is computed by the server based on the value of other\nfields, and may be sent on update and delete requests to ensure the\nclient has an up-to-date value before proceeding.",
            "readOnly": true,
            "type": "string"
          },
          "state": {
            "description": "Optional. State of the orchestrator. Can be updated to change orchestrator behaviour.\nAllowed values:\n- `ACTIVE` - orchestrator is actively looking for actions to be taken.\n- `STOPPED` - orchestrator won't make any changes.\n\nNote: There might be more states added in the future. We use string here\ninstead of an enum, to avoid the need of propagating new states to all the\nclient code.",
            "type": "string"
          },
          "reconciling": {
            "description": "Output only. Set to true, if the there are ongoing changes being applied by the\norchestrator.",
            "readOnly": true,
            "type": "boolean"
          },
          "orchestrationScope": {
            "description": "Optional. Defines scope for the orchestration, in context of the enclosing\nPolicyOrchestrator resource.\n\nScope is expanded into a list of  pairs, in which the\nrollout action will take place. Expansion starts with a Folder resource\nparenting the PolicyOrchestrator resource:\n- All the descendant projects are listed.\n- List of project is cross joined with a list of all available zones.\n- Resulting list of  pairs is filtered according to the\nselectors.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__OrchestrationScope"
            }]
          },
          "action": {
            "description": "Required. Action to be done by the orchestrator in\n`projects/{project_id}/zones/{zone_id}` locations defined by the\n`orchestration_scope`. Allowed values:\n- `UPSERT` - Orchestrator will create or update target resources.\n- `DELETE` - Orchestrator will delete target resources, if they exist",
            "type": "string"
          },
          "orchestratedResource": {
            "description": "Required. Resource to be orchestrated by the policy orchestrator.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta__OrchestratedResource"
            }]
          },
          "orchestrationState": {
            "description": "Output only. State of the orchestration.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta_PolicyOrchestrator_OrchestrationState"
            }]
          },
          "createTime": {
            "description": "Output only. Timestamp when the policy orchestrator resource was created.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "description": "Output only. Timestamp when the policy orchestrator resource was last modified.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "labels": {
            "description": "Optional. Labels as key value pairs",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "action",
          "orchestratedResource"
        ]
      },
      "GoogleCloudOsconfigV2beta__OrchestrationScope": {
        "description": "Defines a set of selectors which drive which resources are in scope of policy\norchestration.",
        "type": "object",
        "properties": {
          "selectors": {
            "description": "Optional. Selectors of the orchestration scope. There is a logical AND between each\nselector defined.\n\nWhen there is no explicit `ResourceHierarchySelector` selector specified,\nthe scope is by default bounded to the parent of the policy orchestrator\nresource.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta_OrchestrationScope_Selector"
            }
          }
        }
      },
      "GoogleCloudOsconfigV2beta_OrchestrationScope_Selector": {
        "description": "Selector for the resources in scope of orchestration.",
        "type": "object",
        "properties": {
          "resourceHierarchySelector": {
            "description": "Selector for selecting resource hierarchy.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta_OrchestrationScope_ResourceHierarchySelector"
            }]
          },
          "locationSelector": {
            "description": "Selector for selecting locations.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleCloudOsconfigV2beta_OrchestrationScope_LocationSelector"
            }]
          }
        }
      },
      "GoogleCloudOsconfigV2beta_OrchestrationScope_ResourceHierarchySelector": {
        "description": "Selector containing Cloud Resource Manager resource hierarchy nodes.",
        "type": "object",
        "properties": {
          "includedProjects": {
            "description": "Optional. Names of the projects in scope.\nFormat: `projects/{project_number}`",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "includedFolders": {
            "description": "Optional. Names of the folders in scope.\nFormat: `folders/{folder_id}`",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudOsconfigV2beta_OrchestrationScope_LocationSelector": {
        "description": "Selector containing locations in scope.",
        "type": "object",
        "properties": {
          "includedLocations": {
            "description": "Optional. Names of the locations in scope.\nFormat: `us-central1-a`",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GoogleCloudOsconfigV2beta__OrchestratedResource": {
        "description": "Represents a resource that is being orchestrated by the policy orchestrator.",
        "type": "object",
        "properties": {
          "osPolicyAssignmentV1Payload": {
            "description": "Optional. OSPolicyAssignment resource to be created, updated or deleted. Name field\nis ignored and replace with a generated value.\n\nWith this field set, orchestrator will perform actions on\n`project/{project}/locations/{zone}/osPolicyAssignments/{resource_id}`\nresources, where `project` and `zone` pairs come from the expanded scope,\nand `resource_id` comes from the `resource_id` field of orchestrator\nresource.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyAssignment"
            }]
          },
          "id": {
            "description": "Optional. ID of the resource to be used while generating set of affected resources.\n\nFor UPSERT action the value is auto-generated during PolicyOrchestrator\ncreation when not set. When the value is set it should following next\nrestrictions:\n\n* Must contain only lowercase letters, numbers, and hyphens.\n* Must start with a letter.\n* Must be between 1-63 characters.\n* Must end with a number or a letter.\n* Must be unique within the project.\n\nFor DELETE action, ID must be specified explicitly during\nPolicyOrchestrator creation.",
            "type": "string"
          }
        }
      },
      "OSPolicyAssignment": {
        "description": "OS policy assignment is an API resource that is used to\napply a set of OS policies to a dynamically targeted group of Compute Engine\nVM instances.\n\nAn OS policy is used to define the desired state configuration for a\nCompute Engine VM instance through a set of configuration resources that\nprovide capabilities such as installing or removing software packages, or\nexecuting a script.\n\nFor more information about the OS policy resource definitions and examples,\nsee\n[OS policy and OS policy\nassignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
        "type": "object",
        "properties": {
          "name": {
            "description": "Resource name.\n\nFormat:\n`projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}`\n\nThis field is ignored when you create an OS policy assignment.",
            "type": "string"
          },
          "description": {
            "description": "OS policy assignment description.\nLength of the description is limited to 1024 characters.",
            "type": "string"
          },
          "osPolicies": {
            "description": "Required. List of OS policies to be applied to the VMs.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OSPolicy"
            }
          },
          "instanceFilter": {
            "description": "Required. Filter to select VMs.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyAssignmentInstanceFilter"
            }]
          },
          "rollout": {
            "description": "Required. Rollout to deploy the OS policy assignment.\nA rollout is triggered in the following situations:\n1) OSPolicyAssignment is created.\n2) OSPolicyAssignment is updated and the update contains changes to one of\nthe following fields:\n   - instance_filter\n   - os_policies\n3) OSPolicyAssignment is deleted.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyAssignmentRollout"
            }]
          },
          "revisionId": {
            "description": "Output only. The assignment revision ID\nA new revision is committed whenever a rollout is triggered for a OS policy\nassignment",
            "readOnly": true,
            "type": "string"
          },
          "revisionCreateTime": {
            "description": "Output only. The timestamp that the revision was created.",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "etag": {
            "description": "The etag for this OS policy assignment.\nIf this is provided on update, it must match the server's etag.",
            "type": "string"
          },
          "rolloutState": {
            "description": "Output only. OS policy assignment rollout state",
            "readOnly": true,
            "type": "string",
            "x-google-enum-descriptions": [
              "Invalid value",
              "The rollout is in progress.",
              "The rollout is being cancelled.",
              "The rollout is cancelled.",
              "The rollout has completed successfully."
            ],
            "enum": [
              "ROLLOUT_STATE_UNSPECIFIED",
              "IN_PROGRESS",
              "CANCELLING",
              "CANCELLED",
              "SUCCEEDED"
            ]
          },
          "baseline": {
            "description": "Output only. Indicates that this revision has been successfully rolled out in this zone\nand new VMs will be assigned OS policies from this revision.\n\nFor a given OS policy assignment, there is only one revision with a value\nof `true` for this field.",
            "readOnly": true,
            "type": "boolean"
          },
          "deleted": {
            "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
            "readOnly": true,
            "type": "boolean"
          },
          "reconciling": {
            "description": "Output only. Indicates that reconciliation is in progress for the revision.\nThis value is `true` when the `rollout_state` is one of:\n* IN_PROGRESS\n* CANCELLING",
            "readOnly": true,
            "type": "boolean"
          },
          "uid": {
            "description": "Output only. Server generated unique id for the OS policy assignment resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "osPolicies",
          "instanceFilter",
          "rollout"
        ]
      },
      "OSPolicy": {
        "description": "An OS policy defines the desired state configuration for a VM.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Required. The id of the OS policy with the following restrictions:\n\n* Must contain only lowercase letters, numbers, and hyphens.\n* Must start with a letter.\n* Must be between 1-63 characters.\n* Must end with a number or a letter.\n* Must be unique within the assignment.",
            "type": "string"
          },
          "description": {
            "description": "Policy description.\nLength of the description is limited to 1024 characters.",
            "type": "string"
          },
          "mode": {
            "description": "Required. Policy mode",
            "type": "string",
            "x-google-enum-descriptions": [
              "Invalid mode",
              "This mode checks if the configuration resources in the policy are in\ntheir desired state. No actions are performed if they are not in the\ndesired state. This mode is used for reporting purposes.",
              "This mode checks if the configuration resources in the policy are in\ntheir desired state, and if not, enforces the desired state."
            ],
            "enum": [
              "MODE_UNSPECIFIED",
              "VALIDATION",
              "ENFORCEMENT"
            ]
          },
          "resourceGroups": {
            "description": "Required. List of resource groups for the policy.\nFor a particular VM, resource groups are evaluated in the order specified\nand the first resource group that is applicable is selected and the rest\nare ignored.\n\nIf none of the resource groups are applicable for a VM, the VM is\nconsidered to be non-compliant w.r.t this policy. This behavior can be\ntoggled by the flag `allow_no_resource_group_match`",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OSPolicyResourceGroup"
            }
          },
          "allowNoResourceGroupMatch": {
            "description": "This flag determines the OS policy compliance status when none of the\nresource groups within the policy are applicable for a VM. Set this value\nto `true` if the policy needs to be reported as compliant even if the\npolicy has nothing to validate or enforce.",
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "mode",
          "resourceGroups"
        ]
      },
      "OSPolicyResourceGroup": {
        "description": "Resource groups provide a mechanism to group OS policy resources.\n\nResource groups enable OS policy authors to create a single OS policy\nto be applied to VMs running different operating Systems.\n\nWhen the OS policy is applied to a target VM, the appropriate resource\ngroup within the OS policy is selected based on the `OSFilter` specified\nwithin the resource group.",
        "type": "object",
        "properties": {
          "inventoryFilters": {
            "description": "List of inventory filters for the resource group.\n\nThe resources in this resource group are applied to the target VM if it\nsatisfies at least one of the following inventory filters.\n\nFor example, to apply this resource group to VMs running either `RHEL` or\n`CentOS` operating systems, specify 2 items for the list with following\nvalues:\ninventory_filters[0].os_short_name='rhel' and\ninventory_filters[1].os_short_name='centos'\n\nIf the list is empty, this resource group will be applied to the target\nVM unconditionally.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OSPolicyInventoryFilter"
            }
          },
          "resources": {
            "description": "Required. List of resources configured for this resource group.\nThe resources are executed in the exact order specified here.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OSPolicyResource"
            }
          }
        },
        "required": [
          "resources"
        ]
      },
      "OSPolicyInventoryFilter": {
        "description": "Filtering criteria to select VMs based on inventory details.",
        "type": "object",
        "properties": {
          "osShortName": {
            "description": "Required. The OS short name",
            "type": "string"
          },
          "osVersion": {
            "description": "The OS version\n\nPrefix matches are supported if asterisk(*) is provided as the\nlast character. For example, to match all versions with a major\nversion of `7`, specify the following value for this field `7.*`\n\nAn empty string matches all OS versions.",
            "type": "string"
          }
        },
        "required": [
          "osShortName"
        ]
      },
      "OSPolicyResource": {
        "description": "An OS policy resource is used to define the desired state configuration\nand provides a specific functionality like installing/removing packages,\nexecuting a script etc.\n\nThe system ensures that resources are always in their desired state by\ntaking necessary actions if they have drifted from their desired state.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Required. The id of the resource with the following restrictions:\n\n* Must contain only lowercase letters, numbers, and hyphens.\n* Must start with a letter.\n* Must be between 1-63 characters.\n* Must end with a number or a letter.\n* Must be unique within the OS policy.",
            "type": "string"
          },
          "pkg": {
            "description": "Package resource",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResource"
            }]
          },
          "repository": {
            "description": "Package repository resource",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourceRepositoryResource"
            }]
          },
          "exec": {
            "description": "Exec resource",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourceExecResource"
            }]
          },
          "file": {
            "description": "File resource",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourceFileResource"
            }]
          }
        },
        "required": [
          "id"
        ]
      },
      "OSPolicyResourcePackageResource": {
        "description": "A resource that manages a system package.",
        "type": "object",
        "properties": {
          "desiredState": {
            "description": "Required. The desired state the agent should maintain for this package.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified is invalid.",
              "Ensure that the package is installed.",
              "The agent ensures that the package is not installed and\nuninstalls it if detected."
            ],
            "enum": [
              "DESIRED_STATE_UNSPECIFIED",
              "INSTALLED",
              "REMOVED"
            ]
          },
          "apt": {
            "description": "A package managed by Apt.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResourceAPT"
            }]
          },
          "deb": {
            "description": "A deb package file.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResourceDeb"
            }]
          },
          "yum": {
            "description": "A package managed by YUM.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResourceYUM"
            }]
          },
          "zypper": {
            "description": "A package managed by Zypper.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResourceZypper"
            }]
          },
          "rpm": {
            "description": "An rpm package file.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResourceRPM"
            }]
          },
          "googet": {
            "description": "A package managed by GooGet.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResourceGooGet"
            }]
          },
          "msi": {
            "description": "An MSI package.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourcePackageResourceMSI"
            }]
          }
        },
        "required": [
          "desiredState"
        ]
      },
      "OSPolicyResourcePackageResourceAPT": {
        "description": "A package managed by APT.\n- install: `apt-get update && apt-get -y install [name]`\n- remove: `apt-get -y remove [name]`",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. Package name.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "OSPolicyResourcePackageResourceDeb": {
        "description": "A deb package file. dpkg packages only support INSTALLED state.",
        "type": "object",
        "properties": {
          "source": {
            "description": "Required. A deb package.",
            "allOf": [{
              "$ref": "#/components/schemas/OSPolicyResourceFile"
            }]
          },
          "pullDeps": {
            "description": "Whether dependencies should also be installed.\n- install when false: `dpkg -i package`\n- install when true: `apt-get update && apt-get -y install\npackage.deb`",
            "type": "boolean"
          }
        },
[...]
