{
  "openapi": "3.0.3",
  "info": {
    "title": "Model Armor API",
    "description": "Model Armor helps you protect against risks like prompt injection, harmful content, and data leakage in generative AI applications by letting you define policies that filter user prompts and model responses.",
    "version": "v1",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://modelarmor.us.rep.googleapis.com",
      "description": "Global Endpoint"
    },
    {
      "url": "https://modelarmor.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-central1"
    },
    {
      "url": "https://modelarmor.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-east1"
    },
    {
      "url": "https://modelarmor.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-east7"
    },
    {
      "url": "https://modelarmor.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-west1"
    },
    {
      "url": "https://modelarmor.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west1"
    },
    {
      "url": "https://modelarmor.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "europe-west4"
    },
    {
      "url": "https://modelarmor.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us-east4"
    },
    {
      "url": "https://modelarmor.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "us"
    },
    {
      "url": "https://modelarmor.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "x-google-endpoint-location": "eu"
    }
  ],
  "paths": {
    "/v1/projects/{project}/locations/{location}/templates": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["modelarmor"],
        "operationId": "ListTemplates",
        "description": "Lists Templates in a given project and location.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. Requested page size. Server may return fewer items than requested.\nIf unspecified, server will pick an appropriate default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A token identifying a page of results the server should return.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. Filtering results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "description": "Optional. Hint for how to order the results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTemplatesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["modelarmor"],
        "operationId": "CreateTemplate",
        "description": "Creates a new Template in a given project and location.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "description": "Required. Id of the requesting object\nIf auto-generating Id server-side, remove this field and\ntemplate_id from the method_signature of Create RPC",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server stores the request\nID for 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Template"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/templates/{template}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["modelarmor"],
        "operationId": "GetTemplate",
        "description": "Gets details of a single Template.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["modelarmor"],
        "operationId": "UpdateTemplate",
        "description": "Updates the parameters of a single Template.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Required. Field mask is used to specify the fields to be overwritten in the\nTemplate resource by the update.\nThe fields specified in the update_mask are relative to the resource, not\nthe full request. A field will be overwritten if it is in the mask. If the\nuser does not provide a mask then all fields will be overwritten.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server stores the request\nID for 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The resource being updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Template"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["modelarmor"],
        "operationId": "DeleteTemplate",
        "description": "Deletes a single Template.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "description": "Optional. An optional request ID to identify requests. Specify a unique request ID\nso that if you must retry your request, the server will know to ignore\nthe request if it has already been completed. The server stores the request\nID for 60 minutes after the first request.\n\nFor example, consider a situation where you make an initial request and the\nrequest times out. If you make the request again with the same request\nID, the server can check if original operation with the same request ID\nwas received, and if so, will ignore the second request. This prevents\nclients from accidentally creating duplicate commitments.\n\nThe request ID must be a valid UUID with the exception that zero UUID is\nnot supported (00000000-0000-0000-0000-000000000000).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/floorSetting": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["modelarmor"],
        "operationId": "GetFloorSetting",
        "description": "Gets details of a single floor setting of a project",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorSetting"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["modelarmor"],
        "operationId": "UpdateFloorSetting",
        "description": "Updates the parameters of a single floor setting of a project",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. Field mask is used to specify the fields to be overwritten in the\nFloorSetting resource by the update.\nThe fields specified in the update_mask are relative to the resource, not\nthe full request. A field will be overwritten if it is in the mask. If the\nuser does not provide a mask then all fields will be overwritten.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The floor setting being updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorSetting"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorSetting"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders/{folder}/locations/{location}/floorSetting": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["modelarmor"],
        "operationId": "GetFloorSettingByFolderAndLocation",
        "x-google-operation-name" : "GetFloorSetting",
        "description": "Gets details of a single floor setting of a project",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "folder",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorSetting"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["modelarmor"],
        "operationId": "UpdateFloorSettingByFolderAndLocation",
        "x-google-operation-name" : "UpdateFloorSetting",
        "description": "Updates the parameters of a single floor setting of a project",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "folder",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. Field mask is used to specify the fields to be overwritten in the\nFloorSetting resource by the update.\nThe fields specified in the update_mask are relative to the resource, not\nthe full request. A field will be overwritten if it is in the mask. If the\nuser does not provide a mask then all fields will be overwritten.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The floor setting being updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorSetting"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorSetting"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organization}/locations/{location}/floorSetting": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["modelarmor"],
        "operationId": "GetFloorSettingByOrganizationAndLocation",
        "x-google-operation-name" : "GetFloorSetting",
        "description": "Gets details of a single floor setting of a project",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorSetting"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["modelarmor"],
        "operationId": "UpdateFloorSettingByOrganizationAndLocation",
        "x-google-operation-name" : "UpdateFloorSetting",
        "description": "Updates the parameters of a single floor setting of a project",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "organization",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. Field mask is used to specify the fields to be overwritten in the\nFloorSetting resource by the update.\nThe fields specified in the update_mask are relative to the resource, not\nthe full request. A field will be overwritten if it is in the mask. If the\nuser does not provide a mask then all fields will be overwritten.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The floor setting being updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorSetting"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorSetting"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/templates/{template}:sanitizeUserPrompt": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["modelarmor"],
        "operationId": "SanitizeUserPrompt",
        "description": "Sanitizes User Prompt.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SanitizeUserPromptRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SanitizeUserPromptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}/templates/{template}:sanitizeModelResponse": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["modelarmor"],
        "operationId": "SanitizeModelResponse",
        "description": "Sanitizes Model Response.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SanitizeModelResponseRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SanitizeModelResponseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["modelarmor"],
        "operationId": "ListLocations",
        "description": "Lists information about the supported locations for this service.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "A filter to narrow down results to a preferred subset.\nThe filtering language accepts strings like `\"displayName=tokyo\"`, and\nis documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The maximum number of results to return.\nIf not set, the service selects a default.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "A page token received from the `next_page_token` field in the response.\nSend that page token to receive the subsequent page.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extraLocationTypes",
            "description": "Optional. A list of extra location types that should be used as conditions for\ncontrolling the visibility of the locations.",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/locations/{location}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["modelarmor"],
        "operationId": "GetLocation",
        "description": "Gets information about a location.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ],
          "type": "string"
        },
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ],
          "type": "string"
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "bearer_auth": {
        "type": "http",
        "description": "Http bearer authentication.",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ListTemplatesResponse": {
        "description": "Message for response to listing Templates",
        "type": "object",
        "properties": {
          "templates": {
            "description": "The list of Template",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "nextPageToken": {
            "description": "A token identifying a page of results the server should return.",
            "type": "string"
          },
          "unreachable": {
            "description": "Locations that could not be reached.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Template": {
        "description": "Message describing Template resource",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. name of resource",
            "x-google-identifier": true,
            "type": "string"
          },
          "createTime": {
            "description": "Output only. [Output only] Create time stamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "description": "Output only. [Output only] Update time stamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "labels": {
            "description": "Optional. Labels as key value pairs",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "filterConfig": {
            "description": "Required. filter configuration for this template",
            "allOf": [{
              "$ref": "#/components/schemas/FilterConfig"
            }]
          },
          "templateMetadata": {
            "description": "Optional. metadata for this template",
            "allOf": [{
              "$ref": "#/components/schemas/TemplateMetadata"
            }]
          }
        },
        "required": [
          "filterConfig"
        ]
      },
      "FilterConfig": {
        "description": "Filters configuration.",
        "type": "object",
        "properties": {
          "raiSettings": {
            "description": "Optional. Responsible AI settings.",
            "allOf": [{
              "$ref": "#/components/schemas/RaiFilterSettings"
            }]
          },
          "sdpSettings": {
            "description": "Optional. Sensitive Data Protection settings.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpFilterSettings"
            }]
          },
          "piAndJailbreakFilterSettings": {
            "description": "Optional. Prompt injection and Jailbreak filter settings.",
            "allOf": [{
              "$ref": "#/components/schemas/PiAndJailbreakFilterSettings"
            }]
          },
          "maliciousUriFilterSettings": {
            "description": "Optional. Malicious URI filter settings.",
            "allOf": [{
              "$ref": "#/components/schemas/MaliciousUriFilterSettings"
            }]
          }
        }
      },
      "RaiFilterSettings": {
        "description": "Responsible AI Filter settings.",
        "type": "object",
        "properties": {
          "raiFilters": {
            "description": "Required. List of Responsible AI filters enabled for template.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RaiFilter"
            }
          }
        },
        "required": [
          "raiFilters"
        ]
      },
      "RaiFilter": {
        "description": "Responsible AI filter.",
        "type": "object",
        "properties": {
          "filterType": {
            "description": "Required. Type of responsible AI filter.",
            "allOf": [{
              "$ref": "#/components/schemas/RaiFilterType"
            }]
          },
          "confidenceLevel": {
            "description": "Optional. Confidence level for this RAI filter.\nDuring data sanitization, if data is classified under this filter with a\nconfidence level equal to or greater than the specified level, a positive\nmatch is reported. If the confidence level is unspecified (i.e., 0), the\nsystem will use a reasonable default level based on the `filter_type`.",
            "allOf": [{
              "$ref": "#/components/schemas/DetectionConfidenceLevel"
            }]
          }
        },
        "required": [
          "filterType"
        ]
      },
      "SdpFilterSettings": {
        "description": "Sensitive Data Protection settings.",
        "type": "object",
        "properties": {
          "basicConfig": {
            "description": "Optional. Basic Sensitive Data Protection configuration inspects the content for\nsensitive data using a fixed set of six info-types. Sensitive Data\nProtection templates cannot be used with basic configuration. Only\nSensitive Data Protection inspection operation is supported with basic\nconfiguration.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpBasicConfig"
            }]
          },
          "advancedConfig": {
            "description": "Optional. Advanced Sensitive Data Protection configuration which enables use of\nSensitive Data Protection templates. Supports both Sensitive Data\nProtection inspection and de-identification operations.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpAdvancedConfig"
            }]
          }
        }
      },
      "SdpBasicConfig": {
        "description": "Sensitive Data Protection basic configuration.",
        "type": "object",
        "properties": {
          "filterEnforcement": {
            "description": "Optional. Tells whether the Sensitive Data Protection basic config is enabled or\ndisabled.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Same as Disabled",
              "Enabled",
              "Disabled"
            ],
            "enum": [
              "SDP_BASIC_CONFIG_ENFORCEMENT_UNSPECIFIED",
              "ENABLED",
              "DISABLED"
            ]
          }
        }
      },
      "SdpAdvancedConfig": {
        "description": "Sensitive Data Protection Advanced configuration.",
        "type": "object",
        "properties": {
          "inspectTemplate": {
            "description": "Optional. Sensitive Data Protection inspect template resource name\n\nIf only inspect template is provided (de-identify template not provided),\nthen Sensitive Data Protection InspectContent action is performed during\nSanitization. All Sensitive Data Protection findings identified during\ninspection will be returned as SdpFinding in SdpInsepctionResult.\n\n e.g.\n`projects/{project}/locations/{location}/inspectTemplates/{inspect_template}`",
            "type": "string"
          },
          "deidentifyTemplate": {
            "description": "Optional. Optional Sensitive Data Protection Deidentify template resource name.\n\nIf provided then DeidentifyContent action is performed during Sanitization\nusing this template and inspect template. The De-identified data will\nbe returned in SdpDeidentifyResult.\nNote that all info-types present in the deidentify template must be present\nin inspect template.\n\ne.g.\n`projects/{project}/locations/{location}/deidentifyTemplates/{deidentify_template}`",
            "type": "string"
          }
        }
      },
      "PiAndJailbreakFilterSettings": {
        "description": "Prompt injection and Jailbreak Filter settings.",
        "type": "object",
        "properties": {
          "filterEnforcement": {
            "description": "Optional. Tells whether Prompt injection and Jailbreak filter is enabled or\ndisabled.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Same as Disabled",
              "Enabled",
              "Enabled"
            ],
            "enum": [
              "PI_AND_JAILBREAK_FILTER_ENFORCEMENT_UNSPECIFIED",
              "ENABLED",
              "DISABLED"
            ]
          },
          "confidenceLevel": {
            "description": "Optional. Confidence level for this filter.\nConfidence level is used to determine the threshold for the filter. If\ndetection confidence is equal to or greater than the specified level, a\npositive match is reported. Confidence level will only be used if the\nfilter is enabled.",
            "allOf": [{
              "$ref": "#/components/schemas/DetectionConfidenceLevel"
            }]
          }
        }
      },
      "MaliciousUriFilterSettings": {
        "description": "Malicious URI filter settings.",
        "type": "object",
        "properties": {
          "filterEnforcement": {
            "description": "Optional. Tells whether the Malicious URI filter is enabled or disabled.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Same as Disabled",
              "Enabled",
              "Disabled"
            ],
            "enum": [
              "MALICIOUS_URI_FILTER_ENFORCEMENT_UNSPECIFIED",
              "ENABLED",
              "DISABLED"
            ]
          }
        }
      },
      "TemplateMetadata": {
        "description": "Message describing TemplateMetadata",
        "type": "object",
        "properties": {
          "ignorePartialInvocationFailures": {
            "description": "Optional. If true, partial detector failures should be ignored.",
            "type": "boolean"
          },
          "customPromptSafetyErrorCode": {
            "description": "Optional. Indicates the custom error code set by the user to be returned to the end\nuser by the service extension if the prompt trips Model Armor filters.",
            "type": "integer",
            "format": "int32"
          },
          "customPromptSafetyErrorMessage": {
            "description": "Optional. Indicates the custom error message set by the user to be returned to the\nend user if the prompt trips Model Armor filters.",
            "type": "string"
          },
          "customLlmResponseSafetyErrorCode": {
            "description": "Optional. Indicates the custom error code set by the user to be returned to the end\nuser if the LLM response trips Model Armor filters.",
            "type": "integer",
            "format": "int32"
          },
          "customLlmResponseSafetyErrorMessage": {
            "description": "Optional. Indicates the custom error message set by the user to be returned to the\nend user if the LLM response trips Model Armor filters.",
            "type": "string"
          },
          "logTemplateOperations": {
            "description": "Optional. If true, log template crud operations.",
            "type": "boolean"
          },
          "logSanitizeOperations": {
            "description": "Optional. If true, log sanitize operations.",
            "type": "boolean"
          },
          "multiLanguageDetection": {
            "description": "Optional. Metadata for multi language detection.",
            "allOf": [{
              "$ref": "#/components/schemas/MultiLanguageDetection"
            }]
          }
        }
      },
      "MultiLanguageDetection": {
        "description": "Metadata to enable multi language detection via template.",
        "type": "object",
        "properties": {
          "enableMultiLanguageDetection": {
            "description": "Required. If true, multi language detection will be enabled.",
            "type": "boolean"
          }
        },
        "required": [
          "enableMultiLanguageDetection"
        ]
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object"
      },
      "FloorSetting": {
        "description": "Message describing FloorSetting resource",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The resource name.",
            "x-google-identifier": true,
            "type": "string"
          },
          "createTime": {
            "description": "Output only. [Output only] Create timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "description": "Output only. [Output only] Update timestamp",
            "readOnly": true,
            "type": "string",
            "format": "date-time"
          },
          "filterConfig": {
            "description": "Required. ModelArmor filter configuration.",
            "allOf": [{
              "$ref": "#/components/schemas/FilterConfig"
            }]
          },
          "enableFloorSettingEnforcement": {
            "description": "Optional. Floor Settings enforcement status.",
            "type": "boolean"
          }
        },
        "required": [
          "filterConfig"
        ]
      },
      "SanitizeUserPromptRequest": {
        "description": "Sanitize User Prompt request.",
        "type": "object",
        "properties": {
          "userPromptData": {
            "description": "Required. User prompt data to sanitize.",
            "allOf": [{
              "$ref": "#/components/schemas/DataItem"
            }]
          }
        },
        "required": [
          "userPromptData"
        ]
      },
      "DataItem": {
        "description": "Represents Data item",
        "type": "object",
        "properties": {
          "text": {
            "description": "Plaintext string data for sanitization.",
            "type": "string"
          },
          "byteItem": {
            "description": "Data provided in the form of bytes.",
            "allOf": [{
              "$ref": "#/components/schemas/ByteDataItem"
            }]
          }
        }
      },
      "ByteDataItem": {
        "description": "Represents Byte Data item.",
        "type": "object",
        "properties": {
          "byteDataType": {
            "description": "Required. The type of byte data",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unused",
              "plain text",
              "PDF",
              "DOCX, DOCM, DOTX, DOTM",
              "XLSX, XLSM, XLTX, XLYM",
              "PPTX, PPTM, POTX, POTM, POT",
              "TXT",
              "CSV"
            ],
            "enum": [
              "BYTE_ITEM_TYPE_UNSPECIFIED",
              "PLAINTEXT_UTF8",
              "PDF",
              "WORD_DOCUMENT",
              "EXCEL_DOCUMENT",
              "POWERPOINT_DOCUMENT",
              "TXT",
              "CSV"
            ]
          },
          "byteData": {
            "description": "Required. Bytes Data",
            "type": "string",
            "format": "byte"
          }
        },
        "required": [
          "byteDataType",
          "byteData"
        ]
      },
      "SanitizeUserPromptResponse": {
        "description": "Sanitized User Prompt Response.",
        "type": "object",
        "properties": {
          "sanitizationResult": {
            "description": "Output only. Sanitization Result.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/SanitizationResult"
            }]
          }
        }
      },
      "SanitizationResult": {
        "description": "Sanitization result after applying all the filters on input content.",
        "type": "object",
        "properties": {
          "filterMatchState": {
            "description": "Output only. Overall filter match state for Sanitization.\nThe state can have below two values.\n\n1) NO_MATCH_FOUND: No filters in configuration satisfy matching criteria.\nIn other words, input passed all filters.\n\n2) MATCH_FOUND: At least one filter in configuration satisfies matching.\nIn other words, input did not pass one or more filters.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          },
          "filterResults": {
            "description": "Output only. Results for all filters where the key is the filter name - either of\n\"csam\", \"malicious_uris\", \"rai\", \"pi_and_jailbreak\" ,\"sdp\".",
            "readOnly": true,
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FilterResult"
            }
          },
          "invocationResult": {
            "description": "Output only. A field indicating the outcome of the invocation, irrespective of match\nstatus. It can have the following three values:\nSUCCESS: All filters were executed successfully.\nPARTIAL: Some filters were skipped or failed execution.\nFAILURE: All filters were skipped or failed execution.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/InvocationResult"
            }]
          },
          "sanitizationMetadata": {
            "description": "Output only. Metadata related to Sanitization.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/SanitizationMetadata"
            }]
          }
        }
      },
      "FilterResult": {
        "description": "Filter Result obtained after Sanitization operations.",
        "type": "object",
        "properties": {
          "raiFilterResult": {
            "description": "Responsible AI filter results.",
            "allOf": [{
              "$ref": "#/components/schemas/RaiFilterResult"
            }]
          },
          "sdpFilterResult": {
            "description": "Sensitive Data Protection results.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpFilterResult"
            }]
          },
          "piAndJailbreakFilterResult": {
            "description": "Prompt injection and Jailbreak filter results.",
            "allOf": [{
              "$ref": "#/components/schemas/PiAndJailbreakFilterResult"
            }]
          },
          "maliciousUriFilterResult": {
            "description": "Malicious URI filter results.",
            "allOf": [{
              "$ref": "#/components/schemas/MaliciousUriFilterResult"
            }]
          },
          "csamFilterFilterResult": {
            "description": "CSAM filter results.",
            "allOf": [{
              "$ref": "#/components/schemas/CsamFilterResult"
            }]
          },
          "virusScanFilterResult": {
            "description": "Virus scan results.",
            "allOf": [{
              "$ref": "#/components/schemas/VirusScanFilterResult"
            }]
          }
        }
      },
      "RaiFilterResult": {
        "description": "Responsible AI Result.",
        "type": "object",
        "properties": {
          "executionState": {
            "description": "Output only. Reports whether the RAI filter was successfully executed or not.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterExecutionState"
            }]
          },
          "messageItems": {
            "description": "Optional messages corresponding to the result.\nA message can provide warnings or error details.\nFor example, if execution state is skipped then this field provides\nrelated reason/explanation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          },
          "matchState": {
            "description": "Output only. Overall filter match state for RAI.\nValue is MATCH_FOUND if at least one RAI filter confidence level is\nequal to or higher than the confidence level defined in configuration.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          },
          "raiFilterTypeResults": {
            "description": "The map of RAI filter results where key is RAI filter type - either of\n\"sexually_explicit\", \"hate_speech\", \"harassment\", \"dangerous\".",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RaiFilterTypeResult"
            }
          }
        }
      },
      "MessageItem": {
        "description": "Message item to report information, warning or error messages.",
        "type": "object",
        "properties": {
          "messageType": {
            "description": "Type of message.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unused",
              "Information related message.",
              "Warning related message.",
              "Error message."
            ],
            "enum": [
              "MESSAGE_TYPE_UNSPECIFIED",
              "INFO",
              "WARNING",
              "ERROR"
            ]
          },
          "message": {
            "description": "The message content.",
            "type": "string"
          }
        }
      },
      "RaiFilterTypeResult": {
        "description": "Detailed Filter result for each of the responsible AI Filter Types.",
        "type": "object",
        "properties": {
          "filterType": {
            "description": "Type of responsible AI filter.",
            "allOf": [{
              "$ref": "#/components/schemas/RaiFilterType"
            }]
          },
          "confidenceLevel": {
            "description": "Confidence level identified for this RAI filter.",
            "allOf": [{
              "$ref": "#/components/schemas/DetectionConfidenceLevel"
            }]
          },
          "matchState": {
            "description": "Output only. Match state for this RAI filter.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          }
        }
      },
      "SdpFilterResult": {
        "description": "Sensitive Data Protection filter result.",
        "type": "object",
        "properties": {
          "inspectResult": {
            "description": "Sensitive Data Protection Inspection result if inspection is performed.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpInspectResult"
            }]
          },
          "deidentifyResult": {
            "description": "Sensitive Data Protection Deidentification result if deidentification is\nperformed.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpDeidentifyResult"
            }]
          }
        }
      },
      "SdpInspectResult": {
        "description": "Sensitive Data Protection Inspection Result.",
        "type": "object",
        "properties": {
          "executionState": {
            "description": "Output only. Reports whether Sensitive Data Protection inspection was successfully\nexecuted or not.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterExecutionState"
            }]
          },
          "messageItems": {
            "description": "Optional messages corresponding to the result.\nA message can provide warnings or error details.\nFor example, if execution state is skipped then this field provides\nrelated reason/explanation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          },
          "matchState": {
            "description": "Output only. Match state for SDP Inspection.\nValue is MATCH_FOUND if at least one Sensitive Data Protection finding is\nidentified.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          },
          "findings": {
            "description": "List of Sensitive Data Protection findings.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SdpFinding"
            }
          },
          "findingsTruncated": {
            "description": "If true, then there is possibility that more findings were identified and\nthe findings returned are a subset of all findings. The findings\nlist might be truncated because the input items were too large, or because\nthe server reached the maximum amount of resources allowed for a single API\ncall.",
            "type": "boolean"
          }
        }
      },
      "SdpFinding": {
        "description": "Finding corresponding to Sensitive Data Protection filter.",
        "type": "object",
        "properties": {
          "infoType": {
            "description": "Name of Sensitive Data Protection info type for this finding.",
            "type": "string"
          },
          "likelihood": {
            "description": "Identified confidence likelihood for `info_type`.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpFindingLikelihood"
            }]
          },
          "location": {
            "description": "Location for this finding.",
            "allOf": [{
              "$ref": "#/components/schemas/SdpFindingLocation"
            }]
          }
        }
      },
      "SdpFindingLocation": {
        "description": "Location of this Sensitive Data Protection Finding within input content.",
        "type": "object",
        "properties": {
          "byteRange": {
            "description": "Zero-based byte offsets delimiting the finding.\nThese are relative to the finding's containing element.\nNote that when the content is not textual, this references\nthe UTF-8 encoded textual representation of the content.",
            "allOf": [{
              "$ref": "#/components/schemas/RangeInfo"
            }]
          },
          "codepointRange": {
            "description": "Unicode character offsets delimiting the finding.\nThese are relative to the finding's containing element.\nProvided when the content is text.",
            "allOf": [{
              "$ref": "#/components/schemas/RangeInfo"
            }]
          }
        }
      },
      "RangeInfo": {
        "description": "Half-open range interval [start, end)",
        "type": "object",
        "properties": {
          "start": {
            "description": "For proto3, value cannot be set to 0 unless the field is optional.\nRef: https://protobuf.dev/programming-guides/proto3/#default\nIndex of first character (inclusive).",
            "type": "string",
            "format": "int64"
          },
          "end": {
            "description": "Index of last character (exclusive).",
            "type": "string",
            "format": "int64"
          }
        }
      },
      "SdpDeidentifyResult": {
        "description": "Sensitive Data Protection Deidentification Result.",
        "type": "object",
        "properties": {
          "executionState": {
            "description": "Output only. Reports whether Sensitive Data Protection deidentification was successfully\nexecuted or not.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterExecutionState"
            }]
          },
          "messageItems": {
            "description": "Optional messages corresponding to the result.\nA message can provide warnings or error details.\nFor example, if execution state is skipped then this field provides\nrelated reason/explanation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          },
          "matchState": {
            "description": "Output only. Match state for Sensitive Data Protection Deidentification.\nValue is MATCH_FOUND if content is de-identified.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          },
          "data": {
            "description": "De-identified data.",
            "allOf": [{
              "$ref": "#/components/schemas/DataItem"
            }]
          },
          "transformedBytes": {
            "description": "Total size in bytes that were transformed during deidentification.",
            "type": "string",
            "format": "int64"
          },
          "infoTypes": {
            "description": "List of Sensitive Data Protection info-types that were de-identified.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PiAndJailbreakFilterResult": {
        "description": "Prompt injection and Jailbreak Filter Result.",
        "type": "object",
        "properties": {
          "executionState": {
            "description": "Output only. Reports whether Prompt injection and Jailbreak filter was successfully\nexecuted or not.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterExecutionState"
            }]
          },
          "messageItems": {
            "description": "Optional messages corresponding to the result.\nA message can provide warnings or error details.\nFor example, if execution state is skipped then this field provides\nrelated reason/explanation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          },
          "matchState": {
            "description": "Output only. Match state for Prompt injection and Jailbreak.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          },
          "confidenceLevel": {
            "description": "Confidence level identified for Prompt injection and Jailbreak.",
            "allOf": [{
              "$ref": "#/components/schemas/DetectionConfidenceLevel"
            }]
          }
        }
      },
      "MaliciousUriFilterResult": {
        "description": "Malicious URI Filter Result.",
        "type": "object",
        "properties": {
          "executionState": {
            "description": "Output only. Reports whether Malicious URI filter was successfully executed or not.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterExecutionState"
            }]
          },
          "messageItems": {
            "description": "Optional messages corresponding to the result.\nA message can provide warnings or error details.\nFor example, if execution state is skipped then this field provides\nrelated reason/explanation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          },
          "matchState": {
            "description": "Output only. Match state for this Malicious URI.\nValue is MATCH_FOUND if at least one Malicious URI is found.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          },
          "maliciousUriMatchedItems": {
            "description": "List of Malicious URIs found in data.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MaliciousUriMatchedItem"
            }
          }
        }
      },
      "MaliciousUriMatchedItem": {
        "description": "Information regarding malicious URI and its location within the input\ncontent.",
        "type": "object",
        "properties": {
          "uri": {
            "description": "Malicious URI.",
            "type": "string"
          },
          "locations": {
            "description": "List of locations where Malicious URI is identified.\nThe `locations` field is supported only for plaintext content i.e.\nByteItemType.PLAINTEXT_UTF8",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RangeInfo"
            }
          }
        }
      },
      "CsamFilterResult": {
        "description": "CSAM (Child Safety Abuse Material) Filter Result",
        "type": "object",
        "properties": {
          "executionState": {
            "description": "Output only. Reports whether the CSAM filter was successfully executed or not.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterExecutionState"
            }]
          },
          "messageItems": {
            "description": "Optional messages corresponding to the result.\nA message can provide warnings or error details.\nFor example, if execution state is skipped then this field provides\nrelated reason/explanation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          },
          "matchState": {
            "description": "Output only. Match state for CSAM.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          }
        }
      },
      "VirusScanFilterResult": {
        "description": "Virus scan results.",
        "type": "object",
        "properties": {
          "executionState": {
            "description": "Output only. Reports whether Virus Scan was successfully executed or not.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterExecutionState"
            }]
          },
          "messageItems": {
            "description": "Optional messages corresponding to the result.\nA message can provide warnings or error details.\nFor example, if execution status is skipped then this field provides\nrelated reason/explanation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          },
          "matchState": {
            "description": "Output only. Match status for Virus.\nValue is MATCH_FOUND if the data is infected with a virus.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/FilterMatchState"
            }]
          },
          "scannedContentType": {
            "description": "Type of content scanned.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unused",
              "Unknown content",
              "Plaintext",
              "PDF\nScanning for only PDF is supported."
            ],
            "enum": [
              "SCANNED_CONTENT_TYPE_UNSPECIFIED",
              "UNKNOWN",
              "PLAINTEXT",
              "PDF"
            ]
          },
          "scannedSize": {
            "description": "Size of scanned content in bytes.",
            "type": "string",
            "format": "int64"
          },
          "virusDetails": {
            "description": "List of Viruses identified.\nThis field will be empty if no virus was detected.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VirusDetail"
            }
          }
        }
      },
      "VirusDetail": {
        "description": "Details of an identified virus",
        "type": "object",
        "properties": {
          "vendor": {
            "description": "Name of vendor that produced this virus identification.",
            "type": "string"
          },
          "names": {
            "description": "Names of this Virus.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "threatType": {
            "description": "Threat type of the identified virus",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unused",
              "Unable to categorize threat",
              "Virus or Worm threat.",
              "Malicious program. E.g. Spyware, Trojan.",
              "Potentially harmful content. E.g. Injected code, Macro",
              "Potentially unwanted content. E.g. Adware."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "UNKNOWN",
              "VIRUS_OR_WORM",
              "MALICIOUS_PROGRAM",
              "POTENTIALLY_HARMFUL_CONTENT",
              "POTENTIALLY_UNWANTED_CONTENT"
            ]
          }
        }
      },
      "SanitizationMetadata": {
        "description": "Message describing Sanitization metadata.",
        "type": "object",
        "properties": {
          "errorCode": {
            "description": "Error code if any.",
            "type": "string",
            "format": "int64"
          },
          "errorMessage": {
            "description": "Error message if any.",
            "type": "string"
          },
          "ignorePartialInvocationFailures": {
            "description": "Passthrough field defined in TemplateMetadata to indicate whether to\nignore partial invocation failures.",
            "type": "boolean"
          }
        }
      },
      "SanitizeModelResponseRequest": {
        "description": "Sanitize Model Response request.",
        "type": "object",
        "properties": {
          "modelResponseData": {
            "description": "Required. Model response data to sanitize.",
            "allOf": [{
              "$ref": "#/components/schemas/DataItem"
            }]
          },
          "userPrompt": {
            "description": "Optional. User Prompt associated with Model response.",
            "type": "string"
          },
          "multiLanguageDetectionMetadata": {
            "description": "Optional. Metadata related for Translations.",
            "allOf": [{
              "$ref": "#/components/schemas/MultiLanguageDetectionMetadata"
            }]
          }
        },
        "required": [
          "modelResponseData"
        ]
      },
      "MultiLanguageDetectionMetadata": {
        "description": "Message for Translation Support.",
        "type": "object"
      },
      "SanitizeModelResponseResponse": {
        "description": "Sanitized Model Response Response.",
        "type": "object",
        "properties": {
          "sanitizationResult": {
            "description": "Output only. Sanitization Result.",
            "readOnly": true,
            "allOf": [{
              "$ref": "#/components/schemas/SanitizationResult"
            }]
          }
        }
      },
      "ListLocationsResponse": {
        "description": "The response message for Locations.ListLocations.",
        "type": "object",
        "properties": {
          "locations": {
            "description": "A list of locations that matches the specified filter in the request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          }
        }
      },
      "Location": {
        "description": "A resource that represents a Google Cloud location.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
            "type": "string"
          },
          "locationId": {
            "description": "The canonical id for this location. For example: `\"us-east1\"`.",
            "type": "string"
          },
          "displayName": {
            "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
            "type": "string"
          },
          "labels": {
            "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "metadata": {
            "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "RaiFilterType": {
        "type": "string",
        "x-google-enum-descriptions": [
          "Unspecified filter type.",
          "Sexually Explicit.",
          "Hate Speech.",
          "Harassment.",
          "Danger"
        ],
        "enum": [
          "RAI_FILTER_TYPE_UNSPECIFIED",
          "SEXUALLY_EXPLICIT",
          "HATE_SPEECH",
          "HARASSMENT",
          "DANGEROUS"
        ]
      },
      "DetectionConfidenceLevel": {
        "type": "string",
        "x-google-enum-descriptions": [
          "Same as LOW_AND_ABOVE.",
          "Highest chance of a false positive.",
          "Some chance of false positives.",
          "Low chance of false positives."
        ],
        "enum": [
          "DETECTION_CONFIDENCE_LEVEL_UNSPECIFIED",
          "LOW_AND_ABOVE",
          "MEDIUM_AND_ABOVE",
          "HIGH"
        ]
      },
      "FilterMatchState": {
        "type": "string",
        "x-google-enum-descriptions": [
          "Unused",
          "Matching criteria is not achieved for filters.",
          "Matching criteria is achieved for the filter."
        ],
        "enum": [
          "FILTER_MATCH_STATE_UNSPECIFIED",
          "NO_MATCH_FOUND",
          "MATCH_FOUND"
        ]
      },
      "FilterExecutionState": {
        "type": "string",
        "x-google-enum-descriptions": [
          "Unused",
          "Filter executed successfully",
          "Filter execution was skipped. This can happen due to server-side error\nor permission issue."
        ],
        "enum": [
          "FILTER_EXECUTION_STATE_UNSPECIFIED",
          "EXECUTION_SUCCESS",
          "EXECUTION_SKIPPED"
        ]
      },
      "SdpFindingLikelihood": {
        "type": "string",
        "x-google-enum-descriptions": [
          "Default value; same as POSSIBLE.",
          "Highest chance of a false positive.",
          "High chance of a false positive.",
          "Some matching signals. The default value.",
          "Low chance of a false positive.",
          "Confidence level is high. Lowest chance of a false positive."
        ],
        "enum": [
          "SDP_FINDING_LIKELIHOOD_UNSPECIFIED",
          "VERY_UNLIKELY",
          "UNLIKELY",
          "POSSIBLE",
          "LIKELY",
          "VERY_LIKELY"
        ]
      },
      "InvocationResult": {
        "type": "string",
        "x-google-enum-descriptions": [
          "Unused. Default value.",
          "All filters were invoked successfully.",
          "Some filters were skipped or failed.",
          "All filters were skipped or failed."
        ],
        "enum": [
          "INVOCATION_RESULT_UNSPECIFIED",
          "SUCCESS",
          "PARTIAL",
          "FAILURE"
        ]
      }
    }
  }
  ,
  "externalDocs": {
    "description": "Find more info here.",
    "url": "https://cloud.google.com/security-command-center/docs/model-armor-overview"
  }
}