"api_config_id_prefix": {
	Type:          schema.TypeString,
	Optional:      true,
	Computed:      true,
	ForceNew:      true,
	ConflictsWith: []string{"api_config_id"},
	Description: `Creates a unique name beginning with the specified prefix. If this and api_config_id are unspecified, a random value is chosen for the name.`,
},
