"create_ignore_already_exists": {
    Type:        schema.TypeBool,
    Optional:    true,
    Computed:    false,
    Description: `If set to true, skip group member creation if a membership with the same name already exists.`,
},
