"routing_mode": &schema.Schema{
	Type:     schema.TypeString,
	Optional: true,
	Computed: true,
	Description: "The routing mode of the Gateway. This field is configurable only for gateways of type SECURE_WEB_GATEWAY. This field is required for gateways of type SECURE_WEB_GATEWAY.",
	DiffSuppressFunc: func(k, old, new string, d *schema.ResourceData) bool {
		return (old == "" && new == "EXPLICIT_ROUTING_MODE") || (old == "EXPLICIT_ROUTING_MODE" && new == "") || old == new
	},
	ValidateFunc: validation.StringInSlice([]string{
		"NEXT_HOP_ROUTING_MODE",
		"EXPLICIT_ROUTING_MODE",
	}, false),
},
