"managed_server_ca": {
    Type:           schema.TypeList,
    Computed:       true,
    MaxItems:       1,
    Description:    "server ca information",
    Elem: &schema.Resource{
        Schema: map[string]*schema.Schema{
            "ca_certs": {
                Type:           schema.TypeList,
                Computed:       true,
                Optional:       true,
                Description:    "The PEM encoded CA certificate chains for redis managed server authentication",
                Elem: &schema.Resource{
                    Schema: map[string]*schema.Schema{
                        "certificates":{
                            Type:        schema.TypeList,
                            Computed:    true,
                            Optional:    true,
                            Description: "The certificates that form the CA chain, from leaf to root order.",
                            Elem: &schema.Schema{
                                Type: schema.TypeString,
                            },
                        },
                    },
                },
            },
        },
    },
},