// Set 'Required' schema elements
tpgresource.AddRequiredFieldsToSchema(dsSchema, "cluster_id")

// Set 'Optional' schema elements
tpgresource.AddOptionalFieldsToSchema(dsSchema, "location", "project")