resource "google_cloud_run_v2_job" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name     = "{{index $.ResourceIdVars "cloud_run_job_name"}}"
  location = "us-central1"
  deletion_protection = false

  functional_type = "FUNCTIONAL_TYPE_AGENT"

  template {
    template {
      containers {
        image = "us-docker.pkg.dev/cloudrun/container/job"
      }
      workload_identity_config {
        identity_type                = "IDENTITY_TYPE_AGENT_IDENTITY"
        identity_certificate_enabled = true
      }
    }
  }
}
