resource "google_cloud_run_v2_instance" "{{$.PrimaryResourceId}}" {
  name                = "{{index $.ResourceIdVars "cloud_run_instance_name"}}"
  location            = "us-east4"

  containers {
    image = "us-docker.pkg.dev/cloudrun/container/hello"
    env {
      name = "SECRET_ENV"
      value_source {
        secret_key_ref {
          secret  = google_secret_manager_secret.secret.secret_id
          version = "1"
        }
      }
    }
    volume_mounts {
      name       = "secret-volume"
      mount_path = "/secrets"
    }
  }

  volumes {
    name = "secret-volume"
    secret {
      secret       = google_secret_manager_secret.secret.secret_id
      default_mode = 292
      items {
        path    = "my-secret"
        version = "1"
        mode    = 292
      }
    }
  }

  depends_on = [
    google_secret_manager_secret_version.secret-version-data,
    google_secret_manager_secret_iam_member.secret-access,
  ]
}

data "google_project" "project" {
}

resource "google_secret_manager_secret" "secret" {
  secret_id = "{{index $.ResourceIdVars "secret_id"}}"
  replication {
    auto {}
  }
}

resource "google_secret_manager_secret_version" "secret-version-data" {
  secret      = google_secret_manager_secret.secret.name
  secret_data = "secret-data"
}

resource "google_secret_manager_secret_iam_member" "secret-access" {
  secret_id = google_secret_manager_secret.secret.id
  role      = "roles/secretmanager.secretAccessor"
  member    = "serviceAccount:${data.google_project.project.number}-compute@developer.gserviceaccount.com"
  depends_on = [google_secret_manager_secret.secret]
}
