resource "google_cloud_run_v2_service" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.ResourceIdVars "cloud_run_service_name"}}"
  location = "us-central1"
  deletion_protection = false
  ingress = "INGRESS_TRAFFIC_ALL"
  iap_enabled = {{index $.Vars "iap_enabled"}}
  template {
    containers {
      image = "us-docker.pkg.dev/cloudrun/container/hello"
    }
  }
}