resource "google_discovery_engine_data_store" "kms_key_name" {
  location                     = "us"
  data_store_id                = "{{index $.ResourceIdVars "data_store_id"}}"
  display_name                 = "tf-test-structured-datastore"
  industry_vertical            = "GENERIC"
  content_config               = "NO_CONTENT"
  solution_types               = ["SOLUTION_TYPE_SEARCH"]
  kms_key_name                 = "{{index $.ResourceIdVars "kms_key_name"}}"
  create_advanced_site_search  = false
  skip_default_schema_creation = false

  depends_on = [google_discovery_engine_cmek_config.default]
}

resource "google_discovery_engine_cmek_config" "default" {
  location       = "us"
  cmek_config_id = "{{index $.ResourceIdVars "cmek_config_id"}}"
  kms_key        = "{{index $.ResourceIdVars "kms_key_name"}}"
  set_default    = false

  depends_on = [google_kms_crypto_key_iam_member.crypto_key]
}

data "google_project" "project" {}

resource "google_kms_crypto_key_iam_member" "crypto_key" {
  crypto_key_id = "{{index $.ResourceIdVars "kms_key_name"}}"
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"
  member        = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-discoveryengine.iam.gserviceaccount.com"
}
