resource "google_folder" "folder" {
  display_name        = "{{index $.ResourceIdVars "folder_name"}}"
  parent              = "organizations/{{index $.TestEnvVars "org_id"}}"
  deletion_protection = false
}

# Binding access policies can be blocked by the managed org policy constraint
# iam.managed.disableAccessPolicyBinding. Make sure it is not enforced on this folder.
resource "google_org_policy_policy" "allow_access_policy_binding" {
  name   = "folders/${google_folder.folder.folder_id}/policies/iam.managed.disableAccessPolicyBinding"
  parent = "folders/${google_folder.folder.folder_id}"

  spec {
    rules {
      enforce = "FALSE"
    }
  }
}

resource "time_sleep" "wait_120s" {
  depends_on = [
    google_folder.folder,
    google_org_policy_policy.allow_access_policy_binding,
  ]
  create_duration = "120s"
}

resource "google_service_account" "test_sa" {
  account_id   = "{{index $.ResourceIdVars "account_id"}}"
  display_name = "Test Service Account for Access Policy"
}

resource "google_iam_folder_access_policy" "access_policy" {
  depends_on       = [time_sleep.wait_120s]
  folder           = google_folder.folder.folder_id
  location         = "global"
  access_policy_id = "{{index $.ResourceIdVars "access_policy_id"}}"
  details {
    rules {
      effect     = "ALLOW"
      principals = ["principal://iam.googleapis.com/projects/-/serviceAccounts/${google_service_account.test_sa.email}"]
      operation {
        permissions = ["eventarc.googleapis.com/messageBuses.publish"]
      }
    }
  }
}

resource "time_sleep" "wait_60_seconds" {
  create_duration = "60s"
  depends_on      = [google_iam_folder_access_policy.access_policy]
}

resource "google_iam_folders_policy_binding" "{{$.PrimaryResourceId}}" {
  depends_on        = [time_sleep.wait_60_seconds]
  folder            = google_folder.folder.folder_id
  location          = "global"
  display_name      = "Binding for a folder access policy"
  policy_kind       = "ACCESS"
  policy_binding_id = "{{index $.ResourceIdVars "folder_binding_id"}}"
  policy            = "folders/${google_folder.folder.folder_id}/locations/global/accessPolicies/${google_iam_folder_access_policy.access_policy.access_policy_id}"
  target {
    resource = "//cloudresourcemanager.googleapis.com/folders/${google_folder.folder.folder_id}"
  }
}
