resource "google_bigquery_analytics_hub_data_exchange" "{{$.PrimaryResourceId}}" {
  location         = "US"
  data_exchange_id = "{{index $.PrefixedVars "data_exchange_id"}}"
  display_name     = "{{index $.PrefixedVars "data_exchange_id"}}"
  description      = "{{index $.PrefixedVars "desc"}}"
  discovery_type   = "DISCOVERY_TYPE_PUBLIC"
}
