etag := d.Get("etag").(string)
obj["etag"] = etag

updateMask := []string{"status.resources", "etag"}

// updateMask is a URL parameter but not present in the schema, so ReplaceVars
// won't set it
url, err = transport_tpg.AddQueryParams(url, map[string]string{"updateMask": strings.Join(updateMask, ",")})
if err != nil {
	return err
}