if d.Get("deletion_protection").(bool) {
    return fmt.Errorf("cannot destroy cluster without setting deletion_protection=false and running `terraform apply`")
}

// Forcefully delete the secondary cluster and the dependent instances because deletion of secondary instance is not supported.
if deletionPolicy := d.Get("deletion_policy"); deletionPolicy == "FORCE" {
    url = url + "?force=true"
}