readRes, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
	Config: config,
	Method: "GET",
	Project: project,
	RawURL: url,
	UserAgent: userAgent,
{{- if $.ErrorRetryPredicates }}
	ErrorRetryPredicates: []transport_tpg.RetryErrorPredicateFunc{ {{- join $.ErrorRetryPredicates "," -}} },
{{- end }}
{{- if $.ErrorAbortPredicates }}
	ErrorAbortPredicates: []transport_tpg.RetryErrorPredicateFunc{ {{- join $.ErrorAbortPredicates "," -}} },
{{- end }}
})
if err != nil {
	return transport_tpg.HandleNotFoundError(err, d, fmt.Sprintf("ComputeDisk %q", d.Id()))
}

// if the create_snapshot_before_destroy is set to true then create a snapshot before deleting the disk
	if d.Get("create_snapshot_before_destroy").(bool) {
		instanceName := d.Get("name").(string)
		nameOrigin := "disk"
		if d.Get("create_snapshot_before_destroy_prefix").(string) != "" {
			instanceName = d.Get("create_snapshot_before_destroy_prefix").(string)
			nameOrigin = "create_snapshot_before_destroy_prefix"
		}

		if len(instanceName) > 48 {
			return fmt.Errorf(`Your %s name is too long to perform this action. The max is 48 characters. Please use "create_snapshot_before_destroy_prefix" to set a custom name for the snapshot.`, nameOrigin)
		}

		snapshotObj := &compute.Snapshot{
			Name:       fmt.Sprintf("%s-%s", instanceName, time.Now().Format("20060102-150405")),
			SourceDisk: d.Get("self_link").(string),
		}

		//Handling encryption
		if d.Get("disk_encryption_key.0.raw_key").(string) != "" {
			snapshotObj.SourceDiskEncryptionKey = &compute.CustomerEncryptionKey{
				RawKey: d.Get("disk_encryption_key.0.raw_key").(string),
			}
			snapshotObj.SnapshotEncryptionKey = &compute.CustomerEncryptionKey{
				RawKey: d.Get("disk_encryption_key.0.raw_key").(string),
			}
		}

		if d.Get("disk_encryption_key.0.rsa_encrypted_key").(string) != "" {
			snapshotObj.SourceDiskEncryptionKey = &compute.CustomerEncryptionKey{
				RsaEncryptedKey: d.Get("disk_encryption_key.0.rsa_encrypted_key").(string),
			}
			snapshotObj.SnapshotEncryptionKey = &compute.CustomerEncryptionKey{
				RsaEncryptedKey: d.Get("disk_encryption_key.0.rsa_encrypted_key").(string),
			}
		}

		snapshot, err := config.NewComputeClient(userAgent).Snapshots.Insert(project, snapshotObj).Do()
		if err != nil {
			return fmt.Errorf("Error creating snapshot: %s", err)
		}
		err = ComputeOperationWaitTime(config, snapshot, project, "Creating Snapshot", userAgent, d.Timeout(schema.TimeoutCreate))
		if err != nil {
			return err
		}
	}

// if disks are attached to instances, they must be detached before the disk can be deleted
if v, ok := readRes["users"].([]interface{}); ok {
	type detachArgs struct{ project, zone, instance, deviceName string }
	var detachCalls []detachArgs

	for _, instance := range tpgresource.ConvertStringArr(v) {
		self := d.Get("self_link").(string)
		instanceProject, instanceZone, instanceName, err := tpgresource.GetLocationalResourcePropertiesFromSelfLinkString(instance)
		if err != nil {
			return err
		}

		i, err := config.NewComputeClient(userAgent).Instances.Get(instanceProject, instanceZone, instanceName).Do()
		if err != nil {
			if gerr, ok := err.(*googleapi.Error); ok && gerr.Code == 404 {
				log.Printf("[WARN] instance %q not found, not bothering to detach disks", instance)
				continue
			}
			return fmt.Errorf("Error retrieving instance %s: %s", instance, err.Error())
		}
		for _, disk := range i.Disks {
			if tpgresource.CompareSelfLinkOrResourceName("", disk.Source, self, nil) {
				detachCalls = append(detachCalls, detachArgs{
					project:    instanceProject,
					zone:       tpgresource.GetResourceNameFromSelfLink(i.Zone),
					instance:   i.Name,
					deviceName: disk.DeviceName,
				})
			}
		}
	}

	for _, call := range detachCalls {
		op, err := config.NewComputeClient(userAgent).Instances.DetachDisk(call.project, call.zone, call.instance, call.deviceName).Do()
		if err != nil {
			return fmt.Errorf("Error detaching disk %s from instance %s/%s/%s: %s", call.deviceName, call.project,
				call.zone, call.instance, err.Error())
		}
		err = ComputeOperationWaitTime(config, op, call.project,
			fmt.Sprintf("Detaching disk from %s/%s/%s", call.project, call.zone, call.instance), userAgent, d.Timeout(schema.TimeoutDelete))
		if err != nil {
			var opErr ComputeOperationError
			if errors.As(err, &opErr) && len(opErr.Errors) == 1 && opErr.Errors[0].Code == "RESOURCE_NOT_FOUND" {
				log.Printf("[WARN] instance %q was deleted while awaiting detach", call.instance)
				continue
			}
			return err
		}
	}
}
