if d.Get("delete_protection").(bool) {
	return fmt.Errorf("cannot destroy google_firestore_index resource with id : %q  without setting deletion_protection=false and running `terraform apply`", d.Id())
}