if d.Get("deletion_protection").(bool) {
	return fmt.Errorf("cannot destroy google_oracle_database_autonomous_database resource with id : %q without setting deletion_protection=false and running `terraform apply`", d.Id())
}
