// Add force=true query param to force deletion of private connection sub resources like Routes
url, err = transport_tpg.AddQueryParams(url, map[string]string{"force": strconv.FormatBool(true)})
if err != nil {
return err
}