
config := meta.(*transport_tpg.Config)
	
// current import_formats can't import fields with forward slashes in their value
if err := tpgresource.ParseImportId([]string{"(?P<project>[^ ]+) (?P<name>[^ ]+)", "(?P<name>[^ ]+)"}, d, config); err != nil {
	return nil, err
}

// import location if the name format follows: projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/transferConfigs/{{"{{"}}config_id{{"}}"}}
name := d.Get("name").(string)
stringParts := strings.Split(name, "/")
if len(stringParts) == 6 {
	if err := d.Set("location", stringParts[3]); err != nil {
		return nil, fmt.Errorf("Error setting location: %s", err)
	}
} else {
	log.Printf("[INFO] Transfer config location not imported as it is not included in the name: %s", name)
}


return []*schema.ResourceData{d}, nil
