	config := meta.(*transport_tpg.Config)

	if err := tpgresource.ParseImportId([]string{
		"^(?P<taxonomy>projects/[^/]+/locations/[^/]+/taxonomies/[^/]+)/policyTags/(?P<name>.+)$"}, d, config); err != nil {
		return nil, err
	}

	originalName := d.Get("name").(string)
	originalTaxonomy := d.Get("taxonomy").(string)
	name := fmt.Sprintf("%s/policyTags/%s", originalTaxonomy, originalName)

	if err := d.Set("name", name); err != nil {
		return nil, fmt.Errorf("Error setting name: %s", err)
	}
	d.SetId(name)
	return []*schema.ResourceData{d}, nil
