	config := meta.(*transport_tpg.Config)

	// current import_formats can't import fields with forward slashes in their value
	if err := tpgresource.ParseImportId([]string{"(?P<secret>projects/.+/secrets/.+)/versions/(?P<version>.+)$"}, d, config); err != nil {
		return nil, err
	}

	name := d.Get("name").(string)
	if name == "" {
		secret := d.Get("secret").(string)
		version := d.Get("version").(string)
		if secret == "" || version == "" {
			return nil, fmt.Errorf("Error setting import identity: both secret and version must be set")
		}

		name = fmt.Sprintf("%s/versions/%s", secret, version)
		if err := d.Set("name", name); err != nil {
			return nil, fmt.Errorf("Error setting name: %s", err)
		}
		d.SetId(name)
	}

	versionRegex := regexp.MustCompile("^projects/([^/]+)/secrets/([^/]+)/versions/(.+)$")

	parts := versionRegex.FindStringSubmatch(name)
	if len(parts) != 4 {
		return nil, fmt.Errorf("Version name does not fit the format `projects/{{"{{"}}project{{"}}"}}/secrets/{{"{{"}}secret{{"}}"}}/versions/{{"{{"}}version{{"}}"}}`")
	}
	secretName := fmt.Sprintf("projects/%s/secrets/%s", parts[1], parts[2])
	if err := d.Set("secret", secretName); err != nil {
		return nil, fmt.Errorf("Error setting secret: %s", err)
	}

	if err := d.Set("version", parts[3]); err != nil {
		return nil, fmt.Errorf("Error setting version: %s", err)
	}

	if err := d.Set("project", parts[1]); err != nil {
		return nil, fmt.Errorf("Error setting project: %s", err)
	}

	if err := tpgresource.SetResourceIdentityAttributes(d, map[string]interface{}{
		"secret":  secretName,
		"version": parts[3],
	}); err != nil {
		return nil, err
	}

	// Explicitly set virtual fields to default values on import
	if err := d.Set("deletion_policy", "DELETE"); err != nil {
		return nil, fmt.Errorf("Error setting version: %s", err)
	}

	return []*schema.ResourceData{d}, nil
