if obj == nil || obj["buildConfig"] == nil {
  return obj, nil
}

build_config := obj["buildConfig"].(map[string]interface{})

// Automatic Update policy is the default from API, unset it if the data
// contains the on-deploy policy.
if build_config["onDeployUpdatePolicy"] != nil {
  delete(build_config, "automaticUpdatePolicy")
}

obj["buildConfig"] = build_config

return obj, nil
