config := meta.(*transport_tpg.Config)
project, err := tpgresource.GetProject(d, config)
if err != nil {
 	return nil, err
}

location, err := tpgresource.GetRegion(d, config)
if err != nil {
    return nil, err
}

// Handle parent injection for creation requests if parent is not explicitly provided
if obj["createNotebookExecutionJobRequest"] != nil {
	jobRequest, ok := obj["createNotebookExecutionJobRequest"].(map[string]interface{})
	if !ok {
		return nil, fmt.Errorf("createNotebookExecutionJobRequest is not of type map[string]interface{} or is nil")
	}
	if jobRequest["parent"] == nil || jobRequest["parent"] == "" {
		jobRequest["parent"] = fmt.Sprintf("projects/%s/locations/%s", project, location)
	}
}

if obj["createPipelineJobRequest"] != nil {
	pipelineRequest, ok := obj["createPipelineJobRequest"].(map[string]interface{})
	if !ok {
		return nil, fmt.Errorf("createPipelineJobRequest is not of type map[string]interface{} or is nil")
	}
	if pipelineRequest["parent"] == nil || pipelineRequest["parent"] == "" {
		pipelineRequest["parent"] = fmt.Sprintf("projects/%s/locations/%s", project, location)
	}
}

return obj, nil
