//  BGP always-compare-med
	_, ok := obj["routingConfig"].(map[string]interface{})
	if ok {
		obj["routingConfig"].(map[string]interface{})["deleteBgpAlwaysCompareMed"] = d.Get("delete_bgp_always_compare_med").(bool)
		if d.Get("delete_bgp_always_compare_med").(bool) {
			if d.Get("bgp_always_compare_med").(bool) {
				return nil, fmt.Errorf("Cannot set BgpAlwaysCompareMed to true while DeleteBgpAlwaysCompareMed is also true")
			}
		} 
	}
// now clean up the rest
delete(obj, "numeric_id") // Field doesn't exist in the API
return obj, nil
