config := meta.(*transport_tpg.Config)

project, err := tpgresource.GetProject(d, config)
if err != nil {
 	return nil, err
}

userAgent, err :=  tpgresource.GenerateUserAgentString(d, config.UserAgent)
if err != nil {
	return nil, err
}

{{ if eq $.Name "Disk" -}}
if v, ok := d.GetOk("type"); ok {
	log.Printf("[DEBUG] Loading disk type: %s", v.(string))
	diskType, err := readDiskType(config, d, v.(string))
	if err != nil {
		return nil, fmt.Errorf(
			"Error loading disk type '%s': %s",
			v.(string), err)
	}

	obj["type"] = diskType.RelativeLink()
}
{{- else if eq $.Name "RegionDisk" }}
if v, ok := d.GetOk("type"); ok {
	log.Printf("[DEBUG] Loading disk type: %s", v.(string))
	diskType, err := readRegionDiskType(config, d, v.(string))
	if err != nil {
		return nil, fmt.Errorf(
			"Error loading disk type '%s': %s",
			v.(string), err)
	}

	obj["type"] = diskType.RelativeLink()
}
{{- else }}
  raise 'disk.tmpl included in non-disk type {{$.Name}}'
{{- end }}

if v, ok := d.GetOk("image"); ok {
	log.Printf("[DEBUG] Resolving image name: %s", v.(string))
	imageUrl, err := ResolveImage(config, project, v.(string), userAgent)
	if err != nil {
		return nil, fmt.Errorf(
			"Error resolving image name '%s': %s",
			v.(string), err)
	}

	obj["sourceImage"] = imageUrl
	log.Printf("[DEBUG] Image name resolved to: %s", imageUrl)
}

return obj, nil
