v, ok := d.GetOk("desired_psc_auto_connections")
if !ok {
    return obj, nil // No desired connections, nothing to update
}
l := v.([]interface{})
req := make([]interface{}, 0, len(l))
for _, raw := range l {
    if raw == nil {
        continue
    }
    desiredConnection := raw.(map[string]interface{})
    connectionReq := make(map[string]interface{})

    projectId := desiredConnection["project_id"]
    if val := reflect.ValueOf(projectId); val.IsValid() && !tpgresource.IsEmptyValue(val) {
        connectionReq["projectId"] = projectId
    }

    network := desiredConnection["network"]
    if val := reflect.ValueOf(network); val.IsValid() && !tpgresource.IsEmptyValue(val) {
        connectionReq["network"] = network
    }

    req = append(req, connectionReq)
}
obj["pscAutoConnections"] = req
return obj, nil
