if d.Get("is_secret_data_base64").(bool) == false {
	payload := obj["payload"]
	data := payload["data"]

	if data == nil {
		return nil, nil
	}

	data = base64.StdEncoding.EncodeToString([]byte(data.(string)))
	payload["data"] = data
	obj["payload"] = payload
}

return obj, nil