if d.Get("is_secret_data_base64").(bool) == false {
	payload := obj["payload"].(map[string]interface{})
	data := payload["data"].(string)

	data = base64.StdEncoding.EncodeToString([]byte(data))
	payload["data"] = data
	obj["payload"] = payload
}

return obj, nil