// Temp Logic to accommodate autoscaling_config, processing_units and node_count
if obj["processingUnits"] == nil && obj["nodeCount"] == nil && obj["autoscalingConfig"] == nil {
	obj["nodeCount"] = 1
}

// Wrap the request body in an instancePartition field
wrapped := make(map[string]interface{})
wrapped["instancePartitionId"] = obj["name"]
wrapped["instancePartition"] = obj
delete(obj, "name")
return wrapped, nil
