obj["name"] = d.Get("name").(string)
if obj["name"] == nil || obj["name"] == ""  {
  if err := d.Set("name", id.PrefixedUniqueId("tfgen-spanid-")[:30]); err != nil {
    return nil, fmt.Errorf("Error setting name: %s", err)
  }
}
config := meta.(*transport_tpg.Config)
var err error
obj["name"], err = tpgresource.ReplaceVars(d, config, "projects/{{"{{"}}project{{"}}"}}/instances/{{"{{"}}instance{{"}}"}}/databases/{{"{{"}}database{{"}}"}}/backupSchedules/{{"{{"}}name{{"}}"}}")
if err != nil {
  return obj, err
}
delete(obj, "instance")
delete(obj, "database")
return obj, nil
