// Temp Logic to accommodate autoscaling_config, processing_units and num_nodes
if obj["processingUnits"] == nil && obj["nodeCount"] == nil && obj["autoscalingConfig"] == nil {
	obj["nodeCount"] = 1
}
newObj := make(map[string]interface{})
newObj["instance"] = obj
if obj["name"] == nil {
	if err := d.Set("name", id.PrefixedUniqueId("tfgen-spanid-")[:30]); err != nil {
		return nil, fmt.Errorf("Error setting name: %s", err)
	}
	newObj["instanceId"] = d.Get("name").(string)
} else {
	newObj["instanceId"] = obj["name"]
}
delete(obj, "name")
return newObj, nil
