Identity: &schema.ResourceIdentity{
  Version: 1,
  SchemaFunc: func() map[string]*schema.Schema {
    return map[string]*schema.Schema{
      "name": {
        Type:     schema.TypeString,
        RequiredForImport: true,
      },
    }
  },
},