resource "google_oracle_database_odb_subnet" "{{$.PrimaryResourceId}}"{
  odb_subnet_id = "{{index $.ResourceIdVars "odb_subnet_id"}}"
  location = "europe-west2"
  project = "{{index $.ResourceIdVars "project"}}"
  odbnetwork = "{{index $.ResourceIdVars "odb_network_id"}}"
  cidr_range = "10.1.1.0/24"
  purpose = "CLIENT_SUBNET"
  labels = {
    terraform_created = "true"
  }
  deletion_protection = "{{index $.ResourceIdVars "deletion_protection"}}"
}
