resource "google_oracle_database_goldengate_connection" "{{$.PrimaryResourceId}}" {
  goldengate_connection_id = "{{index $.ResourceIdVars "goldengate_connection_id"}}"
  location                 = "us-east4"
  project                  = "{{index $.ResourceIdVars "project"}}"
  gcp_oracle_zone          = "us-east4-b-r1"

  properties {
    display_name    = "{{index $.ResourceIdVars "goldengate_connection_id"}} display name"
    connection_type = "SNOWFLAKE"
    snowflake_connection_properties {
      technology_type     = "SNOWFLAKE"
      connection_url      = "jdbc:snowflake://xy12345.snowflakecomputing.com/?warehouse=COMPUTE_WH&db=ANALYTICS_DB"
      authentication_type = "BASIC"
      username            = "snowflake_sync_user"
      password            = "SnowflakeBasicP@ssword123!"
    }
  }
  deletion_protection = "{{index $.ResourceIdVars "deletion_protection"}}"
}
