resource "google_oracle_database_goldengate_connection" "{{$.PrimaryResourceId}}" {
  goldengate_connection_id = "{{index $.ResourceIdVars "goldengate_connection_id"}}"
  location                 = "asia-south1"
  project                  = "{{index $.ResourceIdVars "project"}}"
  gcp_oracle_zone          = "asia-south1-b-r1"


  properties {
    display_name    = "{{index $.ResourceIdVars "goldengate_connection_id"}} display name"
    connection_type = "ORACLE"
    oracle_connection_properties {
      technology_type   = "ORACLE_AUTONOMOUS_DATABASE_AT_GOOGLE_CLOUD"
      connection_string = "jdbc:oracle:thin:@//10.0.0.5:1521/ORCL"
      username          = "admin"
      password          = "GenerateWallet@123"
    }
  }
  deletion_protection = "{{index $.ResourceIdVars "deletion_protection"}}"
}
