// This file should be deleted in the next major terraform release, alongside
// the default values for 'publicRepository'.

// deletePublicRepoIfCustom deletes the publicRepository key for a given
// pkg type from the remote repository config if customRepository is set.
deletePublicRepoIfCustom := func(pkgType string) {
  if _, ok := d.GetOk(fmt.Sprintf("remote_repository_config.0.%s_repository.0.custom_repository", pkgType)); ok {
    rrcfg := obj["remoteRepositoryConfig"].(map[string]interface{})
    repo := rrcfg[fmt.Sprintf("%sRepository", pkgType)].(map[string]interface{})
    delete(repo, "publicRepository")
  }
}

// Call above func for all pkg types that support custom remote repos.
deletePublicRepoIfCustom("docker")
deletePublicRepoIfCustom("maven")
deletePublicRepoIfCustom("npm")
deletePublicRepoIfCustom("python")