	nsRaw_pre := d.Get("namespace").([]interface{})
	ns_pre := make([]string, len(nsRaw_pre))
	for i, v := range nsRaw_pre {
		ns_pre[i] = v.(string)
	}
    encodedNs_pre := encodeNamespace(ns_pre)
    if err := d.Set("namespace_id", encodedNs_pre); err != nil {
        return fmt.Errorf("Error setting namespace_id in pre-create: %s", err)
    }
    
    // Use existing project and err variables
    project, err = tpgresource.GetProject(d, config)
    if err != nil {
        return err
    }
    catalog_pre := d.Get("catalog").(string)
    
    // Set ID early using a unique variable name
    resID_pre := fmt.Sprintf("projects/%s/catalogs/%s/namespaces/%s", project, catalog_pre, encodedNs_pre)
    d.SetId(resID_pre)
