    if _, ok := d.GetOkExists("location"); !ok {
        // Extract location from parent reservation.
        reservation := d.Get("reservation").(string)

        tableRef := regexp.MustCompile("projects/(.+)/locations/(.+)/reservations/(.+)")
        if parts := tableRef.FindStringSubmatch(reservation); parts != nil {
            err := d.Set("location", parts[2])
            if err != nil {
                return err
            }
        }

        if strings.Contains(url, "locations//") {
            // re-compute url now that location must be set
            url = strings.ReplaceAll(url, "/locations//", "/locations/"+d.Get("location").(string)+"/")
            if err != nil {
                return err
            }
        }
    }
