// extract location from the parent
location := ""

if parts := regexp.MustCompile(`locations\/([^\/]*)\/`).FindStringSubmatch(d.Get("parent").(string)); parts != nil {
	location = parts[1]
} else {
	return fmt.Errorf(
		"Saw %s when the parent is expected to contains location %s",
		d.Get("parent"),
		"projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/...",
	)
}

url = strings.Replace(url, "-dialogflow", fmt.Sprintf("%s-dialogflow", location), 1)
