// extract location from the parent
location := ""

if parts := regexp.MustCompile(`locations\/([^\/]*)\/`).FindStringSubmatch(d.Get("parent").(string)); parts != nil {
    location = parts[1]
} else {
    return fmt.Errorf(
        "Saw %s when the parent is expected to contains location %s",
        d.Get("parent"),
        "projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/...",
    )
}

// only insert location into url if the base_url in products/dialogflowcx/product.yaml is used
if strings.HasPrefix(url, "https://-dialogflow.googleapis.com/v3/") {
    url = strings.Replace(url,"-dialogflow",fmt.Sprintf("%s-dialogflow",location),1)
}

if v, ok := d.GetOk("language_code") ; ok {
    url, err = transport_tpg.AddQueryParams(url, map[string]string{"languageCode": fmt.Sprintf("%v", v)})
    if err != nil {
        return err
    }
}