val := d.Get("enableDns64AllQueries").(bool)
if  val == nil {
	val = false
}
dns64Config := make(map[string]interface{})
scope := make(map[string]interface{})
scope["allQueries"] = val
dns64Config["scope"] = scope
obj["dns64Config"] = dns64Config
