// Move client certificate to url param from request body
if cc, ok := obj["client_certificate"]; ok {
    ccm := cc.(map[string]any)

    params := map[string]string {
        "clientCertificate.sslCertificate": ccm["ssl_certificate"].(string),
        "clientCertificate.encryptedPrivateKey": ccm["encrypted_private_key"].(string),
    }
    if pp, ok := ccm["passphrase"]; ok {
        params["clientCertificate.passphrase"] = pp.(string)
    }
    url, err = transport_tpg.AddQueryParams(url, params)
	if err != nil {
		return err
	}
    delete(obj, "client_certificate")
}