// Translate `createSampleIntegrations` to `createSampleWorkflows`
if val, ok := obj["createSampleIntegrations"]; ok {
	delete(obj, "createSampleIntegrations")
    obj["createSampleWorkflows"] = val
}