// When creating more than one rule sometimes the creation conflicts.
// https://github.com/hashicorp/terraform-provider-google/issues/20892
// Workaround: Get sleep wait time based on actual Nanosecond.
time.Sleep(sleep_wait_time(time.Now().Nanosecond()))