data "google_observability_organization_settings" "settings_data" {
  provider = "google-beta"
  organization = "{{index $.TestEnvVars "org_id"}}"
  location     = "global"
}

resource "google_observability_organization_settings" "primary_global" {
  provider = "google-beta"
  location                 = "global"
  organization             = "{{index $.TestEnvVars "org_id"}}"
  default_storage_location = "us"
}
