data "google_project" "project" {}

# Instantiating observability settings will create the service account if it doesn't already exist
resource "google_observability_project_settings" "global" {
  location                 = "global"
  default_storage_location = "us"
}

# Buffer for the new identity to propagate to global IAM indexes
resource "time_sleep" "wait_for_sa_propagation" {
  create_duration = "30s"
  depends_on      = [
    google_observability_project_settings.global
  ]
}

resource "google_project_iam_member" "observability_sa_bq_admin" {
  project = data.google_project.project.project_id
  role    = "roles/bigquery.admin"
  member  = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-observability.iam.gserviceaccount.com"

  depends_on = [
    time_sleep.wait_for_sa_propagation
  ]
}

resource "google_observability_bucket" "bucket" {
  bucket_id    = "_Trace"
  location     = "us"
  display_name = "Bucket for Link"
  description  = "Bucket for testing Link"
}

resource "google_observability_link" "{{$.PrimaryResourceId}}" {
  location     = google_observability_bucket.bucket.location
  bucket       = google_observability_bucket.bucket.bucket_id
  dataset      = "Spans"
  link_id      = "{{index $.ResourceIdVars "link_id"}}"
  display_name = "{{index $.Vars "display_name"}}"
  description  = "{{index $.Vars "description"}}"

  depends_on = [
    google_project_iam_member.observability_sa_bq_admin,
  ]
}
