resource "google_firestore_database" "{{$.PrimaryResourceId}}" {
  project     = "{{index $.TestEnvVars "project_id"}}"
  name        = "(default)"
  location_id = "nam5"
  type        = "DATASTORE_MODE"
}
