// Copyright IBM Corp. 2014, 2026
// SPDX-License-Identifier: MPL-2.0

{{$.CodeHeader TemplatePath}}

package {{ lower $.ProductMetadata.Name }}_test

import (
	"testing"

	"github.com/hashicorp/terraform-plugin-testing/helper/resource"
	"github.com/hashicorp/terraform-plugin-testing/querycheck"
	"github.com/hashicorp/terraform-plugin-testing/tfversion"

	"{{ $.ImportPath }}/acctest"
	"{{ $.ImportPath }}/envvar"
)

var (
	_ = envvar.TestEnvVar
)

{{ $example := $.FirstTestExample }}
func TestAcc{{ $.ResourceName }}ListQuery_generated(t *testing.T) {
	t.Parallel()

	{{- if $example.SkipVcr }}
	acctest.SkipIfVcr(t)
	{{- end }}

	{{- if $example.BootstrapIam }}
	acctest.BootstrapIamMembers(t, []acctest.IamMember{
	{{- range $iam := $example.BootstrapIam }}
		{
			Member: "{{$iam.Member}}",
			Role:   "{{$iam.Role}}",
		},
	{{- end}}
	})
	{{- end }}

	randomSuffix := acctest.RandString(t, 10)
	context := map[string]interface{}{
	{{- template "EnvVarContext" dict "TestEnvVars" $example.TestEnvVars "HasNewLine" false}}
	{{- range $varKey, $varVal := $example.TestContextVars }}
		"{{$varKey}}": {{$varVal}},
	{{- end }}
	{{- range $varKey, $varVal := $example.TestVarsOverrides }}
		"{{$varKey}}": {{$varVal}},
	{{- end }}
	{{- range $scope := $.ListScopeProperties }}
		{{- $n := underscore $scope.Name }}
		{{- if or (eq $n "region") (eq $n "location") }}
		"{{$n}}": envvar.GetTestRegionFromEnv(),
		{{- else if eq $n "zone" }}
		"zone": envvar.GetTestZoneFromEnv(),
		{{- else if eq $n "project" }}
		"project": acctest.BootstrapProject(t, "tf-bt-list-", envvar.GetTestBillingAccountFromEnv(t), nil).ProjectId,
		{{- end }}
	{{- end }}
		"random_suffix": randomSuffix,
	}

	acctest.VcrTest(t, resource.TestCase{
		TerraformVersionChecks: []tfversion.TerraformVersionCheck{
			tfversion.SkipBelow(tfversion.Version1_14_0),
		},
		PreCheck:                 func() { acctest.AccTestPreCheck(t) },
{{- if $.VersionedProvider $example.MinVersion }}
		ProtoV5ProviderFactories: acctest.ProtoV5ProviderBetaFactories(t),
{{- else }}
		ProtoV5ProviderFactories: acctest.ProtoV5ProviderFactories(t),
	{{- if $example.ExternalProviders }}
		ExternalProviders: map[string]resource.ExternalProvider{
		{{- range $provider := $example.ExternalProviders }}
			"{{$provider}}": {},
		{{- end }}
		},
	{{- end }}
{{- end }}
{{- if not $.ExcludeDelete }}
		CheckDestroy: testAccCheck{{ $.ResourceName }}DestroyProducer(t),
{{- end }}
		Steps: []resource.TestStep{
			{
				Config: testAcc{{ $example.TestSlug $.ProductMetadata.Name $.Name }}(context),
			},
			{
				Query:  true,
				Config: testAcc{{ $example.TestSlug $.ProductMetadata.Name $.Name }}ListQuery(context),
				QueryResultChecks: []querycheck.QueryResultCheck{
					querycheck.ExpectLengthAtLeast("{{ $example.ResourceType $.TerraformName }}.list_query", 1),
				},
			},
		},
	})
}

func testAcc{{ $example.TestSlug $.ProductMetadata.Name $.Name }}ListQuery(context map[string]interface{}) string {
	return acctest.Nprintf(`
list "{{ $example.ResourceType $.TerraformName }}" "list_query" {
    provider = {{ if $.VersionedProvider $example.MinVersion }}google-beta{{ else }}google{{ end }}
    config {
{{- range $scope := $.ListScopeProperties }}
        {{ underscore $scope.Name }} = "%{{"{"}}{{ underscore $scope.Name }}{{"}"}}"
{{- end }}
    }
}
`, context)
}
