
if _, ok := obj["certificateManagerCertificates"]; ok {
	// The field certificateManagerCertificates should not be included in the API request, and it should be renamed to `sslCertificates`
	// The API does not allow using both certificate manager certificates and sslCertificates. If that changes
	// in the future, the encoder logic should change accordingly because this will mean that both fields are no longer mutual exclusive.
	log.Printf("[DEBUG] converting the field CertificateManagerCertificates to sslCertificates before sending the request")
	obj["sslCertificates"] = obj["certificateManagerCertificates"]
	delete(obj, "certificateManagerCertificates")
}
return obj, nil