
if _, ok := obj["certificateManagerCertificates"]; ok {
	// The field certificateManagerCertificates should not be included in the API request, and it should be renamed to `sslCertificates`
	// The API does not allow using both certificate manager certificates and sslCertificates. If that changes
	// in the future, the encoder logic should change accordingly because this will mean that both fields are no longer mutual exclusive.
	log.Printf("[DEBUG] converting the field CertificateManagerCertificates to sslCertificates before sending the request")
	obj["sslCertificates"] = obj["certificateManagerCertificates"]
	delete(obj, "certificateManagerCertificates")
}

// Send null if serverTlsPolicy is not set. Without this, Terraform would not send any value for `serverTlsPolicy`
// in the "PATCH" payload so if you were to remove a server TLS policy from a target HTTPS proxy, it would NOT remove
// the association.
if _, ok := obj["serverTlsPolicy"]; !ok {
	obj["serverTlsPolicy"] = nil
}

return obj, nil
