       if obj["fields"] != nil {
           // IsEmptyValue() does not work for a boolean as it shows
           // false when it is 'empty'. Filter boolValue here based on 
           // the rule api does not take more than 1 'value'
                fields := obj["fields"].(map[string]interface{})
                for _, elements := range fields {
                        values := elements.(map[string]interface{})
                        if len(values) > 1 {
                                for val := range values {
                                        if val == "boolValue" {
                                                delete(values, "boolValue")
                                        }
                                }
                        }
                }
        }
        return obj, nil
