obj["createStatement"] = fmt.Sprintf("CREATE DATABASE `%s`", obj["name"])
if dialect, ok := obj["databaseDialect"]; ok && dialect == "POSTGRESQL" {
    obj["createStatement"] = fmt.Sprintf("CREATE DATABASE \"%s\"", obj["name"])
}

// Extra DDL statements are removed from the create request and instead applied to the database in
// a post-create action, to accommodate retrictions when creating PostgreSQL-enabled databases.
// https://cloud.google.com/spanner/docs/create-manage-databases#create_a_database
log.Printf("[DEBUG] Preparing to create new Database. Any extra DDL statements will be applied to the Database in a separate API call")

delete(obj, "name")
delete(obj, "instance")
{{/* These are added back in post-create, but do not remove for Validator. */}}
{{- if ne $.Compiler "terraformgoogleconversion-codegen" }}
delete(obj, "versionRetentionPeriod")
delete(obj, "extraStatements")
delete(obj, "enableDropProtection")
{{- end }}
return obj, nil
