var ResName string
if v, ok := d.GetOk("name"); ok {
	ResName = v.(string)
} else if v, ok := d.GetOk("name_prefix"); ok {
	prefix := v.(string)
	if len(prefix) > 37 {
		ResName = tpgresource.ReducedPrefixedUniqueId(prefix)
	} else {
		ResName = id.PrefixedUniqueId(prefix)
	}
} else {
	ResName = id.UniqueId()
}

if err := d.Set("name", ResName); err != nil {
	return nil, fmt.Errorf("Error setting name: %s", err)
}

return obj, nil
