resource "google_migration_center_source" "default" {
  location  = "us-central1"
  source_id = "{{index $.ResourceIdVars "source_id"}}"
  type      = "SOURCE_TYPE_CUSTOM"
}

resource "google_migration_center_import_job" "default" {
  location      = "us-central1"
  import_job_id = "{{index $.ResourceIdVars "import_job_id"}}"
  asset_source  = google_migration_center_source.default.id
  display_name  = "{{index $.Vars "display_name"}}"
  labels = {
    my_key     = "{{index $.Vars "label_value"}}"
    second_key = "second_value"
  }
}
