if d.Get("parent").(string) == "" && d.Get("organization").(string) != "" {
    if err := d.Set("parent", fmt.Sprintf("organizations/%s", d.Get("organization").(string))); err != nil {
        return err
    }
}
url, err = tpgresource.ReplaceVars{{if $.LegacyLongFormProject -}}ForId{{ end -}}(d, config, transport_tpg.BaseUrl(Product, config)+"{{ $.UpdateUri }}")
if err != nil {
    return err
}
if len(updateMask) > 0 {
    url, err = transport_tpg.AddQueryParams(url, map[string]string{"updateMask": strings.Join(updateMask, ",")})
    if err != nil {
        return err
    }
}