baseUrlForEtag, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}{{$.ProductMetadata.Name}}BasePath{{"}}"}}{{$.SelfLinkUri}}")
if err != nil {
    return err
}
resFull, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
    Config:    config,
    Method:    "GET",
    RawURL:    baseUrlForEtag,
    UserAgent: userAgent,
})
if err != nil {
    return fmt.Errorf("Error fetching etag for Settings: %s", err)
}
if etag, ok := resFull["etag"]; ok {
    obj["etag"] = etag
}
