if _, ok := d.GetOkExists("bigquery_config"); ok {
  // if bigqueryConfig is set, we need to always add it to the update mask
  // so that the bigquery service account email can be updated properly
  updateMask = append(updateMask, "bigqueryConfig")
  url, err = transport_tpg.AddQueryParams(url, map[string]string{"updateMask": strings.Join(updateMask, ",")})
	if err != nil {
		return err
	}
}
