if d.HasChange("share_settings") {
  url, err = tpgresource.ReplaceVars(d, config, "{{"{{"}}ComputeBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/zones/{{"{{"}}zone{{"}}"}}/reservations/{{"{{"}}name{{"}}"}}")
  if err != nil {
    return err
  }
  urlUpdateMask := obj["urlUpdateMask"]
  if urlUpdateMask != nil {
    url = url + urlUpdateMask.(string)
    delete(obj, "urlUpdateMask")
  }
}