delete(obj, "instancePartitionId")
fieldMask := []string{}

if d.HasChange("display_name") {
    fieldMask = append(fieldMask, "display_name")
}

if d.HasChange("config") {
    fieldMask = append(fieldMask, "config")
}

if d.HasChange("node_count") {
    fieldMask = append(fieldMask, "node_count")
}

if d.HasChange("processing_units") {
    fieldMask = append(fieldMask, "processing_units")
}

if d.HasChange("autoscaling_config") {
    old, new := d.GetChange("autoscaling_config")
    oldSlice := old.([]interface{})
    newSlice := new.([]interface{})
    if len(oldSlice) == 0 || len(newSlice) == 0 {
        fieldMask = append(fieldMask, "autoscaling_config")
        if len(newSlice) == 0 {
            fieldMask = append(fieldMask, "processing_units")
        }
    } else {
        if d.HasChange("autoscaling_config.0.autoscaling_limits.0.max_processing_units") {
            fieldMask = append(fieldMask, "autoscaling_config.autoscaling_limits.max_processing_units")
        }
        if d.HasChange("autoscaling_config.0.autoscaling_limits.0.min_processing_units") {
            fieldMask = append(fieldMask, "autoscaling_config.autoscaling_limits.min_processing_units")
        }
        if d.HasChange("autoscaling_config.0.autoscaling_limits.0.max_nodes") {
            fieldMask = append(fieldMask, "autoscaling_config.autoscaling_limits.max_nodes")
        }
        if d.HasChange("autoscaling_config.0.autoscaling_limits.0.min_nodes") {
            fieldMask = append(fieldMask, "autoscaling_config.autoscaling_limits.min_nodes")
        }
        if d.HasChange("autoscaling_config.0.autoscaling_targets.0.high_priority_cpu_utilization_percent") {
            fieldMask = append(fieldMask, "autoscaling_config.autoscaling_targets.high_priority_cpu_utilization_percent")
        }
        if d.HasChange("autoscaling_config.0.autoscaling_targets.0.storage_utilization_percent") {
            fieldMask = append(fieldMask, "autoscaling_config.autoscaling_targets.storage_utilization_percent")
        }
        if d.HasChange("autoscaling_config.0.autoscaling_targets.0.total_cpu_utilization_percent") {
            fieldMask = append(fieldMask, "autoscaling_config.autoscaling_targets.total_cpu_utilization_percent")
        }
        if d.HasChange("autoscaling_config.0.asymmetric_autoscaling_options") {
            fieldMask = append(fieldMask, "autoscaling_config.asymmetric_autoscaling_options")
        }
    }
}

// Add field_mask as a URL parameter
url, err = transport_tpg.AddQueryParams(url, map[string]string{"field_mask": strings.Join(fieldMask, ",")})
if err != nil {
    return err
}
