{{/*
	Copyright 2026 Google Inc.
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/ -}}

// Remove unchanged fields from the request body to avoid API validation errors on defaulted fields.
if !d.HasChange("context_spec") {
	delete(obj, "contextSpec")
}

if !d.HasChange("traffic_config") {
	delete(obj, "trafficConfig")
}

if !d.HasChange("spec") {
	delete(obj, "spec")
} else {
	// If spec changed, check if deployment_spec inside it changed.
	// If deployment_spec didn't change, remove it from spec map.
	if specList, ok := obj["spec"].([]interface{}); ok && len(specList) > 0 {
		if specMap, ok := specList[0].(map[string]interface{}); ok {
			if !d.HasChange("spec.0.deployment_spec") {
				delete(specMap, "deploymentSpec")
			}
		}
	}
}
