if d.HasChange("min_instances") && !d.HasChange("max_instances") {
    obj["maxInstances"] = d.Get("max_instances").(int)
    updateMask = append(updateMask, "maxInstances", "minInstances")
}

if d.HasChange("max_instances") && !d.HasChange("min_instances") {
    obj["minInstances"] = d.Get("min_instances").(int)
    updateMask = append(updateMask, "maxInstances", "minInstances")
}

// Overwrite the previously set mask.
url, err = transport_tpg.AddQueryParams(url, map[string]string{"updateMask": strings.Join(updateMask, ",")})
if err != nil {
    return err
}
