resource "google_org_policy_custom_constraint" "constraint" {
  name         = "custom.disableGkeAutoUpgrade%{random_suffix}"
  parent       = "organizations/123456789"
  display_name = "Disable GKE auto upgrade"
  description  = "Only allow GKE NodePool resource to be created or updated if AutoUpgrade is not enabled where this custom constraint is enforced."

  action_type    = "ALLOW"
  condition      = "resource.management.autoUpgrade == false"
  method_types   = ["CREATE"]
  resource_types = ["container.googleapis.com/NodePool"]
}

resource "google_org_policy_policy" "primary" {
  name   = "organizations/123456789/policies/${google_org_policy_custom_constraint.constraint.name}"
  parent = "organizations/123456789"

  spec {
    rules {
      enforce = "FALSE"
    }
  }
  dry_run_spec {
    inherit_from_parent = false
    reset               = false
    rules {
      enforce = "FALSE"
    }
  }
}
