{{- if ne $.TargetVersionName "ga" -}}
natType := d.Get("type").(string)
if natType == "PRIVATE" {
	rules := d.Get("rules").(*schema.Set)
	for _, rule := range rules.List() {
		objRule := rule.(map[string]interface{})
		actions := objRule["action"].([]interface{})

		containAction := len(actions) != 0 && actions[0] != nil
		containActiveRange := true

		if containAction {
			action := actions[0].(map[string]interface{})
			sourceNatActiveRanges := action["source_nat_active_ranges"]
			if sourceNatActiveRanges != nil {
				sourceNatActiveRangesSet := sourceNatActiveRanges.(*schema.Set)
				if len(sourceNatActiveRangesSet.List()) == 0 {
					containActiveRange = false
				}
			}
		}

		if !containAction || !containActiveRange {
			return fmt.Errorf("The rule for PRIVATE nat type must contain an action with source_nat_active_ranges set")
		}
	}
}
{{- end }}