---
version: 1
interactions:
- request:
    body: |
      {"description":"","name":"tf-test-abv4bulb7e","rules":[{"action":"deny","description":"","match":{"expr":{"expression":"evaluatePreconfiguredWaf('sqli-stable')"},"versionedExpr":""},"preconfiguredWafConfig":{"exclusions":[{"requestCookiesToExclude":[{"op":"EQUALS_ANY","val":""}],"requestHeadersToExclude":[{"op":"EQUALS","val":"Referer"}],"requestQueryParamsToExclude":[{"op":"EQUALS","val":"password"},{"op":"STARTS_WITH","val":"freeform"}],"requestUrisToExclude":[{"op":"STARTS_WITH","val":"/admin"}],"targetRuleIds":null,"targetRuleSet":"sqli-stable"},{"requestCookiesToExclude":[],"requestHeadersToExclude":[],"requestQueryParamsToExclude":[{"op":"CONTAINS","val":"password"},{"op":"STARTS_WITH","val":"freeform"}],"requestUrisToExclude":[],"targetRuleIds":null,"targetRuleSet":"xss-stable"}]},"preview":false,"priority":1000},{"action":"allow","description":"default rule","match":{"config":{"srcIpRanges":["*"]},"versionedExpr":"SRC_IPS_V1"},"preview":false,"priority":2147483647}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7856144148381742641",
        "name": "operation-1780680926650-6538516176058-dbcd0c04-c152f8c6",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e",
        "targetId": "4060131569754355249",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-06-05T10:35:26.918-07:00",
        "startTime": "2026-06-05T10:35:26.920-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1780680926650-6538516176058-dbcd0c04-c152f8c6"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1780680926650-6538516176058-dbcd0c04-c152f8c6?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7856144148381742641",
        "name": "operation-1780680926650-6538516176058-dbcd0c04-c152f8c6",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e",
        "targetId": "4060131569754355249",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-06-05T10:35:26.918-07:00",
        "startTime": "2026-06-05T10:35:26.920-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1780680926650-6538516176058-dbcd0c04-c152f8c6"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - mUNiHkTxtAQY3qcFO8RAp4LgdOU=/XoD26zHWnyOCpmJw2620EUDzvDQ=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1780680926650-6538516176058-dbcd0c04-c152f8c6?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7856144148381742641",
        "name": "operation-1780680926650-6538516176058-dbcd0c04-c152f8c6",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e",
        "targetId": "4060131569754355249",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-06-05T10:35:26.918-07:00",
        "startTime": "2026-06-05T10:35:26.920-07:00",
        "endTime": "2026-06-05T10:35:33.976-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1780680926650-6538516176058-dbcd0c04-c152f8c6"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - fvbtz4LiofKTcr0dg49p0hZiPJo=/85XX6MD43MtxU6x7P1uB-6Zc-k4=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#securityPolicy",
        "id": "4060131569754355249",
        "creationTimestamp": "2026-06-05T10:35:26.834-07:00",
        "name": "tf-test-abv4bulb7e",
        "description": "",
        "rules": [
          {
            "kind": "compute#securityPolicyRule",
            "description": "",
            "priority": 1000,
            "match": {
              "expr": {
                "expression": "evaluatePreconfiguredWaf('sqli-stable')"
              }
            },
            "action": "deny",
            "preview": false,
            "ruleNumber": "1",
            "preconfiguredWafConfig": {
              "exclusions": [
                {
                  "targetRuleSet": "sqli-stable",
                  "requestHeadersToExclude": [
                    {
                      "val": "Referer",
                      "op": "EQUALS"
                    }
                  ],
                  "requestCookiesToExclude": [
                    {
                      "val": "",
                      "op": "EQUALS_ANY"
                    }
  [...]
- request:
    body: |
      {"labelFingerprint":"42WmSpB8rSM=","labels":{"goog-terraform-provisioned":"true"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e/setLabels?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "6721973496031655430",
        "name": "operation-1780680937848-6538516c2407f-fcda450e-d5123f9c",
        "operationType": "setLabels",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e",
        "targetId": "4060131569754355249",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-06-05T10:35:37.910-07:00",
        "startTime": "2026-06-05T10:35:37.916-07:00",
        "endTime": "2026-06-05T10:35:37.917-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1780680937848-6538516c2407f-fcda450e-d5123f9c"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e?alt=json
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e' was not found",
          "errors": [
            {
              "message": "The resource 'projects/ci-test-project-188019/global/securityPolicies/tf-test-abv4bulb7e' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
