---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#zone","id":"2000","creationTimestamp":"1969-12-31T16:00:00.000-08:00","name":"us-central1-a","description":"us-central1-a","status":"UP","region":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1","selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","availableCpuPlatforms":["Ampere
      Altra","Intel Broadwell","Intel Cascade Lake","Intel Emerald Rapids","AMD Genoa","NVIDIA
      Grace","Intel Granite Rapids","Intel Haswell","Intel Ice Lake","Intel Ivy Bridge","Google
      Axion","AMD Milan","AMD Rome","Intel Sandy Bridge","Intel Sapphire Rapids","Intel
      Skylake","AMD Turin"],"supportsPzs":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - WVunsevA8s5vg1ugSeFvFJl03cU=/ud7g0n76P_ahWe5dfRimFSEcS-o=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
          "errors": [
            {
              "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#image","id":"5262496523207121315","creationTimestamp":"2025-03-11T14:12:44.470-07:00","name":"debian-12-bookworm-v20250311","description":"Debian,
      Debian GNU/Linux, 12 (bookworm), amd64 built on 20250311","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"2059090944","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"family":"debian-12","selfLink":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20250311","labels":{"public-image":"true"},"labelFingerprint":"iNBmVNCFF9w=","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"licenseCodes":["2147286739765738111"],"storageLocations":["asia","eu","us"],"rolloutOverride":{"locationRolloutPolicies":{"zones/africa-south1-a":"2025-03-11T23:12:39Z","zones/africa-south1-b":"2025-03-14T01:12:39Z","zones/africa-south1-c":"2025-03-17T01:12:39Z","zones/asia-east1-a":"2025-03-12T16:12:39Z","zones/asia-east1-b":"2025-03-14T18:12:39Z","zones/asia-east1-c":"2025-03-15T21:12:39Z","zones/asia-east2-a":"2025-03-12T06:12:39Z","zones/asia-east2-b":"2025-03-14T08:12:39Z","zones/asia-east2-c":"2025-03-17T08:12:39Z","zones/asia-northeast1-a":"2025-03-13T13:12:39Z","zones/asia-northeast1-b":"2025-03-13T18:12:3[...]
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-12"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1","metadata":{"items":[{"key":"foo","value":"bar"}]},"name":"tf-test-ai7tuhvtbk","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":false,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"STOP","nodeAffinities":[null],"onHostMaintenance":"","preemptible":false,"provisioningModel":"","terminationTime":"2025-03-28T23:59:59Z"},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"kind":"compute#operation","id":"194161571751545454","name":"operation-1743123584781-6315c96120d62-e8ce901b-3295b35f","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk","targetId":"5173080677105027694","status":"RUNNING","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":0,"insertTime":"2025-03-27T17:59:45.662-07:00","startTime":"2025-03-27T17:59:45.662-07:00","warnings":[{"message":"You
      are creating a global DNS VM. VM instances using global DNS are vulnerable to
      cross-regional outages. To reduce the risk of widespread service disruption,
      use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns"}],"selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1743123584781-6315c96120d62-e8ce901b-3295b35f"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1743123584781-6315c96120d62-e8ce901b-3295b35f?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"194161571751545454","name":"operation-1743123584781-6315c96120d62-e8ce901b-3295b35f","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-cent[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1743123584781-6315c96120d62-e8ce901b-3295b35f?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"194161571751545454","name":"operation-1743123584781-6315c96120d62-e8ce901b-3295b35f","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk","targetId":"5173080677105027694","status":"DONE","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":100,"insertTime":"2025-03-27T17:59:45.662-07:00","startTime":"2025-03-27T17:59:45.662-07:00","endTime":"2025-03-27T17:59:56.656-07:00","warnings":[{"message":"You
      are creating a global DNS VM. VM instances using global DNS are vulnerable to
      cross-regional outages. To reduce the risk of widespread service disruption,
      use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns"}],"selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1743123584781-6315c96120d62-e8ce901b-3295b35f"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - 7ZQ0lBWg1ER8A0fWSBdHOkIlvXA=/abOs0WLe_BNMEeAvZG5troZ-UAM=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk?alt=json&prettyPrint=false&view=FULL
    method: GET
  response:
    body: '{"kind":"compute#instance","id":"5173080677105027694","creationTimestamp":"2025-03-27T17:59:45.592-07:00","name":"tf-test-ai7tuhvtbk","tags":{"fingerprint":"42WmSpB8rSM="},"machineType":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1","status":"RUNNING","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","canIpForward":false,"networkInterfaces":[{"kind":"compute#networkInterface","network":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default","subnetwork":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default","networkIP":"10.128.0.2","name":"nic0","fingerprint":"tnflWu4vJ9k=","stackType":"IPV4_ONLY"}],"disks":[{"kind":"compute#attachedDisk","type":"PERSISTENT","mode":"READ_WRITE","source":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-ai7tuhvtbk","deviceName":"persistent-disk-0","index":0,"boot":true,"autoDelete":true,"licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"interface":"SCSI","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"diskSizeGb":"10","architecture":"X86_64"}],"metadata":{"kind":"compute#metadata","fingerprint":"qDPL1btxwps=","items":[{"key":"foo","value":"bar"}]},"selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk","scheduling":{"onHostMaintenance":"MIGRATE","automaticRestart":false,"preemptible":false,"provisioningModel":"STANDARD","instanceTerminationAction":"STOP","terminationTime":"2025-03-28T23:59:59Z"},"cpuPlatform":"Intel
      Haswell","labels":{"goog-terraform-provisioned":"true"},"labelFingerprint":"vezUS-42LLM=","startRestricted":false,"deletionProtection":false,"shieldedVmConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedVmIntegrityPolicy":{"updateAutoLearnPolicy":true},"shieldedInstanceConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedInstanceIntegrityPolicy":{"updateAutoLearnPolicy":true},"fingerprint":"Z5x6q3wVjBo=","lastStartTimestamp":"2025-03-27T17:59:56.608-07:00","satisfiesPzi":true,"resourceStatus":{"scheduling":{"terminationTimestamp":"2025-03-28T23:59:59Z"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - nEgHW-GZFE7qrRnMQuOU0kzquP8=/vyUsV7uciaUXaA3fieSGgxm9_kA=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-ai7tuhvtbk?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#disk","id":"2861999663216085614","creationTimestamp":"2025-03-27T17:59:45.601-07:00","name":"tf-test-ai7tuhvtbk","sizeGb":"10","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","status":"READY","selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-ai7tuhvtbk","sourceImage":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20250311","sourceImageId":"5262496523207121315","type":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"lastAttachTimestamp":"2025-03-27T17:59:46.443-07:00","users":["https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk"],"labelFingerprint":"42WmSpB8rSM=","licenseCodes":["2147286739765738111"],"physicalBlockSizeBytes":"4096","multiWriter":false,"enableConfidentialCompute":false,"satisfiesPzi":true,"architecture":"X86_64","locked":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-test-ai7tuhvtbk","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1987967096856267379",
        "name": "operation-1743123611812-6315c97ae8472-769e7bf3-66f8db52",
        "operationType": "insert[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1743123611812-6315c97ae8472-769e7bf3-66f8db52?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"1987967096856267379","name":"operation-1743123611812-6315c97ae8472-769e7bf3-66f8db52","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-ai7tuhvtbk","targetId":"6415176564749126260","status":"RUNNING","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":0,"insertTime":"2025-03-27T18:00:12.325-07:00","startTime":"2025-03-27T18:00:12.329-07:00","warnings":[{"message":"You
      are creating a machine image with global DNS attributes. VM instances using
      global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread
      service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns"}],"selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1743123611812-6315c97ae8472-769e7bf3-66f8db52"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - _UfRAVBVALhyd_Jo3krHTTvgCxY=/E9_cjhaguSSMcgXcp0pVudnylCs=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-ai7tuhvtbk?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "6415176564749126260",
        "creationTimestamp": "2025-03-27T18:00:12.328-07:00",
        "name": "tf-test-ai7tuhvtbk",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-ai7tuhvtbk",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "n1-standard-1",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subne[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-ai7tuhvtbk?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#machineImage","id":"6415176564749126260","creationTimestamp":"2025-03-27T18:00:12.328-07:00","name":"tf-test-ai7tuhvtbk","selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-ai7tuhvt[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true","my_key":"my_value"},"metadata":{},"name":"tf-test-generated-dvt6dt010r","params":{},"scheduling":{"automaticRestart":false,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"STOP","nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":{"discardLocalSsd":true},"preemptible":false,"provisioningModel":"STANDARD","terminationTime":"2025-03-28T23:59:59Z"},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/tf-test-ai7tuhvtbk","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"kind":"compute#operation","id":"8422155614700456479","name":"operation-1743123695941-6315c9cb236eb-56c64fd6-49d5[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-dvt6dt010r?alt=json&prettyPrint=false&view=FULL
    method: GET
  response:
    body: '{"kind":"compute#instance","id":"8692217987132312095","creationTimestamp":"2025-03-27T18:01:36.747-07:00","name":"tf-test-generated-dvt6dt010r","tags":{"fingerprint":"42WmSpB8rSM="},"machineType":"https://www.googleapis.com/comput[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-generated-dvt6dt010r?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#disk","id":"3830890009691965983","creationTimestamp":"2025-03-27T18:01:36.760-07:00","name":"tf-test-generated-dvt6dt010r","sizeGb":"10","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-c[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-dvt6dt010r?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: '{"kind":"compute#operation","id":"7273052434804001776","name":"operation-1743123743256-6315c9f842df3-fe7c40b9-c1645b4a","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","operationType":"delete","targetLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-dvt6dt010r","targetId":"8692217987132312095","status":"RUNNING","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":0,"insertTime":"2025-03-27T18:02:23.537-07:00","startTime":"2025-03-27T18:02:23.564-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1743123743256-6315c9f842df3-fe7c40b9-c1645b4a"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk?alt=json&prettyPrint=false
    method: DELETE
  response:
    body: '{"kind":"compute#operation","id":"5391537965208456021","name":"operation-1743123898587-6315ca8c6592c-1553d857-a370e609","zone":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","operationType":"delete","targetLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-ai7tuhvtbk","targetId":"5173080677105027694","status":"RUNNING","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":0,"insertTime":"2025-03-27T18:04:58.874-07:00","startTime":"2025-03-27T18:04:58.918-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1743123898587-6315ca8c6592c-1553d857-a370e609"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/projects%2Fci-test-project-188019%2Fzones%2Fus-central1-a%2Finstances%2Ftf-test-generated-dvt6dt010r?alt=json&prettyPrint=false
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 400,
          "message": "Invalid value for field 'instance': 'projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-dvt6dt010r'. Must be a match of regex '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}'",
          "errors": [
            {
              "message": "Invalid value for field 'instance': 'projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-dvt6dt010r'. Must be a match of regex '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}'",
              "domain": "global",
              "reason": "invalid"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
