---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-11?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#image",
        "id": "6403343414377215198",
        "creationTimestamp": "2026-07-27T14:14:25.806-07:00",
        "name": "debian-11-bullseye-v20260727",
        "description": "Debian, Debian GNU/Linux, 11 (bullseye), amd64 built on 20260727",
        "sourceType": "RAW",
        "rawDisk": {
          "source": "",
          "containerType": "TAR"
        },
        "status": "READY",
        "archiveSizeBytes": "34461465600",
        "diskSizeGb": "10",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"
        ],
        "family": "debian-11",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20260727",
        "labels": {
          "public-image": "true"
        },
        "labelFingerprint": "iNBmVNCFF9w=",
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          }
        ],
        "licenseCodes": [
          "3853522013536123851"
        ],
        "storageLocations": [
          "asia-northeast3",
          "europe-west6",
          "eu",
          "southamerica-west1",
          "us-south1",
          "me-west1",
          "europe-north2",
          "us-west3",
          "europe-west1",
          "europe-west12",
          "asia-southeast1",
          "me-central1",
          "europe-southwest1",
          "northamerica-northeast2",
          "us-west8",
          "europe-north1",
          "us-east7",
          "us-east5",
          "europe-west8",
          "us-west4",
          "australia-southeast1",
          "us-east1",
          "northamerica-northeast1",
          "europe-west3",
          "asia-south2",
          "asia-northeast2",
          "europe-west15",
          "southamerica-east1",
          "australia-southeast2",
          "europe-central2",
          "asia-east2",
          "us-west2",
          "asia-northeast1",
          "asia-east1",
          "europe-west4",
          "me-central2",
          "us-central2",
          "europe-west10",
          "us-central1",
          "asia-southeast2",
          "asia-southeast3",
          "us-west1",
          "europe-west9",
          "us",
          "us-east4",
          "asia",
          "africa-south1",
          "asia-south1",
          "europe-west2",
          "northamerica-south1"
        ],
        "rolloutOverride": {
          "locationRolloutPolicies": {
            "zones/africa-south1-a": "2026-07-29T13:14:22Z",
            "zones/africa-south1-b": "2026-07-29T20:14:22Z",
            "zones/africa-south1-c": "2026-07-31T21:14:22Z",
            "zones/asia-east1-a": "2026-07-29T11:14:22Z",
            "zones/asia-east1-b": "2026-07-31T17:14:22Z",
            "zones/asia-east1-c": "2026-07-31T19:14:22Z",
            "zones/asia-east2-a": "2026-07-29T14:14:22Z",
            "zones/asia-east2-b": "2026-07-29T21:14:22Z",
            "zones/asia-[...]
- request:
    body: |
      {"autoCreateSubnetworks":false,"name":"tf-test-network-d99wz0acos","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8017718116526508600",
        "name": "operation-1785427159195-657d62798a133-bb907e87-92dd2ac5",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
        "targetId": "5064164459636247096",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:19.518-07:00",
        "startTime": "2026-07-30T08:59:19.521-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427159195-657d62798a133-bb907e87-92dd2ac5"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427159195-657d62798a133-bb907e87-92dd2ac5?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8017718116526508600",
        "name": "operation-1785427159195-657d62798a133-bb907e87-92dd2ac5",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
        "targetId": "5064164459636247096",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:19.518-07:00",
        "startTime": "2026-07-30T08:59:19.521-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427159195-657d62798a133-bb907e87-92dd2ac5"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - fbwJUvwkki7XSSyuqsCmpCScBtw=/B28Zj89DI6sXHAdOzSJXP_rHq6c=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427159195-657d62798a133-bb907e87-92dd2ac5?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8017718116526508600",
        "name": "operation-1785427159195-657d62798a133-bb907e87-92dd2ac5",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
        "targetId": "5064164459636247096",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-07-30T08:59:19.518-07:00",
        "startTime": "2026-07-30T08:59:19.521-07:00",
        "endTime": "2026-07-30T08:59:31.798-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427159195-657d62798a133-bb907e87-92dd2ac5"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - bVi_S_F2DA9dKXJzpx5O-f9PDX8=/0K-Ydpd-xzF_4AuhZew9TlXxejw=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#network",
        "id": "5064164459636247096",
        "creationTimestamp": "2026-07-30T08:59:19.469-07:00",
        "name": "tf-test-network-d99wz0acos",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
        "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/5064164459636247096",
        "autoCreateSubnetworks": false,
        "routingConfig": {
          "routingMode": "REGIONAL",
          "bgpBestPathSelectionMode": "LEGACY"
        },
        "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"ipCidrRange":"10.0.0.0/22","logConfig":{"enable":false},"name":"tf-test-compute-subnet-d99wz0acos","network":"projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos","region":"projects/ci-test-project-188019/global/regions/us-central1"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "662713456805726723",
        "name": "operation-1785427180485-657d628dd7b44-3f350288-e9c0da75",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos",
        "targetId": "8280075334809209347",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:40.703-07:00",
        "startTime": "2026-07-30T08:59:40.706-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/operations/operation-1785427180485-657d628dd7b44-3f350288-e9c0da75",
        "region": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/operations/operation-1785427180485-657d628dd7b44-3f350288-e9c0da75?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "662713456805726723",
        "name": "operation-1785427180485-657d628dd7b44-3f350288-e9c0da75",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos",
        "targetId": "8280075334809209347",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:40.703-07:00",
        "startTime": "2026-07-30T08:59:40.706-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/operations/operation-1785427180485-657d628dd7b44-3f350288-e9c0da75",
        "region": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - 4Q8OJNlLyB3TMzj_t0vnvcyICKs=/-YkwR8vQo1CtMsrEIiP7doa-Pl0=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#subnetwork",
        "id": "8280075334809209347",
        "creationTimestamp": "2026-07-30T08:59:40.689-07:00",
        "name": "tf-test-compute-subnet-d99wz0acos",
        "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
        "ipCidrRange": "10.0.0.0/22",
        "gatewayAddress": "10.0.0.1",
        "region": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos",
        "privateIpGoogleAccess": false,
        "fingerprint": "_IAhQQ2ug4s=",
        "allowSubnetCidrRoutesOverlap": false,
        "enableFlowLogs": false,
        "privateIpv6GoogleAccess": "DISABLE_GOOGLE_ACCESS",
        "purpose": "PRIVATE",
        "logConfig": {
          "enable": false
        },
        "stackType": "IPV4_ONLY"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
          "errors": [
            {
              "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#image","id":"4922483122153092318","creationTimestamp":"2026-07-27T14:14:26.100-07:00","name":"debian-12-bookworm-v20260727","description":"Debian,
      Debian GNU/Linux, 12 (bookworm), amd64 built on 20260727","sourceType":"RAW","rawDisk":{"source":"","contain[...]
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-12"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1","metadata":{},"name":"base-vm-d99wz0acos","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos","subnetwork":"projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos"}],"params":{},"scheduling":{"automaticRestart":true},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5810828864595085847",
        "name": "operation-1785427191423-657d629846359-21f484dc-0b53dc11",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/base-vm-d99wz0acos",
        "targetId": "2343840523489823256",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:52.542-07:00",
        "startTime": "2026-07-30T08:59:52.543-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427191423-657d629846359-21f484dc-0b53dc11"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427191423-657d629846359-21f484dc-0b53dc11?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5810828864595085847",
        "name": "operation-1785427191423-657d629846359-21f484dc-0b53dc11",
        "zone": "https://ww[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/base-vm-d99wz0acos?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "2343840523489823256",
        "creationTimestamp": "2026-07-30T08:59:52.489-07:00",
        "name": "base-vm-d99wz0acos",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos",
            "networkIP": "10.0.0.2",
            "name": "nic0",
            "fingerprint": "qtA-R-m4M_E=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/base-vm-d99wz0acos",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
            ],
            "interface": "SCSI",
            "guestOsFeatures": [
              {
                "type": "UEFI_COMPATIBLE"
              },
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "GVNIC"
              },
              {
                "type": "SEV_CAPABLE"
              },
              {
                "type": "SEV_LIVE_MIGRATABLE_V2"
              }
            ],
            "diskSizeGb": "10",
            "architecture": "X86_64"
          }
        ],
        "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "OaSV0nMmJ0w="
        },
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/base-vm-d99wz0acos",
        "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false,
          "provisioningModel": "STANDARD"
        },
        "cpuPlatform": "Intel Haswell",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "labelFingerprint": "vezUS-42LLM=",
        "startRestricted": false,
        "deletionProtection": false,
        "shieldedVmConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedVmIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "shieldedInstanceConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedInstanceIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "fingerprint": "LWyxw7RXDVI=",
        "lastStartTimestamp": "2026-07-30T08:59:59.255-07:00",
        "satisfiesPzi": false,
        "resourceStatus": {
          "effectiveInstanceMetadata": {
            "vmDnsSettingMetadataValue": "GlobalDefault"
          },
          "scheduling": {}
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/base-vm-d99wz0acos?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "3530507667745720856",
        "creationTimestamp": "2026-07-30T08:59:52.495-07:00",
        "name": "base-vm-d99wz0acos",
        "sizeGb": "10",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/base-vm-d99wz0acos",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260727",
        "sourceImageId": "4922483122153092318",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
        ],
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          },
          {
            "type": "SEV_CAPABLE"
          },
          {
            "type": "SEV_LIVE_MIGRATABLE_V2"
          }
        ],
        "lastAttachTimestamp": "2026-07-30T08:59:53.177-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/base-vm-d99wz0acos"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "2147286739765738111"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": false,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"image-d99wz0acos","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/base-vm-d99wz0acos"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8251327044227877862",
        "name": "operation-1785427208575-657d62a8a1ae0-22bf11e8-d82b7bca",
        "operationType": "insert[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/image-d99wz0acos?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "2671379969342884839",
        "creationTimestamp": "2026-07-30T09:00:09.421-07:00",
        "name": "image-d99wz0acos",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/image-d99wz0acos",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/base-vm-d99wz0acos",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "n1-standard-1",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/region[...]
[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/e2-medium","metadata":{},"name":"tf-test-v08wgf7dfa","networkInterfaces":[{"igmpQuery":"IGMP_QUERY_V2","network":"projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos","subnetwork":"projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos"}],"params":{},"scheduling":{"automaticRestart":true,"onHostMaintenance":"MIGRATE","provisioningModel":"STANDARD"},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/image-d99wz0acos","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "4223686823492635571",
        "name": "operation-1785427292146-657d62f854[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v08wgf7dfa?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "576373026334362547",
        "creationTimestamp": "2026-07-30T09:01:32.862-07:00",
        "name": "tf-test-v08wgf7dfa",
        "tags": {
          "fin[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-v08wgf7dfa?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "3704868230268373939",
        "creationTimestamp": "2026-07-30T09:01:32.875-07:00",
        "name": "tf-test-v08wgf7dfa",
        "sizeGb": "10",
        "zone": "https://[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#network",
        "id": "5064164459636247096",
        "creationTimestamp": "2026-07-30T08:59:19.469-07:00",
        "name": "tf-test-network-d99wz0acos",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/tf-test-network-d99wz0acos",
        "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/5064164459636247096",
        "autoCreateSubnetworks": false,
        "subnetworks": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/tf-test-compute-subnet-d99wz0acos"
        ],
        "routingConfig": {
          "routingMode": "REGIONAL",
          "bgpBestPathSelectionMode": "LEGACY"
        },
        "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v08wgf7dfa?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5748091590107646819",
        "name": "operation-1785427340777-657d6326b5980-2d0982e7-2af2c8a1",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v08wgf7dfa",
        "targetId": "576373026334362547",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:02:20.960-07:00",
        "startTime": "2026-07-30T09:02:20.990-07:00",
[...]
