---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
          "errors": [
            {
              "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#image","id":"7275722572936694403","creationTimestamp":"2026-08-17T13:51:56.859-07:00","name":"debian-12-bookworm-v20260817","description":"Debian,
      Debian GNU/Linux, 12 (bookworm), amd64 built on 20260817","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"35980236800","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"family":"debian-12","selfLink":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260817","labels":{"public-image":"true"},"labelFingerprint":"iNBmVNCFF9w=","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"licenseCodes":["2147286739765738111"],"storageLocations":["us-west8","me-central1","eu","us-east7","asia-south2","europe-west12","northamerica-northeast1","me-west1","asia-southeast3","australia-southeast2","asia","us-central2","us-west3","europe-west4","europe-central2","asia-south1","us-east4","europe-north2","europe-north1","africa-south1","southamerica-east1","asia-southeast1","europe-west3","asia-southeast2","europe-west6","europe-west10","us","asia-east2","northamerica-northeast2","europe-west2","asia-northeast3","europe-west9","me-central2","us-east5","asia-east1","us-south1","europe-west8","us-east1","europe-west15","us-central1","us-west1","australia-southeast1","asia-northeast2","europe-west1","southamerica-west1","asia-northeast1","us-west4","europe-southwest1","northamerica-south1","us-west2"],"rolloutOverride":{"locationRolloutPolicies":{"zones/africa-south1-a":"2026-08-19T16:51:53Z","zones/africa-south1-b":"2026-08-20T14:51:53Z","zones/africa-south1-c":"2026-08-23T05:51:53Z","zones/asia-east1-a":"2026-08-18T20:51:53Z","zones/asia-east1-b":"2026-08-21T17:51:53Z","zones/asia-east1-c":"2026-08-22T09:51:53Z","zones/asia-east2-a":"2026-08-18T10:51:53Z","zones/asia-east2-b":"2026-08-21T07:51:53Z","zones/asia-east2-c":"2026-08-21T23:51:53Z","zones/asia-northeast1-a":"2026-08-17T21:51:53Z","zones/asia-northeast1-b":"2026-08-20T18:51:5[...]
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-12"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1","metadata":{"items":[{"key":"foo","value":"bar"}]},"name":"tf-test-rnf90hcmmr","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":false,"gracefulShutdown":null,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","localSsdRecoveryTimeout":null,"maxRunDuration":null,"nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":null,"preemptible":false,"preemptionNoticeDuration":null,"provisioningModel":"","skipGuestOsShutdown":false},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2210361950761523154",
        "name": "operation-1787013437062-659477d1ffd80-e60570f1-39a638b3",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr",
        "targetId": "914304308758845394",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:37:17.806-07:00",
        "startTime": "2026-08-17T17:37:17.806-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013437062-659477d1ffd80-e60570f1-39a638b3"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013437062-659477d1ffd80-e60570f1-39a638b3?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2210361950761523154",
        "name": "operation-1787013437062-659477d1ffd80-e60570f1-39a638b3",
        "zone": "https://ww[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013437062-659477d1ffd80-e60570f1-39a638b3?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2210361950761523154",
        "name": "operation-1787013437062-659477d1ffd80-e60570f1-39a638b3",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr",
        "targetId": "914304308758845394",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-08-17T17:37:17.806-07:00",
        "startTime": "2026-08-17T17:37:17.806-07:00",
        "endTime": "2026-08-17T17:37:31.849-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013437062-659477d1ffd80-e60570f1-39a638b3"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - UdSDeQmCmWFjb3JCcVIV_-6oB74=/AOHXBbWvxkvyZfdX_fSGINJwvcs=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "914304308758845394",
        "creationTimestamp": "2026-08-17T17:37:17.742-07:00",
        "name": "tf-test-rnf90hcmmr",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default",
            "networkIP": "10.128.0.104",
            "name": "nic0",
            "fingerprint": "v9UaQF0zpZk=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-rnf90hcmmr",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
            ],
            "interface": "SCSI",
            "guestOsFeatures": [
              {
                "type": "UEFI_COMPATIBLE"
              },
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "GVNIC"
              },
              {
                "type": "SEV_CAPABLE"
              },
              {
                "type": "SEV_LIVE_MIGRATABLE_V2"
              }
            ],
            "diskSizeGb": "10",
            "architecture": "X86_64"
          }
        ],
        "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "qDPL1btxwps=",
          "items": [
            {
              "key": "foo",
              "value": "bar"
            }
          ]
        },
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr",
        "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": false,
          "preemptible": false,
          "provisioningModel": "STANDARD",
          "skipGuestOsShutdown": false
        },
        "cpuPlatform": "Intel Haswell",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "labelFingerprint": "vezUS-42LLM=",
        "startRestricted": false,
        "deletionProtection": false,
        "shieldedVmConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedVmIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "shieldedInstanceConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedInstanceIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "fingerprint": "FPB9ADaUAHU=",
        "lastStartTimestamp": "2026-08-17T17:37:31.771-07:00",
        "satisfiesPzi": true,
        "resourceStatus": {
          "effectiveInstanceMetadata": {
            "vmDnsSettingMetadataValue": "GlobalDefault"
          },
          "scheduling": {}
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-rnf90hcmmr?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "6597754627984070610",
        "creationTimestamp": "2026-08-17T17:37:17.752-07:00",
        "name": "tf-test-rnf90hcmmr",
        "sizeGb": "10",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-rnf90hcmmr",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260817",
        "sourceImageId": "7275722572936694403",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
        ],
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          },
          {
            "type": "SEV_CAPABLE"
          },
          {
            "type": "SEV_LIVE_MIGRATABLE_V2"
          }
        ],
        "lastAttachTimestamp": "2026-08-17T17:37:18.345-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "2147286739765738111"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": true,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-test-rnf90hcmmr","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "3445676879614187446",
        "name": "operation-1787013464269-659477ebf2351-7644b482-bf06ae78",
        "operationType": "insert[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1787013464269-659477ebf2351-7644b482-bf06ae78?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "3445676879614187446",
        "name": "operation-1787013464269-659477ebf2351-7644b482-bf06ae78",
        "operationType": "insert",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-rnf90hcmmr?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "3905029378587629495",
        "creationTimestamp": "2026-08-17T17:37:45.056-07:00",
        "name": "tf-test-rnf90hcmmr",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-rnf90hcmmr",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "n1-standard-1",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subne[...]
[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true","my_key":"my_value"},"metadata":{},"name":"tf-test-generated-gretaku91w","params":{},"scheduling":{"automaticRestart":false,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"STOP","maxRunDuration":{"nanos":123,"seconds":60},"nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":{"discardLocalSsd":true},"preemptible":false,"provisioningModel":"STANDARD","skipGuestOsShutdown":false},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/tf-test-rnf90hcmmr","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1054284968042043203",
        "name": "operation-1787013547741-6594783b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-gretaku91w?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "5509314399399974723",
        "creationTimestamp": "2026-08-17T17:39:08.377-07:00",
        "name": "tf-test-generated-gretaku91w",
        "ta[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-generated-gretaku91w?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "3372755297070094147",
        "creationTimestamp": "2026-08-17T17:39:08.394-07:00",
        "name": "tf-test-generated-gretaku91w",
        "sizeGb": "10",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-gretaku91w?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "6015512003591673632",
        "name": "operation-1787013583687-6594785dd50fb-693edd66-4abb4a8f",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-gretaku91w",
        "targetId": "5509314399399974723",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:39:43.911-07:00",
        "startTime": "2026-08-17T17:39:43.954-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013583687-6594785dd50fb-693edd66-4abb4a8f"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5910816441970332806",
        "name": "operation-1787013737132-659478f02b34b-25f3a606-8e938a50",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-rnf90hcmmr",
        "targetId": "914304308758845394",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:42:17.305-07:00",
        "startTime": "2026-08-17T17:42:17.331-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013737132-659478f02b34b-25f3a606-8e938a50"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
