---
version: 1
interactions:
- request:
    body: |
      {"permissions":["billing.resourceAssociations.create"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudbilling.googleapis.com/v1/billingAccounts/01129A-55361F-811C70:testIamPermissions?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"permissions":["billing.resourceAssociations.create"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"labels":{"goog-terraform-provisioned":"true"},"name":"tf-test-7920653883078191244","parent":{"id":"529579013760","type":"organization"},"projectId":"tf-test-7920653883078191244"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v1/projects?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"name":"operations/create_project.global.7086542491080654180"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v1/operations/create_project.global.7086542491080654180?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/create_project.global.7086542491080654180"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v1/operations/create_project.global.7086542491080654180?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/create_project.global.7086542491080654180",
        "metadata": {
          "@type": "type.googleapis.com/google.cloudresourcemanager.v1.ProjectCreationStatus",
          "gettable": true,
          "ready": true
        },
        "done": true,
        "response": {
          "@type": "type.googleapis.com/google.cloudresourcemanager.v1.Project",
          "projectNumber": "349817487578",
          "projectId": "tf-test-7920653883078191244",
          "lifecycleState": "ACTIVE",
          "name": "tf-test-7920653883078191244",
          "labels": {
            "goog-terraform-provisioned": "true"
          },
          "createTime": "2025-09-02T12:39:07.143635Z",
          "parent": {
            "type": "organization",
            "id": "529579013760"
          }
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"billingAccountName":"billingAccounts/01129A-55361F-811C70"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudbilling.googleapis.com/v1/projects/tf-test-7920653883078191244/billingInfo?alt=json&prettyPrint=false
    method: PUT
  response:
    body: '{"name":"projects/tf-test-7920653883078191244/billingInfo","projectId":"tf-test-7920653883078191244","billingAccountName":"billingAccounts/01129A-55361F-811C70","billingEnabled":true}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://cloudresourcemanager.googleapis.com/v1/projects/tf-test-7920653883078191244?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"projectNumber":"349817487578","projectId":"tf-test-7920653883078191244","lifecycleState":"ACTIVE","name":"tf-test-7920653883078191244","labels":{"goog-terraform-provisioned":"true"},"createTime":"2025-09-02T12:39:07.143635Z","parent":{"type":"organization","id":"529579013760"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://serviceusage.googleapis.com/v1/projects/tf-test-7920653883078191244/services?alt=json&fields=services%2Fname%2CnextPageToken&filter=state%3AENABLED&pageSize=200&prettyPrint=false
    method: GET
  response:
    body: '{"services":[{"name":"projects/349817487578/services/websecurityscanner.googleapis.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://serviceusage.googleapis.com/v1/projects/tf-test-7920653883078191244/services/compute.googleapis.com:enable?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"name":"operations/acf.p2-349817487578-90b3e04e-0af3-4229-9eb2-fbdbda5960d1"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://serviceusage.googleapis.com/v1beta1/operations/acf.p2-349817487578-90b3e04e-0af3-4229-9eb2-fbdbda5960d1?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/acf.p2-349817487578-90b3e04e-0af3-4229-9eb2-fbdbda5960d1",
        "metadata": {
          "@type": "type.googleapis.com/google.protobuf.Empty"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://serviceusage.googleapis.com/v1beta1/operations/acf.p2-349817487578-90b3e04e-0af3-4229-9eb2-fbdbda5960d1?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/acf.p2-349817487578-90b3e04e-0af3-4229-9eb2-fbdbda5960d1",
        "metadata": {
          "@type": "type.googleapis.com/google.protobuf.Empty"
        },
        "done": true,
        "response": {
          "@type": "type.googleapis.com/google.api.serviceusage.v1.EnableServiceResponse",
          "service": {
            "name": "projects/349817487578/services/compute.googleapis.com",
            "config": {
              "name": "compute.googleapis.com",
              "title": "Compute Engine API",
              "documentation": {
                "summary": "Creates and runs virtual machines on Google Cloud Platform.\n"
              },
              "quota": {},
              "authentication": {},
              "usage": {
                "requirements": [
                  "serviceusage.googleapis.com/tos/cloud",
                  "serviceusage.googleapis.com/billing-enabled"
                ]
              },
              "monitoredResources": [
                {
                  "type": "compute.googleapis.com/VpcNetwork",
                  "displayName": "VPC Network",
                  "description": "VPC Network.",
                  "labels": [
                    {
                      "key": "resource_container",
                      "description": "The identifier of the GCP container (i.e. project) associated with the VPC Network."
                    },
                    {
                      "key": "location",
                      "description": "Location of the VPC Network, global always."
                    },
                    {
                      "key": "network_id",
                      "description": "VPC Network resource ID."
                    }
                  ],
                  "launchStage": "GA"
                },
                {
                  "type": "compute.googleapis.com/Location",
                  "displayName": "Compute Location",
                  "description": "A location in the Compute API.",
                  "labels": [
                    {
                      "key": "resource_container",
                      "description": "The identifier of the GCP container (i.e. project) associated with the Compute Location."
                    },
                    {
[...]
[...]
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://serviceusage.googleapis.com/v1/projects/tf-test-7920653883078191244/services/monitoring.googleapis.com:enable?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"name":"operations/acat.p2-349817487578-07528b1c-3c89-4e64-9a72-6a3306166ef3"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://serviceusage.googleapis.com/v1beta1/operations/acat.p2-349817487578-07528b1c-3c89-4e64-9a72-6a3306166ef3?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/acat.p2-349817487578-07528b1c-3c89-4e64-9a72-6a3306166ef3",
        "metadata": {
          "@type": "type.googleapis.com/google.protobuf.Empty"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#zone","id":"2000","creationTimestamp":"1969-12-31T16:00:00.000-08:00","name":"us-central1-a","description":"us-central1-a","status":"UP","region":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/regions/us-central1","selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a","availableCpuPlatforms":["Ampere
      Altra","Intel Broadwell","Intel Cascade Lake","Intel Emerald Rapids","AMD Genoa","NVIDIA
      Grace","Intel Granite Rapids","Intel Haswell","Intel Ice Lake","Intel Ivy Bridge","Google
      Axion","AMD Milan","AMD Rome","Intel Sandy Bridge","Intel Sapphire Rapids","Intel
      Skylake","AMD Turin"],"supportsPzs":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - T0y-zXBzQdWjtiv1UBbtOkdr4-0=/LMFub-i5cmCfrrthKaGflsjlNqI=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
          "errors": [
            {
              "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#image","id":"4002435495978159706","creationTimestamp":"2025-08-13T13:08:21.799-07:00","name":"debian-12-bookworm-v20250812","description":"Debian,
      Debian GNU/Linux, 12 (bookworm), amd64 built on 20250812","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"2208277248","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"family":"debian-12","selfLink":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20250812","labels":{"public-image":"true"},"labelFingerprint":"iNBmVNCFF9w=","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"licenseCodes":["2147286739765738111"],"storageLocations":["asia","eu","us"],"rolloutOverride":{"locationRolloutPolicies":{"zones/africa-south1-a":"2025-08-14T14:08:12Z","zones/africa-south1-b":"2025-08-17T04:08:12Z","zones/africa-south1-c":"2025-08-17T23:08:12Z","zones/asia-east1-a":"2025-08-15T13:08:12Z","zones/asia-east1-b":"2025-08-16T06:08:12Z","zones/asia-east1-c":"2025-08-18T22:08:12Z","zones/asia-east2-a":"2025-08-14T08:08:12Z","zones/asia-east2-b":"2025-08-16T22:08:12Z","zones/asia-east2-c":"2025-08-17T17:08:12Z","zones/asia-northeast1-a":"2025-08-14T07:08:12Z","zones/asia-northeast1-b":"2025-08-16T21:08:1[...]
- request:
    body: |
      {"canIpForward":true,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-12"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/tf-test-7920653883078191244/zones/us-central1-a/machineTypes/n1-standard-1","metadata":{"items":[{"key":"foo","value":"bar"}]},"name":"tf-test-a3qnyn6a1x","networkInterfaces":[{"network":"projects/tf-test-7920653883078191244/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":true,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","nodeAffinities":[null],"onHostMaintenance":"","preemptible":false,"provisioningModel":"","skipGuestOsShutdown":false},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"kind":"compute#operation","id":"3887894065426684678","name":"operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8","zone":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x","targetId":"8589874194930162439","status":"PENDING","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":0,"insertTime":"2025-09-02T05:41:13.364-07:00","warnings":[{"message":"You
      are creating a global DNS VM. VM instances using global DNS are vulnerable to
      cross-regional outages. To reduce the risk of widespread service disruption,
      use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns"}],"selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/operations/operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/operations/operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"3887894065426684678","name":"operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8","zone":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zo[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/operations/operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"3887894065426684678","name":"operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8","zone":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x","targetId":"8589874194930162439","status":"RUNNING","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":0,"insertTime":"2025-09-02T05:41:13.364-07:00","startTime":"2025-09-02T05:41:13.528-07:00","warnings":[{"message":"You
      are creating a global DNS VM. VM instances using global DNS are vulnerable to
      cross-regional outages. To reduce the risk of widespread service disruption,
      use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns"}],"selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/operations/operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - yNEMfLyrgcieVq6i7-gCMW-1DHs=/wiu7CCelKmCNYaa_MP5zce6sDJY=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/operations/operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"3887894065426684678","name":"operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8","zone":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x","targetId":"8589874194930162439","status":"DONE","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":100,"insertTime":"2025-09-02T05:41:13.364-07:00","startTime":"2025-09-02T05:41:13.528-07:00","endTime":"2025-09-02T05:41:47.242-07:00","warnings":[{"message":"You
      are creating a global DNS VM. VM instances using global DNS are vulnerable to
      cross-regional outages. To reduce the risk of widespread service disruption,
      use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns"}],"selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/operations/operation-1756816871945-63dd0cd9674ac-cfb7c219-9d7f80c8"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - BaTBV4LsGFDpkBs88m1-NUH4zOw=/zt2upFHEfR7tAM2noBuhhm1us8w=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x?alt=json&prettyPrint=false&view=FULL
    method: GET
  response:
    body: '{"kind":"compute#instance","id":"8589874194930162439","creationTimestamp":"2025-09-02T05:41:13.271-07:00","name":"tf-test-a3qnyn6a1x","tags":{"fingerprint":"42WmSpB8rSM="},"machineType":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/machineTypes/n1-standard-1","status":"RUNNING","zone":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a","canIpForward":true,"networkInterfaces":[{"kind":"compute#networkInterface","network":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/networks/default","subnetwork":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/regions/us-central1/subnetworks/default","networkIP":"10.128.0.2","name":"nic0","fingerprint":"jZ7fK-wINOo=","stackType":"IPV4_ONLY"}],"disks":[{"kind":"compute#attachedDisk","type":"PERSISTENT","mode":"READ_WRITE","source":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/disks/tf-test-a3qnyn6a1x","deviceName":"persistent-disk-0","index":0,"boot":true,"autoDelete":true,"licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"interface":"SCSI","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"diskSizeGb":"10","architecture":"X86_64"}],"metadata":{"kind":"compute#metadata","fingerprint":"O4Okrb_o-iw=","items":[{"key":"foo","value":"bar"}]},"selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x","scheduling":{"onHostMaintenance":"MIGRATE","automaticRestart":true,"preemptible":false,"provisioningModel":"STANDARD","skipGuestOsShutdown":false},"cpuPlatform":"Intel
      Haswell","labels":{"goog-terraform-provisioned":"true"},"labelFingerprint":"vezUS-42LLM=","startRestricted":false,"deletionProtection":false,"shieldedVmConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedVmIntegrityPolicy":{"updateAutoLearnPolicy":true},"shieldedInstanceConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedInstanceIntegrityPolicy":{"updateAutoLearnPolicy":true},"fingerprint":"ESFhs4TsN2Q=","lastStartTimestamp":"2025-09-02T05:41:47.197-07:00","satisfiesPzi":true,"resourceStatus":{"scheduling":{}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - G0ILj8NwMbIIdUquKx9ex-9FMUg=/D7Lszo5cjYued1a-vGmqph8YH8s=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/disks/tf-test-a3qnyn6a1x?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#disk","id":"8807083807919004423","creationTimestamp":"2025-09-02T05:41:13.279-07:00","name":"tf-test-a3qnyn6a1x","sizeGb":"10","zone":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a","status":"READY","selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/disks/tf-test-a3qnyn6a1x","sourceImage":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20250812","sourceImageId":"4002435495978159706","type":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/diskTypes/pd-standard","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"lastAttachTimestamp":"2025-09-02T05:41:14.059-07:00","users":["https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x"],"labelFingerprint":"42WmSpB8rSM=","licenseCodes":["2147286739765738111"],"physicalBlockSizeBytes":"4096","multiWriter":false,"enableConfidentialCompute":false,"satisfiesPzi":true,"userLicenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"architecture":"X86_64","locked":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-test-a3qnyn6a1x","sourceInstance":"projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7338302664538282231",
        "name": "operation-1756816919768-63dd0d0702e7a-0ebcaee2-2da3f796",
        "operationType[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/operations/operation-1756816919768-63dd0d0702e7a-0ebcaee2-2da3f796?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"7338302664538282231","name":"operation-1756816919768-63dd0d0702e7a-0ebcaee2-2da3f796","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/machineImages/tf-test-a3qnyn6a1x","targetId":"6333804211558648","status":"RUNNING","user":"hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com","progress":0,"insertTime":"2025-09-02T05:42:00.448-07:00","startTime":"2025-09-02T05:42:00.455-07:00","warnings":[{"message":"You
      are creating a machine image with global DNS attributes. VM instances using
      global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread
      service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns"}],"selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/operations/operation-1756816919768-63dd0d0702e7a-0ebcaee2-2da3f796"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - a5VAXLvUwEzxSZbd-758WTUCckI=/9gCCe4ncIh9CqghKsx4MUwJgyps=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/machineImages/tf-test-a3qnyn6a1x?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "6333804211558648",
        "creationTimestamp": "2025-09-02T05:42:00.454-07:00",
        "name": "tf-test-a3qnyn6a1x",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/machineImages/tf-test-a3qnyn6a1x",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/zones/us-central1-a/instances/tf-test-a3qnyn6a1x",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "n1-standard-1",
          "canIpForward": true,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/regions/us-centr[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#zone","id":"2000","creationTimestamp":"1969-12-31T16:00:00.000-08:00","name":"us-central1-a","description":"us-central1-a","status":"UP","region":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1","selfLink":"https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a","availableCpuPlatforms":["Ampere
      Altra","Intel Broadwell","Intel Cascade Lake","Intel Emerald Rapids","AMD Genoa","NVIDIA
      Grace","Intel Granite Rapids","Intel Haswell","Intel Ice Lake","Intel Ivy Bridge","Google
      Axion","AMD Milan","AMD Rome","Intel Sandy Bridge","Intel Sapphire Rapids","Intel
      Skylake","AMD Turin"],"supportsPzs":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - U5rJQSgM9S3ZH4b7ovxKjmKZPKs=/0ewdPn4ua_Z8eOImS1xwccy0IRk=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/machineImages/tf-test-a3qnyn6a1x?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#machineImage","id":"6333804211558648","creationTimestamp":"2025-09-02T05:42:00.454-07:00","name":"tf-test-a3qnyn6a1x","selfLink":"https://www.googleapis.com/compute/beta/projects/tf-test-7920653883078191244/global/machineImages/tf-test-a[...]
- request:
    body: |
      {"canIpForward":false,"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true","my_key":"my_value"},"metadata":{},"name":"tf-test-generated-zebeqkb6ng","params":{},"scheduling":{"automaticRestart":false,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","nodeAffinities":[null],"onHostMaintenance":"","preemptible":false,"provisioningModel":"","skipGuestOsShutdown":false},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/tf-test-7920653883078191244/global/machineImages/tf-test-a3qnyn6a1x","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"kind":"compute#operation","id":"3391291010152355971","name":"operation-1756817003415-63dd0d56c8725-d88a2f02[...]
- request:
    body: ""
    form: {}
    headers:
[...]
