---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-11?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#image",
        "id": "6403343414377215198",
        "creationTimestamp": "2026-07-27T14:14:25.806-07:00",
        "name": "debian-11-bullseye-v20260727",
        "description": "Debian, Debian GNU/Linux, 11 (bullseye), amd64 built on 20260727",
        "sourceType": "RAW",
        "rawDisk": {
          "source": "",
          "containerType": "TAR"
        },
        "status": "READY",
        "archiveSizeBytes": "34461465600",
        "diskSizeGb": "10",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"
        ],
        "family": "debian-11",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20260727",
        "labels": {
          "public-image": "true"
        },
        "labelFingerprint": "iNBmVNCFF9w=",
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          }
        ],
        "licenseCodes": [
          "3853522013536123851"
        ],
        "storageLocations": [
          "asia-northeast3",
          "europe-west6",
          "eu",
          "southamerica-west1",
          "us-south1",
          "me-west1",
          "europe-north2",
          "us-west3",
          "europe-west1",
          "europe-west12",
          "asia-southeast1",
          "me-central1",
          "europe-southwest1",
          "northamerica-northeast2",
          "us-west8",
          "europe-north1",
          "us-east7",
          "us-east5",
          "europe-west8",
          "us-west4",
          "australia-southeast1",
          "us-east1",
          "northamerica-northeast1",
          "europe-west3",
          "asia-south2",
          "asia-northeast2",
          "europe-west15",
          "southamerica-east1",
          "australia-southeast2",
          "europe-central2",
          "asia-east2",
          "us-west2",
          "asia-northeast1",
          "asia-east1",
          "europe-west4",
          "me-central2",
          "us-central2",
          "europe-west10",
          "us-central1",
          "asia-southeast2",
          "asia-southeast3",
          "us-west1",
          "europe-west9",
          "us",
          "us-east4",
          "asia",
          "africa-south1",
          "asia-south1",
          "europe-west2",
          "northamerica-south1"
        ],
        "rolloutOverride": {
          "locationRolloutPolicies": {
            "zones/africa-south1-a": "2026-07-29T13:14:22Z",
            "zones/africa-south1-b": "2026-07-29T20:14:22Z",
            "zones/africa-south1-c": "2026-07-31T21:14:22Z",
            "zones/asia-east1-a": "2026-07-29T11:14:22Z",
            "zones/asia-east1-b": "2026-07-31T17:14:22Z",
            "zones/asia-east1-c": "2026-07-31T19:14:22Z",
            "zones/asia-east2-a": "2026-07-29T14:14:22Z",
            "zones/asia-east2-b": "2026-07-29T21:14:22Z",
            "zones/asia-[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudkms.googleapis.com/v1/projects/ci-test-project-188019/locations/global/keyRings?alt=json&keyRingId=tf-test-keyring-x7ekyt7633
    method: POST
  response:
    body: |
      {
        "name": "projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633",
        "createTime": "2026-07-30T15:59:19.245577861Z"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudkms.googleapis.com/v1/projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633",
        "createTime": "2026-07-30T15:59:19.245577861Z"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"accountId":"tf-test-sa","serviceAccount":{"displayName":"Test Service Account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/serviceAccounts?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"name":"projects/ci-test-project-188019/serviceAccounts/tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com","projectId":"ci-test-project-188019","uniqueId":"106117121552035363876","email":"tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com","displayName":"Test
      Service Account","etag":"MDEwMjE5MjA=","oauth2ClientId":"106117121552035363876"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/serviceAccounts/tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"name":"projects/ci-test-project-188019/serviceAccounts/tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com","projectId":"ci-test-project-188019","uniqueId":"106117121552035363876","email":"tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com","displayName":"Test
      Service Account","etag":"MDEwMjE5MjA=","oauth2ClientId":"106117121552035363876"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"labels":{"goog-terraform-provisioned":"true"},"purpose":"ENCRYPT_DECRYPT"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudkms.googleapis.com/v1/projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys?alt=json&cryptoKeyId=tf-test-key-q9lfav8lam&skipInitialVersionCreation=false
    method: POST
  response:
    body: |
      {
        "name": "projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam",
        "primary": {
          "name": "projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam/cryptoKeyVersions/1",
          "state": "ENABLED",
          "createTime": "2026-07-30T15:59:19.791823675Z",
          "protectionLevel": "SOFTWARE",
          "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION",
          "generateTime": "2026-07-30T15:59:19.791823675Z"
        },
        "purpose": "ENCRYPT_DECRYPT",
        "createTime": "2026-07-30T15:59:19.791823675Z",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "versionTemplate": {
          "protectionLevel": "SOFTWARE",
          "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION"
        },
        "destroyScheduledDuration": "2592000s"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudkms.googleapis.com/v1/projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam",
        "primary": {
          "name": "projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam/cryptoKeyVersions/1",
          "state": "ENABLED",
          "createTime": "2026-07-30T15:59:19.791823675Z",
          "protectionLevel": "SOFTWARE",
          "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION",
          "generateTime": "2026-07-30T15:59:19.791823675Z"
        },
        "purpose": "ENCRYPT_DECRYPT",
        "createTime": "2026-07-30T15:59:19.791823675Z",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "versionTemplate": {
          "protectionLevel": "SOFTWARE",
          "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION"
        },
        "destroyScheduledDuration": "2592000s"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://cloudkms.googleapis.com/v1/projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam:getIamPolicy?alt=json&options.requestedPolicyVersion=3&prettyPrint=false
    method: GET
  response:
    body: '{"etag":"ACAB"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"policy":{"bindings":[{"members":["serviceAccount:tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com"],"role":"roles/cloudkms.cryptoKeyEncrypterDecrypter"}],"etag":"ACAB","version":3}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudkms.googleapis.com/v1/projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam:setIamPolicy?alt=json&prettyPrint=false
    method: POST
  response:
    body: '{"version":1,"etag":"BwZX1ihXBq0=","bindings":[{"role":"roles/cloudkms.cryptoKeyEncrypterDecrypter","members":["serviceAccount:tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com"]}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20260727"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/e2-medium","metadata":{},"name":"tf-test-hzrh0o0dh3-source","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":true,"gracefulShutdown":null,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","localSsdRecoveryTimeout":null,"maxRunDuration":null,"nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":null,"preemptible":false,"preemptionNoticeDuration":null,"provisioningModel":"","skipGuestOsShutdown":false},"serviceAccounts":[{"email":"tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com","scopes":["https://www.googleapis.com/auth/cloud-platform"]}],"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8006246555231635980",
        "name": "operation-1785427171219-657d6285016c5-9619c435-58d80268",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source",
        "targetId": "9079218390379710988",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:32.098-07:00",
        "startTime": "2026-07-30T08:59:32.098-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427171219-657d6285016c5-9619c435-58d80268"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427171219-657d6285016c5-9619c435-58d80268?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8006246555231635980",
        "name": "operation-1785427171219-657d6285016c5-9619c435-58d80268",
        "zone": "https://ww[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427171219-657d6285016c5-9619c435-58d80268?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8006246555231635980",
        "name": "operation-1785427171219-657d6285016c5-9619c435-58d80268",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source",
        "targetId": "9079218390379710988",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-07-30T08:59:32.098-07:00",
        "startTime": "2026-07-30T08:59:32.098-07:00",
        "endTime": "2026-07-30T08:59:42.226-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427171219-657d6285016c5-9619c435-58d80268"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - Xhxx4b6nZ5m_e2hDSPWfWP9NqOw=/JwfgA0PrXa2SfrGIqzQZk2I5lDQ=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "9079218390379710988",
        "creationTimestamp": "2026-07-30T08:59:31.989-07:00",
        "name": "tf-test-hzrh0o0dh3-source",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/e2-medium",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default",
            "networkIP": "10.128.0.100",
            "name": "nic0",
            "fingerprint": "WF0WymY6fMY=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-hzrh0o0dh3-source",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"
            ],
            "interface": "SCSI",
            "guestOsFeatures": [
              {
                "type": "UEFI_COMPATIBLE"
              },
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "GVNIC"
              }
            ],
            "diskSizeGb": "10",
            "architecture": "X86_64"
          }
        ],
        "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "OaSV0nMmJ0w="
        },
        "serviceAccounts": [
          {
            "email": "tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com",
            "scopes": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source",
        "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false,
          "provisioningModel": "STANDARD",
          "skipGuestOsShutdown": false
        },
        "cpuPlatform": "Intel Broadwell",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "labelFingerprint": "vezUS-42LLM=",
        "startRestricted": false,
        "deletionProtection": false,
        "shieldedVmConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedVmIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "shieldedInstanceConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedInstanceIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "fingerprint": "QSO1CMJjBOw=",
        "lastStartTimestamp": "2026-07-30T08:59:42.168-07:00",
        "satisfiesPzi": true,
        "resourceStatus": {
          "effectiveInstanceMetadata": {
            "vmDnsSettingMetadataValue": "GlobalDefault"
          },
          "scheduling": {}
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-hzrh0o0dh3-source?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "3061342491350845964",
        "creationTimestamp": "2026-07-30T08:59:31.999-07:00",
        "name": "tf-test-hzrh0o0dh3-source",
        "sizeGb": "10",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-hzrh0o0dh3-source",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20260727",
        "sourceImageId": "6403343414377215198",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"
        ],
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          }
        ],
        "lastAttachTimestamp": "2026-07-30T08:59:32.629-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "3853522013536123851"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": true,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"machineImageEncryptionKey":{"kmsKeyName":"projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam","kmsKeyServiceAccount":"tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com"},"name":"tf-test-7hgguensma","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8618863690852518427",
        "name": "operation-1785427188013-657d629505ae2-35b22358-ded7f5e5",
        "operationType": [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427188013-657d629505ae2-35b22358-ded7f5e5?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8618863690852518427",
        "name": "operation-1785427188013-657d629505ae2-35b22358-ded7f5e5",
        "operationType": "insert",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-7hgguensma?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "1515972121053284891",
        "creationTimestamp": "2026-07-30T08:59:48.542-07:00",
        "name": "tf-test-7hgguensma",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-7hgguensma",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "e2-medium",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetwor[...]
[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true"},"metadata":{},"name":"tf-test-hzrh0o0dh3","params":{},"scheduling":{"automaticRestart":true,"onHostMaintenance":"MIGRATE","provisioningModel":"STANDARD"},"serviceAccounts":[{"email":"tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com","scopes":["https://www.googleapis.com/auth/cloud-platform"]}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/tf-test-7hgguensma","sourceMachineImageEncryptionKey":{"kmsKeyName":"projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam","kmsKeyServiceAccount":"tf-test-sa@ci-test-project-188019.iam.gserviceaccount.com"},"tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "6496455762733616039",
        "creationTimestamp": "2026-07-30T09:01:12.329-07:00",
        "name": "tf-test-hzrh0o0dh3",
        "tags": {
          "fi[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-hzrh0o0dh3?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "6421850759167921063",
        "creationTimestamp": "2026-07-30T09:01:12.335-07:00",
        "name": "tf-test-hzrh0o0dh3",
        "sizeGb": "10",
        "zone": "https://[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1007792299260169113",
        "name": "operation-1785427318426-657d631164c81-da22bb23-9c0bdbbe",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3",
        "targetId": "6496455762733616039",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:01:58.683-07:00",
        "startTime": "2026-07-30T09:01:58.728-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427318426-657d631164c81-da22bb23-9c0bdbbe"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://cloudkms.googleapis.com/v1/projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam/cryptoKeyVersions?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"cryptoKeyVersions":[{"name":"projects/ci-test-project-188019/locations/global/keyRings/tf-test-keyring-x7ekyt7633/cryptoKeys/tf-test-key-q9lfav8lam/cryptoKeyVersions/1","state":"ENABLED","createTime":"2026-07-30T15:59:19.791823675Z","protectionLevel":"SOFTWARE","algorithm":"GOOGLE_SYMMETRIC_ENCRYPTION","generateTime":"2026-07-30T15:59:19.791823675Z"}],"totalSize":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5547447468410980596",
        "name": "operation-1785427483109-657d63ae7285f-9edaf81f-e1d8464d",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hzrh0o0dh3-source",
        "targetId": "9079218390379710988",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:04:43.255-07:00",
        "startTime": "2026-07-30T09:04:43.272-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427483109-657d63ae7285f-9edaf81f-e1d8464d"
[...]
