---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ubuntu-os-cloud/global/images/ubuntu-2204-lts?alt=json&prettyPrint=false
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/ubuntu-os-cloud/global/images/ubuntu-2204-lts' was not found",
          "errors": [
            {
              "message": "The resource 'projects/ubuntu-os-cloud/global/images/ubuntu-2204-lts' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#image","id":"1806308787811685202","creationTimestamp":"2026-08-17T08:50:22.115-07:00","name":"ubuntu-2204-jammy-v20260817","description":"Canonical,
      Ubuntu, 22.04 LTS, amd64 jammy image built on 2026-08-17","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"63857363200","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/ubuntu-os-cloud/global/licenses/ubuntu-2204-lts"],"family":"ubuntu-2204-lts","selfLink":"https://www.googleapis.com/compute/beta/projects/ubuntu-os-cloud/global/images/ubuntu-2204-jammy-v20260817","labels":{"public-image":"true"},"labelFingerprint":"iNBmVNCFF9w=","guestOsFeatures":[{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"SEV_CAPABLE"},{"type":"SEV_SNP_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"},{"type":"IDPF"},{"type":"TDX_CAPABLE"},{"type":"UEFI_COMPATIBLE"},{"type":"GVNIC"}],"licenseCodes":["5511465778777431107"],"storageLocations":["australia-southeast2","us-central1","us-east7","europe-west2","me-west1","us-east1","europe-north2","europe-west8","southamerica-west1","europe-west10","europe-west9","europe-central2","asia-northeast2","us-south1","us-west3","me-central2","us-west2","europe-west3","europe-west15","us-west1","asia-south1","us-west4","europe-southwest1","europe-west4","asia-northeast3","asia-southeast3","southamerica-east1","asia-east2","africa-south1","asia-southeast1","asia-southeast2","europe-west1","europe-north1","asia-northeast1","me-central1","us-east5","us","europe-west6","us-central2","europe-west12","northamerica-northeast1","northamerica-northeast2","northamerica-south1","asia","asia-south2","us-east4","us-west8","asia-east1","australia-southeast1","eu"],"shieldedInstanceInitialState":{"dbxs":[{"content":"2gcDBhMRFQAAAAAAAAAAABENAAAAAvEOndKvSt9o7kmKqTR9N1ZlpzCCDPUCAQExDzANBglghkgBZQMEAgEFADALBgkqhkiG9w0BBwGgggsIMIIFGDCCBACgAwIBAgITMwAAABNryScg3e1ZiAAAAAAAEzANBgkqhkiG9w0BAQsFADCBgDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCldhc2hpbmd0b24xEDAOBgNVBAcTB1JlZG1vbmQxHjAcBgNVBAoTFU1pY3Jvc29mdCBDb3Jwb3JhdGlvbjEqMCgGA1UEAxMhTWljcm9zb2Z0IENvcnBvcmF0aW9uIEtFSyBDQSAyMDExMB4XDTE2MDEwNjE4MzQxNVoXDTE3MDQwNjE4MzQxNVowgZUxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpXYXNoaW5ndG9uMRAwDgYDVQQHEwdSZWRtb25kMR4wHAYDVQQKExVNaWNyb3NvZnQgQ29ycG9[...]
- request:
    body: |
      {"canIpForward":false,"confidentialInstanceConfig":{"enableConfidentialCompute":true},"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n2d-standard-2","metadata":{"items":[{"key":"foo","value":"bar"}]},"name":"tf-test-mgmt8o2hbh","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":true,"gracefulShutdown":null,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","localSsdRecoveryTimeout":null,"maxRunDuration":null,"nodeAffinities":[null],"onHostMaintenance":"TERMINATE","onInstanceStopAction":null,"preemptible":false,"preemptionNoticeDuration":null,"provisioningModel":"","skipGuestOsShutdown":false},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "3648020021653673940",
        "name": "operation-1787013434806-659477cfd9211-078d5734-d4db0831",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh",
        "targetId": "7796893223396186068",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:37:15.660-07:00",
        "startTime": "2026-08-17T17:37:15.661-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434806-659477cfd9211-078d5734-d4db0831"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434806-659477cfd9211-078d5734-d4db0831?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "3648020021653673940",
        "name": "operation-1787013434806-659477cfd9211-078d5734-d4db0831",
        "zone": "https://ww[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434806-659477cfd9211-078d5734-d4db0831?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "3648020021653673940",
        "name": "operation-1787013434806-659477cfd9211-078d5734-d4db0831",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh",
        "targetId": "7796893223396186068",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-08-17T17:37:15.660-07:00",
        "startTime": "2026-08-17T17:37:15.661-07:00",
        "endTime": "2026-08-17T17:37:23.109-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434806-659477cfd9211-078d5734-d4db0831"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - I_xfR6RAwb4cYxhCCGxkH30fsZI=/p8b6WawlVeyGWXMrt9KM-1XcEzw=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "7796893223396186068",
        "creationTimestamp": "2026-08-17T17:37:15.570-07:00",
        "name": "tf-test-mgmt8o2hbh",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n2d-standard-2",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default",
            "networkIP": "10.128.0.102",
            "name": "nic0",
            "fingerprint": "FpXA16cuRmo=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-mgmt8o2hbh",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/ubuntu-os-cloud/global/licenses/ubuntu-2204-lts"
            ],
            "interface": "NVME",
            "guestOsFeatures": [
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "SEV_CAPABLE"
              },
              {
                "type": "SEV_SNP_CAPABLE"
              },
              {
                "type": "SEV_LIVE_MIGRATABLE"
              },
              {
                "type": "SEV_LIVE_MIGRATABLE_V2"
              },
              {
                "type": "IDPF"
              },
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-mgmt8o2hbh?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "7794187398294673364",
        "creationTimestamp": "2026-08-17T17:37:15.581-07:00",
        "name": "tf-test-mgmt8o2hbh",
        "sizeGb": "10",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-mgmt8o2hbh",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/ubuntu-os-cloud/global/images/ubuntu-2204-jammy-v20260817",
        "sourceImageId": "1806308787811685202",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/ubuntu-os-cloud/global/licenses/ubuntu-2204-lts"
        ],
        "guestOsFeatures": [
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "SEV_CAPABLE"
          },
          {
            "type": "SEV_SNP_CAPABLE"
          },
          {
            "type": "SEV_LIVE_MIGRATABLE"
          },
          {
            "type": "SEV_LIVE_MIGRATABLE_V2"
          },
          {
            "type": "IDPF"
          },
          {
            "type": "TDX_CAPABLE"
          },
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "GVNIC"
          }
        ],
        "lastAttachTimestamp": "2026-08-17T17:37:16.139-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "5511465778777431107"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": true,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-test-mgmt8o2hbh","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2752905509537191843",
        "name": "operation-1787013451641-659477dfe728b-b4a5e5e3-3f5b97ce",
        "operationType": "insert[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1787013451641-659477dfe728b-b4a5e5e3-3f5b97ce?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2752905509537191843",
        "name": "operation-1787013451641-659477dfe728b-b4a5e5e3-3f5b97ce",
        "operationType": "insert",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-mgmt8o2hbh?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "9161256487676155812",
        "creationTimestamp": "2026-08-17T17:37:32.094-07:00",
        "name": "tf-test-mgmt8o2hbh",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-mgmt8o2hbh",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "n2d-standard-2",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subn[...]
[...]
- request:
    body: |
      {"confidentialInstanceConfig":{"enableConfidentialCompute":true},"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true","my_key":"my_value"},"metadata":{},"name":"tf-test-generated-i4wpdyrwsg","params":{},"scheduling":{"automaticRestart":false,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","nodeAffinities":[null],"onHostMaintenance":"TERMINATE","onInstanceStopAction":null,"preemptible":false,"provisioningModel":"","skipGuestOsShutdown":false},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/tf-test-mgmt8o2hbh","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "4865661456436041582",
        "name": "operation-1787013504586-65947812[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-i4wpdyrwsg?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "3433762176478615406",
        "creationTimestamp": "2026-08-17T17:38:25.312-07:00",
        "name": "tf-test-generated-i4wpdyrwsg",
        "ta[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-generated-i4wpdyrwsg?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "547083986475554670",
        "creationTimestamp": "2026-08-17T17:38:25.331-07:00",
        "name": "tf-test-generated-i4wpdyrwsg",
        "sizeGb": "10",
      [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-i4wpdyrwsg?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5887897375492413258",
        "name": "operation-1787013541564-65947835a904e-eba56f72-28a107c8",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-i4wpdyrwsg",
        "targetId": "3433762176478615406",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:39:01.753-07:00",
        "startTime": "2026-08-17T17:39:01.779-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013541564-65947835a904e-eba56f72-28a107c8"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"canIpForward":false,"confidentialInstanceConfig":{"confidentialInstanceType":"SEV","enableConfidentialCompute":true},"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n2d-standard-2","metadata":{"items":[{"key":"foo","value":"bar"}]},"name":"tf-test-sev0-1qujg7vkp8","networkInterfaces":[{"network":"projects/ci-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev0-1qujg7vkp8?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "8629830614954940233",
        "creationTimestamp": "2026-08-17T17:39:02.523-07:00",
        "name": "tf-test-sev0-1qujg7vkp8",
        "tags": {
   [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-sev0-1qujg7vkp8?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "4973162306011535177",
        "creationTimestamp": "2026-08-17T17:39:02.529-07:00",
        "name": "tf-test-sev0-1qujg7vkp8",
        "sizeGb": "10",
        "zone":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-sev0-1qujg7vkp8?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "8594062165968557913",
        "creationTimestamp": "2026-08-17T17:39:19.381-07:00",
        "name": "tf-test-sev0-1qujg7vkp8",
        "selfLink": "https://www.goo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev0-generated-62qwhqan9o?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "8930400131500349188",
        "creationTimestamp": "2026-08-17T17:40:11.972-07:00",
        "name": "tf-test-sev0-generated-62qwhqan9o",
 [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-sev0-generated-62qwhqan9o?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "8707487317338494724",
        "creationTimestamp": "2026-08-17T17:40:11.983-07:00",
        "name": "tf-test-sev0-generated-62qwhqan9o",
        "sizeGb": "[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2643274764204774609",
        "name": "operation-1787013694672-659478c7aceaf-e25418ab-7b90e7bd",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-mgmt8o2hbh",
        "targetId": "7796893223396186068",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:41:34.844-07:00",
        "startTime": "2026-08-17T17:41:34.870-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013694672-659478c7aceaf-e25418ab-7b90e7bd"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev0-generated-62qwhqan9o?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "8353732477737374820",
        "name": "operation-1787013771455-65947910e6b8e-2b19d903-4e1d95c4",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev0-generated-62qwhqan9o",
        "targetId": "8930400131500349188",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:42:51.693-07:00",
        "startTime": "2026-08-17T17:42:51.725-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013771455-65947910e6b8e-2b19d903-4e1d95c4"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"canIpForward":false,"confidentialInstanceConfig":{"confidentialInstanceType":"SEV"},"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n2d-standard-2","metadata":{"items":[{"key":"foo","value":"bar"}]},"minCpuPlatform":"AMD Milan","name":"tf-test-sev1-tsrts34vl7","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":true},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "86147[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev1-tsrts34vl7?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "5196773851222905955",
        "creationTimestamp": "2026-08-17T17:42:52.191-07:00",
        "name": "tf-test-sev1-tsrts34vl7",
        "tags": {
   [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-sev1-tsrts34vl7?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "6121099531136144483",
        "creationTimestamp": "2026-08-17T17:42:52.199-07:00",
        "name": "tf-test-sev1-tsrts34vl7",
        "sizeGb": "10",
        "zone":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-sev1-tsrts34vl7?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "5180195977540015177",
        "creationTimestamp": "2026-08-17T17:43:18.669-07:00",
        "name": "tf-test-sev1-tsrts34vl7",
        "selfLink": "https://www.goo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev0-1qujg7vkp8?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "4729613664346051591",
        "name": "operation-1787013863970-659479692174f-a2e1423f-306365a4",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev0-1qujg7vkp8",
        "targetId": "8629830614954940233",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:44:24.128-07:00",
        "startTime": "2026-08-17T17:44:24.146-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013863970-659479692174f-a2e1423f-306365a4"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-sev1-generated-ed4n0lfmk8?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "8505999505151104052",
        "creationTimestamp": "2026-08-17T17:44:11.880-07:00",
        "name": "tf-test-sev1-generated-ed4n0lfmk8",
 [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-sev1-generated-ed4n0lfmk8?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "8327888499876172852",
        "creationTimestamp": "2026-08-17T17:44:11.904-07:00",
[...]
