---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-11?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#image",
        "id": "6403343414377215198",
        "creationTimestamp": "2026-07-27T14:14:25.806-07:00",
        "name": "debian-11-bullseye-v20260727",
        "description": "Debian, Debian GNU/Linux, 11 (bullseye), amd64 built on 20260727",
        "sourceType": "RAW",
        "rawDisk": {
          "source": "",
          "containerType": "TAR"
        },
        "status": "READY",
        "archiveSizeBytes": "34461465600",
        "diskSizeGb": "10",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"
        ],
        "family": "debian-11",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20260727",
        "labels": {
          "public-image": "true"
        },
        "labelFingerprint": "iNBmVNCFF9w=",
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          }
        ],
        "licenseCodes": [
          "3853522013536123851"
        ],
        "storageLocations": [
          "asia-northeast3",
          "europe-west6",
          "eu",
          "southamerica-west1",
          "us-south1",
          "me-west1",
          "europe-north2",
          "us-west3",
          "europe-west1",
          "europe-west12",
          "asia-southeast1",
          "me-central1",
          "europe-southwest1",
          "northamerica-northeast2",
          "us-west8",
          "europe-north1",
          "us-east7",
          "us-east5",
          "europe-west8",
          "us-west4",
          "australia-southeast1",
          "us-east1",
          "northamerica-northeast1",
          "europe-west3",
          "asia-south2",
          "asia-northeast2",
          "europe-west15",
          "southamerica-east1",
          "australia-southeast2",
          "europe-central2",
          "asia-east2",
          "us-west2",
          "asia-northeast1",
          "asia-east1",
          "europe-west4",
          "me-central2",
          "us-central2",
          "europe-west10",
          "us-central1",
          "asia-southeast2",
          "asia-southeast3",
          "us-west1",
          "europe-west9",
          "us",
          "us-east4",
          "asia",
          "africa-south1",
          "asia-south1",
          "europe-west2",
          "northamerica-south1"
        ],
        "rolloutOverride": {
          "locationRolloutPolicies": {
            "zones/africa-south1-a": "2026-07-29T13:14:22Z",
            "zones/africa-south1-b": "2026-07-29T20:14:22Z",
            "zones/africa-south1-c": "2026-07-31T21:14:22Z",
            "zones/asia-east1-a": "2026-07-29T11:14:22Z",
            "zones/asia-east1-b": "2026-07-31T17:14:22Z",
            "zones/asia-east1-c": "2026-07-31T19:14:22Z",
            "zones/asia-east2-a": "2026-07-29T14:14:22Z",
            "zones/asia-east2-b": "2026-07-29T21:14:22Z",
            "zones/asia-[...]
- request:
    body: |
      {"mode":"TRUST_DOMAIN"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools?alt=json&workloadIdentityPoolId=tf-test-pool-2npeigtvso
    method: POST
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/operations/bigarv7jvxjqmegaq6onwai000000000"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/operations/bigarv7jvxjqmegaq6onwai000000000?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/operations/bigarv7jvxjqmegaq6onwai000000000",
        "response": {}
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20260727"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/e2-medium","metadata":{},"name":"tf-test-bnzu7nkehv-source","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":true},"tags":{},"workloadIdentityConfig":{"identity":"ns/tf-test-ns-2npeigtvso/sa/tf-test-id-1-2npeigtvso","identityCertificateEnabled":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7385459403971283512",
        "name": "operation-1785427159102-657d62797360f-9e01ed86-5715f611",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-bnzu7nkehv-source",
        "targetId": "6534735101140847160",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:19.872-07:00",
        "startTime": "2026-07-30T08:59:19.872-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159102-657d62797360f-9e01ed86-5715f611"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159102-657d62797360f-9e01ed86-5715f611?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7385459403971283512",
        "name": "operation-1785427159102-657d62797360f-9e01ed86-5715f611",
        "zone": "https://ww[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/operations/bigarv7jvxjqmegaq6onwai000000000?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/operations/bigarv7jvxjqmegaq6onwai000000000",
        "done": true,
        "response": {}
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso",
        "state": "ACTIVE",
        "mode": "TRUST_DOMAIN"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso:listAttestationRules?alt=json
    method: GET
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces?alt=json&workloadIdentityPoolNamespaceId=tf-test-ns-2npeigtvso
    method: POST
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/operations/bigaryxjvxjqmegi6w4yiai000000000"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/operations/bigaryxjvxjqmegi6w4yiai000000000?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/operations/bigaryxjvxjqmegi6w4yiai000000000",
        "response": {}
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159102-657d62797360f-9e01ed86-5715f611?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7385459403971283512",
        "name": "operation-1785427159102-657d62797360f-9e01ed86-5715f611",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-bnzu7nkehv-source",
        "targetId": "6534735101140847160",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-07-30T08:59:19.872-07:00",
        "startTime": "2026-07-30T08:59:19.872-07:00",
        "endTime": "2026-07-30T08:59:27.622-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159102-657d62797360f-9e01ed86-5715f611"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - TBIQZQR4POMj4bH01IS7j_EBMs4=/-om9I3tdJ6G9NTZrWL1rb-Tn3Pc=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-bnzu7nkehv-source?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "6534735101140847160",
        "creationTimestamp": "2026-07-30T08:59:19.819-07:00",
        "name": "tf-test-bnzu7nkehv-source",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/e2-medium",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default",
            "networkIP": "10.128.0.32",
            "name": "nic0",
            "fingerprint": "3XPbMcz0L-g=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-bnzu7nkehv-source",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"
            ],
            "interface": "SCSI",
            "guestOsFeatures": [
              {
                "type": "UEFI_COMPATIBLE"
              },
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "GVNIC"
              }
            ],
            "diskSizeGb": "10",
            "architecture": "X86_64"
          }
        ],
        "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "OaSV0nMmJ0w="
        },
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-bnzu7nkehv-source",
        "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false,
          "provisioningModel": "STANDARD"
        },
        "cpuPlatform": "Intel Broadwell",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "labelFingerprint": "vezUS-42LLM=",
        "startRestricted": false,
        "deletionProtection": false,
        "shieldedVmConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedVmIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "shieldedInstanceConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedInstanceIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "fingerprint": "JSxXdOfV0Ug=",
        "lastStartTimestamp": "2026-07-30T08:59:27.554-07:00",
        "satisfiesPzi": true,
        "resourceStatus": {
          "effectiveInstanceMetadata": {
            "vmDnsSettingMetadataValue": "GlobalDefault"
          },
          "scheduling": {}
        },
        "workloadIdentityConfig": {
          "identity": "ns/tf-test-ns-2npeigtvso/sa/tf-test-id-1-2npeigtvso",
          "identityCertificateEnabled": true
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-bnzu7nkehv-source?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "6871489433687214648",
        "creationTimestamp": "2026-07-30T08:59:19.825-07:00",
        "name": "tf-test-bnzu7nkehv-source",
        "sizeGb": "10",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-bnzu7nkehv-source",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20260727",
        "sourceImageId": "6403343414377215198",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"
        ],
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          }
        ],
        "lastAttachTimestamp": "2026-07-30T08:59:20.360-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-bnzu7nkehv-source"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "3853522013536123851"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": true,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"image-2npeigtvso","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-bnzu7nkehv-source"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5460987659323623943",
        "name": "operation-1785427175888-657d6289756a6-78083dda-ce907d73",
        "operationType": [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427175888-657d6289756a6-78083dda-ce907d73?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5460987659323623943",
        "name": "operation-1785427175888-657d6289756a6-78083dda-ce907d73",
        "operationType": "insert",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso",
        "state": "ACTIVE"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities?alt=json&workloadIdentityPoolManagedIdentityId=tf-test-id-1-2npeigtvso
    method: POST
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso/operations/bigar3hjvxjqmegaqwyjoay000000000"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso/operations/bigar3hjvxjqmegaqwyjoay000000000?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso/operations/bigar3hjvxjqmegaqwyjoay000000000",
        "response": {}
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso",
        "state": "ACTIVE"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/ci-test-project-188019/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso:listAttestationRules?alt=json
    method: GET
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/image-2npeigtvso?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "1375036054885026312",
        "creationTimestamp": "2026-07-30T08:59:36.287-07:00",
        "name": "image-2npeigtvso",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/image-2npeigtvso",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-bnzu7nkehv-source",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "e2-medium",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetwor[...]
[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true"},"metadata":{},"name":"tf-test-generated-o4jtf62kfz","params":{},"scheduling":{"automaticRestart":true,"onHostMaintenance":"MIGRATE","provisioningModel":"STANDARD"},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/image-2npeigtvso","tags":{},"workloadIdentityConfig":{"identity":"ns/tf-test-ns-2npeigtvso/sa/tf-test-id-1-2npeigtvso","identityCertificateEnabled":true},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-o4jtf62kfz?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "7455499411352112084",
        "creationTimestamp": "2026-07-30T09:00:59.632-07:00",
        "name": "tf-test-generated-o4jtf62kfz",
        "ta[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-generated-o4jtf62kfz?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "3985589676441783252",
        "creationTimestamp": "2026-07-30T09:00:59.646-07:00",
        "name": "tf-test-generated-o4jtf62kfz",
        "sizeGb": "10",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso/operations/bigarx7kvxjqmeha4djiqaq000000000?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/managedIdentities/tf-test-id-1-2npeigtvso/operations/bigarx7kvxjqmeha4djiqaq000000000",
        "response": {}
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-o4jtf62kfz?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "3116118854976588720",
        "name": "operation-1785427295351-657d62fb6326d-f0344913-7f51dc0c",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-o4jtf62kfz",
        "targetId": "7455499411352112084",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:01:35.572-07:00",
        "startTime": "2026-07-30T09:01:35.603-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427295351-657d62fb6326d-f0344913-7f51dc0c"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/operations/bifqr2xkvxjqmefaugfqu00000000000?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/namespaces/tf-test-ns-2npeigtvso/operations/bifqr2xkvxjqmefaugfqu00000000000",
        "response": {}
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://iam.googleapis.com/v1/projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/operations/bigar5hkvxjqmehatwxnmai000000000?alt=json
    method: GET
  response:
    body: |
      {
        "name": "projects/1067888929963/locations/global/workloadIdentityPools/tf-test-pool-2npeigtvso/operations/bigar5hkvxjqmehatwxnmai000000000",
        "response": {}
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
[...]
