---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/windows-cloud/global/images/family/windows-2025?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#image",
        "id": "7663523596831229483",
        "creationTimestamp": "2026-07-20T17:09:40.975-07:00",
        "name": "windows-server-2025-dc-v20260720",
        "description": "Microsoft, Windows Server, 2025 Datacenter, Server with Desktop Experience, x64 built on 20260720",
        "sourceType": "RAW",
        "rawDisk": {
          "source": "",
          "containerType": "TAR"
        },
        "status": "READY",
        "archiveSizeBytes": "735440821760",
        "diskSizeGb": "50",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/windows-cloud/global/licenses/windows-server-2025-dc"
        ],
        "family": "windows-2025",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/windows-cloud/global/images/windows-server-2025-dc-v20260720",
        "labels": {
          "public-image": "true"
        },
        "labelFingerprint": "iNBmVNCFF9w=",
        "guestOsFeatures": [
          {
            "type": "MULTI_IP_SUBNET"
          },
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          },
          {
            "type": "WINDOWS"
          }
        ],
        "licenseCodes": [
          "7142647615590922601"
        ],
        "storageLocations": [
          "asia-south1",
          "europe-west2",
          "us-central2",
          "asia-southeast3",
          "europe-west8",
          "australia-southeast2",
          "europe-west3",
          "us-west4",
          "us-east7",
          "asia-east2",
          "europe-west9",
          "us-south1",
          "us-west2",
          "us",
          "europe-west15",
          "europe-west12",
          "europe-west10",
          "asia-northeast2",
          "europe-central2",
          "asia-northeast3",
          "australia-southeast1",
          "southamerica-east1",
          "me-central2",
          "us-west8",
          "europe-west6",
          "us-east5",
          "northamerica-south1",
          "europe-north1",
          "us-east4",
          "me-west1",
          "northamerica-northeast1",
          "asia-south2",
          "us-west3",
          "europe-west4",
          "eu",
          "europe-southwest1",
          "asia-northeast1",
          "me-central1",
          "europe-north2",
          "asia-east1",
          "us-east1",
          "africa-south1",
          "europe-west1",
          "asia-southeast1",
          "us-central1",
          "asia-southeast2",
          "southamerica-west1",
          "us-west1",
          "asia",
          "northamerica-northeast2"
        ],
        "rolloutOverride": {
          "locationRolloutPolicies": {
            "zones/africa-south1-a": "2026-07-21T08:09:36Z",
            "zones/africa-south1-b": "2026-07-24T13:09:36Z",
            "zones/africa-south1-c": "2026-07-26T07:09:36Z",
            "zones/asia-east1-a": "2026-07-21T06:09:36Z",
            "zones/asia-east1-b": "2026-07-24T11:09:36Z",
            "zones/asia-east1-c": "2026-07-26T05:09:36Z",
            "zones/asia-east2-a": "2026-07-21T09:09:36Z",
            "zones/asia-east2-b": "2026-07-24T14:09:36Z",
            "zones/asia-[...]
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"diskType":"projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-ssd","sourceImage":"https://www.googleapis.com/compute/beta/projects/windows-cloud/global/images/windows-server-2025-dc-v20260720"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/e2-standard-2","metadata":{},"name":"tf-test-hqyszjdk8f","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":true},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1709262335321229879",
        "name": "operation-1785427159959-657d627a4483c-edefb772-94b96589",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f",
        "targetId": "1304927736049355319",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T08:59:20.675-07:00",
        "startTime": "2026-07-30T08:59:20.675-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159959-657d627a4483c-edefb772-94b96589"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159959-657d627a4483c-edefb772-94b96589?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1709262335321229879",
        "name": "operation-1785427159959-657d627a4483c-edefb772-94b96589",
        "zone": "https://ww[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159959-657d627a4483c-edefb772-94b96589?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1709262335321229879",
        "name": "operation-1785427159959-657d627a4483c-edefb772-94b96589",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f",
        "targetId": "1304927736049355319",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-07-30T08:59:20.675-07:00",
        "startTime": "2026-07-30T08:59:20.675-07:00",
        "endTime": "2026-07-30T08:59:28.721-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427159959-657d627a4483c-edefb772-94b96589"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - Wool98xDnexMBT2uJMkHucO0F_Y=/dO9w_7W5f5INmkcHrIOayoEaVhg=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "1304927736049355319",
        "creationTimestamp": "2026-07-30T08:59:20.602-07:00",
        "name": "tf-test-hqyszjdk8f",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/e2-standard-2",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default",
            "networkIP": "10.128.0.99",
            "name": "nic0",
            "fingerprint": "UFkINasR1hg=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-hqyszjdk8f",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/windows-cloud/global/licenses/windows-server-2025-dc"
            ],
            "interface": "SCSI",
            "guestOsFeatures": [
              {
                "type": "MULTI_IP_SUBNET"
              },
              {
                "type": "UEFI_COMPATIBLE"
              },
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "GVNIC"
              },
              {
                "type": "WINDOWS"
              }
            ],
            "diskSizeGb": "50",
            "architecture": "X86_64"
          }
        ],
        "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "OaSV0nMmJ0w="
        },
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f",
        "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false,
          "provisioningModel": "STANDARD"
        },
        "cpuPlatform": "AMD Rome",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "labelFingerprint": "vezUS-42LLM=",
        "startRestricted": false,
        "deletionProtection": false,
        "shieldedVmConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedVmIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "shieldedInstanceConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedInstanceIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "fingerprint": "FR60SdhyERo=",
        "lastStartTimestamp": "2026-07-30T08:59:28.660-07:00",
        "satisfiesPzi": true,
        "resourceStatus": {
          "effectiveInstanceMetadata": {
            "vmDnsSettingMetadataValue": "GlobalDefault"
          },
          "scheduling": {}
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-hqyszjdk8f?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "2880766990891797047",
        "creationTimestamp": "2026-07-30T08:59:20.610-07:00",
        "name": "tf-test-hqyszjdk8f",
        "sizeGb": "50",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-hqyszjdk8f",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/windows-cloud/global/images/windows-server-2025-dc-v20260720",
        "sourceImageId": "7663523596831229483",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-ssd",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/windows-cloud/global/licenses/windows-server-2025-dc"
        ],
        "guestOsFeatures": [
          {
            "type": "MULTI_IP_SUBNET"
          },
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          },
          {
            "type": "WINDOWS"
          }
        ],
        "lastAttachTimestamp": "2026-07-30T08:59:21.122-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "7142647615590922601"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": true,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"guestFlush":true,"name":"tf-test-image-cfgb8ua0b9","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1748723206346689334",
        "name": "operation-1785427416687-657d636f1a446-38866c84-8b707cd1",
        "operationType": "insert[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1785427416687-657d636f1a446-38866c84-8b707cd1?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1748723206346689334",
        "name": "operation-1785427416687-657d636f1a446-38866c84-8b707cd1",
        "operationType": "insert",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-image-cfgb8ua0b9?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "2689571719936920375",
        "creationTimestamp": "2026-07-30T09:03:37.082-07:00",
        "name": "tf-test-image-cfgb8ua0b9",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-image-cfgb8ua0b9",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "e2-standard-2",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subne[...]
[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"eraseWindowsVssSignature":true,"labels":{"goog-terraform-provisioned":"true"},"metadata":{},"name":"tf-test-puikj67bjd","params":{},"scheduling":{"automaticRestart":true,"onHostMaintenance":"MIGRATE","provisioningModel":"STANDARD"},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/tf-test-image-cfgb8ua0b9","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2532738528107218954",
        "name": "operation-1785427685455-65[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-puikj67bjd?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "8317405962185394186",
        "creationTimestamp": "2026-07-30T09:08:05.956-07:00",
        "name": "tf-test-puikj67bjd",
        "tags": {
          "fi[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-puikj67bjd?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "3828168769877231626",
        "creationTimestamp": "2026-07-30T09:08:05.962-07:00",
        "name": "tf-test-puikj67bjd",
        "sizeGb": "50",
        "zone": "https://[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-puikj67bjd?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "243644736001722820",
        "name": "operation-1785427755400-657d64b21fd02-ce5c7eb3-66881762",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-puikj67bjd",
        "targetId": "8317405962185394186",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:09:15.571-07:00",
        "startTime": "2026-07-30T09:09:15.592-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427755400-657d64b21fd02-ce5c7eb3-66881762"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "2819718643574032681",
        "name": "operation-1785427910031-657d6545978b4-bd4e4f24-a6597a12",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-hqyszjdk8f",
        "targetId": "1304927736049355319",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:11:50.255-07:00",
        "startTime": "2026-07-30T09:11:50.293-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785427910031-657d6545978b4-bd4e4f24-a6597a12"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-twdey8kytm?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "7554013772005165322",
        "creationTimestamp": "2026-07-30T09:12:21.738-07:00",
        "name": "tf-test-twdey8kytm",
        "tags": {
          "fi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-twdey8kytm?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "8312636766075406602",
        "creationTimestamp": "2026-07-30T09:12:21.746-07:00",
        "name": "tf-test-twdey8kytm",
        "sizeGb": "50",
        "zone": "https://[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-image-gmy1poe22w?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "6565567997048965392",
        "creationTimestamp": "2026-07-30T09:12:48.116-07:00",
        "name": "tf-test-image-gmy1poe22w",
        "selfLink": "https://www.g[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-4bocbaz8it?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "690770231882597952",
        "creationTimestamp": "2026-07-30T09:15:43.452-07:00",
        "name": "tf-test-4bocbaz8it",
        "tags": {
          "fin[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-4bocbaz8it?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "8303516162504181312",
        "creationTimestamp": "2026-07-30T09:15:43.459-07:00",
        "name": "tf-test-4bocbaz8it",
        "sizeGb": "50",
        "zone": "https://[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-4bocbaz8it?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "446313217518913043",
        "name": "operation-1785428220423-657d666d9ae99-5ba1ced0-9b653794",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-4bocbaz8it",
        "targetId": "690770231882597952",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:17:00.579-07:00",
        "startTime": "2026-07-30T09:17:00.593-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785428220423-657d666d9ae99-5ba1ced0-9b653794"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-twdey8kytm?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "4328671741355673464",
        "name": "operation-1785428374238-657d67004b52d-6f385646-cfaf22ab",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-twdey8kytm",
        "targetId": "7554013772005165322",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-07-30T09:19:35.211-07:00",
        "startTime": "2026-07-30T09:19:35.230-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1785428374238-657d67004b52d-6f385646-cfaf22ab"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-4bocbaz8it?alt=json
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-4bocbaz8it' was not found",
          "errors": [
            {
              "message": "The resource 'projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-4bocbaz8it' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
