---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12?alt=json
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
          "errors": [
            {
              "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-12?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#image",
        "id": "7275722572936694403",
        "creationTimestamp": "2026-08-17T13:51:56.859-07:00",
        "name": "debian-12-bookworm-v20260817",
        "description": "Debian, Debian GNU/Linux, 12 (bookworm), amd64 built on 20260817",
        "sourceType": "RAW",
        "rawDisk": {
          "source": "",
          "containerType": "TAR"
        },
        "status": "READY",
        "archiveSizeBytes": "35980236800",
        "diskSizeGb": "10",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
        ],
        "family": "debian-12",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260817",
        "labels": {
          "public-image": "true"
        },
        "labelFingerprint": "iNBmVNCFF9w=",
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          },
          {
            "type": "SEV_CAPABLE"
          },
          {
            "type": "SEV_LIVE_MIGRATABLE_V2"
          }
        ],
        "licenseCodes": [
          "2147286739765738111"
        ],
        "storageLocations": [
          "us-west8",
          "me-central1",
          "eu",
          "us-east7",
          "asia-south2",
          "europe-west12",
          "northamerica-northeast1",
          "me-west1",
          "asia-southeast3",
          "australia-southeast2",
          "asia",
          "us-central2",
          "us-west3",
          "europe-west4",
          "europe-central2",
          "asia-south1",
          "us-east4",
          "europe-north2",
          "europe-north1",
          "africa-south1",
          "southamerica-east1",
          "asia-southeast1",
          "europe-west3",
          "asia-southeast2",
          "europe-west6",
          "europe-west10",
          "us",
          "asia-east2",
          "northamerica-northeast2",
          "europe-west2",
          "asia-northeast3",
          "europe-west9",
          "me-central2",
          "us-east5",
          "asia-east1",
          "us-south1",
          "europe-west8",
          "us-east1",
          "europe-west15",
          "us-central1",
          "us-west1",
          "australia-southeast1",
          "asia-northeast2",
          "europe-west1",
          "southamerica-west1",
          "asia-northeast1",
          "us-west4",
          "europe-southwest1",
          "northamerica-south1",
          "us-west2"
        ],
        "rolloutOverride": {
          "locationRolloutPolicies": {
            "zones/africa-south1-a": "2026-08-19T16:51:53Z",
            "zones/africa-south1-b": "2026-08-20T14:51:53Z",
            "zones/africa-south1-c": "2026-08-23T05:51:53Z",
            "zones/asia-east1-a": "2026-08-18T20:51:53Z",
            "zones/asia-east1-b": "2026-08-21T17:51:53Z",
            "zones/asia-east1-c": "2026-08-22T09:51:53Z",
            "zones/asia-east2-a": "2026-08-18T10:51:53Z",
            "zones/asia-east2-b": "2026-08-21T07:51:53Z",
            "zones/asia-[...]
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-12"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1","metadata":{"items":[{"key":"foo","value":"bar"}]},"name":"tf-test-v3zcw31w2n","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":false,"gracefulShutdown":null,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"STOP","localSsdRecoveryTimeout":null,"maxRunDuration":null,"nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":null,"preemptible":true,"preemptionNoticeDuration":{"seconds":120},"provisioningModel":"SPOT","skipGuestOsShutdown":false},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "6053098847241344458",
        "name": "operation-1787308836737-6598c445151d3-572f5682-9a2cdd1a",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n",
        "targetId": "4749789969003156938",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-21T03:40:37.486-07:00",
        "startTime": "2026-08-21T03:40:37.486-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787308836737-6598c445151d3-572f5682-9a2cdd1a"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787308836737-6598c445151d3-572f5682-9a2cdd1a?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "6053098847241344458",
        "name": "operation-1787308836737-6598c445151d3-572f5682-9a2cdd1a",
        "zone": "https://ww[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787308836737-6598c445151d3-572f5682-9a2cdd1a?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "6053098847241344458",
        "name": "operation-1787308836737-6598c445151d3-572f5682-9a2cdd1a",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n",
        "targetId": "4749789969003156938",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-08-21T03:40:37.486-07:00",
        "startTime": "2026-08-21T03:40:37.486-07:00",
        "endTime": "2026-08-21T03:40:44.621-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787308836737-6598c445151d3-572f5682-9a2cdd1a"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - G3MBoA0C3Q8nNJrudZ46t8RdTAs=/stsjPK7zOBgxz-N1TGXb9gfTpYA=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "4749789969003156938",
        "creationTimestamp": "2026-08-21T03:40:37.418-07:00",
        "name": "tf-test-v3zcw31w2n",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default",
            "networkIP": "10.128.0.70",
            "name": "nic0",
            "fingerprint": "7pdCeY9hJo0=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-v3zcw31w2n",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
            ],
            "interface": "SCSI",
            "guestOsFeatures": [
              {
                "type": "UEFI_COMPATIBLE"
              },
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "GVNIC"
              },
              {
                "type": "SEV_CAPABLE"
              },
              {
                "type": "SEV_LIVE_MIGRATABLE_V2"
              }
            ],
            "diskSizeGb": "10",
            "architecture": "X86_64"
          }
        ],
        "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "qDPL1btxwps=",
          "items": [
            {
              "key": "foo",
              "value": "bar"
            }
          ]
        },
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n",
        "scheduling": {
          "onHostMaintenance": "TERMINATE",
          "automaticRestart": false,
          "preemptible": true,
          "provisioningModel": "SPOT",
          "instanceTerminationAction": "STOP",
          "skipGuestOsShutdown": false,
          "preemptionNoticeDuration": {
            "seconds": "120",
            "nanos": 0
          }
        },
        "cpuPlatform": "Intel Haswell",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "labelFingerprint": "vezUS-42LLM=",
        "startRestricted": false,
        "deletionProtection": false,
        "shieldedVmConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedVmIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "shieldedInstanceConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedInstanceIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "fingerprint": "4J4bWtAOtOI=",
        "lastStartTimestamp": "2026-08-21T03:40:44.560-07:00",
        "satisfiesPzi": true,
        "resourceStatus": {
          "effectiveInstanceMetadata": {
            "vmDnsSettingMetadataValue": "GlobalDefault"
          },
          "scheduling": {}
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-v3zcw31w2n?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "3536405551185761738",
        "creationTimestamp": "2026-08-21T03:40:37.428-07:00",
        "name": "tf-test-v3zcw31w2n",
        "sizeGb": "10",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-v3zcw31w2n",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260817",
        "sourceImageId": "7275722572936694403",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
        ],
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          },
          {
            "type": "SEV_CAPABLE"
          },
          {
            "type": "SEV_LIVE_MIGRATABLE_V2"
          }
        ],
        "lastAttachTimestamp": "2026-08-21T03:40:37.942-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "2147286739765738111"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": true,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-test-v3zcw31w2n","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "785785409654592985",
        "name": "operation-1787308853500-6598c45511c04-8e5bc1f9-37b63406",
        "operationType": "insert"[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1787308853500-6598c45511c04-8e5bc1f9-37b63406?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "785785409654592985",
        "name": "operation-1787308853500-6598c45511c04-8e5bc1f9-37b63406",
        "operationType": "insert",
      [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-v3zcw31w2n?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "534187028613797338",
        "creationTimestamp": "2026-08-21T03:40:54.326-07:00",
        "name": "tf-test-v3zcw31w2n",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-v3zcw31w2n",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "n1-standard-1",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subne[...]
[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true","my_key":"my_value"},"metadata":{},"name":"tf-test-generated-cl4netcz10","params":{},"scheduling":{"automaticRestart":false,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"STOP","nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":null,"preemptible":true,"preemptionNoticeDuration":{"seconds":120},"provisioningModel":"SPOT","skipGuestOsShutdown":false},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/tf-test-v3zcw31w2n","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "6522098203538855292",
        "name": "operation-1787308947276-6598c4ae[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-cl4netcz10?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "4769013920497505660",
        "creationTimestamp": "2026-08-21T03:42:27.896-07:00",
        "name": "tf-test-generated-cl4netcz10",
        "ta[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-generated-cl4netcz10?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "5882090304829756796",
        "creationTimestamp": "2026-08-21T03:42:27.912-07:00",
        "name": "tf-test-generated-cl4netcz10",
        "sizeGb": "10",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-cl4netcz10?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "7818434009098458424",
        "name": "operation-1787309015161-6598c4ef3dc6d-8c2434c1-372de357",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-cl4netcz10",
        "targetId": "4769013920497505660",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-21T03:43:35.354-07:00",
        "startTime": "2026-08-21T03:43:35.396-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787309015161-6598c4ef3dc6d-8c2434c1-372de357"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "863451947513254558",
        "name": "operation-1787309169022-6598c581f9659-3fdcafc8-051be654",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-v3zcw31w2n",
        "targetId": "4749789969003156938",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-21T03:46:09.345-07:00",
        "startTime": "2026-08-21T03:46:09.368-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787309169022-6598c581f9659-3fdcafc8-051be654"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
