---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
          "errors": [
            {
              "message": "The resource 'projects/debian-cloud/global/images/debian-12' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#image","id":"7275722572936694403","creationTimestamp":"2026-08-17T13:51:56.859-07:00","name":"debian-12-bookworm-v20260817","description":"Debian,
      Debian GNU/Linux, 12 (bookworm), amd64 built on 20260817","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"35980236800","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"family":"debian-12","selfLink":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260817","labels":{"public-image":"true"},"labelFingerprint":"iNBmVNCFF9w=","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"licenseCodes":["2147286739765738111"],"storageLocations":["us-west8","me-central1","eu","us-east7","asia-south2","europe-west12","northamerica-northeast1","me-west1","asia-southeast3","australia-southeast2","asia","us-central2","us-west3","europe-west4","europe-central2","asia-south1","us-east4","europe-north2","europe-north1","africa-south1","southamerica-east1","asia-southeast1","europe-west3","asia-southeast2","europe-west6","europe-west10","us","asia-east2","northamerica-northeast2","europe-west2","asia-northeast3","europe-west9","me-central2","us-east5","asia-east1","us-south1","europe-west8","us-east1","europe-west15","us-central1","us-west1","australia-southeast1","asia-northeast2","europe-west1","southamerica-west1","asia-northeast1","us-west4","europe-southwest1","northamerica-south1","us-west2"],"rolloutOverride":{"locationRolloutPolicies":{"zones/africa-south1-a":"2026-08-19T16:51:53Z","zones/africa-south1-b":"2026-08-20T14:51:53Z","zones/africa-south1-c":"2026-08-23T05:51:53Z","zones/asia-east1-a":"2026-08-18T20:51:53Z","zones/asia-east1-b":"2026-08-21T17:51:53Z","zones/asia-east1-c":"2026-08-22T09:51:53Z","zones/asia-east2-a":"2026-08-18T10:51:53Z","zones/asia-east2-b":"2026-08-21T07:51:53Z","zones/asia-east2-c":"2026-08-21T23:51:53Z","zones/asia-northeast1-a":"2026-08-17T21:51:53Z","zones/asia-northeast1-b":"2026-08-20T18:51:5[...]
- request:
    body: |
      {"canIpForward":false,"deletionProtection":false,"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-12"},"mode":"READ_WRITE"}],"labels":{"goog-terraform-provisioned":"true"},"machineType":"projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1","metadata":{"items":[{"key":"foo","value":"bar"}]},"name":"tf-test-umm9eno9jz","networkInterfaces":[{"network":"projects/ci-test-project-188019/global/networks/default"}],"params":{},"scheduling":{"automaticRestart":true,"gracefulShutdown":null,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","localSsdRecoveryTimeout":{"seconds":3600},"maxRunDuration":null,"nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":null,"preemptible":false,"preemptionNoticeDuration":null,"provisioningModel":"","skipGuestOsShutdown":false},"tags":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5179941719771060180",
        "name": "operation-1787013434627-659477cfad5bf-431f49a3-4195a530",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz",
        "targetId": "5261598449751431124",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:37:15.364-07:00",
        "startTime": "2026-08-17T17:37:15.364-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434627-659477cfad5bf-431f49a3-4195a530"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434627-659477cfad5bf-431f49a3-4195a530?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5179941719771060180",
        "name": "operation-1787013434627-659477cfad5bf-431f49a3-4195a530",
        "zone": "https://ww[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434627-659477cfad5bf-431f49a3-4195a530?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5179941719771060180",
        "name": "operation-1787013434627-659477cfad5bf-431f49a3-4195a530",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz",
        "targetId": "5261598449751431124",
        "status": "DONE",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 100,
        "insertTime": "2026-08-17T17:37:15.364-07:00",
        "startTime": "2026-08-17T17:37:15.364-07:00",
        "endTime": "2026-08-17T17:37:22.383-07:00",
        "warnings": [
          {
            "message": "You are creating a global DNS VM. VM instances using global DNS are vulnerable to cross-regional outages. To reduce the risk of widespread service disruption, use zonal DNS instead. Learn more at https://cloud.google.com/compute/docs/networking/zonal-dns?utm_id=vm-insert"
          }
        ],
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013434627-659477cfad5bf-431f49a3-4195a530"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - Zj9Ws_oEVY69H68bf9xZ3SPLv-s=/8KVQzvSgMKUz54ZFfTrId9tWR_w=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "5261598449751431124",
        "creationTimestamp": "2026-08-17T17:37:15.305-07:00",
        "name": "tf-test-umm9eno9jz",
        "tags": {
          "fingerprint": "42WmSpB8rSM="
        },
        "machineType": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/machineTypes/n1-standard-1",
        "status": "RUNNING",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "canIpForward": false,
        "networkInterfaces": [
          {
            "kind": "compute#networkInterface",
            "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
            "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subnetworks/default",
            "networkIP": "10.128.0.99",
            "name": "nic0",
            "fingerprint": "IGIKebBxxTc=",
            "stackType": "IPV4_ONLY"
          }
        ],
        "disks": [
          {
            "kind": "compute#attachedDisk",
            "type": "PERSISTENT",
            "mode": "READ_WRITE",
            "source": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-umm9eno9jz",
            "deviceName": "persistent-disk-0",
            "index": 0,
            "boot": true,
            "autoDelete": true,
            "licenses": [
              "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
            ],
            "interface": "SCSI",
            "guestOsFeatures": [
              {
                "type": "UEFI_COMPATIBLE"
              },
              {
                "type": "VIRTIO_SCSI_MULTIQUEUE"
              },
              {
                "type": "GVNIC"
              },
              {
                "type": "SEV_CAPABLE"
              },
              {
                "type": "SEV_LIVE_MIGRATABLE_V2"
              }
            ],
            "diskSizeGb": "10",
            "architecture": "X86_64"
          }
        ],
        "metadata": {
          "kind": "compute#metadata",
          "fingerprint": "qDPL1btxwps=",
          "items": [
            {
              "key": "foo",
              "value": "bar"
            }
          ]
        },
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz",
        "scheduling": {
          "onHostMaintenance": "MIGRATE",
          "automaticRestart": true,
          "preemptible": false,
          "provisioningModel": "STANDARD",
          "localSsdRecoveryTimeout": {
            "seconds": "3600",
            "nanos": 0
          },
          "skipGuestOsShutdown": false
        },
        "cpuPlatform": "Intel Haswell",
        "labels": {
          "goog-terraform-provisioned": "true"
        },
        "labelFingerprint": "vezUS-42LLM=",
        "startRestricted": false,
        "deletionProtection": false,
        "shieldedVmConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedVmIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "shieldedInstanceConfig": {
          "enableSecureBoot": false,
          "enableVtpm": true,
          "enableIntegrityMonitoring": true
        },
        "shieldedInstanceIntegrityPolicy": {
          "updateAutoLearnPolicy": true
        },
        "fingerprint": "8S5JIJaq_lE=",
        "lastStartTimestamp": "2026-08-17T17:37:22.331-07:00",
        "satisfiesPzi": true,
        "resourceStatus": {
          "effectiveInstanceMetadata": {
            "vmDnsSettingMetadataValue": "GlobalDefault"
          },
          "scheduling": {}
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-umm9eno9jz?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "1046150037990414292",
        "creationTimestamp": "2026-08-17T17:37:15.314-07:00",
        "name": "tf-test-umm9eno9jz",
        "sizeGb": "10",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "status": "READY",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-umm9eno9jz",
        "sourceImage": "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260817",
        "sourceImageId": "7275722572936694403",
        "type": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/diskTypes/pd-standard",
        "licenses": [
          "https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"
        ],
        "guestOsFeatures": [
          {
            "type": "UEFI_COMPATIBLE"
          },
          {
            "type": "VIRTIO_SCSI_MULTIQUEUE"
          },
          {
            "type": "GVNIC"
          },
          {
            "type": "SEV_CAPABLE"
          },
          {
            "type": "SEV_LIVE_MIGRATABLE_V2"
          }
        ],
        "lastAttachTimestamp": "2026-08-17T17:37:15.787-07:00",
        "users": [
          "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz"
        ],
        "labelFingerprint": "42WmSpB8rSM=",
        "licenseCodes": [
          "2147286739765738111"
        ],
        "physicalBlockSizeBytes": "4096",
        "multiWriter": false,
        "enableConfidentialCompute": false,
        "satisfiesPzi": true,
        "architecture": "X86_64",
        "locked": false
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-test-umm9eno9jz","sourceInstance":"projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "9095490273402558372",
        "name": "operation-1787013451347-659477df9f51a-3e7acec4-77c4096a",
        "operationType": "insert[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/operations/operation-1787013451347-659477df9f51a-3e7acec4-77c4096a?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "9095490273402558372",
        "name": "operation-1787013451347-659477df9f51a-3e7acec4-77c4096a",
        "operationType": "insert",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-umm9eno9jz?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#machineImage",
        "id": "2669885556937070500",
        "creationTimestamp": "2026-08-17T17:37:31.856-07:00",
        "name": "tf-test-umm9eno9jz",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/machineImages/tf-test-umm9eno9jz",
        "sourceInstance": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz",
        "status": "READY",
        "sourceInstanceProperties": {
          "tags": {
            "fingerprint": "42WmSpB8rSM="
          },
          "machineType": "n1-standard-1",
          "canIpForward": false,
          "networkInterfaces": [
            {
              "kind": "compute#networkInterface",
              "network": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/global/networks/default",
              "subnetwork": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/regions/us-central1/subne[...]
[...]
- request:
    body: |
      {"disks":[{"autoDelete":true,"deviceName":"persistent-disk-0","type":"PERSISTENT"}],"labels":{"goog-terraform-provisioned":"true","my_key":"my_value"},"metadata":{},"name":"tf-test-generated-qbc230u7my","params":{},"scheduling":{"automaticRestart":false,"hostErrorTimeoutSeconds":null,"instanceTerminationAction":"","localSsdRecoveryTimeout":{"seconds":7200},"nodeAffinities":[null],"onHostMaintenance":"","onInstanceStopAction":null,"preemptible":false,"provisioningModel":"","skipGuestOsShutdown":false},"serviceAccounts":[{"email":"default"}],"sourceMachineImage":"https://www.googleapis.com/compute/v1/projects/ci-test-project-188019/global/machineImages/tf-test-umm9eno9jz","tags":{},"zone":""}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "1127661370442913648",
        "name": "operation-1787013534629-6594782f[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-qbc230u7my?alt=json&view=FULL
    method: GET
  response:
    body: |
      {
        "kind": "compute#instance",
        "id": "8617114745799841649",
        "creationTimestamp": "2026-08-17T17:38:55.277-07:00",
        "name": "tf-test-generated-qbc230u7my",
        "ta[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/disks/tf-test-generated-qbc230u7my?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#disk",
        "id": "1237326952255068017",
        "creationTimestamp": "2026-08-17T17:38:55.290-07:00",
        "name": "tf-test-generated-qbc230u7my",
        "sizeGb": "10",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-qbc230u7my?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "4646744134385538861",
        "name": "operation-1787013570436-6594785131eac-c6660a18-aa817996",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-generated-qbc230u7my",
        "targetId": "8617114745799841649",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:39:30.597-07:00",
        "startTime": "2026-08-17T17:39:30.621-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013570436-6594785131eac-c6660a18-aa817996"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz?alt=json
    method: DELETE
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "5131465643671819444",
        "name": "operation-1787013723732-659478e363961-e27cabdb-24ddc289",
        "zone": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a",
        "operationType": "delete",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/instances/tf-test-umm9eno9jz",
        "targetId": "5261598449751431124",
        "status": "RUNNING",
        "user": "hashicorp-test-runner@ci-test-project-188019.iam.gserviceaccount.com",
        "progress": 0,
        "insertTime": "2026-08-17T17:42:03.908-07:00",
        "startTime": "2026-08-17T17:42:03.929-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/ci-test-project-188019/zones/us-central1-a/operations/operation-1787013723732-659478e363961-e27cabdb-24ddc289"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
