{{- if ne $.Compiler "terraformgoogleconversion-codegen" }}
// waitForAgentPoolReady waits for an agent pool to leave the
// "CREATING" state and become "CREATED", to indicate that it's ready.
func waitForAgentPoolReady(d *schema.ResourceData, config *transport_tpg.Config, timeout time.Duration) error {
	return retry.Retry(timeout, func() *retry.RetryError {
		if err := resourceStorageTransferAgentPoolRead(d, config); err != nil {
			return retry.NonRetryableError(err)
		}

		name := d.Get("name").(string)
		state := d.Get("state").(string)
		if state == "CREATING" {
			return retry.RetryableError(fmt.Errorf("AgentPool %q has state %q.", name, state))
		} else if state == "CREATED" {
			log.Printf("[DEBUG] AgentPool %q has state %q.", name, state)
			return nil
		} else {
			return retry.NonRetryableError(fmt.Errorf("AgentPool %q has state %q.", name, state))
		}
	})
}
{{- end }}
