{{- if ne $.Compiler "terraformgoogleconversion-codegen" }}
// waitForNatAddressReady waits for an NatAddress to leave the
// "CREATING" state and become "RESERVED", to indicate that it's ready.
func waitForNatAddressReserved(d *schema.ResourceData, config *transport_tpg.Config, timeout time.Duration) error {
	return retry.Retry(timeout, func() *retry.RetryError {
		if err := resourceApigeeNatAddressRead(d, config); err != nil {
			return retry.NonRetryableError(err)
		}

		id := d.Id()
		state := d.Get("state").(string)
		if state == "CREATING" {
			return retry.RetryableError(fmt.Errorf("NatAddress %q has state %q.", id, state))
		} else if state == "RESERVED" {
			log.Printf("[DEBUG] NatAddress %q has state %q.", id, state)
			return nil
		} else {
			return retry.NonRetryableError(fmt.Errorf("NatAddress %q has state %q.", id, state))
		}
	})
}
{{- end }}