var icebergNamespaceIgnoredProperties = map[string]bool{
	"location": true,
}

func icebergNamespacePropertiesDiffSuppress(k, old, new string, d *schema.ResourceData) bool {
	// properties.KEY
	parts := strings.Split(k, ".")
	if len(parts) == 2 && icebergNamespaceIgnoredProperties[parts[1]] {
		return true
	}
	return false
}
