var icebergTableIgnoredProperties = map[string]bool{
	"location":                              true,
	"gcp.biglake.bigquery-advanced.enabled": true,
	"gcp.biglake.bigquery-dml.enabled":      true,
	"gcp.biglake.table-management.enabled":  true,
}

func icebergTablePropertiesDiffSuppress(k, old, new string, d *schema.ResourceData) bool {
	// properties.KEY
	parts := strings.SplitN(k, ".", 2)
	if len(parts) == 2 && icebergTableIgnoredProperties[parts[1]] && new == "" {
		return true
	}
	return false
}
