{{- if ne $.Compiler "terraformgoogleconversion-codegen" }}
// waitForRegistrationActive waits for a registration to leave the
// "REGISTRATION_PENDING" state and become "ACTIVE" or any other state.
func waitForRegistrationActive(d *schema.ResourceData, config *transport_tpg.Config, timeout time.Duration) error {
	return retry.Retry(timeout, func() *retry.RetryError {
		if err := resourceClouddomainsRegistrationRead(d, config); err != nil {
			return retry.NonRetryableError(err)
		}

		name := d.Get("name").(string)
		state := d.Get("state").(string)
		if state == "REGISTRATION_PENDING" {
			return retry.RetryableError(fmt.Errorf("Registration %q has state %q.", name, state))
		} else if state == "REGISTRATION_FAILED" {
			return retry.NonRetryableError(fmt.Errorf("Registration %q has failed with state %q.", name, state))
		} else {
			log.Printf("[DEBUG] Registration %q has state %q.", name, state)
			return nil
		}
	})
}
{{- end }}
