project, err := tpgresource.GetProject(d, config)
if err != nil {
	return fmt.Errorf("Error fetching project for NetworkFirewallPolicyAssociation: %s", err)
}
billingProject = project

err = ComputeOperationWaitTime(
	config, res, project, "NetworkFirewallPolicyAssociation operation", userAgent,
    d.Timeout(schema.TimeoutCreate))

if err != nil {
	// The resource didn't actually create
	d.SetId("")
	return fmt.Errorf("Error waiting for NetworkFirewallPolicyAssociation operation: %s", err)
}