// Compare only the relative path from 'regions' of two IP collection links
func AddressIpCollectionDiffSuppress(_, old, new string, d *schema.ResourceData) bool {
	oldStripped, err := GetRelativePath(old)
	if err != nil {
		return false
	}

	newStripped, err := GetRelativePath(new)
	if err != nil {
		return false
	}

	if oldStripped == newStripped {
		return true
	}
	return false
}

func GetRelativePath(resourceLink string) (string, error) {
	stringParts := strings.SplitAfterN(resourceLink, "regions/", 2)
	if len(stringParts) != 2 {
		return "", fmt.Errorf("String is not a valid link: %s", resourceLink)
	}

	return "regions/" + stringParts[1], nil
}
