// sha256DiffSuppress
// if old is the hex-encoded sha256 sum of new, treat them as equal
func sha256DiffSuppress(_, old, new string, _ *schema.ResourceData) bool {
	h := sha256.Sum256([]byte(old))
	return hex.EncodeToString(h[:]) == new
}