
func memorystoreInstancedDesiredAutoConnectionsDiffSuppress(k, old, new string, d *schema.ResourceData) bool {
	// Suppress diff wis to handle an edge case where desired_auto_created_endpoints in addtion to desired_psc_auto_connections are both set with same values
	// this is due to how the api reponds when mode is set to CLUSTER_DISABLED and desired_psc_auto_connections is set.
	log.Printf("[DEBUG] desired_auto_created_endpoints is set in state but not in config, supressing force new recreate")

	oldAuto, newAuto := d.GetChange("desired_auto_created_endpoints")

	if reflect.DeepEqual(oldAuto, newAuto) && !tpgresource.IsEmptyValue(reflect.ValueOf(oldAuto)) && !tpgresource.IsEmptyValue(reflect.ValueOf(newAuto)) {
		return true
	}

	return false
}