
var sensitiveLabels = []string{"auth_token", "service_key", "password"}
var writeOnlySensitiveLabels = []string{"auth_token_wo_version", "service_key_wo_version", "password_wo_version"}

func sensitiveLabelCustomizeDiff(_ context.Context, diff *schema.ResourceDiff, v interface{}) error {
	for _, sl := range append(sensitiveLabels, writeOnlySensitiveLabels...) {
        l := strings.TrimSuffix(sl, "_wo")
        l = strings.TrimSuffix(l, "_wo_version")
        val := diff.Get("labels." + l).(string)
        sensitiveVal := diff.Get("sensitive_labels.0." + sl).(string)
        if val != "" && sensitiveVal != "" {
            return fmt.Errorf("Sensitive label %q cannot be set at the same time as label %q.", sl, l)
        }
    }
    return nil
}
