func validateMonitoringSloGoal(v interface{}, k string) (warnings []string, errors []error) {
	goal := v.(float64)
	if goal <= 0 || goal > 0.9999 {
		errors = append(errors, fmt.Errorf("goal %f must be > 0 and <= 0.9999", goal))
	}
	return
}

func validateAvailabilitySli(v interface{}, key string) (ws []string, errs []error) {
		if v.(bool) == false {
			errs = append(errs, fmt.Errorf("%q must be set to true, got: %v", key, v))
		}
		return
}
