// diffsuppress for enableHotTierAutoResize field
func enableHotTierAutoResizeDiffSuppress(_, old, new string, d *schema.ResourceData) bool {
    allowAutoTiering, ok := d.GetOk("allowAutoTiering")
    if ok {
		if allowAutoTieringBool, isBool := allowAutoTiering.(bool); isBool {
			if !allowAutoTieringBool {
				// If allowAutoTiering is false, don't suppress the diff for enableHotTierAutoResize.
				return false
			}
		}
	}
    if old == "true" && new == "" {
		return true
    }
   return false
}