// Get the wait time for creation sleep
// Use the time.Now().Nanosecond()
// It reverts the nanoseconds and multiply by a random number
// Return the duration to use
func get_sleep_time(nanosec int) time.Duration {
	reverse_nano := reverse_int(nanosec)
	return (time.Duration(reverse_nano) * time.Microsecond)
}

// Flip integer number order
func reverse_int(n int) int {
	new_int := 0
	for n > 0 {
		remainder := n % 10
		new_int *= 10
		new_int += remainder
		n /= 10
	}
	return new_int * 100
	return new_int
}