const deletedRegexp = `^deleted:`

func validateDeletedPrincipals(v interface{}, k string) (ws []string, errors []error) {
    value := v.(string)
    if regexp.MustCompile(deletedRegexp).MatchString(value) {
       errors = append(errors, fmt.Errorf(
            "Terraform does not support IAM policies for deleted principals: %s", k))
    }

    return
}

const entitlementIdRegexp = `^[a-z][a-z0-9-]{3,62}$`

func validateEntitlementId(v interface{}, k string) (ws []string, errors []error) {
    value := v.(string)
    if !regexp.MustCompile(entitlementIdRegexp).MatchString(value) {
       errors = append(errors, fmt.Errorf(
            "Entitlement Id should be 4-63 characters, and valid characters are '[a-z]', '[0-9]', and '-'. The first character should be from [a-z]. : %s", k))
    }

    return
}
