func recomputeMessageStoragePolicy(_ context.Context, diff *schema.ResourceDiff, meta interface{}) error {
	// on create, return immediately as we don't need to determine if the value is empty or not
	if diff.Id() == "" {
		return nil
	}
  // If recompute_message_storage_policy is not being changed from false to true, return immediately.
	old, new := diff.GetChange("recompute_message_storage_policy")
	if old != false || new != true {
		return nil
	}
	configMessageStoragePolicy := diff.GetRawConfig().GetAttr("message_storage_policy")
	if !configMessageStoragePolicy.IsKnown() {
		return nil
	}
	configValueIsEmpty := configMessageStoragePolicy.IsNull() || configMessageStoragePolicy.LengthInt() == 0
	if configValueIsEmpty {
		log.Printf("[DEBUG] recalculating message storage policy as recompute_message_storage_policy is newly set to true and message_storage_policy is empty")
		diff.SetNew("message_storage_policy", make([]interface{}, 0))
	}

	return nil
}