{{- if ne $.Compiler "terraformgoogleconversion-codegen" }}
func setEnabled(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) error {
	name := d.Get("name").(string)
	if name == "" {
		return nil
	}

	url, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}SecretManagerRegionalBasePath{{"}}"}}{{"{{"}}name{{"}}"}}")
	if err != nil {
		return err
	}
	if v == true {
		url = fmt.Sprintf("%s:enable", url)
	} else {
		url = fmt.Sprintf("%s:disable", url)
	}

	parts := strings.Split(name, "/")
	project := parts[1]

	userAgent, err :=  tpgresource.GenerateUserAgentString(d, config.UserAgent)
	if err != nil {
		return err
	}

	_, err = transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config: config,
		Method: "POST",
		Project: project,
		RawURL: url,
		UserAgent: userAgent,
	})
	return err
}
{{- end }}
