// SnapshotKmsKeyDiffSuppress suppresses diffs between base KMS keys, self-links, and versioned keys
func SnapshotKmsKeyDiffSuppress(_, old, new string, _ *schema.ResourceData) bool {
	oldStripped, err := tpgresource.GetRelativePath(old)
	if err != nil {
		oldStripped = old
	}
	newStripped, err := tpgresource.GetRelativePath(new)
	if err != nil {
		newStripped = new
	}

	oldKey := strings.Split(oldStripped, "/cryptoKeyVersions")[0]
	newKey := strings.Split(newStripped, "/cryptoKeyVersions")[0]

	return oldKey == newKey
}
