{{/*
	The license inside this block applies to this file
	Copyright 2024 Google Inc.
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/ -}}
func replicasHash(v interface{}) int {
	var buf bytes.Buffer
	m := v.(map[string]interface{})
	buf.WriteString(fmt.Sprintf("%s-", strings.ToLower(m["location"].(string)))) // ToLower just in case
	buf.WriteString(fmt.Sprintf("%s-", strings.ToLower(m["type"].(string))))
	var isLeader interface{}
	if m["defaultLeaderLocation"] != nil {
		isLeader = m["defaultLeaderLocation"]
	} else {
		isLeader = false
	}
	buf.WriteString(fmt.Sprintf("%v-", isLeader.(bool)))
	return tpgresource.Hashcode(buf.String())
}

func getBaseInstanceConfigReplicas(d *schema.ResourceData, config *transport_tpg.Config, baseConfigProp interface{}, billingProject, userAgent string) ([]interface{}, error) {
	url, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}SpannerBasePath{{"}}"}}")
	if err != nil {
		return nil, err
	}

	headers := make(http.Header)
	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config:    config,
		Method:    "GET",
		Project:   billingProject,
		RawURL:    fmt.Sprintf("%s%s", url, baseConfigProp.(string)),
		UserAgent: userAgent,
		Timeout:   d.Timeout(schema.TimeoutCreate),
		Headers:   headers,
	})
	if err != nil {
		return nil, fmt.Errorf("Error fetching base InstanceConfig: %s", err)
	}

	data, ok := res["replicas"]
	if !ok || data == nil {
		log.Print("[DEBUG] No replicas in the base InstanceConfig.")
		return nil, nil
	}

	return data.([]interface{}), nil
}
