data "google_project" "project" {}

resource "google_sql_database_instance" "instance" {
  name             = "{{index $.ResourceIdVars "instance_name"}}"
  region           = "us-central1"
  database_version = "POSTGRES_15"

  settings {
    tier    = "db-f1-micro"
    edition = "ENTERPRISE"
  }

  deletion_protection = false
}

resource "google_sql_user" "user" {
  name     = "{{index $.ResourceIdVars "user_name"}}"
  instance = google_sql_database_instance.instance.name
  password = "initial-password-rotated-by-secret-manager"
}

resource "google_secret_manager_regional_secret" "secret" {
  secret_id   = "{{index $.ResourceIdVars "secret_id"}}"
  location    = "us-central1"
  secret_type = "CLOUD_SQL_DB_CREDENTIALS"
}

resource "google_project_iam_member" "secret_cloudsql_access" {
  project = data.google_project.project.project_id
  role    = "roles/cloudsql.admin"
  member  = google_secret_manager_regional_secret.secret.policy_member[0].iam_policy_uid_principal
}

resource "google_secret_manager_regional_secret_managed_rotation" "{{$.PrimaryResourceId}}" {
  secret_id = google_secret_manager_regional_secret.secret.secret_id
  location  = google_secret_manager_regional_secret.secret.location

  cloud_sql_single_user_credentials {
    instance_id = google_sql_database_instance.instance.name
    username    = google_sql_user.user.name
  }

  depends_on = [google_project_iam_member.secret_cloudsql_access]
}
