# Copyright 2017 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# Projects tasks being skipped verification by presubmit
#
codegen = 80_chars:forgive |products/compute/puppet.yaml|homepage:|
codegen = 80_chars:forgive |products/container/puppet.yaml|homepage:|
codegen = 80_chars:forgive |products/dns/puppet.yaml|homepage:|
codegen = 80_chars:forgive |products/sql/puppet.yaml|homepage:|
codegen = 80_chars:forgive |products/storage/puppet.yaml|homepage:|
codegen = 80_chars:forgive |products/_bundle/templates/puppet/README.md.erb|\\[google-gauth]:|
codegen = 80_chars:forgive |products/_bundle/templates/chef/README.md.erb|\\[google-gauth]:|
codegen = 80_chars:forgive |products/compute/puppet.yaml|test: InstanceTemplate|
codegen = 80_chars:forgive |products/compute/chef.yaml|test: InstanceTemplate|
codegen = 80_chars:forgive |products/compute/chef.yaml|.*name:.*network_interfaces.*|
codegen = 80_chars:forgive |products/compute/test.yaml|.*subnetworkRangeName|
chef/auth = compile:skip
chef/auth = rubocop:noflag
chef/compute = 80_chars:forgive |spec/disk_provider_spec.rb|source_.*data|
chef/compute = 80_chars:forgive |spec/region_provider_spec.rb|deprecated.*data|
chef/compute = 80_chars:forgive |spec/backend_service_provider_spec.rb|group.*resource(instance|
chef/storage = 80_chars:forgive |spec/bucket_spec.rb|matches_storage_class.*|
chef/container = 80_chars:forgive |spec/cluster_spec.rb|cluster.*cluster_ca.*data|
chef/container = 80_chars:forgive |spec/node_pool_spec.rb|auto_upgrade_start_time.*|
chef/container = 80_chars:forgive |metadata.rb|issues_url.*|
chef/sql = 80_chars:forgive |spec/instance_spec.rb|service_account_email_address.*address.*|
chef/sql = 80_chars:forgive |spec/instance_spec.rb|client_certificate.*certificate.*data.*|
chef/sql = 80_chars:forgive |spec/instance_spec.rb|serviceAccountEmailAddress.*service.*data.*|
puppet/sql = 80_chars:forgive |spec/gsql_instance_provider_spec.rb|service_account_email_address => .*address.*|
puppet/sql = 80_chars:forgive |spec/gsql_instance_provider_spec.rb|client_certificate.*=> '.*certificate.*data.*|
puppet/sql = 80_chars:forgive |spec/gsql_instance_provider_spec.rb|serviceAccountEmailAddress.*=> '.*service.*data.*|
puppet/auth = compile:skip
puppet/auth = rubocop:noflag
puppet/compute = 80_chars:forgive |spec/gcompute_disk_provider_spec.rb|source_.*=>.*data|
puppet/compute = 80_chars:forgive |spec/gcompute_region_provider_spec.rb|deprecated.*=>.*data|
puppet/compute = 80_chars:forgive |spec/gcompute_backend_service_provider_spec.rb|group.*=>.*resource(instance|
puppet/container = 80_chars:forgive |spec/gcontainer_cluster_provider_spec.rb|cluster.*=>.*cluster_ca.*data|
puppet/logging = compile:skip
puppet/sql = 80_chars:forgive |spec/gsql_instance_provider_spec.rb|service_account_email_address => .*address.*|
puppet/sql = 80_chars:forgive |spec/gsql_instance_provider_spec.rb|client_certificate.*=> '.*certificate.*data.*|
puppet/sql = 80_chars:forgive |spec/gsql_instance_provider_spec.rb|serviceAccountEmailAddress.*=> '.*service.*data.*|
puppet/storage = 80_chars:forgive |spec/gstorage_bucket_provider_spec.rb|matches_storage_class.*=>|
# vim:tw=120:
