data "google_project" "project" {}

resource "google_pubsub_topic" "primary" {
  name = "{{index $.ResourceIdVars "metadata_feed_id"}}-topic"
}

resource "google_pubsub_topic_iam_member" "primary_publisher" {
  topic  = google_pubsub_topic.primary.name
  role   = "roles/pubsub.publisher"
  member = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-dataplex.iam.gserviceaccount.com"
}

resource "google_pubsub_topic_iam_member" "primary_viewer" {
  topic  = google_pubsub_topic.primary.name
  role   = "roles/pubsub.viewer"
  member = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-dataplex.iam.gserviceaccount.com"

  depends_on = [google_pubsub_topic_iam_member.primary_publisher]
}

resource "google_dataplex_entry_type" "type" {
  entry_type_id = "{{index $.ResourceIdVars "metadata_feed_id"}}-type"
  project       = "{{index $.TestEnvVars "project_name"}}"
  location      = "us-central1"
}

resource "google_dataplex_aspect_type" "aspect" {
  aspect_type_id = "{{index $.ResourceIdVars "metadata_feed_id"}}-aspect"
  project        = "{{index $.TestEnvVars "project_name"}}"
  location       = "us-central1"

  metadata_template = <<EOF
{
  "name": "tf-test-template",
  "type": "record",
  "recordFields": [
    {
      "name": "type",
      "type": "enum",
      "annotations": {
        "displayName": "Type",
        "description": "Specifies the type of view represented by the entry."
      },
      "index": 1,
      "constraints": {
        "required": true
      },
      "enumValues": [
        {
          "name": "VIEW",
          "index": 1
        }
      ]
    }
  ]
}
EOF
}

resource "google_dataplex_metadata_feed" "primary" {
  metadata_feed_id = "{{index $.ResourceIdVars "metadata_feed_id"}}"
  location         = "us-central1"
  project          = "{{index $.TestEnvVars "project_name"}}"
  pubsub_topic     = google_pubsub_topic.primary.id

  labels = {
    foo = "{{index $.Vars "label_val"}}"
  }

  filters {
    aspect_types = ["projects/${data.google_project.project.number}/locations/us-central1/aspectTypes/${google_dataplex_aspect_type.aspect.aspect_type_id}"]
    change_types = ["CREATE"]
    entry_types  = ["projects/${data.google_project.project.number}/locations/us-central1/entryTypes/${google_dataplex_entry_type.type.entry_type_id}"]
  }

  scope {
    projects = ["projects/${data.google_project.project.number}"]
  }

  depends_on = [
    google_pubsub_topic_iam_member.primary_publisher,
    google_pubsub_topic_iam_member.primary_viewer
  ]
}
