resource "google_logging_log_view" "primary" {
  name        = "{{view}}"
  bucket      = google_logging_project_bucket_config.basic.id
  description = "A logging view configured with Terraform"
  filter      = "SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\" AND LOG_ID(\"stdout\")"
}

resource "google_logging_project_bucket_config" "basic" {
    project        = "{{project}}"
    location       = "global"
    retention_days = 30
    bucket_id      = "_Default"
}
