resource "google_agentic_applications_analyst_agent_persona" "{{$.PrimaryResourceId}}" {
  location                 = "us"
  analyst_agent_persona_id = "{{index $.ResourceIdVars "persona_id"}}"
  display_name             = "{{index .Vars "display_name"}}"
  display_description      = "Sample analyst agent persona description"
  customer_context         = ["{{index .Vars "customer_context"}}", "{{index .Vars "additional_context"}}"]
  model_description        = "Sample model description"
  role                     = "ANALYST_ROLE_GENERIC_FINANCE_ANALYST"

  artifact_examples {
    resource {
      display_label     = "sample_raw_file"
      model_description = "Sample artifact resource model description"
      use_rag           = false
      raw_file_resource {
        file_title   = "{{index .Vars "file_title"}}"
        file_content = "UTEgUmV2ZW51ZTogMTAwTQ=="
        mime_type    = "text/plain"
      }
    }
  }

  skills {
    skill_id    = "finance_analysis_skill"
    description = "{{index .Vars "skill_description"}}"
    content     = "# Finance Analysis\nAnalyze financial data."
  }
}
