resource "google_agentic_applications_analyst_agent_persona" "{{$.PrimaryResourceId}}" {
  location                 = "us"
  analyst_agent_persona_id = "tf-acc-test-{{index .Vars "random_suffix"}}"
  display_name             = "Full Test Analyst Persona Updated"
  display_description      = "Updated full analyst agent persona description"
  customer_context         = ["Sample customer context for testing", "Updated customer context"]
  model_description        = "Updated model description"
  role                     = "ANALYST_ROLE_GENERIC_FINANCE_ANALYST"

  artifact_examples {
    resource {
      display_label     = "sample_raw_file"
      model_description = "Updated artifact resource model description"
      use_rag           = false
      raw_file_resource {
        file_title   = "example_doc_updated.txt"
        file_content = "UTEgUmV2ZW51ZTogMTAwTQ=="
        mime_type    = "text/plain"
      }
    }
  }

  artifact_examples {
    resource {
      display_label     = "sample_bq"
      model_description = "Sample BQ model description"
      use_rag           = false
      bigquery_resource {
        bigquery_dataset = "projects/scottspin/datasets/my_dataset"
      }
    }
  }

  artifact_examples {
    resource {
      display_label     = "sample_bq_table"
      model_description = "Sample BQ table model description"
      use_rag           = false
      bigquery_resource {
        bigquery_table      = "projects/scottspin/datasets/my_dataset/tables/my_table"
      }
    }
  }

  artifact_examples {
    resource {
      display_label     = "sample_f1"
      model_description = "Sample F1 model description"
      use_rag           = false
      f1_resource {
        f1_table = "projects/scottspin/locations/global/instances/my_inst/databases/my_db/tables/my_table"
      }
    }
  }

  artifact_examples {
    resource {
      display_label     = "sample_gcs"
      model_description = "Sample GCS model description"
      use_rag           = false
      google_cloud_storage_resource {
        google_cloud_storage_object = "gs://my-bucket/my-file.txt"
        file_extension_restrictions = ["txt"]
      }
    }
  }

  artifact_examples {
    resource {
      display_label     = "sample_gdrive"
      model_description = "Sample GDrive model description"
      use_rag           = false
      google_drive_resource {
        file_reference              = "https://drive.google.com/file/d/12345"
        file_extension_restrictions = ["txt"]
      }
    }
  }

  artifacts_config {
    document_generation_options {
      export_format = "EXPORT_FORMAT_UNSPECIFIED"
      document_examples {
        resource {
          display_label     = "doc_example_raw"
          model_description = "Updated doc raw description"
          use_rag           = false
          raw_file_resource {
            file_title   = "doc_updated.txt"
            file_content = "UTEgUmV2ZW51ZTogMTAwTQ=="
            mime_type    = "text/plain"
          }
        }
      }
      document_examples {
        resource {
          display_label     = "doc_example_bq"
          model_description = "Sample doc BQ description"
          use_rag           = false
          bigquery_resource {
            bigquery_dataset = "projects/scottspin/datasets/my_dataset"
          }
        }
      }
      document_examples {
        resource {
          display_label     = "doc_example_bq_table"
          model_description = "Sample doc BQ table description"
          use_rag           = false
          bigquery_resource {
            bigquery_table      = "projects/scottspin/datasets/my_dataset/tables/my_table"
            column_descriptions = { "col1" = "desc1" }
          }
        }
      }
      document_examples {
        resource {
          display_label     = "doc_example_f1"
          model_description = "Sample doc F1 description"
          use_rag           = false
          f1_resource {
            f1_table = "projects/scottspin/locations/global/instances/my_inst/databases/my_db/tables/my_table"
          }
        }
      }
      document_examples {
        resource {
          display_label     = "doc_example_gcs"
          model_description = "Sample doc GCS description"
          use_rag           = false
          google_cloud_storage_resource {
            google_cloud_storage_object = "gs://my-bucket/my-file.txt"
            file_extension_restrictions = ["txt"]
          }
        }
      }
      document_examples {
        resource {
          display_label     = "doc_example_gdrive"
          model_description = "Sample doc GDrive description"
          use_rag           = false
          google_drive_resource {
            file_reference              = "https://drive.google.com/file/d/12345"
            file_extension_restrictions = ["txt"]
          }
        }
      }
    }
    slide_generation_options {
      export_format = "EXPORT_FORMAT_UNSPECIFIED"
      slide_examples {
        resource {
          display_label     = "slide_example_raw"
          model_description = "Updated slide raw description"
          use_rag           = false
          raw_file_resource {
            file_title   = "slide_updated.txt"
            file_content = "UTEgUmV2ZW51ZTogMTAwTQ=="
            mime_type    = "text/plain"
          }
        }
      }
      slide_examples {
        resource {
          display_label     = "slide_example_bq"
          model_description = "Sample slide BQ description"
          use_rag           = false
          bigquery_resource {
            bigquery_dataset = "projects/scottspin/datasets/my_dataset"
          }
        }
      }
      slide_examples {
        resource {
          display_label     = "slide_example_bq_table"
          model_description = "Sample slide BQ table description"
          use_rag           = false
          bigquery_resource {
            bigquery_table      = "projects/scottspin/datasets/my_dataset/tables/my_table"
            column_descriptions = { "col1" = "desc1" }
          }
        }
      }
      slide_examples {
        resource {
          display_label     = "slide_example_f1"
          model_description = "Sample slide F1 description"
          use_rag           = false
          f1_resource {
            f1_table = "projects/scottspin/locations/global/instances/my_inst/databases/my_db/tables/my_table"
          }
        }
      }
      slide_examples {
        resource {
          display_label     = "slide_example_gcs"
          model_description = "Sample slide GCS description"
          use_rag           = false
          google_cloud_storage_resource {
            google_cloud_storage_object = "gs://my-bucket/my-file.txt"
            file_extension_restrictions = ["txt"]
          }
        }
      }
      slide_examples {
        resource {
          display_label     = "slide_example_gdrive"
          model_description = "Sample slide GDrive description"
          use_rag           = false
          google_drive_resource {
            file_reference              = "https://drive.google.com/file/d/12345"
            file_extension_restrictions = ["txt"]
          }
        }
      }
    }
    visualization_options {
      visualization_examples {
        visualization_type = "VISUALIZATION_TYPE_UNSPECIFIED"
        resource {
          display_label     = "viz_example_raw"
          model_description = "Updated viz raw description"
          use_rag           = false
          raw_file_resource {
            file_title   = "viz_updated.txt"
            file_content = "UTEgUmV2ZW51ZTogMTAwTQ=="
            mime_type    = "text/plain"
          }
        }
      }
      visualization_examples {
        visualization_type = "VISUALIZATION_TYPE_UNSPECIFIED"
        resource {
          display_label     = "viz_example_bq"
          model_description = "Sample viz BQ description"
          use_rag           = false
          bigquery_resource {
            bigquery_dataset = "projects/scottspin/datasets/my_dataset"
          }
        }
      }
      visualization_examples {
        visualization_type = "VISUALIZATION_TYPE_UNSPECIFIED"
        resource {
          display_label     = "viz_example_bq_table"
          model_description = "Sample viz BQ table description"
          use_rag           = false
          bigquery_resource {
            bigquery_table      = "projects/scottspin/datasets/my_dataset/tables/my_table"
            column_descriptions = { "col1" = "desc1" }
          }
        }
      }
      visualization_examples {
        visualization_type = "VISUALIZATION_TYPE_UNSPECIFIED"
        resource {
          display_label     = "viz_example_f1"
          model_description = "Sample viz F1 description"
          use_rag           = false
          f1_resource {
            f1_table = "projects/scottspin/locations/global/instances/my_inst/databases/my_db/tables/my_table"
          }
        }
      }
      visualization_examples {
        visualization_type = "VISUALIZATION_TYPE_UNSPECIFIED"
        resource {
          display_label     = "viz_example_gcs"
          model_description = "Sample viz GCS description"
          use_rag           = false
          google_cloud_storage_resource {
            google_cloud_storage_object = "gs://my-bucket/my-file.txt"
            file_extension_restrictions = ["txt"]
          }
        }
      }
      visualization_examples {
        visualization_type = "VISUALIZATION_TYPE_UNSPECIFIED"
        resource {
          display_label     = "viz_example_gdrive"
          model_description = "Sample viz GDrive description"
          use_rag           = false
          google_drive_resource {
            file_reference              = "https://drive.google.com/file/d/12345"
            file_extension_restrictions = ["txt"]
          }
        }
      }
    }
  }

  external_data_sources {
    enabled = true
  }

  mcp_data_sources {
    server_url      = "https://mcp.example.com"
    display_name    = "Updated MCP Source"
    description     = "Updated MCP data source description"
    enabled         = true
    prompt          = "Use this server for updated queries"
    api_key         = "sample-api-key"
    api_key_name    = "x-api-key"
    client_id       = "sample-client-id"
    client_secret   = "sample-client-secret"
    oauth_token_url = "https://example.com/oauth/token"
  }

  resources {
    display_label     = "sample_raw_file_full"
    model_description = "Updated Resource model description"
    use_rag           = false
    raw_file_resource {
      file_title   = "financial_summary_updated.txt"
      file_content = "UTEgUmV2ZW51ZTogMTAwTQ=="
      mime_type    = "text/plain"
    }
  }

  resources {
    display_label     = "sample_bq_dataset_resource"
    model_description = "BigQuery dataset resource description"
    use_rag           = false
    bigquery_resource {
      bigquery_dataset = "projects/scottspin/datasets/my_dataset"
    }
  }

  resources {
    display_label     = "sample_bq_table_resource"
    model_description = "BigQuery table resource description"
    use_rag           = false
    bigquery_resource {
      bigquery_table      = "projects/scottspin/datasets/my_dataset/tables/my_table"
      column_descriptions = { "col1" = "desc1" }
    }
  }

  resources {
    display_label     = "sample_f1_resource"
    model_description = "F1 resource description"
    use_rag           = false
    f1_resource {
      f1_table = "projects/scottspin/locations/global/instances/my_inst/databases/my_db/tables/my_table"
    }
  }

  resources {
    display_label     = "sample_gcs_resource"
    model_description = "GCS resource description"
    use_rag           = false
    google_cloud_storage_resource {
      google_cloud_storage_object = "gs://my-bucket/my-file.txt"
      file_extension_restrictions = ["txt"]
    }
  }

  resources {
    display_label     = "sample_gdrive_resource"
    model_description = "GDrive resource description"
    use_rag           = false
    google_drive_resource {
      file_reference              = "https://drive.google.com/file/d/12345"
      file_extension_restrictions = ["txt"]
    }
  }

  skills {
    skill_id    = "finance_analysis_skill"
    description = "Updated skill description for finance analysis"
    content     = "# Finance Analysis\nAnalyze financial data updated."
    references {
      reference_id = "ref_1"
      content      = "Updated Reference content for skill"
    }
  }

  tables {
    name        = "sample_table"
    description = "Updated table description"
    columns {
      name        = "column_1"
      description = "First column description updated"
      data_type   = "STRING"
    }
  }
}
