func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
    if v == nil {
        return v
    }
    b, err := strconv.ParseBool(v.(string))
    if err != nil {
        // If we can't convert it into a bool return value as is and let caller handle it
        return v
    }
    return b
}
