func resourceHypercomputeclusterClusterResourceHash(v interface{}) int {
    var buf bytes.Buffer
    m := v.(map[string]interface{})
    if v, ok := m["id"]; ok {
        buf.WriteString(fmt.Sprintf("%s-", v.(string)))
    }
    return schema.HashString(buf.String())
}

func hypercomputeclusterClusterCustomizeDiff(_ context.Context, d *schema.ResourceDiff, meta interface{}) error {
    if d.Id() == "" {
        v, ok := d.GetOk("network_resources")
        if !ok {
            return fmt.Errorf("network_resources: At least one network_resources entry must be specified for cluster creation")
        }

        networkMap, ok := v.(map[string]interface{})
        if !ok {
             return fmt.Errorf("network_resources: internal error - unexpected type: %T, expected map[string]interface{}", v)
        }

        if len(networkMap) == 0 {
            return fmt.Errorf("network_resources: network_resources map is empty, at least one entry must be specified for cluster creation")
        }
    }
    return nil
}
