resource "google_active_directory_peering" "ad-domain-peering" {
    provider           = google-beta
    domain_resource    = google_active_directory_domain.ad-domain.name
    peering_id         = "ad-domain-peering"
    authorized_network = google_compute_network.peered-network.id
    deletion_protection = false
    labels             = {
        foo = "bar"
    }
}

resource "google_active_directory_domain" "ad-domain" {
    provider            = google-beta
    domain_name         = "{{index $.Vars "domain_name"}}"
    locations           = ["us-central1"]
    reserved_ip_range   = "192.168.255.0/24"
    authorized_networks = [google_compute_network.source-network.id]
    deletion_protection = false
}

resource "google_compute_network" "peered-network" {
    provider = google-beta
    project  = google_project_service.compute.project
    name     = "ad-peered-network"
}

resource "google_compute_network" "source-network" {
    provider = google-beta
    name     = "ad-network"
}

resource "google_project_service" "compute" {
    provider = google-beta
    project  = google_project.peered-project.project_id
    service  = "compute.googleapis.com"
}

resource "google_project" "peered-project" {
    provider        = google-beta
    name            = "{{index $.Vars "project_id"}}"
    project_id      = "{{index $.Vars "project_id"}}"
    org_id          = "{{index $.TestEnvVars "org_id"}}"
    billing_account = "{{index $.TestEnvVars "billing_account"}}"
    deletion_policy = "DELETE"
}