resource "google_artifact_registry_repository" "{{$.PrimaryResourceId}}" {
  location      = "us-central1"
  repository_id = "{{index $.Vars "repository_id"}}"
  description   = "{{index $.Vars "desc"}}"
  format        = "YUM"
  mode          = "REMOTE_REPOSITORY"
  remote_repository_config {
    description = "Rocky 9 remote repository"
    yum_repository {
      public_repository {
        repository_base = "ROCKY"
        repository_path = "pub/rocky/9/BaseOS/x86_64/os"
      }
    }
  }
}
