resource "google_compute_backend_service" "{{$.PrimaryResourceId}}" {
  name          = "{{index $.Vars "backend_service_name"}}"
  health_checks = [google_compute_http_health_check.default.id]
  protocol              = "UNSPECIFIED"
  region                = "us-central1"
  load_balancing_scheme = "INTERNAL"
  timeout_sec           = 30
}

resource "google_compute_http_health_check" "default" {
  name               = "{{index $.Vars "http_health_check_name"}}"
  request_path       = "/"
  check_interval_sec = 1
  timeout_sec        = 1
}
