resource "google_compute_network" "default" {
  provider = google-beta
  name = "{{index $.Vars "network_name"}}"
}

resource "google_compute_global_address" "private_ip_address" {
  provider = google-beta
  name          = "{{index $.Vars "network_name"}}"
  address_type  = "INTERNAL"
  purpose       = "VPC_PEERING"
  prefix_length = 20
  network       = google_compute_network.default.id
}

resource "google_service_networking_connection" "default" {
  provider = google-beta
  network                 = google_compute_network.default.id
  service                 = "servicenetworking.googleapis.com"
  reserved_peering_ranges = [google_compute_global_address.private_ip_address.name]
}

resource "google_backup_dr_management_server" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us-central1"
  name     = "{{index $.Vars "managementserver_name"}}"
  type     = "BACKUP_RESTORE" 
  networks {
    network      = google_compute_network.default.id
    peering_mode = "PRIVATE_SERVICE_ACCESS"
  }
  depends_on = [ google_service_networking_connection.default ]
}
