resource "google_beyondcorp_app_gateway" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "app_gateway_name"}}"
  type = "TCP_PROXY"
  region = "us-central1"
  display_name = "{{index $.Vars "display_name"}}"
  labels = {
    foo = "bar"
    bar = "baz"
  }
  host_type = "GCP_REGIONAL_MIG"
}
