resource "google_bigquery_connection" "{{$.PrimaryResourceId}}" {
   connection_id = "{{index $.Vars "connection_id"}}"
   location      = "aws-us-east-1"
   friendly_name = "👋"
   description   = "a riveting description"
   aws { 
      access_role {
         iam_role_id =  "{{index $.Vars "iam_role_id"}}"
      }
   }
}