data "google_billing_account" "account" {
  billing_account = "{{index $.TestEnvVars "billing_acct"}}"
}

resource "google_billing_budget" "{{$.PrimaryResourceId}}" {
  billing_account = data.google_billing_account.account.id
  display_name = "{{index $.Vars "display_name"}}"
  amount {
    specified_amount {
      currency_code = "USD"
      units = "100000"
    }
  }
  threshold_rules {
      threshold_percent =  0.5
  }
}
