resource "google_project" "project" {
  project_id = "tf-test%{random_suffix}"
  name       = "tf-test%{random_suffix}"
  org_id     = "{{index $.TestEnvVars "org_id"}}"
  deletion_policy = "DELETE"
  lifecycle {
    ignore_changes = [billing_account]
  }
}

resource "google_billing_project_info" "{{$.PrimaryResourceId}}" {
  project         = google_project.project.project_id
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
}
