data "google_billing_account" "account" {
  billing_account = "{{index $.TestEnvVars "billing_acct"}}"
}

resource "google_billing_budget" "{{$.PrimaryResourceId}}" {
  billing_account = data.google_billing_account.account.id
  display_name = "{{index $.Vars "display_name"}}"

  amount {
    specified_amount {
      currency_code = "USD"
      units = "100000"
    }
  }

  all_updates_rule {
    disable_default_iam_recipients = true
    pubsub_topic = google_pubsub_topic.{{$.PrimaryResourceId}}.id
  }

  ownership_scope = "BILLING_ACCOUNT"
}

resource "google_pubsub_topic" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "topic_name"}}"
}