resource "google_certificate_manager_certificate" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "cert_name"}}"
  description = "regional managed certs"
  location = "us-central1"
  managed {
    domains = [
      google_certificate_manager_dns_authorization.instance.domain,
      ]
    dns_authorizations = [
      google_certificate_manager_dns_authorization.instance.id,
      ]
  }
}
resource "google_certificate_manager_dns_authorization" "instance" {
  name        = "{{index $.Vars "dns_auth_name"}}"
  location    = "us-central1"
  description = "The default dnss"
  domain      = "{{index $.Vars "dns_auth_subdomain"}}.hashicorptest.com"
}