resource "google_cloudbuild_trigger" "{{$.PrimaryResourceId}}" {
  location = "us-central1"
  name     = "{{$.PrimaryResourceId}}"
  filename = "cloudbuild.yaml"

  github {
    owner = "hashicorp"
    name  = "terraform-provider-google-beta"
    push {
      branch = "^main$"
    }
  }

  include_build_logs = "INCLUDE_BUILD_LOGS_WITH_STATUS"
}
