resource "google_cloud_run_v2_service" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "cloud_run_service_name"}}"
  location = "us-central1"
  deletion_protection = false
  launch_stage = "GA"
  template {
    containers {
      image = "us-docker.pkg.dev/cloudrun/container/hello"
    }
    vpc_access{
      network_interfaces {
        network = "default"
        subnetwork = "default"
        tags = ["tag1", "tag2", "tag3"]
      }
    }
  }
}
