resource "google_cloudbuild_trigger" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "cloudbuild_trigger_name"}}"

  source_to_build {
    uri       = "https://hashicorp/terraform-provider-google-beta"
    ref       = "refs/heads/main"
    repo_type = "GITHUB"
    github_enterprise_config = "projects/myProject/locations/global/githubEnterpriseConfigs/configID"
}

git_file_source {
    path      = "cloudbuild.yaml"
    uri       = "https://hashicorp/terraform-provider-google-beta"
    revision  = "refs/heads/main"
    repo_type = "GITHUB"
    github_enterprise_config = "projects/myProject/locations/global/githubEnterpriseConfigs/configID"
  }
}
