resource "google_cloudbuildv2_connection" "my-connection" {
  location = "us-central1"
  name = "{{index $.Vars "cloudbuildv2_connection_name"}}"

  github_config {
    app_installation_id = {{index $.Vars "installation_id"}}
    authorizer_credential {
      oauth_token_secret_version = "{{index $.Vars "pat_secret"}}"
    }
  }
}

resource "google_cloudbuildv2_repository" "my-repository" {
  name = "{{index $.Vars "cloudbuildv2_repo_name"}}"
  parent_connection = google_cloudbuildv2_connection.my-connection.id
  remote_uri = "{{index $.Vars "repo_uri"}}"
}

resource "google_cloudbuild_trigger" "{{$.PrimaryResourceId}}" {
  location = "us-central1"

  repository_event_config {
    repository = google_cloudbuildv2_repository.my-repository.id
    push {
      branch = "feature-.*"
    }
  }

  filename = "cloudbuild.yaml"
}