resource "google_cloud_identity_group" "group" {
  display_name = "{{index $.Vars "id_group"}}"

  parent = "customers/{{index $.TestEnvVars "cust_id"}}"

  group_key {
  	id = "{{index $.Vars "id_group"}}@{{index $.TestEnvVars "org_domain"}}"
  }

  labels = {
    "cloudidentity.googleapis.com/groups.discussion_forum" = ""
  }
}

resource "google_cloud_identity_group" "child-group" {
  display_name = "{{index $.Vars "id_group"}}-child"

  parent = "customers/{{index $.TestEnvVars "cust_id"}}"

  group_key {
  	id = "{{index $.Vars "id_group"}}-child@{{index $.TestEnvVars "org_domain"}}"
  }

  labels = {
    "cloudidentity.googleapis.com/groups.discussion_forum" = ""
  }
}

resource "google_cloud_identity_group_membership" "{{$.PrimaryResourceId}}" {
  group    = google_cloud_identity_group.group.id

  preferred_member_key {
    id = google_cloud_identity_group.child-group.group_key[0].id
  }

  roles {
    name = "MEMBER"
  }
}
