# Create a feed that sends notifications about network resource updates under a
# particular folder.
resource "google_cloud_asset_folder_feed" "{{$.PrimaryResourceId}}" {
  billing_project  = "{{index $.TestEnvVars "project"}}"
  folder           = google_folder.my_folder.folder_id
  feed_id          = "{{index $.Vars "feed_id"}}"
  content_type     = "RESOURCE"

  asset_types = [
    "compute.googleapis.com/Subnetwork",
    "compute.googleapis.com/Network",
  ]

  feed_output_config {
    pubsub_destination {
      topic = google_pubsub_topic.feed_output.id
    }
  }

  condition {
    expression = <<-EOT
    !temporal_asset.deleted &&
    temporal_asset.prior_asset_state == google.cloud.asset.v1.TemporalAsset.PriorAssetState.DOES_NOT_EXIST
    EOT
    title = "created"
    description = "Send notifications on creation events"
  }
}

# The topic where the resource change notifications will be sent.
resource "google_pubsub_topic" "feed_output" {
  project  = "{{index $.TestEnvVars "project"}}"
  name     = "{{index $.Vars "feed_id"}}"
}

# The folder that will be monitored for resource updates.
resource "google_folder" "my_folder" {
  display_name = "{{index $.Vars "folder_name"}}"
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"
  deletion_protection = false
}

# Find the project number of the project whose identity will be used for sending
# the asset change notifications.
data "google_project" "project" {
  project_id = "{{index $.TestEnvVars "project"}}"
}
