resource "google_sourcerepo_repository" "git_repository" {
  provider = google-beta
  name = "{{index $.Vars "git_repository_name"}}"
}

resource "google_secret_manager_secret" "secret" {
  provider = google-beta
  secret_id = "{{index $.Vars "secret_name"}}"

  replication {
    auto {}
  }
}

resource "google_secret_manager_secret_version" "secret_version" {
  provider = google-beta
  secret = google_secret_manager_secret.secret.id

  secret_data = "{{index $.Vars "data"}}"
}

resource "google_dataform_repository" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name = "{{index $.Vars "dataform_repository_name"}}"

  git_remote_settings {
      url = google_sourcerepo_repository.git_repository.url
      default_branch = "main"
      ssh_authentication_config {
        user_private_key_secret_version = google_secret_manager_secret_version.secret_version.id
        host_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSU"
      }
  }

  workspace_compilation_overrides {
    default_database = "database"
    schema_suffix = "_suffix"
    table_prefix = "prefix_"
  }

  service_account = "1234567890-compute@developer.gserviceaccount.com"
}
