resource "google_dataproc_metastore_federation" "{{$.PrimaryResourceId}}" {
  location      = "us-central1"
  federation_id = "{{index $.Vars "federation_id"}}"
  version       = "3.1.2"

  backend_metastores {
    rank           = "2"
    name           = data.google_project.project.id
    metastore_type = "BIGQUERY" 
  }

  backend_metastores {
    rank           = "1"
    name           = google_dataproc_metastore_service.{{$.PrimaryResourceId}}.id
    metastore_type = "DATAPROC_METASTORE" 
  }
}

resource "google_dataproc_metastore_service" "{{$.PrimaryResourceId}}" {
  service_id = "{{index $.Vars "service_id"}}"
  location   = "us-central1"
  tier       = "DEVELOPER"


  hive_metastore_config {
    version           = "3.1.2"
    endpoint_protocol = "GRPC"
  }
}

data "google_project" "project" {}
