resource "google_dataplex_lake" "{{$.PrimaryResourceId}}" {
  location     = "us-central1"
  name         = "tf-test-lake%{random_suffix}"
  description  = "Test Lake"
  display_name = "Test Lake"

  labels = {
    my-lake = "exists"
  }

  project = "{{index $.TestEnvVars "project_name"}}"
}

