resource "google_data_loss_prevention_stored_info_type" "{{$.PrimaryResourceId}}" {
	parent = "projects/{{index $.TestEnvVars "project"}}"
	description = "Description"
	display_name = "Displayname"

	dictionary {
		word_list {
			words = ["word", "word2"]
		}
	}
}