resource "google_dns_managed_zone" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "zone_name"}}"
  dns_name    = "peering.example.com."
  description = "Example private DNS peering zone"

  visibility = "private"

  private_visibility_config {
    networks {
      network_url = google_compute_network.network-source.id
    }
  }

  peering_config {
    target_network {
      network_url = google_compute_network.network-target.id
    }
  }
}

resource "google_compute_network" "network-source" {
  name                    = "{{index $.Vars "network_source_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_network" "network-target" {
  name                    = "{{index $.Vars "network_target_name"}}"
  auto_create_subnetworks = false
}
