resource "google_filestore_snapshot" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "snapshot_name"}}"
  instance = google_filestore_instance.instance.name
  location = "us-west1"

  description = "Snapshot of {{index $.Vars "instance_name"}}"

  labels = {
    my_label = "value"
  }
}

resource "google_filestore_instance" "instance" {
  name     = "{{index $.Vars "instance_name"}}"
  location = "us-west1"
  tier     = "ENTERPRISE"

  file_shares {
    capacity_gb = 1024
    name        = "share1"
  }

  networks {
    network = "default"
    modes   = ["MODE_IPV4"]
  }
}
