resource "google_firebase_apple_app" "full" {
  provider = google-beta
  project = "{{index $.TestEnvVars "project_id"}}"
  display_name = "{{index $.Vars "display_name"}}"
  bundle_id = "{{index $.Vars "bundle_id"}}"
  app_store_id = "{{index $.Vars "app_store_id"}}"
  team_id = "{{index $.Vars "team_id"}}"
  api_key_id = google_apikeys_key.apple.uid
}

resource "google_apikeys_key" "apple" {
  provider = google-beta

  name         = "{{index $.Vars "api_key_name"}}"
  display_name = "{{index $.Vars "display_name"}}"
  project = "{{index $.TestEnvVars "project_id"}}"
  
  restrictions {
    ios_key_restrictions {
      allowed_bundle_ids = ["{{index $.Vars "bundle_id"}}"]
    }
  }
}
