resource "google_firestore_database" "{{$.PrimaryResourceId}}" {
  project                           = "{{index $.TestEnvVars "project_id"}}"
  name                              = "{{index $.Vars "database_id"}}"
  location_id                       = "nam5"
  type                              = "DATASTORE_MODE"
  concurrency_mode                  = "OPTIMISTIC"
  app_engine_integration_mode       = "DISABLED"
  point_in_time_recovery_enablement = "POINT_IN_TIME_RECOVERY_ENABLED"
  delete_protection_state           = "{{index $.Vars "delete_protection_state"}}"
  deletion_policy                   = "DELETE"
}
