resource "google_compute_forwarding_rule" "steering" {
  name = "{{index $.Vars "forwarding_rule_name"}}"
  region = "us-central1"
  ip_address = google_compute_address.basic.address
  backend_service = google_compute_region_backend_service.external.self_link
  load_balancing_scheme = "EXTERNAL"
  source_ip_ranges = ["34.121.88.0/24", "35.187.239.137"]
  depends_on = [google_compute_forwarding_rule.external]
}

resource "google_compute_address" "basic" {
  name = "{{index $.Vars "ip_name"}}"
  region = "us-central1"
}

resource "google_compute_region_backend_service" "external" {
  name = "{{index $.Vars "backend_name"}}"
  region = "us-central1"
  load_balancing_scheme = "EXTERNAL"
}

resource "google_compute_forwarding_rule" "external" {
  name = "{{index $.Vars "external_forwarding_rule_name"}}"
  region = "us-central1"
  ip_address = google_compute_address.basic.address
  backend_service = google_compute_region_backend_service.external.self_link
  load_balancing_scheme = "EXTERNAL"
}
