resource "google_gke_hub_scope" "scope" {
  scope_id = "tf-test-scope%{random_suffix}"
}

resource "google_gke_hub_scope_rbac_role_binding" "{{$.PrimaryResourceId}}" {
  scope_rbac_role_binding_id = "tf-test-scope-rbac-role-binding%{random_suffix}"
  scope_id = google_gke_hub_scope.scope.scope_id
  user = "test-email@gmail.com"
  role {
    predefined_role = "ADMIN"
  }
  labels = {
      key = "value" 
  }
  depends_on = [google_gke_hub_scope.scope]
}

