resource "google_compute_global_network_endpoint_group" "{{$.PrimaryResourceId}}" {
  name                  = "{{index $.Vars "neg_name"}}"
  network_endpoint_type = "INTERNET_IP_PORT"
  default_port          = 90
}
