resource "google_iam_workload_identity_pool" "pool" {
  workload_identity_pool_id = "{{index $.Vars "workload_identity_pool_id"}}"
}

resource "google_iam_workload_identity_pool_provider" "{{$.PrimaryResourceId}}" {
  workload_identity_pool_id          = google_iam_workload_identity_pool.pool.workload_identity_pool_id
  workload_identity_pool_provider_id = "{{index $.Vars "workload_identity_pool_provider_id"}}"
  display_name                       = "Name of provider"
  description                        = "SAML 2.0 identity pool provider for automated test"
  disabled                           = true
  attribute_mapping                  = {
    "google.subject"        = "assertion.arn"
    "attribute.aws_account" = "assertion.account"
    "attribute.environment" = "assertion.arn.contains(\":instance-profile/Production\") ? \"prod\" : \"test\""
  }
  saml {
    idp_metadata_xml = file("test-fixtures/metadata.xml")
  }
}
