
resource "google_compute_instance" "{{$.PrimaryResourceId}}" {
  name         = "{{index $.Vars "instance_virtual_display"}}"
  machine_type = "f1-micro"
  zone = "us-central1-c"
  # Set the below to true to enable virtual display
  enable_display = true
  boot_disk {
    initialize_params {
      image = "debian-cloud/debian-11"
    }
  }
  network_interface {
    # A default network is created for all GCP projects
    network = "default"
    access_config {
    }
  }
}

