resource "google_looker_instance" "{{$.PrimaryResourceId}}" {
  name              = "{{index $.Vars "instance_name"}}"
  platform_edition  = "LOOKER_CORE_STANDARD_ANNUAL"
  region            = "us-central1"
  oauth_config {
    client_id = "{{index $.Vars "client_id"}}"
    client_secret = "{{index $.Vars "client_secret"}}"
  }
}
