resource "google_managed_kafka_cluster" "{{$.PrimaryResourceId}}" {
  cluster_id = "{{index $.Vars "cluster_id"}}"
  location = "us-central1"
  capacity_config {
    vcpu_count = 3
    memory_bytes = 3221225472
  }
  gcp_config {
    access_config {
      network_configs {
        subnet = "projects/${data.google_project.project.number}/regions/us-central1/subnetworks/default"
      }
    }
  }
  rebalance_config {
    mode = "NO_REBALANCE"
  }
  labels = {
    key = "value"
  }

  provider = google-beta
}

data "google_project" "project" {
  provider = google-beta
}
