resource "google_monitoring_alert_policy" "{{$.PrimaryResourceId}}" {
  display_name = "{{index $.Vars "alert_policy_display_name"}}"
  combiner     = "OR"
  conditions {
    display_name = "test condition"
    condition_prometheus_query_language {
      query      = "compute_googleapis_com:instance_cpu_usage_time > 0"
      duration   = "60s"
      evaluation_interval = "60s"
      alert_rule  = "AlwaysOn"
      rule_group  = "a test"
    }
  }

  alert_strategy {
    auto_close  = "1800s"
  }
}
