resource "google_monitoring_service" "{{$.PrimaryResourceId}}" {
  service_id = "{{index $.Vars "service_id"}}"
  display_name = "My Service {{index $.Vars "service_id"}}"

  user_labels = {
    my_key       = "my_value"
    my_other_key = "my_other_value"
  }

  basic_service {
    service_type  = "APP_ENGINE"
    service_labels = {
      module_id = "another-module-id"
    }
  }
}
