resource "google_network_security_security_profile" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "resource_name"}}"
  parent      = "organizations/{{index $.TestEnvVars "org_id"}}"
  description = "my description"
  type        = "THREAT_PREVENTION"

  threat_prevention_profile {
    severity_overrides {
      action   = "ALLOW"
      severity = "INFORMATIONAL"
    }

    severity_overrides {
      action   = "DENY"
      severity = "HIGH"
    }

    threat_overrides {
      action    = "ALLOW"
      threat_id = "280647"
    }
  }
}
