resource "google_compute_network_endpoint_group" "{{$.PrimaryResourceId}}" {
  name         = "{{index $.Vars "neg_name"}}"
  network      = google_compute_network.default.id
  subnetwork   = google_compute_subnetwork.default.id
  default_port = "90"
  zone         = "us-central1-a"
}

resource "google_compute_network" "default" {
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "default" {
  name          = "{{index $.Vars "subnetwork_name"}}"
  ip_cidr_range = "10.0.0.0/16"
  region        = "us-central1"
  network       = google_compute_network.default.id
}
