resource "google_network_services_service_lb_policies" "{{$.PrimaryResourceId}}" {
  provider = google-beta

  name                     = "{{index $.Vars "resource_name"}}"
  location                 = "global"
  description              = "my description"
  load_balancing_algorithm = "SPRAY_TO_REGION"

  auto_capacity_drain {
    enable = true
  }

  failover_config {
    failover_health_threshold = 70
  }
  
  labels = {
    foo = "bar"
  }
}

resource "google_compute_backend_service" "default" {
  provider = google-beta
  
	name                  = "{{index $.Vars "backend_name"}}"
	description           = "my description"
	load_balancing_scheme = "INTERNAL_SELF_MANAGED"
	protocol              = "HTTP"
	service_lb_policy     = "//networkservices.googleapis.com/${google_network_services_service_lb_policies.{{$.PrimaryResourceId}}.id}"
}