resource "google_network_services_service_lb_policies" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "resource_name"}}"
  location    = "global"
  description = "my description"
  labels      = {
    foo = "bar"
  }
}