resource "google_project" "guest_project" {
  project_id      = "{{index $.Vars "guest_project_id"}}"
  name            = "{{index $.Vars "guest_project_name"}}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  deletion_policy = "DELETE"
}

resource "google_compute_node_template" "soletenant-tmpl" {
  name      = "{{index $.Vars "template_name"}}"
  region    = "us-central1"
  node_type = "n1-node-96-624"
}

resource "google_compute_node_group" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "group_name"}}"
  zone        = "us-central1-f"
  description = "example google_compute_node_group for Terraform Google Provider"

  initial_size          = 1
  node_template = google_compute_node_template.soletenant-tmpl.id

  share_settings {
    share_type = "SPECIFIC_PROJECTS"
    project_map {
      id = google_project.guest_project.project_id
      project_id = google_project.guest_project.project_id
    }
  }
}

