resource "google_monitoring_notification_channel" "{{$.PrimaryResourceId}}" {
  display_name = "{{index $.Vars "display_name"}}"
  type         = "email"
  labels = {
    email_address = "fake_email@blahblah.com"
  }
  force_delete = false
}
