resource "google_org_policy_custom_constraint" "{{$.PrimaryResourceId}}" {

  name         = "{{index $.Vars "policy_name"}}"
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"

  action_type    = "ALLOW"
  condition      = "resource.management.autoUpgrade == false"
  method_types   = ["CREATE", "UPDATE"]
  resource_types = ["container.googleapis.com/NodePool"]
}
