resource "google_pubsub_topic" "{{$.PrimaryResourceId}}" {
  name         = "{{index $.Vars "topic_name"}}"
  kms_key_name = google_kms_crypto_key.crypto_key.id
}

resource "google_kms_crypto_key" "crypto_key" {
  name     = "{{index $.Vars "key_name"}}"
  key_ring = google_kms_key_ring.key_ring.id
}

resource "google_kms_key_ring" "key_ring" {
  name     = "{{index $.Vars "keyring_name"}}"
  location = "global"
}
