resource "google_compute_region_backend_service" "{{$.PrimaryResourceId}}" {
  provider              = google-beta
  region                = "us-central1"
  name                  = "{{index $.Vars "region_backend_service_name"}}"
  health_checks         = [google_compute_region_health_check.health_check.id]
  protocol              = "TCP"
  load_balancing_scheme = "EXTERNAL"
}

resource "google_compute_region_health_check" "health_check" {
  provider           = google-beta
  name               = "{{index $.Vars "health_check_name"}}"
  region             = "us-central1"

  tcp_health_check {
    port = 80
  }
}
