resource "google_compute_resource_policy" "baz" {
  name   = "{{index $.Vars "name"}}"
  region = "us-central1"
  provider = google-beta
  group_placement_policy {
    vm_count = 2
    collocation = "COLLOCATED"
    max_distance = 2
  }
}
