resource "google_folder" "folder" {
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"
  display_name = "{{index $.Vars "folder_display_name"}}"
  deletion_protection = false
}

resource "google_scc_management_folder_security_health_analytics_custom_module" "{{$.PrimaryResourceId}}" {
  folder = google_folder.folder.folder_id
  location = "global"
  display_name = "{{index $.Vars "display_name"}}"
  enablement_state = "ENABLED"
  custom_config {
    predicate {
      expression = "resource.rotationPeriod > duration(\"2592000s\")"
      title = "Purpose of the expression"
      description = "description of the expression"
      location = "location of the expression"
    }
    custom_output {
      properties {
        name = "duration"
        value_expression {
          expression = "resource.rotationPeriod"
          title = "Purpose of the expression"
          description = "description of the expression"
          location = "location of the expression"
        }
      }
    }
    resource_selector {
      resource_types = [
        "cloudkms.googleapis.com/CryptoKey",
      ]
    }
    severity = "LOW"
    description = "Description of the custom module"
    recommendation = "Steps to resolve violation"
  }
}