resource "google_securityposture_posture" "posture_1" {
    posture_id  = "{{index $.Vars "posture_id"}}"
    parent      = "organizations/{{index $.TestEnvVars "org_id"}}"
    location    = "global"
    state       = "ACTIVE"
    description = "a new posture"
    policy_sets {
        policy_set_id = "org_policy_set"
        description   = "set of org policies"
        policies {
            policy_id = "policy_1"
            constraint {
                org_policy_constraint {
                    canned_constraint_id = "storage.uniformBucketLevelAccess"
                    policy_rules {
                        enforce = true
                    }
                }
            }
        }
    }
}

resource "google_securityposture_posture_deployment" "{{$.PrimaryResourceId}}" {
    posture_deployment_id = "{{index $.Vars "deployment_id"}}"
    parent                = "organizations/{{index $.TestEnvVars "org_id"}}"
    location              = "global"
    description           = "a new posture deployment"
    target_resource       = "projects/{{index $.TestEnvVars "project_number"}}"
    posture_id            = google_securityposture_posture.posture_1.name
    posture_revision_id   = google_securityposture_posture.posture_1.revision_id
}
