resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name             = "{{index $.Vars "postgres_pvp_instance_name"}}"
  region           = "asia-northeast1"
  database_version = "POSTGRES_14"
  root_password = "abcABC123!"
  settings {
    tier              = "db-custom-2-7680"
    password_validation_policy {
      min_length  = 6
      reuse_interval = 2
      complexity  =  "COMPLEXITY_DEFAULT"
      disallow_username_substring = true
      password_change_interval = "30s"
      enable_password_policy = true
    }
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}
