resource "google_project_service_identity" "gcp_sa_cloud_sql" {
  provider = google-beta
  service  = "sqladmin.googleapis.com"
}

resource "google_kms_key_ring" "keyring" {
  provider = google-beta
  name     = "{{index $.Vars "keyring_name"}}"
  location = "us-central1"
}

resource "google_kms_crypto_key" "key" {
  provider = google-beta
  name     = "{{index $.Vars "crypto_key_name"}}"
  key_ring = google_kms_key_ring.keyring.id
  purpose  = "ENCRYPT_DECRYPT"
}

resource "google_kms_crypto_key_iam_member" "crypto_key" {
  provider      = google-beta
  crypto_key_id = google_kms_crypto_key.key.id
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"

  member = google_project_service_identity.gcp_sa_cloud_sql.member
}

resource "google_sql_database_instance" "mysql_instance_with_cmek" {
  name                = "{{index $.Vars "mysql_instance_cmek"}}"
  provider            = google-beta
  region              = "us-central1"
  database_version    = "MYSQL_8_0"
  encryption_key_name = google_kms_crypto_key.key.id
  settings {
    tier = "db-n1-standard-2"
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_database_instance" "postgres_instance_with_cmek" {
  name                = "{{index $.Vars "postgres_instance_cmek"}}"
  provider            = google-beta
  region              = "us-central1"
  database_version    = "POSTGRES_14"
  encryption_key_name = google_kms_crypto_key.key.id
  settings {
    tier = "db-custom-2-7680"
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name                = "{{index $.Vars "sqlserver_instance_cmek"}}"
  provider            = google-beta
  region              = "us-central1"
  database_version    = "SQLSERVER_2019_STANDARD"
  root_password       = "INSERT-PASSWORD-HERE "
  encryption_key_name = google_kms_crypto_key.key.id
  settings {
    tier = "db-custom-2-7680"
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}
