resource "google_sql_database_instance" "primary" {
  name             = "{{index $.Vars "mysql_primary_instance_name"}}"
  region           = "europe-west4"
  database_version = "MYSQL_8_0"
  settings {
    tier               = "db-n1-standard-2"
    backup_configuration {
      enabled            = "true"
      binary_log_enabled = "true"
    }
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name                 = "{{index $.Vars "mysql_replica_instance_name"}}"
  master_instance_name = google_sql_database_instance.primary.name
  region               = "europe-west4"
  database_version     = "MYSQL_8_0"

  replica_configuration {
    failover_target = false
  }

  settings {
    tier              = "db-n1-standard-2"
    availability_type = "ZONAL"
    disk_size         = "100"
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}
