resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name             = "{{index $.Vars "postgres_instance_backup_retention"}}"
  region           = "us-central1"
  database_version = "POSTGRES_14"
  settings {
    tier = "db-custom-2-7680"
    backup_configuration {
      enabled                        = true
      backup_retention_settings {
        retained_backups               = 365
        retention_unit                 = "COUNT"
      }
    }
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}
