resource "google_sql_database_instance" "mysql_instance" {
  name             = "{{index $.Vars "mysql_instance"}}"
  region           = "asia-northeast1"
  database_version = "MYSQL_8_0"
  settings {
    tier              = "db-f1-micro"
    ip_configuration {
      ssl_mode = "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
    }
  }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_ssl_cert" "mysql_client_cert" {
  common_name = "mysql_common_name"
  instance    = google_sql_database_instance.mysql_instance.name
}

resource "google_sql_database_instance" "postgres_instance" {
  name             = "{{index $.Vars "postgres_instance"}}"
  region           = "asia-northeast1"
  database_version = "postgres_14"
  settings {
    tier              = "db-custom-2-7680"
    ip_configuration {
      ssl_mode = "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
    }
  }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_ssl_cert" "postgres_client_cert" {
  common_name = "postgres_common_name"
  instance    = google_sql_database_instance.postgres_instance.name
}

resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name             = "{{index $.Vars "sqlserver_instance"}}"
  region           = "asia-northeast1"
  database_version = "SQLSERVER_2019_STANDARD"
  root_password = "INSERT-PASSWORD-HERE"
  settings {
    tier              = "db-custom-2-7680"
    ip_configuration {
      ssl_mode = "ENCRYPTED_ONLY"
    }
  }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}
