resource "google_storage_default_object_access_control" "{{$.PrimaryResourceId}}" {
  bucket = google_storage_bucket.bucket.name
  role   = "READER"
  entity = "allUsers"
}

resource "google_storage_bucket" "bucket" {
  name     = "{{index $.Vars "bucket_name"}}"
  location = "US"
}
