resource "google_vertex_ai_index_endpoint" "{{$.PrimaryResourceId}}" {
  display_name = "sample-endpoint"
  description  = "A sample vertex endpoint"
  region       = "us-central1"
  labels       = {
    label-one = "value-one"
  }

  private_service_connect_config {
    enable_private_service_connect = false
  }
}
