resource "google_vmwareengine_private_cloud" "{{$.PrimaryResourceId}}" {
  location    = "{{index $.TestEnvVars "region"}}-a"
  name        = "{{index $.Vars "private_cloud_id"}}"
  description = "Sample test PC."
  type        = "TIME_LIMITED"
  network_config {
    management_cidr       = "192.168.30.0/24"
    vmware_engine_network = google_vmwareengine_network.pc-nw.id
  }
  management_cluster {
    cluster_id = "{{index $.Vars "management_cluster_id"}}"
    node_type_configs {
      node_type_id = "standard-72"
      node_count   = 1
      custom_core_count = 32
    }
  }
  deletion_delay_hours = 0
  send_deletion_delay_hours_if_zero = true
}

resource "google_vmwareengine_network" "pc-nw" {
  name        = "{{index $.Vars "network_id"}}"
  location    = "global"
  type        = "STANDARD"
  description = "PC network description."
}