resource "google_tags_tag_key" "tag_key1" {
  provider   = google-beta
  parent     = "organizations/{{index $.Vars "org_id"}}"
  short_name = "{{index $.Vars "key_short_name"}}"
}

resource "google_tags_tag_value" "tag_value1" {
  provider   = google-beta
  parent     = "tagKeys/${google_tags_tag_key.tag_key1.name}"
  short_name = "{{index $.Vars "value_short_name"}}"
}

resource "google_compute_network" "default" {
  provider                = google-beta
  name                    = "{{index $.Vars "workstation_cluster_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "default" {
  provider      = google-beta
  name          = "{{index $.Vars "workstation_cluster_name"}}"
  ip_cidr_range = "10.0.0.0/24"
  region        = "us-central1"
  network       = google_compute_network.default.name
}

resource "google_workstations_workstation_cluster" "{{$.PrimaryResourceId}}" {
  provider               = google-beta
  workstation_cluster_id = "{{index $.Vars "workstation_cluster_name"}}"
  network                = google_compute_network.default.id
  subnetwork             = google_compute_subnetwork.default.id
  location               = "us-central1"
  
  labels = {
    "label" = "key"
  }

  annotations = {
    label-one = "value-one"
  }
}

resource "google_workstations_workstation_config" "{{$.PrimaryResourceId}}" {
  provider               = google-beta
  workstation_config_id  = "{{index $.Vars "workstation_config_name"}}"
  workstation_cluster_id = google_workstations_workstation_cluster.{{$.PrimaryResourceId}}.workstation_cluster_id
  location   		         = "us-central1"

  idle_timeout = "600s"
  running_timeout = "21600s"

  replica_zones = ["us-central1-a", "us-central1-b"]
  annotations = {
    label-one = "value-one"
  }

  labels = {
    "label" = "key"
  }

  host {
    gce_instance {
      machine_type                = "e2-standard-4"
      boot_disk_size_gb           = 35
      disable_public_ip_addresses = true
      disable_ssh                 = false
      vm_tags = {
        "tagKeys/${google_tags_tag_key.tag_key1.name}" = "tagValues/${google_tags_tag_value.tag_value1.name}"
      }
    }
  }
}
