# Copyright 2023 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

--- !ruby/object:Api::Resource
name: 'TrustConfig'
base_url: 'projects/{{project}}/locations/{{location}}/trustConfigs'
create_url: 'projects/{{project}}/locations/{{location}}/trustConfigs?trustConfigId={{name}}'
self_link: 'projects/{{project}}/locations/{{location}}/trustConfigs/{{name}}'
update_verb: :PATCH
description: |
  TrustConfig represents a resource that represents your Public Key Infrastructure (PKI) configuration in Certificate Manager for use in mutual TLS authentication scenarios.
references: !ruby/object:Api::Resource::ReferenceLinks
  guides:
    'Official Documentation': 'https://cloud.google.com/certificate-manager/docs'
  api: 'https://cloud.google.com/certificate-manager/docs/reference/certificate-manager/rest/v1/projects.locations.trustConfigs/create'
async: !ruby/object:Api::OpAsync
  operation: !ruby/object:Api::OpAsync::Operation
    path: 'name'
    base_url: '{{op_id}}'
    wait_ms: 1000
  result: !ruby/object:Api::OpAsync::Result
    path: 'response'
  status: !ruby/object:Api::OpAsync::Status
    path: 'done'
    complete: true
    allowed:
      - true
      - false
  error: !ruby/object:Api::OpAsync::Error
    path: 'error'
    message: 'message'
docs: !ruby/object:Provider::Terraform::Docs
autogen_async: true
import_format:
  ['projects/{{project}}/locations/{{location}}/trustConfigs/{{name}}']
id_format: 'projects/{{project}}/locations/{{location}}/trustConfigs/{{name}}'
examples:
  - !ruby/object:Provider::Terraform::Examples
    name: 'certificate_manager_trust_config'
    primary_resource_id: 'default'
    vars:
      trust_config_name: 'trust-config'
  - !ruby/object:Provider::Terraform::Examples
    name: 'certificate_manager_trust_config_allowlisted_certificates'
    primary_resource_id: 'default'
    vars:
      trust_config_name: 'trust-config'
parameters:
  - !ruby/object:Api::Type::String
    name: 'name'
    required: true
    immutable: true
    url_param_only: true
    description: |
      A user-defined name of the trust config. Trust config names must be unique globally.
  - !ruby/object:Api::Type::String
    name: 'location'
    required: true
    description: |
      The trust config location.
    immutable: true
    url_param_only: true
properties:
  - !ruby/object:Api::Type::Time
    name: 'createTime'
    description: |
      The creation timestamp of a TrustConfig.

      A timestamp in RFC3339 UTC "Zulu" format, with nanosecond resolution and up to nine fractional digits.
      Examples: "2014-10-02T15:01:23Z" and "2014-10-02T15:01:23.045123456Z".
    output: true
  - !ruby/object:Api::Type::Time
    name: 'updateTime'
    description: |
      The last update timestamp of a TrustConfig.

      A timestamp in RFC3339 UTC "Zulu" format, with nanosecond resolution and up to nine fractional digits.
      Examples: "2014-10-02T15:01:23Z" and "2014-10-02T15:01:23.045123456Z".
    output: true
  - !ruby/object:Api::Type::KeyValueLabels
    name: 'labels'
    description: 'Set of label tags associated with the trust config.'
  - !ruby/object:Api::Type::String
    name: 'description'
    description: |
      One or more paragraphs of text description of a trust config.
  - !ruby/object:Api::Type::Array
    name: trustStores
    description: |
      Set of trust stores to perform validation against.
      This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation.
    item_type: !ruby/object:Api::Type::NestedObject
      properties:
        - !ruby/object:Api::Type::Array
          name: trustAnchors
          description: |
            List of Trust Anchors to be used while performing validation against a given TrustStore.
          item_type: !ruby/object:Api::Type::NestedObject
            properties:
              - !ruby/object:Api::Type::String
                name: 'pemCertificate'
                description: |
                  PEM root certificate of the PKI used for validation.
                  Each certificate provided in PEM format may occupy up to 5kB.
                sensitive: true
        - !ruby/object:Api::Type::Array
          name: intermediateCas
          description: |
            Set of intermediate CA certificates used for the path building phase of chain validation.
            The field is currently not supported if trust config is used for the workload certificate feature.
          item_type: !ruby/object:Api::Type::NestedObject
            properties:
              - !ruby/object:Api::Type::String
                name: 'pemCertificate'
                description: |
                  PEM intermediate certificate used for building up paths for validation.
                  Each certificate provided in PEM format may occupy up to 5kB.
                sensitive: true
  - !ruby/object:Api::Type::Array
    name: allowlistedCertificates
    description: |
       Allowlisted PEM-encoded certificates. A certificate matching an allowlisted certificate is always considered valid as long as
       the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met.
    item_type: !ruby/object:Api::Type::NestedObject
      properties:
        - !ruby/object:Api::Type::String
          name: 'pemCertificate'
          description: |
            PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate.
          required: true
