resource "google_network_security_address_group" "basic_global_networksecurity_address_group" {
  provider = google-beta

  name        = "{{policy}}"
  parent      = "projects/{{project}}"
  description = "Sample global networksecurity_address_group. Update"
  location    = "global"
  items       = ["208.80.154.224/32"]
  type        = "IPV4"
  capacity    = 100
}

resource "google_compute_network_firewall_policy" "basic_network_firewall_policy" {
  provider = google-beta

  name        = "{{policy}}"
  description = "Sample global network firewall policy"
  project     = "{{project}}"
}

resource "google_compute_network_firewall_policy_rule" "primary" {
  provider = google-beta

  action          = "deny"
  description     = "This is an updated rule description"
  direction       = "EGRESS"
  disabled        = true
  enable_logging  = false
  firewall_policy = google_compute_network_firewall_policy.basic_network_firewall_policy.name
  priority        = 1000
  rule_name       = "updated-test-rule"

  match {
    dest_ip_ranges = ["0.0.0.0/0"]
    dest_fqdns = ["example.com"]
    dest_region_codes = ["US"]
    dest_threat_intelligences = ["iplist-known-malicious-ips"]

    layer4_configs {
      ip_protocol = "tcp"
      ports       = ["123"]
    }
    
    dest_address_groups = [google_network_security_address_group.basic_global_networksecurity_address_group.id]

  }

  target_secure_tags {
    name = "tagValues/${google_tags_tag_value.basic_value.name}"
  }
}

resource "google_compute_network" "basic_network" {
  provider = google-beta

  name = "{{network}}"
}

resource "google_tags_tag_key" "basic_key" {
  provider = google-beta

  description = "For keyname resources."
  parent      = "organizations/{{org_id}}"
  purpose     = "GCE_FIREWALL"
  short_name  = "{{tagkey}}"

  purpose_data = {
    network = "{{project}}/${google_compute_network.basic_network.name}"
  }
}


resource "google_tags_tag_value" "basic_value" {
  provider = google-beta

  description = "For valuename resources."
  parent      = "tagKeys/${google_tags_tag_key.basic_key.name}"
  short_name  = "{{tagvalue}}"
}
