resource "google_network_security_address_group" "basic_global_networksecurity_address_group" {
  provider = google-beta

  name        = "{{policy}}"
  parent      = "projects/{{project}}"
  description = "Sample global networksecurity_address_group"
  location    = "global"
  items       = ["208.80.154.224/32"]
  type        = "IPV4"
  capacity    = 100
}

resource "google_compute_network_firewall_policy" "basic_network_firewall_policy" {
  provider = google-beta

  name        = "{{policy}}"
  description = "Sample global network firewall policy"
  project     = "{{project}}"
}

resource "google_compute_network_firewall_policy_rule" "primary" {
  provider = google-beta

  action                  = "allow"
  description             = "This is a simple rule description"
  direction               = "INGRESS"
  disabled                = false
  enable_logging          = true
  firewall_policy         = google_compute_network_firewall_policy.basic_network_firewall_policy.name
  priority                = 1000
  rule_name               = "test-rule"
  target_service_accounts = ["{{test_service_account}}"]

  match {
    src_ip_ranges = ["10.100.0.1/32"]
    src_fqdns = ["google.com"]
    src_region_codes = ["US"]
    src_threat_intelligences = ["iplist-known-malicious-ips"]

    src_secure_tags {
      name = "tagValues/${google_tags_tag_value.basic_value.name}"
    }

    layer4_configs {
      ip_protocol = "all"
    }
    
    src_address_groups = [google_network_security_address_group.basic_global_networksecurity_address_group.id]
  }
}

resource "google_compute_network" "basic_network" {
  provider = google-beta

  name = "{{network}}"
}

resource "google_tags_tag_key" "basic_key" {
  provider = google-beta

  description = "For keyname resources."
  parent      = "organizations/{{org_id}}"
  purpose     = "GCE_FIREWALL"
  short_name  = "{{tagkey}}"
  purpose_data = {
    network = "{{project}}/${google_compute_network.basic_network.name}"
  }
}

resource "google_tags_tag_value" "basic_value" {
  provider = google-beta

  description = "For valuename resources."
  parent      = "tagKeys/${google_tags_tag_key.basic_key.name}"
  short_name  = "{{tagvalue}}"
}
