resource "google_compute_region_network_firewall_policy" "basic_regional_network_firewall_policy" {
  name = "{{policy}}"
  project = "{{project}}"
  description = "Sample regional network firewall policy"
  region = "{{region}}"
}

resource "google_compute_region_network_firewall_policy_rule" "primary" {
 firewall_policy = google_compute_region_network_firewall_policy.basic_regional_network_firewall_policy.name
 action = "deny"
 direction = "EGRESS"
 priority = 1000
 rule_name = "updated-test-rule"
 description = "This is an updated rule description"
match {
layer4_configs {
ip_protocol = "tcp"
ports = ["123"]
 }
 dest_ip_ranges = ["0.0.0.0/0"]
 }
  target_secure_tags {
 name = "tagValues/${google_tags_tag_value.basic_value.name}"
 }
 region = "{{region}}"
 enable_logging = false
 disabled = true  
}

resource "google_compute_network" "basic_network" {
  name = "{{network}}"
}
resource "google_tags_tag_key" "basic_key" {
  parent = "organizations/{{org_id}}"
  short_name = "{{tagkey}}"
  purpose = "GCE_FIREWALL"
  purpose_data = {
  network= "{{project}}/${google_compute_network.basic_network.name}"
  }
  description = "For keyname resources."
}


resource "google_tags_tag_value" "basic_value" {
    parent = "tagKeys/${google_tags_tag_key.basic_key.name}"
    short_name = "{{tagvalue}}"
    description = "For valuename resources."
}
