resource "google_cloud_quotas_quota_adjuster_settings" "{{$.PrimaryResourceId}}" {
  parent        = "{{index $.ResourceIdVars "parent"}}"
  enablement    = "{{index $.ResourceIdVars "enablement"}}"
}