data "google_project" "project" {}

resource "google_pubsub_topic" "topic" {
  name = "{{index $.ResourceIdVars "topic_id"}}"
}

resource "google_pubsub_topic_iam_member" "secrets_manager_access" {
  topic  = google_pubsub_topic.topic.name
  role   = "roles/pubsub.publisher"
  member = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-secretmanager.iam.gserviceaccount.com"
}

# Note: For managed rotation with CLOUD_SQL_DB_CREDENTIALS to work,
# the Secret Manager service agent must have Cloud SQL Admin permissions:
#
# gcloud projects add-iam-policy-binding PROJECT_ID \
#     --member="serviceAccount:service-PROJECT_NUMBER@gcp-sa-secretmanager.iam.gserviceaccount.com" \
#     --role="roles/cloudsql.admin"

resource "google_secret_manager_secret" "{{$.PrimaryResourceId}}" {
  secret_id = "{{index $.ResourceIdVars "secret_id"}}"

  secret_type = "CLOUD_SQL_DB_CREDENTIALS"

  replication {
    auto {}
  }

  topics {
    name = google_pubsub_topic.topic.id
  }

  rotation {
    rotation_period = "3600s"
    next_rotation_time = "{{index $.ResourceIdVars "timestamp"}}"
  }

  depends_on = [
    google_pubsub_topic_iam_member.secrets_manager_access,
  ]
}
