resource "google_bigquery_connection" "{{$.PrimaryResourceId}}" {
   connection_id = "{{index $.ResourceIdVars "connection_id"}}"
   location      = "US"
   friendly_name = "👋"
   description   = "a riveting description"
   cloud_spanner { 
      database = "{{index $.ResourceIdVars "database"}}"
      database_role = "{{index $.ResourceIdVars "database_role"}}"
   }
}