/*
 * Expands an empty terraform config into an empty object.
 *
 * Used to differentate a user specifying an empty block versus a null/unset block.
 *
 * This is unique from send_empty_value, which will send an explicit null value
 * for empty configuration blocks.
 */
func expand{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d tpgresource.TerraformResourceData, config *transport_tpg.Config) (interface{}, error) {
	if v == nil {
		return nil, nil
	}

	l := v.([]interface{})
	if len(l) == 0 {
		return nil, nil
	}
	// A set, but empty object.
	return struct{}{}, nil
}