resource "google_storage_bucket" "{{$.PrimaryResourceId}}" {
  name                        = "{{index $.PrefixedVars "name"}}"
  location                    = "US"
  uniform_bucket_level_access = true
}
