// BI reservation is a singleton resource and can't be deleted.
// We will check if the reservation info has been cleared

config := acctest.GoogleProviderConfig(t)

url, err := tpgresource.ReplaceVarsForTest(config, rs, "{{"{{"}}BigqueryReservationBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/biReservation")
if err != nil {
  return err
}

billingProject := ""

if config.BillingProject != "" {
    billingProject = config.BillingProject
}

res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
	Config: config,
	Method: "GET",
    Project:   billingProject,
	RawURL: url,
	UserAgent: config.UserAgent,
})
if err != nil {
  return nil
}

if _, ok := res["size"]; ok {
	return fmt.Errorf("BIReservation was not cleared")
}
if _, ok := res["preferredTables"]; ok {
	return fmt.Errorf("BIReservation was not cleared")
}

return nil
