// After deleting a project, you can still query its billing account
// (it will be empty). We change the destroy check to ensure the
// project has no billing account linked after destroying the
// google_billing_project_info resource

config := acctest.GoogleProviderConfig(t)

url, err := tpgresource.ReplaceVarsForTest(config, rs, "{{"{{"}}CoreBillingBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/billingInfo")
if err != nil {
  return err
}

res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
	Config: config,
	Method: "GET",
	RawURL: url,
	UserAgent: config.UserAgent,
})
if err != nil {
  return nil
}

if ba := res["billingAccountName"]; ba == "" {
	return nil
}

return fmt.Errorf("Billing account still linked at %s", url)
