// Rule id is set by API and required to GET the connection
// it is set by reading the "name" field rather than a field in the response
if err := d.Set("rule_id", flattenChronicleRuleRuleId("", d, config)); err != nil {
    return fmt.Errorf("Error reading Rule ID: %s", err)
}