// The response for create request contains the generated name generated name that we need
// in order to perform a READ. We need to access the object inside of it as
// a map[string]interface, so let's do that.

longName := res["name"].(string)
name := tpgresource.GetResourceNameFromSelfLink(longName)
log.Printf("[DEBUG] Setting resource name to %s", name)
if err := d.Set("name", name); err != nil {
	return fmt.Errorf("Error setting name: %s", err)
}

parts := strings.Split(longName, "/")
parts[1] = project
updatedLongName := strings.Join(parts, "/")
d.SetId(updatedLongName)

if p, ok := d.GetOk("desired_state"); ok && p.(string) == "PAUSED" {
  _, err := modifyScheduleState(config, d, project, billingProject, userAgent, "pause")
  if err != nil {
    return err
  }
}
