if d.Get("delete_default_routes_on_create").(bool) {
	token := ""
	for paginate := true; paginate; {
		networkUrl, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}ComputeBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/global/networks/{{"{{"}}name{{"}}"}}")
		if err != nil {
			return err
		}
		network, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
			Config:    config,
			Method:    "GET",
			Project:   project,
			RawURL:    networkUrl,
			UserAgent: userAgent,
		})
		if err != nil {
			return fmt.Errorf("Error finding network in proj: %s", err)
		}
		filter := fmt.Sprintf("(network=\"%s\") AND (destRange=\"0.0.0.0/0\")", network["selfLink"].(string))
		log.Printf("[DEBUG] Getting routes for network %q with filter '%q'", d.Get("name").(string), filter)

		params := map[string]string{
			"filter": filter,
		}
		if token != "" {
			params["pageToken"] = token
		}
		routesUrl, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}ComputeBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/global/routes")
		if err != nil {
			return err
		}
		routesUrl, err = transport_tpg.AddQueryParams(routesUrl, params)
		if err != nil {
			return err
		}
		resp, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
			Config:    config,
			Method:    "GET",
			Project:   project,
			RawURL:    routesUrl,
			UserAgent: userAgent,
		})
		if err != nil {
			return fmt.Errorf("Error listing routes in proj: %s", err)
		}

		var items []interface{}
		if rawItems, ok := resp["items"].([]interface{}); ok {
			items = rawItems
		}
		log.Printf("[DEBUG] Found %d routes rules in %q network", len(items), d.Get("name").(string))

		for _, raw := range items {
			route, ok := raw.(map[string]interface{})
			if !ok {
				continue
			}
			routeName, _ := route["name"].(string)
			routeUrl, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}ComputeBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/global/routes/"+routeName)
			if err != nil {
				return err
			}
			res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
				Config:    config,
				Method:    "DELETE",
				Project:   project,
				RawURL:    routeUrl,
				UserAgent: userAgent,
			})
			if err != nil {
				return fmt.Errorf("Error deleting route: %s", err)
			}
			err = ComputeOperationWaitTime(config, res, project, "Deleting Route", userAgent, d.Timeout(schema.TimeoutCreate))
			if err != nil {
				return err
			}
		}

		token, _ = resp["nextPageToken"].(string)
		paginate = token != ""
	}
}
