// security_policy isn't set by Create / Update
if o, n := d.GetChange("edge_security_policy"); o.(string) != n.(string) {
		pol, err := tpgresource.ParseSecurityPolicyFieldValue(n.(string), d, config)
  if err != nil {
    return errwrap.Wrapf("Error parsing Backend Service security policy: {{"{{"}}err{{"}}"}}", err)
  }

  sBody := map[string]interface{}{
    "securityPolicy": pol.RelativeLink(),
  }

  edgeSecurityPolicyPath := "{{"{{"}}ComputeBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/global/backendBuckets/{{"{{"}}name{{"}}"}}/setEdgeSecurityPolicy?prettyPrint=false"
  sUrl, err := tpgresource.ReplaceVars(d, config, edgeSecurityPolicyPath)
  if err != nil {
    return err
  }

  res, err = transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
    Config:    config,
    Method:    "POST",
    Project:   project,
    RawURL:    sUrl,
    UserAgent: userAgent,
    Body:      sBody,
    Headers:   headers,
  })
  if err != nil {
    return errwrap.Wrapf("Error setting Backend Bucket edge security policy: {{"{{"}}err{{"}}"}}", err)
  }

  // This uses the create timeout for simplicity, though technically this code appears in both create and update
  err = ComputeOperationWaitTime(config, res, project, "Setting Backend Bucket Edge Security Policy", userAgent, d.Timeout(schema.TimeoutCreate))
  if err != nil {
    return err
  }
}
