if d.Get("delete_default_routes_on_create").(bool) {
	token := ""
	for paginate := true; paginate; {
		network, err := config.NewComputeClient(userAgent).Networks.Get(project, d.Get("name").(string)).Do()
		if err != nil {
			return fmt.Errorf("Error finding network in proj: %s", err)
		}
		filter := fmt.Sprintf("(network=\"%s\") AND (destRange=\"0.0.0.0/0\")", network.SelfLink)
		log.Printf("[DEBUG] Getting routes for network %q with filter '%q'", d.Get("name").(string), filter)
		resp, err := config.NewComputeClient(userAgent).Routes.List(project).Filter(filter).Do()
		if err != nil {
			return fmt.Errorf("Error listing routes in proj: %s", err)
		}

		log.Printf("[DEBUG] Found %d routes rules in %q network", len(resp.Items), d.Get("name").(string))

		for _, route := range resp.Items {
			op, err := config.NewComputeClient(userAgent).Routes.Delete(project, route.Name).Do()
			if err != nil {
				return fmt.Errorf("Error deleting route: %s", err)
			}
			err = ComputeOperationWaitTime(config, op, project, "Deleting Route", userAgent, d.Timeout(schema.TimeoutCreate))
			if err != nil {
				return err
			}
		}

		token = resp.NextPageToken
		paginate = token != ""
	}
}
