{{/*
    The license inside this block applies to this file
    Copyright 2024 Google Inc.
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/ -}}
desiredState := d.Get("desired_state").(string)
// Pipelines are created in STATE_ACTIVE by default. Only trigger an update
// if a different state is desired (STATE_PAUSED or STATE_ARCHIVED).
if desiredState != "" && desiredState != "STATE_ACTIVE" {
    log.Printf("[DEBUG] desired_state %q requires update after creation for pipeline %q", desiredState, d.Id())
    if err = resourceDataPipelinePipelineUpdate(d, meta); err != nil {
        return fmt.Errorf("Error updating Pipeline %q during creation to reach desired_state %q: %s", d.Get("name").(string), desiredState, err)
    }
}
