nameVal, ok := opRes["name"].(string)
if !ok {
    return fmt.Errorf("opRes['name'] is not a string: %v", opRes["name"])
}

nameParts := strings.Split(nameVal, "/")
if len(nameParts) != 6 || nameParts[0] != "projects" || nameParts[2] != "buckets" || nameParts[4] != "anywhereCaches" {
    return fmt.Errorf("error parsing the anywhereCacheId from %s", nameVal)
}

anywhereCacheID := nameParts[5]
if err := d.Set("anywhere_cache_id", anywhereCacheID); err != nil {
    return err
}

// This may have caused the ID to update - update it if so.
id, err = tpgresource.ReplaceVars(d, config, "{{"{{bucket}}/{{anywhere_cache_id}}"}}")
if err != nil {
    return fmt.Errorf("Error constructing id: %s", err)
}
d.SetId(id)
