resource "google_access_context_manager_access_policy" "access-policy" {
  parent = "organizations/123456789"
  title  = "Policy with Granular Controls Support"
}

resource "google_access_context_manager_service_perimeter" "granular-controls-perimeter" {
  parent         = "accessPolicies/${google_access_context_manager_access_policy.access-policy.name}"
  name           = "accessPolicies/${google_access_context_manager_access_policy.access-policy.name}/servicePerimeters/%s"
  title          = "%s"
  perimeter_type = "PERIMETER_TYPE_REGULAR"
  status {
      restricted_services = ["bigquery.googleapis.com"]

      vpc_accessible_services {
          enable_restriction = true
          allowed_services   = ["bigquery.googleapis.com"]
      }

      ingress_policies {
          ingress_from {
              sources {
                 resource = "projects/1234" 
              }
              identities = ["group:database-admins@google.com"]
              identities = ["principal://iam.googleapis.com/locations/global/workforcePools/1234/subject/janedoe"]
              identities = ["principalSet://iam.googleapis.com/locations/global/workforcePools/1234/*"]
          }
          ingress_to {
              resources = [ "*" ]
              roles = ["roles/bigquery.admin", "organizations/1234/roles/bigquery_custom_role"]
          }
      }

      egress_policies {
          egress_from {
              identities = ["group:database-admins@google.com"]
              identities = ["principal://iam.googleapis.com/locations/global/workforcePools/1234/subject/janedoe"]
              identities = ["principalSet://iam.googleapis.com/locations/global/workforcePools/1234/*"]
          }
          egress_to {
              resources = [ "*" ]
              roles = ["roles/bigquery.admin", "organizations/1234/roles/bigquery_custom_role"]
          }
      }
   }
}
