resource "google_compute_network" "vpc_network" {
	name = "tf-test"
}

resource "google_access_context_manager_access_level" "{{$.PrimaryResourceId}}" {
  parent = "accessPolicies/${google_access_context_manager_access_policy.access-policy.name}"
  name   = "accessPolicies/${google_access_context_manager_access_policy.access-policy.name}/accessLevels/{{index $.Vars "access_level_name"}}"
  title  = "{{index $.Vars "access_level_name"}}"
  basic {
    conditions {
      vpc_network_sources {
        vpc_subnetwork {
          network = "//compute.googleapis.com/${google_compute_network.vpc_network.id}"
          vpc_ip_subnetworks = ["20.0.5.0/24"]
        }
      }
    }
  }
}

resource "google_access_context_manager_access_policy" "access-policy" {
  parent = "organizations/123456789"
  title  = "my policy"
}
