resource "google_alloydb_cluster" "primary" {
  cluster_id = "{{index $.Vars "alloydb_primary_cluster_name"}}"
  location   = "us-central1"
  network_config {
    network = google_compute_network.default.id
  }

  deletion_protection = false
}

resource "google_alloydb_instance" "primary" {
  cluster       = google_alloydb_cluster.primary.name
  instance_id   = "{{index $.Vars "alloydb_primary_instance_name"}}"
  instance_type = "PRIMARY"

  machine_config {
    cpu_count = 2
  }

  depends_on = [google_service_networking_connection.vpc_connection]
}

resource "google_alloydb_cluster" "secondary" {
  cluster_id   = "{{index $.Vars "alloydb_secondary_cluster_name"}}"
  location     = "us-east1"
  network_config {
    network = data.google_compute_network.default.id
  }
  cluster_type = "SECONDARY"

  continuous_backup_config {
    enabled = false
  }

  secondary_config {
    primary_cluster_name = google_alloydb_cluster.primary.name
  }

  deletion_policy = "FORCE"

  # Need lifecycle.ignore_changes because instance_type is an immutable field.
  # And when promoting cluster from SECONDARY to PRIMARY, the instance_type of the associated secondary instance also changes and becomes PRIMARY.
  # And we do not want terraform to destroy and create the instance because the field is immutable
  lifecycle {
    ignore_changes = [instance_type]
  }

  deletion_protection = false
  depends_on = [google_alloydb_instance.primary]
}

resource "google_alloydb_instance" "{{$.PrimaryResourceId}}" {
  cluster       = google_alloydb_cluster.secondary.name
  instance_id   = "{{index $.Vars "alloydb_secondary_instance_name"}}"
  instance_type = google_alloydb_cluster.secondary.cluster_type

  machine_config {
    cpu_count = 2
  }

  depends_on = [google_service_networking_connection.vpc_connection]
}

data "google_project" "project" {}

resource "google_compute_network" "default" {
  name = "{{index $.Vars "network_name"}}"
}

resource "google_compute_global_address" "private_ip_alloc" {
  name          =  "{{index $.Vars "alloydb_secondary_instance_name"}}"
  address_type  = "INTERNAL"
  purpose       = "VPC_PEERING"
  prefix_length = 16
  network       = google_compute_network.default.id
}

resource "google_service_networking_connection" "vpc_connection" {
  network                 = google_compute_network.default.id
  service                 = "servicenetworking.googleapis.com"
  reserved_peering_ranges = [google_compute_global_address.private_ip_alloc.name]
}
