resource "google_alloydb_cluster" "{{$.PrimaryResourceId}}" {
  cluster_id = "{{index $.Vars "alloydb_cluster_name"}}"
  location   = "us-central1"
  network_config {
    network = google_compute_network.default.id
  }
  database_version = "POSTGRES_15"

  initial_user {
    user     = "{{index $.Vars "alloydb_cluster_name"}}"
    password = "{{index $.Vars "alloydb_cluster_name"}}"
  }

  continuous_backup_config {
    enabled              = true
    recovery_window_days = 14
  }

  automated_backup_policy {
    location      = "us-central1"
    backup_window = "1800s"
    enabled       = true

    weekly_schedule {
      days_of_week = ["MONDAY"]

      start_times {
        hours   = 23
        minutes = 0
        seconds = 0
        nanos   = 0
      }
    }

    quantity_based_retention {
      count = 1
    }

    labels = {
      test = "{{index $.Vars "alloydb_cluster_name"}}"
    }
  }

  labels = {
    test = "{{index $.Vars "alloydb_cluster_name"}}"
  }

  deletion_protection = false
}

data "google_project" "project" {}

resource "google_compute_network" "default" {
  name = "{{index $.Vars "alloydb_cluster_name"}}"
}