resource "google_alloydb_cluster" "primary" {
  cluster_id = "{{index $.Vars "alloydb_primary_cluster_name"}}"
  location   = "us-central1"
  network_config {
    network = data.google_compute_network.default.id
  }

  deletion_protection = false
}

resource "google_alloydb_instance" "primary" {
  cluster       = google_alloydb_cluster.primary.name
  instance_id   = "{{index $.Vars "alloydb_primary_instance_name"}}"
  instance_type = "PRIMARY"

  machine_config {
    cpu_count = 2
  }
}

resource "google_alloydb_cluster" "{{$.PrimaryResourceId}}" {
  cluster_id   = "{{index $.Vars "alloydb_secondary_cluster_name"}}"
  location     = "us-east1"
  network_config {
    network = data.google_compute_network.default.id
  }
  cluster_type = "SECONDARY"

  continuous_backup_config {
    enabled = false
  }

  secondary_config {
    primary_cluster_name = google_alloydb_cluster.primary.name
  }

  deletion_protection = false
  depends_on = [google_alloydb_instance.primary]
}

data "google_project" "project" {}

data "google_compute_network" "default" {
  name = "{{index $.Vars "network_name"}}"
}
