resource "google_alloydb_instance" "default" {
  cluster       = google_alloydb_cluster.default.name
  instance_id   = "{{index $.Vars "alloydb_instance_name"}}"
  instance_type = "PRIMARY"

  depends_on = [google_service_networking_connection.vpc_connection]
}

resource "google_alloydb_cluster" "default" {
  cluster_id = "{{index $.Vars "alloydb_cluster_name"}}"
  location   = "us-central1"
  network_config {
    network = data.google_compute_network.default.id
  }
  initial_user {
    password = "{{index $.Vars "alloydb_cluster_pass"}}"
  }

  deletion_protection = false
}

data "google_project" "project" {}

resource "google_compute_network" "default" {
  name = "{{index $.Vars "network_name"}}"
}

resource "google_compute_global_address" "private_ip_alloc" {
  name          = "{{index $.Vars "alloydb_cluster_name"}}"
  address_type  = "INTERNAL"
  purpose       = "VPC_PEERING"
  prefix_length = 16
  network       = google_compute_network.default.id
}

resource "google_service_networking_connection" "vpc_connection" {
  network                 = google_compute_network.default.id
  service                 = "servicenetworking.googleapis.com"
  reserved_peering_ranges = [google_compute_global_address.private_ip_alloc.name]
}

resource "google_alloydb_user" "{{$.PrimaryResourceId}}" {
  cluster = google_alloydb_cluster.default.name
  user_id = "{{index $.Vars "alloydb_user_name"}}"
  user_type = "ALLOYDB_BUILT_IN"

  password = "{{index $.Vars "alloydb_user_pass"}}"
  database_roles = ["alloydbsuperuser"]
  depends_on = [google_alloydb_instance.default]
}
