resource "google_project" "project" {
  project_id      = "tf-test%{random_suffix}"
  name            = "tf-test%{random_suffix}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
  deletion_policy = "DELETE"
}

resource "google_project_service" "apigee" {
  project = google_project.project.project_id
  service = "apigee.googleapis.com"
}

resource "time_sleep" "wait_300_seconds" {
  create_duration = "300s"
  depends_on = [google_project_service.apigee]
}


resource "google_apigee_organization" "{{$.PrimaryResourceId}}" {
  description         = "Terraform-provisioned basic Apigee Org without VPC Peering."
  analytics_region    = "us-central1"
  project_id          = google_project.project.project_id
  disable_vpc_peering = true
  depends_on          = [
    time_sleep.wait_300_seconds,
  ]
}

resource "time_sleep" "wait_after_destroy" {
  destroy_duration = "150s"
  depends_on = [google_apigee_organization.{{$.PrimaryResourceId}}]
}
