// Note for DRZ Advanced Customers: To ensure DRZ Advanced compliance for data-in-transit,
// you must use the appropriate multi-regional endpoint (mREP) for the 'apigee_custom_endpoint'.
// This is the primary configuration required from a customer's perspective to leverage
// DRZ Advanced capabilities. Other guarantees for data-in-use and data-at-rest are
// managed by the Apigee service and Google's underlying infrastructure.
provider "google" {
  apigee_custom_endpoint = "https://eu-apigee.googleapis.com/v1/"
}

resource "google_project" "project" {
  project_id      = "tf-test%{random_suffix}"
  name            = "tf-test%{random_suffix}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
  deletion_policy = "DELETE"
}

resource "google_project_service" "apigee" {
  project = google_project.project.project_id
  service = "apigee.googleapis.com"
}

resource "google_apigee_organization" "{{$.PrimaryResourceId}}" {
  description                = "Terraform-provisioned basic Apigee Org under European Union hosting jurisdiction."
  project_id                 = google_project.project.project_id
  api_consumer_data_location = "europe-west1"
  billing_type               = "PAYG"
  disable_vpc_peering        = true
  depends_on                 = [
    google_project_service.apigee,
  ]
}
