resource "google_project" "project" {
  project_id      = "{{index $.Vars "project_id"}}"
  name            = "{{index $.Vars "project_id"}}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
  deletion_policy = "DELETE"
}

resource "google_project_service" "apigee" {
  project = google_project.project.project_id
  service = "apigee.googleapis.com"
}

resource "google_apigee_organization" "apigee_org" {
  analytics_region   = "us-central1"
  project_id         = google_project.project.project_id

  runtime_type       = "HYBRID"
  depends_on         = [google_project_service.apigee]
}

resource "google_service_account" "service_account" {
  account_id   = "{{index $.Vars "account_id"}}"
  display_name = "Service Account"
}

resource "google_project_iam_member" "synchronizer-iam" {
  project = google_project.project.project_id
  role    = "roles/apigee.synchronizerManager"
  member = "serviceAccount:${google_service_account.service_account.email}"
}

resource "google_apigee_sync_authorization" "{{$.PrimaryResourceId}}" {
  name       = google_apigee_organization.apigee_org.name
  identities = [
    "serviceAccount:${google_service_account.service_account.email}",
  ]
  depends_on = [google_project_iam_member.synchronizer-iam]
}
