resource "google_project" "project" {
  project_id      = "tf-test%{random_suffix}"
  name            = "tf-test%{random_suffix}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
  deletion_policy = "DELETE"
}

resource "time_sleep" "wait_60_seconds" {
  create_duration = "60s"
  depends_on = [google_project.project]
}

resource "google_project_service" "apigee" {
  project = google_project.project.project_id
  service = "apigee.googleapis.com"
  depends_on = [time_sleep.wait_60_seconds]
}

resource "google_project_service" "compute" {
  project = google_project.project.project_id
  service = "compute.googleapis.com"
  depends_on = [google_project_service.apigee]
}

resource "google_project_service" "servicenetworking" {
  project = google_project.project.project_id
  service = "servicenetworking.googleapis.com"
  depends_on = [google_project_service.compute]
}

resource "time_sleep" "wait_300_seconds" {
  create_duration = "300s"
  depends_on = [google_project_service.servicenetworking]
}

resource "google_compute_network" "apigee_network" {
  name       = "apigee-network"
  project    = google_project.project.project_id
  depends_on = [time_sleep.wait_300_seconds]
}

resource "google_compute_global_address" "apigee_range" {
  name          = "apigee-range"
  purpose       = "VPC_PEERING"
  address_type  = "INTERNAL"
  prefix_length = 16
  network       = google_compute_network.apigee_network.id
  project       = google_project.project.project_id
}

resource "google_service_networking_connection" "apigee_vpc_connection" {
  network                 = google_compute_network.apigee_network.id
  service                 = "servicenetworking.googleapis.com"
  reserved_peering_ranges = [google_compute_global_address.apigee_range.name]
  depends_on              = [google_project_service.servicenetworking]
}

resource "google_apigee_organization" "apigee_org" {
  analytics_region   = "us-central1"
  project_id         = google_project.project.project_id
  authorized_network = google_compute_network.apigee_network.id
  depends_on         = [
    google_service_networking_connection.apigee_vpc_connection,
    google_project_service.apigee,
  ]
}

resource "google_apigee_custom_report" "{{$.PrimaryResourceId}}" {
  org_id       = google_apigee_organization.apigee_org.id
  display_name = "tf_test_full%{random_suffix}"

  metrics {
    name     = "message_count"
    function = "sum"
  }

  metrics {
    name     = "total_response_time"
    function = "avg"
  }

  dimensions   = ["apiproxy", "request_verb"]
  filter       = "(apiproxy eq 'my-proxy')"
  time_unit    = "hour"
  sort_by_cols = ["message_count"]
  sort_order   = "DESC"
  from_time    = "1609459200000"
  to_time      = "1640995200000"
  topk         = "10"
  limit        = "100"
  offset       = "0"
  chart_type   = "line"
  tags         = ["production", "analytics"]
  comments     = ["Daily traffic report"]

  properties {
    property = "ui.chart.showTotal"
    value    = ["true"]
  }
}
