resource "google_apihub_api_hub_instance" "{{$.PrimaryResourceId}}"{
    api_hub_instance_id = "{{index $.Vars "instance_id"}}"
    location = "us-central1"
    config {
        encryption_type = "GMEK"
        disable_search = true
    }
}