resource "google_apihub_api_hub_instance" "{{$.PrimaryResourceId}}"{
    project = "my-project"
    api_hub_instance_id = "{{index $.Vars "instance_id"}}"
    description = "Test API hub instance"
    location = "us-central1"
    config {
        encryption_type = "CMEK"
        cmek_key_name = "projects/my-project/locations/us-central1/keyRings/apihub/cryptoKeys/apihub-key"
        disable_search = false
        vertex_location = "us"
    }
    labels = {
      environment = "dev"
    }
}