resource "google_apihub_runtime_project_attachment" "{{$.PrimaryResourceId}}" {
  location                      = "us-central1"
  runtime_project_attachment_id = "test-project"
  runtime_project               = "projects/test-project"
}