resource "google_apphub_service_project_attachment" "{{$.PrimaryResourceId}}" {
  service_project_attachment_id = google_project.service_project.project_id
  depends_on = [time_sleep.wait_120s]
}

resource "google_project" "service_project" {
  project_id ="{{index $.Vars "service_project_attachment_id"}}"
  name = "Service Project"
  org_id = "{{index $.TestEnvVars "org_id"}}"
  deletion_policy = "DELETE"
}

resource "time_sleep" "wait_120s" {
  depends_on = [google_project.service_project]

  create_duration = "120s"
}
