resource "google_artifact_registry_repository" "<%= ctx[:primary_resource_id] %>" {
  location      = "us-central1"
  repository_id = "<%= ctx[:vars]['repository_id'] %>"
  description   = "<%= ctx[:vars]['desc'] %>"
  format        = "DOCKER"

  docker_config {
    immutable_tags = true
  }
}
