resource "google_artifact_registry_repository" "{{$.PrimaryResourceId}}" {
  location      = "us-central1"
  repository_id = "{{index $.Vars "repository_id"}}"
  description   = "{{index $.Vars "desc"}}"
  format        = "DOCKER"
}
