data "google_project" "project" {}

resource "google_secret_manager_secret" "<%= ctx[:vars]['secret_resource_id'] %>" {
  secret_id = "<%= ctx[:vars]['secret_id'] %>"
  replication {
    auto {}
  }
}

resource "google_secret_manager_secret_version" "<%= ctx[:vars]['secret_resource_id'] %>_version" {
  secret = google_secret_manager_secret.<%= ctx[:vars]['secret_resource_id'] %>.id
  secret_data = "<%= ctx[:vars]['secret_data'] %>"
}

resource "google_secret_manager_secret_iam_member" "secret-access" {
  secret_id = google_secret_manager_secret.<%= ctx[:vars]['secret_resource_id'] %>.id
  role      = "roles/secretmanager.secretAccessor"
  member    = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-artifactregistry.iam.gserviceaccount.com"
}

resource "google_artifact_registry_repository" "<%= ctx[:primary_resource_id] %>" {
  location      = "us-central1"
  repository_id = "<%= ctx[:vars]['repository_id'] %>"
  description   = "<%= ctx[:vars]['desc'] %>"
  format        = "MAVEN"
  mode          = "REMOTE_REPOSITORY"
  remote_repository_config {
    description = "custom maven remote with credentials"
    disable_upstream_validation = true
    maven_repository {
      custom_repository {
        uri = "https://my.maven.registry"
      }
    }
    upstream_credentials {
      username_password_credentials {
        username = "<%= ctx[:vars]['username'] %>"
        password_secret_version = google_secret_manager_secret_version.<%= ctx[:vars]['secret_resource_id'] %>_version.name
      }
    }
  }
}