resource "google_artifact_registry_repository" "{{$.PrimaryResourceId}}" {
  location      = "us-central1"
  repository_id = "{{index $.Vars "repository_id"}}"
  description   = "{{index $.Vars "desc"}}"
  format        = "APT"
  mode          = "REMOTE_REPOSITORY"
  remote_repository_config {
    description = "Debian buster remote repository"
    apt_repository {
      public_repository {
        repository_base = "DEBIAN"
        repository_path = "debian/dists/buster"
      }
    }
  }
}
