resource "google_backup_dr_restore_workload" "{{$.PrimaryResourceId}}" {
  location         = "us-central1"
  backup_vault_id  = "{{index $.Vars "backup_vault_id"}}"
  data_source_id   = "{{index $.Vars "data_source_id"}}"
  backup_id        = "{{index $.Vars "backup_id"}}"
  
  # Set to false to keep the restored resource in GCP after terraform destroy
  delete_restored_instance = false

  disk_target_environment {
    project = "{{index $.TestEnvVars "project"}}"
    zone    = "us-central1-a"
  }

  disk_restore_properties {
    name        = "{{index $.Vars "disk_name"}}"
    size_gb     = 100
    type        = "projects/{{index $.TestEnvVars "project"}}/zones/us-central1-a/diskTypes/pd-standard"
  }
}
