resource "google_compute_backend_service" "{{$.PrimaryResourceId}}" {
  provider = google-beta

  name                  = "{{index $.Vars "backend_service_name"}}"
  health_checks         = [google_compute_health_check.health_check.id]
  load_balancing_scheme = "EXTERNAL_MANAGED"
  locality_lb_policy    = "RING_HASH"
  session_affinity      = "STRONG_COOKIE_AFFINITY"
  
  strong_session_affinity_cookie {
     ttl {
       seconds = 11
       nanos   = 1111
     }
     name = "mycookie"
   }   
}

resource "google_compute_health_check" "health_check" {
  provider = google-beta

  name = "{{index $.Vars "health_check_name"}}"
  http_health_check {
    port = 80
  }
}
