resource "google_compute_global_network_endpoint_group" "external_proxy" {
  provider = google-beta
  name                  = "{{index $.Vars "neg_name"}}"
  network_endpoint_type = "INTERNET_FQDN_PORT"
  default_port          = "443"
}

resource "google_compute_global_network_endpoint" "proxy" {
  provider = google-beta
  global_network_endpoint_group = google_compute_global_network_endpoint_group.external_proxy.id
  fqdn                          = "test.example.com"
  port                          = google_compute_global_network_endpoint_group.external_proxy.default_port
}

resource "google_compute_backend_service" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name                            = "{{index $.Vars "backend_service_name"}}"
  connection_draining_timeout_sec = 10
  locality_lb_policy    = "WEIGHTED_ROUND_ROBIN"
  custom_metrics {
    name    = "orca.mem_utilization"
    dry_run = false
  }
  backend {
    group = google_compute_global_network_endpoint_group.external_proxy.id
    balancing_mode = "CUSTOM_METRICS"
    custom_metrics {
      name    = "orca.cpu_utilization"
      dry_run = true
    }
  }

}
