resource "google_backup_dr_backup_vault" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us-central1"
  backup_vault_id    = "{{index $.Vars "backup_vault_id"}}"
  description = "This is a second backup vault built by Terraform."
  backup_minimum_enforced_retention_duration = "100000s"
  labels = {
    foo = "bar1"
    bar = "baz1"
  }
  annotations = {
    annotations1 = "bar1"
    annotations2 = "baz1"
  }
  force_update = "true"
  force_delete = "true"
  allow_missing = "true"
}