resource "google_backup_dr_backup_vault" "my_backup_vault" {
  provider = google-beta
  location = "us-central1"
  backup_vault_id = "bv-test1"
  backup_minimum_enforced_retention_duration = "100000s"
}

resource "google_backup_dr_backup_plan" "{{$.PrimaryResourceId}}" { 
  provider = google-beta
  location = "us-central1" 
  backup_plan_id = "{{index $.Vars "backup_plan_id"}}"
  resource_type= "compute.googleapis.com/Instance"
  backup_vault = google_backup_dr_backup_vault.my-backup-vault.id
  depends_on= [ google_backup_dr_backup_vault.my-backup-vault ]
  lifecycle {
    ignore_changes = [backup_vault, description]
  }
  backup_rules {
	rule_id = "rule-1"
	backup_retention_days = 5
	standard_schedule {
	  recurrence_type = "HOURLY"
	   hourly_frequency = 6
	    time_zone = "UTC"
	     backup_window{
		start_hour_of_day = 0
		end_hour_of_day = 24
      }
    }
}
  backup_rules {
	rule_id = "rule-2"
	backup_retention_days = 5
	standard_schedule {
	  recurrence_type = "WEEKLY"
	   days_of_week = ["MONDAY", "WEDNESDAY", "FRIDAY"]
	    time_zone = "UTC"
	     backup_window{
		start_hour_of_day = 0
		end_hour_of_day = 24
      }
    }
}
  backup_rules {
	rule_id = "rule-3"
	backup_retention_days = 5
	standard_schedule {
	  recurrence_type = "MONTHLY"
	   days_of_month = [1, 15, 30]
     week_day_of_month = {
        week_of_month = "FIRST"
        day_of_week   = "SUNDAY"
      }
	    time_zone = "UTC"
	     backup_window{
		start_hour_of_day = 0
		end_hour_of_day = 24
      }
    }
}
  backup_rules {
	rule_id = "rule-4"
	backup_retention_days = 5
	standard_schedule {
	  recurrence_type = "YEARLY"
      week_day_of_month = {
        week_of_month = "FIRST"
        day_of_week   = "SUNDAY"
      }
	    time_zone = "UTC"
	     backup_window{
		start_hour_of_day = 0
		end_hour_of_day = 24
      }
    }
}
}
