resource "google_service_account" "service_account" {
  account_id   = "<%= ctx[:vars]['account_id'] %>"
  display_name = "Test Service Account"
}

resource "google_beyondcorp_app_connector" "app_connector" {
  name = "<%= ctx[:vars]['app_connector_name'] %>"
  principal_info {
    service_account {
     email = google_service_account.service_account.email
    }
  }
}

resource "google_beyondcorp_app_connection" "<%= ctx[:primary_resource_id] %>" {
  name = "<%= ctx[:vars]['app_connection_name'] %>"
  type = "TCP_PROXY"
  application_endpoint {
    host = "foo-host"
    port = 8080
  }
  connectors = [google_beyondcorp_app_connector.app_connector.id]
}
