resource "google_beyondcorp_security_gateway" "default" {
  security_gateway_id = "{{index $.Vars "security_gateway_name"}}"
  display_name = "My Security Gateway resource"
  hubs { region = "us-central1" }
}

resource "google_beyondcorp_security_gateway_application" "{{$.PrimaryResourceId}}" {
  security_gateway_id = google_beyondcorp_security_gateway.default.security_gateway_id
  application_id = "{{index $.Vars "application_name"}}"
  endpoint_matchers {
    hostname = "google.com"
  }
}
