resource "google_storage_bucket" "bucket" {
  name          = "tf-test-{{index $.Vars "catalog"}}%{random_suffix}"
  location      = "us-central1"
  force_destroy = true
  uniform_bucket_level_access = true
}

resource "google_biglake_iceberg_catalog" "catalog" {
  name = "tf-test-{{index $.Vars "catalog"}}%{random_suffix}"
  catalog_type = "CATALOG_TYPE_GCS_BUCKET"
  depends_on = [
    google_storage_bucket.bucket
  ]
}

resource "google_biglake_iceberg_namespace" "{{$.PrimaryResourceId}}" {
  catalog = google_biglake_iceberg_catalog.catalog.name
  namespace_id = "tf-test-{{index $.Vars "name"}}%{random_suffix}"
  properties = {
    key = "value"
  }
}
