resource "google_bigquery_connection" "{{$.PrimaryResourceId}}" {
   connection_id = "{{index $.Vars "connection_id"}}"
   location      = "US"
   friendly_name = "👋"
   description   = "a riveting description"
   cloud_spanner { 
      database        = "{{index $.Vars "database"}}"
      use_parallelism = true
      use_data_boost  = true
      max_parallelism = 100
   }
}