resource "google_bigquery_job" "{{$.PrimaryResourceId}}" {
  provider = google-beta

  job_id     = "{{index $.Vars "job_id"}}"

  query {
    query = "SELECT state FROM [lookerdata:cdc.project_tycho_reports]"

  }

  reservation = "projects/{{index $.TestEnvVars "project"}}/locations/US/reservations/{{index $.Vars "reservation_name"}}"
}
