resource "google_bigquery_dataset" "test" {
  provider = google-beta
  dataset_id = "{{index $.Vars "dataset_id"}}"
}

resource "google_bigquery_routine" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  dataset_id = google_bigquery_dataset.test.dataset_id
  routine_id = "{{index $.Vars "routine_id"}}"
  routine_type = "SCALAR_FUNCTION"
  language = "PYTHON"
  arguments {
    name = "x"
    data_type = "{\"typeKind\" :  \"FLOAT64\"}"
  }
  arguments {
    name = "y"
    data_type = "{\"typeKind\" :  \"FLOAT64\"}"
  }
  definition_body = <<-EOS
    def multiply(x, y):
      return x * y
  EOS
  return_type = "{\"typeKind\" :  \"FLOAT64\"}"
  python_options {
    entry_point = "multiply"
  }
  external_runtime_options {
    container_memory = "512Mi"
    container_cpu = 0.5
    runtime_version = "python-3.11"
  }

}
