resource "google_sql_database_instance" "instance" {
  name             = "{{index $.Vars "database_instance_name"}}"
  region           = "us-central1"

  database_version = "POSTGRES_11"
  settings {
    tier = "db-f1-micro"
  }

  deletion_protection  = "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_database" "db" {
  instance = google_sql_database_instance.instance.name
  name     = "db"
}

resource "google_sql_user" "user" {
  name = "{{index $.Vars "username"}}"
  instance = google_sql_database_instance.instance.name
  password = "tf-test-my-password%{random_suffix}"
}

data "google_bigquery_default_service_account" "bq_sa" {}

resource "google_kms_crypto_key_iam_member" "key_sa_user" {
  crypto_key_id = "{{index $.Vars "kms_key_name"}}"
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"
  member        = "serviceAccount:${data.google_bigquery_default_service_account.bq_sa.email}"
}

resource "google_bigquery_connection" "{{$.PrimaryResourceId}}" {
  friendly_name = "👋"
  description   = "a riveting description"
  location      = "US"
  kms_key_name  = "{{index $.Vars "kms_key_name"}}"
  cloud_sql {
    instance_id = google_sql_database_instance.instance.connection_name
    database    = google_sql_database.db.name
    type        = "POSTGRES"
    credential {
      username = google_sql_user.user.name
      password = google_sql_user.user.password
    }
  }

  depends_on = [google_kms_crypto_key_iam_member.key_sa_user]
}

