data "google_billing_account" "account" {
  billing_account = "{{index $.TestEnvVars "billing_acct"}}"
}

data "google_project" "project" {
}

resource "google_billing_budget" "{{$.PrimaryResourceId}}" {
  billing_account = data.google_billing_account.account.id
  display_name    = "{{index $.Vars "budget_name"}}"

  budget_filter {
    projects = ["projects/${data.google_project.project.number}"]
  }

  amount {
    specified_amount {
      currency_code = "USD"
      units         = "100000"
    }
  }

  all_updates_rule {
    monitoring_notification_channels = []
    enable_project_level_recipients  = true
  }
}
