resource "google_ces_app" "ces_app_for_guardrail" {
  app_id = "{{index $.Vars "app_id"}}"
  location = "us"
  description = "App used as parent for CES Toolset example"
  display_name = "{{index $.Vars "app_display_name"}}"

  language_settings {
    default_language_code    = "en-US"
    supported_language_codes = ["es-ES", "fr-FR"]
    enable_multilingual_support = true
    fallback_action          = "escalate"
  }
  time_zone_settings {
    time_zone = "America/Los_Angeles"
  }
}

resource "google_ces_guardrail" "ces_guardrail_generative_answer_llm_prompt_security" {
  guardrail_id = "{{index $.Vars "guardrail_id"}}"
  location     = google_ces_app.ces_app_for_guardrail.location
  app          = google_ces_app.ces_app_for_guardrail.app_id
  display_name = "{{index $.Vars "guardrail_display_name"}}"
  description  = "Guardrail description"
  action {
    generative_answer {
        prompt = "example_prompt"
    }
  }
  enabled = true
  llm_prompt_security {
    custom_policy {
      max_conversation_messages = 10
      model_settings {
        model = "gemini-2.5-flash"
        temperature = 50
      }
      prompt = "example_prompt"
      policy_scope = "USER_QUERY"
      fail_open = true
      allow_short_utterance = true
    }
  }
}