resource "google_ces_app" "my-app" {
    location     = "us"
    display_name = "{{index $.Vars "app_display_name"}}"
    app_id       = "{{index $.Vars "app_id"}}"
    time_zone_settings {
        time_zone = "America/Los_Angeles"
    }
}

resource "google_ces_example" "{{$.PrimaryResourceId}}" {
    location     = "us"
    display_name = "{{index $.Vars "example_display_name"}}"
    app          = google_ces_app.my-app.name
    example_id   = "{{index $.Vars "example_id"}}"
    description  = "example description"
    messages {
        chunks {
            image {
                mime_type = "image/png"
                data = base64encode("This is some fake image binary data.")
            }
        }
        chunks {
            text = "text_data"
        }
        chunks {
            updated_variables = jsonencode({
                var1 = "val1"
                var2 = "val2"
            })
        }
        role = "agent"
    }
}
