resource "google_ces_app" "my-app" {
    location     = "us"
    display_name = "{{index $.Vars "app_display_name"}}"
    app_id       = "{{index $.Vars "app_id"}}"
    time_zone_settings {   
        time_zone = "America/Los_Angeles"
    }
}

resource "google_ces_tool" "{{$.PrimaryResourceId}}" {
    location       = "us"
    app            = google_ces_app.my-app.name
    tool_id        = "{{index $.Vars "tool_id"}}"
    execution_type = "SYNCHRONOUS"
    widget_tool {
        name        = "{{index $.Vars "tool_display_name"}}"
        description = "example-description"
        widget_type = "PRODUCT_CAROUSEL"
        ui_config = jsonencode({
            displaySettings = {
                showHeader = true
            }
        })
        data_mapping {
            mode = "FIELD_MAPPING"
            field_mappings = {
                "key1" = "value1"
                "key2" = "value2"
            }
        }
        text_response_config {
            type = "STATIC"
            static_text = "example-static-text"
        }
        parameters {
            type = "OBJECT"
            properties = jsonencode({
                param1 = {
                    type = "STRING"
                }
            })
        }
    }
}
