resource "google_ces_app" "ces_app_for_agent" {
  app_id = "{{index $.Vars "app_id"}}"
  location = "us"
  description = "App used as parent for CES Agent example"
  display_name = "{{index $.Vars "app_display_name"}}"

  language_settings {
    default_language_code    = "en-US"
    supported_language_codes = ["es-ES", "fr-FR"]
    enable_multilingual_support = true
    fallback_action          = "escalate"
  }

  time_zone_settings {
    time_zone = "America/Los_Angeles"
  }
}

resource "google_ces_agent" "ces_agent_remote_dialogflow_agent" {
  agent_id = "{{index $.Vars "agent_id"}}"
  location = "us"
  app      = google_ces_app.ces_app_for_agent.app_id
  display_name = "{{index $.Vars "agent_display_name"}}"

  model_settings {
    model       = "gemini-1.5-flash"
    temperature = 0.5
  }

  remote_dialogflow_agent {
    agent = "projects/example/locations/us/agents/fake-agent"
    flow_id = "fake-flow"
    environment_id = "fake-env"
    input_variable_mapping = {
        "example" : 1
    }
    output_variable_mapping = {
        "example" : 1
    }
  }
}