resource "google_chronicle_parser_extension" "{{$.PrimaryResourceId}}" {
  location = "us"
  instance = "{{index $.TestEnvVars "chronicle_id"}}"
  logtype  = "AKAMAI_DHCP" # Unique log type to prevent CI parallel test collisions
  validation_skipped = true
  log = "ZHVtbXkgbG9n"
  
  field_extractors {
    log_format = "JSON"
    extractors {
      field_path       = "$.user"
      destination_path = "udm.principal.user.userid"
      value            = "static-override"
    }
  }
}
