# This is a manual test example for Terraform support in Chronicle feeds APIs.
# NOTE: Change the display name or the feed details, not both. Using an existing display_name would cause the test to fail.

terraform {
  required_providers {
    google-beta = { source = "hashicorp/google-beta" }
  }
}

provider "google-beta" {
  project = "{{index $.TestEnvVars "project_name"}}"
}

resource "google_chronicle_feed" "test_update" {
  provider = google-beta
  location = "us"
  instance = "{{index $.TestEnvVars "chronicle_id"}}"

  # This is a placeholder. Use the exact feed you want to update
  feed     = "abcdefgh-1234-abcd-1234-abcdef123456"

  display_name = "test-display-name"

  details {
    feed_source_type = "HTTPS_PUSH_GOOGLE_CLOUD_PUBSUB"
    log_type         = "projects/{{index $.TestEnvVars "project_name"}}/locations/us/instances/{{index $.TestEnvVars "chronicle_id"}}/logTypes/GCP_CLOUDAUDIT"
    https_push_google_cloud_pubsub_settings {
      split_delimiter = "\n"
    }
  }
}