resource "google_chronicle_rule" "{{$.PrimaryResourceId}}" {
 location = "us"
 instance = "{{index $.TestEnvVars "chronicle_id"}}"
 deletion_policy = "FORCE"
 text = <<-EOT
             rule test_rule { meta: events:  $userid = $e.principal.user.userid  match: $userid over 10m condition: $e }
         EOT
}
