resource "google_cloud_run_v2_job" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name     = "{{index $.Vars "cloud_run_job_name"}}"
  location = "us-central1"
  deletion_protection = false
  start_execution_token = "start-once-created"
  template {
    template {
      containers {
        image = "us-docker.pkg.dev/cloudrun/container/job"
      }
    }
  }
}
