resource "google_cloud_run_v2_worker_pool" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "cloud_run_worker_pool_name"}}"
  location = "us-central1"
  deletion_protection = false
  launch_stage = "ALPHA"

  template {
    containers {
      image = "us-docker.pkg.dev/cloudrun/container/worker-pool"
    }
    vpc_access{
      network_interfaces {
        network = "default"
        subnetwork = "default"
        tags = ["tag1", "tag2", "tag3"]
      }
    }
  }
}