resource "google_clouddeploy_automation" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "automation"}}"
  project = google_clouddeploy_delivery_pipeline.pipeline.project
  location = google_clouddeploy_delivery_pipeline.pipeline.location
  delivery_pipeline = google_clouddeploy_delivery_pipeline.pipeline.name
  service_account = "{{index $.TestEnvVars "service_account"}}"
  selector {
    targets {
      id = "*"
    }
  }
  suspended = false
  rules {
    promote_release_rule {
      id = "promote-release"
    }
  }
}

resource "google_clouddeploy_delivery_pipeline" "pipeline" {
  name = "{{index $.Vars "delivery_pipeline"}}"
  location = "us-central1"
  serial_pipeline  {
    stages {
      target_id = "test"
      profiles = []
    }
  }
 }
