resource "google_cloud_run_v2_service" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "cloud_run_service_name"}}"
  location = "us-central1"
  deletion_protection = false
  launch_stage = "BETA"

  template {
    containers {
      image = "us-docker.pkg.dev/cloudrun/container/hello"
      readiness_probe {
        timeout_seconds = 20
        period_seconds = 30
        success_threshold = 3
        failure_threshold = 2
        grpc {
          port = 8080
        }
      }
    }
  }
}
