resource "google_cloud_security_compliance_framework" "{{$.PrimaryResourceId}}" {
  organization = "{{index $.TestEnvVars "org_id"}}"
  location     = "global"
  framework_id = "{{index $.Vars "framework_name"}}"
  
  display_name = "Terraform Framework Name"
  description  = "An Terraform description for the framework"
  
  cloud_control_details {
		name              = "organizations/%{org_id}/locations/global/cloudControls/builtin-detective-policy-for-vertex-ai-runtime-template-idle-shutdown"
		major_revision_id = "1"
    
    parameters {
      name = "location"
      parameter_value {
        string_value = "us-central1"
      }
    }
  }
}

resource "google_cloud_security_compliance_framework_deployment" "{{$.PrimaryResourceId}}" {
  organization            = "{{index $.TestEnvVars "org_id"}}"
  location                = "global"
  framework_deployment_id = "{{index $.Vars "deployment_name"}}"
  description             = "A framework deployment with folder creation config"
  
  framework {
    framework             = google_cloud_security_compliance_framework.example.name
    major_revision_id     = "1"
  }
  
  target_resource_config {
    target_resource_creation_config {
      folder_creation_config {
        folder_display_name = "{{index $.Vars "folder_display_name"}}"
        parent              = "organizations/{{index $.TestEnvVars "org_id"}}"
      }
    }
  }
  
  cloud_control_metadata {
    enforcement_mode = "DETECTIVE"
    
    cloud_control_details {
      name              = google_cloud_security_compliance_framework.example.cloud_control_details[0].name
      major_revision_id = "1"
      
      parameters {
        name = "location"
        parameter_value {
          string_value = "us-central1"
        }
      }
    }
  }
}
