resource "google_clouddeploy_deploy_policy" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "policy"}}"
  location = "us-central1"
  annotations = {
    my_first_annotation = "example-annotation-1"
    my_second_annotation = "example-annotation-2"
  }
  labels = {
    my_first_label = "example-label-1"
    my_second_label = "example-label-2"
  }
  description = "policy resource"
  selectors {
    delivery_pipeline {
      id = "{{index $.Vars "delivery_pipeline"}}"
      labels = {
      	foo = "bar"
      }
    }
   }
  selectors {
    target {
      id = "dev"
      labels = {
      	foo = "bar"
      }
    }
  }
  suspended = true
  rules {
    rollout_restriction {
      id = "rule"
      time_windows {
        time_zone = "America/Los_Angeles"
        weekly_windows {
            start_time ="12:00"
            end_time = "13:00"
        }
      }
    }
  }
  rules {
    rollout_restriction {
        id = "rule2"
        invokers = ["USER"] 
        actions = ["CREATE"]
        time_windows {
        time_zone = "America/Los_Angeles"
        weekly_windows {
            start_time = "13:00"
            end_time = "14:00"
            days_of_week = ["MONDAY"]
          }

        one_time_windows {
          start = "2024-12-22 17:00"
          end = "2025-01-02 09:00"
        }
     }
    }
  }
}
