resource "google_pubsub_topic" "support_topic" {
  name = "test-topic-%{random_suffix}"
}

resource "google_pubsub_topic_iam_member" "support_publisher" {
  topic  = google_pubsub_topic.support_topic.id
  role   = "roles/pubsub.publisher"
  member = "serviceAccount:cloud-support-apievents@system.gserviceaccount.com"
}

resource "google_cloud_support_support_event_subscription" "{{$.PrimaryResourceId}}" {
  organization  = "{{index $.TestEnvVars "org_id"}}"
  pub_sub_topic = google_pubsub_topic.support_topic.id

  depends_on = [google_pubsub_topic_iam_member.support_publisher]
}
