resource "google_clouddeploy_deploy_policy" "{{$.PrimaryResourceId}}" {
    location = "us-central1"
    name = "{{index $.Vars "deploy_policy_name"}}"
    description = "My deploy policy"
    annotations = {
      my_first_annotation = "example-annotation-1"
      my_second_annotation = "example-annotation-2"
    }
    labels = {
      my_first_label = "example-label-1"
      my_second_label = "example-label-2"
    }
    selectors {
      delivery_pipeline {
        id = "*"
      }
    }
    rules {
      rollout_restriction {
        id = "holidayfreeze"
        time_windows {
          time_zone = "America/New_York"
          one_time_windows {
            start_date = {
							year  = 2024
							month = 12
							day   = 24
						}
            start_time = {
              hours = 0
              minutes = 0
            }
            end_date {
							year  = 2024
							month = 12
							day   = 27
						}
            end_time = {
              hours = 9
              minutes = 0
            }
          }
        }
      }
    }
}