resource "google_cloud_security_compliance_framework_deployment" "{{$.PrimaryResourceId}}" {
  organization            = "{{index $.TestEnvVars "org_id"}}"
  location                = "global"
  framework_deployment_id = "{{index $.Vars "deployment_name"}}"
  description             = "A comprehensive framework deployment with target resource creation"
  
  framework {
    framework         = "organizations/{{index $.TestEnvVars "org_id"}}/locations/global/frameworks/{{index $.Vars "framework_name"}}"
    major_revision_id = "1"
  }
  
  target_resource_config {
    target_resource_creation_config {
      folder_creation_config {
        folder_display_name = "Compliance Framework Folder"
        parent              = "organizations/{{index $.TestEnvVars "org_id"}}"
      }
    }
  }
  
  cloud_control_metadata {
    enforcement_mode = "DETECTIVE"
    
    cloud_control_details {
      name              = "organizations/{{index $.TestEnvVars "org_id"}}/locations/global/cloudControls/builtin-data-access-governance"
      major_revision_id = "1"
      
      parameters {
        name = "location"
        parameter_value {
          string_value = "us-central1"
        }
      }
      
      parameters {
        name = "environment"
        parameter_value {
          string_value = "production"
        }
      }
    }
  }
  
  cloud_control_metadata {
    enforcement_mode = "AUDIT"
    
    cloud_control_details {
      name              = "organizations/{{index $.TestEnvVars "org_id"}}/locations/global/cloudControls/builtin-assess-network-security"
      major_revision_id = "1"
      
      parameters {
        name = "enable_monitoring"
        parameter_value {
          bool_value = true
        }
      }
      
      parameters {
        name = "security_level"
        parameter_value {
          string_value = "high"
        }
      }
    }
  }
}