resource "google_storage_bucket" "sourcebucket" {
  provider = google-beta
  name     = "${data.google_project.project.project_id}-tf-test-gcf-source%{random_suffix}"  # Every bucket name must be globally unique
  location = "US"
  uniform_bucket_level_access = true
}

resource "google_storage_bucket_object" "source_tar" {
  provider = google-beta
  name   = "function-source.zip"
  bucket = google_storage_bucket.sourcebucket.name
  source = "./test-fixtures/cr-zip-nodejs-hello.tar.gz"
}

resource "google_cloud_run_v2_service" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name     = "{{index $.Vars "cloud_run_service_name"}}"
  location = "us-central1"
  deletion_protection = false

  template {
    containers {
      image = "scratch"
      base_image_uri = "us-central1-docker.pkg.dev/serverless-runtimes/google-24-full/runtimes/nodejs24"
      command = ["node"]
      args = ["index.js"]
      source_code {
        cloud_storage_source {
          bucket = google_storage_bucket.sourcebucket.name
          object = google_storage_bucket_object.source_tar.name
          generation = google_storage_bucket_object.source_tar.generation
        }
      }
    }
  }
}

data "google_project" "project" {
  provider = google-beta
}