resource "google_cloudbuild_trigger" "{{$.PrimaryResourceId}}" {
  location = "europe-west4"

  developer_connect_event_config {
    git_repository_link = "test"
    push {
      branch = "feature-.*"
    }
  }

  filename = "cloudbuild.yaml"
}