resource "google_cloudbuild_trigger" "<%= ctx[:primary_resource_id] %>" {
  location = "us-central1"
  name     = "<%= ctx[:primary_resource_id] %>"
  filename = "cloudbuild.yaml"

  github {
    owner = "hashicorp"
    name  = "terraform-provider-google-beta"
    push {
      branch = "^main$"
    }
  }

  include_build_logs = "INCLUDE_BUILD_LOGS_WITH_STATUS"
}
