resource "google_cloudbuildv2_repository" "{{$.PrimaryResourceId}}" {
  name              = "{{index $.Vars "repository_name"}}"
  parent_connection = google_cloudbuildv2_connection.ghe_complete.name
  remote_uri        = "https://ghe.proctor-staging-test.com/proctorteam/regional_test.git"
  location          = "us-central1"
  annotations = {
    some-key = "some-value"
  }
}

resource "google_cloudbuildv2_connection" "ghe_complete" {
  location = "us-central1"
  name     = "{{index $.Vars "connection_name"}}"

  github_enterprise_config {
    host_uri                      = "https://ghe.proctor-staging-test.com"
    app_id                        = 516
    app_installation_id           = 243
    app_slug                      = "myapp"
    private_key_secret_version    = "projects/gcb-terraform-creds/secrets/ghe-private-key/versions/latest"
    webhook_secret_secret_version = "projects/gcb-terraform-creds/secrets/ghe-webhook-secret/versions/latest"
  }

  annotations = {}
}

