resource "google_cloud_run_v2_worker_pool" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "cloud_run_worker_pool_name"}}"
  location = "us-central1"
  deletion_protection = false
  launch_stage = "BETA"
  
  template {
    containers {
        name = "foo-1"
        image = "us-docker.pkg.dev/cloudrun/container/worker-pool"
        depends_on = ["foo-2"]
    }
    containers {
        name = "foo-2"
        image = "us-docker.pkg.dev/cloudrun/container/worker-pool"
        startup_probe {
            http_get {
                path = "/healthz"
                port = 8080
            }
            period_seconds    = 5
            timeout_seconds   = 2
            failure_threshold = 3
        }
    }
  }
}
