resource "google_cloud_run_service" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name     = "{{index $.Vars "cloud_run_service_name"}}"
  location = "us-central1"

  metadata {
    annotations = {
      "run.googleapis.com/launch-stage" = "BETA"
      "run.googleapis.com/iap-enabled": true
    }
  }

  template {
    spec {
      containers {
        image = "gcr.io/cloudrun/hello"
      }
    }
  }
}

