resource "google_cloud_run_v2_service" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "cloud_run_service_name"}}"
  location = "us-central1"
  deletion_protection = false
  tags = {
    "tagKeys/1234" = "tagValues/5678"
  }
  template {
    containers {
      image = "us-docker.pkg.dev/cloudrun/container/hello"
    }
  }
}
