resource "google_project_iam_member" "colab_enterprise_admin" {
  project = "{{index $.TestEnvVars "project_id"}}"
  role    = "roles/aiplatform.colabEnterpriseAdmin"
  member  = "user:example@example.com"
}

resource "google_colab_runtime_template" "my_template" {
  name = "{{index $.Vars "runtime_name"}}"
  display_name = "Runtime template basic"
  location = "us-central1"

  machine_spec {
    machine_type     = "e2-standard-4"
  }

  network_spec {
    enable_internet_access = true
  }
}

resource "google_colab_runtime" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "runtime_name"}}"
  notebook_runtime_template = google_colab_runtime_template.my_template.id
  location = "us-central1" 
  
  notebook_runtime {
    display_name = "Runtime basic"
    runtime_user = "example@example.com"
  }
}
