resource "google_compute_public_delegated_sub_prefix" "{{$.PrimaryResourceId}}" {
  name = "{{$.Vars.sub_prefix_name}}"
  region = "{{$.Vars.region}}"
  description = "Public sub delegated prefix for testing "
  ip_cidr_range = "192.0.2.0/24"
  parent_prefix = "{{$.Vars.parent_prefix}}"
  delegated_project = {{$.Vars.delegated_project}}
  public_delegated_prefix = {{$.Vars.public_delegated_prefix}}
}