resource "google_compute_region_health_aggregation_policy" "hap" {
  provider    = google-beta
  name        = "{{index $.Vars "name"}}-hap"
  description = "health aggregation policy for health source"
  region      = "us-central1"
}

resource "google_compute_health_check" "default" {
  provider = google-beta
  name     = "{{index $.Vars "name"}}-hc"
  http_health_check {
    port = 80
  }
}

resource "google_compute_region_backend_service" "default" {
  provider              = google-beta
  name                  = "{{index $.Vars "name"}}-bs"
  region                = "us-central1"
  health_checks         = [google_compute_health_check.default.id]
  load_balancing_scheme = "INTERNAL"
}

resource "google_compute_region_health_source" "{{$.PrimaryResourceId}}" {
  provider                  = google-beta
  name                      = "{{index $.Vars "name"}}"
  description               = "{{index $.Vars "description"}}"
  region                    = "us-central1"
  source_type               = "BACKEND_SERVICE"
  sources                   = [google_compute_region_backend_service.default.id]
  health_aggregation_policy = google_compute_region_health_aggregation_policy.hap.id
}