data "google_project" "project" {
  provider = google
}

resource "google_compute_region_health_aggregation_policy" "{{$.PrimaryResourceId}}" {
  provider    = google
  name        = "{{index $.Vars "name"}}"
  description = "{{index $.Vars "description"}}"
  region      = "us-central1"
}
