resource "google_compute_public_delegated_prefix" "{{$.PrimaryResourceId}}" {
  name = "tf-test-forwarding-rule-mode-pdp"
  region = "us-central1"
  project = "tf-static-byoip"

  public_delegated_sub_prefixs {
    name = "{{$.Vars.sub_prefix_name_1}}"
    description = "Public delegated prefix for testing public delegated sub prefix"
    delegatee_project = "tf-static-byoip"
    ip_cidr_range = "192.0.2.0/28"
    is_address = true
    allocatable_prefix_length = 28
  }
}
  