resource "google_compute_region_network_firewall_policy_with_rules" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name        = "{{index $.Vars "policy_name"}}"
  description = "Terraform test"
  policy_type = "RDMA_ROCE_POLICY"

  rule {
    description    = "deny all rule"
    priority       = 1000
    enable_logging = true
    action         = "deny"
    direction      = "INGRESS"

    match {
      src_ip_ranges            = ["0.0.0.0/0"]

      layer4_config {
        ip_protocol = "all"
      }
    }
  }
}
