resource "google_contact_center_insights_view" "{{$.PrimaryResourceId}}" {
  name = "tf-test-insights-view-basic"
  location = "us-central1"
  display_name = "view-display-name"
  value    = "medium=\"CHAT\""
}