resource "google_contact_center_insights_analysis_rule" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "resource_name"}}"
  display_name = "analysis-rule-display-name"
  create_time = "2025-01-01T00:00:00Z"
  update_time = "2025-01-01T00:00:00Z"
  conversation_filter = "test-filter"
  annotator_selector {
    run_interruption_annotator = true
  }
  analysis_percentage = 0.5
  active    = true
}