resource "google_contact_center_insights_qa_scorecard" "scorecard" {
  qa_scorecard_id = "%{scorecard_id}"
  location        = "us-central1"
  display_name    = "My Scorecard"
}

resource "google_contact_center_insights_qa_scorecard_revision" "default" {
  qa_scorecard_revision_id = "%{revision_id}"
  qascorecard              = google_contact_center_insights_qa_scorecard.scorecard.qa_scorecard_id
  location                 = "us-central1"

  snapshot {
    display_name = "Snapshot Display Name"
    description  = "Snapshot Description"
  }
}
