resource "google_contact_center_insights_authorized_view_set" "set" {
  authorized_view_set_id = "tf-test-set-{{index $.Vars "authorized_view_id"}}"
  location               = "us-central1"
  display_name           = "My Authorized View Set"
}

resource "google_contact_center_insights_authorized_view" "{{$.PrimaryResourceId}}" {
  authorizedviewset   = google_contact_center_insights_authorized_view_set.set.authorized_view_set_id
  authorized_view_id  = "{{index $.Vars "authorized_view_id"}}"
  location            = "us-central1"
  display_name        = "My Authorized View"
  conversation_filter = "agent_id = \"1\""
}

