resource "google_datastream_connection_profile" "default" {
    display_name              = "SQL Server Source With Secret Manager"
    location                  = "us-central1"
    connection_profile_id     = "{{index $.Vars "source_connection_profile_id"}}"
    create_without_validation = true


    sql_server_profile {
        hostname = "fake-hostname"
        port = 1433
        username = "fake-username"
        secret_manager_stored_password = "projects/fake-project/secrets/fake-secret/versions/1"
        database = "fake-database"        
    }
}
