resource "google_dataplex_aspect_type" "{{$.PrimaryResourceId}}" {
  aspect_type_id         = "tf-test-aspect-type%{random_suffix}"
  location     = "us-central1"
  project      = "{{index $.TestEnvVars "project_name"}}"

  metadata_template = <<EOF
{
  "name": "tf-test-template",
  "type": "record",
  "recordFields": [
    {
      "name": "type",
      "type": "enum",
      "annotations": {
        "displayName": "Type",
        "description": "Specifies the type of view represented by the entry."
      },
      "index": 1,
      "constraints": {
        "required": true
      },
      "enumValues": [
        {
          "name": "VIEW",
          "index": 1
        }
      ]
    }
  ]
}
EOF
}

resource "google_dataplex_entry_type" "{{$.PrimaryResourceId}}" {
  entry_type_id = "{{index $.Vars "entry_type_name"}}"
  project = "{{index $.TestEnvVars "project_name"}}"
  location = "us-central1"

  labels = { "tag": "test-tf" }
  display_name = "terraform entry type"
  description = "entry type created by Terraform"

  type_aliases = ["TABLE", "DATABASE"]
  platform = "GCS"
  system = "CloudSQL"
  
  required_aspects {
    type = google_dataplex_aspect_type.{{$.PrimaryResourceId}}.name
  }
}