resource "google_dataplex_glossary" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  glossary_id = "{{index $.Vars "glossary_name"}}"
  location = "us-central1"
  project      = "{{index $.TestEnvVars "project_name"}}"
  etag = "google-internal"
}

data "google_project" "project" {
    provider = google-beta
}
