resource "google_dataplex_datascan" "{{$.PrimaryResourceId}}" {
  location     = "us-central1"
  data_scan_id = "{{index $.Vars "datascan_name"}}"

  data {
    resource = "//storage.googleapis.com/projects/${google_storage_bucket.tf_test_bucket.project}/buckets/${google_storage_bucket.tf_test_bucket.name}"
  }

  execution_spec {
    trigger {
      on_demand {}
    }
  }

  data_discovery_spec {}

  project = "{{index $.TestEnvVars "project_name"}}"
}

resource "google_storage_bucket" "tf_test_bucket" {
  name     = "tf-test-bucket-name-%{random_suffix}"
  location = "{{index $.TestEnvVars "location"}}"
  uniform_bucket_level_access = true
}