resource "google_dataplex_glossary" "{{$.PrimaryResourceId}}" {
  glossary_id        = "tf-test-glossary%{random_suffix}"
  location    = "{{$.Vars.location}}"
}

resource "google_dataplex_category" "{{$.PrimaryResourceId}}" {
  parent         = "google_dataplex_glossary.glossary.name"
  glossary_id     = google_dataplex_glossary.glossary.glossary_id 
  location    = "{{$.Vars.location}}"
  category_id = "tf-test-category-basic%{random_suffix}"
}
