resource "google_dataplex_aspect_type" "aspect-type-full-one" {
  aspect_type_id         = "{{index $.Vars "aspect_type_name"}}-one"
  location     = "us-central1"
  project      = "{{index $.TestEnvVars "project_number"}}"

  metadata_template = <<EOF
{
  "name": "tf-test-template",
  "type": "record",
  "recordFields": [
    {
      "name": "type",
      "type": "enum",
      "annotations": {
        "displayName": "Type",
        "description": "Specifies the type of view represented by the entry."
      },
      "index": 1,
      "constraints": {
        "required": true
      },
      "enumValues": [
        {
          "name": "VIEW",
          "index": 1
        }
      ]
    }
  ]
}
EOF
}

resource "google_dataplex_aspect_type" "aspect-type-full-two" {
  aspect_type_id         = "{{index $.Vars "aspect_type_name"}}-two"
  location     = "us-central1"
  project      = "{{index $.TestEnvVars "project_number"}}"

  metadata_template = <<EOF
{
  "name": "tf-test-template",
  "type": "record",
  "recordFields": [
    {
      "name": "story",
      "type": "enum",
      "annotations": {
        "displayName": "Story",
        "description": "Specifies the story of an entry."
      },
      "index": 1,
      "constraints": {
        "required": true
      },
      "enumValues": [
        {
          "name": "SEQUENCE",
          "index": 1
        }
      ]
    }
  ]
}
EOF
}

resource "google_bigquery_dataset" "example-dataset" {
  dataset_id                  = "{{index $.Vars "dataset_id"}}"
  friendly_name               = "Example Dataset"
  location                    = "us-central1"
  delete_contents_on_destroy  = true
}


resource "google_bigquery_table" "example-table" {
  dataset_id = google_bigquery_dataset.example-dataset.dataset_id
  table_id   = "{{index $.Vars "table_id"}}"
  deletion_protection = false
  # Define the table schema
  schema = jsonencode([
    {
      name = "event_time"
      type = "TIMESTAMP"
      mode = "REQUIRED"
    },
    {
      name = "user_id"
      type = "STRING"
      mode = "NULLABLE"
    },
    {
      name = "event_type"
      type = "STRING"
      mode = "NULLABLE"
    }
  ])
}

resource "google_dataplex_entry" "{{$.PrimaryResourceId}}" {
  entry_group_id = "@bigquery"
  project = "{{index $.TestEnvVars "project_number"}}"
  location = "us-central1"
  entry_id = "bigquery.googleapis.com/projects/{{index $.TestEnvVars "project_id"}}/datasets/${google_bigquery_dataset.example-dataset.dataset_id}/tables/${google_bigquery_table.example-table.table_id}"
  entry_type = "projects/655216118709/locations/global/entryTypes/bigquery-table"
  fully_qualified_name = "bigquery:{{index $.TestEnvVars "project_id"}}.${google_bigquery_dataset.example-dataset.dataset_id}.${google_bigquery_table.example-table.table_id}"
  parent_entry = "projects/{{index $.TestEnvVars "project_number"}}/locations/us-central1/entryGroups/@bigquery/entries/bigquery.googleapis.com/projects/{{index $.TestEnvVars "project_id"}}/datasets/${google_bigquery_dataset.example-dataset.dataset_id}"

  aspects {
    aspect_key = "{{index $.TestEnvVars "project_number"}}.us-central1.{{index $.Vars "aspect_type_name"}}-one"
    aspect {
      data = <<EOF
          {"type": "VIEW"    }
        EOF
    }
  }

  aspects {
    aspect_key = "{{index $.TestEnvVars "project_number"}}.us-central1.{{index $.Vars "aspect_type_name"}}-two@Schema.event_type"
    aspect {
      data = <<EOF
          {"story": "SEQUENCE"    }
        EOF
    }
  }
 depends_on = [google_dataplex_aspect_type.aspect-type-full-two, google_dataplex_aspect_type.aspect-type-full-one]
}