resource "google_data_lineage_config" "{{$.PrimaryResourceId}}" {
  parent = google_folder.integration.name
  location = "global"

  ingestion {
    rule {
      integration_selector {
        integration = "DATAPROC"
      }
      lineage_enablement {
        enabled = true
      }
    }
  }
}

resource "google_folder" "integration" {
  display_name = "{{index $.Vars "folder_name"}}"
  parent       = "organizations/{{index $.TestEnvVars "organization"}}"
  deletion_protection = false
}