resource "google_dataplex_glossary" "{{$.PrimaryResourceId}}" {
  glossary_id = "{{index $.Vars "glossary_name"}}"

  labels = { "tag": "test-tf" }
  display_name = "terraform glossary"
  description = "glossary created by Terraform"
}
