resource "google_dataproc_gdc_service_instance" "<%= ctx[:primary_resource_id] %>" {
  service_instance_id = "<%= ctx[:vars]['instance_id'] %>"
  location        = "us-west2"
  gdce_cluster {
      gdce_cluster = "projects/gdce-cluster-monitoring/locations/us-west2/clusters/gdce-prism-prober-ord106"
  }
}

