resource "google_database_migration_service_connection_profile" "<%= ctx[:primary_resource_id] %>" {
  location = "us-central1"
  connection_profile_id = "<%= ctx[:vars]["profile"] %>"
  display_name = "<%= ctx[:vars]["profile"] %>_display"
  labels = { 
    foo = "bar" 
  }
  oracle {
    host = "host"
    port = 1521
    username = "username"
    password = "password"
    database_service = "dbprovider"
    static_service_ip_connectivity {}
  }
}
