data "google_project" "project" {
}

resource "google_sql_database_instance" "destination_csql" {
  name             = "{{index $.Vars "destination_csql"}}"
  database_version = "POSTGRES_15"
  settings {
    tier = "db-custom-2-13312"
    deletion_protection_enabled = false
  }
  deletion_protection = false
}

resource "google_database_migration_service_connection_profile" "{{$.PrimaryResourceId}}" {
  location              = "us-central1"
  connection_profile_id = "{{index $.Vars "destination_cp"}}"
  display_name          = "{{index $.Vars "destination_cp"}}_display"
  labels = {
    foo = "bar"
  }
  postgresql {
    cloud_sql_id = "{{index $.Vars "destination_csql"}}"
  }
  depends_on = [google_sql_database_instance.destination_csql]
}
