resource "google_dataplex_glossary" "{{$.PrimaryResourceId}}" {
  glossary_id = "tf-test-glossary%{random_suffix}"
  location    = "us-central1"
}

resource "google_dataplex_glossary_term" "{{$.PrimaryResourceId}}" {
  parent = "projects/${google_dataplex_glossary.term_test_id_full.project}/locations/us-central1/glossaries/${google_dataplex_glossary.term_test_id_full.glossary_id}"
  glossary_id = google_dataplex_glossary.term_test_id_full.glossary_id
  location = "us-central1"
  term_id = "tf-test-term-full%{random_suffix}"

  labels = { "tag": "test-tf" }
  display_name = "terraform term"
  description = "term created by Terraform"
}

# Attaching Overview Aspects to created term
resource "google_dataplex_entry" "glossary-term-system-generated-entry" {
  location      = "us-central1"
  entry_group   = "@dataplex"
  entry_id      = "${google_dataplex_glossary_term.term_test_id_full.name}"
  entry_type    = "projects/655216118709/locations/global/entryTypes/glossary-term" # System type project number used for glossary terms
  aspects {
    key = "655216118709.global.overview" # Use dataplex-types project number for 1P types aspects.
    value {
      aspect_type = "projects/655216118709/locations/global/aspectTypes/overview"
      data: { content: "Example to attach overview aspects to the terms."}
    }
  }
}
