resource "google_data_lineage_config" "{{$.PrimaryResourceId}}" {
  parent = "projects/{{index $.TestEnvVars "project"}}"
  location = "global"

  ingestion {
    rule {
      integration_selector {
        integration = "DATAPROC"
      }
      lineage_enablement {
        enabled = true
      }
    }
  }
}
