resource "google_database_migration_service_private_connection" "default" {
	display_name          = "dbms_pc"
	location              = "us-central1"
	private_connection_id = "{{index $.Vars "private_connection_id"}}"

	psc_interface_config {
		network_attachment = google_compute_network_attachment.default.id
	}
}

resource "google_compute_network_attachment" "default" {
  name                  = "{{index $.Vars "attachment_name"}}"
  region                = "us-central1"
  connection_preference = "ACCEPT_AUTOMATIC"
  subnetworks           = [google_compute_subnetwork.default.id]
}

resource "google_compute_network" "default" {
  name = "my-network"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "default" {
  name          = "my-subnet"
  ip_cidr_range = "10.0.0.0/16"
  region        = "us-central1"
  network       = google_compute_network.default.id
}

resource "google_database_migration_service_connection_profile" "{{$.PrimaryResourceId}}" {
  location = "us-central1"
  connection_profile_id = "{{index $.Vars "profile_id"}}"
  display_name = "my-profile-display"
  role = "SOURCE"
  labels = { 
    foo = "bar" 
  }
  postgresql {
    host = "10.20.30.40"
    port = 5432
    username = "username"
    password = "password"
    ssl {
      type = "REQUIRED"
    }
    private_connectivity {
    	private_connection = google_database_migration_service_private_connection.default.id
    }
  }
}
