data "google_project" "project" {
}

resource "google_sql_database_instance" "source_csql" {
  name             = "{{index $.Vars "source_csql"}}"
  database_version = "POSTGRES_15"
  settings {
    tier = "db-custom-2-13312"
    deletion_protection_enabled = false
  }
  deletion_protection = false
}

resource "google_sql_ssl_cert" "source_sql_client_cert" {
  common_name = "{{index $.Vars "source_sqldb_cert"}}"
  instance    = google_sql_database_instance.source_csql.name

  depends_on = [google_sql_database_instance.source_csql]
}

resource "google_sql_user" "source_sqldb_user" {
  name     = "{{index $.Vars "source_sqldb_user"}}"
  instance = google_sql_database_instance.source_csql.name
  password = "{{index $.Vars "source_sqldb_pass"}}"

  depends_on = [google_sql_ssl_cert.source_sql_client_cert]
}

resource "google_database_migration_service_connection_profile" "source_cp" {
  location              = "us-central1"
  connection_profile_id = "{{index $.Vars "source_cp"}}"
  display_name          = "{{index $.Vars "source_cp"}}_display"
  labels = {
    foo = "bar"
  }
  postgresql {
    host     = google_sql_database_instance.source_csql.ip_address.0.ip_address
    port     = 3306
    username = google_sql_user.source_sqldb_user.name
    password = google_sql_user.source_sqldb_user.password
    ssl {
      client_key         = google_sql_ssl_cert.source_sql_client_cert.private_key
      client_certificate = google_sql_ssl_cert.source_sql_client_cert.cert
      ca_certificate     = google_sql_ssl_cert.source_sql_client_cert.server_ca_cert
      type = "SERVER_CLIENT"
    }
    cloud_sql_id = "{{index $.Vars "source_csql"}}"
  }

  depends_on = [google_sql_user.source_sqldb_user]
}

resource "google_alloydb_cluster" "destination_alloydb" {
  cluster_id = "{{index $.Vars "destination_alloydb"}}"
  location   = "us-central1"
  network_config {
    network = google_compute_network.default.id
  }
  database_version = "POSTGRES_15"

  initial_user {
    user     = "{{index $.Vars "destination_alloydb"}}"
    password = "{{index $.Vars "destination_alloydb"}}"
  }

  deletion_protection = false
}

resource "google_alloydb_instance" "destination_alloydb_primary" {
  cluster       = google_alloydb_cluster.destination_alloydb.name
  instance_id   = "{{index $.Vars "destination_alloydb"}}-primary"
  instance_type = "PRIMARY"

  depends_on = [google_service_networking_connection.vpc_connection]
}

resource "google_compute_global_address" "private_ip_alloc" {
  name          =  "{{index $.Vars "destination_alloydb"}}"
  address_type  = "INTERNAL"
  purpose       = "VPC_PEERING"
  prefix_length = 16
  network       = google_compute_network.default.id
}

resource "google_service_networking_connection" "vpc_connection" {
  network                 = google_compute_network.default.id
  service                 = "servicenetworking.googleapis.com"
  reserved_peering_ranges = [google_compute_global_address.private_ip_alloc.name]
}

resource "google_compute_network" "default" {
  name = "{{index $.Vars "destination_alloydb"}}"
}

resource "google_database_migration_service_connection_profile" "destination_cp" {
  location              = "us-central1"
  connection_profile_id = "{{index $.Vars "destination_cp"}}"
  display_name          = "{{index $.Vars "destination_cp"}}_display"
  labels = {
    foo = "bar"
  }
  postgresql {
    alloydb_cluster_id = "{{index $.Vars "destination_alloydb"}}"
  }
  depends_on = [google_alloydb_cluster.destination_alloydb, google_alloydb_instance.destination_alloydb_primary]
}

resource "google_database_migration_service_migration_job" "{{$.PrimaryResourceId}}" {
  location              = "us-central1"
  migration_job_id = "{{index $.Vars "migration_id"}}"
  display_name = "{{index $.Vars "migration_id"}}_display"
  labels = {
    foo = "bar"
  }
  static_ip_connectivity {
  }
  source          = google_database_migration_service_connection_profile.source_cp.name
  destination     = google_database_migration_service_connection_profile.destination_cp.name
  type            = "CONTINUOUS"
}



