resource "google_data_fusion_instance" "{{$.PrimaryResourceId}}" {
  name             = "{{index $.Vars "instance_name"}}"
  region           = "us-central1"
  type             = "BASIC"
  private_instance = true

  network_config {
    connection_type = "PRIVATE_SERVICE_CONNECT_INTERFACES"
    private_service_connect_config {
      network_attachment     = google_compute_network_attachment.psc.id
      unreachable_cidr_block = "192.168.0.0/25"
    }
  }

  {{index $.Vars "prober_test_run"}}
}

resource "google_compute_network" "psc" {
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "psc" {
  name   = "{{index $.Vars "subnet_name"}}"
  region = "us-central1"

  network       = google_compute_network.psc.id
  ip_cidr_range = "10.0.0.0/16"
}

resource "google_compute_network_attachment" "psc" {
  name                  = "{{index $.Vars "attachment_name"}}"
  region                = "us-central1"
  connection_preference = "ACCEPT_AUTOMATIC"

  subnetworks = [
    google_compute_subnetwork.psc.self_link
  ]
}
