resource "google_data_fusion_instance" "<%= ctx[:primary_resource_id] %>" {
  name   = "<%= ctx[:vars]["instance_name"] %>"
  region = "us-central1"
  type   = "BASIC"

  crypto_key_config {
    key_reference = google_kms_crypto_key.crypto_key.id
  }

  depends_on = [google_kms_crypto_key_iam_member.crypto_key_member]
}

resource "google_kms_crypto_key" "crypto_key" {
  name     = "<%= ctx[:vars]['instance_name'] %>"
  key_ring = google_kms_key_ring.key_ring.id
}

resource "google_kms_key_ring" "key_ring" {
  name     = "<%= ctx[:vars]['instance_name'] %>"
  location = "us-central1"
}

resource "google_kms_crypto_key_iam_member" "crypto_key_member" {
  crypto_key_id = google_kms_crypto_key.crypto_key.id
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"

  member = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-datafusion.iam.gserviceaccount.com"
}

data "google_project" "project" {}
