resource "google_data_fusion_instance" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "instance_name"}}"
  region = "us-central1"
  type = "BASIC"
  version = "6.10.1"
  patch_revision = "6.10.1.5"
}
