resource "google_data_fusion_instance" "{{$.PrimaryResourceId}}" {
  name                          = "{{index $.Vars "instance_name"}}"
  description                   = "My Data Fusion instance"
  display_name                  = "My Data Fusion instance"
  region                        = "us-central1"
  type                          = "BASIC"
  enable_stackdriver_logging    = true
  enable_stackdriver_monitoring = true
  private_instance              = true
  dataproc_service_account      = data.google_app_engine_default_service_account.default.email

  labels = {
    example_key = "example_value"
  }

  network_config {
    network       = "default"
    ip_allocation = "${google_compute_global_address.private_ip_alloc.address}/${google_compute_global_address.private_ip_alloc.prefix_length}"
  }

  accelerators {
    accelerator_type = "CDC"
    state = "ENABLED"
  }
  {{index $.Vars "prober_test_run"}}
}

data "google_app_engine_default_service_account" "default" {
}

resource "google_compute_network" "network" {
  name = "{{index $.Vars "network_name"}}"
}

resource "google_compute_global_address" "private_ip_alloc" {
  name          = "{{index $.Vars "ip_alloc"}}"
  address_type  = "INTERNAL"
  purpose       = "VPC_PEERING"
  prefix_length = 22
  network       = google_compute_network.network.id
}