resource "google_data_lineage_config" "{{$.PrimaryResourceId}}" {
  parent = google_folder.integration.name
  location = "global"

  ingestion {
    rule {
      integration_selector {
        integration = "DATAPROC"
      }
      lineage_enablement {
        enabled = true
      }
    }
  }
  depends_on = [google_folder_iam_member.datalineage_admin]
}

resource "google_folder" "integration" {
  display_name = "{{index $.Vars "folder_name"}}"
  parent       = "organizations/{{index $.TestEnvVars "organization"}}"
  deletion_protection = false
}

resource "google_folder_iam_member" "datalineage_admin" {
  folder = google_folder.integration.folder_id
  role   = "roles/datalineage.admin"
  member = "serviceAccount:${data.google_client_openid_userinfo.me.email}"
}

data "google_client_openid_userinfo" "me" {
}