resource "google_dataproc_session_template" "{{$.PrimaryResourceId}}" {
    name     = "projects/{{index $.TestEnvVars "project_name"}}/locations/us-central1/sessionTemplates/{{index $.Vars "name"}}"
    location      = "us-central1"
    labels        = {"session_template_test": "terraform"}

    runtime_config {
      properties    = { "spark.dynamicAllocation.enabled": "false", "spark.executor.instances": "2" }
    }

    environment_config {
      execution_config {
        subnetwork_uri = "{{index $.Vars "subnetwork_name"}}"
        ttl            = "3600s"
        network_tags   = ["tag1"]
      }
    }
}
