resource "google_dataplex_datascan" "<%= ctx[:primary_resource_id] %>" {
  location     = "us-central1"
  data_scan_id = "<%= ctx[:vars]['datascan_name'] %>"

  data {
	  resource = "//bigquery.googleapis.com/projects/bigquery-public-data/datasets/samples/tables/shakespeare"
  }

  execution_spec {
    trigger {
      on_demand {}
    }
  }

data_profile_spec {}

  project = "<%= ctx[:test_env_vars]['project_name'] %>"
}
