resource "google_datastream_connection_profile" "<%= ctx[:primary_resource_id] %>" {
	display_name          = "Connection profile"
	location              = "us-central1"
	connection_profile_id = "<%= ctx[:vars]['connection_profile_id'] %>"

	gcs_profile {
		bucket    = "my-bucket"
		root_path = "/path"
	}

	forward_ssh_connectivity {
		hostname = "google.com"
		username = "my-user"
		port     = 8022
		password = "swordfish"
	}
	labels = {
		key = "value"
	}
}