resource "google_dataplex_aspect_type" "aspect-type-full-one" {
  aspect_type_id         = "{{index $.Vars "aspect_type_name"}}-one"
  location     = "us-central1"
  project      = "{{index $.TestEnvVars "project_number"}}"

  metadata_template = <<EOF
{
  "name": "tf-test-template",
  "type": "record",
  "recordFields": [
    {
      "name": "type",
      "type": "enum",
      "annotations": {
        "displayName": "Type",
        "description": "Specifies the type of view represented by the entry."
      },
      "index": 1,
      "constraints": {
        "required": true
      },
      "enumValues": [
        {
          "name": "VIEW",
          "index": 1
        }
      ]
    }
  ]
}
EOF
}

resource "google_dataplex_aspect_type" "aspect-type-full-two" {
  aspect_type_id         = "{{index $.Vars "aspect_type_name"}}-two"
  location     = "us-central1"
  project      = "{{index $.TestEnvVars "project_number"}}"

  metadata_template = <<EOF
{
  "name": "tf-test-template",
  "type": "record",
  "recordFields": [
    {
      "name": "story",
      "type": "enum",
      "annotations": {
        "displayName": "Story",
        "description": "Specifies the story of an entry."
      },
      "index": 1,
      "constraints": {
        "required": true
      },
      "enumValues": [
        {
          "name": "SEQUENCE",
          "index": 1
        }
      ]
    }
  ]
}
EOF
}

resource "google_dataplex_glossary" "example-glossary" {
  glossary_id = "{{index $.Vars "glossary_id"}}"
  location    = "us-central1"
}

resource "google_dataplex_glossary_term" "example-glossary-term" {
  parent = "projects/{{index $.TestEnvVars "project_id"}}/locations/us-central1/glossaries/${google_dataplex_glossary.example-glossary.glossary_id}"
  glossary_id = google_dataplex_glossary.example-glossary.glossary_id
  location = "us-central1"
  term_id = "{{index $.Vars "glossary_term_id"}}"
}

resource "google_dataplex_entry" "{{$.PrimaryResourceId}}" {
  entry_group_id = "@dataplex"
  project = "{{index $.TestEnvVars "project_number"}}"
  location = "us-central1"
  entry_id = "projects/{{index $.TestEnvVars "project_number"}}/locations/us-central1/glossaries/${google_dataplex_glossary.example-glossary.glossary_id}/terms/${google_dataplex_glossary_term.example-glossary-term.term_id}"
  entry_type = "projects/655216118709/locations/global/entryTypes/glossary-term"
  parent_entry = "projects/{{index $.TestEnvVars "project_number"}}/locations/us-central1/entryGroups/@dataplex/entries/projects/{{index $.TestEnvVars "project_number"}}/locations/us-central1/glossaries/${google_dataplex_glossary.example-glossary.glossary_id}"

  aspects {
     aspect_key = "655216118709.global.overview"
     aspect {
       data = <<EOF
           {"content": "Term Content"    }
         EOF
     }
   }

  aspects {
    aspect_key = "{{index $.TestEnvVars "project_number"}}.us-central1.{{index $.Vars "aspect_type_name"}}-one"
    aspect {
      data = <<EOF
          {"type": "VIEW"    }
        EOF
    }
  }

  aspects {
    aspect_key = "{{index $.TestEnvVars "project_number"}}.us-central1.{{index $.Vars "aspect_type_name"}}-two"
    aspect {
      data = <<EOF
          {"story": "SEQUENCE"    }
        EOF
    }
  }
 depends_on = [google_dataplex_aspect_type.aspect-type-full-two, google_dataplex_aspect_type.aspect-type-full-one]
}