resource "google_datastream_connection_profile" "default" {
    display_name          = "Oracle Source With Secret Manager"
    location              = "us-central1"
    connection_profile_id = "{{index $.Vars "source_connection_profile_id"}}"

    oracle_profile {
        hostname = "fake-hostname"
        port     = 1521
        username = "fake-username"
         secret_manager_stored_password = "projects/fake-project/secrets/fake-secret/versions/1"
        database_service = "fake-database"
    }
}
