resource "google_bigquery_dataset" "bq_dataset" {
  dataset_id = "tf_test_dataset_%{random_suffix}"
  project    = "{{index $.TestEnvVars "project_number"}}"
  location   = "us-central1"
}

resource "google_bigquery_table" "table1" {
  deletion_protection = false
  dataset_id = google_bigquery_dataset.bq_dataset.dataset_id
  table_id   = "table1_%{random_suffix}"
  project    = "{{index $.TestEnvVars "project_number"}}"
  schema = jsonencode([
    {
      name        = "col1"
      type        = "STRING"
      mode        = "NULLABLE"
      description = "Column 1"
    }
  ])
}

resource "google_bigquery_table" "table2" {
  deletion_protection = false
  dataset_id = google_bigquery_dataset.bq_dataset.dataset_id
  table_id   = "table2_%{random_suffix}"
  project    = "{{index $.TestEnvVars "project_number"}}"
  schema = jsonencode([
    {
      name        = "colA"
      type        = "STRING"
      mode        = "NULLABLE"
      description = "Column A"
    }
  ])
}

resource "google_dataplex_entry_link" "full_entry_link_with_aspect" {
  project = "{{index $.TestEnvVars "project_number"}}"
  location = "us-central1"
  entry_group_id = "@bigquery"
  entry_link_id = "tf-test-full-entry-link%{random_suffix}"
  entry_link_type = "projects/655216118709/locations/global/entryLinkTypes/schema-join"
  entry_references {
    name = "projects/%{project_number}/locations/us-central1/entryGroups/@bigquery/entries/bigquery.googleapis.com/projects/{{index $.TestEnvVars "project_id"}}/datasets/${google_bigquery_dataset.bq_dataset.dataset_id}/tables/${google_bigquery_table.table1.table_id}"
    type = ""
  }
  entry_references {
    name = "projects/%{project_number}/locations/us-central1/entryGroups/@bigquery/entries/bigquery.googleapis.com/projects/{{index $.TestEnvVars "project_id"}}/datasets/${google_bigquery_dataset.bq_dataset.dataset_id}/tables/${google_bigquery_table.table2.table_id}"
    type = ""
  }
  aspects {
    aspect_key = "655216118709.global.schema-join"
    aspect {
      data = jsonencode({
        joins       = []
        userManaged = true
      })
    }
  }
}