resource "google_data_catalog_taxonomy" "<%= ctx[:primary_resource_id] %>" {
  display_name =  "<%= ctx[:vars]['display_name'] %>"
  description = "A collection of policy tags"
  activated_policy_types = ["FINE_GRAINED_ACCESS_CONTROL"]
}
