resource "google_datastream_connection_profile" "default" {
    display_name          = "Mongodb Source"
    location              = "us-central1"
    connection_profile_id = "{{index $.Vars "source_connection_profile_id"}}"

    mongodb_profile {
        host_addresses = [
          {
            hostname = "mongodb-primary.example.com"
            port     = 27017
          }
        ]

        replica_set = "myReplicaSet"
        username    = "mongoUser"
        password    = "mongoPassword"
        database    = "myDatabase"

        standard_connection_format = {}
    }
}