resource "google_data_fusion_fake_resource" "{{$.PrimaryResourceId}}" {
  name   = "{{index $.Vars "instance_name"}}"
  region = "us-central1"
  type   = "BASIC"
  {{index $.Vars "prober_test_run"}}
}
