resource "google_dataplex_glossary" "<%= ctx[:primary_resource_id] %>" {
  glossary_id = "<%= ctx[:vars]['glossary_name'] %>"
  project = "<%= ctx[:test_env_vars]['project_name'] %>"
  location = "us-central1"

  labels = { "tag": "test-tf" }
  display_name = "terraform glossary"
  description = "glossary created by Terraform"
}
