resource "google_deployment_manager_deployment" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "deployment_name"}}"

  target {
    config {
      content = file("path/to/config.yml")
    }
  }

  labels {
    key = "foo"
    value = "bar"
  }
}
