resource "google_developer_connect_connection" "{{$.PrimaryResourceId}}" {
  location = "us-central1"
  connection_id = "{{index $.Vars "connection_name"}}"

  github_config {
    github_app = "DEVELOPER_CONNECT"

    authorizer_credential {
      oauth_token_secret_version = "{{index $.Vars "secret_name"}}"
    }
  }
}

output "next_steps" {
  description = "Follow the action_uri if present to continue setup"
  value = google_developer_connect_connection.{{$.PrimaryResourceId}}.installation_state
}
