resource "google_apphub_application" "my_apphub_application" {
  location       = "us-central1"
  application_id = "{{index $.Vars "apphub_application_name"}}"
  display_name = "{{index $.Vars "apphub_application_display_name"}}"
  scope {
    type = "REGIONAL"
  }
  project = "{{index $.TestEnvVars "devconnect-insights-terraform"}}"
}

resource "google_developer_connect_insights_config" "{{$.PrimaryResourceId}}" {
  location           = "us-central1"
  insights_config_id = "{{index $.Vars "insights_config_name"}}"
  app_hub_application =  format("//apphub.googleapis.com/projects/%s/locations/%s/applications/%s",
			data.google_project.project.number,
			google_apphub_application.my_apphub_application.location,
			google_apphub_application.mmy_apphub_application.application_id)
  project         = "{{index $.TestEnvVars "devconnect-insights-terraform"}}"
}
