resource "google_developer_connect_connection" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us-central1"
  connection_id = "{{index $.Vars "connection_name"}}"

  github_config {
    github_app = "DEVELOPER_CONNECT"

    authorizer_credential {
      oauth_token_secret_version = "projects/devconnect-terraform-creds/secrets/tf-test-do-not-change-github-oauthtoken-e0b9e7/versions/1"
    }
  }
}
