resource "google_dialogflow_cx_agent" "agent" {
  display_name = "{{index $.Vars "agent_name"}}"
  location = "global"
  default_language_code = "en"
  time_zone = "America/New_York"
  description = "Example description."
  delete_chat_engine_on_destroy = true
  depends_on = [
    google_discovery_engine_data_store.my_datastore
  ]
}

resource "google_dialogflow_cx_tool" "{{$.PrimaryResourceId}}" {
  parent       = google_dialogflow_cx_agent.agent.id
  display_name = "Example Data Store Tool"
  description  = "Example Description"
  data_store_spec {
    data_store_connections {
      data_store_type = "UNSTRUCTURED"
      data_store = "projects/${data.google_project.project.number}/locations/global/collections/default_collection/dataStores/${google_discovery_engine_data_store.my_datastore.data_store_id}"
      document_processing_mode = "DOCUMENTS"
    }
    fallback_prompt {} 
  }
  depends_on = [
    google_discovery_engine_data_store.my_datastore,
    google_dialogflow_cx_agent.agent
  ]
}

resource "google_discovery_engine_data_store" "my_datastore" {
  location          = "global"
  data_store_id     = "{{index $.Vars "data_store"}}"
  display_name      = "datastore for Tool test"
  industry_vertical = "GENERIC"
  content_config    = "NO_CONTENT"
  solution_types    = ["SOLUTION_TYPE_CHAT"]
}

data "google_project" "project" {
}
