resource "google_dialogflow_agent" "basic_agent" {
  display_name = "example_agent"
  default_language_code = "en"
  time_zone = "America/New_York"
}

resource "google_dialogflow_fulfillment" "{{$.PrimaryResourceId}}" {
  depends_on = [google_dialogflow_agent.basic_agent]
  display_name = "{{index $.Vars "fulfillment_name"}}"
  enabled    = true
  generic_web_service {
			uri      = "https://google.com"
			username = "admin"
			password = "password"
			request_headers = { 
          name = "wrench"
			}
	}
}