resource "google_discovery_engine_data_store" "agentspace_basic" {
  location                    = "global"
  data_store_id               = "{{index $.Vars "data_store_id"}}"
  display_name                = "tf-test-structured-datastore"
  industry_vertical           = "GENERIC"
  content_config              = "NO_CONTENT"
  solution_types              = ["SOLUTION_TYPE_SEARCH"]
  create_advanced_site_search = false
}
resource "google_discovery_engine_search_engine" "agentspace_basic" {
  engine_id                   = "{{index $.Vars "engine_id"}}"
  collection_id               = "default_collection"
  location                    = google_discovery_engine_data_store.agentspace_basic.location
  display_name                = "tf-test-agentspace-search-engine"
  data_store_ids              = [google_discovery_engine_data_store.agentspace_basic.data_store_id]
  industry_vertical           = "GENERIC"
  search_engine_config {
  }
}
