resource "google_compute_disk" "primary" {
  name  = "{{index $.Vars "disk_name"}}"
  type  = "pd-ssd"
  zone  = "us-central1-a"

  physical_block_size_bytes = 4096
}

resource "google_compute_disk" "secondary" {
  name  = "{{index $.Vars "secondary_disk_name"}}"
  type  = "pd-ssd"
  zone  = "us-east1-c"

  async_primary_disk {
    disk = google_compute_disk.primary.id
  }

  physical_block_size_bytes = 4096
}
