resource "google_data_loss_prevention_discovery_config" "<%= ctx[:primary_resource_id] %>" {
	parent = "organizations/<%= ctx[:test_env_vars]['organization'] %>/locations/us"
    location = "us"

    targets {
        big_query_target {
            filter {
                other_tables {}
            }
        }
    }
    org_config {
        project_id = "<%= ctx[:test_env_vars]['project'] %>"
        location {
            folder_id = 123
        }
    }
    inspect_templates = ["projects/%{project}/inspectTemplates/${google_data_loss_prevention_inspect_template.basic.name}"]
    status = "PAUSED"
}

resource "google_data_loss_prevention_inspect_template" "basic" {
	parent = "projects/<%= ctx[:test_env_vars]['project'] %>"
	description = "My description"
	display_name = "display_name"

	inspect_config {
		info_types {
			name = "EMAIL_ADDRESS"
		}
    }
}
