resource "google_data_loss_prevention_stored_info_type" "{{$.PrimaryResourceId}}" {
  parent = "projects/{{index $.TestEnvVars "project"}}"
  description = "Description"
  display_name = "Displayname"
  stored_info_type_id = "{{index $.Vars "name"}}"

  regex {
    pattern = "patient"
    group_indexes = [2]
  }
}
