resource "google_data_loss_prevention_job_trigger" "{{$.PrimaryResourceId}}" {
    parent = "projects/{{index $.TestEnvVars "project"}}"
    description  = "BigQuery DLP Job Trigger with timespan config and row limit"
    display_name = "bigquery-dlp-job-trigger-limit-timespan"

    triggers {
        schedule {
            recurrence_period_duration ="86400s"
        }
    }

    inspect_job {
        inspect_template_name = "projects/test/locations/global/inspectTemplates/6425492983381733900" 
        storage_config {
            big_query_options {
                table_reference {
                    project_id = "project"
                    dataset_id = "dataset"
                    table_id   = "table"
                }
                sample_method = ""
            }

            timespan_config {
                start_time = "2023-01-01T00:00:23Z"
                timestamp_field {
                    name = "timestamp"
                }
            }
        }

        actions {
            save_findings {
                output_config {
                    table {
                        project_id = "project"
                        dataset_id = "output"
                    }
                }
            }
        }
}
}