resource "google_data_loss_prevention_stored_info_type" "<%= ctx[:primary_resource_id] %>" {
	parent = "projects/<%= ctx[:test_env_vars]['project'] %>"
	description = "Description"
	display_name = "Displayname"

	regex {
		pattern = "patient"
		group_indexes = [2]
	}
}