resource "google_dns_managed_zone" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "zone_name"}}"
  dns_name    = "services.example.com."
  description = "Example cloud logging enabled DNS zone"
  labels = {
    foo = "bar"
  }

  cloud_logging_config {
    enable_logging = true
  }
}