
resource "google_edgenetwork_router" "{{$.PrimaryResourceId}}" {
  router_id   = "{{index $.Vars "edgenetwork_router_id"}}"
  location    = "{{index $.TestEnvVars "location"}}"
  zone        = "{{index $.TestEnvVars "zone"}}"
  network     = google_edgenetwork_network.example_network.id
}

resource "google_edgenetwork_network" "example_network" {
  network_id  = "{{index $.Vars "edgenetwork_network_id"}}"
  location    = "{{index $.TestEnvVars "location"}}"
  zone        = "{{index $.TestEnvVars "zone"}}"
  description = "Example network."
  mtu         = 9000
}

