
resource "google_edgenetwork_subnet" "{{$.PrimaryResourceId}}" {
  subnet_id   = "{{index $.Vars "edgenetwork_subnet_id"}}"
  location    = "{{index $.TestEnvVars "location"}}"
  zone        = "{{index $.TestEnvVars "zone"}}"
  description = "Example subnet with VLAN ID."
  network     = google_edgenetwork_network.example_network.id
  ipv6_cidr   = ["4444:4444:4444:4444::1/64"]
  vlan_id     = 44
  labels      = {
    "environment" : "dev"
  }
}

resource "google_edgenetwork_network" "example_network" {
  network_id  = "{{index $.Vars "edgenetwork_network_id"}}"
  location    = "{{index $.TestEnvVars "location"}}"
  zone        = "{{index $.TestEnvVars "zone"}}"
  description = "Example network."
  mtu         = 9000
}

