resource "google_endpoints_service" "{{$.PrimaryResourceId}}" {
  service_name = "{{index $.Vars "name"}}.endpoints.{{index $.TestEnvVars "project_name"}}.cloud.goog"
  project = "{{index $.TestEnvVars "project_name"}}"
  grpc_config = <<EOF
type: google.api.Service
config_version: 3
name: {{index $.Vars "name"}}.endpoints.{{index $.TestEnvVars "project_name"}}.cloud.goog
usage:
  rules:
  - selector: endpoints.examples.bookstore.Bookstore.ListShelves
    allow_unregistered_calls: true
EOF
  protoc_output_base64 = "${filebase64("test-fixtures/test_api_descriptor.pb")}"
}
