resource "google_eventarc_trigger" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "trigger_name"}}"
  location = "us-central1"
  matching_criteria {
    attribute = "type"
    value     = "google.cloud.pubsub.topic.v1.messagePublished"
  }
  destination {
    http_endpoint {
      uri = "http://10.10.10.8:80/route"
    }
    network_config {
      network_attachment = google_compute_network_attachment.psc.id
    }

  }
  service_account = google_service_account.trigger_service_account.email
}

resource "google_service_account" "trigger_service_account" {
  account_id = "{{index $.Vars "service_account_id"}}"
}

resource "google_compute_network" "psc" {
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "psc" {
  name   = "{{index $.Vars "subnet_name"}}"
  region = "us-central1"

  network       = google_compute_network.psc.id
  ip_cidr_range = "10.0.0.0/16"
}

resource "google_compute_network_attachment" "psc" {
  name                  = "{{index $.Vars "network_attachment_name"}}"
  region                = "us-central1"
  connection_preference = "ACCEPT_AUTOMATIC"

  subnetworks = [
    google_compute_subnetwork.psc.self_link
  ]
}
