resource "google_eventarc_pipeline" "{{$.PrimaryResourceId}}" {
  location    = "us-central1"
  pipeline_id = "{{index $.Vars "pipeline_name"}}"
  destinations {
    http_endpoint {
      uri = "https://10.77.0.0:80/route"
    }
    network_config {
      network_attachment = "projects/{{index $.TestEnvVars "project_id"}}/regions/us-central1/networkAttachments/{{index $.Vars "network_attachment_name"}}"
    }
  }
}
