resource "google_filestore_snapshot" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "snapshot_name"}}"
  instance = google_filestore_instance.instance.name
  location = "us-east1"
}

resource "google_filestore_instance" "instance" {
  name     = "{{index $.Vars "instance_name"}}"
  location = "us-east1"
  tier     = "ENTERPRISE"

  file_shares {
    capacity_gb = 1024
    name        = "share1"
  }

  networks {
    network = "default"
    modes   = ["MODE_IPV4"]
  }
}
