resource "google_filestore_instance" "instance" {
  name     = "{{index $.Vars "instance_name"}}"
  location = "us-central1-b"
  tier     = "BASIC_HDD"

  file_shares {
    capacity_gb = 1024
    name        = "share1"
  }

  networks {
    network      = "default"
    modes        = ["MODE_IPV4"]
    connect_mode = "DIRECT_PEERING"
  }
}

resource "google_filestore_backup" "{{$.PrimaryResourceId}}" {
  name              = "{{index $.Vars "backup_name"}}"
  location          = "us-central1"
  description       = "This is a filestore backup for the test instance"
  source_instance   = google_filestore_instance.instance.id
  source_file_share = "share1"

  labels = {
    "files":"label1",
    "other-label": "label2"
  }
}

