resource "google_compute_firewall" "{{$.PrimaryResourceId}}" {
  project     = "{{index $.TestEnvVars "project"}}"
  name        = "{{index $.Vars "firewall_name"}}"
  network     = "default"
  description = "Creates firewall rule targeting tagged instances"

  allow {
    protocol  = "tcp"
    ports     = ["80", "8080", "1000-2000"]
  }

  source_tags = ["foo"]
  target_tags = ["web"]
}
