resource "google_firebase_ai_logic_prompt_template" "basic" {
  provider = google-beta
  project  = "{{index $.TestEnvVars "project_id"}}"
  location = "global"
  prompt_template_id = "basic-template-{{index $.Vars "random_suffix"}}"
  template_string = <<EOF
---
model: gemini-2.5-flash
---
Hello world!
EOF
}
