resource "google_firestore_database" "database" {
  project     = "{{index $.TestEnvVars "project_id"}}"
  name        = "{{index $.Vars "database_id"}}"
  location_id = "nam5"
  type        = "FIRESTORE_NATIVE"

  delete_protection_state = "{{index $.Vars "delete_protection_state"}}"
  deletion_policy         = "DELETE"
}

resource "google_firestore_backup_schedule" "{{$.PrimaryResourceId}}" {
  project  = "{{index $.TestEnvVars "project_id"}}"
  database = google_firestore_database.database.name

  retention = "8467200s" // 14 weeks (maximum possible retention)

  weekly_recurrence {
    day = "SUNDAY"
  }
}
