# Enable Firebase Data Connect API
resource "google_project_service" "fdc" {
  project = "{{index $.TestEnvVars "project_id"}}"
  service = "firebasedataconnect.googleapis.com"
}

# Create a Firebase Data Connect service
resource "google_firebase_data_connect_service" "default" {
  project = "{{index $.TestEnvVars "project_id"}}"
  location = "us-central1"
  service_id = "{{index $.Vars "service_id"}}"
  deletion_policy = "DEFAULT"

  labels = {
    label = "my-label"
  }

  annotations = {
    key1 = "value1",
    key2 = "value2",
  }

  depends_on = [google_project_service.fdc]
}