resource "google_firebase_hosting_site" "default" {
  provider = google-beta
  project  = "{{index $.TestEnvVars "project_id"}}"
  site_id  = "{{index $.Vars "site_id"}}"
}

resource "google_firebase_hosting_version" "default" {
  provider = google-beta
  site_id  = google_firebase_hosting_site.default.site_id
  config {
    redirects {
      glob = "/google/**"
      status_code = 302
      location = "https://www.google.com"
    }
  }
}

resource "google_firebase_hosting_channel" "default" {
  provider   = google-beta
  site_id    = google_firebase_hosting_site.default.site_id
  channel_id = "{{index $.Vars "channel_id"}}"
}

resource "google_firebase_hosting_release" "default" {
  provider     = google-beta
  site_id      = google_firebase_hosting_site.default.site_id
  channel_id   = google_firebase_hosting_channel.default.channel_id
  version_name = google_firebase_hosting_version.default.name
  message      = "Test release in channel"
}

