resource "google_firebase_web_app" "<%= ctx[:primary_resource_id] %>" {
	provider = google-beta
	project = "<%= ctx[:test_env_vars]['project_id'] %>"
	display_name = "<%= ctx[:vars]['display_name'] %>"
	api_key_id = google_apikeys_key.web.uid
	deletion_policy = "DELETE"
}

resource "google_apikeys_key" "web" {
	provider = google-beta
	project  = "<%= ctx[:test_env_vars]['project_id'] %>"
	name         = "<%= ctx[:vars]['api_key_name'] %>"
	display_name = "<%= ctx[:vars]['display_name'] %>"

	restrictions {
	    browser_key_restrictions {
	        allowed_referrers = ["*"]
	    }
	}
}