resource "google_project" "default" {
  provider = google-beta
  project_id = "{{index $.Vars "project_id"}}"
  name       = "{{index $.Vars "project_id"}}"
  org_id     = "{{index $.TestEnvVars "org_id"}}"
  deletion_policy = "DELETE"
  labels     = {
    "firebase" = "enabled"
  }
}

resource "google_project_service" "firebase" {
  provider = google-beta
  project  = google_project.default.project_id
  service  = "firebase.googleapis.com"
}

resource "google_firebase_project" "default" {
  provider = google-beta
  project  = google_project.default.project_id

  depends_on = [google_project_service.firebase]
}

resource "google_project_service" "firebase_database" {
  provider = google-beta
  project  = google_firebase_project.default.project
  service  = "firebasedatabase.googleapis.com"
}

resource "time_sleep" "wait_60_seconds" {
  create_duration = "60s"
  depends_on = [google_project_service.firebase_database]
}

resource "google_firebase_database_instance" "default" {
  provider = google-beta
  project  = google_firebase_project.default.project
  region   = "us-central1"
  instance_id = "{{index $.Vars "project_id"}}-default-rtdb"
  type     = "DEFAULT_DATABASE"
  depends_on = [time_sleep.wait_60_seconds]
}
