resource "google_firebase_remote_config_remote_config" "{{$.PrimaryResourceId}}" {
  conditions {
    name       = "ios_en"
    expression = "device.os == 'ios' && device.country in ['us']"
    tag_color  = "TEAL"
  }

  parameters {
    parameter_name = "welcome_message"
    description = "Welcome message"
    value_type  = "STRING"
    default_value {
      value              = "Welcome to the App!"
    }
    conditional_values {
      condition_name     = "ios_en"
      value              = "Welcome to the App on iOS!"
    }
  }

  parameter_groups {
    parameter_group_name = "group_a"
    description = "Parameter group A description"
    parameters {
      parameter_name = "welcome_message_group"
      description = "Welcome message for group A"
      value_type  = "STRING"
      default_value {
        value             = "Welcome Group A!"
      }
      conditional_values {
        condition_name = "ios_en"
        value             = "Welcome Group A on iOS!"
      }
    }
  }
}
