resource "google_compute_firewall_policy" "{{$.PrimaryResourceId}}" {
  parent      = "organizations/{{index $.TestEnvVars "org_id"}}"
  short_name  = "{{index $.Vars "policy_name"}}"
  description = "Example Resource"
}