resource "google_firebase_hosting_site" "default" {
  provider = google-beta
  project  = "<%= ctx[:test_env_vars]['project_id'] %>"

  site_id = "<%= ctx[:vars]['site_id'] %>"
}

resource "google_firebase_hosting_custom_domain" "default" {
  provider = google-beta

  project  = "<%= ctx[:test_env_vars]['project_id'] %>"
  site_id = google_firebase_hosting_site.default.site_id
  custom_domain = "<%= ctx[:vars]['custom_domain'] %>"
  cert_preference = "GROUPED"
  redirect_target = "<%= ctx[:vars]['redirect_target'] %>"

  wait_dns_verification = false
}