resource "google_firebase_web_app" "{{$.PrimaryResourceId}}" {
	provider = google-beta
	project = "{{index $.TestEnvVars "project_id"}}"
	display_name = "{{index $.Vars "display_name"}}"
	api_key_id = google_apikeys_key.web.uid
	deletion_policy = "DELETE"
}

resource "google_apikeys_key" "web" {
	provider = google-beta
	project  = "{{index $.TestEnvVars "project_id"}}"
	name         = "{{index $.Vars "api_key_name"}}"
	display_name = "{{index $.Vars "display_name"}}"

	restrictions {
	    browser_key_restrictions {
	        allowed_referrers = ["*"]
	    }
	}
}