resource "google_project_service" "appcheck" {
  project = "{{index $.TestEnvVars "project_id"}}"
  service = "firebaseappcheck.googleapis.com"
}

resource "google_firebase_app_check_service_config" "default" {
  project = "{{index $.TestEnvVars "project_id"}}"
  service_id = "{{index $.Vars "service_id"}}"
  enforcement_mode = "ENFORCED"

  depends_on = [google_project_service.appcheck]
}