resource "google_storage_bucket" "default" {
  provider                    = google-beta
  name                        = "{{index $.Vars "bucket_id"}}"
  location                    = "US"
  uniform_bucket_level_access = true
}

resource "google_firebase_storage_bucket" "default" {
  provider  = google-beta
  project   = "{{index $.TestEnvVars "project_id"}}"
  bucket_id = google_storage_bucket.default.id
}
