resource "google_firestore_database" "database" {
  project     = "{{index $.TestEnvVars "project_id"}}"
  name        = "{{index $.Vars "database_id"}}"
  location_id = "nam5"
  type        = "FIRESTORE_NATIVE"

  delete_protection_state = "{{index $.Vars "delete_protection_state"}}"
  deletion_policy         = "DELETE"
}

resource "google_firestore_field" "{{$.PrimaryResourceId}}" {
  project    = "{{index $.TestEnvVars "project_id"}}"
  database   = google_firestore_database.database.name
  collection = "chatrooms"
  field      = "timestamp"

  # Enable a TTL policy for the collection based on timestamp values in the field.
  ttl_config {
    # The expiration time is 30d after the timestamp value.
    # 30d * 24 * 60 * 60 = 2592000s
    expiration_offset = "2592000s"
  }

  # Disable all built-in single field indexes for the field.
  # This block can be omitted for Enterprise Edition databases, which do not
  # have built-in single field indexes.
  index_config {}
}
