resource "google_firebase_app_hosting_traffic" "example" {
  project          = google_firebase_app_hosting_backend.example.project
  location         = google_firebase_app_hosting_backend.example.location
  backend          = google_firebase_app_hosting_backend.example.backend_id

  rollout_policy {
    disabled = true
    codebase_branch = "{{index $.Vars "branch"}}"
  }
}

resource "google_firebase_app_hosting_backend" "example" {
  project          = "{{index $.TestEnvVars "project_id"}}"
  # Choose the region closest to your users

  location         = "asia-east1"
  backend_id       = "{{index $.Vars "backend_id"}}"
  app_id           = "1:0000000000:web:674cde32020e16fbce9dbd"
  serving_locality = "GLOBAL_ACCESS"
  service_account  = google_service_account.service_account.email

  depends_on = [google_project_service.fah]
}

### Include these blocks only once per project if you are starting from scratch ###
resource "google_service_account" "service_account" {
  project = "{{index $.TestEnvVars "project_id"}}"

  # Must be firebase-app-hosting-compute
  account_id                   = "{{index $.Vars "service_act_id"}}"
  display_name                 = "Firebase App Hosting compute service account"

  # Do not throw if already exists
  create_ignore_already_exists = true
}

resource "google_project_iam_member" "app_hosting_sa_runner" {
  project = "{{index $.TestEnvVars "project_id"}}"

  # For App Hosting
  role   = "roles/firebaseapphosting.computeRunner"
  member = google_service_account.service_account.member
}

resource "google_project_service" "fah" {
  project = "{{index $.TestEnvVars "project_id"}}"
  service = "firebaseapphosting.googleapis.com"
}
###
