resource "google_firebase_remote_config" "{{$.PrimaryResourceId}}" {
  version {
    description = "Updated via Terraform"
  }
  conditions {
    name       = "ios_en"
    expression = "device.os == 'ios' && device.country == 'us'"
    tag_color  = "TEAL"
  }
  parameters = {
    "welcome_message" = "Welcome to the App!"
  }
  parameter_groups = {
    "group_a" = "{\"welcome_message\": \"Welcome Group A!\"}"
  }
}

