resource "google_compute_forwarding_rule" "{{$.PrimaryResourceId}}" {
  name       = "{{index $.Vars "forwarding_rule_name"}}"
  target     = google_compute_target_pool.default.id
  port_range = "80"
}

resource "google_compute_target_pool" "default" {
  name = "{{index $.Vars "target_pool_name"}}"
}
