resource "google_compute_region_health_check" "default" {
  name    = "{{index $.Vars "regional_health_check_name"}}"
  http_health_check {
    port         = 80
    request_path = "/"
  }
}

resource "google_compute_region_backend_service" "default" {
  name     = "{{index $.Vars "regional_backend_service_name"}}"
  protocol = "HTTP"
  port_name = "http"
  timeout_sec = 10
  health_checks = [google_compute_region_health_check.default.id]
  load_balancing_scheme = "EXTERNAL_MANAGED"
}

resource "google_compute_region_url_map" "default" {
  name    = "{{index $.Vars "regional_url_map_name"}}"
  default_service = google_compute_region_backend_service.default.id
}


resource "google_compute_region_target_http_proxy" "default" {
  name    = "{{index $.Vars "regional_target_http_proxy_name"}}"
  url_map = google_compute_region_url_map.default.id
}

resource "google_compute_network" "my_vpc" {
  name                    = "{{index $.Vars "compute_network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "proxy_only_subnet" {
  name          = "{{index $.Vars "compute_subnetwork_name"}}"
  ip_cidr_range = "10.129.0.0/23"
  network       = google_compute_network.my_vpc.id
  purpose       = "REGIONAL_MANAGED_PROXY"
  role          = "ACTIVE"
}

resource "google_compute_forwarding_rule" "{{$.PrimaryResourceId}}" {
  name                  = "{{index $.Vars "forwarding_rule_region_service_name"}}"
  target                = google_compute_region_target_http_proxy.default.id
  port_range            = "80"
  load_balancing_scheme = "EXTERNAL_MANAGED"
  network               = google_compute_network.my_vpc.id
  depends_on            = [google_compute_subnetwork.proxy_only_subnet]
}
