resource "google_compute_future_reservation" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "future_reservation_name"}}"
  project  = "{{index $.TestEnvVars "project"}}"

  time_window {
    start_time = "2025-08-01T00:00:00Z"
    end_time   = "2025-08-02T00:00:00Z"
  }

  share_settings {
    share_type = "LOCAL"
  }
}
