resource "google_compute_future_reservation" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name     = "{{index $.Vars "future_reservation_name"}}"
  project  = "{{index $.TestEnvVars "project"}}"
  auto_delete_auto_created_reservations = true
  planning_status = "DRAFT"
  name_prefix = "fr-basic"
  time_window {
    start_time = "{{ index $.Vars "start_time" }}"
    end_time   = "{{ index $.Vars "end_time" }}"
  }
  specific_sku_properties {
    total_count = "1"

    instance_properties {
      machine_type = "e2-standard-2"
    }
  }
}
