resource "google_gemini_data_sharing_with_google_setting" "{{$.PrimaryResourceId}}" {
    data_sharing_with_google_setting_id = "{{index $.Vars "data_sharing_with_google_setting_id"}}"
    location = "global"
    labels = {"my_key": "my_value"}
    enable_preview_data_sharing = true
}
