resource "google_gemini_code_tools_setting" "{{$.PrimaryResourceId}}" {
    provider = google-beta
    code_tools_setting_id = "{{index $.Vars "code_tools_setting_id"}}"
    location = "global"
    labels = {"my_key": "my_value"}
    enabled_tool = {
        {handle = "my_handle1", tool = "my_tool1"},
        {handle = "my_handle2", tool = "my_tool2"},
    }
}
