resource "google_gemini_data_sharing_with_google_setting" "basic" {
    data_sharing_with_google_setting_id = "{{index $.Vars "data_sharing_with_google_setting_id"}}"
    location = "global"
    labels = {"my_key": "my_value"}
    enable_preview_data_sharing = true
    enable_data_sharing = true
}

resource "google_gemini_data_sharing_with_google_setting_binding" "{{$.PrimaryResourceId}}" {
    data_sharing_with_google_setting_id = google_gemini_data_sharing_with_google_setting.basic.data_sharing_with_google_setting_id
    setting_binding_id = "{{index $.Vars "setting_binding_id"}}"
    location = "global"
    target = "{{index $.Vars "target"}}"
}
