resource "google_container_cluster" "primary" {
  provider = google-beta
  name               = "{{index $.Vars "cluster_name"}}"
  location           = "us-central1-a"
  initial_node_count = 1
  deletion_protection  = "{{index $.Vars "deletion_protection"}}"
  network       = "{{index $.Vars "network_name"}}"
  subnetwork    = "{{index $.Vars "subnetwork_name"}}"
}

resource "google_gke_hub_membership" "membership" {
  provider = google-beta
  membership_id = "tf-test-membership%{random_suffix}"
  endpoint {
    gke_cluster {
      resource_link = "//container.googleapis.com/${google_container_cluster.primary.id}"
    }
  }

  depends_on = [google_container_cluster.primary]
}

resource "google_gke_hub_membership_rbac_role_binding" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  membership_rbac_role_binding_id = "tf-test-membership-rbac-role-binding%{random_suffix}"
  membership_id = google_gke_hub_membership.membership.membership_id
  user = "service-${data.google_project.project.number}@gcp-sa-anthossupport.iam.gserviceaccount.com"
  role {
    predefined_role = "ANTHOS_SUPPORT"
  }
  location = "global"
  depends_on = [google_gke_hub_membership.membership]
}

data "google_project" "project" {
  provider = google-beta
}
