resource "google_gke_hub_scope" "{{$.PrimaryResourceId}}" {
  scope_id = "{{index $.Vars "resource_name"}}"
  namespace_labels = {
      keyb = "valueb"
      keya = "valuea"
      keyc = "valuec" 
  }
  labels = {
      keyb = "valueb"
      keya = "valuea"
      keyc = "valuec" 
  }
}
