resource "google_compute_global_network_endpoint_group" "<%= ctx[:primary_resource_id] %>" {
  name                  = "<%= ctx[:vars]['neg_name'] %>"
  default_port          = "90"
  network_endpoint_type = "INTERNET_FQDN_PORT"
}
