resource "google_compute_ha_vpn_gateway" "ha_gateway1" {
  region   = "us-central1"
  name     = "{{index $.Vars "ha_vpn_gateway1_name"}}"
  network  = google_compute_network.network1.id
}

resource "google_compute_network" "network1" {
  name                    = "{{index $.Vars "network1_name"}}"
  auto_create_subnetworks = false
}
