resource "google_healthcare_fhir_store" "default" {
  name    = "{{index $.Vars "fhir_store_name"}}"
  dataset = google_healthcare_dataset.dataset.id
  version = "R4"
  complex_data_type_reference_parsing = "DISABLED"

  enable_update_create           = false
  disable_referential_integrity  = false
  disable_resource_versioning    = false
  enable_history_import          = false
  default_search_handling_strict = false

  notification_configs {
    pubsub_topic = google_pubsub_topic.topic.id
  }

  labels = {
    label1 = "labelvalue1"
  }

  consent_config {
    version = "V1"
    access_enforced = true
    consent_header_handling {
        profile = "REQUIRED_ON_READ"
    }
    access_determination_log_config {
        log_level = "VERBOSE"
    }
  }

  provider = google-beta
}

resource "google_pubsub_topic" "topic" {
  name     = "{{index $.Vars "pubsub_topic"}}"

  provider = google-beta
}

resource "google_healthcare_dataset" "dataset" {
  name     = "{{index $.Vars "dataset_name"}}"
  location = "us-central1"

  provider = google-beta
}
