resource "google_healthcare_dataset" "dataset" {
  location = "us-central1"
  name     = "{{index $.Vars "dataset_id"}}"
}

resource "google_healthcare_consent_store" "{{$.PrimaryResourceId}}" {
  dataset = google_healthcare_dataset.dataset.id
  name    = "{{index $.Vars "consent_id"}}"
}
