resource "google_compute_https_health_check" "default" {
  name         = "{{index $.Vars "https_health_check_name"}}"
  request_path = "/health_check"

  timeout_sec        = 1
  check_interval_sec = 1
}
