resource "google_iam_workload_identity_pool" "pool" {
  workload_identity_pool_id = "{{index $.Vars "workload_identity_pool_id"}}"
}

resource "google_iam_workload_identity_pool_provider" "{{$.PrimaryResourceId}}" {
  workload_identity_pool_id          = google_iam_workload_identity_pool.pool.workload_identity_pool_id
  workload_identity_pool_provider_id = "{{index $.Vars "workload_identity_pool_provider_id"}}"
  display_name                       = "Name of provider"
  description                        = "X.509 identity pool provider for automated test"
  disabled                           = true
  attribute_mapping                  = {
    "google.subject"        = "assertion.subject.dn.cn"
  }
  x509 {
    trust_store {
        trust_anchors {
            pem_certificate = file("test-fixtures/trust_anchor.pem")
        }
        intermediate_cas {
            pem_certificate = file("test-fixtures/intermediate_ca.pem")
        }
    }
  }
}
