resource "google_iam_workload_identity_pool" "{{$.PrimaryResourceId}}" {
  provider = google-beta

  workload_identity_pool_id = "{{index $.Vars "workload_identity_pool_id"}}"
  display_name              = "Name of the pool"
  description               = "Identity pool operates in FEDERATION_ONLY mode"
  disabled                  = true
  mode                      = "FEDERATION_ONLY"
}
