data "google_project" "project" {
  provider = google
}

resource "google_iam_principal_access_boundary_policy" "pab_policy" {
  organization   = "{{index $.TestEnvVars "org_id"}}"
  location       = "global"
  display_name   = "{{index $.Vars "display_name"}}"
  principal_access_boundary_policy_id = "{{index $.Vars "pab_policy_id"}}"
}

resource "time_sleep" "wait_60_seconds" {
  create_duration = "60s"
  depends_on = [google_iam_principal_access_boundary_policy.pab_policy]
}

resource "google_iam_projects_policy_binding" "{{$.PrimaryResourceId}}" {
  depends_on = [time_sleep.wait_60_seconds]
  project        = data.google_project.project.project_id
  location       = "global"
  display_name   = "{{index $.Vars "display_name"}}"
  policy_kind    = "PRINCIPAL_ACCESS_BOUNDARY"
  policy_binding_id = "{{index $.Vars "project_binding_id"}}"
  policy         = "organizations/{{index $.TestEnvVars "org_id"}}/locations/global/principalAccessBoundaryPolicies/${google_iam_principal_access_boundary_policy.pab_policy.principal_access_boundary_policy_id}"
  target {
    principal_set = "//cloudresourcemanager.googleapis.com/projects/${data.google_project.project.project_id}"
  }
}
