resource "google_iam_workload_identity_pool" "pool" {
  workload_identity_pool_id = "{{index $.Vars "workload_identity_pool_id"}}"
}

resource "google_iam_workload_identity_pool_provider" "{{$.PrimaryResourceId}}" {
  workload_identity_pool_id          = google_iam_workload_identity_pool.pool.workload_identity_pool_id
  workload_identity_pool_provider_id = "{{index $.Vars "workload_identity_pool_provider_id"}}"
  display_name                       = "Name of provider"
  description                        = "GitHub Actions identity pool provider for automated test"
  disabled                           = true
  attribute_condition = <<EOT
    assertion.repository_owner_id == "123456789" &&
    attribute.repository == "gh-org/gh-repo" &&
    assertion.ref == "refs/heads/main" &&
    assertion.ref_type == "branch"
EOT
  attribute_mapping = {
    "google.subject"       = "assertion.sub"
    "attribute.actor"      = "assertion.actor"
    "attribute.aud"        = "assertion.aud"
    "attribute.repository" = "assertion.repository"
  }
  oidc {
    issuer_uri = "https://token.actions.githubusercontent.com"
  }
}
