resource "google_compute_network" "default-network" {
  name = "{{index $.Vars "network_name"}}"
}

resource "google_compute_instance" "default-instance" {
  name         = "{{index $.Vars "instance_name"}}"
  machine_type = "e2-medium"

  boot_disk {
    initialize_params {
      image = "debian-cloud/debian-11"
    }
  }

  network_interface {
    network = google_compute_network.default-network.name
  }
}

resource "google_compute_instance_group" "default-instance-group" {
  name      = "{{index $.Vars "instance_group_name"}}"
}

resource "google_compute_instance_group_membership" "default-ig-membership" {
  instance        = google_compute_instance.default-instance.self_link
  instance_group  = google_compute_instance_group.default-instance-group.name
}
