resource "google_compute_disk" "foo" {
  name = "{{index $.Vars "disk_name"}}"
  type = "pd-ssd"
  size = 10
}

resource "google_compute_instant_snapshot" "{{$.PrimaryResourceId}}" {
  name         = "{{index $.Vars "instance_name"}}"
  zone         = "us-central1-a"
  source_disk  = google_compute_disk.foo.self_link
}