resource "google_integrations_client" "client" {
  location = "northamerica-northeast2"
}

resource "google_integrations_auth_config" "{{$.PrimaryResourceId}}" {
    location = "northamerica-northeast2"
    display_name = "{{index $.Vars "auth_config_name"}}"
    description = "Test auth config created via terraform"
    decrypted_credential {
        credential_type = "USERNAME_AND_PASSWORD"
        username_and_password {
            username = "test-username"
            password = "test-password"
        }
    }
    depends_on = [google_integrations_client.client]
}