data "google_project" "default" {
}

resource "google_service_account" "service_account" {
  account_id   = "{{index $.Vars "service_account_id"}}"
  display_name = "Service Account"
}

resource "google_integrations_client" "{{$.PrimaryResourceId}}" {
  location = "us-east1"
  create_sample_integrations = true
  run_as_service_account = google_service_account.service_account.email
  cloud_kms_config {
    kms_location = "us-east1"
    kms_ring = basename("{{index $.Vars "key_ring_name"}}")
    key = basename("{{index $.Vars "crypto_key_name"}}")
    key_version = basename("{{index $.Vars "crypto_key_version"}}")
    kms_project_id = data.google_project.default.project_id
  }
}