data "google_project" "default" {
}

data "google_kms_key_ring" "keyring" {
  name     = "{{index $.Vars "key_ring_name"}}"
  location = "us-east1"
}

data "google_kms_crypto_key" "cryptokey" {
  name = "{{index $.Vars "crypto_key_name"}}"
  key_ring = data.google_kms_key_ring.keyring.id
}

data "google_kms_crypto_key_version" "test_key" {
  crypto_key = data.google_kms_crypto_key.cryptokey.id
}

resource "google_integrations_client" "{{$.PrimaryResourceId}}" {
  location = "us-east1"
  create_sample_integrations = true
  cloud_kms_config {
    kms_location = "us-east1"
    kms_ring = basename(data.google_kms_key_ring.keyring.id)
    key = basename(data.google_kms_crypto_key.cryptokey.id)
    key_version = basename(data.google_kms_crypto_key_version.test_key.id)
    kms_project_id = data.google_project.default.project_id
  }
}