# Create a project
resource "google_project" "kms_project" {
  provider        = google-beta
  project_id      = "{{index $.Vars "project_id"}}"
  name            = "{{index $.Vars "project_id"}}"
  org_id      	  = "{{index $.TestEnvVars "org_id"}}"
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
  deletion_policy = "DELETE"
}

# Enable the Cloud KMS API.
resource "google_project_service" "kms_api_service" {
  provider                   = google-beta
  service                    = "cloudkms.googleapis.com"
  project                    = google_project.kms_project.project_id
  disable_dependent_services = true
  depends_on                 = [google_project.kms_project]
}

resource "time_sleep" "wait_enable_service_api" {
	depends_on	= [google_project_service.kms_api_service]
	create_duration	= "30s"
}

resource "google_kms_project_kaj_policy_config" "{{$.PrimaryResourceId}}" {
	provider 				= google-beta
	project 				= google_project.kms_project.project_id
	default_key_access_justification_policy {
		allowed_access_reasons = [
			"CUSTOMER_INITIATED_ACCESS",
			"GOOGLE_INITIATED_SYSTEM_OPERATION",
		]
	}
  	depends_on                 		= [time_sleep.wait_enable_service_api]
}
