resource "google_kms_ekm_connection" "{{$.PrimaryResourceId}}" {
  name            	= "{{index $.Vars "ekmconnection_name"}}"
  location		= "us-central1"
  key_management_mode 	= "MANUAL"
  service_resolvers  	{
      service_directory_service  = "projects/project_id/locations/us-central1/namespaces/namespace_name/services/service_name"
      hostname 			 = "example-ekm.goog"
      server_certificates        {
      		raw_der	= "==HAwIBCCAr6gAwIBAgIUWR+EV4lqiV7Ql12VY=="
      	}
    }
}
