data "google_project" "project" {
    provider = google-beta
}

resource "google_licensemanager_license_configuration" "{{$.PrimaryResourceId}}" {
    provider = google-beta
    location = "australia-southeast1"
    product = "Office2021ProfessionalPlus"
    project = data.google_project.project.project_id
    license_configuration_name = "lima_config"
    display_name = "lima-configdisplay-name"
    current_billing_info {
        user_count_billing { user_count = 10 }
    }
    next_billing_info {
        user_count_billing { user_count = 10 }
    }
}
