resource "google_logging_project_bucket_config" "{{$.PrimaryResourceId}}" {
    location  = "global"
    project   = "{{index $.TestEnvVars "project"}}"
    bucket_id = "_Default"
}

resource "google_logging_metric" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "logging_metric_name"}}"
  filter      = "resource.type=gae_app AND severity>=ERROR"
  bucket_name = google_logging_project_bucket_config.{{$.PrimaryResourceId}}.id
}
