resource "google_logging_organization_settings" "{{$.PrimaryResourceId}}" {
  disable_default_sink = true
  kms_key_name         = "{{index $.Vars "key_name"}}"
  organization         = "{{index $.TestEnvVars "org_id"}}"
  storage_location     = "us-central1"
  depends_on           = [ google_kms_crypto_key_iam_member.iam ]
}

data "google_logging_organization_settings" "settings" {
  organization = "{{index $.TestEnvVars "org_id"}}"
}

resource "google_kms_crypto_key_iam_member" "iam" {
  crypto_key_id = "{{index $.Vars "key_name"}}"
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"
  member        = "serviceAccount:${data.google_logging_organization_settings.settings.kms_service_account_id}"
}