resource "google_compute_instance" "vm" {
  provider     = google-beta
  name         = "{{index $.Vars "vm_name"}}"
  machine_type = "e2-medium"

  boot_disk {
    initialize_params {
      image = "debian-cloud/debian-11"
    }
  }

  network_interface {
    network = "default"
  }
}

resource "google_compute_machine_image" "{{$.PrimaryResourceId}}" {
  provider        = google-beta
  name            = "{{index $.Vars "image_name"}}"
  source_instance = google_compute_instance.vm.self_link
}
