resource "google_migration_center_source" "default" {
  location  = "us-central1"
  source_id = "{{index $.Vars "source_id"}}"
  type      = "SOURCE_TYPE_DISCOVERY_CLIENT"
}

resource "google_service_account" "default" {
  account_id   = "{{index $.Vars "sa_id"}}"
  display_name = "Service Account for Discovery Client"
}

resource "google_migration_center_discovery_client" "default" {
  location            = "us-central1"
  discovery_client_id = "{{index $.Vars "discovery_client_id"}}"
  source              = google_migration_center_source.default.id
  service_account     = google_service_account.default.email
  display_name        = "Terraform integration test display"
  description         = "Terraform integration test description"
  expire_time         = "2030-01-01T00:00:00Z"
  labels = {
    key = "value"
  }
}
