# Copyright 2024 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This is a Terraform template file (.tf.tmpl) for creating a Template resource.

resource "google_model_armor_template" "template-basic" {
  location    = "{{.Vars.location}}"
  template_id = "{{.Vars.templateId}}"

  filter_config {
    rai_settings {
      # Hardcode array elements for the example
      rai_filters {
        filter_type      = "{{.Vars.filter_config_rai_settings_rai_filters_0_filter_type}}"
        confidence_level = "{{.Vars.filter_config_rai_settings_rai_filters_0_confidence_level}}"
      }
    }
  }
}
