resource "google_model_armor_template" "template-basic" {
  location    = "{{index $.Vars "location"}}"
  template_id = "{{index $.Vars "templateId"}}"

  filter_config {

  }

  template_metadata {

  }
}