resource "google_monitoring_group" "parent" {
  display_name = "tf-test <%= ctx[:vars]["display_name"] %>"
  filter       = "resource.metadata.region=\"europe-west2\""
}

resource "google_monitoring_group" "<%= ctx[:primary_resource_id] %>" {
  display_name = "tf-test <%= ctx[:vars]["display_name2"] %>"
  filter       = "resource.metadata.region=\"europe-west2\""
  parent_name  =  google_monitoring_group.parent.name
}
