resource "google_netapp_backup_policy" "{{$.PrimaryResourceId}}" {
  name          = "{{index $.Vars "backup_policy_full_name"}}"
  location = "us-central1"
  daily_backup_limit   = 2
  weekly_backup_limit  = 1
  monthly_backup_limit = 1
  description = "TF test backup schedule"
  enabled = true
  labels = {
    "foo" = "bar"
  }
}
