resource "google_network_connectivity_policy_based_route" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "pbr_name"}}"
  network = google_compute_network.my_network.id
  filter {
    protocol_version = "IPV4"
  }
  next_hop_other_routes = "DEFAULT_ROUTING"
}

resource "google_compute_network" "my_network" {
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}
