resource "google_compute_network" "my_network" {
  name                    = "{{index $.Vars "rep_network"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "my_subnetwork" {
  name          = "{{index $.Vars "rep_subnetwork"}}"
  ip_cidr_range = "192.168.0.0/24"
  region        = "us-central1"
  network       = google_compute_network.my_network.id
}

resource "google_network_connectivity_regional_endpoint" "{{$.PrimaryResourceId}}" {
  name              = "{{index $.Vars "rep_name"}}"
  location          = "us-central1"
  target_google_api = "storage.us-central1.p.rep.googleapis.com"
  access_type       = "GLOBAL"
  address           = "192.168.0.4"
  network           = google_compute_network.my_network.id
  subnetwork        = google_compute_subnetwork.my_subnetwork.id
}
