data "google_project" "project" {
  provider = google-beta
}

resource "google_network_management_vpc_flow_logs_config" "{{$.PrimaryResourceId}}" {
  provider                = google-beta
  vpc_flow_logs_config_id = "{{index $.Vars "vpc_flow_logs_config_id"}}"
  location                = "global"
  subnet                  = "projects/${data.google_project.project.number}/regions/us-central1/subnetworks/${google_compute_subnetwork.subnetwork.name}"
}

resource "google_compute_network" "network" {
  provider                = google-beta
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "subnetwork" {
  provider      = google-beta
  name          = "{{index $.Vars "subnetwork_name"}}"
  ip_cidr_range = "10.2.0.0/16"
  region        = "us-central1"
  network       = google_compute_network.network.id
}