resource "google_network_security_gateway_security_policy" "default" {
  name        = "{{index $.Vars "gateway_security_policy_id"}}"
  location    = "us-central1"
  description = "gateway security policy created to be used as reference by the rule."
}

resource "google_network_security_gateway_security_policy_rule" "{{$.PrimaryResourceId}}" {
  name                    = "{{index $.Vars "resource_name"}}"
  location                = "us-central1"
  gateway_security_policy = google_network_security_gateway_security_policy.default.name
  enabled                 = true  
  description             = "my description"
  priority                = 0
  session_matcher         = "host() == 'example.com'"
  basic_profile           = "ALLOW"
}
