resource "google_network_connectivity_hub" "basic_hub"  {
 name        = "{{index $.Vars "hub_name"}}"
 description = "A sample hub"
 labels = {
    label-one = "value-one"
  }
}

resource "google_network_connectivity_group" "{{$.PrimaryResourceId}}"  {
 hub         = google_network_connectivity_hub.basic_hub.id
 name        = "default"
 auto_accept {
    auto_accept_projects = [
      "{{index $.Vars "auto_accept_project_1_name"}}", 
      "{{index $.Vars "auto_accept_project_2_name"}}", 
    ]
  }
}