resource "google_network_connectivity_internal_range" "{{$.PrimaryResourceId}}" {
  name    = "{{index $.Vars "internal_range_name"}}"
  description = "Test internal range"
  network = google_compute_network.default.self_link
  usage   = "FOR_VPC"
  peering = "FOR_SELF"
  ip_cidr_range = "10.0.0.0/24"

  labels  = {
    label-a: "b"
  }
}

resource "google_compute_network" "default" {
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}
