resource "google_network_security_client_tls_policy" "{{$.PrimaryResourceId}}" {
  name                   = "{{index $.Vars "resource_name"}}"
  labels                 = {
    foo = "bar"
  }
  description            = "my description"
  sni                    = "secure.example.com"
}
