resource "google_network_management_vpc_flow_logs_config" "{{$.PrimaryResourceId}}" {
  provider                = google-beta
  vpc_flow_logs_config_id = "{{index $.Vars "vpc_flow_logs_config_id"}}"
  location                = "global"
  parent                  = "organizations/{{index $.TestEnvVars "org_id"}}"
  network                 = "projects/${data.google_project.project.number}/global/networks/${google_compute_network.network.name}"
}

