resource "google_compute_network" "{{$.PrimaryResourceId}}" {
  project                                   = "{{index $.TestEnvVars "project"}}"
  name                                      = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks                   = true
  network_firewall_policy_enforcement_order = "BEFORE_CLASSIC_FIREWALL"
}
