resource "google_compute_network" "<%= ctx[:primary_resource_id] %>" {
  project                                   = "<%= ctx[:test_env_vars]["project"] %>"
  name                                      = "<%= ctx[:vars]['network_name'] %>"
  auto_create_subnetworks                   = true
  network_firewall_policy_enforcement_order = "BEFORE_CLASSIC_FIREWALL"
}
