data "google_project" "project" {
  provider = google-beta
}

resource "google_compute_network" "primary-network" {
  provider                = google-beta
  name                    = "tf-test-my-vpc-network%{random_suffix}"
  auto_create_subnetworks = false
}

resource "google_network_connectivity_transport" "primary"  {
  provider          = google-beta
  name              = "tf-test-basic-transport%{random_suffix}"
  region            = "us-east4"
  description       = "A sample transport"
  remote_profile    = "https://networkconnectivity.googleapis.com/v1beta/${data.google_project.project.id}/locations/us-east4/remoteTransportProfiles/aws-us-east-1"
  network           = google_compute_network.primary-network.name
  bandwidth         = "BPS_1G"
  remote_account_id = "123"
  labels = {
    label-one = "value-one"
  }
}