resource "google_compute_network" "network" {
  provider = google-beta
  name        = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "subnetwork" {
  provider = google-beta
  name          = "tf-test-subnet%{random_suffix}"
  ip_cidr_range = "10.0.0.0/28"
  region        = "us-central1"
  network       = google_compute_network.network.self_link
}

resource "google_network_connectivity_hub" "basic_hub" {
  provider = google-beta
  name        = "{{index $.Vars "hub_name"}}"
  description = "A sample hub"
  labels = {
    label-two = "value-one"
  }
  preset_topology = "HYBRID_INSPECTION"
}

resource "google_network_connectivity_spoke" "primary" {
  provider = google-beta
  name        = "{{index $.Vars "spoke_name"}}"
  location = "us-central1"
  description = "A sample spoke of type Gateway"
  labels = {
    label-one = "value-one"
  }
  hub =  google_network_connectivity_hub.basic_hub.id
  gateway {
    ip_range_reservations {
      ip_range = "10.0.0.0/23"
    }
    capacity = "CAPACITY_1_GBPS"
  }
  group = "gateways"
}

resource "google_network_connectivity_gateway_advertised_route" "{{$.PrimaryResourceId}}" {
  provider      = google-beta
  spoke         = google_network_connectivity_spoke.primary.name
  location      = "us-central1"
  name          = "{{index $.Vars "resource_name"}}"
  labels = {
    label-one = "value-one"
  }
  description   = "description of the gateway advertised route"
  ip_range      = "0.0.0.0/24"
  recipient     = "ADVERTISE_TO_HUB"
  priority      = 200
}
