resource "google_compute_backend_service" "{{$.PrimaryResourceId}}" {
  provider               = google-beta
  name          = "{{index $.Vars "backend_service_name"}}"
  health_checks = [google_compute_http_health_check.default.id]
}

resource "google_compute_http_health_check" "default" {
  provider               = google-beta
  name               = "{{index $.Vars "http_health_check_name"}}"
  request_path       = "/"
  check_interval_sec = 1
  timeout_sec        = 1
}

resource "google_network_services_gateway" "{{$.PrimaryResourceId}}" {
  provider    = google-beta
  name        = "{{index $.Vars "resource_name"}}"
  labels      = {
    foo = "bar"
  }
  description = "my description"
  scope = "my-scope"
  type = "OPEN_MESH"
  ports = [443]
}


resource "google_network_services_tcp_route" "{{$.PrimaryResourceId}}" {
  provider               = google-beta
  name                   = "{{index $.Vars "resource_name"}}"
  labels                 = {
    foo = "bar"
  }
  description             = "my description"
  gateways = [
    google_network_services_gateway.{{$.PrimaryResourceId}}.id
  ]
  rules                   {
    matches {
      address = "10.0.0.1/32"
      port = "8081"
    }
    action {
      destinations {
        service_name = google_compute_backend_service.{{$.PrimaryResourceId}}.id
        weight = 1
      }
      original_destination = false
    }
  }
}
