resource "google_network_security_authorization_policy" "{{$.PrimaryResourceId}}" {
  provider               = google-beta
  name                   = "{{index $.Vars "resource_name"}}"
  labels                 = {
    foo = "bar"
  }
  description            = "my description"
  action                 = "ALLOW"
  rules {
    sources {
      principals = ["namespace/*"]
      ip_blocks = ["1.2.3.0/24"]
    }
    destinations {
      hosts = ["mydomain.*"]
      ports = [8080]
      methods = ["GET"]
      http_header_match {
        header_name = ":method"
        regex_match = "GET"
      }
    }
  }
}

