resource "google_network_security_security_profile" "{{$.PrimaryResourceId}}" {
  provider    = google-beta
  name        = "{{index $.Vars "resource_name"}}"
  parent      = "organizations/{{index $.TestEnvVars "org_id"}}"
  description = "my description"
  type        = "URL_FILTERING"

  url_filtering_profile {
    url_filters {
      priority = 1
      filtering_action   = "ALLOW"
      urls = ["*example.com", "*about.example.com", "*help.example.com"]
    }
    url_filters {
      priority = 2
      filtering_action   = "DENY"
      urls = ["*restricted.example.com"]
    }
  }

  labels = {
    foo = "bar"
  }
}
