resource "google_compute_network_firewall_policy" "basic_network_firewall_policy" {
  provider = google-beta
  name        = "{{index $.Vars "fw_policy"}}"
  description = "Sample global network firewall policy"
  project     = "{{index $.TestEnvVars "project_name"}}"
}

resource "google_compute_network_firewall_policy_rule" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  action          = "allow"
  description     = "This is a simple rule description"
  direction       = "INGRESS"
  disabled        = false
  enable_logging  = true
  firewall_policy = google_compute_network_firewall_policy.basic_network_firewall_policy.name
  priority        = 1000
  rule_name       = "test-rule"

  match {
    src_ip_ranges     = ["11.100.0.1/32"]
    src_network_scope = "VPC_NETWORKS"
    src_networks      = [google_compute_network.network.id]

    layer4_configs {
      ip_protocol = "all"
    }
  }
}

resource "google_compute_network" "network" {
  provider = google-beta
  name     = "{{index $.Vars "network"}}"
}
