resource "google_secret_manager_secret" "secret-basic" {
  secret_id = "{{index $.Vars "secret_name"}}"

  replication {
    auto {}
  }
}

resource "google_secret_manager_secret_version" "secret-version-basic" {
  secret = google_secret_manager_secret.secret-basic.id

  secret_data = "secret-data"
}

resource "google_network_services_edge_cache_keyset" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "resource_name"}}"
  description = "The default keyset"
  public_key {
    id      = "my-public-key"
    managed = true
  }
  validation_shared_keys {
    secret_version = google_secret_manager_secret_version.secret-version-basic.id
  }
}
