resource "google_network_services_agent_gateway" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "name"}}"
  location = "us-central1"

  protocols = ["MCP"]

  google_managed {
    governed_access_path = "CLIENT_TO_AGENT"
  }

  registries = [
    "//agentregistry.googleapis.com/projects/{{index $.TestEnvVars "project"}}/locations/us-central1"
  ]
}
