resource "google_network_services_edge_cache_origin" "fallback" {
  name                 = "<%= ctx[:vars]['resource_name_2'] %>"
  origin_address       = "fallback.example.com"
  description          = "The default bucket for media edge test"
  max_attempts         = 3
  protocol = "HTTP"
  port = 80

  retry_conditions = [
    "CONNECT_FAILURE",
    "NOT_FOUND",
    "HTTP_5XX",
    "FORBIDDEN",
  ]
  timeout {
    connect_timeout = "10s"
    max_attempts_timeout = "20s"
    response_timeout = "60s"
    read_timeout = "5s"
  }
  origin_override_action {
    url_rewrite {
      host_rewrite = "example.com"
    }
    header_action {
      request_headers_to_add {
        header_name = "x-header"
	header_value = "value"
	replace = true
      }
    }
  }
  origin_redirect {
    redirect_conditions = [
      "MOVED_PERMANENTLY",
      "FOUND",
      "SEE_OTHER",
      "TEMPORARY_REDIRECT",
      "PERMANENT_REDIRECT",
    ]
  }
}

resource "google_network_services_edge_cache_origin" "<%= ctx[:primary_resource_id] %>" {
  name                 = "<%= ctx[:vars]['resource_name'] %>"
  origin_address       = "gs://media-edge-default"
  failover_origin      = google_network_services_edge_cache_origin.fallback.id
  description          = "The default bucket for media edge test"
  max_attempts         = 2
  labels = {
    a = "b"
  }

  timeout {
    connect_timeout = "10s"
  }
}
