resource "google_network_connectivity_hub" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "resource_name"}}"
  description = "A sample hub with preset policy mode"
  labels = {
    label-one = "value-one"
  }
  policy_mode     = "PRESET"
  preset_topology = "MESH"
}
