resource "google_network_security_security_profile_group" "{{$.PrimaryResourceId}}" {
  provider                  = google-beta
  name                      = "{{index $.Vars "security_profile_group_name"}}"
  parent                    = "organizations/{{index $.TestEnvVars "org_id"}}"
  description               = "my description"
  url_filtering_profile     = google_network_security_security_profile.security_profile.id

  labels = {
    foo = "bar"
  }
}

resource "google_network_security_security_profile" "security_profile" {
  provider    = google-beta
  name        = "{{index $.Vars "security_profile_name"}}"
  location    = "global"
  type        = "URL_FILTERING"

  url_filtering_profile {
    url_filters {
      priority = 1
      filtering_action   = "ALLOW"
      urls = ["*example.com", "*about.example.com", "*help.example.com"]
    }
  }
  parent = "organizations/{{index $.TestEnvVars "org_id"}}"
}
