# forwarding rule
resource "google_compute_global_forwarding_rule" "default" {
  name                  = "{{index $.Vars "forwarding_rule_name"}}"
  target                = google_compute_target_http_proxy.default.id
  port_range            = "80"
  load_balancing_scheme = "EXTERNAL_MANAGED"
  network_tier          = "PREMIUM"
}

resource "google_compute_target_http_proxy" "default" {
  name        = "{{index $.Vars "target_http_proxy_name"}}"
  description = "a description"
  url_map     = google_compute_url_map.default.id
}

resource "google_compute_url_map" "default" {
  name            = "{{index $.Vars "url_map_name"}}"
  description     = "a description"
  default_service = google_compute_backend_service.default.id

  host_rule {
    hosts        = ["mysite.com"]
    path_matcher = "allpaths"
  }

  path_matcher {
    name            = "allpaths"
    default_service = google_compute_backend_service.default.id

    path_rule {
      paths   = ["/*"]
      service = google_compute_backend_service.default.id
    }
  }
}

resource "google_compute_backend_service" "default" {
  name                  = "{{index $.Vars "backend_service_name"}}"
  port_name             = "http"
  protocol              = "HTTP"
  timeout_sec           = 10
  load_balancing_scheme = "EXTERNAL_MANAGED"
}

resource "google_network_services_lb_edge_extension" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "lb_edge_extension_name"}}"
  description = "my edge extension"
  location    = "global"

  load_balancing_scheme = "EXTERNAL_MANAGED"
  forwarding_rules      = [google_compute_global_forwarding_rule.default.self_link]

  extension_chains {
    name = "chain1"

    match_condition {
      cel_expression = "request.host == 'example.com'"
    }

    extensions {
      name      = "ext11"
      service   = google_network_services_wasm_plugin.wasm-plugin.id
      fail_open = false
      supported_events = ["REQUEST_HEADERS"]
      forward_headers  = ["custom-header"]
    }
  }

  labels = {
    foo = "bar"
  }
}

resource "google_network_services_wasm_plugin" "wasm-plugin" {
  name        = "{{index $.Vars "wasm_plugin_name"}}"
  description = "my wasm plugin"

  main_version_id = "v1"

  labels = {
    test_label =  "test_value"
  }
  log_config {
    enable =  true
    sample_rate = 1
    min_log_level =  "WARN"
  }

  versions {
    version_name = "v1"
    description = "v1 version of my wasm plugin"
    image_uri = "projects/{{index $.TestEnvVars "project"}}/locations/us-central1/repositories/{{index $.Vars "repository_name"}}/genericArtifacts/my-wasm-plugin:v1"

    labels = {
      test_label =  "test_value"
    }
  }
}
