resource "google_service_directory_namespace" "{{$.PrimaryResourceId}}" {
  provider     = google-beta
  namespace_id = "{{index $.Vars "namespace_id"}}"
  location     = "us-central1"
}

resource "google_service_directory_service" "{{$.PrimaryResourceId}}" {
  provider   = google-beta
  service_id = "{{index $.Vars "service_id"}}"
  namespace  = google_service_directory_namespace.{{$.PrimaryResourceId}}.id

  metadata = {
    stage  = "prod"
    region = "us-central1"
  }
}

resource "google_network_services_service_binding" "{{$.PrimaryResourceId}}" {
  provider    = google-beta
  name        = "{{index $.Vars "resource_name"}}"
  labels      = {
    foo = "bar"
  }
  description = "my description"
  service = google_service_directory_service.{{$.PrimaryResourceId}}.id
}

