resource "google_network_services_agent_gateway" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "name"}}"
  location = "us-central1"
  description = "A full configuration for Agent Gateway"
  labels = {
    env = "test"
    tier = "gold"
  }

  protocols = ["MCP"]
  google_managed {
    governed_access_path = "AGENT_TO_ANYWHERE"
  }

  registries = [
    "//agentregistry.googleapis.com/projects/{{index $.TestEnvVars "project"}}/locations/us-central1"
  ]

  network_config {
    egress {
      network_attachment = google_compute_network_attachment.default.id
    }
  }
}

resource "google_compute_network" "default" {
  name                    = "net-{{index $.Vars "name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "default" {
  name          = "subnet-{{index $.Vars "name"}}"
  region        = "us-central1"
  network       = google_compute_network.default.id
  ip_cidr_range = "10.0.0.0/16"
}

resource "google_compute_network_attachment" "default" {
  name                  = "na-{{index $.Vars "name"}}"
  region                = "us-central1"
  connection_preference = "ACCEPT_AUTOMATIC"
  subnetworks           = [google_compute_subnetwork.default.self_link]
}
