resource "google_notebooks_instance" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "instance_name"}}"
  location = "us-west1-a"
  machine_type = "n1-standard-1" // can't be e2 because of accelerator

  install_gpu_driver = true
  accelerator_config {
    type         = "NVIDIA_TESLA_T4"
    core_count   = 1
  }
  vm_image {
    project      = "deeplearning-platform-release"
    image_family = "pytorch-latest-cu124"
  }
}
