resource "google_oracle_database_autonomous_database" "{{$.PrimaryResourceId}}"{
  display_name = "autonomousDatabase displayname"
  autonomous_database_id = "my-adb-instance-id"
  location = "us-east4"
  project = "{{index $.Vars "project"}}"
  database = "testADBdatabase"
  admin_password = "123Abpassword"
  network = data.google_compute_network.default.id
  cidr = "10.5.0.0/24"
  labels = {
    "label-one" = "value-one"
  }
  properties {
    compute_count = "2"
    data_storage_size_tb="1"
    db_version = "19c"
    db_workload = "OLTP"
    is_auto_scaling_enabled= "true"
    license_type = "LICENSE_INCLUDED"
    backup_retention_period_days    = "60"
    character_set                   = "AL32UTF8"
    is_storage_auto_scaling_enabled = "false"
    maintenance_schedule_type       = "REGULAR"
    mtls_connection_required        = "false"
    n_character_set                 = "AL16UTF16"
    operations_insights_state       = "NOT_ENABLED"
    customer_contacts {
      email = "xyz@example.com"
    }
  }
}

data "google_compute_network" "default" {
  name     = "new"
  project = "{{index $.Vars "project"}}"
}
