resource "google_oracle_database_exascale_db_storage_vault" "{{$.PrimaryResourceId}}"{
  exascale_db_storage_vault_id = "{{index $.Vars "exascale_db_storage_vault_id"}}"
  display_name = "{{index $.Vars "exascale_db_storage_vault_id"}} displayname"
  location = "us-east4"
  gcp_oracle_zone = "us-east4-b-r1"
  project = "{{index $.Vars "project"}}"
  labels = {
    "label-one" = "value-one"
  }
  properties {
    time_zone {
        id = "UTC"
    }
    additional_flash_cache_percent = 100
    exascale_db_storage_details {
        total_size_gbs = 300
    }
  }

  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}
