resource "google_oracle_database_goldengate_connection" "{{$.PrimaryResourceId}}" {
  goldengate_connection_id = "{{index $.Vars "goldengate_connection_id"}}"
  location                 = "us-east4"
  project                  = "{{index $.Vars "project"}}"
  gcp_oracle_zone          = "us-east4-b-r1"

  properties {
    display_name    = "{{index $.Vars "goldengate_connection_id"}} display name"
    connection_type = "POSTGRESQL"
    postgresql_connection_properties {
      technology_type   = "POSTGRESQL_SERVER"
      database          = "postgres_app_db"
      host              = "postgres.corp.example.com"
      port              = 5432
      username          = "pg_replicator"
      password          = "PostgresReplicationP@ssw0rd!"
      security_protocol = "PLAIN"
    }
  }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}
