resource "google_oracle_database_autonomous_database" "{{$.PrimaryResourceId}}"{
  autonomous_database_id = "{{index $.Vars "autonomous_database_id"}}"
  location = "europe-west2"
  project = "{{index $.Vars "project"}}"
  database = "{{index $.Vars "database_name"}}"
  admin_password = "123Abpassword"
  odb_network = "{{index $.Vars "odb_network"}}"
  odb_subnet = "{{index $.Vars "odb_subnet"}}"
  properties {
    compute_count = "2"
    data_storage_size_tb="1"
    db_version = "19c"
    db_workload = "OLTP"
    license_type = "LICENSE_INCLUDED"
    }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}
