resource "google_oracle_database_goldengate_connection_assignment" "{{$.PrimaryResourceId}}" {
  goldengate_connection_assignment_id = "{{index $.Vars "goldengate_connection_assignment_id"}}"
  display_name                        = "{{index $.Vars "goldengate_connection_assignment_id"}} display name"
  location                            = "us-east4"
  project                             = "{{index $.Vars "project"}}"
  labels = {
    "label-one" = "value-one"
  }

  properties {
    goldengate_connection = "projects/{{index $.Vars "project"}}/locations/us-east4/goldengateConnections/{{index $.Vars "goldengate_connection_id"}}"
    goldengate_deployment = "projects/{{index $.Vars "project"}}/locations/us-east4/goldengateDeployments/{{index $.Vars "goldengate_deployment_id"}}"
  }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}



