resource "google_org_policy_policy" "primary" {
  name     = "projects/${google_project.basic.name}/policies/compute.managed.restrictDiskCreation"
  parent   = "projects/${google_project.basic.name}"

  spec {
    rules {
      enforce = "TRUE"
      parameters = jsonencode({"isSizeLimitCheck" : true, "allowedDiskTypes" : ["pd-ssd", "pd-standard"]})
    }
  }
}

resource "google_project" "basic" {
  project_id = "id"
  name       = "id"
  org_id     = "123456789"
  deletion_policy = "DELETE"
}
