resource "google_compute_organization_security_policy" "{{$.PrimaryResourceId}}" {
  provider     = google-beta
  display_name = "tf-test%{random_suffix}"
  short_name   = "tf-test%{random_suffix}"
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"
  type         = "CLOUD_ARMOR"
}

resource "google_compute_organization_security_policy_rule" "{{$.PrimaryResourceId}}" {
  provider = google-beta

  policy_id   = google_compute_organization_security_policy.{{$.PrimaryResourceId}}.id
  action      = "deny(403)"
  description = "Block traffic from sanctioned countries"

  match {
    expr {
      expression = "origin.region_code == 'CU' || origin.region_code == 'IR' || origin.region_code == 'KP' || origin.region_code == 'SY'"
    }
  }
  priority = 100
}
