resource "google_compute_organization_security_policy" "{{$.PrimaryResourceId}}" {
  short_name = "tf-test%{random_suffix}"
  parent     = "organizations/{{index $.TestEnvVars "org_id"}}"
  type       = "CLOUD_ARMOR"
}

resource "google_compute_organization_security_policy_rule" "{{$.PrimaryResourceId}}" {
  policy_id = google_compute_organization_security_policy.{{$.PrimaryResourceId}}.id
  action = "allow"

  match {
    config {
      src_ip_ranges = ["192.168.0.0/16"]
    }
    versioned_expr = "SRC_IPS_V1"
  }
  priority = 100
}
