resource "google_folder" "security_policy_target" {
  provider     = google-beta
  display_name = "tf-test-secpol-%{random_suffix}"
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"
  deletion_protection = false
}

resource "google_compute_organization_security_policy" "{{$.PrimaryResourceId}}" {
  provider   = google-beta
  short_name = "tf-test%{random_suffix}"
  parent     = google_folder.security_policy_target.name
}

resource "google_compute_organization_security_policy_rule" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  policy_id = google_compute_organization_security_policy.{{$.PrimaryResourceId}}.id
  action = "allow"

  match {
    config {
      src_ip_ranges = ["192.168.0.0/16", "10.0.0.0/16"]
    }
  }
  priority = 100
}

resource "time_sleep" "wait_120_seconds" {
create_duration = "120s"
depends_on = [google_compute_organization_security_policy.{{$.PrimaryResourceId}}]
}

resource "google_compute_organization_security_policy_association" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name          = "tf-test%{random_suffix}"
  attachment_id = google_compute_organization_security_policy.{{$.PrimaryResourceId}}.parent
  policy_id     = google_compute_organization_security_policy.{{$.PrimaryResourceId}}.id
  depends_on = [time_sleep.wait_120_seconds]
}
