data "google_client_openid_userinfo" "me" {
}

resource "google_os_login_ssh_public_key" "{{$.PrimaryResourceId}}" {
  user =  data.google_client_openid_userinfo.me.email
  key = file("path/to/id_rsa.pub")
}
