resource "google_parameter_manager_parameter" "parameter-basic" {
  parameter_id = "{{index $.Vars "parameter_id"}}"
}

resource "google_parameter_manager_parameter_version" "{{$.PrimaryResourceId}}" {
  parameter = google_parameter_manager_parameter.parameter-basic.id
  parameter_version_id = "{{index $.Vars "parameter_version_id"}}"
  parameter_data = "app-parameter-version-data"
}
