resource "google_parameter_manager_parameter" "parameter-basic" {
  parameter_id = "{{index $.Vars "parameter_id"}}"
  format = "YAML"
}

resource "google_parameter_manager_parameter_version" "{{$.PrimaryResourceId}}" {
  parameter = google_parameter_manager_parameter.parameter-basic.id
  parameter_version_id = "{{index $.Vars "parameter_version_id"}}"
  parameter_data = file("{{index $.Vars "data"}}")
}
