resource "google_privateca_ca_pool" "<%= ctx[:primary_resource_id] %>" {
  name = "<%= ctx[:vars]["name"] %>"
  location = "us-central1"
  tier = "ENTERPRISE"
  publishing_options {
    publish_ca_cert = true
    publish_crl = true
  }
  labels = {
    foo = "bar"
  }
}
