resource "google_compute_public_advertised_prefix" "advertised" {
  name = "{{index $.Vars "prefixes_name"}}"
  description = "{{index $.TestEnvVars "desc"}}"
  dns_verification_ip = "127.127.0.0"
  ip_cidr_range = "127.127.0.0/16"
}

resource "google_compute_public_delegated_prefix" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "prefixes_name"}}"
  region = "us-central1"
  description = "my description"
  ip_cidr_range = "127.127.0.0/24"
  parent_prefix = google_compute_public_advertised_prefix.advertised.id
}
