resource "google_pubsub_topic" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "topic_name"}}"

  message_transforms = [
    {
      javascript_udf = {
        function_name = "filter_falsy",
        code = "function filter_falsy(message, metadata) {\n  return message ? message : null;\n}\n"
      }
      enabled = true
    }
  ]
}
