resource "google_pubsub_topic" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "topic_name"}}"
  project = data.google_project.project.project_id
}

data "google_project" "project" {}

resource "google_tags_tag_key" "tag_key" {
  parent     = data.google_project.project.id
  short_name = "{{index $.Vars "tag_key"}}"
}

resource "google_tags_tag_value" "tag_value" {
  parent     = google_tags_tag_key.tag_key.id
  short_name = "{{index $.Vars "tag_value"}}"
}

resource "google_tags_tag_binding" "binding" {
  parent    = "//pubsub.googleapis.com/projects/${data.google_project.project.number}/topics/${google_pubsub_topic.{{$.PrimaryResourceId}}.name}"
  tag_value = google_tags_tag_value.tag_value.id
}
