resource "google_pubsub_topic" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "topic_name"}}"
}

resource "google_pubsub_subscription" "{{$.PrimaryResourceId}}" {
  name  = "{{index $.Vars "subscription_name"}}"
  topic = google_pubsub_topic.{{$.PrimaryResourceId}}.id

  labels = {
    foo = "bar"
  }

  filter = <<EOF
    attributes.foo = "foo"
    AND attributes.bar = "bar"
  EOF

  ack_deadline_seconds = 20
}
