resource "google_storage_bucket" "{{$.PrimaryResourceId}}" {
  name  = "{{index $.Vars "bucket_name"}}"
  location = "US"
  uniform_bucket_level_access = true
}

resource "google_pubsub_topic" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "topic_name"}}"
}

resource "google_pubsub_subscription" "{{$.PrimaryResourceId}}" {
  name  = "{{index $.Vars "subscription_name"}}"
  topic = google_pubsub_topic.{{$.PrimaryResourceId}}.id

  cloud_storage_config {
    bucket = google_storage_bucket.{{$.PrimaryResourceId}}.name

    filename_prefix = "pre-"
    filename_suffix = "-%{random_suffix}"
    filename_datetime_format = "YYYY-MM-DD/hh_mm_ssZ"

    max_bytes = 1000
    max_duration = "300s"
    max_messages = 1000

    avro_config {
      write_metadata = true
      use_topic_schema = true
    }
  }
  depends_on = [
    google_storage_bucket.{{$.PrimaryResourceId}},
    google_storage_bucket_iam_member.admin,
  ]
}

data "google_project" "project" {
}

resource "google_storage_bucket_iam_member" "admin" {
  bucket = google_storage_bucket.{{$.PrimaryResourceId}}.name
  role   = "roles/storage.admin"
  member = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-pubsub.iam.gserviceaccount.com"
}
