resource "google_pubsub_topic" "<%= ctx[:primary_resource_id] %>" {
  name = "<%= ctx[:vars]['topic_name'] %>"
}

resource "google_pubsub_subscription" "<%= ctx[:primary_resource_id] %>" {
  name  = "<%= ctx[:vars]['subscription_name'] %>"
  topic = google_pubsub_topic.<%= ctx[:primary_resource_id] %>.id

  labels = {
    foo = "bar"
  }

  filter = <<EOF
    attributes.foo = "foo"
    AND attributes.bar = "bar"
  EOF

  ack_deadline_seconds = 20
}
