resource "google_pubsub_lite_reservation" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "reservation_name"}}"
  project = data.google_project.project.number
  throughput_capacity = 2
}

resource "google_pubsub_lite_topic" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "topic_name"}}"
  project = data.google_project.project.number

  partition_config {
    count = 1
    capacity {
      publish_mib_per_sec = 4
      subscribe_mib_per_sec = 8
    }
  }

  retention_config {
    per_partition_bytes = 32212254720
  }

  reservation_config {
    throughput_reservation = google_pubsub_lite_reservation.{{$.PrimaryResourceId}}.name
  }
}

data "google_project" "project" {
}