resource "google_pubsub_topic" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "topic_name"}}"
}

resource "google_pubsub_subscription" "{{$.PrimaryResourceId}}" {
  name  = "{{index $.Vars "subscription_name"}}"
  topic = google_pubsub_topic.{{$.PrimaryResourceId}}.id

  message_transforms {
    javascript_udf {
      function_name = "redactSSN"
      code = <<EOF
function redactSSN(message, metadata) {
  const data = JSON.parse(message.data);
  delete data['ssn'];
  message.data = JSON.stringify(data);
  return message;
}
EOF
    }
  }

  message_transforms {
    javascript_udf {
      function_name = "otherFunc"
      code = <<EOF
function otherFunc(message, metadata) {
  return null;
}
EOF
    }
  }

  message_transforms {
    disabled = true
    javascript_udf {
      function_name = "someSMTWeDisabled"
      code = "..."
    }
  }
}
