resource "google_pubsub_schema" "<%= ctx[:primary_resource_id] %>" {
  name = "<%= ctx[:vars]['schema_name'] %>"
  type = "PROTOCOL_BUFFER"
  definition = "syntax = \"proto3\";\nmessage Results {\nstring message_request = 1;\nstring message_response = 2;\nstring timestamp_request = 3;\nstring timestamp_response = 4;\n}"
}

resource "google_pubsub_topic" "example" {
  name = "<%= ctx[:vars]['schema_name'] %>-topic"

  depends_on = [google_pubsub_schema.<%= ctx[:primary_resource_id] %>]
  schema_settings {
    schema = "projects/<%= ctx[:test_env_vars]['project_name'] %>/schemas/<%= ctx[:vars]['schema_name'] %>"
    encoding = "JSON"
  }
}