resource "google_redis_cluster" "{{$.PrimaryResourceId}}" {
  name           = "{{index $.Vars "cluster_name"}}"
  shard_count    = 3
  psc_configs {
    network = google_compute_network.consumer_net.id
  }
  kms_key = google_kms_crypto_key.kmskey.id
  region = "us-central1"
  depends_on = [
    google_network_connectivity_service_connection_policy.default
  ]
}

resource "google_kms_key_ring" "keyring" {
  name     = "{{index $.Vars "kms_ring_name"}}"
  location = "global"
}

resource "google_kms_crypto_key" "kmskey" {
  name            = "{{index $.Vars "kms_key_name"}}"
  key_ring        = google_kms_key_ring.keyring.id
  rotation_period = "7776000s"
}

resource "google_kms_crypto_key_iam_binding" "kms_key_iam_decrypter" {
  crypto_key_id = google_kms_crypto_key.kmskey.id
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"
  members       = "service-${data.google_project.project.number}@cloud-redis.iam.serviceaccount.com"
}

data "google_project" "project" {
}

resource "google_network_connectivity_service_connection_policy" "default" {
  name = "{{index $.Vars "policy_name"}}"
  location = "us-central1"
  service_class = "gcp-memorystore-redis"
  description   = "my basic service connection policy"
  network = google_compute_network.consumer_net.id
  psc_config {
    subnetworks = [google_compute_subnetwork.consumer_subnet.id]
  }
}

resource "google_compute_subnetwork" "consumer_subnet" {
  name          = "{{index $.Vars "subnet_name"}}"
  ip_cidr_range = "10.0.0.248/29"
  region        = "us-central1"
  network       = google_compute_network.consumer_net.id
}

resource "google_compute_network" "consumer_net" {
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

