resource "google_secret_manager_regional_secret" "secret-basic-write-only" {
  secret_id = "{{index $.Vars "secret_id"}}"
  location  = "us-central1"

  labels = {
    label = "my-label"
  }
}

resource "google_secret_manager_regional_secret_version" "{{$.PrimaryResourceId}}" {
  secret                 = google_secret_manager_regional_secret.secret-basic-write-only.id
  secret_data_wo_version = 1
  secret_data_wo         = "{{index $.Vars "data"}}"
}
