resource "google_compute_region_security_policy" "{{$.PrimaryResourceId}}" {
  provider    = google-beta  

  name        = "{{index $.Vars "sec_policy_name"}}"
  description = "with user defined fields"
  type        = "CLOUD_ARMOR_NETWORK"
  user_defined_fields {
    name = "SIG1_AT_0"
    base = "UDP"
    offset = 8
    size = 2
    mask = "0x8F00"
  }
  user_defined_fields {
    name = "SIG2_AT_8"
    base = "UDP"
    offset = 16
    size = 4
    mask = "0xFFFFFFFF"
  }
}