// Cloud Run Example
resource "google_compute_region_network_endpoint_group" "{{$.PrimaryResourceId}}" {
  name                  = "{{index $.Vars "neg_name"}}"
  network_endpoint_type = "SERVERLESS"
  region                = "us-central1"
  cloud_run {
    service = google_cloud_run_service.{{$.PrimaryResourceId}}.name
  }
}

resource "google_cloud_run_service" "{{$.PrimaryResourceId}}" {
  name     = "{{index $.Vars "neg_name"}}"
  location = "us-central1"

  template {
    spec {
      containers {
        image = "us-docker.pkg.dev/cloudrun/container/hello"
      }
    }
  }

  traffic {
    percent         = 100
    latest_revision = true
  }
}