resource "google_compute_region_backend_service" "{{$.PrimaryResourceId}}" {
  region = "us-central1"
  name = "{{index $.Vars "region_backend_service_name"}}"
  health_checks = [google_compute_health_check.health_check.id]
  protocol = "HTTP"
  load_balancing_scheme = "INTERNAL_MANAGED"
  locality_lb_policy = "ROUND_ROBIN"
}

resource "google_compute_health_check" "health_check" {
  name               = "{{index $.Vars "health_check_name"}}"
  http_health_check {
    port = 80
  }
}
