resource "google_compute_region_network_endpoint_group" "{{$.PrimaryResourceId}}" {
  name                  = "{{index $.Vars "neg_name"}}"
  region                = "us-central1"
  network               = google_compute_network.default.id
  subnetwork            = google_compute_subnetwork.default.id

  network_endpoint_type = "GCE_VM_IP_PORTMAP"
  provider              = google-beta
}

resource "google_compute_network" "default" {
  name                    = "{{index $.Vars "network_name"}}"
  provider              = google-beta
}

resource "google_compute_subnetwork" "default" {
  name          = "{{index $.Vars "subnetwork_name"}}"
  ip_cidr_range = "10.0.0.0/16"
  region        = "us-central1"
  network       = google_compute_network.default.id
  provider              = google-beta
}
