resource "google_compute_region_target_tcp_proxy" "default" {
  name            = "{{index $.Vars "region_target_tcp_proxy_name"}}"
  region          = "europe-west4"
  backend_service = google_compute_region_backend_service.default.id
}

resource "google_compute_region_backend_service" "default" {
  name        = "{{index $.Vars "region_backend_service_name"}}"
  protocol    = "TCP"
  timeout_sec = 10
  region      = "europe-west4"

  health_checks         = [google_compute_region_health_check.default.id]
  load_balancing_scheme = "INTERNAL_MANAGED"
}

resource "google_compute_region_health_check" "default" {
  name               = "{{index $.Vars "health_check_name"}}"
  region             = "europe-west4"
  timeout_sec        = 1
  check_interval_sec = 1
  tcp_health_check {
    port = "80"
  }
}
