resource "google_compute_region_url_map" "{{$.PrimaryResourceId}}" {
  provider    = google-beta
  name        = "{{index $.Vars "url_map_name"}}"
  description = "Test for path rule route action mirror percent"

  default_service = google_compute_region_backend_service.home.id

  host_rule {
    hosts        = ["mysite.com"]
    path_matcher = "allpaths"
  }

  path_matcher {
    name            = "allpaths"
    default_service = google_compute_region_backend_service.home.id

    path_rule {
      paths   = ["/home"]
      service = google_compute_backend_region_service.home.id
      route_action {
        request_mirror_policy {
          backend_service = google_compute_region_backend_service.mirror.id
          mirror_percent = 25.0
        }
      }
    }
  }
}

resource "google_compute_region_backend_service" "home" {
  provider    = google-beta
  name        = "{{index $.Vars "home_backend_service_name"}}"
  port_name   = "http"
  protocol    = "HTTP"
  timeout_sec = 10
  load_balancing_scheme = "EXTERNAL_MANAGED"

  health_checks = [google_compute_health_check.default.id]
}

resource "google_compute_region_backend_service" "mirror" {
  provider    = google-beta
  name        = "{{index $.Vars "mirror_backend_service_name"}}"
  port_name   = "http"
  protocol    = "HTTP"
  timeout_sec = 10
  load_balancing_scheme = "EXTERNAL_MANAGED"

  health_checks = [google_compute_health_check.default.id]
}

resource "google_compute_health_check" "default" {
  provider = google-beta
  name               = "{{index $.Vars "health_check_name"}}"
  http_health_check {
    port = 80
  }
}

