data "google_project" "project" {
  provider = google-beta
}

resource "google_parameter_manager_regional_parameter" "regional-parameter-basic" {
  provider  = google-beta
  parameter_id = "{{index $.Vars "parameter_id"}}"
  location = "us-central1"

  kms_key = "{{index $.Vars "kms_key"}}"
}

resource "google_parameter_manager_regional_parameter_version" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  parameter = google_parameter_manager_regional_parameter.regional-parameter-basic.id
  parameter_version_id = "{{index $.Vars "parameter_version_id"}}"
  parameter_data = "regional-parameter-version-data"
}
