resource "google_compute_region_health_check" "grpc-with-tls-region-health-check" {
  provider = google-beta
  
  name = "{{index $.Vars "health_check_name"}}"

  timeout_sec        = 1
  check_interval_sec = 1

  grpc_tls_health_check {
    port = "443"
  }
}
