resource "google_compute_region_ssl_certificate" "default" {
  region      = "us-central1"
  name_prefix = "my-certificate-"
  description = "a description"
  private_key_wo = file("path/to/private.key")
  private_key_wo_version = 1
  certificate_wo = file("path/to/certificate.crt")
  certificate_wo_version = 1
  
  lifecycle {
    create_before_destroy = true
  }
}
