resource "google_compute_region_security_policy" "{{$.PrimaryResourceId}}" {
  provider    = google-beta  

  name        = "{{index $.Vars "sec_policy_name"}}"
  description = "with ddos protection config"
  type        = "CLOUD_ARMOR_NETWORK"

  ddos_protection_config {
    ddos_protection = "ADVANCED_PREVIEW"
  }
}