resource "google_compute_region_network_policy" "{{$.PrimaryResourceId}}" {
  name        = "{{index $.Vars "policy_name"}}"
  region      = "{{index $.TestEnvVars "region"}}"
  project     = "{{index $.TestEnvVars "project_name"}}"
  description = "A basic region network policy"
}
