resource "google_compute_region_network_endpoint" "{{$.PrimaryResourceId}}" {
  region_network_endpoint_group = google_compute_region_network_endpoint_group.group.name
  region                = "us-central1"

  fqdn  = "backend.example.com"
  port        = 443
}


resource "google_compute_region_network_endpoint_group" "group" {
  name         = "{{index $.Vars "neg_name"}}"
  network      = google_compute_network.default.id

  region         = "us-central1"
  network_endpoint_type = "INTERNET_FQDN_PORT"
}

resource "google_compute_network" "default" {
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}