resource "google_compute_region_security_policy" "default" {
  provider    = google-beta

  region      = "asia-southeast1"
  name        = "{{index $.Vars "sec_policy_name"}}"
  description = "basic region security policy"
  type        = "CLOUD_ARMOR"
}

resource "google_compute_region_security_policy_rule" "{{$.PrimaryResourceId}}" {
  provider    = google-beta

  region          = "asia-southeast1"
  security_policy = google_compute_region_security_policy.default.name
  description     = "new rule"
  priority        = 100
  match {
    versioned_expr = "SRC_IPS_V1"
    config {
      src_ip_ranges = ["10.10.0.0/16"]
    }
  }
  preconfigured_waf_config {
    exclusion {
      request_uri {
        operator = "STARTS_WITH"
        value = "/admin"
      }
      target_rule_set = "rce-stable"
    }
    exclusion {
      request_query_param {
        operator = "CONTAINS"
        value = "password"
      }
      request_query_param {
        operator = "STARTS_WITH"
        value = "freeform"
      }
      request_query_param {
        operator = "EQUALS"
        value = "description"
      }
      target_rule_set = "xss-stable"
      target_rule_ids = [
        "owasp-crs-v030001-id941330-xss",
        "owasp-crs-v030001-id941340-xss",
      ]
    }
  }
  action          = "allow"
  preview         = true
}
