resource "google_folder" "folder" {
  provider         = google-beta
  display_name     = "{{index $.Vars "display_name"}}"
  parent           = "organizations/{{index $.TestEnvVars "org_id"}}"
  deletion_protection = false
}
resource "time_sleep" "wait_60s" {
  depends_on = [google_folder.folder]
  create_duration = "60s"
}
resource "google_resource_manager_capability" "{{$.PrimaryResourceId}}" {
  provider         = google-beta
  value            = true
  parent           = "${google_folder.folder.name}"
  capability_name  = "app-management"
  depends_on = [time_sleep.wait_60s]
}
