resource "google_compute_network" "net" {
  provider = google-beta

  name     = "{{index $.Vars "network_name"}}"
}

resource "google_compute_subnetwork" "subnet" {
  provider      = google-beta

  name          = "{{index $.Vars "subnet_name"}}"
  network       = google_compute_network.net.id
  ip_cidr_range = "10.0.0.0/16"
  region        = "us-central1"
  purpose       = "PRIVATE_NAT"
}

resource "google_compute_router" "router" {
  provider = google-beta

  name     = "{{index $.Vars "router_name"}}"
  region   = google_compute_subnetwork.subnet.region
  network  = google_compute_network.net.id
}

resource "google_network_connectivity_hub" "hub" {
  provider    = google-beta

  name        = "{{index $.Vars "hub_name"}}"
  description = "vpc hub for inter vpc nat"
}

resource "google_network_connectivity_spoke" "spoke" {
  provider    = google-beta

  name        = "{{index $.Vars "spoke_name"}}"
  location    = "global"
  description = "vpc spoke for inter vpc nat"
  hub         =  google_network_connectivity_hub.hub.id
  linked_vpc_network {
    exclude_export_ranges = [
      "198.51.100.0/24",
      "10.10.0.0/16"
    ]
    uri = google_compute_network.net.self_link
  }
}

resource "google_compute_router_nat" "{{$.PrimaryResourceId}}" {
  provider                            = google-beta

  name                                = "{{index $.Vars "nat_name"}}"
  router                              = google_compute_router.router.name
  region                              = google_compute_router.router.region
  source_subnetwork_ip_ranges_to_nat  = "LIST_OF_SUBNETWORKS"
  enable_dynamic_port_allocation      = false
  enable_endpoint_independent_mapping = false
  min_ports_per_vm                    = 32
  type                                = "PRIVATE"
  subnetwork {
    name                    = google_compute_subnetwork.subnet.id
    source_ip_ranges_to_nat = ["ALL_IP_RANGES"]
  }
  rules {
    rule_number = 100
    description = "rule for private nat"
    match       = "nexthop.hub == \"//networkconnectivity.googleapis.com/projects/acm-test-proj-123/locations/global/hubs/{{index $.Vars "hub_name"}}\""
    action {
      source_nat_active_ranges = [
        google_compute_subnetwork.subnet.self_link
      ]
    }
  }
}
