resource "google_saas_runtime_saas" "example_saas_regional" {
  provider = google-beta
  saas_id  = "{{index $.Vars "saas_name"}}"
  location = "us-central1"

  locations {
    name = "us-central1"
  }
}

resource "google_saas_runtime_unit_kind" "example_unit_kind" {
  provider = google-beta
  location = "us-central1"
  unit_kind_id = "{{index $.Vars "unitkind_name"}}"
  saas = google_saas_runtime_saas.example_saas_regional.id
}

resource "google_saas_runtime_unit" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us-central1"
  unit_id = "{{index $.Vars "unit_name"}}"
  unit_kind = google_saas_runtime_unit_kind.example_unit_kind.id
  management_mode = "MANAGEMENT_MODE_USER"
}