resource "google_saas_runtime_saas" "example_saas" {
  provider = google-beta
  saas_id  = "{{index $.Vars "saas_name"}}"
  location = "us-east1"

  locations {
    name = "us-east1"
  }
}

resource "google_saas_runtime_unit_kind" "cluster_unit_kind" {
  provider = google-beta
  location = "us-east1"
  unit_kind_id = "{{index $.Vars "cluster_unitkind_name"}}"
  saas = google_saas_runtime_saas.example_saas.id
  default_release = "projects/{{index $.TestEnvVars "project"}}/locations/us-east1/releases/{{index $.Vars "release_name"}}"
}

resource "google_saas_runtime_unit_kind" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  location = "us-east1"
  unit_kind_id = "{{index $.Vars "app_unitkind_name"}}"
  saas = google_saas_runtime_saas.example_saas.id

  dependencies {
    unit_kind = google_saas_runtime_unit_kind.cluster_unit_kind.id
    alias     = "cluster"
  }
}

resource "google_saas_runtime_release" "example_release" {
  provider          = google-beta
  location          = "us-east1"
  release_id        = "{{index $.Vars "release_name"}}"
  unit_kind         = google_saas_runtime_unit_kind.cluster_unit_kind.id
  blueprint {
    package = "us-central1-docker.pkg.dev/ci-test-project-188019/test-repo/tf-test-easysaas-alpha-image@sha256:7992fdbaeaf998ecd31a7f937bb26e38a781ecf49b24857a6176c1e9bfc299ee"
  }
}