resource "google_saas_runtime_saas" "example_saas" {
  provider = google-beta
  saas_id  = "{{index $.Vars "saas_name"}}"
  location = "global"

  locations {
    name = "us-central1"
  }
}

resource "google_saas_runtime_unit_kind" "example_unitkind" {
  provider     = google-beta
  location     = "global"
  unit_kind_id = "{{index $.Vars "unitkind_name"}}"
  saas         = google_saas_runtime_saas.example_saas.id
}

resource "google_saas_runtime_release" "example_previous" {
  provider          = google-beta
  location          = "global"
  release_id        = "{{index $.Vars "previous_release_name"}}"
  unit_kind         = google_saas_runtime_unit_kind.example_unitkind.id
  blueprint {
    package = "us-central1-docker.pkg.dev/ci-test-project-188019/test-repo/tf-test-easysaas-alpha-image@sha256:7992fdbaeaf998ecd31a7f937bb26e38a781ecf49b24857a6176c1e9bfc299ee"
  }
}

resource "google_saas_runtime_release" "{{$.PrimaryResourceId}}" {
  provider          = google-beta
  location          = "global"
  release_id        = "{{index $.Vars "release_name"}}"
  unit_kind         = google_saas_runtime_unit_kind.example_unitkind.id
  blueprint {
    package = "us-central1-docker.pkg.dev/ci-test-project-188019/test-repo/tf-test-easysaas-beta-image@sha256:7bba0fa85b2956df7768f7b32e715b6fe11f4f4193e2a70a35bf3f286a6cdf9e"
  }
  input_variable_defaults {
    variable = "name"
    value    = "test"
    type     = "STRING"
  }
}