resource "google_saas_runtime_saas" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  saas_id  = "{{index $.Vars "saas_name"}}"
  location = "global"

  locations {
    name = "us-central1"
  }
  locations {
    name = "europe-west1"
  }

  application_template {
    application_template = "projects/{{index $.TestEnvVars "project"}}/locations/global/applicationTemplates/my-template"
    revision             = "r1"
  }
}
