resource "google_saas_runtime_saas" "example_saas" {
  provider = google-beta
  saas_id  = "{{index $.Vars "saas_name"}}"
  location = "global"

  locations {
    name = "us-central1"
  }
}

resource "google_saas_runtime_unit_kind" "example_unitkind" {
  provider     = google-beta
  location     = "global"
  unit_kind_id = "{{index $.Vars "unitkind_name"}}"
  saas         = google_saas_runtime_saas.example_saas.id
}

resource "google_saas_runtime_release" "example_previous" {
  provider          = google-beta
  location          = "global"
  release_id        = "{{index $.Vars "previous_release_name"}}"
  unit_kind         = google_saas_runtime_unit_kind.example_unitkind.id
  blueprint {
    package = "us-docker.pkg.dev/cloudrun/container/hello@sha256:b82beaa0e9c1ec6cb0b4d7ccacc9ae2bc1db4d5ccfa42f8cbdf18322ff1fead1"
  }
}

resource "google_saas_runtime_release" "{{$.PrimaryResourceId}}" {
  provider          = google-beta
  location          = "global"
  release_id        = "{{index $.Vars "release_name"}}"
  unit_kind         = google_saas_runtime_unit_kind.example_unitkind.id
  blueprint {
    package = "us-docker.pkg.dev/cloudrun/container/hello@sha256:b82beaa0e9c1ec6cb0b4d7ccacc9ae2bc1db4d5ccfa42f8cbdf18322ff1fead1"
  }
  input_variable_defaults {
    variable = "name"
    value    = "test"
    type     = "STRING"
  }
}