resource "google_network_security_sac_attachment" "{{$.PrimaryResourceId}}" {
    provider = google-beta
    name = "{{index $.Vars "resource_name"}}"
    location = "us-central1"
    labels = {
        label-one = "value-one"
    }
    ncc_gateway = "{{index $.Vars "ncc_gateway"}}"
    sac_realm = "{{index $.Vars "sac_realm"}}"
}