resource "google_compute_address" "scanner_static_ip" {
  provider = google-beta
  name     = "{{index $.Vars "address_name"}}"
}

resource "google_security_scanner_scan_config" "{{$.PrimaryResourceId}}" {
  provider         = google-beta
  display_name     = "{{index $.Vars "scan_config_name"}}"
  starting_urls    = ["http://${google_compute_address.scanner_static_ip.address}"]
  target_platforms = ["COMPUTE"]
}
