resource "google_scc_v2_organization_source" "{{$.PrimaryResourceId}}" {
  display_name = "{{index $.Vars "source_display_name"}}"
  organization = "{{index $.TestEnvVars "org_id"}}"
  description  = "My custom Cloud Security Command Center Finding Source"
}
