resource "google_scc_v2_project_mute_config" "<%= ctx[:primary_resource_id] %>" {
  mute_config_id    = "<%= ctx[:vars]['mute_config_id'] %>"
  project = "<%= ctx[:test_env_vars]['project_id'] %>"
  location     = "global"
  description  = "My custom Cloud Security Command Center Finding Project mute Configuration"
  filter = "severity = \"HIGH\""
  type = "STATIC"
}
