resource "google_folder" "folder" {
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"
  display_name = "{{index $.Vars "folder_display_name"}}"
  deletion_protection = false
}

resource "google_scc_management_folder_security_health_analytics_custom_module" "{{$.PrimaryResourceId}}" {
  folder = google_folder.folder.folder_id
  location = "global"
  display_name = "{{index $.Vars "display_name"}}"
  enablement_state = "ENABLED"
  custom_config {
    predicate {
      expression = "resource.rotationPeriod > duration(\"2592000s\")"
    }
    resource_selector {
      resource_types = [
        "cloudkms.googleapis.com/CryptoKey",
      ]
    }
    description = "The rotation period of the identified cryptokey resource exceeds 30 days."
    recommendation = "Set the rotation period to at most 30 days."
    severity = "MEDIUM"
  }
}