resource "google_secret_manager_secret" "secret-basic" {
  secret_id = "{{index $.Vars "secret_id"}}"

  replication {
    user_managed {
      replicas {
        location = "us-central1"
      }
    }
  }
}

resource "google_secret_manager_secret_version" "{{$.PrimaryResourceId}}" {
  secret = google_secret_manager_secret.secret-basic.id

  is_secret_data_base64 = true
  secret_data = filebase64("{{index $.Vars "data"}}")
}
