resource "google_secret_manager_secret" "{{$.PrimaryResourceId}}" {
  secret_id = "{{index $.Vars "secret_id"}}"
  
  labels = {
    label = "my-label"
  }

  replication {
    user_managed {
      replicas {
        location = "us-central1"
      }
      replicas {
        location = "us-east1"
      }
    }
  }
}
