resource "google_project" "psc_other_project" {
  project_id      = "tf-test-psc-%{random_suffix}"
  name            = "tf-test-psc-%{random_suffix}"
  # These vars are typically available in the test environment
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  deletion_policy = "DELETE"
}

resource "google_secure_source_manager_instance" "{{$.PrimaryResourceId}}" {
  instance_id = "{{index $.Vars "instance_id"}}"
  location    = "us-central1"

  private_config {
    is_private = true
    psc_allowed_projects = [
      google_project.psc_other_project.project_id
    ]
  }
  deletion_policy = "DELETE"
}

