
resource "google_compute_network" "default" {
  provider                = google-beta
  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "default" {
  provider      = google-beta
  name          = "test-subnet"
  region        = "us-west2"
  network       = google_compute_network.default.id
  ip_cidr_range = "10.10.0.0/24"
}

resource "google_compute_health_check" "default" {
  provider = google-beta
  name     = "test-health-check"

  http_health_check {
    port = 80
  }
}

resource "google_compute_security_policy" "default" {
  provider    = google-beta
  name        = "{{index $.Vars "sec_policy_name"}}"
  description = "global security policy with body inspection"
  type        = "CLOUD_ARMOR"

  advanced_options_config {
    json_parsing = "STANDARD"
    log_level    = "VERBOSE"
  }
}

resource "google_compute_instance_template" "default" {
  provider     = google-beta
  name         = "{{index $.Vars "backend_name"}}"
  machine_type = "e2-micro"

  disk {
    source_image = "projects/debian-cloud/global/images/family/debian-11"
    auto_delete  = true
    boot         = true
  }

  network_interface {
    subnetwork = google_compute_subnetwork.default.id
    access_config {}
  }
}

resource "google_compute_instance_group_manager" "default" {
  provider           = google-beta
  name               = "{{index $.Vars "backend_name"}}"
  base_instance_name = "backend"
  zone               = "us-west2-a"

  version {
    instance_template = google_compute_instance_template.default.id
  }

  target_size = 1
}

resource "google_compute_backend_service" "default" {
  provider              = google-beta
  name                  = "{{index $.Vars "backend_name"}}"
  protocol              = "HTTP"
  load_balancing_scheme = "EXTERNAL_MANAGED"
  timeout_sec           = 30

  health_checks = [google_compute_health_check.default.id]

  backend {
    group = google_compute_instance_group_manager.default.instance_group
  }

  security_policy = google_compute_security_policy.default.id
}

resource "google_compute_security_policy_rule" "{{$.PrimaryResourceId}}" {
  provider        = google-beta
  security_policy = google_compute_security_policy.default.name
  description     = "waf body rule"
  action          = "deny(403)"
  priority        = 100
  preview         = true

  match {
    expr {
      expression = "evaluatePreconfiguredWaf('sqli-v33-stable')"
    }
  }

  preconfigured_waf_config {
    exclusion {
      target_rule_set = "sqli-v33-stable"

      request_body {
        operator = "EQUALS"
        value    = "safe-field"
      }
    }
  }

  depends_on = [
    google_compute_backend_service.default
  ]
}
