provider "google-beta" {
}

resource "google_compute_service_attachment" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  
  name        = "{{index $.Vars "service_attachment_name"}}"
  region      = "us-west2"
  description = "A service attachment configured with tunneling"

  enable_proxy_protocol    = false
  connection_preference    = "ACCEPT_AUTOMATIC"
  nat_subnets              = [google_compute_subnetwork.psc_ilb_nat.id]
  target_service           = google_compute_forwarding_rule.psc_ilb_target_service.id

  tunneling_config {
    routing_mode = "REGIONAL"
    encapsulation_profile = "IPV4"
  }
}

resource "google_compute_forwarding_rule" "psc_ilb_target_service" {
  provider = google-beta
  
  name   = "{{index $.Vars "producer_forwarding_rule_name"}}"
  region = "us-west2"

  load_balancing_scheme = "INTERNAL"
  backend_service       = google_compute_region_backend_service.producer_service_backend.id
  all_ports             = true
  network               = google_compute_network.psc_ilb_network.name
  subnetwork            = google_compute_subnetwork.psc_ilb_producer_subnetwork.name
}

resource "google_compute_region_backend_service" "producer_service_backend" {
  provider = google-beta
  
  name   = "{{index $.Vars "producer_service_name"}}"
  region = "us-west2"

  health_checks = [google_compute_health_check.producer_service_health_check.id]
}

resource "google_compute_health_check" "producer_service_health_check" {
  provider = google-beta
  
  name = "{{index $.Vars "producer_health_check_name"}}"

  check_interval_sec = 1
  timeout_sec        = 1
  tcp_health_check {
    port = "80"
  }
}

resource "google_compute_network" "psc_ilb_network" {
  provider = google-beta
  
  name = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "psc_ilb_producer_subnetwork" {
  provider = google-beta
  
  name   = "{{index $.Vars "producer_subnetwork_name"}}"
  region = "us-west2"

  network       = google_compute_network.psc_ilb_network.id
  ip_cidr_range = "10.0.0.0/16"
}

resource "google_compute_subnetwork" "psc_ilb_nat" {
  provider = google-beta
  
  name   = "{{index $.Vars "nat_subnetwork_name"}}"
  region = "us-west2"

  network       = google_compute_network.psc_ilb_network.id
  purpose       =  "PRIVATE_SERVICE_CONNECT"
  ip_cidr_range = "10.1.0.0/16"
} 
