resource "google_project" "owner_project" {
  project_id      = "tf-test%{random_suffix}"
  name            = "tf-test%{random_suffix}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
  deletion_policy = "DELETE"
}


resource "google_project_service" "compute" {
  project = google_project.owner_project.project_id
  service = "compute.googleapis.com"
}

resource "google_project" "guest_project" {
  project_id      = "tf-test-2%{random_suffix}"
  name            = "tf-test-2%{random_suffix}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  deletion_policy = "DELETE"
}

resource "google_org_policy_policy" "shared_reservation_org_policy" {
  name   = "projects/${google_project.owner_project.project_id}/policies/compute.sharedReservationsOwnerProjects"
  parent = "projects/${google_project.owner_project.project_id}"

  spec {
    rules {
      allow_all = "TRUE"
    }
  }
}

resource "google_compute_reservation" "{{$.PrimaryResourceId}}" {
  project = google_project.owner_project.project_id
  name = "{{index $.Vars "reservation_name"}}"
  zone = "us-central1-a"

  specific_reservation {
    count = 1
    instance_properties {
      min_cpu_platform = "Intel Cascade Lake"
      machine_type     = "n2-standard-2"
    }
  }
  share_settings {
    share_type = "SPECIFIC_PROJECTS"
    project_map {
      id = google_project.guest_project.project_id
      project_id = google_project.guest_project.project_id
    }
  }
  depends_on = [google_org_policy_policy.shared_reservation_org_policy,google_project_service.compute]
}