resource "google_project" "owner_project" {
  project_id      = "tf-test%{random_suffix}"
  name            = "tf-test%{random_suffix}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  billing_account = "{{index $.TestEnvVars "billing_account"}}"
  deletion_policy = "DELETE"
}

resource "google_project_service" "compute" {
  project            = google_project.owner_project.project_id
  service            = "compute.googleapis.com"
  disable_on_destroy = false
}

resource "google_project" "guest_project" {
  project_id      = "tf-test-2%{random_suffix}"
  name            = "tf-test-2%{random_suffix}"
  org_id          = "{{index $.TestEnvVars "org_id"}}"
  deletion_policy = "DELETE"
}

resource "google_organization_policy" "shared_future_reservation_org_policy" {
  org_id     = "{{index $.TestEnvVars "org_id"}}"
  constraint = "constraints/compute.sharedReservationsOwnerProjects"
  list_policy {
    allow {
      values = ["projects/${google_project.owner_project.number}"]
    }
  }
}

resource "google_compute_future_reservation" "{{$.PrimaryResourceId}}" {
  project = google_project.owner_project.project_id
  name    = "{{index $.Vars "future_reservation_name"}}"
  time_window {
    start_time = "2025-08-01T00:00:00Z"
    end_time   = "2025-08-02T00:00:00Z"
  }

  share_settings {
    share_type = "SPECIFIC_PROJECTS"
    project_map {
      id         = google_project.guest_project.project_id
      project_id = google_project.guest_project.project_id
    }
  }


  depends_on = [
    google_organization_policy.shared_future_reservation_org_policy,
    google_project_service.compute
  ]
}