resource "google_spanner_instance_config" "<%= ctx[:primary_resource_id] %>" {
  name          = "<%= ctx[:vars]['instance_config_name'] %>"
  display_name  = "Test Spanner Instance Config"
  base_config    = "nam11"
  replicas     {
      location = "us-west1"
      type = "READ_ONLY"
      default_leader_location = false
 }
 labels = {
    "foo" = "bar"
  }
}
