resource "google_sql_database_instance" "mysql_instance_ha" {
  name             = "{{index $.Vars "mysql_instance_ha"}}"
  region           = "asia-northeast1"
  database_version = "MYSQL_8_0"
  settings {
    tier              = "db-f1-micro"
    availability_type = "REGIONAL"
    backup_configuration {
      enabled            = true
      binary_log_enabled = true
      start_time         = "20:55"
    }
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_database_instance" "postgres_instance_ha" {
  name             = "{{index $.Vars "postgres_instance_ha"}}"
  region           = "us-central1"
  database_version = "POSTGRES_14"
  settings {
    tier              = "db-custom-2-7680"
    availability_type = "REGIONAL"
    backup_configuration {
      enabled                        = true
      point_in_time_recovery_enabled = true
      start_time                     = "20:55"
    }
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name             = "{{index $.Vars "sqlserver_instance_ha"}}"
  region           = "us-central1"
  database_version = "SQLSERVER_2019_STANDARD"
  root_password = "INSERT-PASSWORD-HERE"
  settings {
    tier              = "db-custom-2-7680"
    availability_type = "REGIONAL"
    backup_configuration {
      enabled            = true
      start_time         = "20:55"
    }
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}
