resource "google_sql_database_instance" "primary" {
  name             = "{{index $.Vars "sqlserver_primary_instance_name"}}"
  region           = "europe-west4"
  database_version = "SQLSERVER_2019_ENTERPRISE"
  root_password    = "INSERT-PASSWORD-HERE"
  settings {
    tier = "db-custom-2-7680"
    backup_configuration {
      enabled = "true"
    }
  }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}

resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name                 = "{{index $.Vars "sqlserver_replica_instance_name"}}"
  master_instance_name = google_sql_database_instance.primary.name
  region               = "europe-west4"
  database_version     = "SQLSERVER_2019_ENTERPRISE"
  root_password        = "INSERT-PASSWORD-HERE"
  replica_configuration {
    failover_target = false
  }

  settings {
    tier              = "db-custom-2-7680"
    availability_type = "ZONAL"
    disk_size         = "100"
  }
  deletion_protection = "{{index $.Vars "deletion_protection"}}"
}
