resource "google_sql_database_instance" "{{$.PrimaryResourceId}}" {
  name             = "{{index $.Vars "mysql_instance_backup_location"}}"
  region           = "asia-northeast1"
  database_version = "MYSQL_8_0"
  settings {
    tier = "db-f1-micro"
    backup_configuration {
      enabled                        = true
      location                       = "asia-northeast1"
    }
  }
  deletion_protection =  "{{index $.Vars "deletion_protection"}}"
}
