# Create new storage bucket in the US multi-region
# with coldline storage
resource "google_storage_bucket" "{{$.PrimaryResourceId}}" {
  name          = "{{index $.Vars "new_bucket"}}"
  location      = "US"
  storage_class = "COLDLINE"

  uniform_bucket_level_access = true
}

# Upload files
# Discussion about using tf to upload a large number of objects
# https://stackoverflow.com/questions/68455132/terraform-copy-multiple-files-to-bucket-at-the-same-time-bucket-creation

# The text object in Cloud Storage
resource "google_storage_bucket_object" "default" {
  name         = "{{index $.Vars "new_object"}}"
# Uncomment and add valid path to an object.
#  source       = "/path/to/an/object"
  content      = "Data as string to be uploaded"
  content_type = "text/plain"
  bucket       = google_storage_bucket.static.id
}

# Get object metadata
data "google_storage_bucket_object" "default" {
  name         = google_storage_bucket_object.default.name
  bucket       = google_storage_bucket.static.id
}

output "object_metadata" {
  value        = data.google_storage_bucket_object.default
}

# Get bucket metadata
data "google_storage_bucket" "default" {
  name         = google_storage_bucket.static.id
}

output "bucket_metadata" {
  value        = data.google_storage_bucket.default
}

