resource "google_storage_bucket" "{{$.PrimaryResourceId}}" {
  provider                    = google-beta
  name                        = "{{index $.Vars "example_bucket_name"}}"
  location                    = "US"
  uniform_bucket_level_access = true
}

# Make bucket public
resource "google_storage_bucket_iam_member" "member" {
  provider = google-beta
  bucket   = google_storage_bucket.default.name
  role     = "roles/storage.objectViewer"
  member   = "allUsers"
}
