data "google_project" "project" {
}

resource "google_storage_insights_report_config" "{{$.PrimaryResourceId}}" {
  display_name = "Test Report Config"
  location = "us-central1"
  frequency_options {
    frequency = "WEEKLY"
    start_date {
      day = 15
      month = 3
      year = 2050
    }
    end_date {
      day = 15
      month = 4
      year = 2050
    }
  }
  csv_options {
    record_separator = "\n"
    delimiter = ","
    header_required = false
  }
  object_metadata_report_options {
    metadata_fields = ["bucket", "name", "project"]
    storage_filters {
      bucket = google_storage_bucket.report_bucket.name
    }
    storage_destination_options {
      bucket = google_storage_bucket.report_bucket.name
      destination_path = "test-insights-reports"
    }
  }

  depends_on = [
    google_storage_bucket_iam_member.admin
  ]
}

resource "google_storage_bucket" "report_bucket" {
  name                        = "{{index $.Vars "bucket_name"}}"
  location                    = "us-central1"
  force_destroy               = true
  uniform_bucket_level_access = true
}

resource "google_storage_bucket_iam_member" "admin" {
  bucket = google_storage_bucket.report_bucket.name
  role   = "roles/storage.admin"
  member = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-storageinsights.iam.gserviceaccount.com"
}
