resource "google_storage_bucket" "<%= ctx[:primary_resource_id] %>" {
  provider      = google-beta
  name          = "<%= ctx[:vars]['example_bucket'] %>"
  location      = "US"
  uniform_bucket_level_access = true

  lifecycle_rule {
    condition {
      age = 3
    }
    action {
      type = "Delete"
    }
  }
}
