resource "google_compute_subnetwork" "subnetwork-cidr-overlap" {
  provider = google-beta

  name                             = "{{index $.Vars "subnetwork_name"}}"
  region                           = "us-west2"
  ip_cidr_range                    = "192.168.1.0/24"
  allow_subnet_cidr_routes_overlap = true
  network                          = google_compute_network.net-cidr-overlap.id
}

resource "google_compute_network" "net-cidr-overlap" {
  provider                = google-beta

  name                    = "{{index $.Vars "network_name"}}"
  auto_create_subnetworks = false
}
