resource "google_project" "project" {
	project_id = "{{index $.Vars "project_id"}}"
	name       = "{{index $.Vars "project_id"}}"
	org_id     = "{{index $.TestEnvVars "org_id"}}"
	deletion_policy = "DELETE"
}

resource "google_tags_tag_key" "key" {
	parent = "organizations/{{index $.TestEnvVars "org_id"}}"
	short_name = "{{index $.Vars "key_short_name"}}"
	description = "For {{index $.Vars "key_short_name"}} resources."
}

resource "google_tags_tag_value" "value" {
	parent = "tagKeys/${google_tags_tag_key.key.name}"
	short_name = "{{index $.Vars "value_short_name"}}"
	description = "For {{index $.Vars "value_short_name"}} resources."
}

resource "google_tags_tag_binding" "{{$.PrimaryResourceId}}" {
	parent = "//cloudresourcemanager.googleapis.com/projects/${google_project.project.number}"
	tag_value = "tagValues/${google_tags_tag_value.value.name}"
}
