resource "google_compute_target_tcp_proxy" "{{$.PrimaryResourceId}}" {
  provider              = google-beta
  name                  = "{{index $.Vars "target_tcp_proxy_name"}}"
  backend_service       = google_compute_backend_service.default.id
  load_balancing_scheme = "INTERNAL_MANAGED"
}
