resource "google_monitoring_uptime_check_config" "{{$.PrimaryResourceId}}" {
  display_name = "{{index $.Vars "display_name"}}"
  timeout      = "60s"

  tcp_check {
    port = 888
    ping_config {
      pings_count = 2
    }
  }

  resource_group {
    resource_type = "INSTANCE"
    group_id      = google_monitoring_group.check.name
  }
}

resource "google_monitoring_group" "check" {
  display_name = "{{index $.Vars "group_display_name"}}"
  filter       = "resource.metadata.name=has_substring(\"foo\")"
}
