data "google_project" "project" {}

resource "google_kms_crypto_key_iam_member" "crypto_key" {
  crypto_key_id = "kms-name"
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"
  member        = "serviceAccount:service-${data.google_project.project.number}@gcp-sa-aiplatform.iam.gserviceaccount.com"
}

resource "google_compute_network" "network" {
  name                    = "network-name"
  auto_create_subnetworks = false
}

resource "google_service_account" "service_account" {
  account_id   = "sa-name"
  display_name = "Service Account"
}

resource "google_vertex_ai_persistent_resource" "{{$.PrimaryResourceId}}" {
  name = "{{index $.Vars "name"}}"
  location = "us-central1"
  display_name = "example-resource"
  
  labels = {
    env = "test"
  }
  
  network = google_compute_network.network.id
  
  resource_pools {
    id = "head-node"
    machine_spec {
      machine_type = "n1-standard-4"
    }
    replica_count = 1
  }
  
  resource_pools {
    id = "worker-node"
    machine_spec {
      machine_type = "n1-standard-4"
    }
    replica_count = 1
    autoscaling_spec {
      min_replica_count = 1
      max_replica_count = 3
    }
  }

  resource_runtime_spec {
    ray_spec {
      head_node_resource_pool_id = "head-node"
    }
    service_account_spec {
      enable_custom_service_account = true
      service_account               = google_service_account.service_account.email
    }
  }

  encryption_spec {
    kms_key_name = "kms-name"
  }

  depends_on = [google_kms_crypto_key_iam_member.crypto_key]
}
