resource "google_project_service_identity" "vertexai_sa" {
  provider = google-beta
  service = "aiplatform.googleapis.com"
}

resource "google_kms_crypto_key_iam_member" "vertexai_encrypterdecrypter" {
  provider = google-beta
  crypto_key_id = "{{index $.Vars "kms_key_name"}}"
  role          = "roles/cloudkms.cryptoKeyEncrypterDecrypter"
  member        =  google_project_service_identity.vertexai_sa.member
}

resource "google_vertex_ai_index_endpoint" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  display_name = "sample-endpoint"
  description  = "A sample vertex endpoint"
  region       = "us-central1"
  labels       = {
    label-one = "value-one"
  }
  network      = "projects/${data.google_project.project.number}/global/networks/${data.google_compute_network.vertex_network.name}"

  encryption_spec {
    kms_key_name = "{{index $.Vars "kms_key_name"}}"
  }

  depends_on = [
    google_kms_crypto_key_iam_member.vertexai_encrypterdecrypter,
  ]
}

data "google_compute_network" "vertex_network" {
  provider = google-beta
  name       = "{{index $.Vars "network_name"}}"
}

data "google_project" "project" {
  provider = google-beta
}
