resource "google_vertex_ai_reasoning_engine" "{{$.PrimaryResourceId}}" {
  name         = "${data.google_project.project.id}/locations/us-central1/reasoningEngines/{{index $.Vars "name"}}"
  display_name = "{{index $.Vars "name"}}"
  description  = "A basic reasoning engine"
  region       = "us-central1"
}

data "google_project" "project" {
}
