resource "google_vertex_ai_feature_online_store" "{{$.PrimaryResourceId}}" {
  provider = google-beta
  name     = "{{index $.Vars "name"}}"
  labels = {
    foo = "bar"
  }
  region = "us-central1"
  bigtable {
    auto_scaling {
      min_node_count         = 1
      max_node_count         = 2
      cpu_utilization_target = 80
    }
  }
  embedding_management {
    enabled = true
  }
  force_destroy = true
}

data "google_project" "project" {
  provider = google-beta
}
