resource "google_vertex_ai_index_endpoint" "{{$.PrimaryResourceId}}" {
  display_name = "sample-endpoint"
  description  = "A sample vertex endpoint"
  region       = "us-central1"
  labels       = {
    label-one = "value-one"
  }
  network      = "projects/${data.google_project.project.number}/global/networks/${data.google_compute_network.vertex_network.name}"
}

data "google_compute_network" "vertex_network" {
  name       = "{{index $.Vars "network_name"}}"
}

data "google_project" "project" {}
