resource "google_vertex_ai_model" "{{$.PrimaryResourceId}}" {
  project = "{{index $.TestEnvVars "project_name"}}"
  source_model = google_vertex_ai_model.model_upload.name

  region       = "us-central1"
}

resource "google_vertex_ai_model" "model_upload" {
  model_name = "tf_test_model_upload_source_1"
  description  = "basic upload model for source testing"
  region       = "us-central1"

  container_spec {
      image_uri             = "us-docker.pkg.dev/vertex-ai/prediction/tf2-cpu.2-12:latest"
    command     = ["/usr/bin/python3"]
    args        = ["model_server.py"]
    
    env {
      name  = "MODEL_NAME"
      value = "example-model"
    }
    
    health_route = "/health"
    predict_route = "/predict"
    ports {
      container_port = 8080
    }
  }
  artifact_uri = "gs://cloud-samples-data/ai-platform/mnist_tfrecord/pretrained"

}