resource "google_vertex_ai_featurestore" "featurestore" {
  provider = google-beta
  name     = "{{index $.Vars "name"}}"
  labels = {
    foo = "bar"
  }
  region   = "us-central1"
  online_serving_config {
    fixed_node_count = 2
  }
  encryption_spec {
    kms_key_name = "{{index $.Vars "kms_key_name"}}"
  }
  online_storage_ttl_days = 30
  force_destroy = true
}
