resource "google_compute_network" "network-peering-vpc" {
  name = "default-vpc"
}
resource "google_vmwareengine_network" "network-peering-standard-nw" {
   name              = "default-standard-nw-np"
   location          = "global"
   type              = "STANDARD"
}
resource "google_vmwareengine_network_peering" "{{$.PrimaryResourceId}}" {
    name = "{{index $.Vars "name"}}"
    description = "Sample description"
    peer_network = google_compute_network.network-peering-vpc.id
    peer_network_type = "STANDARD"
    vmware_engine_network = google_vmwareengine_network.network-peering-standard-nw.id
}
