resource "google_vmwareengine_network" "{{$.PrimaryResourceId}}" {
    name              = "standard-nw"
    location          = "global" # Standard network needs to be global
    type              = "STANDARD"
    description       = "VMwareEngine standard network sample"
}
