resource "google_vpc_access_connector" "connector" {
  name          = "{{index $.Vars "name"}}"
  ip_cidr_range = "10.8.0.0/28"
  network       = "{{index $.Vars "network_name"}}"
  min_instances = 2
  max_instances = 3
}
