resource "google_workload_identity_service_agent" "default" {
  provider = google-beta

  location          = "global"
  service_agent_id  = "tf-test-agent-%{random_suffix}"

  labels = {
    test-label = "tf-test"
  }
}
