data "google_container_aws_versions" "versions" {
  provider = google-beta
  project = "{{project}}"
  location = "us-west1"
}

resource "google_container_aws_cluster" "primary" {
  provider = google-beta
  authorization {
    admin_users {
      username = "{{test_service_account}}"
    }
  }

  aws_region = "{{aws_region}}"

  control_plane {
    aws_services_authentication {
      role_arn          = "arn:aws:iam::{{aws_account_id}}:role/{{byo_multicloud_prefix}}-1p-dev-oneplatform"
      role_session_name = "{{byo_multicloud_prefix}}-1p-dev-session"
    }

    config_encryption {
      kms_key_arn = "arn:aws:kms:{{aws_region}}:{{aws_account_id}}:key/{{aws_database_encryption_key}}"
    }

    database_encryption {
      kms_key_arn = "arn:aws:kms:{{aws_region}}:{{aws_account_id}}:key/{{aws_database_encryption_key}}"
    }

    iam_instance_profile = "{{byo_multicloud_prefix}}-1p-dev-controlplane"
    subnet_ids           = ["{{aws_subnet}}"]
    version   = "${data.google_container_aws_versions.versions.valid_versions[0]}"
    instance_type        = "t3.medium"

    main_volume {
      iops        = 3000
      kms_key_arn = "arn:aws:kms:{{aws_region}}:{{aws_account_id}}:key/{{aws_volume_encryption_key}}"
      size_gib    = 10
      volume_type = "GP3"
    }

    proxy_config {
      secret_arn     = "arn:aws:secretsmanager:us-west-2:126285863215:secret:proxy_config20210824150329476300000001-ABCDEF"
      secret_version = "12345678-ABCD-EFGH-IJKL-987654321098"
    }

    root_volume {
      iops        = 3000
      kms_key_arn = "arn:aws:kms:{{aws_region}}:{{aws_account_id}}:key/{{aws_volume_encryption_key}}"
      size_gib    = 10
      volume_type = "GP3"
    }

    security_group_ids = ["{{aws_security_group}}"]

    ssh_config {
      ec2_key_pair = "{{byo_multicloud_prefix}}-1p-dev-ssh"
    }

    tags = {
       owner = "updated-{{test_service_account}}"
    }

    instance_placement {
      tenancy = "DEDICATED"
    }
  }

  fleet {
    project = "{{project_number}}"
  }

  location = "us-west1"
  name     = "{{name}}"

  networking {
    pod_address_cidr_blocks     = ["10.2.0.0/16"]
    service_address_cidr_blocks = ["10.1.0.0/16"]
    vpc_id                      = "{{aws_vpc}}"
  }

  annotations = {
    label-two = "value-two"
  }

  description = "An updated sample aws cluster"
  project     = "{{project}}"

  logging_config {
    component_config {
      enable_components = ["SYSTEM_COMPONENTS", "WORKLOADS"]
    }
  }

}

