{{/*
# Copyright 2026 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
*/}}

// 'config' is provided by the boilerplate.
// We use ':=' to declare 'userAgent', 'err', and 'project' for the first time in this scope.
userAgent, err := tpgresource.GenerateUserAgentString(d, config.UserAgent)
if err != nil { return err }

billingProject := ""
project, err := tpgresource.GetProject(d, config)
if err != nil { return fmt.Errorf("Error fetching project for Disk: %s", err) }
billingProject = project
if bp, err := tpgresource.GetBillingProject(d, config); err == nil { billingProject = bp }

d.Partial(true)

// 1. Labels (POST) - Use shared helper to avoid 'undefined' errors
if d.HasChange("label_fingerprint") || d.HasChange("effective_labels") {
	obj := make(map[string]interface{})
	if v, ok := d.GetOk("label_fingerprint"); ok { obj["labelFingerprint"] = v }
	
	// Correct helper for google-beta provider
	obj["labels"] = tpgresource.ExpandEffectiveLabels(d)

	obj, err = resourceComputeDiskUpdateEncoder(d, meta, obj)
	if err != nil { return err }
	url, _ := tpgresource.ReplaceVars(d, config, "{{ "{{" }}ComputeBasePath{{ "}}" }}projects/{{ "{{" }}project{{ "}}" }}/zones/{{ "{{" }}zone{{ "}}" }}/disks/{{ "{{" }}name{{ "}}" }}/setLabels")
	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config: config, Method: "POST", Project: billingProject, RawURL: url, UserAgent: userAgent, Body: obj, Timeout: d.Timeout(schema.TimeoutUpdate),
	})
	if err != nil { return fmt.Errorf("Error updating Disk %q labels: %s", d.Id(), err) }
	err = ComputeOperationWaitTime(config, res, project, "Updating Disk Labels", userAgent, d.Timeout(schema.TimeoutUpdate))
	if err != nil { return err }
}

// 2. Size (POST)
if d.HasChange("size") {
	obj := make(map[string]interface{})
	obj["sizeGb"] = d.Get("size")
	obj, err = resourceComputeDiskUpdateEncoder(d, meta, obj)
	if err != nil { return err }
	url, _ := tpgresource.ReplaceVars(d, config, "{{ "{{" }}ComputeBasePath{{ "}}" }}projects/{{ "{{" }}project{{ "}}" }}/zones/{{ "{{" }}zone{{ "}}" }}/disks/{{ "{{" }}name{{ "}}" }}/resize")
	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config: config, Method: "POST", Project: billingProject, RawURL: url, UserAgent: userAgent, Body: obj, Timeout: d.Timeout(schema.TimeoutUpdate),
	})
	if err != nil { return fmt.Errorf("Error resizing Disk %q: %s", d.Id(), err) }
	err = ComputeOperationWaitTime(config, res, project, "Resizing Disk", userAgent, d.Timeout(schema.TimeoutUpdate))
	if err != nil { return err }
}

// 3. Performance (PATCH - Atomic Group 1)
if d.HasChange("provisioned_iops") || d.HasChange("provisioned_throughput") {
	obj := make(map[string]interface{})
	var paths []string
	if d.HasChange("provisioned_iops") {
		obj["provisionedIops"] = d.Get("provisioned_iops")
		paths = append(paths, "provisionedIops")
	}
	if d.HasChange("provisioned_throughput") {
		obj["provisionedThroughput"] = d.Get("provisioned_throughput")
		paths = append(paths, "provisionedThroughput")
	}
	obj["name"] = d.Get("name")
	obj, err = resourceComputeDiskUpdateEncoder(d, meta, obj)
	if err != nil { return err }
	baseUrl, _ := tpgresource.ReplaceVars(d, config, "{{ "{{" }}ComputeBasePath{{ "}}" }}projects/{{ "{{" }}project{{ "}}" }}/zones/{{ "{{" }}zone{{ "}}" }}/disks/{{ "{{" }}name{{ "}}" }}")
	url := fmt.Sprintf("%s?paths=%s", baseUrl, strings.Join(paths, "&paths="))
	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config: config, Method: "PATCH", Project: billingProject, RawURL: url, UserAgent: userAgent, Body: obj, Timeout: d.Timeout(schema.TimeoutUpdate),
	})
	if err != nil { return fmt.Errorf("Error updating Disk %q performance: %s", d.Id(), err) }
	err = ComputeOperationWaitTime(config, res, project, "Updating Disk Performance", userAgent, d.Timeout(schema.TimeoutUpdate))
	if err != nil { return err }
}

// 4. Access Mode (PATCH - Group 2)
if d.HasChange("access_mode") {
	obj := make(map[string]interface{})
	obj["accessMode"] = d.Get("access_mode")
	obj["name"] = d.Get("name")
	obj, err = resourceComputeDiskUpdateEncoder(d, meta, obj)
	if err != nil { return err }
	url, _ := tpgresource.ReplaceVars(d, config, "{{ "{{" }}ComputeBasePath{{ "}}" }}projects/{{ "{{" }}project{{ "}}" }}/zones/{{ "{{" }}zone{{ "}}" }}/disks/{{ "{{" }}name{{ "}}" }}?paths=accessMode")
	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config: config, Method: "PATCH", Project: billingProject, RawURL: url, UserAgent: userAgent, Body: obj, Timeout: d.Timeout(schema.TimeoutUpdate),
	})
	if err != nil { return fmt.Errorf("Error updating Disk %q access mode: %s", d.Id(), err) }
	err = ComputeOperationWaitTime(config, res, project, "Updating Disk Access Mode", userAgent, d.Timeout(schema.TimeoutUpdate))
	if err != nil { return err }
}

d.Partial(false)
return resourceComputeDiskRead(d, meta)