	cryptoKeyId, err := ParseKmsCryptoKeyId(d.Id(), config)
	if err != nil {
		return err
	}

	policy := d.Get("deletion_policy").(string)

	if policy == "SCHEDULE_DESTROY" || policy == "" {
		if err := clearCryptoKeyVersions(cryptoKeyId, userAgent, config); err != nil {
			return err
		}
		if d.Get("rotation_period").(string) != "" {
			if err := disableCryptoKeyRotation(cryptoKeyId, userAgent, config); err != nil {
				return err
			}
		}
		d.SetId("")
		return nil
	} else if policy == "DELETE" {
		if err := checkCryptoKeyVersionsEmpty(cryptoKeyId, userAgent, config); err != nil {
			return err
		}

		// Call the final DELETE method for the CryptoKey
		if err := deleteCryptoKey(cryptoKeyId, d, userAgent, config); err != nil {
			return err
		}

		d.SetId("")
		return nil
	} else {
		return fmt.Errorf("Unsupported deletion_policy: %s", policy)
	}
