data "google_project" "project" {}

resource "google_project_service_identity" "devconnect_p4sa" {
  service = "developerconnect.googleapis.com"
}

resource "google_project_iam_member" "devconnect_sa_role" {
  project = data.google_project.project.project_id
  role    = "roles/developerconnect.serviceAgent"
  member  = google_project_service_identity.devconnect_p4sa.member
}

resource "google_project_iam_member" "devconnect_ssm_linker" {
  project = data.google_project.project.project_id
  role    = "roles/securesourcemanager.developerConnectLinker"
  member  = google_project_service_identity.devconnect_p4sa.member
}

resource "google_secure_source_manager_instance" "instance" {
    location = "us-east1"
    instance_id = "{{index $.ResourceIdVars "instance_id"}}"

    # Prevent accidental deletions.
    deletion_policy = "DELETE"
}

resource "google_developer_connect_connection" "{{$.PrimaryResourceId}}" {
    location = "us-east1"
    connection_id = "{{index $.ResourceIdVars "connection_name"}}"

    secure_source_manager_instance_config {
        instance = google_secure_source_manager_instance.instance.name
    }

    depends_on = [
        google_project_iam_member.devconnect_sa_role,
        google_project_iam_member.devconnect_ssm_linker
    ]
}
