{{/* The license inside this block applies to this file
  Copyright 2025 Google LLC. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. */ -}}
{{$.CodeHeader TemplatePath}}

package {{ lower $.ProductMetadata.Name }}

import (
{{/* We list all the v2 imports here and unstable imports, because we run 'goimports' to guess the correct
     set of imports, which will never guess the major version correctly. */ -}}
  "github.com/apparentlymart/go-cidr/cidr"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/acctest"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/customdiff"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/validation"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/id"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/retry"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/structure"
  "github.com/hashicorp/terraform-plugin-sdk/v2/terraform"
  "github.com/hashicorp/terraform-plugin-sdk/v2/diag"
  "github.com/hashicorp/terraform-plugin-sdk/v2/helper/logging"
  "google.golang.org/api/bigtableadmin/v2"
  "google.golang.org/api/googleapi"

  "github.com/GoogleCloudPlatform/terraform-google-conversion/v6/pkg/caiasset"
  "github.com/GoogleCloudPlatform/terraform-google-conversion/v6/pkg/tfplan2cai/converters/cai"
  "github.com/GoogleCloudPlatform/terraform-google-conversion/v6/pkg/tgcresource"
  "github.com/GoogleCloudPlatform/terraform-google-conversion/v6/pkg/tpgresource"
  "github.com/GoogleCloudPlatform/terraform-google-conversion/v6/pkg/caiasset"
  transport_tpg "github.com/GoogleCloudPlatform/terraform-google-conversion/v6/pkg/transport"
  "github.com/GoogleCloudPlatform/terraform-google-conversion/v6/pkg/verify"
)

{{- $caiProductBaseUrl := $.CaiProductBaseUrl }}
{{- $productBackendName := $.CaiProductBackendName $caiProductBaseUrl }}
{{- $apiVersion := $.CaiApiVersion $productBackendName $caiProductBaseUrl}}

func {{ $.ResourceName -}}Tfplan2caiConverter() cai.Tfplan2caiConverter {
    return cai.Tfplan2caiConverter{
        Convert: Get{{ $.ResourceName -}}CaiAssets,
    }
}

func Get{{ $.ResourceName -}}CaiAssets(d tpgresource.TerraformResourceData, config *transport_tpg.Config) ([]caiasset.Asset, error) {
    name, err := cai.AssetName(d, config, "{{ $.CaiAssetNameTemplate $productBackendName }}")
    if err != nil {
        return []caiasset.Asset{}, err
    }
    if obj, err := Get{{ $.ResourceName -}}CaiObject(d, config); err == nil {
        location, _ := tpgresource.GetLocation(d, config)
        if location == "" {
            location = "global"
        }
        return []caiasset.Asset{
            {
                Name: name,
                Type: {{ $.CaiResourceType -}}AssetType,
                Resource: &caiasset.AssetResource{
                    Version: "{{ $apiVersion }}",
                    DiscoveryDocumentURI: "https://www.googleapis.com/discovery/v1/apis/{{ $productBackendName }}/{{ $apiVersion }}/rest",
                    DiscoveryName: "{{ or $.ApiResourceTypeKind $.Name }}",
                    Data: obj,
                    Location:             location,
                },
            },
        }, nil
    } else {
        return []caiasset.Asset{}, err
    }
}

func Get{{ $.ResourceName -}}CaiObject(d tpgresource.TerraformResourceData, config *transport_tpg.Config) (map[string]interface{}, error) {
    obj := make(map[string]interface{})
{{- range $prop := $.SettableProperties }}
{{- if $prop.FlattenObject }}
    {{ $prop.CamelizeProperty -}}Prop, err := expand{{ $.ResourceName -}}{{$prop.TitlelizeProperty}}(nil, d, config)
{{- else }}
    {{ $prop.CamelizeProperty -}}Prop, err := expand{{ $.ResourceName -}}{{$prop.TitlelizeProperty}}(d.Get("{{underscore $prop.Name}}"), d, config)
{{- end}}
    if err != nil {
        return nil, err
{{- if and (not $prop.SendEmptyValue) (not $prop.TGCSendEmptyValue) }}
    } else if v, ok := d.GetOkExists("{{underscore $prop.Name}}"); !tpgresource.IsEmptyValue(reflect.ValueOf({{ $prop.CamelizeProperty -}}Prop)) && (ok || !reflect.DeepEqual(v, {{ $prop.CamelizeProperty -}}Prop)) {
{{- else }}
    } else if v, ok := d.GetOkExists("{{underscore $prop.Name}}"); ok || !reflect.DeepEqual(v, {{ $prop.CamelizeProperty -}}Prop) {
{{- end }}
        obj["{{ $prop.ApiName -}}"] = {{ $prop.CamelizeProperty -}}Prop
    }
{{- end}}

{{ if and $.CustomCode.Encoder (not $.TGCIgnoreTerraformEncoder) -}}
    obj, err = resource{{ $.ResourceName -}}Encoder(d, config, obj)
    if err != nil {
        return nil, err
    }
{{- end }}

{{- if $.CustomCode.TgcEncoder }}
    return resource{{ $.ResourceName -}}TgcEncoder(d, config, obj)
{{- else }}
    return obj, nil
{{- end}}
}

{{if and $.CustomCode.Encoder (not $.TGCIgnoreTerraformEncoder) -}}
func resource{{ $.ResourceName -}}Encoder(d tpgresource.TerraformResourceData, meta interface{}, obj map[string]interface{}) (map[string]interface{}, error) {
{{ $.CustomTemplate $.CustomCode.Encoder false -}}
}
{{- end}}

{{if $.CustomCode.TgcEncoder -}}
func resource{{ $.ResourceName -}}TgcEncoder(d tpgresource.TerraformResourceData, meta interface{}, obj map[string]interface{}) (map[string]interface{}, error) {
{{ $.CustomTemplate $.CustomCode.TgcEncoder false -}}
}
{{- end}}

{{ range $prop := $.SettableProperties }}
    {{- template "expandTgcPropertyMethod" $prop -}}
{{- end}}