resource "google_data_fusion_instance" "{{$.PrimaryResourceId}}" {
  name = "{{index $.ResourceIdVars "instance_name"}}"
  region = "us-central1"
  type = "ENTERPRISE"
  enable_rbac = true
  {{index $.ResourceIdVars "prober_test_run"}}
}