resource "google_data_fusion_instance" "{{$.PrimaryResourceId}}" {
  name   = "{{index $.PrefixedVars "instance_name"}}"
  region = "us-central1"
  type   = "BASIC"
  {{index $.PrefixedVars "prober_test_run"}}
}
