extends: default

rules:
  line-length: disable
  # Comments indentation will look weird
  # because we want indentation to look
  # proper in unindentented versions
  comments: disable
  indentation:
    # Autogen YAML files have different indentation for arrays
    indent-sequences: consistent