resource "google_compute_service_attachment" "primary" {
  connection_preference = "ACCEPT_AUTOMATIC"
  name                  = "{{attachment}}"
  nat_subnets           = [google_compute_subnetwork.first_private_service_connect.self_link]
  target_service        = google_compute_forwarding_rule.first_internal.self_link

  consumer_reject_lists = []
  description           = "A sample service attachment"
  enable_proxy_protocol = false
  project               = "{{project}}"
  region                = "{{region}}"
}

resource "google_compute_forwarding_rule" "first_internal" {
  name                  = "{{rule1}}"
  all_ports             = true
  backend_service       = google_compute_region_backend_service.internal.self_link
  description           = "A test forwarding rule with internal load balancing scheme"
  load_balancing_scheme = "INTERNAL"
  network               = google_compute_network.basic.self_link
  network_tier          = "PREMIUM"
  project               = "{{project}}"
  region                = "{{region}}"
  subnetwork            = google_compute_subnetwork.private.self_link
}

resource "google_compute_region_backend_service" "internal" {
  name                  = "{{service}}"
  load_balancing_scheme = "INTERNAL"
  region                = "{{region}}"
  network               = google_compute_network.basic.self_link
  project               = "{{project}}"
}

resource "google_compute_subnetwork" "first_private_service_connect" {
  ip_cidr_range = "10.2.0.0/16"
  name          = "{{compute-psc-subnetwork1}}"
  network       = google_compute_network.basic.self_link
  project       = "{{project}}"
  purpose       = "PRIVATE_SERVICE_CONNECT"
  region        = "{{region}}"
}

resource "google_compute_subnetwork" "second_private_service_connect" {
  ip_cidr_range = "10.3.0.0/16"
  name          = "{{compute-psc-subnetwork2}}"
  network       = google_compute_network.basic.self_link
  project       = "{{project}}"
  purpose       = "PRIVATE_SERVICE_CONNECT"
  region        = "{{region}}"
}

resource "google_compute_subnetwork" "private" {
  ip_cidr_range = "10.4.0.0/16"
  name          = "{{compute-private-subnetwork}}"
  network       = google_compute_network.basic.self_link
  project       = "{{project}}"
  purpose       = "PRIVATE"
  region        = "{{region}}"
}

resource "google_compute_network" "basic" {
  name                    = "{{compute-network}}"
  auto_create_subnetworks = false
  project                 = "{{project}}"
}

resource "google_project" "first" {
  project_id = "{{id1}}"
  name       = "{{id1}}"
  org_id     = "{{org_id}}"
}

resource "google_project" "second" {
  project_id = "{{id2}}"
  name       = "{{id2}}"
  org_id     = "{{org_id}}"
}
