func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
    if v == nil {
    	return ""
    }

    // v should be a map[string]interface{} coming back from the API for google.protobuf.Struct.
    b, err := json.Marshal(v)
    if err != nil {
    	// Flatten signature can't return an error; best effort fallback.
	return ""
    }

    return string(b)
}
