func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
  if d.Get("disk_encryption_key.0.raw_key_wo").(string) == "" {
    return nil
  }
  return v
}