func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
	if v == nil {
		return ""
	}
	return strings.ToUpper(strconv.FormatBool(v.(bool)))
}
