func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
  transformed := make(map[string]interface{})

  if v == nil {
    return nil
  } else {
    original := v.(map[string]interface{})

    if original["allowTenants"] == nil {
      transformed["allow_tenants"] = false
    } else {
      transformed["allow_tenants"] = original["allowTenants"]
    }

    if original["defaultTenantLocation"] != nil {
      transformed["default_tenant_location"] = original["defaultTenantLocation"]
    }
  }

  return []interface{}{transformed}
}