func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
	if v == nil {
		return v
	}
	// Normalize the URL to the prefixed format: networkconnectivity.googleapis.com/projects/...
	path, err := tpgresource.GetRelativePath(v.(string))
	if err != nil {
		return v
	}
	return "networkconnectivity.googleapis.com/" + path
}
