func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {
	if v == nil {
		return ""
	}

	dec, err := base64.URLEncoding.DecodeString(v.(string))
	if err != nil {
		return ""
	}

	return string(dec)
}
