// Function closure to DRY unpacking LRO errors
unpackLroError := func(res map[string]interface{}, project string, userAgent string) error {
	opName, ok := res["name"].(string)
	if !ok || opName == "" {
		return nil
	}
	opBaseUrl, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}DatabaseMigrationServiceBasePath{{"}}"}}")
	if err != nil {
		return err
	}
	opUrl := fmt.Sprintf("%sprojects/%s/locations/%s/operations/%s", opBaseUrl, project, d.Get("location").(string), tpgresource.GetResourceNameFromSelfLink(opName))
	opRes, fetchErr := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config:    config,
		Method:    "GET",
		RawURL:    opUrl,
		UserAgent: userAgent,
		Timeout:   d.Timeout(schema.TimeoutUpdate),
	})
	if fetchErr != nil {
		return nil
	}
	
	errObj, ok := opRes["error"].(map[string]interface{})
	if !ok {
		return nil
	}
	
	var errMsgs []string
	var stopOnWarnings = d.Get("stop_on_warnings").(bool)
	var hasErrors bool
	var hasWarnings bool
	
	errDetails, _ := errObj["details"].([]interface{})
	
	for _, detail := range errDetails {
		if dMap, ok := detail.(map[string]interface{}); ok {
			datatype, _ := dMap["@type"].(string)
			if datatype == "type.googleapis.com/google.rpc.ErrorInfo" {
				var sev, objId, errMsg string
				
				if metadata, ok := dMap["metadata"].(map[string]interface{}); ok {
					if v, ok := metadata["severity"].(string); ok { sev = v }
					if v, ok := metadata["objectId"].(string); ok { objId = v }
					if v, ok := metadata["errorMessage"].(string); ok { errMsg = v }
				}
				
				if errMsg == "" {
					if r, ok := dMap["reason"].(string); ok {
						errMsg = r
					}
				}
				
				var formattedMsg string
				if objId != "" {
					formattedMsg = fmt.Sprintf("[%s] %s: %s", strings.ToUpper(sev), objId, errMsg)
				} else if sev != "" {
					formattedMsg = fmt.Sprintf("[%s] %s", strings.ToUpper(sev), errMsg)
				} else {
					formattedMsg = errMsg
				}
				errMsgs = append(errMsgs, formattedMsg)
				
				if strings.ToUpper(sev) == "ERROR" {
					hasErrors = true
				}
				if strings.ToUpper(sev) == "WARNING" {
					hasWarnings = true
				}
			}
		}
	}
	
	var topMsg, _ = errObj["message"].(string)
	var topCode, _ = errObj["code"].(float64)
	var msgParts []string
	if topMsg != "" {
		msgParts = append(msgParts, fmt.Sprintf("Error Code %.0f: %s", topCode, topMsg))
	} else {
		msgParts = append(msgParts, fmt.Sprintf("Error Code %.0f", topCode))
	}
	
	if hasErrors || (hasWarnings && stopOnWarnings) || len(errMsgs) > 0 {
		return fmt.Errorf("%s\n%s", strings.Join(msgParts, ""), strings.Join(errMsgs, "\n"))
	}
	return fmt.Errorf("%s", strings.Join(msgParts, ""))
}

project, err = tpgresource.GetProject(d, config)
if err != nil {
	return err
}
userAgent, err = tpgresource.GenerateUserAgentString(d, config.UserAgent)
if err != nil {
	return err
}

isTransitionToRunning := false
isTransitionToNotStarted := false
if d.HasChange("state") {
	oldRaw, newRaw := d.GetChange("state")
	if (oldRaw.(string) == "NOT_STARTED" || oldRaw.(string) == "") && newRaw.(string) == "RUNNING" {
		isTransitionToRunning = true
	}
	if oldRaw.(string) == "RUNNING" && newRaw.(string) == "NOT_STARTED" {
		isTransitionToNotStarted = true
	}
}

if isTransitionToNotStarted {
	return fmt.Errorf("Transition from RUNNING to NOT_STARTED is not supported. Please destroy and recreate the Migration Job if you need to reset it.")
}

isObjectsConfigUpdate := d.HasChange("objects_config")

if isTransitionToRunning || isObjectsConfigUpdate {
	log.Printf("[DEBUG] Running Verify on Migration Job %q due to state transition or objects_config update", d.Id())
	url, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}DatabaseMigrationServiceBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/migrationJobs/{{"{{"}}migration_job_id{{"}}"}}:verify")
	if err != nil {
		return err
	}
	res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
		Config:    config,
		Method:    "POST",
		RawURL:    url,
		UserAgent: userAgent,
		Timeout:   d.Timeout(schema.TimeoutUpdate),
	})
	if err != nil {
		return fmt.Errorf("Error verifying Migration Job %q: %s", d.Id(), err)
	}
	err = DatabaseMigrationServiceOperationWaitTime(
		config, res, project, "Verifying Migration Job", userAgent, d.Timeout(schema.TimeoutUpdate))
	if err != nil {
		if uerr := unpackLroError(res, project, userAgent); uerr != nil {
			return uerr
		}
		return fmt.Errorf("Error waiting for Verify Migration Job operation: %s", err)
	}

	if isTransitionToRunning {
		log.Printf("[DEBUG] Transitioning Migration Job %q to RUNNING", d.Id())
		url, err := tpgresource.ReplaceVars(d, config, "{{"{{"}}DatabaseMigrationServiceBasePath{{"}}"}}projects/{{"{{"}}project{{"}}"}}/locations/{{"{{"}}location{{"}}"}}/migrationJobs/{{"{{"}}migration_job_id{{"}}"}}:start")
		if err != nil {
			return err
		}

		res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
			Config:    config,
			Method:    "POST",
			RawURL:    url,
			UserAgent: userAgent,
			Timeout:   d.Timeout(schema.TimeoutUpdate),
		})

		err = DatabaseMigrationServiceOperationWaitTime(
			config, res, project, "Starting Migration Job Update", userAgent, d.Timeout(schema.TimeoutUpdate))

		if err != nil {
			if uerr := unpackLroError(res, project, userAgent); uerr != nil {
				return uerr
			}
			return fmt.Errorf("Error waiting for Start Migration Job update operation: %s", err)
		}
	}
}
