resource "google_gke_hub_feature" "feature" {
  name = "fleetobservability"
  location = "global"
  spec {
    fleetobservability {
      logging_config {
        fleet_scope_logs_config {
          mode = "MOVE"
        }
      }
    }
  }
}
