resource "google_redis_cluster" "default" {
  provider                    = google-beta
  name                        = "tf-test-redis-cluster-{{index $.ResourceIdVars "cluster_name"}}"
  shard_count                 = 3
  region                      = "us-central1"
  deletion_protection_enabled = false
  psc_configs {
    network = google_compute_network.default.id
  }
}

resource "google_compute_network" "default" {
  provider = google-beta
  name     = "tf-test-redis-net-{{index $.ResourceIdVars "network_name"}}"
}

resource "google_redis_cluster_token_auth_user" "default" {
  provider = google-beta
  cluster  = google_redis_cluster.default.name
  user_id  = "test-user"
}

resource "google_redis_cluster_auth_token" "{{$.PrimaryResourceId}}" {
  provider        = google-beta
  token_auth_user = google_redis_cluster_token_auth_user.default.id
  token_id        = "test-token"
}
