# Copyright 2023 Google Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

--- !ruby/object:Api::Resource
name: 'Environment'
base_url: 'environments'
create_url: '{{org_id}}/environments'
self_link: '{{org_id}}/environments/{{name}}'
update_url: '{{org_id}}/environments/{{name}}'
update_verb: :PATCH
update_mask: true
async: !ruby/object:Api::OpAsync
  operation: !ruby/object:Api::OpAsync::Operation
    path: 'name'
    base_url: '{{op_id}}'
    wait_ms: 1000
  result: !ruby/object:Api::OpAsync::Result
    path: 'response'
    resource_inside_response: true
  status: !ruby/object:Api::OpAsync::Status
    path: 'done'
    complete: true
    allowed:
      - true
      - false
  error: !ruby/object:Api::OpAsync::Error
    path: 'error'
    message: 'message'
description: |
  An `Environment` in Apigee.
iam_policy: !ruby/object:Api::Resource::IamPolicy
  method_name_separator: ':'
  parent_resource_attribute: 'env_id'
  import_format: ['{{%org_id}}/environments/{{name}}', '{{name}}']
  base_url: '{{org_id}}/environments/{{name}}'
  self_link: '{{org_id}}/environments/{{name}}'
references: !ruby/object:Api::Resource::ReferenceLinks
  guides:
    'Creating an environment': 'https://cloud.google.com/apigee/docs/api-platform/get-started/create-environment'
  api: 'https://cloud.google.com/apigee/docs/reference/apis/apigee/rest/v1/organizations.environments/create'

autogen_async: true
import_format: ['{{org_id}}/environments/{{name}}', '{{org_id}}/{{name}}']
examples:
  - !ruby/object:Provider::Terraform::Examples
    name: 'apigee_environment_basic'
    vars:
      environment_name: 'my-environment'
    skip_test:
      true
      # This is a more verbose version of the above that creates all
      # the resources needed for the acceptance test.
  - !ruby/object:Provider::Terraform::Examples
    name: 'apigee_environment_basic_test'
    primary_resource_id: 'apigee_environment'
    primary_resource_name: "fmt.Sprintf(\"organizations/tf-test%s\",
      context[\"random_suffix\"\
      ]), fmt.Sprintf(\"tf-test%s\", context[\"random_suffix\"])"
    test_env_vars:
      org_id: :ORG_ID
      billing_account: :BILLING_ACCT
    skip_docs:
      true
      # Resource creation race
    skip_vcr: true
  - !ruby/object:Provider::Terraform::Examples
    name: 'apigee_environment_basic_deployment_apiproxy_type_test'
    primary_resource_id: 'apigee_environment'
    primary_resource_name: "fmt.Sprintf(\"organizations/tf-test%s\",
      context[\"random_suffix\"\
      ]), fmt.Sprintf(\"tf-test%s\", context[\"random_suffix\"])"
    test_env_vars:
      org_id: :ORG_ID
      billing_account: :BILLING_ACCT
    skip_docs:
      true
      # Resource creation race
    skip_vcr: true
  - !ruby/object:Provider::Terraform::Examples
    name: 'apigee_environment_nodeconfig_test'
    primary_resource_id: 'apigee_environment'
    primary_resource_name: "fmt.Sprintf(\"organizations/tf-test%s\",
      context[\"random_suffix\"\
      ]), fmt.Sprintf(\"tf-test%s\", context[\"random_suffix\"])"
    test_env_vars:
      org_id: :ORG_ID
      billing_account: :BILLING_ACCT
    skip_docs: true
    min_version:
      beta
      # Resource creation race
    skip_vcr: true
timeouts: !ruby/object:Api::Timeouts
  insert_minutes: 30
  delete_minutes: 30
custom_code: !ruby/object:Provider::Terraform::CustomCode
  custom_import: templates/terraform/custom_import/apigee_environment.go.erb
parameters:
  - !ruby/object:Api::Type::String
    name: 'orgId'
    description: |
      The Apigee Organization associated with the Apigee environment,
      in the format `organizations/{{org_name}}`.
    required: true
    immutable: true
    url_param_only: true
properties:
  - !ruby/object:Api::Type::String
    name: 'name'
    description: |
      The resource ID of the environment.
    required: true
    immutable: true
  - !ruby/object:Api::Type::String
    name: 'displayName'
    description: |
      Display name of the environment.
    required: false
    immutable: true
  - !ruby/object:Api::Type::String
    name: 'description'
    description: |
      Description of the environment.
    required: false
    immutable: true
  - !ruby/object:Api::Type::Enum
    name: 'deploymentType'
    description: |
      Optional. Deployment type supported by the environment. The deployment type can be
      set when creating the environment and cannot be changed. When you enable archive
      deployment, you will be prevented from performing a subset of actions within the
      environment, including:
      Managing the deployment of API proxy or shared flow revisions;
      Creating, updating, or deleting resource files;
      Creating, updating, or deleting target servers.
    values:
      - 'DEPLOYMENT_TYPE_UNSPECIFIED'
      - 'PROXY'
      - 'ARCHIVE'
    immutable: true
    default_from_api: true
  - !ruby/object:Api::Type::Enum
    name: 'apiProxyType'
    description: |
      Optional. API Proxy type supported by the environment. The type can be set when creating
      the Environment and cannot be changed.
    values:
      - 'API_PROXY_TYPE_UNSPECIFIED'
      - 'PROGRAMMABLE'
      - 'CONFIGURABLE'
    immutable: true
    default_from_api: true
  - !ruby/object:Api::Type::NestedObject
    name: 'nodeConfig'
    description: |
      NodeConfig for setting the min/max number of nodes associated with the environment.
    default_from_api: true
    properties:
      - !ruby/object:Api::Type::String
        name: 'minNodeCount'
        description: |
          The minimum total number of gateway nodes that the is reserved for all instances that
          has the specified environment. If not specified, the default is determined by the
          recommended minimum number of nodes for that gateway.
      - !ruby/object:Api::Type::String
        name: 'maxNodeCount'
        description: |
          The maximum total number of gateway nodes that the is reserved for all instances that
          has the specified environment. If not specified, the default is determined by the
          recommended maximum number of nodes for that gateway.
      - !ruby/object:Api::Type::String
        name: 'currentAggregateNodeCount'
        description: |
          The current total number of gateway nodes that each environment currently has across
          all instances.
        output: true
