// Create operations will return the retrohunt name as `metadata.retrohunt`
log.Printf("res: %v", res)
if metadata, ok := res["metadata"]; ok {
	log.Printf("metadata: %v", metadata)
	if retrohunt, ok := metadata.(map[string]interface{})["retrohunt"]; ok {
		log.Printf("retrohunt: %v", retrohunt)
		return map[string]interface{}{
			"name": retrohunt,
		}, nil
	}
}
return res, nil