rules, predefinedRules, err := firewallPolicyWithRulesSplitPredefinedRules(res["rules"].([]interface{}))

if err != nil {
  return nil, fmt.Errorf("Error occurred while splitting pre-defined rules: %s", err)
}

res["rules"] = rules
res["predefinedRules"] = predefinedRules

config := meta.(*transport_tpg.Config)

if err := d.Set("predefined_rules", flattenComputeFirewallPolicyWithRulesPredefinedRules(predefinedRules, d, config)); err != nil {
  return nil, fmt.Errorf("Error occurred while setting pre-defined rules: %s", err)
}

return res, nil
