// Handle the name field not being set in the API response after Create (is set after Read)
if _, ok := res["name"]; !ok {
	if v, ok := res["model"]; ok {
		res["name"] = v.(string)
	}
}

res["modelName"] = res["displayName"]

return res, nil