name: reassign-reviewer

permissions: read-all

on:
  pull_request:
    types:
      - labeled

jobs:
  from-label:
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.2
        with:
          ref: main
      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: '^1.21'
      - name: Build magician
        if: ${{ github.event_name == 'pull_request' && github.event.label.name == 'assign-reviewer' }}
        run: |
          cd .ci/magician
          go build .
      - name: Run command
        if: ${{ github.event_name == 'pull_request' && github.event.label.name == 'assign-reviewer' }}
        run: .ci/magician/magician reassign-reviewer ${{ github.event.pull_request.number }} ${{ github.event.sender.login }}