config := meta.(*transport_tpg.Config)

nameProp, err := expandPubsubTopicName(d.Get("name"), d, config)
if err != nil {
    return nil, err
} else if v, ok := d.GetOkExists("name"); !tpgresource.IsEmptyValue(reflect.ValueOf(nameProp)) && (ok || !reflect.DeepEqual(v, nameProp)) {
    obj["name"] = nameProp
}

return obj, nil